swagger: '2.0'
info:
  title: Widgets
  version: '3.0'
  description: >-
    Widgets API allows developers to programatically inject content into a
    BigCommerce theme. To learn how to use Widgets, see our [Widgets
    Overview](/api-docs/storefront/widgets/widgets-overview).
  termsOfService: ''
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
tags:
  - name: Regions
  - name: Widget Template
    description: BigCommerce Widget Templates API Definition.
  - name: Widget
    description: BigCommerce Widgets API Definition.
  - name: Placement
    description: BigCommerce Placements API Definition.
  - name: Layout
    description: BigCommerce Layouts API Definition.
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /content/widget-templates:
    post:
      tags:
        - Widget Template
      summary: Create a Widget Template
      operationId: createWidgetTemplate
      parameters:
        - name: templateBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/widgetTemplate_Post'
          x-examples:
            application/json: |-
              {
                "name": "Header Images",
                "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                "schema": [
                {
                  "type": "tab",
                  "label": "Content",
                  "sections": [
                    {
                      "label": "Product cards",
                      "settings": [
                        {
                          "type": "boolean",
                          "label": "Show product name",
                          "id": "showProductName",
                          "default": true
                        },
                        {
                          "type": "boolean",
                          "label": "Show product description",
                          "id": "showProductDescription",
                          "default": true
                        },
                        {
                          "type": "boolean",
                          "label": "Show product ratings",
                          "id": "showProductRatings",
                          "default": true
                        },
                        {
                          "type": "boolean",
                          "label": "Show product price",
                          "id": "showProductPrice",
                          "default": true
                        },
                        {
                          "type": "boolean",
                          "label": "Show button",
                          "id": "showButton",
                          "default": true
                        },
                        {
                          "type": "select",
                          "label": "Number of products per row",
                          "id": "productsPerRow",
                          "default": "3",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "2",
                                "value": "2"
                              },
                              {
                                "label": "3",
                                "value": "3"
                              },
                              {
                                "label": "4",
                                "value": "4"
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "label": "Button",
                      "settings": [
                        {
                          "type": "input",
                          "label": "Button label",
                          "id": "buttonLabel",
                          "default": "Add to Cart"
                        },
                        {
                          "type": "select",
                          "label": "Button action",
                          "id": "buttonActionType",
                          "default": "addToCart",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Add to Cart",
                                "value": "addToCart"
                              },
                              {
                                "label": "Add to Wishlist",
                                "value": "addToWishlist"
                              },
                              {
                                "label": "Go to Product Page",
                                "value": "goToProduct"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "type": "tab",
                  "label": "Design",
                  "sections": [
                    {
                      "label": "Product cards",
                      "settings": [
                        {
                          "type": "color",
                          "label": "Background color",
                          "id": "productCardBackgroundColor",
                          "default": "rgba(255,255,255,1)"
                        },
                        {
                          "type": "color",
                          "label": "Border color",
                          "id": "productCardBorderColor",
                          "default": "#D9DCE9"
                        },
                        {
                          "type": "boxModel",
                          "label": "Margin",
                          "id": "productCardMargin",
                          "default": {
                            "top": {
                              "value": "0",
                              "type": "px"
                            },
                            "right": {
                              "value": "10.5",
                              "type": "px"
                            },
                            "bottom": {
                              "value": "0",
                              "type": "px"
                            },
                            "left": {
                              "value": "10.5",
                              "type": "px"
                            }
                          }
                        },
                        {
                          "type": "boxModel",
                          "label": "Padding",
                          "id": "productCardPadding",
                          "default": {
                            "top": {
                              "value": "0",
                              "type": "px"
                            },
                            "right": {
                              "value": "0",
                              "type": "px"
                            },
                            "bottom": {
                              "value": "16",
                              "type": "px"
                            },
                            "left": {
                              "value": "0",
                              "type": "px"
                            }
                          }
                        },
                        {
                          "type": "alignment",
                          "label": "Content alignment",
                          "id": "productCardContentAlignment",
                          "default": {
                            "horizontal": "center"
                          },
                          "typeMeta": {
                            "display": "horizontal"
                          }
                        }
                      ]
                    },
                    {
                      "label": "Product image",
                      "settings": [
                        {
                          "type": "input",
                          "label": "Image height (px)",
                          "id": "productImageHeight",
                          "default": "252"
                        }
                      ]
                    },
                    {
                      "label": "Product name",
                      "settings": [
                        {
                          "type": "select",
                          "label": "Font family",
                          "id": "productNameFontFamily",
                          "default": "inherit",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Default",
                                "value": "inherit"
                              },
                              {
                                "label": "Arial",
                                "value": "Arial"
                              },
                              {
                                "label": "Times New Roman",
                                "value": "Times New Roman"
                              },
                              {
                                "label": "Karla",
                                "value": "Karla"
                              },
                              {
                                "label": "Roboto",
                                "value": "Roboto"
                              },
                              {
                                "label": "Source Sans Pro",
                                "value": "Source Sans Pro"
                              },
                              {
                                "label": "Montserrat",
                                "value": "Montserrat"
                              },
                              {
                                "label": "Open Sans",
                                "value": "Open Sans"
                              },
                              {
                                "label": "Volkhov",
                                "value": "Volkhov"
                              }
                            ]
                          }
                        },
                        {
                          "type": "select",
                          "label": "Font weight",
                          "id": "productNameFontWeight",
                          "default": "400",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Thin",
                                "value": "100"
                              },
                              {
                                "label": "Extra Light (Ultra Light)",
                                "value": "200"
                              },
                              {
                                "label": "Light",
                                "value": "300"
                              },
                              {
                                "label": "Normal",
                                "value": "400"
                              },
                              {
                                "label": "Medium",
                                "value": "500"
                              },
                              {
                                "label": "Semi Bold (Demi Bold)",
                                "value": "600"
                              },
                              {
                                "label": "Bold",
                                "value": "700"
                              },
                              {
                                "label": "Extra Bold (Ultra Bold)",
                                "value": "800"
                              },
                              {
                                "label": "Black (Heavy)",
                                "value": "900"
                              }
                            ]
                          }
                        },
                        {
                          "type": "input",
                          "label": "Font size (px)",
                          "id": "productNameFontSize",
                          "default": "22"
                        },
                        {
                          "type": "input",
                          "label": "Line height (px)",
                          "id": "productNameLineHeight",
                          "default": "33"
                        },
                        {
                          "type" : "toggle",
                          "id": "productNamePseudo",
                          "default": "normal",
                          "typeMeta": {
                            "selectOptions": [
                              {
                                "label": "Normal",
                                "value": "normal"
                              },
                              {
                                "label": "Hover",
                                "value": "hover"
                              }
                            ],
                            "conditionalSettings": [
                              {
                                "condition": "normal",
                                "settings": [
                                  {
                                    "type": "color",
                                    "label": "Text color",
                                    "id": "productNameTextColor",
                                    "default": "#000000"
                                  },
                                  {
                                    "type": "select",
                                    "label": "Text decoration",
                                    "id": "productNameTextDecoration",
                                    "default": "none",
                                    "typeMeta": {
                                      "selectOptions" : [
                                        {
                                          "label": "None",
                                          "value": "none"
                                        },
                                        {
                                          "label": "Underline",
                                          "value": "underline"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              {
                                "condition": "hover",
                                "settings": [
                                  {
                                    "type": "color",
                                    "label": "Text color",
                                    "id": "productNameTextColorHover",
                                    "default": "#000000"
                                  },
                                  {
                                    "type": "select",
                                    "label": "Text decoration",
                                    "id": "productNameTextDecorationHover",
                                    "default": "none",
                                    "typeMeta": {
                                      "selectOptions" : [
                                        {
                                          "label": "None",
                                          "value": "none"
                                        },
                                        {
                                          "label": "Underline",
                                          "value": "underline"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                    {
                      "label": "Product description",
                      "settings": [
                        {
                          "type": "select",
                          "label": "Font family",
                          "id": "productDescriptionFontFamily",
                          "default": "inherit",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Default",
                                "value": "inherit"
                              },
                              {
                                "label": "Arial",
                                "value": "Arial"
                              },
                              {
                                "label": "Times New Roman",
                                "value": "Times New Roman"
                              },
                              {
                                "label": "Karla",
                                "value": "Karla"
                              },
                              {
                                "label": "Roboto",
                                "value": "Roboto"
                              },
                              {
                                "label": "Source Sans Pro",
                                "value": "Source Sans Pro"
                              },
                              {
                                "label": "Montserrat",
                                "value": "Montserrat"
                              },
                              {
                                "label": "Open Sans",
                                "value": "Open Sans"
                              },
                              {
                                "label": "Volkhov",
                                "value": "Volkhov"
                              }
                            ]
                          }
                        },
                        {
                          "type": "select",
                          "label": "Font weight",
                          "id": "productDescriptionFontWeight",
                          "default": "400",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Thin",
                                "value": "100"
                              },
                              {
                                "label": "Extra Light (Ultra Light)",
                                "value": "200"
                              },
                              {
                                "label": "Light",
                                "value": "300"
                              },
                              {
                                "label": "Normal",
                                "value": "400"
                              },
                              {
                                "label": "Medium",
                                "value": "500"
                              },
                              {
                                "label": "Semi Bold (Demi Bold)",
                                "value": "600"
                              },
                              {
                                "label": "Bold",
                                "value": "700"
                              },
                              {
                                "label": "Extra Bold (Ultra Bold)",
                                "value": "800"
                              },
                              {
                                "label": "Black (Heavy)",
                                "value": "900"
                              }
                            ]
                          }
                        },
                        {
                          "type": "input",
                          "label": "Font size (px)",
                          "id": "productDescriptionFontSize",
                          "default": "14"
                        },
                        {
                          "type": "input",
                          "label": "Line height (px)",
                          "id": "productDescriptionLineHeight",
                          "default": "21"
                        },
                        {
                          "type": "color",
                          "label": "Text color",
                          "id": "productDescriptionTextColor",
                          "default": "#000000"
                        }
                      ]
                    },
                    {
                      "label": "Product ratings",
                      "settings": [
                        {
                          "type": "color",
                          "label": "Star ratings color (full)",
                          "id": "productRatingStarColorFull",
                          "default": "#80000B"
                        },
                        {
                          "type": "color",
                          "label": "Star ratings color (empty)",
                          "id": "productRatingStarColorEmpty",
                          "default": "#D9DCE9"
                        },
                        {
                          "type": "color",
                          "label": "Reviews text color",
                          "id": "productRatingsTextColor",
                          "default": "#8C93AD"
                        }
                      ]
                    },
                    {
                      "label": "Product price",
                      "settings": [
                        {
                          "type": "select",
                          "label": "Font family",
                          "id": "productPriceFontFamily",
                          "default": "inherit",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Default",
                                "value": "inherit"
                              },
                              {
                                "label": "Arial",
                                "value": "Arial"
                              },
                              {
                                "label": "Times New Roman",
                                "value": "Times New Roman"
                              },
                              {
                                "label": "Karla",
                                "value": "Karla"
                              },
                              {
                                "label": "Roboto",
                                "value": "Roboto"
                              },
                              {
                                "label": "Source Sans Pro",
                                "value": "Source Sans Pro"
                              },
                              {
                                "label": "Montserrat",
                                "value": "Montserrat"
                              },
                              {
                                "label": "Open Sans",
                                "value": "Open Sans"
                              },
                              {
                                "label": "Volkhov",
                                "value": "Volkhov"
                              }
                            ]
                          }
                        },
                        {
                          "type": "select",
                          "label": "Font weight",
                          "id": "productPriceFontWeight",
                          "default": "400",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Thin",
                                "value": "100"
                              },
                              {
                                "label": "Extra Light (Ultra Light)",
                                "value": "200"
                              },
                              {
                                "label": "Light",
                                "value": "300"
                              },
                              {
                                "label": "Normal",
                                "value": "400"
                              },
                              {
                                "label": "Medium",
                                "value": "500"
                              },
                              {
                                "label": "Semi Bold (Demi Bold)",
                                "value": "600"
                              },
                              {
                                "label": "Bold",
                                "value": "700"
                              },
                              {
                                "label": "Extra Bold (Ultra Bold)",
                                "value": "800"
                              },
                              {
                                "label": "Black (Heavy)",
                                "value": "900"
                              }
                            ]
                          }
                        },
                        {
                          "type": "input",
                          "label": "Font size (px)",
                          "id": "productPriceFontSize",
                          "default": "14"
                        },
                        {
                          "type": "input",
                          "label": "Line height (px)",
                          "id": "productPriceLineHeight",
                          "default": "21"
                        },
                        {
                          "type": "color",
                          "label": "Text color",
                          "id": "productPriceTextColor",
                          "default": "#000000"
                        }
                      ]
                    },
                    {
                      "label": "Button",
                      "settings": [
                        {
                          "type": "range",
                          "label": "Border radius",
                          "id": "buttonBorderRadius",
                          "default": 4,
                          "typeMeta": {
                            "rangeValues": {
                              "min": 0,
                              "max": 100,
                              "step": 1,
                              "unit": "px"
                            }
                          }
                        },
                        {
                          "type": "select",
                          "label": "Font family",
                          "id": "buttonFontFamily",
                          "default": "inherit",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Default",
                                "value": "inherit"
                              },
                              {
                                "label": "Arial",
                                "value": "Arial"
                              },
                              {
                                "label": "Times New Roman",
                                "value": "Times New Roman"
                              },
                              {
                                "label": "Karla",
                                "value": "Karla"
                              },
                              {
                                "label": "Roboto",
                                "value": "Roboto"
                              },
                              {
                                "label": "Source Sans Pro",
                                "value": "Source Sans Pro"
                              },
                              {
                                "label": "Montserrat",
                                "value": "Montserrat"
                              },
                              {
                                "label": "Open Sans",
                                "value": "Open Sans"
                              },
                              {
                                "label": "Volkhov",
                                "value": "Volkhov"
                              }
                            ]
                          }
                        },
                        {
                          "type": "select",
                          "label": "Font weight",
                          "id": "buttonFontWeight",
                          "default": "400",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Thin",
                                "value": "100"
                              },
                              {
                                "label": "Extra Light (Ultra Light)",
                                "value": "200"
                              },
                              {
                                "label": "Light",
                                "value": "300"
                              },
                              {
                                "label": "Normal",
                                "value": "400"
                              },
                              {
                                "label": "Medium",
                                "value": "500"
                              },
                              {
                                "label": "Semi Bold (Demi Bold)",
                                "value": "600"
                              },
                              {
                                "label": "Bold",
                                "value": "700"
                              },
                              {
                                "label": "Extra Bold (Ultra Bold)",
                                "value": "800"
                              },
                              {
                                "label": "Black (Heavy)",
                                "value": "900"
                              }
                            ]
                          }
                        },
                        {
                          "type": "input",
                          "label": "Font size (px)",
                          "id": "buttonFontSize",
                          "default": "14"
                        },
                        {
                          "type" : "toggle",
                          "id": "buttonPseudo",
                          "default": "normal",
                          "typeMeta": {
                            "selectOptions": [
                              {
                                "label": "Normal",
                                "value": "normal"
                              },
                              {
                                "label": "Hover",
                                "value": "hover"
                              }
                            ],
                            "conditionalSettings": [
                              {
                                "condition": "normal",
                                "settings": [
                                  {
                                    "type": "color",
                                    "label": "Text color",
                                    "id": "buttonTextColor",
                                    "default": "rgba(255,255,255,1)"
                                  },
                                  {
                                    "type": "select",
                                    "label": "Text decoration",
                                    "id": "buttonTextDecoration",
                                    "default": "none",
                                    "typeMeta": {
                                      "selectOptions" : [
                                        {
                                          "label": "None",
                                          "value": "none"
                                        },
                                        {
                                          "label": "Underline",
                                          "value": "underline"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "type": "color",
                                    "label": "Button color",
                                    "id": "buttonColor",
                                    "default": "rgba(68,68,68,1)"
                                  },
                                  {
                                    "type": "color",
                                    "label": "Border color",
                                    "id": "buttonBorderColor",
                                    "default": "rgba(102,102,102,1);"
                                  }
                                ]
                              },
                              {
                                "condition": "hover",
                                "settings": [
                                  {
                                    "type": "color",
                                    "label": "Text color",
                                    "id": "buttonTextColorHover",
                                    "default": "rgba(255,255,255,1)"
                                  },
                                  {
                                    "type": "select",
                                    "label": "Text decoration",
                                    "id": "buttonTextDecorationHover",
                                    "default": "none",
                                    "typeMeta": {
                                      "selectOptions" : [
                                        {
                                          "label": "None",
                                          "value": "none"
                                        },
                                        {
                                          "label": "Underline",
                                          "value": "underline"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "type": "color",
                                    "label": "Button color",
                                    "id": "buttonColorHover",
                                    "default": "rgba(102,102,102,1);"
                                  },
                                  {
                                    "type": "color",
                                    "label": "Border color",
                                    "id": "buttonBorderColorHover",
                                    "default": "rgba(102,102,102,1);"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "label": "Arrows",
                      "settings": [
                        {
                          "type": "color",
                          "label": "Arrow color",
                          "id": "carouselArrowColor",
                          "default": "#D9DCE9"
                        },
                        {
                          "type": "color",
                          "label": "Arrow background color",
                          "id": "carouselArrowBackgroundColor",
                          "default": "rgba(255,255,255,0.0)"
                        },
                        {
                          "type": "color",
                          "label": "Arrow border color",
                          "id": "carouselArrowBorderColor",
                          "default": "rgba(255,255,255,0.0)"
                        }
                      ]
                    },
                    {
                      "label": "Animation and effects",
                      "settings": [
                        {
                          "type": "boolean",
                          "label": "Touch support",
                          "id": "draggable",
                          "default": true
                        },
                        {
                          "type": "select",
                          "label": "Easing method",
                          "id": "easingMethod",
                          "default": "ease",
                          "typeMeta": {
                            "selectOptions" : [
                              {
                                "label": "Ease",
                                "value": "ease"
                              },
                              {
                                "label": "Linear",
                                "value": "linear"
                              },
                              {
                                "label": "Ease-in",
                                "value": "ease-in"
                              },
                              {
                                "label": "Ease-out",
                                "value": "ease-out"
                              },
                              {
                                "label": "Ease-in-out",
                                "value": "ease-in-out"
                              }
                            ]
                          }
                        },
                        {
                          "type": "input",
                          "label": "Animation duration (ms)",
                          "id": "animationDuration",
                          "default": "400"
                        }
                      ]
                    }
                  ]
                },
                {
                  "type": "array",
                  "label": "Product List",
                  "id": "products",
                  "defaultCount": 3,
                  "entryLabel": "Product",
                  "thumbnail": "productImage",
                  "schema": [
                    {
                      "type": "tab",
                      "label": "Product",
                      "sections": [
                        {
                          "label": "Display",
                          "settings": [
                            {
                              "type": "productId",
                              "label": "Product",
                              "id": "productId",
                              "typeMeta": {
                                "placeholder": "Search by name or SKU"
                              }
                            },
                            {
                              "type": "input",
                              "label": "Description",
                              "id": "productDescription",
                              "default": ""
                            },
                            {
                              "type": "productImage",
                              "label": "Product image",
                              "id": "productImage",
                              "typeMeta": {
                                "reference": "productId"
                              }
                            },
                            {
                              "type": "select",
                              "label": "Image fit",
                              "id": "productImageFit",
                              "default": "fit",
                              "typeMeta": {
                                "selectOptions" : [
                                  {
                                    "label": "Fill to box",
                                    "value": "fill"
                                  },
                                  {
                                    "label": "Fit to box",
                                    "value": "fit"
                                  }
                                ]
                              }
                            },
                            {
                              "type": "alignment",
                              "label": "Image alignment",
                              "id": "productImageAlignment",
                              "default": {
                                "horizontal": "center",
                                "vertical": "middle"
                              },
                              "typeMeta": {
                                "display": "both"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
              }
            Custom GraphQL Widget: |-
              {
                "name": "Product Widget",
                "storefront_api_query": "query Product($productId: Int = 1) { site { product(entityId: $productId) { name entityId prices { price { currencyCode value } } defaultImage { url(width: 500, height: 500) } } } } ",
                "schema": [
                  {
                    "type": "tab",
                    "label": "Content",
                    "sections": [
                      {
                        "label": "Product",
                        "settings": [
                          {
                            "type": "productId",
                            "label": "Product",
                            "id": "productId",
                            "default": "",
                            "typeMeta": {
                              "placeholder": "Search by name or SKU"
                            }
                          }
                        ]
                      }
                    ]
                  }
                ],
                "template": "<div style=\"text-align:center\">\n<h1>{{_.data.site.product.name}}</h1>\n<div>\n<img src=\"{{_.data.site.product.defaultImage.url}}\">\n</div>\n<div>\n<p>${{_.data.site.product.prices.price.value}}</p>\n</div>\n</div>"
              }
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/WidgetTemplate_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: |-
        Creates a **Widget Template**.

        ***Note:*** *There is a limit of 100 custom widget templates per store.*

        **Required Fields**
        * name
        * template
    get:
      tags:
        - Widget Template
      operationId: getWidgetTemplates
      parameters:
        - name: page
          description: |
            Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: >
            Controls the number of items per page in a limited (paginated) list
            of products.
          required: false
          in: query
          type: integer
        - in: query
          name: widget_template_kind
          description: The kind of widget template.
          type: string
          required: false
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/WidgetTemplateCollection_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Returns a list of **Widget Templates**.
      summary: Get All Widget Templates
  '/content/widget-templates/{uuid}':
    get:
      tags:
        - Widget Template
      summary: Get a Widget Template
      operationId: getWidgetTemplate
      parameters:
        - name: uuid
          description: The identifier for a specific template.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/WidgetTemplate_Resp'
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Return a single **Widget Template**.
    put:
      tags:
        - Widget Template
      summary: Update a Widget Template
      operationId: updateWidgetTemplate
      parameters:
        - name: uuid
          description: The identifier for a specific template.
          required: true
          in: path
          type: string
          format: uuid
        - name: templateBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/widgetTemplate_Put'
          x-examples:
            application/json:
              name: Header Images
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/WidgetTemplate_Resp'
          examples:
            application/json:
              data:
                uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
                name: Header Images
                schema: []
                template: >-
                  {{#each images}}<a href='{{image_url}}'><img
                  src={{image_source}} style='width:33.3%'/></a>{{/each}}
                date_created: '2019-02-25T18:35:04.904Z'
                date_modified: '2019-02-25T18:35:04.904Z'
                kind: custom
              meta: {}
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Update a **Widget Template**.
    delete:
      tags:
        - Widget Template
      summary: Delete A Widget Template
      operationId: deleteWidgetTemplate
      parameters:
        - name: uuid
          description: The identifier for a specific template.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '204':
          description: An empty response.
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Delete a **Widget Template**.
  /content/widgets:
    post:
      tags:
        - Widget
      summary: Create a Widget
      operationId: createWidget
      parameters:
        - name: widgetBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/widget_Post'
          x-examples:
            application/json:
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{your-store-url}/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              widget_template_uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Widget_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: |-
        Creates a **Widget**.

        ***Note:*** *There is a limit of 1000 widgets per store.*

        **Required Fields**
        * name
        * widget_template_uuid
    get:
      tags:
        - Widget
      summary: Get All Widgets
      operationId: getWidgets
      parameters:
        - name: page
          description: |
            Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: >
            Controls the number of items per page in a limited (paginated) list
            of products.
          required: false
          in: query
          type: integer
        - in: query
          name: widget_template_kind
          description: The kind of widget template.
          type: string
          required: false
        - in: query
          name: widget_template_uuid
          description: The identifier for a specific widget template.
          type: string
          format: uuid
          required: false
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
        - in: query
          name: name
          type: string
          description: >-
            The URL encoded name of the widget.

            Use `name:in` to pass in comma-separated list of widget names.
            **Ex**: `/widgets?name:in=test-widget-name,header%20images`
      responses:
        '200':
          $ref: '#/responses/WidgetCollection_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Returns a list of **Widgets**. Optional parameters can be passed in.
  '/content/widgets/{uuid}':
    get:
      tags:
        - Widget
      summary: Get a Widget
      operationId: getWidget
      parameters:
        - name: uuid
          description: The identifier for a specific widget.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Widget_Resp'
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Returns a single **Widget**.
    put:
      tags:
        - Widget
      summary: Update a Widget
      operationId: updateWidget
      parameters:
        - name: uuid
          description: The identifier for a specific widget.
          required: true
          in: path
          type: string
          format: uuid
        - name: widgetBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/widget_Put'
          x-examples:
            application/json:
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{your-store-url}/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              widget_template_uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Widget_Resp'
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Updates a **Widget**.
    delete:
      tags:
        - Widget
      summary: Delete a Widget
      operationId: deleteWidget
      parameters:
        - name: uuid
          description: The identifier for a specific widget.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '204':
          description: An empty response.
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Deletes a **Widget**.
  /content/placements:
    post:
      tags:
        - Placement
      summary: Create a Placement
      operationId: createPlacement
      parameters:
        - name: placementBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/placement_Post'
          x-examples:
            application/json:
              widget_uuid: a8940709-5655-4401-a341-62c44e3180b2
              entity_id: '21'
              template_file: pages/category
              status: active
              sort_order: 1
              region: home_header_image
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Placement_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: |-
        Creates a **Placement**.

        ## Template files

        The `template_file` property accepts the following values.

        |Template File|Description|
        |-|-|
        |`pages/blog-post`|Blog posts template|
        |`pages/blog`|Blog posts template|
        |`pages/brand`|Brand page template|
        |`pages/category`|Category page template|
        |`pages/home`|Home page template|
        |`pages/page`|Content page template|
        |`pages/product`|Product page template|
        |`pages/search`|Search page template|
    get:
      tags:
        - Placement
      summary: Get All Placements
      operationId: getPlacements
      parameters:
        - name: page
          description: |
            Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: >
            Controls the number of items per page in a limited (paginated) list
            of products.
          required: false
          in: query
          type: integer
        - in: query
          name: widget_template_kind
          description: The kind of widget template.
          type: string
          required: false
        - in: query
          name: template_file
          description: 'The template file, for example: `pages/home`.'
          type: string
          required: false
        - name: widget_uuid
          description: The identifier for a specific widget.
          in: query
          type: string
          format: uuid
          required: false
        - in: query
          name: widget_template_uuid
          description: The identifier for a specific widget template.
          type: string
          format: uuid
          required: false
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/PlacementsCollection_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Returns a list of **Placements**. Optional parameters can be passed in.
  '/content/placements/{uuid}':
    get:
      tags:
        - Placement
      summary: Get a Placement
      operationId: getPlacement
      parameters:
        - name: uuid
          description: The identifier for a specific placement.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Placement_Resp'
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Returns a single **Placement**.
    put:
      tags:
        - Placement
      summary: Update a Placement
      operationId: updatePlacement
      parameters:
        - name: uuid
          description: The identifier for a specific placement.
          required: true
          in: path
          type: string
          format: uuid
        - name: placementBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/placement_Put'
          x-examples:
            application/json:
              sort_order: 1
              region: home_header_image
              template_file: pages/home
              status: active
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '200':
          $ref: '#/responses/Placement_Resp'
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Updates a **Placement**.
    delete:
      tags:
        - Placement
      summary: Delete a Placement
      operationId: deletePlacement
      parameters:
        - name: uuid
          description: The identifier for a specific placement.
          required: true
          in: path
          type: string
          format: uuid
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
      responses:
        '204':
          description: An empty response.
        '404':
          $ref: '#/responses/Error404_Resp'
        '422':
          $ref: '#/responses/Error422_Resp'
      description: Deletes a **Placement**.
  /content/regions:
    get:
      responses:
        '200':
          $ref: '#/responses/ThemeRegions_Resp'
      summary: Get Theme Regions
      description: |-
        Returns a list of unique **Theme Regions** in a file.

        **Required Query**
        * `template_file`
      operationId: getContentRegions
      tags:
        - Regions
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
        - in: header
          type: string
          default: application/json
          name: Content-Type
        - in: query
          name: template_file
          description: 'The template file, for example: `templateFile=pages/home`.'
          type: string
          required: true
parameters:
  TemplateUUID:
    name: uuid
    description: The identifier for a specific template.
    required: true
    in: path
    type: string
    format: uuid
  FilterWidgetTemplateUUIDParam:
    in: query
    name: widget_template_uuid
    description: The identifier for a specific widget template.
    type: string
    format: uuid
    required: false
  FilterWidgetTemplateKindParam:
    in: query
    name: widget_template_kind
    description: The kind of widget template.
    type: string
    required: false
  FilterTemplateFileParam:
    in: query
    name: template_file
    description: 'The template file, for example: `pages/home`.'
    type: string
    required: false
  RequiredTemplateFile:
    in: query
    name: templateFile
    description: 'The template file, for example: `templateFile=pages/home`.'
    type: string
    required: true
  LayoutUUID:
    name: uuid
    description: The identifier for a specific layout.
    required: true
    in: path
    type: string
    format: uuid
  PlacementUUID:
    name: uuid
    description: The identifier for a specific placement.
    required: true
    in: path
    type: string
    format: uuid
  WidgetUUID:
    name: uuid
    description: The identifier for a specific widget.
    required: true
    in: path
    type: string
    format: uuid
  FilterWidgetUUIDParam:
    name: widget_uuid
    description: The identifier for a specific widget.
    in: query
    type: string
    format: uuid
    required: false
  PageParam:
    name: page
    description: |
      Specifies the page number in a limited (paginated) list of products.
    required: false
    in: query
    type: integer
  LimitParam:
    name: limit
    description: >
      Controls the number of items per page in a limited (paginated) list of
      products.
    required: false
    in: query
    type: integer
  QueryWidgetsParam:
    type: string
    name: query
    in: query
    description: |
      The query string associated with a widget's name and description.
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
  Content-Type:
    in: header
    type: string
    default: application/json
    name: Content-Type
definitions:
  widgetTemplate_Put:
    $ref: '#/definitions/widgetTemplate_Base'
    title: widgetTemplate_Put
  widgetTemplate_Post:
    title: widgetTemplate_Post
    type: object
    properties:
      name:
        type: string
        description: User friendly name.
      schema:
        $ref: '#/definitions/widgetSchema'
      template:
        type: string
        description: Handlebars HTML content. Also has access to Stencil Paper helpers.
        format: html
    required:
      - name
      - template
  widgetTemplate_Full:
    allOf:
      - $ref: '#/definitions/widgetTemplate_Base'
      - type: object
        properties:
          uuid:
            type: string
            format: uuid
            description: The primary identifier.
          kind:
            type: string
            description: The kind of widget template.
          date_created:
            type: string
            format: datetime
            description: The date on which this object was initially created.
          date_modified:
            type: string
            format: datetime
            description: The date on which this object was last updated.
    title: widgetTemplate_Full
  widget_Full:
    title: widget_Full
    allOf:
      - $ref: '#/definitions/widget_Base'
      - type: object
        properties:
          uuid:
            type: string
            format: uuid
            description: The primary identifier.
          widget_template:
            $ref: '#/definitions/widgetTemplate_Full'
          date_created:
            type: string
            format: datetime
            description: The date on which this object was initially created.
          date_modified:
            type: string
            format: datetime
            description: The date on which this object was last updated.
  widget_Post:
    required:
      - name
      - widget_template_uuid
    properties:
      name:
        type: string
        description: User friendly name.
      description:
        type: string
        description: The user-friendly description.
      widget_configuration:
        type: object
        description: The JSON data that populates the template.
        format: json
      widget_template_uuid:
        type: string
        description: The widget template UUID.
    title: widget_Post
  widget_Put:
    title: widget_Put
    allOf:
      - $ref: '#/definitions/widget_Base'
      - properties:
          widget_template_uuid:
            type: string
            description: The widget template UUID.
        type: object
  placement_Post:
    title: placement_Post
    allOf:
      - type: object
        properties:
          widget_uuid:
            type: string
            description: A widget identifier.
          template_file:
            type: string
            description: The template file that you would like to target.
        required:
          - widget_uuid
          - template_file
      - $ref: '#/definitions/placement_Base'
  placement_Put:
    title: placement_Put
    allOf:
      - type: object
        properties:
          template_file:
            type: string
            description: The template file that you would like to target.
          widget_uuid:
            type: string
            description: A widget identifier.
      - $ref: '#/definitions/placement_Base'
  placement_Full:
    title: placement_Full
    allOf:
      - type: object
        properties:
          uuid:
            type: string
            format: uuid
            description: The primary identifier.
          template_file:
            type: string
            description: The template file that you would like to target.
          date_created:
            type: string
            format: datetime
            description: The date on which this object was initially created.
          date_modified:
            type: string
            format: datetime
            description: The date on which this object was last updated.
      - $ref: '#/definitions/placement_Base'
      - type: object
        properties:
          widget:
            $ref: '#/definitions/widget_Full'
  metaCollection:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: metaCollection
    properties:
      pagination:
        $ref: '#/definitions/pagination'
  pagination:
    type: object
    description: |
      Data about the response, including pagination and collection totals.
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
      count:
        type: integer
        description: |
          Total number of items in the collection response.
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
          next:
            type: string
            description: |
              Link to the next page returned in the response.
    title: pagination
  error_Base:
    type: object
    description: |
      Error payload for the BigCommerce API.
    title: error_Base
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
      errors:
        type: object
  themeRegion:
    properties:
      name:
        type: string
        description: The region name.
    title: themeRegion
  Meta:
    type: object
    description: Empty meta object; may be used later.
  placement_Base:
    type: object
    title: placement_Base
    properties:
      entity_id:
        type: string
        description: The specific instance of a page that you would like to target.
      sort_order:
        type: integer
        description: >-
          The sort order to control the position of a content widget in a
          region.
      region:
        type: string
        description: The name of the region in which to insert content widgets.
      status:
        type: string
        enum:
          - inactive
          - active
        description: Sets the placement as either inactive or active.
        default: inactive
  widgetTemplate_Base:
    type: object
    title: widgetTemplate_Base
    properties:
      name:
        type: string
        description: The user-friendly name.
      schema:
        $ref: '#/definitions/widgetSchema'
      template:
        type: string
        format: html
        description: The widget template HTML. Supports Handlebars and Paper helpers.
  widget_Base:
    type: object
    title: widget_Base
    properties:
      name:
        type: string
        description: The user-friendly name.
      description:
        type: string
        description: The user-friendly description.
      widget_configuration:
        type: object
        format: json
        description: The JSON data that populates the template.
  new-model:
    type: array
    items:
      type: object
      properties:
        type:
          type: string
        label:
          type: string
        id:
          type: string
        default:
          type: integer
        typeMeta:
          type: string
        conditional:
          type: string
  widgetSchemaTab:
    type: object
    title: widgetSchemaTab
    description: '**Tab**'
    enum:
      - tab
    properties:
      type:
        type: string
      label:
        type: string
      sections:
        type: array
        items:
          $ref: '#/definitions/widgetSchemaTabSections'
  widgetSchemaTabSections:
    type: object
    title: widgetSchemaTabSections
    properties:
      label:
        type: string
      settings:
        type: array
        description: >-
          For examples of each type of setting, see [Page Builder > Schema
          Settings](https://developer.bigcommerce.com/stencil-docs/page-builder/schema-settings/alignment)
          in Theme Docs.
        items:
          $ref: '#/definitions/widgetSchemaSetting_Base'
  widgetSchemaArray:
    type: object
    title: widgetSchemaArray
    description: '**Array**'
    properties:
      type:
        type: string
        enum:
          - array
      label:
        type: string
      id:
        type: string
      defaultCount:
        type: string
        description: number of elements in the list to display by default.
      entryLabel:
        type: string
        description: name for each element in the list
      thumbnail:
        type: string
        description: used to display an image stored at the specified attribute name
      schema:
        type: array
        description: The schema used for each element in the array.
        items: {}
  widgetSchemaSetting_Base:
    type: object
    title: widgetSchemaSetting_Base
    description: >-
      For examples of each type of setting, see [Page Builder > Schema
      Settings](https://developer.bigcommerce.com/stencil-docs/page-builder/schema-settings/alignment)
      in Theme Docs.
    properties:
      type:
        type: string
        description: >-
          The type of setting component to display. You can view the list of
          elements below to discover which are available to use.


          For examples of each type of setting, see [Page Builder > Schema
          Settings](https://developer.bigcommerce.com/stencil-docs/page-builder/schema-settings/alignment)
          in Theme Docs.
        enum:
          - alignment
          - boolean
          - boxModel
          - code
          - color
          - imageManager
          - input
          - number
          - productId
          - productImage
          - range
          - regexInput
          - select
          - text
          - toggle
      label:
        type: string
        description: >-
          The user friendly message to inform the user how this setting will be
          used.
      id:
        type: string
        description: >-
          The variable name where the setting value will be available in the
          widget template.
      default:
        type: string
        description: >-
          The default value to use when rendering the widget for the first time.
          Make sure to set sensible defaults to make your widget easier to use.
      typeMeta:
        type: string
        description: Additional information needed based on the selected setting type.
      conditional:
        type: string
        description: |2
           Can be added on each setting to control whether it should be displayed to the user while editing in store design. This does not clear the value in the setting, just controls the display of the setting. Take a look at the regexInput for an example on using conditional.
  widgetSchema:
    type: array
    items:
      anyOf:
        - $ref: '#/definitions/widgetSchemaTab'
        - $ref: '#/definitions/widgetSchemaArray'
        - $ref: '#/definitions/widgetSchemaHidden'
    description: >-
      The schema for the widget's merchant-facing UI. For more information, see
      [Page Builder
      Overview](https://developer.bigcommerce.com/stencil-docs/page-builder/page-builder-overview) 
  widgetSchemaHidden:
    type: object
    title: widgetSchemaHidden
    description: '**Hidden**'
    enum:
      - hidden
    properties:
      type:
        type: string
      settings:
        type: array
        items:
          $ref: '#/definitions/widgetSchemaSetting_Base'
  widgetSchemaTabSectionsSettings:
    type: object
    properties: {}
    title: widgetSchemaTabSectionsSettings
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Content | modify | `store_v2_content` |

      |  Content | read-only | `store_v2_content_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Content | modify | `store_v2_content` |

      |  Content | read-only | `store_v2_content_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
responses:
  ThemeRegions_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/themeRegion'
        meta:
          type: object
          description: Empty meta object; may be used later.
    examples:
      application/json:
        data:
          - name: header_bottom
          - name: category_header_banner
        meta: {}
  LayoutCollectionResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            properties:
              uuid:
                type: string
                format: uuid
                description: The primary identifier.
              entity_id:
                type: string
                description: The specific instance of a page
              template_file:
                type: string
                description: The page template name.
              region:
                type: string
                description: The name of the region defined in the stencil theme file.
              markup:
                type: string
                description: >-
                  The HTML layout which defines complex poisitoning for
                  placements.
              date_created:
                type: string
                format: datetime
                description: The date on which this object was initially created.
              date_modified:
                type: string
                format: datetime
                description: The date on which this object was last updated.
            title: Layout
        meta:
          type: object
          description: 'Data about the response, including pagination and collection totals.'
          properties:
            pagination:
              type: object
              description: >
                Data about the response, including pagination and collection
                totals.
              properties:
                total:
                  type: integer
                  description: |
                    Total number of items in the result set.
                count:
                  type: integer
                  description: |
                    Total number of items in the collection response.
                per_page:
                  type: integer
                  description: >
                    The amount of items returned in the collection per page,
                    controlled by the limit parameter.
                current_page:
                  type: integer
                  description: |
                    The page you are currently on within the collection.
                total_pages:
                  type: integer
                  description: |
                    The total number of pages in the collection.
                links:
                  type: object
                  description: >
                    Pagination links for the previous and next parts of the
                    whole collection.
                  properties:
                    previous:
                      type: string
                      description: |
                        Link to the previous page returned in the response.
                    current:
                      type: string
                      description: |
                        Link to the current page returned in the response.
                    next:
                      type: string
                      description: |
                        Link to the next page returned in the response.
          title: Collection Meta
    examples:
      application/json:
        data:
          - uuid: cacdadcf-07ec-43f3-aec4-f8e3382d7618
            template_file: pages/category
            entity_id: '21'
            region: category_header_banner
            markup: >-
              <style>img:hover{opacity: 0.3;}</style><div><div
              style='padding:5px;'><bc-placement
              id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
            date_created: '2019-02-25T18:38:08.455Z'
            date_modified: '2019-02-25T18:38:08.455Z'
        meta:
          pagination:
            total: 1
            count: 1
            per_page: 50
            current_page: 1
            total_pages: 1
  LayoutResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            properties:
              uuid:
                type: string
                format: uuid
                description: The primary identifier.
              entity_id:
                type: string
                description: The specific instance of a page
              template_file:
                type: string
                description: The page template name.
              region:
                type: string
                description: The name of the region defined in the stencil theme file.
              markup:
                type: string
                description: >-
                  The HTML layout which defines complex poisitoning for
                  placements.
              date_created:
                type: string
                format: datetime
                description: The date on which this object was initially created.
              date_modified:
                type: string
                format: datetime
                description: The date on which this object was last updated.
            title: Layout
    examples:
      application/json:
        data:
          uuid: cacdadcf-07ec-43f3-aec4-f8e3382d7618
          template_file: pages/category
          entity_id: '21'
          region: category_header_banner
          markup: >-
            <style>img:hover{opacity: 0.3;}</style><div><div
            style='padding:5px;'><bc-placement
            id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
          date_created: '2019-02-25T18:38:08.455Z'
          date_modified: '2019-02-25T18:38:08.455Z'
        meta: {}
  PlacementsCollection_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/placement_Full'
        meta:
          $ref: '#/definitions/metaCollection'
    examples:
      application/json:
        data:
          - uuid: bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08
            template_file: pages/category
            region: ''
            sort_order: 0
            entity_id: '21'
            status: active
            widget:
              uuid: a8940709-5655-4401-a341-62c44e3180b2
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
                _:
                  id: a8940709-5655-4401-a341-62c44e3180b2
              widget_template:
                uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
                name: Header Images
                schema: []
                template: >-
                  {{#each images}}<a href='{{image_url}}'><img
                  src={{image_source}} style='width:33.3%'/></a>{{/each}}
                date_created: '2019-02-25T18:35:04.904Z'
                date_modified: '2019-02-25T18:35:04.904Z'
                kind: custom
              date_created: '2019-02-25T18:36:45.238Z'
              date_modified: '2019-02-25T18:36:45.238Z'
              description: ''
            date_created: '2019-02-25T18:37:10.658Z'
            date_modified: '2019-02-25T18:37:10.658Z'
        meta:
          pagination:
            total: 1
            count: 1
            per_page: 50
            current_page: 1
            total_pages: 1
  Placement_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/placement_Full'
        meta:
          type: object
    examples:
      application/json:
        data:
          uuid: bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08
          template_file: pages/category
          region: ''
          sort_order: 0
          entity_id: '21'
          status: active
          widget:
            uuid: a8940709-5655-4401-a341-62c44e3180b2
            name: Header Images
            widget_configuration:
              images:
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              _:
                id: a8940709-5655-4401-a341-62c44e3180b2
            widget_template:
              uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
              name: Header Images
              schema: []
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
              date_created: '2019-02-25T18:35:04.904Z'
              date_modified: '2019-02-25T18:35:04.904Z'
              kind: custom
            date_created: '2019-02-25T18:36:45.238Z'
            date_modified: '2019-02-25T18:36:45.238Z'
            description: ''
          date_created: '2019-02-25T18:37:10.658Z'
          date_modified: '2019-02-25T18:37:10.658Z'
        meta: {}
  WidgetTemplateCollection_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/widgetTemplate_Full'
        meta:
          $ref: '#/definitions/pagination'
    examples:
      application/json:
        data:
          - uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
            name: Header Images
            schema: []
            template: >-
              {{#each images}}<a href='{{image_url}}'><img src={{image_source}}
              style='width:33.3%'/></a>{{/each}}
            date_created: '2019-02-25T18:35:04.904Z'
            date_modified: '2019-02-25T18:35:04.904Z'
            kind: custom
          - uuid: 2fbb8014-2a6e-4569-b484-65824959d035
            name: Simple List
            schema: []
            template: >-
              <ul>{{#each list_items}}<li
              style='color:{{color}};'>{{text}}</li>{{/each}}</ul>
            date_created: '2019-02-25T22:12:32.779Z'
            date_modified: '2019-02-25T22:12:32.779Z'
            kind: custom
          - uuid: bbdd79ad-760c-406c-8866-c0642ec6fb3f
            name: Simple HTML
            schema: []
            template: '{{{html}}}'
            date_created: '2019-02-26T16:35:33.257Z'
            date_modified: '2019-02-26T16:35:33.257Z'
            kind: custom
          - uuid: 28a6d62d-6435-4423-a611-35feaab1229a
            name: Simple Text with Styling
            schema: []
            template: >-
              <style>#bc-simple-text-{{_.id}} {color: {{color}};background:
              {{background_color}};font-size: {{font_size}};font-style:
              {{font_style}};font-weight: {{font_weight}};font-family:
              {{font_family}};text-align: {{text_align}};margin-top:
              {{margin_top}};margin-bottom: {{margin_bottom}};margin-left:
              {{margin_left}};margin-right: {{margin_right}};padding-top:
              {{padding_top}};padding-bottom: {{padding_bottom}};padding-left:
              {{padding_left}};padding-right: {{padding_right}};}</style><p
              id='bc-simple-text-{{_.id}}'>{{text}}</p>
            date_created: '2019-02-26T17:20:14.274Z'
            date_modified: '2019-02-26T17:20:14.274Z'
            kind: custom
          - uuid: f054d960-3b3f-4bed-b3b3-ccb024e2f807
            name: YouTube Embed
            schema: []
            template: >-
              <iframe    id='ytplayer-{{_.id}}'    type='text/html'
              width='{{width}}'    height='{{height}}'
              src='https://www.youtube.com/embed/{{video_id}}?autoplay={{autoplay}}&color={{color}}&controls={{controls}}&disablekb={{disablekb}}&fs={{fs}}&rel={{rel}}&showinfo={{showinfo}}'
              frameborder='{{frameborder}}'>  </iframe>
            date_created: '2019-02-26T18:59:18.359Z'
            date_modified: '2019-02-26T18:59:18.359Z'
            kind: custom
          - uuid: be346d31-d869-4e96-9299-4c85bc1af55a
            name: Slider Template
            schema: []
            template: |-
              <ul class="slider">
              {{#each slides}}
              <ul class="slide"><img class="mySlides" src="{{image}}"/></ul>
              {{/each}}
              </ul>
              <script>
              var slideIndex = 0;
              carousel();
              function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              slideIndex++;
              if (slideIndex > x.length) {slideIndex = 1}
              x[slideIndex-1].style.display = "block";
              setTimeout(carousel, 4000); // Change image every 4 seconds
              }
              </script>
            date_created: '2019-02-26T19:25:24.081Z'
            date_modified: '2019-02-26T19:25:24.081Z'
            kind: custom
          - uuid: 2ff24732-6848-47ba-9a7f-c8b1d444f270
            name: PayPal Credit Banner - Cart Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="CartPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:21.073Z'
            date_modified: '2017-10-27T17:20:20.386Z'
            kind: pp-cartpage-fullbanner
          - uuid: 3002bf5b-5eca-4ac2-8f1f-5240c2b74712
            name: PayPal Credit Banner - Home Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="HomePage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:32.067Z'
            date_modified: '2017-10-27T17:20:50.367Z'
            kind: pp-homepage-fullbanner
          - uuid: 7c541473-855d-4b62-a7bf-6ef3199f914c
            name: PayPal Credit Banner - Product Details Page (234x60)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  width: 100%;
                  max-width: 234px;
                  height: 60px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="234x60"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="ProductDetailsPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:41.274Z'
            date_modified: '2017-10-27T17:21:16.179Z'
            kind: pp-proddetailspage-quarterbanner
          - uuid: 2dfeb50e-5f8c-4df2-8525-a338091eed32
            name: Braintree PayPal Credit Banner - Cart Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="CartPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-27T17:21:27.316Z'
            date_modified: '2017-10-27T17:21:38.264Z'
            kind: bt-cartpage-fullbanner
          - uuid: a96caeab-1e47-4196-b707-7037950fb2a7
            name: Braintree PayPal Credit Banner - Home Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
[...]
