swagger: '2.0'
info:
  version: '2.0'
  title: Blogs
  description: >-
    The Blogs resource represents a blog post on your BigCommerce store.


    Using the related subresources, you can also get a count of the published
    blog posts and retrieve associated tags.


    **On This Page**

    - [Authentication](#authentication)

    - [OAuth Scopes](#oauth-scopes)

    - [Subresources](#subresources)

    - [Additional Resources](#additional-resources)

    ---


    ## Authentication

    You can authenticate requests by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v3/catalog/summary

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```

    You can obtain the `client_id` and `access_token` using either of the
    following methods:

    - [Creating API
    account](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-store-api-credentials)

    - [Installing an app in the BigCommerce control
    panel](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-app-api-credentials)

    ---


    ## OAuth Scopes


    Scope limits ability to read or modify data. To interact with the Blogs
    resource, set the scope to the minimum level needed to accomplish your
    specific task. 


    | UI Name  | Permission | Parameter                     |

    |----------|------------|-------------------------------|

    | Content | modify     | `store_v2_content`           |

    | Content | read-only  | `store_v2_content_read_only` |


    For more information on OAuth Scopes, see the [REST API
    Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes)
    page.


    ---

    ## Subresources

    The Blogs resource contains subresources outlined in the following sections.


    ### Posts

    View, create, and modify blog’s content entries.


    ### Posts Count

    Display a count of all blog posts.


    ### Tags

    Display a list of blog tags and IDs of the posts they appear in. 


    ---


    ## Additional Information


    **Related Articles**

    - [Handlebars
    Reference](https://developer.bigcommerce.com/stencil-docs/reference-docs/global-objects-and-properties/blog)

    - [Other Objects and Properties
    Overview](https://developer.bigcommerce.com/stencil-docs/reference-docs/other-objects-and-properties-overview#blog)
  termsOfService: 'https://www.bigcommerce.com/terms/'
  license:
    name: ''
  contact:
    name: BigCommerce Developer Documentation
    url: 'https://developer.bigcommerce.com/'
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /blog/tags:
    get:
      responses:
        '200':
          $ref: '#/responses/tags_Resp'
      parameters:
        - in: header
          name: Accept
          type: string
          required: true
          default: application/json
        - in: header
          name: Content-Type
          type: string
          required: true
          default: application/json
      produces: []
      summary: Get All Blog Tags
      tags:
        - Blog Tags
      description: Returns a list of *Blog Tags*.
      operationId: getAllBlogTags
  /blog/posts:
    get:
      description: >-
        Returns all *Blog Posts*. Default sorting is by published_date,
        beginning with the most recent post.
      summary: Get All Blog Posts
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: is_published
          in: query
          required: false
          type: string
          description: Filter param.
        - name: url
          in: query
          required: false
          type: string
          description: Filter param.
        - name: tag
          in: query
          required: false
          type: string
          description: Filter param.
        - name: published_date
          in: query
          required: false
          type: string
          description: Filter param.
          format: date-time
        - name: page
          in: query
          required: false
          type: number
          exclusiveMinimum: false
          description: Filter param.
          maximum: 50
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Filter param.
          maximum: 250
      responses:
        '200':
          $ref: '#/responses/blogPostCollection_Resp'
      tags:
        - Blog Posts
      operationId: getAllBlogPosts
    post:
      description: >-
        Creates a *Blog Post*.


        **Required Fields**

        *   title

        *   body


        **Read Only Fields**

        *   id

        *   preview_url

        *   summary


        **Notes**


        * When including `published_date` in a request, supply it as a flat date
        string (not an object) in valid <a
        href="http://tools.ietf.org/html/rfc2822#section-3.3"
        target="_blank">RFC 2822</a>. The&#160;example request below includes a
        `published_date` in RFC 2822 format.


        * Blog posts default to draft status. To publish blog posts to the
        storefront, set their `is_published` property to `true`.

        * If a custom URL is not provided, the post’s URL will be generated
        based on the value of `title`.
      summary: Create a Blog Post
      produces: []
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            title: Blog Posts
            example:
              id: 3
              title: Welcome to BigCommerce
              url: /blog/welcome-bigcommerce/
              preview_url: /blog/welcome-bigcommerce/
              body: >-
                <p>Customize your site, manage shipping and payments, and list
                your products on Amazon, eBay, and Facebook with the #1
                ecommerce platform. </p>
              tags:
                - BigCommerce
                - welcome
                - ecommerce
              summary: >-
                <p>We power ecommerce websites for successful retailers all over
                the world</p>
              is_published: true
              published_date:
                date: '2018-05-18T08:26:42.000Z'
                timezone_type: 1
                timezone: '+00:00'
              published_date_iso8601: '2018-05-18T13:26:42.000Z'
              meta_description: Welcome Post
              meta_keywords: 'BigCommerce, welcome, ecommerce'
              author: BigCommerce
              thumbnail_path: ''
            type: object
            properties:
              id:
                description: ID of this blog post. (READ-ONLY)
                example: 3
                type: integer
              title:
                type: string
                description: Title of this blog post.
                example: Welcome to BigCommerce
              url:
                description: URL for the public blog post.
                example: /blog/welcome-bigcommerce/
                type: string
              preview_url:
                description: URL to preview the blog post. (READ-ONLY)
                example: /blog/welcome-bigcommerce/
                type: string
              body:
                type: string
                description: Text body of the blog post.
                example: >-
                  <p>Customize your site, manage shipping and payments, and list
                  your products on Amazon, eBay, and Facebook with the #1
                  ecommerce platform. </p>
              tags:
                description: Tags to characterize the blog post.
                type: array
                items:
                  type: string
              summary:
                description: Summary of the blog post. (READ-ONLY)
                example: >-
                  <p>We power ecommerce websites for successful retailers all
                  over the world</p>
                type: string
              is_published:
                description: Whether the blog post is published.
                example: true
                type: boolean
              published_date:
                description: Published date in RFC-2822 format.
                example: 'Fri, 6 Sep 2019 12:55:31 +0000'
                type: string
              meta_description:
                description: Description text for this blog post’s <meta> element.
                example: Welcome Post
                type: string
              meta_keywords:
                description: Keywords for this blog post’s <meta> element.
                example: 'BigCommerce, welcome, ecommerce'
                type: string
              author:
                description: Name of the blog post’s author.
                example: BigCommerce
                type: string
              thumbnail_path:
                description: >-
                  Local path to a thumbnail image within the product_images
                  folder to accompany the blog post.
                type: string
            required:
              - title
              - body
          x-examples:
            application/json:
              title: A Sample Blog Post
              body: <p>This is a blog post.</p>
              author: Author Name
              thumbnail_path: 'http://cdn.example.com/sample-post.jpg'
              is_published: true
              published_date: 'Fri, 6 Sep 2019 12:55:31 +0000'
              tags:
                - Blog
                - Example
      responses:
        '200':
          $ref: '#/responses/blogPost_Resp'
      tags:
        - Blog Posts
      operationId: createABlogPosts
    delete:
      description: Deletes a page of `Blog Posts`.
      summary: Delete Blog Posts
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Filter param.
          maximum: 250
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Filter param.
          maximum: 50
      responses:
        '204':
          description: ''
      tags:
        - Blog Posts
      operationId: deleteAllBlogPosts
  '/blog/posts/{id}':
    get:
      description: Returns a single *Blog Post*.
      summary: Get a Blog Post
      tags:
        - Blog Posts
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the blog post.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          $ref: '#/responses/blogPost_Resp'
      operationId: getABlogPost
    put:
      description: >
        Updates a *Blog Post*.


        **Read Only Fields**

        *   id

        *   preview_url


        **Notes** 


        * When including `published_date` in a request, supply it as a flat date
        string (not an object) in valid <a
        href="http://tools.ietf.org/html/rfc2822#section-3.3"
        target="_blank">RFC 2822</a>. The&#160;example request below includes a
        `published_date` in RFC 2822 format.
      summary: Update a Blog Post
      tags:
        - Blog Posts
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: Id of the blog post.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/blogPost_Base'
          x-examples:
            application/json:
              title: 'New: A Sample Blog Post'
              url: /blog/sample-post
              published_date: 'Sun, 01 Jan 2017 15:33:33 +0400'
      responses:
        '200':
          $ref: '#/responses/blogPost_Resp'
      operationId: updateABlogPost
    delete:
      description: Deletes a *Blog Post*.
      summary: Delete a Blog Post
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the blog post.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      tags:
        - Blog Posts
      operationId: deleteABlogPost
    parameters:
      - name: id
        in: path
        type: string
        required: true
  /blog/posts/count:
    get:
      description: Returns a count of all *Blog Posts*.
      summary: Get A Count of All Blog Posts
      produces: []
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          $ref: '#/responses/postCount_Resp'
      tags:
        - Blog Posts Count
      operationId: getACountOfAllBlogPosts
definitions:
  blogPost_Full:
    title: blogPost_Full
    allOf:
      - type: object
        properties:
          id:
            description: ID of this blog post. (READ-ONLY)
            example: 3
            type: integer
      - $ref: '#/definitions/blogPost_Base'
  timeZone:
    title: timeZone
    type: object
    properties:
      name:
        description: >-
          a string identifying the time zone, in the format:
          <Continent-name>/<City-name>.
        example: America/Chicago
        type: string
      raw_offset:
        description: >-
          a negative or positive number, identifying the offset from UTC/GMT, in
          seconds, during winter/standard time.
        example: -21600
        type: integer
      dst_offset:
        description: >-
          "-/+" offset from UTC/GMT, in seconds, during summer/daylight saving
          time.
        example: -18000
        type: integer
      dst_correction:
        description: >-
          a boolean indicating whether this time zone observes daylight saving
          time.
        example: true
        type: boolean
      date_format:
        $ref: '#/definitions/dateFormat'
  postCount:
    title: postCount
    example:
      count: 27
    type: object
    properties:
      count:
        description: ''
        example: 27
        type: number
  dateFormat:
    title: dateFormat
    type: object
    properties:
      display:
        description: 'string that defines dates’ display format, in the pattern: M jS Y'
        example: M jS Y
        type: string
      export:
        description: >-
          string that defines the CSV export format for orders, customers, and
          products, in the pattern: M jS Y
        example: M jS Y
        type: string
      extended_display:
        description: >-
          string that defines dates’ extended-display format, in the pattern: M
          jS Y @ g:i A.
        example: 'M jS Y @ g:i A'
        type: string
  blogTags:
    type: array
    title: blogTags
    items:
      type: object
      properties:
        tag:
          type: string
          example: Blog
          description: Tag to characterize the blog post.
        post_ids:
          type: array
          example: '1,2,4'
          description: IDs of blog posts.
          items:
            type: integer
  blogPost_Base:
    type: object
    title: blogPost_Base
    properties:
      title:
        type: string
        description: Title of this blog post.
        example: Welcome to BigCommerce
      url:
        example: /blog/welcome-bigcommerce/
        type: string
        description: URL for the public blog post.
      preview_url:
        description: URL to preview the blog post. (READ-ONLY)
        example: /blog/welcome-bigcommerce/
        type: string
      body:
        type: string
        description: Text body of the blog post.
        example: >-
          <p>Customize your site, manage shipping and payments, and list your
          products on Amazon, eBay, and Facebook with the #1 ecommerce platform.
          </p>
      tags:
        description: Tags to characterize the blog post.
        type: array
        items:
          type: string
      summary:
        description: Summary of the blog post. (READ-ONLY)
        example: >-
          <p>We power ecommerce websites for successful retailers all over the
          world</p>
        type: string
      is_published:
        description: Whether the blog post is published.
        example: true
        type: boolean
      published_date:
        $ref: '#/definitions/publishedDate'
      published_date_iso8601:
        description: Published date in `ISO 8601` format.
        example: '5/18/2018 1:26:42 PM'
        type: string
      meta_description:
        description: Description text for this blog post’s `<meta/>` element.
        example: Welcome Post
        type: string
      meta_keywords:
        description: Keywords for this blog post’s `<meta/>` element.
        example: 'BigCommerce, welcome, ecommerce'
        type: string
      author:
        description: Name of the blog post’s author.
        example: BigCommerce
        type: string
      thumbnail_path:
        description: >-
          Local path to a thumbnail image within the product_images folder to
          accompany the blog post.
        type: string
    required:
      - title
      - body
  publishedDate:
    type: object
    properties:
      timezone_type:
        type: string
        example: 1
      date:
        type: string
        format: date-time
        example: '2018-05-18T08:26:42.000Z'
      timezone:
        type: string
        format: time
        example: '+00:00'
tags:
  - name: Blog Posts
  - name: Blog Posts Count
  - name: Blog Tags
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Content | modify | `store_v2_content` |

      |  Content | read-only | `store_v2_content_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Content | modify | `store_v2_content` |

      |  Content | read-only | `store_v2_content_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Token: []
  - X-Auth-Client: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
responses:
  tags_Resp:
    description: ''
    schema:
      $ref: '#/definitions/blogTags'
    examples:
      application/json:
        - tag: pizza
          post_ids:
            - 1
        - tag: cupcakes
          post_ids:
            - 2
  postCount_Resp:
    description: ''
    schema:
      $ref: '#/definitions/postCount'
    examples:
      application/json:
        count: 27
  blogPost_Resp:
    description: ''
    schema:
      $ref: '#/definitions/blogPost_Full'
    examples:
      application/json:
        id: 3
        title: Welcome to BigCommerce
        url: /blog/welcome-bigcommerce/
        preview_url: /blog/welcome-bigcommerce/
        body: >-
          <p>Customize your site, manage shipping and payments, and list your
          products on Amazon, eBay, and Facebook with the #1 ecommerce platform.
          </p>
        tags:
          - BigCommerce
          - welcome
          - ecommerce
        summary: >-
          <p>We power ecommerce websites for successful retailers all over the
          world</p>
        is_published: true
        published_date:
          date: '2018-05-18T08:26:42.000Z'
          timezone_type: 1
          timezone: '+00:00'
        published_date_iso8601: '2018-05-18T13:26:42.000Z'
        meta_description: Welcome Post
        meta_keywords: 'BigCommerce, welcome, ecommerce'
        author: BigCommerce
        thumbnail_path: ''
  blogPostCollection_Resp:
    description: ''
    schema:
      type: array
      items:
        $ref: '#/definitions/blogPost_Full'
    examples:
      application/json:
        - id: 3
          title: Hello Again
          url: /blog/hello-again/
          preview_url: /blog/hello-again/
          body: >-
            <p>Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake
            cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly
            beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies
            lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi
            bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert
            bear claw topping icing croissant. Pie bonbon chocolate bar
            chocolate bar tiramisu chocolate lemon drops
            candy.</p><p>Marshmallow cupcake sweet roll candy marshmallow
            caramels cotton candy pie icing. Powder jelly beans chupa chups
            lollipop liquorice marzipan dessert soufflé sesame snaps. Macaroon
            chupa chups gummies cheesecake ice cream caramels sesame snaps
            cotton candy gingerbread. Chocolate cake fruitcake tart bear claw
            lemon drops tart dragée tart apple pie. Halvah chupa chups soufflé
            jelly soufflé marshmallow. Croissant tart tart. Gingerbread apple
            pie biscuit.</p><p>Wafer lemon drops tart pastry brownie chocolate
            bar jelly. Dragée muffin cupcake liquorice caramels marzipan
            gingerbread marzipan. Apple pie pudding jelly sweet roll croissant
            bonbon wafer. Cookie chocolate bar sesame snaps bonbon macaroon
            candy canes donut sugar plum. Bear claw bonbon tootsie roll bonbon.
            Apple pie gummies donut sweet. Marzipan bear claw cotton candy
            topping dragée bonbon danish powder.</p>
          tags:
            - sugar
            - sweet
            - spice
            - everything
            - nice
          summary: >-
            Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake
            cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly
            beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies
            lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi
            bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert
            bear claw topping icing croissant. Pie bonbon chocolate bar [...]
          is_published: true
          published_date:
            date: '2018-05-18 08:26:42.000000'
            timezone_type: 1
            timezone: '+00:00'
          published_date_iso8601: '2018-05-18T13:26:42+0000'
          meta_description: Cupcakes post 2
          meta_keywords: 'sugar,sweet,spice,everything,nice'
          author: ''
          thumbnail_path: ''
        - id: 2
          title: Hello
          url: /blog/hello/
          preview_url: /blog/hello/
          body: >-
            <p>Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake
            cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly
            beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies
            lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi
            bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert
            bear claw topping icing croissant. Pie bonbon chocolate bar
            chocolate bar tiramisu chocolate lemon drops
            candy.</p><p>Marshmallow cupcake sweet roll candy marshmallow
            caramels cotton candy pie icing. Powder jelly beans chupa chups
            lollipop liquorice marzipan dessert soufflé sesame snaps. Macaroon
            chupa chups gummies cheesecake ice cream caramels sesame snaps
            cotton candy gingerbread. Chocolate cake fruitcake tart bear claw
            lemon drops tart dragée tart apple pie. Halvah chupa chups soufflé
            jelly soufflé marshmallow. Croissant tart tart. Gingerbread apple
            pie biscuit.</p><p>Wafer lemon drops tart pastry brownie chocolate
            bar jelly. Dragée muffin cupcake liquorice caramels marzipan
            gingerbread marzipan. Apple pie pudding jelly sweet roll croissant
            bonbon wafer. Cookie chocolate bar sesame snaps bonbon macaroon
            candy canes donut sugar plum. Bear claw bonbon tootsie roll bonbon.
            Apple pie gummies donut sweet. Marzipan bear claw cotton candy
            topping dragée bonbon danish powder.</p>
          tags:
            - cupcakes
            - sugar
            - sweet
          summary: >-
            Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake
            cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly
            beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies
            lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi
            bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert
            bear claw topping icing croissant. Pie bonbon chocolate bar [...]
          is_published: true
          published_date:
            date: '2018-05-18 08:26:00.000000'
            timezone_type: 1
            timezone: '+00:00'
          published_date_iso8601: '2018-05-18T13:26:00+0000'
          meta_description: cupcake blog post
          meta_keywords: 'cupcakes,sugar,sweet'
          author: ''
          thumbnail_path: ''
        - id: 1
          title: Your first blog post!
          url: /your-first-blog-post/
          preview_url: /your-first-blog-post/
          body: >-
            <p> <strong>Welcome to your blog!</strong><br> A blog is a great
            place to share details on your products, business and whatever else
            you think your shoppers might like to hear from you. You can include
            photos in your blog posts and even videos. For ideas and inspiration
            on how to structure your blog, take a look at the Bigcommerce <a
            href='http://blog.bigcommerce.com/' target='_blank'
            rel='nofollow'>ecommerce blog</a>.</p><p><strong>How can I delete
            this post?</strong><br>To delete this post and add your own, login
            to your <a href='/admin' target='_blank'>admin area</a> and go to
            Storefront > Blog in the left hand menu.</p><p><strong>Powered by
            Bigcommerce</strong><br>Your website, online store and blog are
            powered by Bigcommerce <a href='http://www.bigcommerce.com/'
            target='_blank' rel='nofollow'>ecommerce software</a>. It includes
            everything you need to run a beautiful online store including <a
            href='http://www.bigcommerce.com/templates/' target='_blank'
            rel='nofollow'>ecommerce website templates</a>, <a
            href='http://www.bigcommerce.com/features/hosting/' target='_blank'
            rel='nofollow'>ecommerce hosting</a>, an <a
            href='http://www.bigcommerce.com/features/setup/' target='_blank'
            rel='nofollow'>online shopping cart</a> and more.</p>
          tags:
            - Blog
            - SEO
          summary: ' Welcome to your blog! A blog is a great place to share details on your products, business and whatever else you think your shoppers might like to hear from you. You can include photos in your blog posts and even videos. For ideas and inspiration on how to structure your blog, take a look [...]'
          is_published: true
          published_date:
            date: '2014-02-15 14:46:34.000000'
            timezone_type: 1
            timezone: '+00:00'
          published_date_iso8601: '2014-02-15T19:46:34+0000'
          meta_description: ''
          meta_keywords: 'Blog,SEO'
          author: ''
          thumbnail_path: ''
