swagger: '2.0'
info:
  title: Customer Groups
  version: '2.0'
  description: >
    The Customer Groups resource allows you to organize your customers, provide
    targeted discounts, and restrict access to specific products or categories. 


    Using the related subresource, you can get a count of all customer groups
    for your BigCommerce store.


    ### Note

    > The Customer Groups feature is only available on [select BigCommerce
    plans](https://www.bigcommerce.com/essentials/pricing/).


    **On This Page**

    - [Authentication](#authentication)

    - [OAuth Scopes](#oauth-scopes)

    - [Subresources](#subresources)

    - [Additional Information](#additional-information)

    ---


    ## Authentication

    You can authenticate requests by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v3/catalog/summary

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```

    You can obtain the `client_id` and `access_token` using either of the
    following methods:

    - [Creating API
    account](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-store-api-credentials)

    - [Installing an app in the BigCommerce control
    panel](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-app-api-credentials)

    ---


    ## OAuth Scopes

    Scope limits ability to read or modify data. To interact with the Customer
    Groups resource, set the scope to the minimum level needed to accomplish
    your specific task. 


    | UI Name  | Permission | Parameter                     |

    |----------|------------|-------------------------------|

    | Customers | modify     | `store_v2_customers`          |

    | Customers | read-only  | `store_v2_customers_read_only` |


    For more information on OAuth Scopes, see the [REST API
    Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes)
    page.


    ---


    ## Subresources


    ### Customer Groups Count

    Get a count of all customer groups.  


    ---


    ## Additional Information


    **Knowledge Base**

    - [Customer
    Groups](https://support.bigcommerce.com/s/article/Customer-Groups)


    **Webhooks**

    -
    [Customers](https://developer.bigcommerce.com/api-docs/getting-started/webhooks/webhook-events#webhook-events_customer)


    **Related API Resources**

    - [Customers](#)
  termsOfService: 'https://www.bigcommerce.com/terms/'
  license:
    name: ''
  contact:
    name: BigCommerce Developer Documentation
    url: 'https://developer.bigcommerce.com/'
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /customer_groups:
    get:
      description: >-
        Returns a list of *Customer Groups*. Default sorting is by
        customer-group id, from lowest to highest.
      summary: Get All Customer Groups
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
        - name: name
          in: query
          required: false
          type: string
          description: >-
            Filter customer groups by exact name match. Can use `name:like` to
            filter using a fuzzy matching method. This is good for implementing
            search.
        - name: is_default
          in: query
          required: false
          type: boolean
          description: If customers who signup are added to this group by default
        - $ref: '#/parameters/is_group_for_guests'
      responses:
        '200':
          $ref: '#/responses/customerGroupCollection_Resp'
      tags:
        - Customer Groups
      operationId: getAllCustomerGroups
    post:
      summary: Create a Customer Group
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/customerGroup_Post'
          x-examples:
            application/json:
              name: Student Discounts
              discount_rules:
                - type: price_list
                  price_list_id: 3
            Give a 5% Discount to All Members: |-
              {
                  "name": "Student Discounts",
                  "discount_rules": 
                  [{
                      "type": "all",
                      "method": "percent",
                      "amount": 5.00
                  }]
              }
            Restrict Categories for Group:
              name: Bulk Purchasers
              category_access:
                type: specific
                categories:
                  - 7
                  - 12
                  - 20
            Assign New Customers to a Group: |-
              {
                "name": "Retail Customers",
                "is_default": true
              }
      responses:
        '200':
          $ref: '#/responses/customerGroup_Resp'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      description: |-
        Creates a *Customer Group*. 

        **Required Fields**
        * name
      tags:
        - Customer Groups
      operationId: createACustomerGroup
    delete:
      description: |-
        By default, it deletes all *Customer Groups*. 

        All existing customers are unassigned from the group when it is deleted.
      summary: Delete Customer Groups
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Customer Groups
      operationId: deleteAllCustomerGroups
  '/customer_groups/{customer_group_id}':
    get:
      description: Returns a *Customer Group*.
      summary: Get a Customer Group
      parameters:
        - name: customer_group_id
          in: path
          type: integer
          required: true
          description: Id of the customer group
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
        - name: name
          in: query
          required: false
          type: string
          description: Name of the customer groups
        - name: is_default
          in: query
          required: false
          type: boolean
          description: If customers who signup are added to this group by default
      responses:
        '200':
          $ref: '#/responses/customerGroup_Resp'
      tags:
        - Customer Groups
      operationId: getACustomerGroup
    delete:
      description: |-
        Deletes a *Customer Group*. 

        **Notes**

        All existing customers are unassigned from the group when it is deleted.
      summary: Delete a Customer Group
      parameters:
        - name: customer_group_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The id of the customer group.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      tags:
        - Customer Groups
      operationId: deleteACustomerGroup
    parameters:
      - name: customer_group_id
        in: path
        type: integer
        required: true
        description: Id of the customer group
    put:
      responses:
        '200':
          $ref: ''
      summary: Update a Customer Group
      parameters:
        - in: path
          name: customer_group_id
          type: integer
          required: true
          description: Id of the customer group
        - in: header
          name: Accepts
          type: string
          required: true
        - in: header
          name: Content-Type
          type: string
          required: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/customerGroup_Full'
          x-examples:
            application/json:
              name: 5% off
              discount_rules:
                - type: all
                  method: percent
                  amount: '5.0000'
            Bulk Update Rules:
              discount_rules:
                - type: all
                  method: percent
                  amount: 2.5
                - type: product
                  product_id: 33
                  method: percent
                  amount: 5
                - type: category
                  category_id: 7
                  method: price
                  amount: 12
            Price Lists: |-
              {
                "name": "Student Discounts",
                "discount_rules": [
                  {
                    "type": "price_list",
                    "price_list_id": 3
                  }
                ]
              }
      description: >-
        Updates a *Customer Group*.


        **Notes**


        Any combination of fields can be updated at once. Discount rules are
        treated in bulk. The entire set of rules is overwritten when a request
        is sent.
      tags:
        - Customer Groups
      operationId: updateACustomerGroup
  /customer_groups/count:
    get:
      description: 'Returns a count of all *Customer Groups*. '
      summary: Get a Count of Customer Groups
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          $ref: '#/responses/customerGroupCount_Resp'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Customer Groups Count
      operationId: getACountOfCustomerGroups
definitions:
  categoryAccessLevel_Full:
    title: categoryAccessLevel_Full
    type: object
    properties:
      type:
        type: string
        enum:
          - all
          - specific
          - none
        description: >-
          + `all` - Customers can access all categories
           + `specific`  - Customers can access a specific list of categories
          + `none` - Customers are prevented from viewing any of the categories
          in this group.
      categories:
        description: >-
          Is an array of category IDs and should be supplied only if `type` is
          specific.
        type: array
        example: '18,19,23,34'
        items:
          type: integer
  count_Full:
    title: count_Full
    example:
      count: 27
    type: object
    properties:
      count:
        description: ''
        example: 27
        type: number
  customerGroup_Full:
    title: customerGroup_Full
    type: object
    description: >-
      When creating a customer group category discount using the API it defaults
      to "products in this category and its subcategories". In the [Control
      Panel](https://support.bigcommerce.com/s/article/Customer-Groups#pricing)
      this can be changed to either "products in this category only" or
      "products in this category and its subcategories". There are currently no
      settings to change this behavior via API.
    properties:
      id:
        description: Id of the customer group
        example: 1
        type: integer
      name:
        description: Name of the group
        example: Wholesale
        type: string
      is_default:
        description: >-
          Determines whether new customers are assigned to this group by
          default.
        example: false
        type: boolean
      category_access:
        $ref: '#/definitions/categoryAccessLevel_Full'
      discount_rules:
        description: >-
          A collection of discount rules that are automatically applied to
          customers who are members of the group
        type: array
        items:
          type: object
          properties:
            type:
              type: string
              enum:
                - price_list
                - all
                - category
                - product
            method:
              type: string
              enum:
                - percent
                - fixed
                - price
            amount:
              type: string
              example: '"5.0000" (Float, Float as String, Integer)'
              description: A float that specifies the value applied to the price modified
            price_list_id:
              type: integer
              example: 3
              description: >-
                If a customer group is assigned to a price list,`method` and
                `amount` are not shown. `type` and `price_list_id` are returned.
      is_group_for_guests:
        type: boolean
        description: >-
          If the groups is for guests. There can only be one customer group for
          guests at a time.
  customerGroup_Post:
    title: customerGroup_Post
    type: object
    description: >-
      When creating a customer group category discount using the API it defaults
      to "products in this category and its subcategories". In the [Control
      Panel](https://support.bigcommerce.com/s/article/Customer-Groups#pricing)
      this can be changed to either "products in this category only" or
      "products in this category and its subcategories". There are currently no
      settings to change this behavior via API.
    properties:
      name:
        description: Name of the group
        example: Wholesale
        type: string
      is_default:
        description: >-
          Determines whether new customers are assigned to this group by
          default.
        example: false
        type: boolean
      category_access:
        $ref: '#/definitions/categoryAccessLevel_Full'
      discount_rules:
        description: >-
          A collection of discount rules that are automatically applied to
          customers who are members of the group
        type: array
        items:
          type: object
          properties:
            type:
              type: string
              enum:
                - price_list
                - all
                - category
                - product
            method:
              type: string
              enum:
                - percent
                - fixed
                - price
            amount:
              type: string
              example: '"5.0000" (Float, Float as String, Integer)'
              description: A float that specifies the value applied to the price modified
            price_list_id:
              type: integer
              example: 3
              description: >-
                If a customer group is assigned to a price list,`method` and
                `amount` are not shown. `type` and `price_list_id` are returned.
      is_group_for_guests:
        type: boolean
        description: >-
          If the groups is for guests. There can only be one customer group for
          guests at a time.
tags:
  - name: Customer Groups
  - name: Customer Groups Count
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Customers | modify | `store_v2_customers` |

      |  Customers | read-only | `store_v2_customers_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Customers | modify | `store_v2_customers` |

      |  Customers | read-only | `store_v2_customers_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Token: []
  - X-Auth-Client: []
parameters:
  customer_id:
    name: customer_id
    in: path
    type: integer
    required: true
    description: Id of the customer
  customer_group_id:
    name: customer_group_id
    in: path
    type: integer
    required: true
    description: Id of the customer group
  customer_address_id:
    name: customer_address_id
    in: path
    type: integer
    description: Id of the customer address.
    required: true
  is_group_for_guests:
    name: is_group_for_guests
    in: query
    type: boolean
    description: >-
      If the groups is for guests. There can only be one customer group for
      guests at a time.
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
responses:
  customerGroup_Resp:
    description: ''
    schema:
      $ref: '#/definitions/customerGroup_Full'
    examples:
      application/json:
        id: 2
        name: 5% Discount
        is_default: false
        category_access:
          type: specific
          categories:
            - 18
            - 19
            - 23
            - 34
        discount_rules:
          - type: all
            method: percent
            amount: '5.0000'
        is_group_for_guests: true
  customerGroupCollection_Resp:
    description: ''
    schema:
      type: array
      items:
        $ref: '#/definitions/customerGroup_Full'
    examples:
      application/json:
        - id: 1
          name: B2B
          is_default: false
          category_access:
            type: all
          discount_rules:
            - type: price_list
              price_list_id: 1
        - id: 2
          name: 5% Discount
          is_default: false
          category_access:
            type: specific
            categories:
              - 18
              - 19
              - 23
              - 34
          discount_rules:
            - type: all
              method: percent
              amount: '5.0000'
          is_group_for_guests: true
  customerGroupCount_Resp:
    description: ''
    schema:
      $ref: '#/definitions/count_Full'
    examples:
      application/json:
        count: 27
