swagger: '2.0'
info:
  version: 3.0.0
  title: Order Notification Settings
  description: >-
    Order notification settings determine whether a store owner will receive an
    email when a customer places a new order, and where these notifications are
    sent. The Order Notifications resource lets you manage the email addresses
    where a store will send order notifications and forward order invoices. You
    can also manage these settings for specific sales
    [Channels](https://developer.bigcommerce.com/api-reference/cart-checkout/channels-listings-api)
    with this resource. 


    **On This Page**

    - [Authentication](#authentication)

    - [OAuth Scopes](#oauth-scopes)

    - [Additional Information](#additional-information)

    ---

    ## Authentication

    You can authenticate requests by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v3/orders/settings

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```

    You can obtain the `client_id` and `access_token` using either of the
    following methods:

    - [Creating API
    account](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-store-api-credentials)

    - [Installing an app in the BigCommerce control
    panel](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-app-api-credentials)

    ---


    ## OAuth Scopes

    Scope limits ability to read or modify data. To interact with the Order
    Notification Settings resource, set the scope to the minimum level needed to
    accomplish your specific task. 


    |  **UI Name** | **Permission** | **Parameter** |

    | --- | --- | --- |

    |  Information & Settings | modify | `store_v2_information` |

    |  Information & Settings | read-only | `store_v2_information_read_only` |


    For more information on OAuth Scopes, see the [REST API
    Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes)
    page.


    ---


    ## Additional Information


    **Related API Resources**

    - [Channels and Listings](https://developer.bigcommerce.com/api-reference)

    - [Sites and
    Routes](https://developer.bigcommerce.com/api-reference/cart-checkout/sites-routes-api)


    **Knowledge Base**

    - [Order
    Notifications](https://support.bigcommerce.com/s/article/Order-Notifications)
  contact:
    email: support@bigcommerce.com
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
  termsOfService: 'https://www.bigcommerce.com/terms/'
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /orders/settings:
    get:
      description: Get global order notification settings
      summary: Get Global Order Notification Settings
      tags:
        - Global Settings
      operationId: GetGlobalordersettings
      deprecated: false
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrdersSettingsResponse'
          headers: {}
          examples:
            application/json:
              data:
                notifications:
                  order_placed:
                    email_addresses:
                      - jill@myemail.com
                      - joe@myemail.com
                  forward_invoice:
                    email_addresses: []
              meta: {}
        '400':
          description: Bad request. Authentication Required.
          schema:
            $ref: '#/definitions/ErrorResponse404'
    put:
      description: Update global order notification settings
      summary: Update Global Order Notification Settings
      tags:
        - Global Settings
      operationId: Updateglobalordersettings
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/GlobalOrderSettings'
          x-examples:
            application/json:
              notifications:
                order_placed:
                  email_addresses:
                    - jill@myemail.com
                    - joe@myemail.com
                forward_invoice:
                  email_addresses: []
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrdersSettingsResponse'
          headers: {}
        '400':
          description: Bad request. Authentication Required.
          schema:
            $ref: '#/definitions/ErrorResponse404'
        '422':
          description: >-
            Order settings data is not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse404'
  '/orders/settings/channel/{channel_id}':
    get:
      description: Get order notification settings for a specific channel
      summary: 'Get Channel Order Notification Settings '
      tags:
        - Channel Settings
      operationId: Getordersettingsforaspecificchannel
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: channel_id
          in: path
          required: true
          type: integer
          format: int32
          minimum: 1
          exclusiveMinimum: false
          description: Channel Id
        - in: body
          name: body
          schema:
            type: object
            properties: {}
          x-examples:
            application/json: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrdersSettingsChannelResponse'
          headers: {}
          examples:
            No Channel Override:
              data:
                notifications:
                  order_placed:
                    email_addresses: null
                  forward_invoice:
                    email_addresses: null
              meta: {}
            Channel Override:
              data:
                notifications:
                  order_placed:
                    email_addresses:
                      - fred@myemail.com
                  forward_invoice:
                    email_addresses:
                      - fred@myemail.com
              meta: {}
        '400':
          description: Bad request. Authentication Required.
          schema:
            $ref: '#/definitions/ErrorResponse404'
    put:
      description: Update order notification settings for a specific channel
      summary: Update Channel Order Notification Settings
      tags:
        - Channel Settings
      operationId: Updateordersettingsforaspecificchannel
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: channel_id
          in: path
          required: true
          type: integer
          format: int32
          minimum: 1
          exclusiveMinimum: false
          description: Channel Id
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/ChannelOrderSettings'
          x-examples:
            Override Global Settings:
              notifications:
                order_placed:
                  email_addresses:
                    - fred@myemail.com
                forward_invoice:
                  email_addresses:
                    - fred@myemail.com
            Disable Channel Override: |
              {
                  "notifications": {
                      "order_placed": {
                          "email_addresses": null
                      },
                  }
              }
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrdersSettingsChannelResponse'
          headers: {}
          examples:
            application/json:
              data:
                notifications:
                  order_placed:
                    email_addresses: null
                  forward_invoice:
                    email_addresses:
                      - fred@myemail.com
              meta: {}
        '400':
          description: Bad request. Authentication Required.
          schema:
            $ref: '#/definitions/ErrorResponse404'
        '422':
          description: >-
            Order settings data is not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse404'
definitions:
  GlobalOrderSettings:
    title: GlobalOrderSettings
    type: object
    properties:
      notifications:
        $ref: '#/definitions/Notifications'
  ChannelOrderSettings:
    title: ChannelOrderSettings
    type: object
    properties:
      notifications:
        $ref: '#/definitions/Notifications1'
  ErrorResponse404:
    title: ErrorResponse404
    type: object
    properties:
      schema:
        $ref: '#/definitions/ErrorResponse'
  ErrorResponse:
    title: ErrorResponse
    type: object
    properties:
      status:
        description: The HTTP status code.
        type: integer
        format: int32
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      errors:
        type: object
  BaseError:
    title: BaseError
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: The HTTP status code.
        type: integer
        format: int32
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
  ForwardInvoice:
    title: ForwardInvoice
    description: Global order invoice forward settings.
    type: object
    properties:
      email_addresses:
        description: >-
          Email addresses order invoices will be forwarded to. Empty array
          disables forwarding order invoices. Not nullable.
        type: array
        items:
          type: string
  ForwardInvoice1:
    title: ForwardInvoice1
    description: Channel order invoice forward settings.
    type: object
    properties:
      email_addresses:
        description: >-
          Email addresses channel order invoices will be forwarded to. If null
          will fall back to global value. Empty array disables forwarding order
          invoices for channel.
        type: array
        items:
          type: string
  Notifications:
    title: Notifications
    description: Global notification settings.
    type: object
    properties:
      order_placed:
        $ref: '#/definitions/OrderPlaced'
      forward_invoice:
        $ref: '#/definitions/ForwardInvoice'
  Notifications1:
    title: Notifications1
    description: Channel notification settings.
    type: object
    properties:
      order_placed:
        $ref: '#/definitions/OrderPlaced1'
      forward_invoice:
        $ref: '#/definitions/ForwardInvoice1'
  OrderPlaced:
    title: OrderPlaced
    description: Global order notification settings.
    type: object
    properties:
      email_addresses:
        description: >-
          Email addresses order notifications will be sent to. Empty array
          disables order notifications. Not nullable.
        type: array
        items:
          type: string
  OrderPlaced1:
    title: OrderPlaced1
    description: Channel order notification settings.
    type: object
    properties:
      email_addresses:
        description: >-
          Email addresses channel order notifications will be sent to. If null
          will fall back to global value. Empty array disables order
          notifications for channel.
        type: array
        items:
          type: string
  OrdersSettingsChannelResponse:
    title: OrdersSettingsChannelResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/ChannelOrderSettings'
      meta:
        type: object
  OrdersSettingsResponse:
    title: OrdersSettingsResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/GlobalOrderSettings'
      meta:
        type: object
tags:
  - name: Global Settings
  - name: Channel Settings
    description: ''
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
