swagger: '2.0'
info:
  version: '2.0'
  title: Time
  description: >+
    The Time resource returns a timestamp of a store request at the moment the
    request is made. This resource is useful for validating API authentication
    details and testing client connections.


    **On This Page**

    - [Authentication](#authentication)

    - [OAuth Scopes](#oauth-scopes)

    - [Additional Information](#additional-information)

    ---


    ## Authentication

    You can authenticate requests by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v2/time

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```

    You can obtain the `client_id` and `access_token` using either of the
    following methods:

    - [Creating API
    account](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-store-api-credentials)

    - [Installing an app in the BigCommerce control
    panel](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-app-api-credentials)

    ---


    ## OAuth Scopes

    Scope limits ability to read or modify data. To interact with the Time
    resource, set the scope to the minimum level needed to accomplish your
    specific task. 


    | UI Name  | Permission | Parameter                     |

    |----------|------------|-------------------------------|

    | Information & Settings  | modify     | `store_v2_information`           |

    | Information & Settings | read-only  | `store_v2_information_read_only` |


    For more information on OAuth Scopes, see the [REST API
    Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes)
    page.


    ---


    ## Additional Information

    **Knowledge Base**

    - [Date & Time
    Settings](https://support.bigcommerce.com/s/article/Store-Settings#date-time)

host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /store: {}
  /time:
    get:
      description: >-
        Returns the system timestamp at the time of the request. The time
        resource is useful for validating API authentication details and testing
        client connections.
      summary: Get System Timestamp
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/timeStamp_Full'
          examples:
            application/json:
              time: 1529512970
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Time Zone
definitions:
  StoreInformation:
    title: Store Information
    type: object
    properties:
      id:
        description: Unique store identifier.
        example: store_hash
        type: string
      domain:
        description: Primary domain name.
        example: your-store-url.com
        type: string
      secure_URL:
        description: Store’s current HTTPS URL.
        example: 'https://your-store-url.com'
        type: string
      control_panel_base_url:
        type: string
        example: '"https://store-abc123.mybigcommerce.com"'
        description: The secure hostname of the control panel.
      name:
        description: Store's name.
        example: BigCommerce
        type: string
      first_name:
        description: >-
          Primary contact’s first name (as defined during the store sign-up
          process).
        example: Jane
        type: string
      last_name:
        description: >-
          Primary contact’s last name (as defined during the store sign-up
          process).
        example: Doe
        type: string
      address:
        description: Display address.
        example: BigCommerce
        type: string
      country:
        description: >-
          Country where the store is located (as defined during the store
          sign-up process).
        example: United States
        type: string
      phone:
        description: Display phone number.
        type: string
      admin_email:
        description: Email address of the store administrator/owner.
        example: janedoes@email.com
        type: string
      order_email:
        description: Email address for orders and fulfillment.
        example: orders@emai
        type: string
      timezone:
        $ref: '#/definitions/Timezone'
      language:
        description: Default language code.
        example: en
        type: string
      currency:
        description: Default currency code
        example: USD
        type: string
      currency_symbol:
        description: Default symbol for values in the currency.
        example: $
        type: string
      decimal_separator:
        description: Default decimal separator for values in the currency.
        example: .
        type: string
      thousands_separator:
        description: Default thousands separator for values in the currency.
        example: ','
        type: string
      decimal_places:
        description: Default decimal places for values in the currency.
        example: 2
        type: integer
      currency_symbol_location:
        description: Default position of the currency symbol (left or right).
        example: left
        type: string
      weight_units:
        description: Default weight units (metric or imperial).
        example: Ounces
        type: string
      dimension_units:
        description: Default dimension units (metric or imperial).
        example: Inches
        type: string
      dimension_decimal_places:
        description: The number of decimal places.
        example: 2
        type: integer
      dimension_decimal_token:
        description: The symbol that separates the whole numbers from the decimal points.
        example: .
        type: string
      'dimension_thousands_token:':
        description: The symbol used to denote thousands.
        type: string
      plan_name:
        description: Name of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      plan_level:
        description: Level of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      industry:
        description: >-
          Industry, or vertical category, in which the business operates. (As
          selected from drop-down list during the store sign-up process.)
        example: Technology
        type: string
      logo:
        type: object
        properties:
          url:
            type: string
            example: >-
              https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png"
      is_price_entered_with_tax:
        description: >-
          A Boolean value that indicates whether or not prices are entered with
          tax.
        example: false
        type: boolean
      active_comparison_modules:
        description: ''
        type: array
        items: {}
      features:
        description: |-
          + `stencil_enabled`: `true` (boolean)
              + `sitewidehttps_enabled`: `false` (boolean)
              + `facebook_catalog_id` (string)
        type: object
        properties:
          stencil_enabled:
            type: boolean
            example: true
            description: Indicates whether a store is using a Stencil theme.
          sitewidehttps_enabled:
            type: string
            example: false
            description: Indicates if there is sitewide https.
          facebook_catalog_id:
            type: string
            description: >-
              Id of the facebook catalog. If there is none, it returns an empty
              string. 
          checkout_type:
            type: string
            example: optimized
            description: >-
              What type of checkout is enabled on the store. Possible values
              returned are optimized, single (one page), single_customizable
              (one page for developers), klarna.
  Timezone:
    title: Time Zone
    type: object
    properties:
      name:
        description: >-
          a string identifying the time zone, in the format:
          <Continent-name>/<City-name>.
        example: America/Chicago
        type: string
      raw_offset:
        description: >-
          a negative or positive number, identifying the offset from UTC/GMT, in
          seconds, during winter/standard time.
        example: -21600
        type: integer
      dst_offset:
        description: >-
          "-/+" offset from UTC/GMT, in seconds, during summer/daylight saving
          time.
        example: -18000
        type: integer
      dst_correction:
        description: >-
          a boolean indicating whether this time zone observes daylight saving
          time.
        example: true
        type: boolean
      date_format:
        $ref: '#/definitions/DateFormat'
  DateFormat:
    title: Date Format
    type: object
    properties:
      display:
        description: 'string that defines dates’ display format, in the pattern: M jS Y'
        example: M jS Y
        type: string
      export:
        description: >-
          string that defines the CSV export format for orders, customers, and
          products, in the pattern: M jS Y
        example: M jS Y
        type: string
      extended_display:
        description: >-
          string that defines dates’ extended-display format, in the pattern: M
          jS Y @ g:i A.
        example: 'M jS Y @ g:i A'
        type: string
  timeStamp_Full:
    type: object
    properties:
      time:
        type: integer
        format: int64
        minimum: 0
    description: Store Time in Unix format.
    title: timeStamp_Full
tags:
  - name: Store Information
  - name: Time Zone
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Information & Settings | modify | `store_v2_information` |

      |  Information & Settings | read-only | `store_v2_information_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Information & Settings | modify | `store_v2_information` |

      |  Information & Settings | read-only | `store_v2_information_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
