swagger: '2.0'
info:
  title: Variants
  version: '3.0'
  description: >-
    The Variants resource allows you to retrieve product variations for your
    BigCommerce Catalog. It provides access to variants for multiple products in
    a single operation and enables users to create and update `Variant` objects
    in a batch.


    For more information, see
    [Variations](https://support.bigcommerce.com/s/article/Product-Options-v3#variations).


    **On This Page**

    - [Authentication](#authentication)

    - [OAuth Scopes](#oauth-scopes)

    - [Additional Information](#additional-information)

    ---


    ## Authentication

    You can authenticate requests by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v3/catalog/summary

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```

    You can obtain the `client_id` and `access_token` using either of the
    following methods:

    - [Creating API
    account](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-store-api-credentials)

    - [Installing an app in the BigCommerce control
    panel](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#obtaining-app-api-credentials)

    ---


    ## OAuth Scopes

    Scope limits ability to read or modify data. To interact with the Variants
    resource, set the scope to the minimum level needed to accomplish your
    specific task. 


    | UI Name  | Permission | Parameter                     |

    |----------|------------|-------------------------------|

    | Products | modify     | `store_v2_products`           |

    | Products | read-only  | `store_v2_products_read_only` |


    For more information on OAuth Scopes, see the [REST API
    Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes)
    page.


    ---


    ## Additional Information


    **Knowledge Base**

    -
    [Variations](https://support.bigcommerce.com/s/article/Product-Options-v3#variations)


    **Related API Resources**

    - [Product
    Variants](https://developer.bigcommerce.com/api-reference/store-management/catalog/product-variants)
  termsOfService: 'https://www.bigcommerce.com/terms/'
  license:
    name: ''
  contact:
    name: BigCommerce Developer Documentation
    url: 'https://developer.bigcommerce.com/'
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
tags:
  - name: Variants
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /catalog/variants:
    get:
      description: >-
        Returns a list of all variants in your catalog. Optional parameters can
        be passed in.
      operationId: getVariants
      parameters:
        - name: id
          description: |
            Filter items by id.
          required: false
          in: query
          type: integer
        - name: sku
          description: |
            Filter items by sku.
          required: false
          in: query
          type: string
        - name: page
          description: Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: >-
            Controls the number of items per page in a limited (paginated) list
            of products.
          required: false
          in: query
          type: integer
        - name: include_fields
          description: >-
            Fields to include, in a comma-separated list. The ID and the
            specified fields will be returned.
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: >-
            Fields to exclude, in a comma-separated list. The specified fields
            will be excluded from a response. The ID cannot be excluded.
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: product_id
          in: query
          type: string
          description: >-
            A comma-separated list of ids of Products whose prices were
            requested. For example:

            `?product_id=:id`

            `?product_id:in=77,80,81`
      responses:
        '200':
          $ref: '#/responses/VariantCollectionResponse'
        '404':
          description: The resource was not found.
          schema:
            $ref: '#/definitions/errorNotFound'
      summary: Get All Variants
      tags:
        - Variants
    put:
      tags:
        - Variants
        - Catalog
      description: |-
        Creates or updates a batch of `Variant` objects. 
        The current limit is `50` variants. This limit is subject to change.
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: array
            title: Variants Collection Put
            items:
              $ref: '#/definitions/variant_Put'
          x-examples:
            application/json:
              - cost_price: 0
                price: 47.99
                sale_price: null
                retail_price: 49.99
                weight: null
                width: null
                height: null
                depth: null
                is_free_shipping: false
                fixed_cost_shipping_price: null
                purchasing_disabled: false
                purchasing_disabled_message: This item not available at this time.
                upc: ''
                inventory_level: 10
                inventory_warning_level: 5
                bin_picking_number: '123'
                id: 1
              - cost_price: 0
                price: 47.99
                sale_price: null
                retail_price: 49.99
                weight: null
                width: null
                height: null
                depth: null
                is_free_shipping: false
                fixed_cost_shipping_price: null
                purchasing_disabled: false
                purchasing_disabled_message: This item not available at this time.
                upc: ''
                inventory_level: 10
                inventory_warning_level: 5
                bin_picking_number: '124'
                id: 2
              - cost_price: 0
                price: 48.99
                sale_price: null
                retail_price: 50.99
                weight: null
                width: null
                height: null
                depth: null
                is_free_shipping: false
                fixed_cost_shipping_price: null
                purchasing_disabled: false
                purchasing_disabled_message: This item not available at this time.
                upc: ''
                inventory_level: 8
                inventory_warning_level: 5
                bin_picking_number: '125'
                id: 3
              - cost_price: 0
                price: 48.99
                sale_price: null
                retail_price: 50.99
                weight: null
                width: null
                height: null
                depth: null
                is_free_shipping: true
                fixed_cost_shipping_price: null
                purchasing_disabled: false
                purchasing_disabled_message: This item not available at this time.
                upc: ''
                inventory_level: 7
                inventory_warning_level: 5
                bin_picking_number: '126'
                id: 4
              - cost_price: 0
                price: 49.99
                sale_price: null
                retail_price: 51.99
                weight: null
                width: null
                height: null
                depth: null
                is_free_shipping: true
                fixed_cost_shipping_price: null
                purchasing_disabled: false
                purchasing_disabled_message: This item not available at this time.
                upc: ''
                inventory_level: 7
                inventory_warning_level: 4
                bin_picking_number: '127'
                id: 5
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          $ref: '#/responses/VariantCollectionResponse'
        '413':
          description: ''
          examples:
            application/json:
              errors: {}
              status: 413
              title: >-
                The request payload is too large. The maximum items allowed in
                the array is 50
              type: >-
                https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
        '422':
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
          schema:
            description: |
              Errors during batch usage for the BigCommerce API.
            type: object
            title: Variants Batch Error Response
            properties:
              batch_errors:
                type: array
                items:
                  $ref: '#/definitions/errorResponse_Full'
      summary: Update Variants (Batch)
      operationId: updateVariantsBatch
      consumes:
        - application/json
      produces:
        - application/json
parameters:
  FilterTemplateFileParam:
    in: query
    name: template_file
    description: 'The template file, for example: `pages/home`.'
    type: string
    required: false
  FilterIdParam:
    name: id
    description: |
      Filter items by id.
    required: false
    in: query
    type: integer
  FilterSkuParam:
    name: sku
    description: |
      Filter items by sku.
    required: false
    in: query
    type: string
  FilterNameParam:
    name: name
    description: |
      Filter items by name.
    required: false
    in: query
    type: string
  FilterEmailParam:
    name: email
    description: |
      Filter items by email.
    required: false
    in: query
    type: string
  FilterSourceParam:
    name: source
    description: |
      Filter items by source.
    required: false
    in: query
    type: string
  FilterOrderIdParam:
    name: order_id
    description: |
      Filter items by order_id.
    required: false
    in: query
    type: integer
  FilterUpcParam:
    name: upc
    description: |
      Filter items by upc.
    required: false
    in: query
    type: string
  FilterPriceParam:
    name: price
    description: |
      Filter items by price.
    required: false
    in: query
    type: number
  FilterSalePriceParam:
    name: sale_price
    description: |
      Filter items by sale_price.
    required: false
    in: query
    type: number
  FilterRetailPriceParam:
    name: retail_price
    description: |
      Filter items by retail_price.
    required: false
    in: query
    type: number
  FilterMapPriceParam:
    name: map_price
    description: |
      Filter items by map_price.
    required: false
    in: query
    type: number
  FilterCalculatedPriceParam:
    name: calculated_price
    description: |
      Filter items by calculated_price.
    required: false
    in: query
    type: number
  FilterWeightParam:
    name: weight
    description: |
      Filter items by weight.
    required: false
    in: query
    type: number
  FilterConditionParam:
    name: condition
    description: |
      Filter items by condition.
    required: false
    in: query
    type: string
    enum:
      - new
      - used
      - refurbished
  FilterBrandIdParam:
    name: brand_id
    description: |
      Filter items by brand_id.
    required: false
    in: query
    type: integer
  FilterDateModifiedParam:
    name: date_modified
    description: >-
      Filter items by date_modified. For example
      `v3/catalog/products?date_modified:min=2018-06-15`
    required: false
    in: query
    type: string
    format: date-time
  FilterDateCreatedParam:
    name: date_created
    description: |
      Filter items by date_created.
    required: false
    in: query
    type: string
    format: date-time
  FilterDateLastImportedParam:
    name: date_last_imported
    description: >-
      Filter items by date_last_imported. For example
      `v3/catalog/products?date_last_imported:min=2018-06-15`
    required: false
    in: query
    type: string
    format: date-time
  FilterIsVisibleParam:
    name: is_visible
    description: 'Filter items by if visible on the storefront. '
    required: false
    in: query
    type: boolean
  FilterIsFeaturedParam:
    name: is_featured
    description: |
      Filter items by is_featured.
    required: false
    in: query
    type: integer
  FilterIsFreeShippingParam:
    name: is_free_shipping
    description: |
      Filter items by is_free_shipping.
    required: false
    in: query
    type: integer
  FilterInventoryLevelParam:
    name: inventory_level
    description: |
      Filter items by inventory_level.
    required: false
    in: query
    type: integer
  FilterInventoryLowParam:
    name: inventory_low
    description: |
      Filter items by inventory_low. Values: 1, 0.
    required: false
    in: query
    type: integer
  FilterOutOfStockParam:
    name: out_of_stock
    description: >
      Filter items by out_of_stock. To enable the filter, pass
      `out_of_stock`=`1`.
    required: false
    in: query
    type: integer
  FilterTotalSoldParam:
    name: total_sold
    description: |
      Filter items by total_sold.
    required: false
    in: query
    type: integer
  ProductFilterTypeParam:
    name: type
    description: 'Filter items by type: `physical` or `digital`.'
    required: false
    in: query
    type: string
    enum:
      - digital
      - physical
  FilterCategoriesParam:
    name: categories
    description: |-
      Filter items by categories.
       If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.
    required: false
    in: query
    type: integer
  FilterKeywordParam:
    name: keyword
    description: 'Filter items by keywords. eg. new, towel, bath'
    required: false
    in: query
    type: string
  ProductFilterKeywordParam:
    name: keyword
    description: >
      Filter items by keywords found in the `name`, `description`, or `sku`
      fields, or in the brand name.
    required: false
    in: query
    type: string
  ProductFilterKeywordContextParam:
    name: keyword_context
    description: Set context for a product search.
    required: false
    in: query
    type: string
    enum:
      - shopper
      - merchant
  FilterStatusParam:
    name: status
    description: |
      Filter items by status.
    required: false
    in: query
    type: integer
  FilterIncludeParam:
    name: include
    description: >-
      Sub-resources to include on a product, in a comma-separated list. If
      `options` or `modifiers` is used, results are limited to 10 per page.
    required: false
    in: query
    type: string
    enum:
      - variants
      - images
      - custom_fields
      - bulk_pricing_rules
      - primary_image
      - modifiers
      - options
      - videos
  FilterIncludeFieldsParam:
    name: include_fields
    description: >-
      Fields to include, in a comma-separated list. The ID and the specified
      fields will be returned.
    required: false
    in: query
    type: string
  FilterExcludeFieldsParam:
    name: exclude_fields
    description: >-
      Fields to exclude, in a comma-separated list. The specified fields will be
      excluded from a response. The ID cannot be excluded.
    required: false
    in: query
    type: string
  FilterParentIdParam:
    name: parent_id
    description: >-
      Filter items by parent_id. If the category is a child or sub category it
      can be filtered with the parent_id. 
    required: false
    in: query
    type: integer
  FilterPageTitleParam:
    name: page_title
    description: |
      Filter items by page_title.
    required: false
    in: query
    type: string
  FilterAvailabilityParam:
    name: availability
    description: |
      Filter items by availability. Values are: available, disabled, preorder.
    required: false
    in: query
    type: string
    enum:
      - available
      - disabled
      - preorder
  FilterPriceListIdParam:
    name: price_list_id
    description: >-
      This filter returns the product pricing with the *Price List* pricing
      instead. To use: 

      `?price_list_id=1`.

      If there are variants use:

      `?price_list_id=1&include=variants`
    required: false
    in: query
    type: integer
  FilterProductIdParam:
    type: string
    name: product_id
    in: query
    required: false
    description: |
      A comma-separated list of ids of `Product`s whose prices were requested.
  FilterVariantIdParam:
    type: integer
    name: variant_id
    in: query
    required: false
    description: |
      The ID of the `Variant` whose prices were requested.
  FilterCurrencyParam:
    name: currency
    description: |
      Filter items by currency.
    required: false
    in: query
    type: string
    format: ISO-4217
  PageParam:
    name: page
    description: Specifies the page number in a limited (paginated) list of products.
    required: false
    in: query
    type: integer
  LimitParam:
    name: limit
    description: >-
      Controls the number of items per page in a limited (paginated) list of
      products.
    required: false
    in: query
    type: integer
  DirectionParam:
    name: direction
    description: |
      Sort direction. Acceptable values are: `asc`, `desc`.
    required: false
    in: query
    type: string
    enum:
      - asc
      - desc
  ProductSortParam:
    name: sort
    description: |
      Field name to sort by.
    required: false
    in: query
    type: string
    enum:
      - id
      - name
      - sku
      - price
      - date_modified
      - date_last_imported
      - inventory_level
      - is_visible
      - total_sold
  ProductIdParam:
    name: product_id
    in: path
    description: |
      The ID of the `Product` to which the resource belongs.
    required: true
    type: integer
  ReviewIdParam:
    name: review_id
    description: |
      The ID of the `review` that is being operated on.
    required: true
    in: path
    type: integer
  ImageIdParam:
    name: image_id
    description: |
      The ID of the `Image` that is being operated on.
    required: true
    in: path
    type: integer
  VideoIdParam:
    name: id
    description: The BigCommerce ID of the `Video`
    required: true
    in: path
    type: integer
  ComplexRuleIdParam:
    name: complex_rule_id
    description: |
      The ID of the `ComplexRule`.
    required: true
    in: path
    type: integer
  ConfigurableFieldIdParam:
    name: configurable_field_id
    description: |
      The ID of the `ConfigurableField`.
    required: true
    in: path
    type: integer
  CustomFieldIdParam:
    name: custom_field_id
    description: |
      The ID of the `CustomField`.
    required: true
    in: path
    type: integer
  BulkPricingRuleIdParam:
    name: bulk_pricing_rule_id
    description: |
      The ID of the `BulkPricingRule`.
    required: true
    in: path
    type: integer
  ModifierIdParam:
    name: modifier_id
    description: |
      The ID of the `Modifier`.
    required: true
    in: path
    type: integer
  ValueIdParam:
    name: value_id
    description: |
      The ID of the `Modifier/Option Value`.
    required: true
    in: path
    type: integer
  OptionIdParam:
    name: option_id
    description: |
      The ID of the `Option`.
    required: true
    in: path
    type: integer
  VariantIdParam:
    name: variant_id
    in: path
    description: |
      ID of the variant on a product, or on an associated Price List Record.
    required: true
    type: integer
  CategoryIdParam:
    name: category_id
    in: path
    description: |
      The ID of the `Category` to which the resource belongs.
    required: true
    type: integer
  BrandIdParam:
    name: brand_id
    in: path
    description: |
      The ID of the `Brand` to which the resource belongs.
    required: true
    type: integer
  MetafieldIdParam:
    name: metafield_id
    in: path
    description: |
      The ID of the `Metafield`.
    required: true
    type: integer
  MetafieldKeyParam:
    name: key
    in: query
    description: |
      Filter based on a metafield's key.
    required: false
    type: string
  MetafieldNamespaceParam:
    name: namespace
    in: query
    description: Filter based on a metafield's namespace.
    required: false
    type: string
  ImageFileParam:
    name: image_file
    description: |
      An image file. Supported MIME types include GIF, JPEG, and PNG.
    required: true
    in: formData
    type: file
  OrderIdParam:
    name: order_id
    in: path
    description: |
      The ID of the `Order` to which the transactions belong.
    required: true
    type: integer
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
  product_id:
    name: product_id
    in: query
    type: string
    description: >-
      A comma-separated list of ids of Products whose prices were requested. For
      example:

      `?product_id=:id`

      `?product_id:in=77,80,81`
definitions:
  metaCollection_Full:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: metaCollection_Full
    properties:
      pagination:
        $ref: '#/definitions/pagination_Full'
  pagination_Full:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: pagination_Full
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
        example: 36
      count:
        type: integer
        description: |
          Total number of items in the collection response.
        example: 36
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        example: 50
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
        example: 1
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
        example: 1
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
            example: '?page=1&limit=50'
          next:
            type: string
            description: |
              Link to the next page returned in the response.
  metaEmpty_Full:
    type: object
    description: Empty meta object; may be used later.
    title: metaEmpty_Full
  errorResponse_Full:
    allOf:
      - $ref: '#/definitions/error_Base'
      - type: object
        properties:
          errors:
            $ref: '#/definitions/detailedErrors'
    title: errorResponse_Full
  error_Base:
    type: object
    description: |
      Error payload for the BigCommerce API.
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: error_Base
  errorNotFound:
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: errorNotFound
  errorNoContent:
    description: No-content response for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          204 HTTP status code.
        type: integer
      title:
        description: The error title describing the situation.
        type: string
      type:
        type: string
      instance:
        type: string
    title: errorNoContent
  detailedErrors:
    type: object
    title: detailedErrors
    properties:
      additionalProperties:
        type: string
  variant_Base:
    type: object
    title: variant_Base
    properties:
      cost_price:
        type: number
        format: double
        description: The cost price of the variant. Not affected by Price List prices.
        x-nullable: true
        minimum: 0
      price:
        type: number
        format: double
        description: >-
          This variant's base price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is `null`, the product's default price (set in
          the Product resource's `price` field) will be used as the base price.
        x-nullable: true
        minimum: 0
      sale_price:
        type: number
        format: double
        description: >-
          This variant's sale price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is null, the product's sale price (set in the
          Product resource's `price` field) will be used as the sale price.
        x-nullable: true
        minimum: 0
      retail_price:
        type: number
        format: double
        description: >-
          This variant's retail price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is null, the product's retail price (set in the
          Product resource's `price` field) will be used as the retail price.
        x-nullable: true
        minimum: 0
      weight:
        type: number
        format: double
        description: >-
          This variant's base weight on the storefront. If this value is null,
          the product's default weight (set in the Product resource's weight
          field) will be used as the base weight.
        x-nullable: true
        minimum: 0
      width:
        type: number
        format: double
        description: >
          Width of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default width (set in
          the Product resource's `width` field) will be used as the base width.
        x-nullable: true
        minimum: 0
      height:
        type: number
        format: double
        description: >
          Height of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default height (set in
          the Product resource's `height` field) will be used as the base
          height.
        x-nullable: true
        minimum: 0
      depth:
        type: number
        format: double
        description: >
          Depth of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default depth (set in
          the Product resource's `depth` field) will be used as the base depth.
        x-nullable: true
        minimum: 0
      is_free_shipping:
        type: boolean
        description: >
          Flag used to indicate whether the variant has free shipping. If
          `true`, the shipping cost for the variant will be zero.
      fixed_cost_shipping_price:
        type: number
        format: double
        description: >
          A fixed shipping cost for the variant. If defined, this value will be
          used during checkout instead of normal shipping-cost calculation.
        x-nullable: true
        minimum: 0
      purchasing_disabled:
        type: boolean
        description: 'If `true`, this variant will not be purchasable on the storefront.'
      purchasing_disabled_message:
        type: string
        description: >-
          If `purchasing_disabled` is `true`, this message should show on the
          storefront when the variant is selected.
        minLength: 0
        maxLength: 255
      upc:
        type: string
        description: >-
          The UPC code used in feeds for shopping comparison sites and external
          channel integrations.
        x-nullable: true
      inventory_level:
        type: integer
        description: >-
          Inventory level for the variant, which is used when the product's
          inventory_tracking is set to `variant`.
        x-nullable: true
      inventory_warning_level:
        type: integer
        description: >-
          When the variant hits this inventory level, it is considered low
          stock.
        x-nullable: true
      bin_picking_number:
        type: string
        description: Identifies where in a warehouse the variant is located.
        x-nullable: true
        minLength: 0
        maxLength: 255
    description: |-
      Variant properties used on:
      * `/catalog/products/variants`
      * `/catalog/variants`
  variantCollection_Put:
    type: array
    title: variantCollection_Put
    items:
      $ref: '#/definitions/productVariant_Full'
  variant_Put:
    description: |
      The model for a PUT to update variants on a product.
    allOf:
      - $ref: '#/definitions/variant_Base'
      - type: object
        properties:
          id:
            type: integer
            x-required:
              - put
    title: variant_Put
  productVariant_Base:
    type: object
    description: Common Variant properties.
    title: productVariant_Base
    properties:
      cost_price:
        type: number
        format: double
        description: The cost price of the variant. Not affected by Price List prices.
        x-nullable: true
        minimum: 0
      price:
        type: number
        format: double
        description: >-
          This variant's base price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is `null`, the product's default price (set in
          the Product resource's `price` field) will be used as the base price.
        x-nullable: true
        minimum: 0
      sale_price:
        type: number
        format: double
        description: >-
          This variant's sale price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is null, the product's sale price (set in the
          Product resource's `price` field) will be used as the sale price.
        x-nullable: true
        minimum: 0
      retail_price:
        type: number
        format: double
        description: >-
          This variant's retail price on the storefront. If a Price List ID is
          used, the Price List value will be used. If a Price List ID is not
          used, and this value is null, the product's retail price (set in the
          Product resource's `price` field) will be used as the retail price.
        x-nullable: true
        minimum: 0
      weight:
        type: number
        format: double
        description: >-
          This variant's base weight on the storefront. If this value is null,
          the product's default weight (set in the Product resource's weight
          field) will be used as the base weight.
        x-nullable: true
        minimum: 0
      width:
        type: number
        format: double
        description: >
          Width of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default width (set in
          the Product resource's `width` field) will be used as the base width.
        x-nullable: true
        minimum: 0
      height:
        type: number
        format: double
        description: >
          Height of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default height (set in
          the Product resource's `height` field) will be used as the base
          height.
        x-nullable: true
        minimum: 0
      depth:
        type: number
        format: double
        description: >
          Depth of the variant, which can be used when calculating shipping
          costs. If this value is `null`, the product's default depth (set in
          the Product resource's `depth` field) will be used as the base depth.
        x-nullable: true
        minimum: 0
      is_free_shipping:
        type: boolean
        description: >
          Flag used to indicate whether the variant has free shipping. If
          `true`, the shipping cost for the variant will be zero.
      fixed_cost_shipping_price:
        type: number
        format: double
        description: >
          A fixed shipping cost for the variant. If defined, this value will be
          used during checkout instead of normal shipping-cost calculation.
        x-nullable: true
        minimum: 0
      purchasing_disabled:
        type: boolean
        description: 'If `true`, this variant will not be purchasable on the storefront.'
      purchasing_disabled_message:
        type: string
        description: >-
          If `purchasing_disabled` is `true`, this message should show on the
          storefront when the variant is selected.
        minLength: 0
        maxLength: 255
      upc:
        type: string
        description: >-
          The UPC code used in feeds for shopping comparison sites and external
          channel integrations.
        x-nullable: true
      inventory_level:
        type: integer
        description: >-
          Inventory level for the variant, which is used when the product's
          inventory_tracking is set to `variant`.
        x-nullable: true
      inventory_warning_level:
        type: integer
        description: >-
          When the variant hits this inventory level, it is considered low
          stock.
        x-nullable: true
      bin_picking_number:
        type: string
        description: Identifies where in a warehouse the variant is located.
        x-nullable: true
        minLength: 0
        maxLength: 255
  productVariantOptionValue_Base:
    title: productVariantOptionValue_Base
    type: object
    properties:
      id:
        type: integer
      option_id:
        type: integer
    description: Common Product Variant Option properties.
  productVariantOptionValue_Full:
    title: productVariantOptionValue_Full
    allOf:
      - type: object
        properties:
          option_display_name:
            type: string
            description: |
              The name of the option.
            x-required:
              - post
            minLength: 1
            maxLength: 255
            example: Color
          label:
            type: string
            description: |
              The label of the option value.
            x-required:
              - post
            minLength: 1
            maxLength: 255
            example: Beige
      - $ref: '#/definitions/productVariantOptionValue_Base'
  productVariant_Full:
    allOf:
      - $ref: '#/definitions/productVariant_Base'
      - type: object
        properties:
          id:
            type: integer
          product_id:
            type: integer
          sku:
            type: string
          sku_id:
            type: integer
            description: >-
              Read-only reference to v2 API's SKU ID. Null if it is a base
              variant.
            x-nullable: true
          option_values:
            type: array
            description: >-
              Array of option and option values IDs that make up this variant.
              Will be empty if the variant is the product's base variant.
            items:
              $ref: '#/definitions/productVariantOptionValue_Full'
          calculated_price:
            type: number
            format: double
            description: >
              The price of the variant as seen on the storefront. This price
              takes into account `sale_price` and any price adjustment rules
              that are applicable to this variant.
    title: productVariant_Full
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Products | modify | `store_v2_products` |

      |  Products | read-only | `store_v2_products_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Products | modify | `store_v2_products` |

      |  Products | read-only | `store_v2_products_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
responses:
  VariantCollectionResponse:
    description: ''
    schema:
      type: object
      title: Variant Collection Response
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/productVariant_Full'
        meta:
          $ref: '#/definitions/metaCollection_Full'
    examples:
      application/json:
        data:
          - id: 382
            product_id: 192
            sku: SMIT
            sku_id: 348
            price: 10
            calculated_price: 10
            sale_price: {}
            retail_price: {}
            map_price: {}
            weight: {}
            calculated_weight: 2
            width: {}
            height: {}
            depth: {}
            is_free_shipping: false
            fixed_cost_shipping_price: {}
            purchasing_disabled: false
            purchasing_disabled_message: ''
            image_url: ''
            cost_price: 0
            upc: ''
            mpn: ''
            gtin: ''
            inventory_level: 0
            inventory_warning_level: 0
            bin_picking_number: ''
            option_values:
              - id: 174
                label: Beige
                option_id: 220
                option_display_name: Color
          - id: 383
            product_id: 192
            sku: SMIT-1
            sku_id: 349
            price: {}
            calculated_price: 25
            sale_price: {}
            retail_price: {}
            map_price: {}
            weight: {}
            calculated_weight: 1
            width: {}
            height: {}
            depth: {}
            is_free_shipping: false
            fixed_cost_shipping_price: {}
            purchasing_disabled: false
            purchasing_disabled_message: ''
            image_url: ''
            cost_price: {}
            upc: ''
            mpn: ''
            gtin: ''
            inventory_level: 0
            inventory_warning_level: 0
            bin_picking_number: ''
            option_values:
              - id: 175
                label: Grey
                option_id: 220
                option_display_name: Color
          - id: 384
            product_id: 192
            sku: SMIT-2
            sku_id: 350
            price: {}
            calculated_price: 25
            sale_price: {}
            retail_price: {}
            map_price: {}
            weight: {}
            calculated_weight: 1
            width: {}
            height: {}
            depth: {}
            is_free_shipping: false
            fixed_cost_shipping_price: {}
            purchasing_disabled: false
            purchasing_disabled_message: ''
            image_url: ''
            cost_price: {}
            upc: ''
            mpn: ''
            gtin: ''
            inventory_level: 0
            inventory_warning_level: 0
            bin_picking_number: ''
            option_values:
              - id: 176
                label: Black
                option_id: 220
                option_display_name: Color
        meta:
          pagination:
            total: 3
            count: 3
            per_page: 50
            current_page: 1
            total_pages: 1
            links:
              current: '?page=1&limit=50'
  VariantResponse:
    description: ''
    schema:
      type: object
      title: Variant Response
      properties:
        data:
          $ref: '#/definitions/productVariant_Full'
        meta:
          $ref: '#/definitions/metaEmpty_Full'
    examples:
      application/json:
        data:
          id: 384
          product_id: 192
          sku: SMIT-2
          sku_id: 350
          price: {}
          calculated_price: 25
          sale_price: {}
          retail_price: {}
          map_price: {}
          weight: {}
          calculated_weight: 1
          width: {}
          height: {}
          depth: {}
          is_free_shipping: false
          fixed_cost_shipping_price: {}
          purchasing_disabled: false
          purchasing_disabled_message: ''
          image_url: ''
          cost_price: {}
          upc: ''
          mpn: ''
          gtin: ''
          inventory_level: 0
          inventory_warning_level: 0
          bin_picking_number: ''
          option_values:
            - id: 176
              label: Black
              option_id: 220
              option_display_name: Color
        meta: {}
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
