openapi: 3.0.3
info:
  title: Catalog
  description: |-
    The Categories API allows you to manage categories. To learn more about catalog resources see [Catalog Overview](/api-docs/store-management/catalog/catalog-overview).

    - [Authentication](#authentication)
    - [Resources](#resources)

    ## Authentication
    Requests can be authenticated by sending an `access_token` via `X-Auth-Token` HTTP header:

    ```http
    GET /stores/{$$.env.store_hash}/v3/catalog/summary
    host: api.bigcommerce.com
    Accept: application/json
    X-Auth-Token: {access_token}
    ```

    |Header|Parameter|Description|
    |-|-|-|
    |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

    ### OAuth Scopes
    | UI Name  | Permission | Parameter                     |
    |----------|------------|-------------------------------|
    | Products | modify     | `store_v2_products`           |
    | Products | read-only  | `store_v2_products_read_only` |

    For more information on OAuth Scopes and Authenticating BigCommerce APIs, see [Authentication](/api-docs/getting-started/authentication).

    ## Resources

    ### Webhooks
    * [Category](/api-docs/store-management/webhooks/events#category)

    ### Related Endpoints
    * [Catalog API](/api-reference/store-management/catalog)

    Manage channel-specific categories.

    Create and manage category trees for BigCommerce stores.

    Create and manage products assignments.
  termsOfService: ''
  version: ''
servers:
  - url: 'https://api.bigcommerce.com'
security:
  - X-Auth-Token: []
tags:
  - name: Brands
  - name: Brand Images
  - name: Brand Metafields
  - name: Category
  - name: Categories
  - name: Categories Batch
  - name: Category Metafields
  - name: Category Images
  - name: Product Sort Order
  - name: Products
  - name: Product Bulk Pricing Rules
  - name: Product Complex Rules
  - name: Product Custom Fields
  - name: Product Images
  - name: Product Metafields
  - name: Product Modifiers
  - name: Product Modifier Values
  - name: Product Modifier Images
  - name: Product Options
  - name: Product Option Values
  - name: Product Reviews
  - name: Product Variants
  - name: Product Variants Metafields
  - name: Product Variant Options
  - name: Product Variant Option Values
  - name: Product Videos
  - name: Products Channel Assignments
  - name: Products Category Assignments
  - name: Summary
  - name: Variants
  - name: Catalog
  - name: Category Trees
paths:
  '/stores/{store_hash}/v3/catalog/products':
    get:
      tags:
        - Products
      summary: Get All Products
      description: Returns a list of **Products**. Optional filter parameters can be passed in.
      operationId: getProducts
      parameters:
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: query
          description: |
            Filter items by id.
          schema:
            type: integer
        - name: 'id:in'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'id:not_in'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'id:min'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'id:max'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'id:greater'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'id:less'
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: upc
          in: query
          description: |
            Filter items by upc.
          schema:
            type: string
        - name: price
          in: query
          description: |
            Filter items by price.
          schema:
            type: number
        - name: weight
          in: query
          description: |
            Filter items by weight.
          schema:
            type: number
        - name: condition
          in: query
          description: |
            Filter items by condition.
          schema:
            type: string
            enum:
              - new
              - used
              - refurbished
        - name: brand_id
          in: query
          description: |
            Filter items by brand_id.
          schema:
            type: integer
        - name: date_modified
          in: query
          description: 'Filter items by `date_modified`. '
          schema:
            type: string
            format: date-time
        - name: 'date_modified:max'
          in: query
          description: 'Filter items by `date_modified`. For example, `date_modified:max=2020-06-15`.'
          schema:
            type: string
        - name: 'date_modified:min'
          in: query
          description: 'Filter items by `date_modified`. For example, `date_modified:min=2018-06-15`.'
          schema:
            type: string
        - name: date_last_imported
          in: query
          description: Filter items by date_last_imported.
          schema:
            type: string
            format: date-time
        - name: 'date_last_imported:max'
          in: query
          description: 'Filter items by date_last_imported. For example, `date_last_imported:max=2020-06-15`.'
          schema:
            type: string
        - name: 'date_last_imported:min'
          in: query
          description: 'Filter items by date_last_imported. For example, `date_last_imported:min=2018-06-15`.'
          schema:
            type: string
        - name: is_visible
          in: query
          description: Filter items based on whether the product is currently visible on the storefront.
          schema:
            type: boolean
        - name: is_featured
          in: query
          description: 'Filter items by is_featured. `1` for true, `0` for false.'
          schema:
            type: integer
            enum:
              - 1
              - 0
        - name: is_free_shipping
          in: query
          description: 'Filter items by is_free_shipping. `1` for true, `0` for false.'
          schema:
            type: integer
        - name: inventory_level
          in: query
          description: |
            Filter items by inventory_level.
          schema:
            type: integer
        - name: 'inventory_level:in'
          in: query
          schema:
            type: integer
        - name: 'inventory_level:not_in'
          in: query
          schema:
            type: integer
        - name: 'inventory_level:min'
          in: query
          schema:
            type: integer
        - name: 'inventory_level:max'
          in: query
          schema:
            type: integer
        - name: 'inventory_level:greater'
          in: query
          schema:
            type: integer
        - name: 'inventory_level:less'
          in: query
          schema:
            type: integer
        - name: inventory_low
          in: query
          description: |
            Filter items by inventory_low. Values: 1, 0.
          schema:
            type: integer
        - name: out_of_stock
          in: query
          description: |
            Filter items by out_of_stock. To enable the filter, pass `out_of_stock`=`1`.
          schema:
            type: integer
        - name: total_sold
          in: query
          description: |
            Filter items by total_sold.
          schema:
            type: integer
        - name: type
          in: query
          description: Filter items by type.
          schema:
            type: string
            enum:
              - digital
              - physical
        - name: categories
          in: query
          description: |-
            Filter items by categories.
             If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.
          schema:
            type: integer
        - name: keyword
          in: query
          description: |
            Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.
          schema:
            type: string
        - name: keyword_context
          in: query
          description: Set context used by the search algorithm to return results targeted towards the specified group. Use `merchant` to help merchants search their own catalog. Use `shopper` to return shopper-facing search results.
          schema:
            type: string
            enum:
              - shopper
              - merchant
        - name: status
          in: query
          description: |
            Filter items by status.
          schema:
            type: integer
        - name: include
          in: query
          description: 'Sub-resources to include on a product, in a comma-separated list. If `options` or `modifiers` is used, results are limited to 10 per page.'
          schema:
            type: string
            enum:
              - variants
              - images
              - custom_fields
              - bulk_pricing_rules
              - primary_image
              - modifiers
              - options
              - videos
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
        - name: exclude_fields
          in: query
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          schema:
            type: string
        - name: availability
          in: query
          description: |
            Filter items by availability. Values are: available, disabled, preorder.
          schema:
            type: string
            enum:
              - available
              - disabled
              - preorder
        - name: page
          in: query
          description: Specifies the page number in a limited (paginated) list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: Controls the number of items per page in a limited (paginated) list of products.
          schema:
            type: integer
        - name: direction
          in: query
          description: |
            Sort direction. Acceptable values are: `asc`, `desc`.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: sort
          in: query
          description: |
            Field name to sort by. Note: Since `id` increments when new products are added, you can use that field to sort by product create date.
          schema:
            type: string
            enum:
              - id
              - name
              - sku
              - price
              - date_modified
              - date_last_imported
              - inventory_level
              - is_visible
              - total_sold
        - name: 'categories:in'
          in: query
          description: 'Filter items by categories. Use for products in multiple categories. For example, `categories:in=12`.'
          schema:
            type: integer
        - name: sku
          in: query
          description: 'Filter items by main SKU. To filter by variant SKU, see [Get All Variants](/api-reference/store-management/catalog/variants/getvariants). '
          schema:
            type: string
        - name: 'sku:in'
          in: query
          description: Filter items by SKU.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product_Full'
                  meta:
                    $ref: '#/components/schemas/metaCollection_Full'
    put:
      tags:
        - Products
      summary: Update Products (Batch)
      description: |-
        Updates products in batches. Batches are limited to 10 products.

        **Required Fields**
        * `id` - product `id` is required for batch updates to products.

        **Read-Only Fields**
        - `id`
        - `date_created`
        - `date_modified`
        - `calculated_price`
        - `base_variant_id`
      operationId: updateProducts
      parameters:
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_Put_Collection'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product_Full'
                  meta:
                    $ref: '#/components/schemas/metaCollection_Full'
        '207':
          description: 'Multiple operations have taken place and the status for each operation can be viewed in the body of the response. Typically indicates that a partial failure has occured, such as when a `POST` or `PUT` request is successful, but saving the URL has failed.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_Base'
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '409':
          description: '`Product` was in conflict with another product. This is the result of duplicate unique values such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse_409'
        '413':
          description: 413 Request Entity Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_Base'
              example:
                errors: {}
                status: 413
                title: The request payload is too large. The maximum items allowed in the array is 50
                type: /api-docs/getting-started/api-status-codes
        '422':
          description: '`Product` was not valid. This is the result of missing required fields or invalid data. See the response for more details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse_422'
      x-codegen-request-body-name: products
    post:
      tags:
        - Products
      summary: Create a Product
      description: |-
        Creates a *Product*. Only one product can be created at a time.

        **Required Fields:**
        - `name`
        - `type`
        - `weight`
        - `price`

        **Read-Only Fields**
        - `id`
        - `date_created`
        - `date_modified`
        - `calculated_price`
        - `base_variant_id`

        **Limits**
        - 250 characters product name length.

        **Usage Notes**
        * `POST` requests to `/products` accepts a single `video` object; to send an array of video objects, see: `/products/{product_id}/videos`.
      operationId: createProduct
      parameters:
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_Base'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Response
                type: object
                properties:
                  meta:
                    type: object
                    properties: {}
                  product_Full:
                    $ref: '#/components/schemas/product_Full'
            example-1:
              example:
                name: Smith Journal 13
                type: physical
                sku: SM-13
                description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
                weight: 0
                width: 0
                depth: 0
                height: 0
                price: 0
                cost_price: 0
                retail_price: 0
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: string
                categories:
                  - 0
                brand_id: 0
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                fixed_cost_shipping_price: 0
                is_free_shipping: true
                is_visible: true
                is_featured: true
                related_products:
                  - 0
                warranty: string
                bin_picking_number: string
                layout_file: string
                upc: string
                search_keywords: string
                availability: available
                availability_description: string
                gift_wrapping_options_type: any
                gift_wrapping_options_list:
                  - 0
                sort_order: -2147483648
                condition: New
                is_condition_shown: true
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: string
                meta_keywords:
                  - string
                meta_description: string
                view_count: 0
                preorder_release_date: '2019-08-24T14:15:22.000Z'
                preorder_message: string
                is_preorder_only: true
                is_price_hidden: true
                price_hidden_label: string
                custom_url:
                  url: string
                  is_customized: true
                open_graph_type: product
                open_graph_title: string
                open_graph_description: string
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
                brand_name or brand_id: Common Good
                gtin: string
                mpn: string
                reviews_rating_sum: 3.2
                reviews_count: 4
                total_sold: 80
                custom_fields:
                  - id: 6
                    name: ISBN
                    value: '1234567890123'
                bulk_pricing_rules:
                  - id: 0
                    quantity_min: 10
                    quantity_max: 50
                    type: price
                    amount: 10
                images:
                  - image_file: string
                    is_thumbnail: true
                    sort_order: -2147483648
                    description: string
                    image_url: string
                    id: 0
                    product_id: 0
                    url_zoom: string
                    url_standard: string
                    url_thumbnail: string
                    url_tiny: string
                    date_modified: '2019-08-24T14:15:22.000Z'
                videos:
                  - title: string
                    description: string
                    sort_order: -2147483648
                    type: youtube
                    video_id: string
                    id: 0
                    product_id: 0
                    length: string
                date_created: '2018-08-15T14:49:05.000Z'
                date_modified: '2018-08-24T14:41:00.000Z'
                id: 1
                base_variant_id: 0
                calculated_price: 0
                options:
                  - id: 55
                    product_id: 4
                    display_name: Add-a-$5-Donation1535042499-187
                    type: radio_buttons
                    config:
                      default_value: string
                      checked_by_default: true
                      checkbox_label: string
                      date_limited: true
                      date_limit_mode: range
                      date_earliest_value: '2019-08-24T00:00:00.000Z'
                      date_latest_value: '2019-08-24T00:00:00.000Z'
                      file_types_mode: specific
                      file_types_supported:
                        - 'images, documents, other'
                      file_types_other:
                        - pdf
                      file_max_size: 5
                      text_characters_limited: true
                      text_min_length: 1
                      text_max_length: 55
                      text_lines_limited: true
                      text_max_lines: 4
                      number_limited: true
                      number_limit_mode: lowest
                      number_lowest_value: 100
                      number_highest_value: 0
                      number_integers_only: false
                      product_list_adjusts_inventory: true
                      product_list_adjusts_pricing: true
                      product_list_shipping_calc: weight
                    sort_order: 1
                    option_values:
                      is_default: false
                      label: Green
                      sort_order: 0
                      value_data: {}
                      id: 0
                modifiers:
                  - type: date
                    required: true
                    sort_order: 0
                    config:
                      default_value: string
                      checked_by_default: true
                      checkbox_label: string
                      date_limited: true
                      date_limit_mode: range
                      date_earliest_value: '2019-08-24T00:00:00.000Z'
                      date_latest_value: '2019-08-24T00:00:00.000Z'
                      file_types_mode: specific
                      file_types_supported:
                        - 'images, documents, other'
                      file_types_other:
                        - pdf
                      file_max_size: 5
                      text_characters_limited: true
                      text_min_length: 1
                      text_max_length: 55
                      text_lines_limited: true
                      text_max_lines: 4
                      number_limited: true
                      number_limit_mode: lowest
                      number_lowest_value: 100
                      number_highest_value: 0
                      number_integers_only: false
                      product_list_adjusts_inventory: true
                      product_list_adjusts_pricing: true
                      product_list_shipping_calc: weight
                    display_name: string
                    id: 12
                    product_id: 77
                    name: Add-a-$5-Donation1535039590-191
                    option_values:
                      - is_default: false
                        label: Green
                        sort_order: 0
                        value_data: {}
                        adjusters:
                          price:
                            adjuster: relative
                            adjuster_value: 5
                          weight:
                            adjuster: relative
                            adjuster_value: 5
                          image_url: 'https://cdn8.bigcommerce.com/s-{{store_hash}}/products/184/images/445/naturalcanvascart2_1024x1024__92347__29648.1534344533.1280.1280.jpg?c=2'
                          purchasing_disabled:
                            status: true
                            message: string
                        id: 0
                        option_id: 0
                option_set_id: 0
                option_set_display: string
                variants:
                  - cost_price: 0
                    price: 0
                    sale_price: 0
                    retail_price: 0
                    weight: 0
                    width: 0
                    height: 0
                    depth: 0
                    is_free_shipping: true
                    fixed_cost_shipping_price: 0
                    purchasing_disabled: true
                    purchasing_disabled_message: string
                    upc: string
                    inventory_level: 0
                    inventory_warning_level: 0
                    bin_picking_number: string
                    mpn: string
                    gtin: '012345678905'
                    id: 0
                    product_id: 0
                    sku: string
                    sku_id: 0
                    option_values:
                      - option_display_name: Color
                        label: Beige
                        id: 146
                        option_id: 151
                    calculated_price: 0
                    calculated_weight: 0
                meta: {}
        '207':
          description: 'Multiple operations have taken place and the status for each operation can be viewed in the body of the response. Typically indicates that a partial failure has occured, such as when a `POST` or `PUT` request is successful, but saving the URL has failed.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_Base'
        '409':
          description: |
            `Product` was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties:
                      additionalProperties:
                        type: string
                  instance:
                    type: string
                  status:
                    type: integer
                    description: |
                      The HTTP status code.
                  title:
                    type: string
                    description: |
                      The error title describing the particular error.
                  type:
                    type: string
        '422':
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties:
                      additionalProperties:
                        type: string
                  instance:
                    type: string
                  status:
                    type: integer
                    description: |
                      The HTTP status code.
                  title:
                    type: string
                    description: |
                      The error title describing the particular error.
                  type:
                    type: string
      x-codegen-request-body-name: product
    delete:
      tags:
        - Products
        - Catalog
      summary: Delete Products
      description: |-
        To delete *Product* objects, you must include a filter. This prevents inadvertently deleting all *Product* objects in a store.

        <!-- theme: info -->
        > The maximum number of products you can delete at one time is 250.

        **Example**:
        To delete products with the id's of 1,2 and 3, use `DELETE /v3/catalog/products?id:in=1,2,3`.
      operationId: deleteProducts
      parameters:
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: sku
          in: query
          description: |
            Filter items by sku.
          schema:
            type: string
        - name: price
          in: query
          description: |
            Filter items by price.
          schema:
            type: number
        - name: weight
          in: query
          description: |
            Filter items by weight.
          schema:
            type: number
        - name: condition
          in: query
          description: |
            Filter items by condition.
          schema:
            type: string
            enum:
              - new
              - used
              - refurbished
        - name: brand_id
          in: query
          description: |
            Filter items by brand_id.
          schema:
            type: integer
        - name: date_modified
          in: query
          description: 'Filter items by date_modified. For example `v3/catalog/products?date_modified:min=2018-06-15`'
          schema:
            type: string
            format: date-time
        - name: date_last_imported
          in: query
          description: 'Filter items by date_last_imported. For example `v3/catalog/products?date_last_imported:min=2018-06-15`'
          schema:
            type: string
            format: date-time
        - name: is_visible
          in: query
          description: 'Filter items by if visible on the storefront. '
          schema:
            type: boolean
        - name: is_featured
          in: query
          description: |
            Filter items by is_featured.
          schema:
            type: integer
        - name: inventory_level
          in: query
          description: |
            Filter items by inventory_level.
          schema:
            type: integer
        - name: total_sold
          in: query
          description: |
            Filter items by total_sold.
          schema:
            type: integer
        - name: type
          in: query
          description: 'Filter items by type: `physical` or `digital`.'
          schema:
            type: string
            enum:
              - digital
              - physical
        - name: categories
          in: query
          description: |-
            Filter items by categories.
             If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.
          schema:
            type: integer
        - name: keyword
          in: query
          description: |
            Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - $ref: '#/components/parameters/StoreHashParam'
  '/stores/{store_hash}/v3/catalog/products/{product_id}':
    get:
      tags:
        - Products
      summary: Get a Product
      description: Returns a single *Product*. Optional parameters can be passed in.
      operationId: getProductById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: 'Sub-resources to include on a product, in a comma-separated list. If `options` or `modifiers` is used, results are limited to 10 per page.'
          schema:
            type: string
            enum:
              - variants
              - images
              - custom_fields
              - bulk_pricing_rules
              - primary_image
              - modifiers
              - options
              - videos
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
        - name: exclude_fields
          in: query
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product_Full'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
              example:
                data:
                  id: 174
                  name: 1L Le Parfait Jar
                  type: physical
                  sku: ''
                  description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 7.95
                  cost_price: 0
                  retail_price: 10
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 7.95
                  categories:
                    - 23
                    - 21
                  brand_id: 36
                  option_set_id: 55
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 7
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: 'jar, glass'
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:46.000Z'
                  date_modified: '2018-09-05T20:42:07.000Z'
                  view_count: 10
                  preorder_release_date: '2018-09-05T20:42:07.000Z'
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/1l-le-parfait-jar/
                    is_customized: true
                  base_variant_id: 345
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                meta: {}
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
    put:
      tags:
        - Products
      summary: Update a Product
      description: |
        Updates a *Product*.

        **Read-Only Fields**
        - id
        - date_created
        - date_modified
        - calculated_price
        - base_variant_id
      operationId: updateProduct
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_Put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Response
                type: object
                properties:
                  meta:
                    type: object
                    properties: {}
                  product_Full:
                    $ref: '#/components/schemas/product_Full'
            example-1:
              example:
                name: Smith Journal 13
                type: physical
                sku: SM-13
                description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
                weight: 0
                width: 0
                depth: 0
                height: 0
                price: 0
                cost_price: 0
                retail_price: 0
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: string
                categories:
                  - 0
                brand_id: 0
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                fixed_cost_shipping_price: 0
                is_free_shipping: true
                is_visible: true
                is_featured: true
                related_products:
                  - 0
                warranty: string
                bin_picking_number: string
                layout_file: string
                upc: string
                search_keywords: string
                availability: available
                availability_description: string
                gift_wrapping_options_type: any
                gift_wrapping_options_list:
                  - 0
                sort_order: -2147483648
                condition: New
                is_condition_shown: true
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: string
                meta_keywords:
                  - string
                meta_description: string
                view_count: 0
                preorder_release_date: '2019-08-24T14:15:22.000Z'
                preorder_message: string
                is_preorder_only: true
                is_price_hidden: true
                price_hidden_label: string
                custom_url:
                  url: string
                  is_customized: true
                open_graph_type: product
                open_graph_title: string
                open_graph_description: string
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
                brand_name or brand_id: Common Good
                gtin: string
                mpn: string
                reviews_rating_sum: 3.2
                reviews_count: 4
                total_sold: 80
                custom_fields:
                  - id: 6
                    name: ISBN
                    value: '1234567890123'
                bulk_pricing_rules:
                  - id: 0
                    quantity_min: 10
                    quantity_max: 50
                    type: price
                    amount: 10
                images:
                  - image_file: string
                    is_thumbnail: true
                    sort_order: -2147483648
                    description: string
                    image_url: string
                    id: 0
                    product_id: 0
                    url_zoom: string
                    url_standard: string
                    url_thumbnail: string
                    url_tiny: string
                    date_modified: '2019-08-24T14:15:22.000Z'
                videos:
                  - title: string
                    description: string
                    sort_order: -2147483648
                    type: youtube
                    video_id: string
                    id: 0
                    product_id: 0
                    length: string
                date_created: '2018-08-15T14:49:05.000Z'
                date_modified: '2018-08-24T14:41:00.000Z'
                id: 1
                base_variant_id: 0
                calculated_price: 0
                options:
                  - id: 55
                    product_id: 4
                    display_name: Add-a-$5-Donation1535042499-187
                    type: radio_buttons
                    config:
                      default_value: string
                      checked_by_default: true
                      checkbox_label: string
                      date_limited: true
                      date_limit_mode: range
                      date_earliest_value: '2019-08-24T00:00:00.000Z'
                      date_latest_value: '2019-08-24T00:00:00.000Z'
                      file_types_mode: specific
                      file_types_supported:
                        - 'images, documents, other'
                      file_types_other:
                        - pdf
                      file_max_size: 5
                      text_characters_limited: true
                      text_min_length: 1
                      text_max_length: 55
                      text_lines_limited: true
                      text_max_lines: 4
                      number_limited: true
                      number_limit_mode: lowest
                      number_lowest_value: 100
                      number_highest_value: 0
                      number_integers_only: false
                      product_list_adjusts_inventory: true
                      product_list_adjusts_pricing: true
                      product_list_shipping_calc: weight
                    sort_order: 1
                    option_values:
                      is_default: false
                      label: Green
                      sort_order: 0
                      value_data: {}
                      id: 0
                modifiers:
                  - type: date
                    required: true
                    sort_order: 0
                    config:
                      default_value: string
                      checked_by_default: true
                      checkbox_label: string
                      date_limited: true
                      date_limit_mode: range
                      date_earliest_value: '2019-08-24T00:00:00.000Z'
                      date_latest_value: '2019-08-24T00:00:00.000Z'
                      file_types_mode: specific
                      file_types_supported:
                        - 'images, documents, other'
                      file_types_other:
                        - pdf
                      file_max_size: 5
                      text_characters_limited: true
                      text_min_length: 1
                      text_max_length: 55
                      text_lines_limited: true
                      text_max_lines: 4
                      number_limited: true
                      number_limit_mode: lowest
                      number_lowest_value: 100
                      number_highest_value: 0
                      number_integers_only: false
                      product_list_adjusts_inventory: true
                      product_list_adjusts_pricing: true
                      product_list_shipping_calc: weight
                    display_name: string
                    id: 12
                    product_id: 77
                    name: Add-a-$5-Donation1535039590-191
                    option_values:
                      - is_default: false
                        label: Green
                        sort_order: 0
                        value_data: {}
                        adjusters:
                          price:
                            adjuster: relative
                            adjuster_value: 5
                          weight:
                            adjuster: relative
                            adjuster_value: 5
                          image_url: 'https://cdn8.bigcommerce.com/s-{{store_hash}}/products/184/images/445/naturalcanvascart2_1024x1024__92347__29648.1534344533.1280.1280.jpg?c=2'
                          purchasing_disabled:
                            status: true
                            message: string
                        id: 0
                        option_id: 0
                option_set_id: 0
                option_set_display: string
                variants:
                  - cost_price: 0
                    price: 0
                    sale_price: 0
                    retail_price: 0
                    weight: 0
                    width: 0
                    height: 0
                    depth: 0
                    is_free_shipping: true
                    fixed_cost_shipping_price: 0
                    purchasing_disabled: true
                    purchasing_disabled_message: string
                    upc: string
                    inventory_level: 0
                    inventory_warning_level: 0
                    bin_picking_number: string
                    mpn: string
                    gtin: 12345678905
                    id: 0
                    product_id: 0
                    sku: string
                    sku_id: 0
                    option_values:
                      - option_display_name: Color
                        label: Beige
                        id: 146
                        option_id: 151
                    calculated_price: 0
                    calculated_weight: 0
                meta: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '207':
          description: 'Multiple operations have taken place and the status for each operation can be viewed in the body of the response. Typically indicates that a partial failure has occured, such as when a `POST` or `PUT` request is successful, but saving the URL has failed.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_Base'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '409':
          description: |
            `Product` was in conflict with another product. This is caused by: duplicate unique values, such as name or SKU; a missing category, brand, or tax_class with which the product is being associated; or a conflicting bulk pricing rule.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties:
                      additionalProperties:
                        type: string
                  instance:
                    type: string
                  status:
                    type: integer
                    description: |
                      The HTTP status code.
                  title:
                    type: string
                    description: |
                      The error title describing the particular error.
                  type:
                    type: string
        '422':
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties:
                      additionalProperties:
                        type: string
                  instance:
                    type: string
                  status:
                    type: integer
                    description: |
                      The HTTP status code.
                  title:
                    type: string
                    description: |
                      The error title describing the particular error.
                  type:
                    type: string
      x-codegen-request-body-name: product
    delete:
      tags:
        - Products
      summary: Delete a Product
      description: Deletes a *Product*.
      operationId: deleteProductById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        schema:
          type: integer
  '/stores/{store_hash}/v3/catalog/products/{product_id}/images':
    get:
      tags:
        - Product Images
      summary: Get All Product Images
      description: Returns a list of *Product Images*. Optional parameters can be passed in.
      operationId: getProductImages
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Specifies the page number in a limited (paginated) list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: Controls the number of items per page in a limited (paginated) list of products.
          schema:
            type: integer
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
        - name: exclude_fields
          in: query
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      title: Product Image
                      type: object
                      allOf:
                        - $ref: '#/components/schemas/productImage_Full'
                  meta:
                    $ref: '#/components/schemas/metaCollection_Full'
                description: |
                  Response payload for the BigCommerce API.
              example:
                data:
                  - id: 382
                    product_id: 158
                    is_thumbnail: true
                    sort_order: 0
                    description: ''
                    image_file: a/521/foglinenbeigestripetowel1b_1024x1024__83011__60806.jpg
                    url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.1280.1280.jpg?c=2'
                    url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.560.850.jpg?c=2'
                    url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.330.500.jpg?c=2'
                    url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.66.100.jpg?c=2'
                    date_modified: '2018-08-15T14:48:31.000Z'
                  - id: 383
                    product_id: 158
                    is_thumbnail: false
                    sort_order: 0
                    description: ''
                    image_file: k/050/foglinenbeigestripetowel2b_1024x1024__16082__46564.jpg
                    url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.1280.1280.jpg?c=2'
                    url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.560.850.jpg?c=2'
                    url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.330.500.jpg?c=2'
                    url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.66.100.jpg?c=2'
                    date_modified: '2018-08-15T14:48:31.000Z'
                meta:
                  pagination:
                    total: 2
                    count: 2
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: '?page=1&limit=50'
        '204':
          description: |
            There are not any images on this product.
          content: {}
        '404':
          description: |
            The product ID does not exist.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
    post:
      tags:
        - Product Images
      summary: Create a Product Image
      description: |-
        Creates a *Product Image*.

         **Required Fields**
        - `image_file`, or
        - `image_url`

        **Usage Notes**
        - `image_url` - `255` character limit
        - For file uploads, use the `multipart/form-data` media type
        - Only one image at a time can be created
        - Supported image file types are BMP, GIF, JPEG, PNG, WBMP, XBM, and WEBP.
      operationId: createProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              title: Product Image Post
              description: The model for a POST to create an image on a product.
              allOf:
                - title: Product Image Base
                  type: object
                  properties:
                    id:
                      type: integer
                      description: |
                        The unique numeric ID of the image; increments sequentially.
                    product_id:
                      type: integer
                      description: |
                        The unique numeric identifier for the product with which the image is associated.
                    image_file:
                      type: string
                      description: |-
                        The local path to the original image file uploaded to BigCommerce.
                        A `multipart/form-data` media type.
                    url_zoom:
                      type: string
                      description: |
                        The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                    url_standard:
                      type: string
                      description: |
                        The standard URL for this image. By default, this is used for product-page images.
                    url_thumbnail:
                      type: string
                      description: |
                        The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                    url_tiny:
                      type: string
                      description: |
                        The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                    date_modified:
                      type: string
                      description: |
                        The date on which the product image was modified.
                      format: date-time
                    is_thumbnail:
                      type: boolean
                      description: |
                        Flag for identifying whether the image is used as the product's thumbnail.
                    sort_order:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: |
                        The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                    description:
                      type: string
                      description: |
                        The description for the image.
                  description: Common ProductImage properties.
                - type: object
                  properties:
                    image_url:
                      type: string
                      description: |
                        Must be a fully qualified URL path, including protocol. Limit of 8MB per file.
                    image_file:
                      type: string
                      description: |
                        Must be sent as a multipart/form-data field in the request body. Limit of 1MB per file.
          multipart/form-data:
            schema:
              title: Product Image Post
              description: The model for a POST to create an image on a product.
              allOf:
                - title: Product Image Base
                  type: object
                  properties:
                    id:
                      type: integer
                      description: |
                        The unique numeric ID of the image; increments sequentially.
                    product_id:
                      type: integer
                      description: |
                        The unique numeric identifier for the product with which the image is associated.
                    image_file:
                      type: string
                      description: |-
                        The local path to the original image file uploaded to BigCommerce.
                        A `multipart/form-data` media type.
                    url_zoom:
                      type: string
                      description: |
                        The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                    url_standard:
                      type: string
                      description: |
                        The standard URL for this image. By default, this is used for product-page images.
                    url_thumbnail:
                      type: string
                      description: |
                        The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                    url_tiny:
                      type: string
                      description: |
                        The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                    date_modified:
                      type: string
                      description: |
                        The date on which the product image was modified.
                      format: date-time
                    is_thumbnail:
                      type: boolean
                      description: |
                        Flag for identifying whether the image is used as the product's thumbnail.
                    sort_order:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: |
                        The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                    description:
                      type: string
                      description: |
                        The description for the image.
                  description: Common ProductImage properties.
                - type: object
                  properties:
                    image_url:
                      type: string
                      description: |
                        Must be a fully qualified URL path, including protocol. Limit of 8MB per file.
                    image_file:
                      type: string
                      description: |
                        Must be sent as a multipart/form-data field in the request body. Limit of 1MB per file.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    title: Product Image
                    type: object
                    allOf:
                      - title: Product Image Base
                        type: object
                        properties:
                          id:
                            type: integer
                            description: |
                              The unique numeric ID of the image; increments sequentially.
                          product_id:
                            type: integer
                            description: |
                              The unique numeric identifier for the product with which the image is associated.
                          image_file:
                            type: string
                            description: |-
                              The local path to the original image file uploaded to BigCommerce.

                              A `multipart/form-data` media type.
                          url_zoom:
                            type: string
                            description: |
                              The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                          url_standard:
                            type: string
                            description: |
                              The standard URL for this image. By default, this is used for product-page images.
                          url_thumbnail:
                            type: string
                            description: |
                              The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                          url_tiny:
                            type: string
                            description: |
                              The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                          date_modified:
                            type: string
                            description: |
                              The date on which the product image was modified.
                            format: date-time
                          is_thumbnail:
                            type: boolean
                            description: |
                              Flag for identifying whether the image is used as the product's thumbnail.
                          sort_order:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: integer
                            description: |
                              The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                          description:
                            type: string
                            description: |
                              The description for the image.
                        description: Common ProductImage properties.
                      - type: object
                        properties:
                          id:
                            type: integer
                            description: |
                              The unique numeric ID of the image; increments sequentially.
                          product_id:
                            type: integer
                            description: |
                              The unique numeric identifier for the product with which the image is associated.
                          image_file:
                            type: string
                            description: |-
                              The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.
                              A `multipart/form-data` media type.
                          url_zoom:
                            type: string
                            description: |
                              The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                          url_standard:
                            type: string
                            description: |
                              The standard URL for this image. By default, this is used for product-page images.
                          url_thumbnail:
                            type: string
                            description: |
                              The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                          url_tiny:
                            type: string
                            description: |
                              The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                          date_modified:
                            type: string
                            description: |
                              The date on which the product image was modified.
                            format: date-time
                          image_url:
                            type: string
                            description: |-
                              Publically available URL.
                              Use the image_url when creating a product.
                            example: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
                description: |
                  Response payload for the BigCommerce API.
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                  url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                  url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                  url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                  date_modified: '2018-09-13T15:57:07.000Z'
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: |
            The product ID does not exist.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: |-
            Unprocessable Entity. 

            May occur if the `Content-Type` header is set to `multipart/form-data` rather than `application/json` when creating a product image using `image_url`.
          content:
            application/json:
              schema:
                required:
                  - status
                  - title
                  - type
                type: object
                properties:
                  status:
                    type: number
                  title:
                    minLength: 1
                    type: string
                  type:
                    minLength: 1
                    type: string
                description: ''
            Example:
              example:
                status: 422
                title: image_url must be present if uploading by url
                type: /api-docs/getting-started/api-status-codes
      x-codegen-request-body-name: productImage
    parameters:
      - $ref: '#/components/parameters/StoreHashParam'
      - $ref: '#/components/parameters/ProductIdParam'
  '/stores/{store_hash}/v3/catalog/products/{product_id}/images/{image_id}':
    get:
      tags:
        - Product Images
      summary: Get a Product Image
      description: Returns a single *Product Image*. Optional parameters can be passed in.
      operationId: getProductImageById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
        - name: exclude_fields
          in: query
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/productImage_Full'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
                description: |
                  Response payload for the BigCommerce API.
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                  url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                  url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                  url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                  date_modified: '2018-09-13T15:57:07.000Z'
                meta: {}
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
    put:
      tags:
        - Product Images
      summary: Update a Product Image
      description: |-
        Updates a *Product Image*.

        **Usage Notes**
        - `image_url` - `255` character limit
        - For file uploads, send a POST request using the `multipart/form-data` media type
      operationId: updateProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productImage_Put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    title: Product Image
                    type: object
                    allOf:
                      - title: Product Image Base
                        type: object
                        properties:
                          id:
                            type: integer
                            description: |
                              The unique numeric ID of the image; increments sequentially.
                          product_id:
                            type: integer
                            description: |
                              The unique numeric identifier for the product with which the image is associated.
                          image_file:
                            type: string
                            description: |
                              The local path to the original image file uploaded to BigCommerce.
                          url_zoom:
                            type: string
                            description: |
                              The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                          url_standard:
                            type: string
                            description: |
                              The standard URL for this image. By default, this is used for product-page images.
                          url_thumbnail:
                            type: string
                            description: |
                              The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                          url_tiny:
                            type: string
                            description: |
                              The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                          date_modified:
                            type: string
                            description: |
                              The date on which the product image was modified.
                            format: date-time
                          is_thumbnail:
                            type: boolean
                            description: |
                              Flag for identifying whether the image is used as the product's thumbnail.
                          sort_order:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: integer
                            description: |
                              The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                          description:
                            type: string
                            description: |
                              The description for the image.
                        description: Common ProductImage properties.
                      - type: object
                        properties:
                          id:
                            type: integer
                            description: |
                              The unique numeric ID of the image; increments sequentially.
                          product_id:
                            type: integer
                            description: |
                              The unique numeric identifier for the product with which the image is associated.
                          image_file:
                            type: string
                            description: |
                              The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.
                          url_zoom:
                            type: string
                            description: |
                              The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                          url_standard:
                            type: string
                            description: |
                              The standard URL for this image. By default, this is used for product-page images.
                          url_thumbnail:
                            type: string
                            description: |
                              The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                          url_tiny:
                            type: string
                            description: |
                              The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                          date_modified:
                            type: string
                            description: |
                              The date on which the product image was modified.
                            format: date-time
                          image_url:
                            type: string
                            description: |-
                              Publically available URL.
                              Use the image_url when creating a product.
                            example: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
                description: |
                  Response payload for the BigCommerce API.
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                  url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                  url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                  url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                  date_modified: '2018-09-13T15:57:07.000Z'
                meta: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: |
                      404 HTTP status code.
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
      x-codegen-request-body-name: productImage
    delete:
      tags:
        - Product Images
      summary: Delete a Product Image
      description: Deletes a *Product Image*.
      operationId: deleteProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - $ref: '#/components/parameters/StoreHashParam'
      - $ref: '#/components/parameters/ProductIdParam'
      - $ref: '#/components/parameters/ImageIdParam'
  '/stores/{store_hash}/v3/catalog/products/{product_id}/videos':
    get:
      tags:
        - Product Videos
      summary: Get All Product Videos
      description: Returns a list of *Product Videos*. Optional parameters can be passed in.
      operationId: getProductVideos
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
        - name: include_fields
          in: query
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          schema:
            type: string
        - name: exclude_fields
          in: query
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - name: page
          in: query
          description: Specifies the page number in a limited (paginated) list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: Controls the number of items per page in a limited (paginated) list of products.
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Video Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/productVideo_Full'
                  meta:
                    $ref: '#/components/schemas/metaCollection_Full'
              example:
                data:
                  - id: 6
                    type: youtube
                    video_id: PqBTp23RLhI
                    product_id: 192
                    sort_order: 1
                    title: Creating and Editing Banners | BigCommerce Tutorials
                    description: 'Learn how to create and edit marketing banners. Marketing banners are a great way to advertise sales, display coupon codes, and add design elements. Let’s take a look at how you can leverage banners to convert your store’s visitors into paying customers.'
                    length: '01:54'
                  - id: 7
                    type: youtube
                    video_id: EhYBjzqd-nI
                    product_id: 192
                    sort_order: 2
                    title: BigCommerce Company Values
                    description: |-
                      These are the core principles upon which BigCommerce was built, guiding what we do and how we do it. Each employee learns them, loves them and lives them. Our merchants benefit from them every time they use our product or get help from our support team.

                      Join the BigCommerce team and help us build software that changes lives!

                      https://www.bigcommerce.com/careers/
                    length: '03:30'
                  - id: 8
                    type: youtube
                    video_id: vAUdo4kRjrU
                    product_id: 192
                    sort_order: 3
                    title: TOP WORKPLACES 2016 - Austin American Statesman + BigCommerce
                    description: |-
                      We've been named one of Austin American-Statesman's Top WorkPlaces for the 5th year in a row! Here's what some employees have to say:

                      “I am given the freedom and trust to make a difference.”

                      “Everyone believes in the product and growing the company.”

[...]
