swagger: '2.0'
info:
  title: Catalog
  version: ''
  description: |-
    Manage products, brands and categories. To learn more about catalog resources see [Catalog Overview](/api-docs/catalog/products-overview).

    ## Authentication
    Requests can be authenticated by sending an `access_token` via `X-Auth-Token` HTTP header:

    ```http
    GET /stores/{store_hash}/v3/catalog/summary
    host: api.bigcommerce.com
    Accept: application/json
    X-Auth-Token: {access_token}
    ```

    |Header|Parameter|Description|
    |-|-|-|
    |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

    ### OAuth Scopes
    | UI Name  | Permission | Parameter                     |
    |----------|------------|-------------------------------|
    | Products | modify     | `store_v2_products`           |
    | Products | read-only  | `store_v2_products_read_only` |

    For more information on OAuth Scopes, see: [Authentication](/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes).

    For more information on Authenticating BigCommerce APIs, see: [Authentication](/api-docs/getting-started/authentication).

    ## Differentiating Variants and Modifiers
    [Variants](https://support.bigcommerce.com/s/article/Product-Options-v3#variations) represent a physical product made up of [Product Option](https://support.bigcommerce.com/s/article/Product-Options-v3) choices, i.e. a large blue t-shirt. Each variant can have a unique SKU.

    Modifiers represent a choice a customer makes about a product that doesn't represent a physical item, i.e. text to be printed on a t-shirt. Assigning a SKU to a modifier will turn it into a variant.

    See [Variant Options](/api-docs/store-management/catalog/catalog-overview#variant-options) and [Modifier Options](/api-docs/store-management/catalog/catalog-overview#modifier-options) for more information.

    ## Available Endpoints
    | Resource / Endpoint                     | Description                                                             |
    |-----------------------------------------|-------------------------------------------------------------------------|
    | Brand Images                            | Create and manage brand images                                          |
    | Brand Metafields                        | Create and manage brand metafields                                      |
    | Brands                                  | Create and manage brands                                                |
    | Catalog                                 | Create and manage store categories, products, and brands                |
    | Categories                              | Create and manage categorties                                           |
    | Category Images                         | Create and manage category images                                       |
    | Category Metafields                     | Create and manage category metafields                                   |
    | Product Bulk Pricing Rules              | Create and manage product bulk pricing rules                            |
    | Product Complex Rules                   | Create and manage product complex rules                                 |
    | Product Custom Fields                   | Create and manage product custom fields                                 |
    | Product Images                          | Create and manage product images                                        |
    | Product Metafields                      | Create and manage product meta fields                                   |
    | Product Modifier Images                 | Create and manage product modifer images                                |
    | Product Modifier Values                 | Create and manage product modifier values                               |
    | Product Modifiers                       | Create and manage product midifiers                                     |
    | Product Reviews                         | Create and manage product reviews                                       |
    | Product Variant Option Values           | Create and manage product variant option values                         |
    | Product Variant Options                 | Create and manage product variant options                               |
    | Product Variants                        | Create and manage product variants                                      |
    | Product Videos                          | Create and manage product videos                                        |
    | Products                                | Create and manage products                                              |
    | ProductVariant Metafields               | Create and manage product meta flields                                  |
    | Variants                                | Get and update all variants                                             |

    ## Resources

    ### Webhooks
    * [Products](/api-docs/store-management/webhooks/events#products)
    * [Categories](/api-docs/store-management/webhooks/events#category)
    * [SKU](/api-docs/store-management/webhooks/events#sku)
  termsOfService: ''
  license:
    name: ''
  contact:
    name: ''
    url: ''
host: api.bigcommerce.com
basePath: /
tags:
  - name: Brands
  - name: Brand Images
  - name: Brand Metafields
  - name: Category
  - name: Categories
  - name: Category Metafields
  - name: Category Images
  - name: Product Sort Order
  - name: Products
  - name: Product Bulk Pricing Rules
  - name: Product Complex Rules
  - name: Product Custom Fields
  - name: Product Images
  - name: Product Metafields
  - name: Product Modifiers
  - name: Product Modifier Values
  - name: Product Modifier Images
  - name: Product Options
  - name: Product Option Values
  - name: Product Reviews
  - name: Product Variants
  - name: Product Variants Metafields
  - name: Product Variant Options
  - name: Product Variant Option Values
  - name: Product Videos
  - name: Summary
  - name: Variants
  - name: Catalog
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  '/stores/{store_hash}/v3/catalog/products':
    get:
      description: Returns a list of **Products**. Optional filter parameters can be passed in.
      operationId: getProducts
      parameters:
        - $ref: '#/parameters/FilterIdParam'
        - $ref: '#/parameters/FilterIdIn'
        - $ref: '#/parameters/FilterIdNotIn'
        - $ref: '#/parameters/FilterIdMin'
        - $ref: '#/parameters/FilterIdMax'
        - $ref: '#/parameters/FilterIdGreater'
        - $ref: '#/parameters/FilterIdLess'
        - name: name
          description: |
            Filter items by name.
          required: false
          in: query
          type: string
        - name: upc
          description: |
            Filter items by upc.
          required: false
          in: query
          type: string
        - name: price
          description: |
            Filter items by price.
          required: false
          in: query
          type: number
        - name: weight
          description: |
            Filter items by weight.
          required: false
          in: query
          type: number
        - name: condition
          description: |
            Filter items by condition.
          required: false
          in: query
          type: string
          enum:
            - new
            - used
            - refurbished
        - name: brand_id
          description: |
            Filter items by brand_id.
          required: false
          in: query
          type: integer
        - name: date_modified
          description: 'Filter items by `date_modified`. '
          required: false
          in: query
          type: string
          format: date-time
        - type: string
          in: query
          name: 'date_modified:max'
          description: 'Filter items by `date_modified`. For example, `date_modified:max=2020-06-15`.'
        - type: string
          in: query
          name: 'date_modified:min'
          description: 'Filter items by `date_modified`. For example, `date_modified:min=2018-06-15`.'
        - name: date_last_imported
          description: Filter items by date_last_imported.
          required: false
          in: query
          type: string
          format: date-time
        - type: string
          in: query
          description: 'Filter items by date_last_imported. For example, `date_last_imported:max=2020-06-15`.'
          name: 'date_last_imported:max'
        - type: string
          in: query
          description: 'Filter items by date_last_imported. For example, `date_last_imported:min=2018-06-15`.'
          name: 'date_last_imported:min'
        - name: is_visible
          description: Filter items based on whether the product is currently visible on the storefront.
          required: false
          in: query
          type: boolean
        - name: is_featured
          description: 'Filter items by is_featured. `1` for true, `0` for false.'
          required: false
          in: query
          type: integer
          enum:
            - 1
            - 0
        - name: is_free_shipping
          description: 'Filter items by is_free_shipping. `1` for true, `0` for false.'
          required: false
          in: query
          type: integer
        - name: inventory_level
          description: |
            Filter items by inventory_level.
          required: false
          in: query
          type: integer
        - type: integer
          in: query
          name: 'inventory_level:in'
        - type: integer
          in: query
          name: 'inventory_level:not_in'
        - type: integer
          in: query
          name: 'inventory_level:min'
        - type: integer
          in: query
          name: 'inventory_level:max'
        - type: integer
          in: query
          name: 'inventory_level:greater'
        - type: integer
          in: query
          name: 'inventory_level:less'
        - name: inventory_low
          description: |
            Filter items by inventory_low. Values: 1, 0.
          required: false
          in: query
          type: integer
        - name: out_of_stock
          description: |
            Filter items by out_of_stock. To enable the filter, pass `out_of_stock`=`1`.
          required: false
          in: query
          type: integer
        - name: total_sold
          description: |
            Filter items by total_sold.
          required: false
          in: query
          type: integer
        - name: type
          description: Filter items by type.
          required: false
          in: query
          type: string
          enum:
            - digital
            - physical
        - name: categories
          description: |-
            Filter items by categories.
             If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.
          required: false
          in: query
          type: integer
        - name: keyword
          description: |
            Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.
          required: false
          in: query
          type: string
        - name: keyword_context
          description: Set context used by the search algorithm to return results targeted towards the specified group. Use `merchant` to help merchants search their own catalog. Use `shopper` to return shopper-facing search results.
          required: false
          in: query
          type: string
          enum:
            - shopper
            - merchant
        - name: status
          description: |
            Filter items by status.
          required: false
          in: query
          type: integer
        - name: include
          description: 'Sub-resources to include on a product, in a comma-separated list. If `options` or `modifiers` is used, results are limited to 10 per page.'
          required: false
          in: query
          type: string
          enum:
            - variants
            - images
            - custom_fields
            - bulk_pricing_rules
            - primary_image
            - modifiers
            - options
            - videos
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - name: availability
          description: |
            Filter items by availability. Values are: available, disabled, preorder.
          required: false
          in: query
          type: string
          enum:
            - available
            - disabled
            - preorder
        - name: page
          description: Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: Controls the number of items per page in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: direction
          description: |
            Sort direction. Acceptable values are: `asc`, `desc`.
          required: false
          in: query
          type: string
          enum:
            - asc
            - desc
        - name: sort
          description: |
            Field name to sort by. Note: Since `id` increments when new products are added, you can use that field to sort by product create date.
          required: false
          in: query
          type: string
          enum:
            - id
            - name
            - sku
            - price
            - date_modified
            - date_last_imported
            - inventory_level
            - is_visible
            - total_sold
        - type: integer
          in: query
          description: 'Filter items by categories. Use for products in multiple categories. For example, `categories:in=12`.'
          name: 'categories:in'
        - type: string
          in: query
          name: sku
          description: 'Filter items by main SKU. To filter by variant SKU, see [Get All Variants](/api-reference/store-management/catalog/variants/getvariants). '
        - type: array
          items:
            type: string
          in: query
          name: 'sku:in'
          description: Filter items by SKU.
      responses:
        '200':
          $ref: '#/responses/ProductCollectionResponse'
      summary: Get All Products
      tags:
        - Products
    post:
      description: |-
        Creates a *Product*. Only one product can be created at a time.

        **Required Fields:**
        - `name`
        - `type`
        - `weight`
        - `price`

        **Read-Only Fields**
        - `id`
        - `date_created`
        - `date_modified`
        - `calculated_price`
        - `base_variant_id`

        **Limits**
        - 250 characters product name length.

        **Usage Notes**
        * `POST` requests to `/products` accepts a single `video` object; to send an array of video objects, see: `/products/{product_id}/videos`.
      operationId: createProduct
      parameters:
        - name: product
          in: body
          required: true
          schema:
            $ref: '#/definitions/product_Post'
          x-examples:
            Simple Product: |-
              {
                "name": "BigCommerce Coffee Mug",
                "price": "10.00",
                "weight": 4,
                "type": "physical"
              }
            Creating a Product with Variants: |-
              {
                  "name": "BigCommerce Coffee Mug",
                  "price": "10.00",
                  "categories":[
                          23,21
                      ],

                  "weight": 4,
                  "type": "physical",
                  "variants":[
                      {
                          "sku": "SKU-BLU",
                          "option_values":[
                                  {
                                      "option_display_name": "Mug Color",
                                      "label": "Blue"
                                  }
                              ]
                      },
                      {
                          "sku": "SKU-GRAY",
                          "option_values":[
                                  {
                                      "option_display_name": "Mug Color",
                                      "label": "Gray"
                                  }
                              ]
                      }
                  ]
              }
            Create Product with Image: "{\n  \"name\": \"Create product with image\",\n  \"price\": \"10.00\",\n  \"categories\": [\n    23\n  ],\n  \"weight\": 4,\n  \"type\": \"physical\",\n  \"images\":[\n  \t{\n\t\"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg\"\n  \t}\n  \t]\n}"
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - $ref: '#/parameters/FilterIncludeFieldsParam'
      responses:
        '200':
          $ref: '#/responses/ProductResponse'
        '207':
          $ref: '#/responses/HTTP207Status'
        '409':
          description: |
            `Product` was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.
          schema:
            allOf:
              - type: object
                description: |
                  Error payload for the BigCommerce API.
                properties:
                  status:
                    description: |
                      The HTTP status code.
                    type: integer
                  title:
                    description: |
                      The error title describing the particular error.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: Base Error
              - type: object
                properties:
                  errors:
                    type: object
                    title: Detailed Errors
                    properties:
                      additionalProperties:
                        type: string
            title: Error Response
        '422':
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            allOf:
              - type: object
                description: |
                  Error payload for the BigCommerce API.
                properties:
                  status:
                    description: |
                      The HTTP status code.
                    type: integer
                  title:
                    description: |
                      The error title describing the particular error.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: Base Error
              - type: object
                properties:
                  errors:
                    type: object
                    title: Detailed Errors
                    properties:
                      additionalProperties:
                        type: string
            title: Error Response
      summary: Create a Product
      tags:
        - Products
    delete:
      description: |-
        To delete *Product* objects, you must include a filter. This prevents inadvertently deleting all *Product* objects in a store.

        <!-- theme: info -->
        > The maximum number of products you can delete at one time is 250.

        **Example**:
        To delete products with the id's of 1,2 and 3, use `DELETE /v3/catalog/products?id:in=1,2,3`.
      operationId: deleteProducts
      parameters:
        - name: name
          description: |
            Filter items by name.
          required: false
          in: query
          type: string
        - name: sku
          description: |
            Filter items by sku.
          required: false
          in: query
          type: string
        - name: price
          description: |
            Filter items by price.
          required: false
          in: query
          type: number
        - name: weight
          description: |
            Filter items by weight.
          required: false
          in: query
          type: number
        - name: condition
          description: |
            Filter items by condition.
          required: false
          in: query
          type: string
          enum:
            - new
            - used
            - refurbished
        - name: brand_id
          description: |
            Filter items by brand_id.
          required: false
          in: query
          type: integer
        - name: date_modified
          description: 'Filter items by date_modified. For example `v3/catalog/products?date_modified:min=2018-06-15`'
          required: false
          in: query
          type: string
          format: date-time
        - name: date_last_imported
          description: 'Filter items by date_last_imported. For example `v3/catalog/products?date_last_imported:min=2018-06-15`'
          required: false
          in: query
          type: string
          format: date-time
        - name: is_visible
          description: 'Filter items by if visible on the storefront. '
          required: false
          in: query
          type: boolean
        - name: is_featured
          description: |
            Filter items by is_featured.
          required: false
          in: query
          type: integer
        - name: inventory_level
          description: |
            Filter items by inventory_level.
          required: false
          in: query
          type: integer
        - name: total_sold
          description: |
            Filter items by total_sold.
          required: false
          in: query
          type: integer
        - name: type
          description: 'Filter items by type: `physical` or `digital`.'
          required: false
          in: query
          type: string
          enum:
            - digital
            - physical
        - name: categories
          description: |-
            Filter items by categories.
             If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.
          required: false
          in: query
          type: integer
        - name: keyword
          description: |
            Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '204':
          description: ''
      summary: Delete Products
      tags:
        - Products
        - Catalog
    put:
      responses:
        '200':
          $ref: '#/responses/ProductCollectionResponse'
        '207':
          $ref: '#/responses/HTTP207Status'
        '404':
          description: The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
        '409':
          description: '`Product` was in conflict with another product. This is the result of duplicate unique values such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.'
          schema:
            $ref: '#/definitions/errorResponse_409'
        '413':
          description: 413 Request Entity Too Large
          examples:
            application/json:
              errors: {}
              status: 413
              title: The request payload is too large. The maximum items allowed in the array is 50
              type: /api-docs/getting-started/api-status-codes
          schema:
            $ref: '#/definitions/error_Base'
        '422':
          description: '`Product` was not valid. This is the result of missing required fields or invalid data. See the response for more details.'
          schema:
            $ref: '#/definitions/errorResponse_422'
          examples:
            application/json:
              - status: -511628
                title: elit qui aute deserunt
                type: aliqua enim
                instance: in
                errors:
                  additionalProperties: ipsum
              - status: 58617067
                title: elit ea officia aute veniam
                type: consequat sit ex in
                instance: quis
                errors:
                  additionalProperties: commodo tempor ut non
              - status: -74834728
                title: ea v
                type: veniam
                instance: Duis sit anim quis
                errors:
                  additionalProperties: ut sint amet
              - status: -99427802
                title: ut labore veniam
                type: occaecat qui ut tempor
                instance: occaecat sit
                errors:
                  additionalProperties: sint enim
      summary: Update Products (Batch)
      tags:
        - Products
      operationId: updateProducts
      description: |-
        Updates products in batches. At the time of writing, batches are limited to 10 products.

        **Required Fields**
        * `id` - product `id` is required for batch updates to products.

        **Read-Only Fields**
        - `id`
        - `date_created`
        - `date_modified`
        - `calculated_price`
        - `base_variant_id`
      parameters:
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: products
          in: body
          schema:
            $ref: '#/definitions/product_Put_Collection'
          x-examples:
            application/json:
              - id: 123
                name: T-Shirt
                sku: TS-1
                description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
              - id: 456
                name: Polo Shirt
                sku: PS-1
                description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/catalog/products/{product_id}':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a single *Product*. Optional parameters can be passed in.
      operationId: getProductById
      parameters:
        - name: include
          description: 'Sub-resources to include on a product, in a comma-separated list. If `options` or `modifiers` is used, results are limited to 10 per page.'
          required: false
          in: query
          type: string
          enum:
            - variants
            - images
            - custom_fields
            - bulk_pricing_rules
            - primary_image
            - modifiers
            - options
            - videos
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Product Response
            properties:
              data:
                $ref: '#/definitions/product_Full'
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
          examples:
            application/json:
              data:
                id: 174
                name: 1L Le Parfait Jar
                type: physical
                sku: ''
                description: '<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>'
                weight: 1
                width: 0
                depth: 0
                height: 0
                price: 7.95
                cost_price: 0
                retail_price: 10
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: ''
                calculated_price: 7.95
                categories:
                  - 23
                  - 21
                brand_id: 36
                option_set_id: 55
                option_set_display: right
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                reviews_rating_sum: 0
                reviews_count: 0
                total_sold: 7
                fixed_cost_shipping_price: 0
                is_free_shipping: false
                is_visible: true
                is_featured: false
                related_products:
                  - -1
                warranty: ''
                bin_picking_number: ''
                layout_file: product.html
                upc: ''
                mpn: ''
                gtin: ''
                search_keywords: 'jar, glass'
                availability: available
                availability_description: ''
                gift_wrapping_options_type: any
                gift_wrapping_options_list: []
                sort_order: 0
                condition: New
                is_condition_shown: false
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: ''
                meta_keywords: []
                meta_description: ''
                date_created: '2018-08-15T14:48:46+00:00'
                date_modified: '2018-09-05T20:42:07+00:00'
                view_count: 10
                preorder_release_date: '2018-09-05T20:42:07+00:00'
                preorder_message: ''
                is_preorder_only: false
                is_price_hidden: false
                price_hidden_label: ''
                custom_url:
                  url: /all/1l-le-parfait-jar/
                  is_customized: true
                base_variant_id: 345
                open_graph_type: product
                open_graph_title: ''
                open_graph_description: ''
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get a Product
      tags:
        - Products
    put:
      description: |
        Updates a *Product*.

        **Read-Only Fields**
        - id
        - date_created
        - date_modified
        - calculated_price
        - base_variant_id
      operationId: updateProduct
      parameters:
        - name: product
          in: body
          required: true
          schema:
            $ref: '#/definitions/product_Put'
          x-examples:
            application/json:
              name: Fog Linen Chambray Towel - Beige Stripe
              type: physical
              sku: SLCTBS
              description: '<p>The perfect beach towel: thin, lightweight and highly absorbent. Crafted by Fog Linen in Japan using soft Lithuanian linen, each towel rolls up for compact stowaway. Dry off after a refreshing dip in the ocean and stretch out on it for a sun bath. The thinness ensures a quick dry so you can have it rolled back up in your bag without soaking your belongings.</p>\r\n<p>Measures 75 x 145 cm/29.5 x 57 in</p>\r\n<p>100% Linen</p>'
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - $ref: '#/parameters/FilterIncludeFieldsParam'
      responses:
        '200':
          $ref: '#/responses/ProductResponse'
        '201':
          description: Created
          schema:
            type: object
            properties: {}
        '207':
          $ref: '#/responses/HTTP207Status'
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
        '409':
          description: |
            `Product` was in conflict with another product. This is caused by: duplicate unique values, such as name or SKU; a missing category, brand, or tax_class with which the product is being associated; or a conflicting bulk pricing rule.
          schema:
            allOf:
              - type: object
                description: |
                  Error payload for the BigCommerce API.
                properties:
                  status:
                    description: |
                      The HTTP status code.
                    type: integer
                  title:
                    description: |
                      The error title describing the particular error.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: Base Error
              - type: object
                properties:
                  errors:
                    type: object
                    title: Detailed Errors
                    properties:
                      additionalProperties:
                        type: string
            title: Error Response
        '422':
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            allOf:
              - type: object
                description: |
                  Error payload for the BigCommerce API.
                properties:
                  status:
                    description: |
                      The HTTP status code.
                    type: integer
                  title:
                    description: |
                      The error title describing the particular error.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: Base Error
              - type: object
                properties:
                  errors:
                    type: object
                    title: Detailed Errors
                    properties:
                      additionalProperties:
                        type: string
            title: Error Response
      summary: Update a Product
      tags:
        - Products
    delete:
      description: Deletes a *Product*.
      operationId: deleteProductById
      responses:
        '204':
          description: ''
      summary: Delete a Product
      tags:
        - Products
      parameters:
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
  '/stores/{store_hash}/v3/catalog/products/{product_id}/images':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a list of *Product Images*. Optional parameters can be passed in.
      operationId: getProductImages
      parameters:
        - name: page
          description: Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: Controls the number of items per page in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            title: Product Image Collection Response
            properties:
              data:
                type: array
                items:
                  title: Product Image
                  allOf:
                    - $ref: '#/definitions/productImage_Full'
              meta:
                $ref: '#/definitions/metaCollection_Full'
          examples:
            application/json:
              data:
                - id: 382
                  product_id: 158
                  is_thumbnail: true
                  sort_order: 0
                  description: ''
                  image_file: a/521/foglinenbeigestripetowel1b_1024x1024__83011__60806.jpg
                  url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.1280.1280.jpg?c=2'
                  url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.560.850.jpg?c=2'
                  url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.330.500.jpg?c=2'
                  url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.66.100.jpg?c=2'
                  date_modified: '2018-08-15T14:48:31+00:00'
                - id: 383
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 0
                  description: ''
                  image_file: k/050/foglinenbeigestripetowel2b_1024x1024__16082__46564.jpg
                  url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.1280.1280.jpg?c=2'
                  url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.560.850.jpg?c=2'
                  url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.330.500.jpg?c=2'
                  url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.66.100.jpg?c=2'
                  date_modified: '2018-08-15T14:48:31+00:00'
              meta:
                pagination:
                  total: 2
                  count: 2
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
        '204':
          description: |
            There are not any images on this product.
        '404':
          description: |
            The product ID does not exist.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get All Product Images
      tags:
        - Product Images
    post:
      description: |-
        Creates a *Product Image*.

         **Required Fields**
        - `image_file`, or
        - `image_url`

        **Usage Notes**
        - `image_url` - `255` character limit
        - For file uploads, use the `multipart/form-data` media type
        - Only one image at a time can be created
        - Supported image file types are BMP, GIF, JPEG, PNG, WBMP, XBM, and WEBP.
      operationId: createProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          schema:
            description: The model for a POST to create an image on a product.
            allOf:
              - description: Common ProductImage properties.
                title: Product Image Base
                properties:
                  id:
                    description: |
                      The unique numeric ID of the image; increments sequentially.
                    type: integer
                  product_id:
                    description: |
                      The unique numeric identifier for the product with which the image is associated.
                    type: integer
                  image_file:
                    description: |-
                      The local path to the original image file uploaded to BigCommerce.
                      A `multipart/form-data` media type.
                    type: string
                  url_zoom:
                    description: |
                      The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                    type: string
                  url_standard:
                    description: |
                      The standard URL for this image. By default, this is used for product-page images.
                    type: string
                  url_thumbnail:
                    description: |
                      The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                    type: string
                  url_tiny:
                    description: |
                      The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                    type: string
                  date_modified:
                    format: date-time
                    description: |
                      The date on which the product image was modified.
                    type: string
                  is_thumbnail:
                    description: |
                      Flag for identifying whether the image is used as the product's thumbnail.
                    type: boolean
                  sort_order:
                    type: integer
                    description: |
                      The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                    minimum: -2147483648
                    maximum: 2147483647
                  description:
                    description: |
                      The description for the image.
                    type: string
              - properties:
                  image_url:
                    description: |
                      Must be a fully qualified URL path, including protocol. Limit of 8MB per file.
                    type: string
                  image_file:
                    description: |
                      Must be sent as a multipart/form-data field in the request body. Limit of 1MB per file.
                    type: string
            title: Product Image Post
            type: object
          x-examples:
            application/json:
              is_thumbnail: true
              sort_order: 1
              description: Top View
              image_url: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
            multipart/form-data: |-
              curl -X POST \
                https://api.bigcommerce.com/stores/id30h7ohwf/v3/catalog/products/158/images \
                -H 'Accept: application/json' \
                -H 'Cache-Control: no-cache' \
                -H 'Content-Type: application/json' \
                -H 'X-Auth-Client: {X-Auth-Client:}' \
                -H 'X-Auth-Token: {X-Auth-Token:}' \
                -H 'content-type: multipart/form-data; boundary=-WebKitFormBoundary7MA4YWxkTrZu0gW' \
                -F image_file=@/Users/user.name/Documents/docs_images/product-image.png
          description: ''
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: Success
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            title: Product Image Response
            properties:
              data:
                title: Product Image
                allOf:
                  - description: Common ProductImage properties.
                    title: Product Image Base
                    properties:
                      id:
                        description: |
                          The unique numeric ID of the image; increments sequentially.
                        type: integer
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      image_file:
                        description: |-
                          The local path to the original image file uploaded to BigCommerce.

                          A `multipart/form-data` media type.
                        type: string
                      url_zoom:
                        description: |
                          The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                        type: string
                      url_standard:
                        description: |
                          The standard URL for this image. By default, this is used for product-page images.
                        type: string
                      url_thumbnail:
                        description: |
                          The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                        type: string
                      url_tiny:
                        description: |
                          The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                        type: string
                      date_modified:
                        format: date-time
                        description: |
                          The date on which the product image was modified.
                        type: string
                      is_thumbnail:
                        description: |
                          Flag for identifying whether the image is used as the product's thumbnail.
                        type: boolean
                      sort_order:
                        type: integer
                        description: |
                          The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                        minimum: -2147483648
                        maximum: 2147483647
                      description:
                        description: |
                          The description for the image.
                        type: string
                  - properties:
                      id:
                        description: |
                          The unique numeric ID of the image; increments sequentially.
                        type: integer
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      image_file:
                        description: |-
                          The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.
                          A `multipart/form-data` media type.
                        type: string
                      url_zoom:
                        description: |
                          The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                        type: string
                      url_standard:
                        description: |
                          The standard URL for this image. By default, this is used for product-page images.
                        type: string
                      url_thumbnail:
                        description: |
                          The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                        type: string
                      url_tiny:
                        description: |
                          The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                        type: string
                      date_modified:
                        format: date-time
                        description: |
                          The date on which the product image was modified.
                        type: string
                      image_url:
                        type: string
                        example: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
                        description: |-
                          Publically available URL.
                          Use the image_url when creating a product.
                type: object
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
          examples:
            application/json:
              data:
                id: 485
                product_id: 158
                is_thumbnail: false
                sort_order: 1
                description: ''
                image_file: o/381/product-image__98178.png
                url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                date_modified: '2018-09-13T15:57:07+00:00'
              meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          schema:
            type: object
            properties: {}
        '404':
          description: |
            The product ID does not exist.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
        '422':
          description: |-
            Unprocessable Entity. 

            May occur if the `Content-Type` header is set to `multipart/form-data` rather than `application/json` when creating a product image using `image_url`.
          schema:
            description: ''
            type: object
            properties:
              status:
                type: number
              title:
                type: string
                minLength: 1
              type:
                type: string
                minLength: 1
            required:
              - status
              - title
              - type
          examples:
            Example:
              status: 422
              title: image_url must be present if uploading by url
              type: /api-docs/getting-started/api-status-codes
      summary: Create a Product Image
      consumes:
        - application/json
        - multipart/form-data
      tags:
        - Product Images
  '/stores/{store_hash}/v3/catalog/products/{product_id}/images/{image_id}':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - name: image_id
        description: |
          The ID of the `Image` that is being operated on.
        required: true
        in: path
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a single *Product Image*. Optional parameters can be passed in.
      operationId: getProductImageById
      parameters:
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            title: Product Image Response
            properties:
              data:
                $ref: '#/definitions/productImage_Full'
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
          examples:
            application/json:
              data:
                id: 485
                product_id: 158
                is_thumbnail: false
                sort_order: 1
                description: ''
                image_file: o/381/product-image__98178.png
                url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                date_modified: '2018-09-13T15:57:07+00:00'
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get a Product Image
      tags:
        - Product Images
    put:
      description: |-
        Updates a *Product Image*.

        **Usage Notes**
        - `image_url` - `255` character limit
        - For file uploads, send a POST request using the `multipart/form-data` media type
      operationId: updateProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          schema:
            $ref: '#/definitions/productImage_Put'
          x-examples:
            application/json:
              is_thumbnail: true
              sort_order: 1
              description: Yellow Large Bath Towel
          description: ''
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                title: Product Image
                allOf:
                  - type: object
                    description: Common ProductImage properties.
                    properties:
                      id:
                        description: |
                          The unique numeric ID of the image; increments sequentially.
                        type: integer
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      image_file:
                        description: |
                          The local path to the original image file uploaded to BigCommerce.
                        type: string
                      url_zoom:
                        description: |
                          The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                        type: string
                      url_standard:
                        description: |
                          The standard URL for this image. By default, this is used for product-page images.
                        type: string
                      url_thumbnail:
                        description: |
                          The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                        type: string
                      url_tiny:
                        description: |
                          The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                        type: string
                      date_modified:
                        format: date-time
                        description: |
                          The date on which the product image was modified.
                        type: string
                      is_thumbnail:
                        description: |
                          Flag for identifying whether the image is used as the product's thumbnail.
                        type: boolean
                      sort_order:
                        type: integer
                        description: |
                          The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.
                        minimum: -2147483648
                        maximum: 2147483647
                      description:
                        description: |
                          The description for the image.
                        type: string
                    title: Product Image Base
                  - type: object
                    properties:
                      id:
                        description: |
                          The unique numeric ID of the image; increments sequentially.
                        type: integer
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      image_file:
                        description: |
                          The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.
                        type: string
                      url_zoom:
                        description: |
                          The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.
                        type: string
                      url_standard:
                        description: |
                          The standard URL for this image. By default, this is used for product-page images.
                        type: string
                      url_thumbnail:
                        description: |
                          The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.
                        type: string
                      url_tiny:
                        description: |
                          The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.
                        type: string
                      date_modified:
                        format: date-time
                        description: |
                          The date on which the product image was modified.
                        type: string
                      image_url:
                        type: string
                        example: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
                        description: |-
                          Publically available URL.
                          Use the image_url when creating a product.
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
            title: Product Image Response
          examples:
            application/json:
              data:
                id: 485
                product_id: 158
                is_thumbnail: false
                sort_order: 1
                description: ''
                image_file: o/381/product-image__98178.png
                url_zoom: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2'
                url_standard: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2'
                url_thumbnail: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2'
                url_tiny: 'https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2'
                date_modified: '2018-09-13T15:57:07+00:00'
              meta: {}
        '201':
          description: Created
          schema:
            type: object
            properties: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          schema:
            type: object
            properties: {}
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Update a Product Image
      tags:
        - Product Images
      consumes:
        - application/json
    delete:
      description: Deletes a *Product Image*.
      operationId: deleteProductImage
      responses:
        '204':
          description: ''
      summary: Delete a Product Image
      parameters:
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      tags:
        - Product Images
  '/stores/{store_hash}/v3/catalog/products/{product_id}/videos':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a list of *Product Videos*. Optional parameters can be passed in.
      operationId: getProductVideos
      parameters:
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Product Video Collection Response
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/productVideo_Full'
              meta:
                $ref: '#/definitions/metaCollection_Full'
          examples:
            application/json:
              data:
                - id: 6
                  type: youtube
                  video_id: PqBTp23RLhI
                  product_id: 192
                  sort_order: 1
                  title: Creating and Editing Banners | BigCommerce Tutorials
                  description: 'Learn how to create and edit marketing banners. Marketing banners are a great way to advertise sales, display coupon codes, and add design elements. Let’s take a look at how you can leverage banners to convert your store’s visitors into paying customers.'
                  length: '01:54'
                - id: 7
                  type: youtube
                  video_id: EhYBjzqd-nI
                  product_id: 192
                  sort_order: 2
                  title: BigCommerce Company Values
                  description: |-
                    These are the core principles upon which BigCommerce was built, guiding what we do and how we do it. Each employee learns them, loves them and lives them. Our merchants benefit from them every time they use our product or get help from our support team.

                    Join the BigCommerce team and help us build software that changes lives!

                    https://www.bigcommerce.com/careers/
                  length: '03:30'
                - id: 8
                  type: youtube
                  video_id: vAUdo4kRjrU
                  product_id: 192
                  sort_order: 3
                  title: TOP WORKPLACES 2016 - Austin American Statesman + BigCommerce
                  description: |-
                    We've been named one of Austin American-Statesman's Top WorkPlaces for the 5th year in a row! Here's what some employees have to say:

                    “I am given the freedom and trust to make a difference.”

                    “Everyone believes in the product and growing the company.”

                    “I'm appreciated for the work I do and there is room to grown within the company.”

                    Work With Us!
                    http://www.bigcommerce.com/careers.php
                  length: '01:37'
              meta:
                pagination:
                  total: 3
                  count: 3
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
      summary: Get All Product Videos
      tags:
        - Product Videos
    post:
      description: |-
        Creates a *Product Video*.

        **Required Fields**
        * video_id - Example: https://www.youtube.com/watch?v=`R12345677`

        **Read-Only Fields**
        * id

        Publicly accessible URLs are valid parameters.
        Videos must be loaded through YouTube at this time.
      operationId: createProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          schema:
            type: object
            description: |
              The model for a POST to create a video on a product.
            allOf:
              - type: object
                description: Common ProductVideo properties.
                properties:
                  title:
                    type: string
                    description: |
                      The title for the video. If left blank, this will be filled in according to data on a host site.
                    minLength: 0
                    maxLength: 255
                  description:
                    type: string
                    description: |
                      The description for the video. If left blank, this will be filled in according to data on a host site.
                  sort_order:
                    type: integer
                    description: |
                      The order in which the video will be displayed on the product page. Higher integers give the video a lower priority. When updating, if the video is given a lower priority, all videos with a `sort_order` the same as or greater than the video's new `sort_order` value will have their `sort_order`s reordered.
                    minimum: -2147483648
                    maximum: 2147483647
                  type:
                    type: string
                    description: |
                      The video type (a short name of a host site).
                    enum:
                      - youtube
                title: Product Video Base
              - type: object
                properties:
                  video_id:
                    type: string
                    description: |
                      The ID of the video on a host site.
                    x-required:
                      - post
                    minLength: 0
                    maxLength: 25
            title: Product Video Post
          x-examples:
            application/json:
              title: Your Video
              description: Company Values
              sort_order: 1
              type: youtube
              video_id: 123345AA
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: object
                description: |
                  A product video model.
                allOf:
                  - type: object
                    description: Common ProductVideo properties.
                    properties:
                      title:
                        type: string
                        description: |
                          The title for the video. If left blank, this will be filled in according to data on a host site.
                        minLength: 0
                        maxLength: 255
                      description:
                        type: string
                        description: |
                          The description for the video. If left blank, this will be filled in according to data on a host site.
                      sort_order:
                        type: integer
                        description: |
                          The order in which the video will be displayed on the product page. Higher integers give the video a lower priority. When updating, if the video is given a lower priority, all videos with a `sort_order` the same as or greater than the video's new `sort_order` value will have their `sort_order`s reordered.
                        minimum: -2147483648
                        maximum: 2147483647
                      type:
                        type: string
                        description: |
                          The video type (a short name of a host site).
                        enum:
                          - youtube
                    title: Product Video Base
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: |
                          The unique numeric ID of the product video; increments sequentially.
                      video_id:
                        description: |
                          The ID of the video on a host site.
                        type: string
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      length:
                        description: |
                          Length of the video. This will be filled in according to data on a host site.
                        type: string
                title: Product Video
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
            title: Product Video Response
          examples:
            application/json:
              title: Your Video
              description: Company Values
              sort_order: 1
              type: youtube
              video_id: 123345AA
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Create a Product Video
      tags:
        - Product Videos
  '/stores/{store_hash}/v3/catalog/products/{product_id}/videos/{id}':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - name: id
        description: The BigCommerce ID of the `Video`
        required: true
        in: path
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a single *Product Video*. Optional parameters can be passed in.
      operationId: getProductVideoById
      parameters:
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            title: Product Video Response
            properties:
              data:
                $ref: '#/definitions/productVideo_Full'
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
          examples:
            application/json:
              title: Your Video
              description: Company Values
              sort_order: 1
              type: youtube
              video_id: 123345AA
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get a Product Video
      tags:
        - Product Videos
    put:
      description: |-
        Updates a *Product Video.

        **Required Fields**
        * none

        **Read-Only Fields**
        * id
      operationId: updateProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          schema:
            type: object
            description: |
              The model for a PUT to update a video on a product.
            allOf:
              - type: object
                description: Common ProductVideo properties.
                properties:
                  title:
                    type: string
                    description: |
                      The title for the video. If left blank, this will be filled in according to data on a host site.
                    minLength: 0
                    maxLength: 255
                  description:
                    type: string
                    description: |
                      The description for the video. If left blank, this will be filled in according to data on a host site.
                  sort_order:
                    type: integer
                    description: |
                      The order in which the video will be displayed on the product page. Higher integers give the video a lower priority. When updating, if the video is given a lower priority, all videos with a `sort_order` the same as or greater than the video's new `sort_order` value will have their `sort_order`s reordered.
                    minimum: -2147483648
                    maximum: 2147483647
                  type:
                    type: string
                    description: |
                      The video type (a short name of a host site).
                    enum:
                      - youtube
                title: Product Video Base
              - type: object
                properties:
                  id:
                    type: integer
                    description: |
                      The unique numeric ID of the product video; increments sequentially.
                    x-required:
                      - put
            title: Product Video Put
          x-examples:
            application/json:
              title: 'est '
              description: exercitation labore consectetur
              sort_order: 1272745782
              type: youtube
              id: -39983286
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            description: |
              Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: object
                description: |
                  A product video model.
                allOf:
                  - type: object
                    description: Common ProductVideo properties.
                    properties:
                      title:
                        type: string
                        description: |
                          The title for the video. If left blank, this will be filled in according to data on a host site.
                        minLength: 0
                        maxLength: 255
                      description:
                        type: string
                        description: |
                          The description for the video. If left blank, this will be filled in according to data on a host site.
                      sort_order:
                        type: integer
                        description: |
                          The order in which the video will be displayed on the product page. Higher integers give the video a lower priority. When updating, if the video is given a lower priority, all videos with a `sort_order` the same as or greater than the video's new `sort_order` value will have their `sort_order`s reordered.
                        minimum: -2147483648
                        maximum: 2147483647
                      type:
                        type: string
                        description: |
                          The video type (a short name of a host site).
                        enum:
                          - youtube
                    title: Product Video Base
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: |
                          The unique numeric ID of the product video; increments sequentially.
                      video_id:
                        description: |
                          The ID of the video on a host site.
                        type: string
                      product_id:
                        description: |
                          The unique numeric identifier for the product with which the image is associated.
                        type: integer
                      length:
                        description: |
                          Length of the video. This will be filled in according to data on a host site.
                        type: string
                title: Product Video
              meta:
                type: object
                description: Empty meta object; may be used later.
                title: Meta
            title: Product Video Response
          examples:
            application/json:
              title: Your Video
              description: Company Values
              sort_order: 1
              type: youtube
              video_id: 123345AA
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Update a Product Video
      tags:
        - Product Videos
    delete:
      operationId: deleteProductVideo
      responses:
        '204':
          description: ''
      summary: Delete a Product Video
      description: Deletes a *Product Video*.
      tags:
        - Product Videos
      parameters:
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
  '/stores/{store_hash}/v3/catalog/products/{product_id}/variants':
    parameters:
      - name: product_id
        in: path
        description: |
          The ID of the `Product` to which the resource belongs.
        required: true
        type: integer
      - type: string
        name: store_hash
        in: path
        required: true
    get:
      description: Returns a list of product *Variants*. Optional parameters can be passed in.
      operationId: getVariantsByProductId
      parameters:
        - name: page
          description: Specifies the page number in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: limit
          description: Controls the number of items per page in a limited (paginated) list of products.
          required: false
          in: query
          type: integer
        - name: include_fields
          description: 'Fields to include, in a comma-separated list. The ID and the specified fields will be returned.'
          required: false
          in: query
          type: string
        - name: exclude_fields
          description: 'Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.'
          required: false
          in: query
          type: string
        - in: header
          type: string
          name: Accept
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Variant Collection Response
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/productVariant_Full'
              meta:
                $ref: '#/definitions/metaCollection_Full'
          examples:
            application/json:
              data:
                - id: 382
                  product_id: 192
                  sku: SMIT
                  sku_id: 348
                  price: 10
                  calculated_price: 10
                  sale_price: 8
                  retail_price: 10
                  map_price: {}
                  weight: 4
                  calculated_weight: 2
                  width: 5
                  height: 5
                  depth: 5
                  is_free_shipping: false
                  fixed_cost_shipping_price: 10
                  purchasing_disabled: false
                  purchasing_disabled_message: ''
                  image_url: ''
                  cost_price: 0
                  upc: ''
                  mpn: ''
                  gtin: ''
                  inventory_level: 0
                  inventory_warning_level: 0
                  bin_picking_number: ''
                  option_values:
                    - id: 174
                      label: Beige
                      option_id: 220
                      option_display_name: Color
                - id: 383
                  product_id: 192
                  sku: SMIT-1
                  sku_id: 349
                  price: 25
                  calculated_price: 25
                  sale_price: 20
                  retail_price: 25
                  map_price: {}
                  weight: 2
                  calculated_weight: 1
                  width: 5
                  height: 5
                  depth: 5
                  is_free_shipping: false
                  fixed_cost_shipping_price: 10
                  purchasing_disabled: false
                  purchasing_disabled_message: ''
                  image_url: ''
                  cost_price: 25
                  upc: ''
                  mpn: ''
                  gtin: ''
                  inventory_level: 0
                  inventory_warning_level: 0
                  bin_picking_number: ''
                  option_values:
                    - id: 175
                      label: Grey
                      option_id: 220
                      option_display_name: Color
                - id: 384
                  product_id: 192
                  sku: SMIT-2
                  sku_id: 350
                  price: 25
                  calculated_price: 25
                  sale_price: 20
                  retail_price: 25
                  map_price: {}
                  weight: 2
                  calculated_weight: 1
                  width: 5
                  height: 5
                  depth: 5
                  is_free_shipping: false
                  fixed_cost_shipping_price: 10
                  purchasing_disabled: false
                  purchasing_disabled_message: ''
                  image_url: ''
                  cost_price: 25
                  upc: ''
                  mpn: ''
                  gtin: ''
                  inventory_level: 0
                  inventory_warning_level: 0
                  bin_picking_number: ''
                  option_values:
                    - id: 176
                      label: Black
                      option_id: 220
                      option_display_name: Color
              meta:
                pagination:
                  total: 3
                  count: 3
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      tags:
        - Product Variants
      summary: Get All Product Variants
    post:
      description: |-
        Creates a *Product Variant*.

        **Required Fields**
        * sku
        * option_values

        **Read-Only Fields**
        * id

        **Limits**
        * 600 SKUs per product limit.
        * 255 characters SKU length limit.

        Variants need to be created one at a time using this endpoint. To use a variant array and create products and variants in the same call use the [Create Products](/api-reference/catalog/catalog-api/products/createproduct) during the initial product creation.
      operationId: createVariant
      parameters:
        - name: Variant
          in: body
          required: true
          schema:
            $ref: '#/definitions/productVariant_Post'
          x-examples:
            application/json:
              cost_price: 3
              price: 12.99
              retail_price: 15.99
              weight: 1
              width: 4
              height: 14.6
              depth: 22
              image_url: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg'
              is_free_shipping: true
              purchasing_disabled: true
              purchasing_disabled_message: This item not available at this time.
              product_id: 134
[...]
