swagger: '2.0'
info:
  version: '3.0'
  title: Checkouts
  description: |-
    For more information on authenticating BigCommerce APIs, see [Authentication](/api-docs/getting-started/authentication).

    Create and manage checkouts from existing carts using BigCommerce checkout logic.
host: api.bigcommerce.com
basePath: null
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/stores/{store_hash}/v3/checkouts/{checkoutId}':
    get:
      description: |-
        Returns a *Checkout*.

        **Notes**

        The cart ID and checkout ID are the same.
      summary: Get a Checkout
      tags:
        - Checkout
      operationId: CheckoutsByCheckoutIdGet
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - in: query
          name: include
          type: string
          description: |-
            * `cart.line_items.physical_items.options` - physical options
            * `cart.line_items.digital_items.options` - digital options
            * `consignments.available_shipping_options` - shipping options
            * `promotions.banners` - promotion options
          enum:
            - cart.line_items.physical_items.options
            - cart.line_items.digital_items.options
            - consignments.available_shipping_options
            - promotions.banners
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
        '404':
          description: When a given checkout ID is not found.
          schema:
            title: Checkout Error
            type: object
            properties:
              errors:
                description: ''
                type: array
                items:
                  title: ErrorDetail
                  type: object
                  properties:
                    status:
                      description: ''
                      type: integer
                      format: int32
                    title:
                      description: ''
                      type: string
                    type:
                      description: ''
                      type: string
                    detail:
                      description: ''
                      type: string
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      description: |-
        Change customer message to an existing *Checkout*.

        **Limits:**
        * 2000 characters for customer message
      tags:
        - Checkout
      operationId: CheckoutsByCheckoutIdPut
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: ID of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: '`customer_message` is required (max length is 2000).'
          schema:
            $ref: '#/definitions/Checkout_Put'
          x-examples:
            application/json:
              customer_message: Ship Now!
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      summary: Update Customer Messages
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/discounts':
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
    post:
      summary: Add Discount to Checkout
      operationId: post-store_hash-v3-checkouts-checkoutId-discounts
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      description: |-
        Adds a discount to an existing *checkout*.

        This discount only applies to `line_items`. When you call this API, you clear out all existing discounts applied to line items, including product and order-based discounts.

        This endpoint splits the discount between line items based on the item value.

        Required Fields
        * discounted_amount
      tags:
        - Checkout Discounts
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              cart:
                type: object
                properties:
                  discounts:
                    type: array
                    items:
                      type: object
                      properties:
                        discounted_amount:
                          type: number
                          example: 10
                        name:
                          type: string
                          example: manual
                      required:
                        - discounted_amount
          x-examples:
            example-1:
              cart:
                discounts:
                  - discounted_amount: 10
                    name: manual
        - type: string
          in: header
          name: Accept
          required: true
          default: application/json
        - type: string
          in: header
          name: Content-Type
          required: true
          default: application/json
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/billing-address':
    post:
      description: |-
        Adds a billing address to an existing *Checkout*.

        **Required Fields**
        * email
        * country_code
      tags:
        - Checkout Billing Address
      operationId: CheckoutsBillingAddressByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: Either email or countryCode is required.
          schema:
            $ref: '#/definitions/AddressProperties'
          x-examples:
            application/json:
              first_name: Jane
              last_name: Doe
              email: jane@example.com
              address1: 123 Main Street
              address2: ''
              city: Austin
              state_or_province: Texas
              state_or_province_code: TX
              country_code: US
              postal_code: '78751'
              phone: '1234567890'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      summary: Add Checkout Billing Address
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/billing-address/{addressId}':
    put:
      description: Updates an existing billing address on *Checkout*.
      summary: Update Checkout Billing Address
      tags:
        - Checkout Billing Address
      operationId: CheckoutsBillingAddressByCheckoutIdAndAddressIdPut
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: addressId
          in: path
          type: integer
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/AddressProperties'
          x-examples:
            application/json:
              email: jane@example.com
              phone: '1234567890'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
      - type: string
        name: addressId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/consignments':
    post:
      description: |-
        Adds a new consignment to a checkout.

        **Limits:**
        * 50 line item limit for guest shoppers
        * 600 line item limit for logged-in shoppers

        For more information about working with consignments, see [Checkout consignment](/api-docs/checkouts/checkout-consignment).  

        Though the only required `address` properties to create a consignment are `email` and `country_code`, to successfully [create an order](/api-reference/store-management/checkouts/checkout-orders/createanorder) the `address` requires the following properties:
        * `first_name`
        * `last_name`
        * `address1`
        * `city`
        * `country`
        * `email`
        * `country_code`

        Depending on the country, the following `address` properties can also be required:

        * `postal_code`
        * `state_or_province`
      summary: Add Consignment to Checkout
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CreateConsignmentRequest'
          x-examples:
            application/json:
              - address:
                  email: jane2@example.com
                  country_code: US
                  first_name: BigCommerce
                  last_name: Cart/Checkout
                  address1: 123 Main Street
                  city: Austin
                  state_or_province: Texas
                  state_or_province_code: TX
                  postal_code: '78751'
                  phone: '688546'
                  custom_fields:
                    - field_id: field_25
                      field_value: Great!
                line_items:
                  - item_id: 27556eb3-6537-4d08-b75e-1ac32d80934b
                    quantity: 1
              - address:
                  email: testing@example.com
                  country_code: US
                  first_name: Testing
                  last_name: BigCommerce
                  company: BigCommerce
                  address1: 111 Main Street
                  address2: '#1324'
                  city: Austin
                  state_or_province: Texas
                  state_or_province_code: TX
                  postal_code: '78751'
                  phone: '+5185158x1{1-5}'
                  custom_fields:
                    - field_id: field_25
                      field_value: You're Welcome
                line_items:
                  - item_id: 15429582-222e-499e-8d22-d2930a0cfc0e
                    quantity: 1
        - name: include
          in: query
          x-enum-elements:
            - name: Enum_consignments.availableShippingOptions
              description: ''
          type: string
          description: Include to get available shipping options
          enum:
            - consignments.available_shipping_options
        - $ref: '#/parameters/includeShippingOption'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/consignments/{consignmentId}':
    put:
      description: |-
        Updates an existing consignment. Address, line item IDs or the shipping option ID can be updated using this endpoint.

        There are two steps to add a new address and shipping options with line items. 
        1. Add a new [consignment](/api-reference/store-management/checkouts/checkout-consignments/checkoutsconsignmentsbycheckoutidpost) to a checkout.
        2. Assign a shipping option to the new consignment by sending a `PUT` request to update the consignment's `shipping_option_id` with a returned value from `data.consignments[N].available_shipping_option[N].id` in step one.
      summary: Update Checkout Consignment
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdAndConsignmentIdPut
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: consignmentId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/UpdateConsignmentRequest'
          x-examples:
            Updating shipping optionID:
              shipping_option_id: 9241669174884c2f2e83b3adabf03f83
            Updating address:
              address:
                email: jane2@example.com
                country_code: US
                first_name: Testing
                last_name: BigCommerce
                company: BigCommerce
                address1: 1234 Main Street
                address2: '1234'
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                postal_code: '78751'
                phone: '+481526687548x4{1-5}'
                custom_fields:
                  - field_id: field_25
                    field_value: You're Welcome
              line_items:
                - item_id: 15429582-222e-499e-8d22-d2930a0cfc0e
                  quantity: 1
        - name: include
          in: query
          required: false
          x-enum-elements:
            - name: Enum_consignments.availableShippingOptions
              description: ''
          type: string
          description: Include to get available shipping options
          enum:
            - consignments.available_shipping_options
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
    delete:
      description: |-
        Removes an existing consignment from a checkout.

        Removing the last consigment will remove the Cart from the customer it is assigned to. Create a new redirect url for the customer to access it again.
      summary: Delete Checkout Consignment
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdAndConsignmentIdDelete
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: consignmentId
          in: path
          type: string
          required: true
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
      - type: string
        name: consignmentId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/coupons':
    post:
      description: |-
        Adds a *Coupon Code* to *Checkout*.

        **Required Fields**
        * coupon_code

        **Limits**
        * Coupon codes have a 50 character limit. 
      summary: Add Coupon to Checkout
      tags:
        - Checkout Coupons
      operationId: CheckoutsCouponsByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CouponCodeRequest'
          x-examples:
            application/json:
              coupon_code: S2549JM0Y
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/coupons/{couponCode}':
    delete:
      description: Deletes a *Coupon Code* from *Checkout*.
      summary: Delete Checkout Coupon
      tags:
        - Checkout Coupons
      operationId: CheckoutsCouponsByCheckoutIdAndCouponCodeDelete
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: couponCode
          in: path
          type: string
          required: true
          description: 'The actual couponCode, not the couponId.'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
      - type: string
        name: checkoutId
        in: path
        required: true
      - type: string
        name: couponCode
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/{checkoutId}/orders':
    post:
      responses:
        '200':
          $ref: '#/responses/order_Resp'
      summary: Create an Order
      description: |-
        Creates an order.

        ## Usage notes
        * Orders created will be set to incomplete order status.
        * You can create as many orders from the same order(cart) as you want.
        * Order duplication creates the same order with a new order number with the incomplete status.
        * Once the order is paid, then the cart is deleted.
        * Cart deletion occurs if you are using BigCommerce to accept payments on orders.
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: checkoutId
          in: path
          type: string
          required: true
          description: ID of the checkout (same as the cart ID).
      tags:
        - Checkout Orders
      operationId: createAnOrder
    parameters:
      - name: checkoutId
        in: path
        type: string
        required: true
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/checkouts/settings':
    get:
      tags:
        - Checkout Settings
      responses:
        '200':
          $ref: '#/responses/checkout_settings_resp'
      description: Get checkout settings
      summary: Get Checkout Settings
    put:
      tags:
        - Checkout Settings
      responses:
        '200':
          $ref: '#/responses/checkout_settings_resp'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckoutsSettingsRequest'
      summary: Update Checkout Settings
      description: Update checkout settings
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
definitions:
  Checkout:
    title: Checkout
    type: object
    properties:
      id:
        description: ''
        type: string
        format: uuid
      cart:
        title: Cart
        type: object
        properties:
          id:
            description: 'Cart ID, provided after creating a cart with a POST.'
            type: string
            format: uuid
          customer_id:
            description: ID of the customer to which the cart belongs.
            type: integer
            format: int32
          email:
            description: The cart's email. This is the same email that is used in the billing address.
            type: string
          currency:
            title: Currency
            type: object
            properties:
              code:
                description: 'ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)'
                type: string
          base_amount:
            description: 'Sum of cart line-item amounts before cart-level discounts, coupons, or taxes.'
            type: number
            format: double
          channel_id:
            description: ID of channel
            type: number
          discount_amount:
            description: Discounted amount.
            type: number
            format: double
          cart_amount_inc_tax:
            description: Sum of cart line-item amounts minus cart-level discounts and coupons including tax
            type: number
            format: double
          cart_amount_ex_tax:
            description: Sum of cart line-item amounts minus cart-level discounts and coupons excluding tax
            type: number
            format: double
          coupons:
            description: ''
            type: array
            items:
              title: Applied Coupon
              type: object
              properties:
                code:
                  description: the coupon code
                  type: string
                id:
                  description: The coupon ID.
                  type: integer
                coupon_type:
                  description: Key name to identify the type of coupon.
                  type: string
                discounted_amount:
                  description: The discounted amount applied within a given context.
                  type: number
                  format: double
              required:
                - code
          discounts:
            description: ''
            type: array
            items:
              title: Applied Discount
              type: object
              properties:
                id:
                  description: ID of the applied discount.
                  type: string
                  format: double
                discounted_amount:
                  description: The discounted amount applied within a given context.
                  type: number
                  format: double
          line_items:
            title: Line Item
            type: object
            properties:
              physical_items:
                description: ''
                type: array
                items:
                  title: Item Physical
                  type: object
                  properties:
                    quantity:
                      description: ''
                      type: number
                      format: double
                    id:
                      description: The line-item ID.
                      type: string
                    variant_id:
                      description: ''
                      type: number
                      format: double
                    product_id:
                      description: ''
                      type: number
                      format: double
                    sku:
                      description: ''
                      type: string
                    name:
                      description: The item's product name.
                      type: string
                    url:
                      description: The product URL.
                      type: string
                    is_taxable:
                      description: ''
                      type: boolean
                    image_url:
                      description: ''
                      type: string
                    discounts:
                      description: ''
                      type: array
                      items:
                        title: Applied Discount
                        type: object
                        properties:
                          id:
                            description: ID of the applied discount.
                            type: string
                            format: double
                          discounted_amount:
                            description: The discounted amount applied within a given context.
                            type: number
                            format: double
                    coupons:
                      description: 'When the line item uses a coupon, returns a number indicating the total discounted amount.  Otherwise, returns an empty array.'
                      type:
                        - number
                        - array
                      items: {}
                    discount_amount:
                      description: The total value of all discounts applied to this item.
                      type: number
                      format: double
                    coupon_amount:
                      description: The total value of all coupons applied to this item.
                      type: number
                      format: double
                    list_price:
                      description: 'Item’s list price, as quoted by the manufacturer/distributor.'
                      type: number
                      format: double
                    sale_price:
                      description: Item's price after all discounts are applied. (The final price before tax calculation.)
                      type: number
                      format: double
                    extended_list_price:
                      description: Item's list price multiplied by the quantity.
                      type: number
                      format: double
                    extended_sale_price:
                      description: Item's sale price multiplied by the quantity.
                      type: number
                      format: double
                    is_require_shipping:
                      description: ''
                      type: boolean
                    is_mutable:
                      description: ''
                      type: boolean
                    parent_id:
                      description: ''
                      type: number
                      x-nullable: true
                    gift_wrapping:
                      title: Gift Wrapping
                      type: object
                      x-nullable: true
                      properties:
                        name:
                          description: ''
                          type: string
                        message:
                          description: ''
                          type: string
                        amount:
                          description: ''
                          type: number
                          format: double
                        amount_as_integer:
                          description: ''
                          type: number
                          format: double
                  required:
                    - quantity
              digital_items:
                description: ''
                type: array
                items:
                  title: Item Digital
                  type: object
                  properties:
                    quantity:
                      description: ''
                      type: number
                      format: double
                    id:
                      description: The line-item ID.
                      type: string
                    variant_id:
                      description: ''
                      type: number
                      format: double
                    parent_id:
                      description: ''
                      type: number
                      x-nullable: true
                    product_id:
                      description: ''
                      type: number
                      format: double
                    sku:
                      description: ''
                      type: string
                    name:
                      description: The item's product name.
                      type: string
                    url:
                      description: The product URL.
                      type: string
                    is_mutable:
                      description: ''
                      type: boolean
                    is_require_shipping:
                      description: ''
                      type: boolean
                    is_taxable:
                      description: ''
                      type: boolean
                    image_url:
                      description: ''
                      type: string
                    discounts:
                      description: ''
                      type: array
                      items:
                        title: Applied Discount
                        type: object
                        properties:
                          id:
                            description: ID of the applied discount.
                            type: string
                            format: double
                          discounted_amount:
                            description: The discounted amount applied within a given context.
                            type: number
                            format: double
                    coupons:
                      description: 'When the line item uses a coupon, returns a number indicating the total discounted amount.  Otherwise, returns an empty array.'
                      type:
                        - number
                        - array
                      items: {}
                    discount_amount:
                      description: The total value of all discounts applied to this item.
                      type: number
                      format: double
                    coupon_amount:
                      description: The total value of all coupons applied to this item.
                      type: number
                      format: double
                    list_price:
                      description: 'Item’s list price, as quoted by the manufacturer/distributor.'
                      type: number
                      format: double
                    sale_price:
                      description: Item's price after all discounts are applied. (The final price before tax calculation.)
                      type: number
                      format: double
                    extended_list_price:
                      description: Item's list price multiplied by the quantity.
                      type: number
                      format: double
                    extended_sale_price:
                      description: Item's sale price multiplied by the quantity.
                      type: number
                      format: double
                  required:
                    - quantity
              gift_certificates:
                description: ''
                type: array
                items:
                  title: Item Gift Certificate
                  type: object
                  properties:
                    theme:
                      description: 'Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`.'
                      type: string
                    amount:
                      description: 'Value must be between 1.00 and 1,000.00 in the store’s default currency.'
                      type: number
                      format: double
                    sender:
                      title: Contact Entity
                      type: object
                      properties:
                        name:
                          description: ''
                          type: string
                        email:
                          description: ''
                          type: string
                    recipient:
                      title: Contact Entity
                      type: object
                      properties:
                        name:
                          description: ''
                          type: string
                        email:
                          description: ''
                          type: string
                    id:
                      description: ''
                      type: string
                    name:
                      description: GiftCertificate-provided name that will appear in the control panel.
                      type: string
                    taxable:
                      description: ''
                      type: boolean
                    message:
                      description: Limited to 200 characters.
                      type: string
                  required:
                    - theme
                    - amount
                    - sender
                    - recipient
              custom_items:
                type: array
                items:
                  type: object
                  properties:
                    quantity:
                      type: number
                    id:
                      type: string
                    extended_list_price:
                      type: number
                    list_price:
                      type: number
                    sku:
                      type: string
                    name:
                      type: string
                    image_url:
                      type: string
                  required:
                    - quantity
            required:
              - physical_items
              - digital_items
              - gift_certificates
          created_time:
            description: Time when the cart was created.
            type: string
          updated_time:
            description: Time when the cart was last updated.
            type: string
      billing_address:
        title: Address Response
        allOf:
          - title: Address Properties
            properties:
              first_name:
                description: ''
                type: string
              last_name:
                description: ''
                type: string
              email:
                type: string
                description: ''
              company:
                description: ''
                type: string
              address1:
                description: ''
                type: string
              address2:
                description: ''
                type: string
              city:
                description: ''
                type: string
              state_or_province:
                description: Represents state or province.
                type: string
              state_or_province_code:
                description: ''
                type: string
              country_code:
                type: string
                description: ''
              postal_code:
                description: ''
                type: string
              phone:
                description: ''
                type: string
                pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
              custom_fields:
                description: ''
                type: array
                items:
                  title: Custom Field
                  type: object
                  properties:
                    field_id:
                      description: ''
                      type: string
                    field_value:
                      description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                      type: string
            required:
              - email
              - country_code
          - properties:
              id:
                description: ''
                type: string
        type: object
      consignments:
        description: ''
        type: array
        items:
          title: Consignment
          description: 'This allows us to have multiple addresses. Where there is only one address, this array will contain only one value, with all the items.'
          type: object
          properties:
            id:
              description: ''
              type: string
            shippingAddress:
              type: object
              x-deprecated: true
            address:
              title: Address Response
              allOf:
                - title: Address Properties
                  properties:
                    first_name:
                      description: ''
                      type: string
                    last_name:
                      description: ''
                      type: string
                    email:
                      type: string
                      description: ''
                    company:
                      description: ''
                      type: string
                    address1:
                      description: ''
                      type: string
                    address2:
                      description: ''
                      type: string
                    city:
                      description: ''
                      type: string
                    state_or_province:
                      description: Represents state or province.
                      type: string
                    state_or_province_code:
                      description: ''
                      type: string
                    country_code:
                      type: string
                      description: ''
                    postal_code:
                      description: ''
                      type: string
                    phone:
                      description: ''
                      type: string
                      pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
                    custom_fields:
                      description: ''
                      type: array
                      items:
                        title: Custom Field
                        type: object
                        properties:
                          field_id:
                            description: ''
                            type: string
                          field_value:
                            description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                            type: string
                  required:
                    - email
                    - country_code
                - properties:
                    id:
                      description: ''
                      type: string
              type: object
            available_shipping_options:
              description: This is available only when "include=available_shipping_options" is presented in the URL.
              type: array
              items:
                title: Selected Shipping Option
                type: object
                properties:
                  description:
                    description: ''
                    type: string
                  id:
                    description: ''
                    type: string
                  type:
                    description: 'Specified the type of shipping option. Flat rate, UPS, etc.,'
                    type: string
                  image_url:
                    description: ''
                    type: string
                  cost:
                    description: ''
                    type: number
                    format: double
                  transit_time:
                    description: An estimate of the arrival time.
                    type: string
                  additional_description:
                    type: string
                    description: 'ReadOnly, Field used for Shipping Provider API.'
            selected_shipping_option:
              title: Selected Shipping Option
              type: object
              properties:
                description:
                  description: ''
                  type: string
                id:
                  description: ''
                  type: string
                type:
                  description: 'Specified the type of shipping option. Flat rate, UPS, etc.,'
                  type: string
                image_url:
                  description: ''
                  type: string
                cost:
                  description: ''
                  type: number
                transit_time:
                  description: An estimate of the arrival time.
                  type: string
                additional_description:
                  type: string
                  description: 'ReadOnly, Field used for Shipping Provider API.'
            coupon_discounts:
              description: List of consignment discounts applied through coupons
              type: array
              items:
                title: Consignment Coupon Discount
                type: object
                properties:
                  code:
                    description: Coupon code that applied this discount
                    type: string
                  amount:
                    description: ''
                    type: number
                    format: double
            discounts:
              description: List of consignment discounts applied through cart level discounts
              type: array
              items:
                title: Consignment Discount
                type: object
                properties:
                  id:
                    description: Discount rule ID that applied this discount
                    type: integer
            shipping_cost_inc_tax:
              description: The shipping cost for this consignment including tax.
              type: number
              format: double
            shipping_cost_ex_tax:
              description: The shipping cost for this consignment excluding tax.
              type: number
              format: double
            handling_cost_inc_tax:
              description: The handling cost of shipping for this consignment including tax.
              type: number
              format: double
            handling_cost_ex_tax:
              description: The handling cost of shipping for this consignment excluding tax.
              type: number
              format: double
            line_item_ids:
              description: ''
              type: array
              items:
                type: string
      taxes:
        description: ''
        type: array
        items:
          title: Tax
          type: object
          properties:
            name:
              description: Name of the tax.
              type: string
            amount:
              description: ''
              type: number
              format: double
      coupons:
        description: Coupons applied at checkout level.
        type: array
        items:
          $ref: '#/definitions/AppliedCoupon'
      order_id:
        description: ''
        type: string
      shipping_cost_total_inc_tax:
        description: Shipping cost before any discounts are applied including tax.
        type: number
        format: double
      shipping_cost_total_ex_tax:
        description: Shipping cost before any discounts are applied excluding tax.
        type: number
        format: double
      handling_cost_total_inc_tax:
        description: Handling cost for all consignments including tax.
        type: number
        format: double
      handling_cost_total_ex_tax:
        description: Handling cost for all consignments excluding tax.
        type: number
        format: double
      tax_total:
        description: ''
        type: number
        format: double
      subtotal_inc_tax:
        description: Subtotal of the checkout before applying item level discounts including tax.
        type: number
        format: double
      subtotal_ex_tax:
        description: Subtotal of the checkout before applying item level discounts excluding tax.
        type: number
        format: double
      grand_total:
        description: 'The total payable amount, before applying any store credit or gift certificate.'
        type: number
        format: double
      created_time:
        description: Time when the cart was created.
        type: string
      updated_time:
        description: Time when the cart was last updated.
        type: string
      customer_message:
        description: Shopper's message provided as details for the order to be created from this checkout.
        type: string
      promotions:
        description: ''
        type: object
        properties:
          banners:
            title: Banner
            type: object
            properties:
              id:
                description: Id of the promotion.
                type: string
              type:
                description: Type of the banner
                type: string
              page:
                description: An array of the locations where the banner will display
                type: array
                items:
                  type: string
              text:
                description: Text of the banner
                type: string
    x-internal: false
  Checkout_Put:
    title: Checkout_Put
    type: object
    properties:
      customer_message:
        description: ''
        type: string
    required:
      - customer_message
    x-internal: false
  AppliedCoupon:
    title: Applied Coupon
    type: object
    properties:
      code:
        description: the coupon code
        type: string
      id:
        description: The coupon ID.
        type: number
      discounted_amount:
        description: The discounted amount applied within a given context.
        type: number
        format: double
      coupon_type:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
        description: |-
          |Type `int`|Type Name|
          |-|-|
          |`0`|`per_item_discount`|
          |`1`|`percentage_discount`|
          |`2`|`per_total_discount`|
          |`3`|`shipping_discount`|
          |`4`|`free_shipping`|
          |`5`|`promotion`|
    required:
      - code
    x-internal: false
  AddressProperties:
    title: Address Properties
    type: object
    properties:
      first_name:
        description: ''
        type: string
      last_name:
        description: ''
        type: string
      email:
        type: string
        description: ''
      company:
        description: ''
        type: string
      address1:
        description: ''
        type: string
      address2:
        description: ''
        type: string
      city:
        description: ''
        type: string
      state_or_province:
        description: Represents state or province.
        type: string
      state_or_province_code:
        description: ''
        type: string
      country_code:
        type: string
        description: ''
      postal_code:
        description: ''
        type: string
      phone:
        description: ''
        type: string
        pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
      custom_fields:
        description: 'You can retreive custom fields from the [Get Form Fields](/api-reference/storefront/form-fields/form-fields/getformfields) endpoint.'
        type: array
        items:
          title: Custom Field
          type: object
          properties:
            field_id:
              description: ''
              type: string
            field_value:
              description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
              type: string
    required:
      - email
      - country_code
    x-internal: false
  CreateConsignmentRequest:
    title: Create Consignment Request
    type: object
    properties:
      address:
        title: Address Properties
        type: object
        properties:
          first_name:
            description: ''
            type: string
          last_name:
            description: ''
            type: string
          email:
            type: string
            description: ''
          company:
            description: ''
            type: string
          address1:
            description: ''
            type: string
          address2:
            description: ''
            type: string
          city:
            description: ''
            type: string
          state_or_province:
            description: Represents state or province.
            type: string
          state_or_province_code:
            description: ''
            type: string
          country_code:
            type: string
            description: ''
          postal_code:
            description: ''
            type: string
          phone:
            description: ''
            type: string
            pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
          custom_fields:
            description: 'You can retreive custom fields from the [Get Form Fields](/api-reference/storefront/form-fields/form-fields/getformfields) endpoint.'
            type: array
            items:
              title: Custom Field
              type: object
              properties:
                field_id:
                  description: ''
                  type: string
                field_value:
                  description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                  type: string
        required:
          - email
          - country_code
      line_items:
        description: ''
        type: array
        items:
          title: Consignment Line Item
          type: object
          properties:
            item_id:
              description: 'Corresponds to `line_items.physical_items[N].id` value from `GET`checkout response.'
              type: string
            quantity:
              description: ''
              type: integer
              format: int32
          required:
            - item_id
            - quantity
    x-internal: false
  UpdateConsignmentRequest:
    title: Update Consignment Request
    description: One or more of these three fields are mandatory. `address` and `line_items` can be updated in one request. `shipping_option_id` has to be updated in a separate request since changing the address or line items can invalidate the previously available shipping options.
    type: object
    properties:
      address:
        title: Address Properties
        type: object
        properties:
          first_name:
            description: ''
            type: string
          last_name:
            description: ''
            type: string
          email:
            type: string
            description: ''
          company:
            description: ''
            type: string
          address1:
            description: ''
            type: string
          address2:
            description: ''
            type: string
          city:
            description: ''
            type: string
          state_or_province:
            description: Represents state or province.
            type: string
          state_or_province_code:
            description: ''
            type: string
          country_code:
            type: string
            description: ''
          postal_code:
            description: ''
            type: string
          phone:
            description: ''
            type: string
            pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
          custom_fields:
            description: ''
            type: array
            items:
              title: Custom Field
              type: object
              properties:
                field_id:
                  description: ''
                  type: string
                field_value:
                  description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                  type: string
        required:
          - email
          - country_code
      line_items:
        description: ''
        type: array
        items:
          title: Consignment Line Item
          type: object
          properties:
            item_id:
              description: 'Corresponds to `line_items.physical_items[N].id` value from `GET`checkout response.'
              type: string
            quantity:
              description: ''
              type: integer
              format: int32
          required:
            - item_id
            - quantity
      shipping_option_id:
        description: ''
        type: string
    x-internal: false
  CouponCodeRequest:
    title: Coupon Code Request
    type: object
    properties:
      coupon_code:
        description: Coupon codes have a 50 character limit.
        type: string
    x-internal: false
  Order:
    type: object
    title: Order
    properties:
      id:
        type: integer
        example: 75
        description: The order Id.
    x-internal: false
  CheckoutsSettings:
    type: object
    title: Checkouts Settings
    properties:
      custom_checkout_script_url:
        type: string
      order_confirmation_use_custom_checkout_script:
        type: boolean
      custom_order_confirmation_script_url:
        type: string
  CheckoutsSettingsRequest:
    title: Checkouts settings request
    type: object
    properties:
      custom_checkout_script_url:
        type: string
        description: Custom checkout script url to replace our default checkout.
      order_confirmation_use_custom_checkout_script:
        type: boolean
        description: When order_confirmation_use_custom_checkout_script=true we default custom_order_confirmation_script_url to empty string.
      custom_order_confirmation_script_url:
        type: string
        description: Custom order confirmation script url to replace our default order confirmation.
parameters:
  checkoutId:
    name: checkoutId
    in: path
    type: string
    required: true
    description: Id of the Checkout
  addressId:
    name: addressId
    in: path
    type: integer
    required: true
  consignmentId:
    name: consignmentId
    in: path
    type: string
    required: true
  couponCode:
    name: couponCode
    in: path
    type: string
    required: true
    description: 'The actual couponCode, not the couponId.'
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
  includeShippingOption:
    name: include
    in: query
    type: string
    enum:
      - consignments.available_shipping_options
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    in: header
    name: X-Auth-Token
    description: ''
tags:
  - name: Checkout
  - name: Checkout Billing Address
  - name: Checkout Consignments
  - name: Checkout Coupons
  - name: Checkout Discounts
  - name: Checkout Orders
  - name: Checkout Settings
responses:
  CheckoutResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Checkout'
    examples:
      Available Shipping Options:
        data:
          id: 306d57d7-124e-4112-82cd-35e060c0d4d9
          cart:
            id: 306d57d7-124e-4112-82cd-35e060c0d4d9
            customer_id: 11
            channel_id: 1
            email: janedoe@example.com
            currency:
              code: USD
            base_amount: 31.95
            discount_amount: 0
            cart_amount_inc_tax: 33.23
            cart_amount_ex_tax: 31.95
            coupons: 0
            discounts:
              - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                discounted_amount: 0
            line_items:
              physical_items:
                - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                  parent_id: 123
                  variant_id: 359
                  product_id: 188
                  sku: DUST1
                  name: Hello
                  url: 'https://{store_hash}/all/dustpan-brush/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 31.95
                  sale_price: 33.23
                  extended_list_price: 31.95
                  extended_sale_price: 33.23
                  is_require_shipping: true
                  gift_wrapping: {}
              digital_items: []
              gift_certificates: []
              custom_items: []
            created_time: '2019-08-05T15:38:14+00:00'
            updated_time: '2019-08-05T15:41:28+00:00'
          billing_address:
            id: 5d484d668e5aa
            first_name: null
            last_name: null
            email: janedoe@example.com
            company: BigCommerce
            address1: 123 Main Street
            address2: Apt 1
            city: Austin
            state_or_province: ''
            state_or_province_code: ''
            country: ''
            country_code: ''
            postal_code: null
            phone: null
            custom_fields: []
          consignments:
            - id: 5d484e28d20a8
              shipping_cost_inc_tax: 0
              shipping_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              coupon_discounts: []
              discounts: []
              line_item_ids:
                - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
              address:
                first_name: BigCommerce
                last_name: Cart/Checkout
                email: jane2@example.com
                company: ''
                address1: 123 Main Street
                address2: ''
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                country: United States
                country_code: US
                postal_code: '78751'
                phone: '688546'
                customFields:
                  - field_id: field_25
                    field_value: Great!
              available_shipping_options:
                - id: 006a58a98c9a844225552ee2a9c60ca8
                  type: shipping_byweight
                  description: Ship by Weight
                  image_url: ''
                  cost: 8
                  transit_time: ''
                  additional_description: ''
                - id: 722d78b5120de60a725e41be9bb8d999
                  type: shipping_flatrate
                  description: Flat Rate
                  image_url: ''
                  cost: 12
                  transit_time: ''
                  additional_description: ''
                - id: 71090fa93c8985348892543c3f4887b6
                  type: shipping_upsready
                  description: UPS® (UPS Next Day Air®)
                  image_url: ''
                  cost: 43.9
                  transit_time: 1 business day
                  additional_description: ''
          taxes:
            - name: Tax
              amount: 1.28
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 1.28
          subtotal_inc_tax: 33.23
          subtotal_ex_tax: 31.95
          grand_total: 33.23
          created_time: '2019-08-05T15:38:14+00:00'
          updated_time: '2019-08-05T15:41:28+00:00'
          customer_message: ''
        meta: {}
      Selected Shipping Options:
        data:
          id: 306d57d7-124e-4112-82cd-35e060c0d4d9
          cart:
            id: 306d57d7-124e-4112-82cd-35e060c0d4d9
            customer_id: 11
            channel_id: 1
            email: janedoe@example.com
            currency:
              code: USD
            base_amount: 31.95
            discount_amount: 0
            cart_amount_inc_tax: 33.23
            cart_amount_ex_tax: 31.95
            coupons: []
            discounts:
              - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                discounted_amount: 0
            line_items:
              physical_items:
                - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                  parent_id: 123
                  variant_id: 359
                  product_id: 188
                  sku: DUST1
                  name: Hello
                  url: 'https://{$$.env.store_hash}/all/dustpan-brush/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 31.95
                  sale_price: 33.23
                  extended_list_price: 31.95
                  extended_sale_price: 33.23
                  is_require_shipping: true
                  gift_wrapping: null
              digital_items: []
              gift_certificates: []
              custom_items: []
            created_time: '2019-08-05T15:38:14+00:00'
            updated_time: '2019-08-05T15:41:28+00:00'
          billing_address:
            id: 5d484d668e5aa
            first_name: null
            last_name: null
            email: janedoe@example.com
            company: BigCommerce
            address1: 123 Main Street
            address2: Apt 1
            city: Austin
            state_or_province: ''
            state_or_province_code: ''
            country: ''
            country_code: ''
            postal_code: null
            phone: null
            custom_fields: []
          consignments:
            - id: 5d484e28d20a8
              shipping_cost_inc_tax: 8.32
              shipping_cost_ex_tax: 8
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              coupon_discounts: []
              discounts: []
              line_item_ids:
                - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
              selected_shipping_option:
                id: 006a58a98c9a844225552ee2a9c60ca8
                type: shipping_byweight
                description: Ship by Weight
                image_url: ''
                cost: 8
                transit_time: ''
                additional_description: ''
              address:
                first_name: BigCommerce
                last_name: Cart/Checkout
                email: jane2@example.com
                company: ''
                address1: 123 Main Street
                address2: ''
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                country: United States
                country_code: US
                postal_code: '78751'
                phone: '688546'
                customFields:
                  - field_id: field_25
                    field_value: Great!
          taxes:
            - name: Tax
              amount: 1.6
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 8.32
          shipping_cost_total_ex_tax: 8
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 1.6
          subtotal_inc_tax: 33.23
          subtotal_ex_tax: 31.95
          grand_total: 41.55
          created_time: '2019-08-05T15:38:14+00:00'
          updated_time: '2019-08-05T15:41:28+00:00'
          customer_message: ''
        meta: {}
      Coupon Applied:
        data:
          id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
          cart:
            id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
            customer_id: 25
            channel_id: 1
            email: customer@example.com
            currency:
              code: USD
            base_amount: 67
            discount_amount: 0
            cart_amount_inc_tax: 53.6
            cart_amount_ex_tax: 53.6
            coupons:
              - id: 1
                code: SHOP20
                coupon_type: percentage_discount
                discounted_amount: 13.4
            discounts:
              - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                discounted_amount: 7
              - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                discounted_amount: 6.4
            line_items:
              physical_items:
                - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                  parent_id: null
                  variant_id: 528
                  product_id: 145
                  sku: htltwl-001
                  name: Hotel Towel
                  url: 'https://example.com/hotel-towel/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                  discounts:
                    - id: coupon
                      discounted_amount: 6.4
                  coupons: 6.4
                  discount_amount: 0
                  coupon_amount: 6.4
                  list_price: 32
                  sale_price: 32
                  extended_list_price: 32
                  extended_sale_price: 32
                  is_require_shipping: true
                  gift_wrapping: null
                  is_mutable: true
              digital_items:
                - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                  parent_id: null
                  variant_id: 182
                  product_id: 138
                  sku: ebk-001
                  name: eBook Download
                  url: 'https://example.com/digital/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                  discounts:
                    - id: coupon
                      discounted_amount: 7
                  coupons: 7
                  discount_amount: 0
                  coupon_amount: 7
                  list_price: 35
                  sale_price: 35
                  extended_list_price: 35
                  extended_sale_price: 35
                  is_require_shipping: false
                  is_mutable: true
              gift_certificates: []
              custom_items: []
            created_time: '2021-11-08T22:46:23+00:00'
            updated_time: '2021-11-09T16:08:01+00:00'
          billing_address:
            id: 618a9ce18173e
            first_name: null
            last_name: null
            email: customer@example.com
            company: ''
            address1: null
            address2: null
            city: null
            state_or_province: ''
            state_or_province_code: ''
            country: ''
            country_code: ''
            postal_code: null
            phone: ''
            custom_fields: []
          consignments: []
          taxes:
            - name: Tax
              amount: 0
          coupons:
            - id: 1
              code: SHOP20
              coupon_type: percentage_discount
              discounted_amount: 13.4
          order_id: null
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 0
          subtotal_inc_tax: 67
          subtotal_ex_tax: 67
          grand_total: 53.6
          created_time: '2021-11-08T22:46:23+00:00'
          updated_time: '2021-11-09T16:08:01+00:00'
          customer_message: ''
        meta: {}
      No Coupon Applied:
        data:
          id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
          cart:
            id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
            customer_id: 0
            channel_id: 1
            email: ''
            currency:
              code: USD
            base_amount: 67
            discount_amount: 0
            cart_amount_inc_tax: 67
            cart_amount_ex_tax: 67
            coupons: []
            discounts:
              - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                discounted_amount: 0
              - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                discounted_amount: 0
            line_items:
              physical_items:
                - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                  parent_id: null
                  variant_id: 528
                  product_id: 145
                  sku: htltwl-001
                  name: Hotel Towel
                  url: 'https://example.com/hotel-towel/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 32
                  sale_price: 32
                  extended_list_price: 32
                  extended_sale_price: 32
                  is_require_shipping: true
                  gift_wrapping: null
                  is_mutable: true
              digital_items:
                - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                  parent_id: null
                  variant_id: 182
                  product_id: 138
                  sku: ebk-001
                  name: eBook Download
                  url: 'https://example.com/digital/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 35
                  sale_price: 35
                  extended_list_price: 35
                  extended_sale_price: 35
                  is_require_shipping: false
                  is_mutable: true
              gift_certificates: []
              custom_items: []
            created_time: '2021-11-08T22:46:23+00:00'
            updated_time: '2021-11-09T16:06:56+00:00'
          billing_address: {}
          consignments: []
          taxes:
            - name: Tax
              amount: 0
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 0
          subtotal_inc_tax: 67
          subtotal_ex_tax: 67
          grand_total: 67
          created_time: '2021-11-08T22:46:23+00:00'
          updated_time: '2021-11-09T16:06:56+00:00'
          customer_message: ''
        meta: {}
      Include promotions:
        data:
          id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
          cart:
            id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
            customer_id: 0
            channel_id: 1
            email: ''
            currency:
              code: USD
            base_amount: 67
            discount_amount: 0
            cart_amount_inc_tax: 67
            cart_amount_ex_tax: 67
            coupons: []
            discounts:
              - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                discounted_amount: 0
              - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                discounted_amount: 0
            line_items:
              physical_items:
                - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                  parent_id: null
                  variant_id: 528
                  product_id: 145
                  sku: htltwl-001
                  name: Hotel Towel
                  url: 'https://example.com/hotel-towel/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 32
                  sale_price: 32
                  extended_list_price: 32
                  extended_sale_price: 32
                  is_require_shipping: true
                  gift_wrapping: null
                  is_mutable: true
              digital_items:
                - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                  parent_id: null
                  variant_id: 182
                  product_id: 138
                  sku: ebk-001
                  name: eBook Download
                  url: 'https://example.com/digital/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                  discounts: []
                  coupons: []
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 35
                  sale_price: 35
                  extended_list_price: 35
                  extended_sale_price: 35
                  is_require_shipping: false
                  is_mutable: true
              gift_certificates: []
              custom_items: []
            created_time: '2021-11-08T22:46:23+00:00'
            updated_time: '2021-11-09T16:06:56+00:00'
          billing_address: {}
          consignments: []
          taxes:
            - name: Tax
              amount: 0
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 0
          subtotal_inc_tax: 67
          subtotal_ex_tax: 67
          grand_total: 67
          created_time: '2021-11-08T22:46:23+00:00'
          updated_time: '2021-11-09T16:06:56+00:00'
          customer_message: ''
          promotions:
            - banners:
                - id: '3'
                  type: applied
                  page:
                    - homepage
                    - cartpage
                  text: Some text
        meta: {}
      example-1:
        data:
          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          cart:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            customer_id: 0
            email: string
            currency:
              code: string
            base_amount: 0
            channel_id: 0
            discount_amount: 0
            cart_amount_inc_tax: 0
            cart_amount_ex_tax: 0
            coupons:
              - code: string
                id: 0
                coupon_type: string
                discounted_amount: 0
            discounts:
              - id: string
                discounted_amount: 0
            line_items:
              physical_items:
                - quantity: 0
                  id: string
                  variant_id: 0
                  product_id: 0
                  sku: string
                  name: string
                  url: string
                  is_taxable: true
                  image_url: string
                  discounts:
                    - id: string
                      discounted_amount: 0
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 0
                  sale_price: 0
                  extended_list_price: 0
                  extended_sale_price: 0
                  is_require_shipping: true
                  is_mutable: true
                  parent_id: 0
                  gift_wrapping:
                    name: string
                    message: string
                    amount: 0
                    amount_as_integer: 0
              digital_items:
                - quantity: 0
                  id: string
                  variant_id: 0
                  parent_id: 0
                  product_id: 0
                  sku: string
                  name: string
                  url: string
                  is_mutable: true
                  is_require_shipping: true
                  is_taxable: true
                  image_url: string
                  discounts:
                    - id: string
                      discounted_amount: 0
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 0
                  sale_price: 0
                  extended_list_price: 0
                  extended_sale_price: 0
              gift_certificates:
                - theme: string
                  amount: 0
                  sender:
                    name: string
                    email: string
                  recipient:
                    name: string
                    email: string
                  id: string
                  name: string
                  taxable: true
                  message: string
              custom_items:
                - quantity: 0
                  id: string
                  extended_list_price: 0
                  list_price: 0
                  sku: string
                  name: string
                  image_url: string
            created_time: string
            updated_time: string
          billing_address:
            first_name: string
            last_name: string
            email: string
            company: string
            address1: string
            address2: string
            city: string
            state_or_province: string
            state_or_province_code: string
            country_code: string
            postal_code: string
            phone: string
            custom_fields:
              - field_id: string
                field_value: string
            id: string
          consignments:
            - id: string
              shippingAddress: {}
              address:
                first_name: string
                last_name: string
                email: string
                company: string
                address1: string
                address2: string
                city: string
                state_or_province: string
                state_or_province_code: string
                country_code: string
                postal_code: string
                phone: string
                custom_fields:
                  - field_id: string
                    field_value: string
                id: string
              available_shipping_options:
                - description: string
                  id: string
                  type: string
                  image_url: string
                  cost: 0
                  transit_time: string
                  additional_description: string
              selected_shipping_option:
                description: string
                id: string
                type: string
                image_url: string
                cost: 0
                transit_time: string
                additional_description: string
              coupon_discounts:
                - code: string
                  amount: 0
              discounts:
                - id: 0
              shipping_cost_inc_tax: 0
              shipping_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              line_item_ids:
                - string
          taxes:
            - name: string
              amount: 0
          coupons:
            - code: string
              id: 0
              discounted_amount: 0
              coupon_type: 1
          order_id: string
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 0
          subtotal_inc_tax: 0
          subtotal_ex_tax: 0
          grand_total: 0
          created_time: string
          updated_time: string
          customer_message: string
          promotions:
            banners:
              id: string
              type: string
              page:
                - string
              text: string
  order_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Order'
        meta:
          type: object
    examples:
      application/json:
        data:
          id: 75
        meta: {}
  checkout_settings_resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/CheckoutsSettings'
        meta:
          type: object
    examples:
      application/json:
        data:
          custom_checkout_script_url: 'https://example.com/custom-checkout-script.js'
          order_confirmation_use_custom_checkout_script: false
          custom_order_confirmation_script_url: 'https://example.com/custom-order-confirmation-script.js'
        meta: {}
security:
  - X-Auth-Token: []
