openapi: '3.0.3'
info:
  title: Checkouts
  description: |-
    For more information on authenticating BigCommerce APIs, see [Authentication](/api-docs/getting-started/authentication).

    Create and manage checkouts from existing carts using BigCommerce checkout logic.
  version: '3.0'
  termsOfService: 'http://www.bigcommerce.com/terms' 
  contact: 
    name: BigCommerce 
    url: 'https://www.bigcommerce.com' 
    email: support@bigcommerce.com 
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
tags:
  - name: Checkout
  - name: Checkout Billing Address
  - name: Checkout Consignments
  - name: Checkout Coupons
  - name: Checkout Discounts
  - name: Checkout Orders
  - name: Checkout Settings
  - name: Checkout Token
security:
  - X-Auth-Token: []
paths:
  '/checkouts/{checkoutId}':
    parameters:
      - $ref: '#/components/parameters/checkoutId'
      - $ref: '#/components/parameters/Accept'
    get:
      tags:
        - Checkout
      summary: Get a Checkout
      description: |-
        Returns a *Checkout*.

        **Notes**

        The cart ID and checkout ID are the same.
      operationId: CheckoutsByCheckoutIdGet
      parameters:
        - name: include
          in: query
          description: |-
            * `cart.line_items.physical_items.options` - physical options
            * `cart.line_items.digital_items.options` - digital options
            * `consignments.available_shipping_options` - shipping options
            * `promotions.banners` - promotion options
          schema:
            type: string
            enum:
              - cart.line_items.physical_items.options
              - cart.line_items.digital_items.options
              - consignments.available_shipping_options
              - promotions.banners
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Checkout'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
              examples: {}
            Available Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 0.9
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                          gift_wrapping: {}
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125685555'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 0
                      shipping_cost_ex_tax: 0
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                      available_shipping_options:
                        - id: 006a58a98c9a844225552ee2a9c60ca8
                          type: shipping_byweight
                          description: Ship by Weight
                          image_url: ''
                          cost: 8
                          transit_time: ''
                          additional_description: ''
                        - id: 722d78b5120de60a725e41be9bb8d999
                          type: shipping_flatrate
                          description: Flat Rate
                          image_url: ''
                          cost: 12
                          transit_time: ''
                          additional_description: ''
                        - id: 71090fa93c8985348892543c3f4887b6
                          type: shipping_upsready
                          description: UPS® (UPS Next Day Air®)
                          image_url: ''
                          cost: 43.9
                          transit_time: 1 business day
                          additional_description: ''
                  taxes:
                    - name: Tax
                      amount: 1.28
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.28
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 33.23
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Selected Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons: []
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125559659'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 8.32
                      shipping_cost_ex_tax: 8
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      selected_shipping_option:
                        id: 006a58a98c9a844225552ee2a9c60ca8
                        type: shipping_byweight
                        description: Ship by Weight
                        image_url: ''
                        cost: 8
                        transit_time: ''
                        additional_description: ''
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                  taxes:
                    - name: Tax
                      amount: 1.6
                  coupons: []
                  shipping_cost_total_inc_tax: 8.32
                  shipping_cost_total_ex_tax: 8
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.6
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 41.55
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 25
                    channel_id: 1
                    email: customer@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 53.6
                    cart_amount_ex_tax: 53.6
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 13.4
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 7
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 6.4
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 6.4
                          coupons: 6.4
                          discount_amount: 0
                          coupon_amount: 6.4
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 7
                          coupons: 7
                          discount_amount: 0
                          coupon_amount: 7
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:08:01+00:00'
                  billing_address:
                    id: 618a9ce18173e
                    first_name: Jane
                    last_name: Doe
                    email: customer@example.com
                    company: ''
                    address1: 123 Main Street
                    address2: ''
                    city: ''
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: '29681'
                    phone: '12125556895'
                    custom_fields: []
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 13.4
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 53.6
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:08:01+00:00'
                  customer_message: ''
                meta: {}
            No Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                meta: {}
            Include promotions:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                  promotions:
                    - banners:
                        - id: '3'
                          type: applied
                          page:
                            - homepage
                            - cartpage
                          text: Some text
                meta: {}
            example-1:
              example:
                data:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  cart:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    customer_id: 0
                    email: string@example.com
                    currency:
                      code: string
                    base_amount: 0
                    channel_id: 0
                    discount_amount: 0
                    cart_amount_inc_tax: 0
                    cart_amount_ex_tax: 0
                    coupons:
                      - code: string
                        id: 0
                        coupon_type: string
                        discounted_amount: 0
                    discounts:
                      - id: string
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                          is_require_shipping: true
                          is_mutable: true
                          parent_id: 0
                          gift_wrapping:
                            name: string
                            message: string
                            amount: 0
                            amount_as_integer: 0
                      digital_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          parent_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_mutable: true
                          is_require_shipping: true
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                      gift_certificates:
                        - theme: string
                          amount: 0
                          sender:
                            name: string
                            email: string
                          recipient:
                            name: string
                            email: string
                          id: string
                          name: string
                          taxable: true
                          message: string
                      custom_items:
                        - quantity: 0
                          id: string
                          extended_list_price: 0
                          list_price: 0
                          sku: string
                          name: string
                          image_url: string
                    created_time: string
                    updated_time: string
                  billing_address:
                    first_name: string
                    last_name: string
                    email: string
                    company: string
                    address1: string
                    address2: string
                    city: string
                    state_or_province: string
                    state_or_province_code: string
                    country_code: string
                    postal_code: string
                    phone: '12128565555'
                    custom_fields:
                      - field_id: string
                        field_value: string
                    id: string
                  consignments:
                    - id: string
                      shippingAddress: {}
                      address:
                        first_name: string
                        last_name: string
                        email: string
                        company: string
                        address1: string
                        address2: string
                        city: string
                        state_or_province: string
                        state_or_province_code: string
                        country_code: string
                        postal_code: string
                        phone: '12125556858'
                        custom_fields:
                          - field_id: string
                            field_value: string
                        id: string
                      available_shipping_options:
                        - description: string
                          id: string
                          type: string
                          image_url: string
                          cost: 0
                          transit_time: string
                          additional_description: string
                      selected_shipping_option:
                        description: string
                        id: string
                        type: string
                        image_url: string
                        cost: 0
                        transit_time: string
                        additional_description: string
                      coupon_discounts:
                        - code: string
                          amount: 0
                      discounts:
                        - id: 0
                      shipping_cost_inc_tax: 0
                      shipping_cost_ex_tax: 0
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      line_item_ids:
                        - string
                  taxes:
                    - name: string
                      amount: 0
                  coupons:
                    - code: SHOPNOW
                      id: 1
                      coupon_type: percentage_discount
                      discounted_amount: 0.9
                  order_id: string
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 0
                  subtotal_ex_tax: 0
                  grand_total: 0
                  created_time: string
                  updated_time: string
                  customer_message: string
                  promotions:
                    - banners:
                        - id: '3'
                          type: applied
                          page:
                            - homepage
                            - cartpage
                          text: Some text
        '404':
          description: Error code that is displayed when a given checkout ID is not found.
          content:
            application/json:
              schema:
                title: Checkout Error
                type: object
                properties:
                  errors:
                    type: array
                    description: ''
                    items:
                      title: ErrorDetail
                      type: object
                      properties:
                        status:
                          type: integer
                          description: ''
                          format: int32
                        title:
                          type: string
                          description: ''
                        type:
                          type: string
                          description: ''
                        detail:
                          type: string
                          description: ''
    put:
      tags:
        - Checkout
      summary: Update Customer Messages
      description: |-
        Change customer message pertaining to an existing *Checkout*.

        **Limits:**
        * 2000 characters for customer message
      operationId: CheckoutsByCheckoutIdPut
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: '`customer_message` is required (maximum length is 2000).'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout_Put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Checkout'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
            Available Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 0.9
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                          gift_wrapping: {}
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125685555'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 0
                      shipping_cost_ex_tax: 0
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                      available_shipping_options:
                        - id: 006a58a98c9a844225552ee2a9c60ca8
                          type: shipping_byweight
                          description: Ship by Weight
                          image_url: ''
                          cost: 8
                          transit_time: ''
                          additional_description: ''
                        - id: 722d78b5120de60a725e41be9bb8d999
                          type: shipping_flatrate
                          description: Flat Rate
                          image_url: ''
                          cost: 12
                          transit_time: ''
                          additional_description: ''
                        - id: 71090fa93c8985348892543c3f4887b6
                          type: shipping_upsready
                          description: UPS® (UPS Next Day Air®)
                          image_url: ''
                          cost: 43.9
                          transit_time: 1 business day
                          additional_description: ''
                  taxes:
                    - name: Tax
                      amount: 1.28
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.28
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 33.23
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Selected Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons: []
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125559659'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 8.32
                      shipping_cost_ex_tax: 8
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      selected_shipping_option:
                        id: 006a58a98c9a844225552ee2a9c60ca8
                        type: shipping_byweight
                        description: Ship by Weight
                        image_url: ''
                        cost: 8
                        transit_time: ''
                        additional_description: ''
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                  taxes:
                    - name: Tax
                      amount: 1.6
                  coupons: []
                  shipping_cost_total_inc_tax: 8.32
                  shipping_cost_total_ex_tax: 8
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.6
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 41.55
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 25
                    channel_id: 1
                    email: customer@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 53.6
                    cart_amount_ex_tax: 53.6
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 13.4
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 7
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 6.4
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 6.4
                          coupons: 6.4
                          discount_amount: 0
                          coupon_amount: 6.4
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 7
                          coupons: 7
                          discount_amount: 0
                          coupon_amount: 7
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:08:01+00:00'
                  billing_address:
                    id: 618a9ce18173e
                    first_name: Jane
                    last_name: Doe
                    email: customer@example.com
                    company: ''
                    address1: 123 Main Street
                    address2: ''
                    city: ''
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: '29681'
                    phone: '12125556895'
                    custom_fields: []
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 13.4
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 53.6
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:08:01+00:00'
                  customer_message: ''
                meta: {}
            No Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                meta: {}
            Include promotions:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                  promotions:
                    - banners:
                        - id: '3'
                          type: applied
                          page:
                            - homepage
                            - cartpage
                          text: Some text
                meta: {}
            example-1:
              example:
                data:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  cart:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    customer_id: 0
                    email: string@example.com
                    currency:
                      code: string
                    base_amount: 0
                    channel_id: 0
                    discount_amount: 0
                    cart_amount_inc_tax: 0
                    cart_amount_ex_tax: 0
                    coupons:
                      - code: string
                        id: 0
                        coupon_type: string
                        discounted_amount: 0
                    discounts:
                      - id: string
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                          is_require_shipping: true
                          is_mutable: true
                          parent_id: 0
                          gift_wrapping:
                            name: string
                            message: string
                            amount: 0
                            amount_as_integer: 0
                      digital_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          parent_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_mutable: true
                          is_require_shipping: true
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                      gift_certificates:
                        - theme: string
                          amount: 0
                          sender:
                            name: string
                            email: string
                          recipient:
                            name: string
                            email: string
                          id: string
                          name: string
                          taxable: true
                          message: string
                      custom_items:
                        - quantity: 0
                          id: string
                          extended_list_price: 0
                          list_price: 0
                          sku: string
                          name: string
                          image_url: string
                    created_time: string
                    updated_time: string
                  billing_address:
                    first_name: string
                    last_name: string
                    email: string
                    company: string
                    address1: string
                    address2: string
                    city: string
                    state_or_province: string
                    state_or_province_code: string
                    country_code: string
                    postal_code: string
                    phone: '12128565555'
                    custom_fields:
                      - field_id: string
                        field_value: string
                    id: string
                  consignments:
                    - id: string
                      shippingAddress: {}
                      address:
                        first_name: string
                        last_name: string
                        email: string
                        company: string
                        address1: string
                        address2: string
                        city: string
                        state_or_province: string
                        state_or_province_code: string
                        country_code: string
                        postal_code: string
                        phone: '12125556858'
                        custom_fields:
                          - field_id: string
                            field_value: string
                        id: string
                      available_shipping_options:
                        - description: string
                          id: string
                          type: string
                          image_url: string
                          cost: 0
                          transit_time: string
                          additional_description: string
                      selected_shipping_option:
                        description: string
                        id: string
                        type: string
                        image_url: string
                        cost: 0
                        transit_time: string
                        additional_description: string
                      coupon_discounts:
                        - code: string
                          amount: 0
                      discounts:
                        - id: 0
                      shipping_cost_inc_tax: 0
                      shipping_cost_ex_tax: 0
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      line_item_ids:
                        - string
                  taxes:
                    - name: string
                      amount: 0
                  coupons:
                    - code: SHOPNOW
                      id: 1
                      coupon_type: percentage_discount
                      discounted_amount: 0.9
                  order_id: string
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 0
                  subtotal_ex_tax: 0
                  grand_total: 0
                  created_time: string
                  updated_time: string
                  customer_message: string
                  promotions:
                    - banners:
                        - id: '3'
                          type: applied
                          page:
                            - homepage
                            - cartpage
                          text: Some text
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-codegen-request-body-name: body
  '/checkouts/{checkoutId}/discounts':
    post:
      tags:
        - Checkout Discounts
      summary: Add Discount to Checkout
      description: |-
        Adds a discount to an existing *checkout*.

        This discount only applies to `line_items`. When you call this API, you clear out all existing discounts applied to line items, including product and order-based discounts.

        This endpoint splits the discount between line items based on the item value.

        Required Fields
        * discounted_amount
      operationId: post-store_hash-v3-checkouts-checkoutId-discounts
      parameters:
        - $ref: '#/components/parameters/checkoutId'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cart:
                  type: object
                  properties:
                    discounts:
                      type: array
                      items:
                        required:
                          - discounted_amount
                        type: object
                        properties:
                          discounted_amount:
                            type: number
                            example: 10
                          name:
                            type: string
                            example: manual
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Checkout'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
            Available Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 0.9
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                          gift_wrapping: {}
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125685555'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 0
                      shipping_cost_ex_tax: 0
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                      available_shipping_options:
                        - id: 006a58a98c9a844225552ee2a9c60ca8
                          type: shipping_byweight
                          description: Ship by Weight
                          image_url: ''
                          cost: 8
                          transit_time: ''
                          additional_description: ''
                        - id: 722d78b5120de60a725e41be9bb8d999
                          type: shipping_flatrate
                          description: Flat Rate
                          image_url: ''
                          cost: 12
                          transit_time: ''
                          additional_description: ''
                        - id: 71090fa93c8985348892543c3f4887b6
                          type: shipping_upsready
                          description: UPS® (UPS Next Day Air®)
                          image_url: ''
                          cost: 43.9
                          transit_time: 1 business day
                          additional_description: ''
                  taxes:
                    - name: Tax
                      amount: 1.28
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.28
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 33.23
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Selected Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons: []
                    discounts:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                          parent_id: 123
                          variant_id: 359
                          product_id: 188
                          sku: DUST1
                          name: Hello
                          url: 'https://{store_hash}/all/dustpan-brush/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35.95
                          list_price: 31.95
                          sale_price: 33.23
                          extended_list_price: 31.95
                          extended_sale_price: 33.23
                          is_require_shipping: true
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125559659'
                    custom_fields: []
                  consignments:
                    - id: 5d484e28d20a8
                      shipping_cost_inc_tax: 8.32
                      shipping_cost_ex_tax: 8
                      handling_cost_inc_tax: 0
                      handling_cost_ex_tax: 0
                      coupon_discounts: []
                      discounts: []
                      line_item_ids:
                        - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      selected_shipping_option:
                        id: 006a58a98c9a844225552ee2a9c60ca8
                        type: shipping_byweight
                        description: Ship by Weight
                        image_url: ''
                        cost: 8
                        transit_time: ''
                        additional_description: ''
                      address:
                        first_name: BigCommerce
                        last_name: Cart/Checkout
                        email: jane2@example.com
                        company: ''
                        address1: 123 Main Street
                        address2: ''
                        city: Austin
                        state_or_province: Texas
                        state_or_province_code: TX
                        country: United States
                        country_code: US
                        postal_code: '78751'
                        phone: '688546'
                        customFields:
                          - field_id: field_25
                            field_value: Great!
                  taxes:
                    - name: Tax
                      amount: 1.6
                  coupons: []
                  shipping_cost_total_inc_tax: 8.32
                  shipping_cost_total_ex_tax: 8
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.6
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 41.55
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 25
                    channel_id: 1
                    email: customer@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 53.6
                    cart_amount_ex_tax: 53.6
                    coupons:
                      - id: 1
                        code: SHOP20
                        coupon_type: percentage_discount
                        discounted_amount: 13.4
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 7
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 6.4
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 6.4
                          coupons: 6.4
                          discount_amount: 0
                          coupon_amount: 6.4
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts:
                            - id: coupon
                              discounted_amount: 7
                          coupons: 7
                          discount_amount: 0
                          coupon_amount: 7
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:08:01+00:00'
                  billing_address:
                    id: 618a9ce18173e
                    first_name: Jane
                    last_name: Doe
                    email: customer@example.com
                    company: ''
                    address1: 123 Main Street
                    address2: ''
                    city: ''
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: '29681'
                    phone: '12125556895'
                    custom_fields: []
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 13.4
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 53.6
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:08:01+00:00'
                  customer_message: ''
                meta: {}
            No Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                meta: {}
            Include promotions:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        discounted_amount: 0
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                          variant_id: 528
                          product_id: 145
                          sku: htltwl-001
                          name: Hotel Towel
                          url: 'https://example.com/hotel-towel/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 32
                          list_price: 32
                          sale_price: 32
                          extended_list_price: 32
                          extended_sale_price: 32
                          is_require_shipping: true
                          is_mutable: true
                      digital_items:
                        - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                          variant_id: 182
                          product_id: 138
                          sku: ebk-001
                          name: eBook Download
                          url: 'https://example.com/digital/'
                          quantity: 1
                          is_taxable: true
                          image_url: 'https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1'
                          discounts: []
                          coupons: []
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 35
                          list_price: 35
                          sale_price: 35
                          extended_list_price: 35
                          extended_sale_price: 35
                          is_require_shipping: false
                          is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                    - name: Tax
                      amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                  promotions:
                    - banners:
                        - id: '3'
                          type: applied
                          page:
                            - homepage
                            - cartpage
                          text: Some text
                meta: {}
            example-1:
              example:
                data:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  cart:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    customer_id: 0
                    email: string@example.com
                    currency:
                      code: string
                    base_amount: 0
                    channel_id: 0
                    discount_amount: 0
                    cart_amount_inc_tax: 0
                    cart_amount_ex_tax: 0
                    coupons:
                      - code: string
                        id: 0
                        coupon_type: string
                        discounted_amount: 0
                    discounts:
                      - id: string
                        discounted_amount: 0
                    line_items:
                      physical_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                          is_require_shipping: true
                          is_mutable: true
                          parent_id: 0
                          gift_wrapping:
                            name: string
                            message: string
                            amount: 0
                            amount_as_integer: 0
                      digital_items:
                        - quantity: 0
                          id: string
                          variant_id: 0
                          parent_id: 0
                          product_id: 0
                          sku: string
                          name: string
                          url: string
                          is_mutable: true
                          is_require_shipping: true
                          is_taxable: true
                          image_url: string
                          discounts:
                            - id: string
                              discounted_amount: 0
                          coupons: 0
                          discount_amount: 0
                          coupon_amount: 0
                          original_price: 0
                          list_price: 0
                          sale_price: 0
                          extended_list_price: 0
                          extended_sale_price: 0
                      gift_certificates:
                        - theme: string
                          amount: 0
                          sender:
                            name: string
                            email: string
                          recipient:
                            name: string
                            email: string
                          id: string
                          name: string
                          taxable: true
                          message: string
                      custom_items:
                        - quantity: 0
                          id: string
                          extended_list_price: 0
                          list_price: 0
                          sku: string
                          name: string
                          image_url: string
                    created_time: string
                    updated_time: string
                  billing_address:
                    first_name: string
                    last_name: string
                    email: string
                    company: string
                    address1: string
                    address2: string
                    city: string
                    state_or_province: string
                    state_or_province_code: string
                    country_code: string
                    postal_code: string
                    phone: '12128565555'
                    custom_fields:
                      - field_id: string
                        field_value: string
                    id: string
                  consignments:
                    - id: string
                      shippingAddress: {}
                      address:
                        first_name: string
                        last_name: string
                        email: string
                        company: string
                        address1: string
                        address2: string
                        city: string
                        state_or_province: string
                        state_or_province_code: string
                        country_code: string
                        postal_code: string
                        phone: '12125556858'
                        custom_fields:
                          - field_id: string
                            field_value: string
                        id: string
                      available_shipping_options:
                        - description: string
                          id: string
                          type: string
                          image_url: string
                          cost: 0
                          transit_time: string
                          additional_description: string
                      selected_shipping_option:
                        description: string
                        id: string
                        type: string
[...]
