swagger: '2.0'
info:
  version: '3.0'
  title: Checkouts
  description: Create checkouts from existing carts using BigCommerce checkout logic.
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/checkouts/{checkoutId}':
    get:
      description: |-
        Returns a *Checkout*.

        **Notes**

        The cart ID and checkout ID are the same.
      summary: Get a Checkout
      tags:
        - Checkout
      operationId: CheckoutsByCheckoutIdGet
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - in: query
          name: include
          type: string
          description: |-
            * `cart.line_items.physical_items.options` - physical options
            * `cart.line_items.digital_items.options` - digital options
            * `consignments.available_shipping_options` - shipping options
          enum:
            - cart.line_items.physical_items.options
            - cart.line_items.digital_items.options
            - consignments.available_shipping_options
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
        '404':
          description: When a given checkout ID is not found.
          schema:
            title: Checkout Error
            type: object
            properties:
              errors:
                description: ''
                type: array
                items:
                  title: ErrorDetail
                  type: object
                  properties:
                    status:
                      description: ''
                      type: integer
                      format: int32
                    title:
                      description: ''
                      type: string
                    type:
                      description: ''
                      type: string
                    detail:
                      description: ''
                      type: string
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/checkouts/{checkoutId}/billing-address':
    post:
      description: |-
        Adds a billing address to an existing *Checkout*.

        **Required Fields**
        * email
        * country_code
      tags:
        - Checkout Billing Address
      operationId: CheckoutsBillingAddressByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: Either email or countryCode is required.
          schema:
            $ref: '#/definitions/AddressProperties'
          x-examples:
            application/json:
              first_name: Jane
              last_name: Doe
              email: jane@example.com
              address1: 123 Main Street
              address2: ''
              city: Austin
              state_or_province: Texas
              state_or_province_code: TX
              country_code: US
              postal_code: '78751'
              phone: '1234567890'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      summary: Add Checkout Billing Address
  '/checkouts/{checkoutId}/billing-address/{addressId}':
    put:
      description: Updates an existing billing address on *Checkout*.
      summary: Update Checkout Billing Address
      tags:
        - Checkout Billing Address
      operationId: CheckoutsBillingAddressByCheckoutIdAndAddressIdPut
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: addressId
          in: path
          type: integer
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/AddressProperties'
          x-examples:
            application/json:
              email: jane@example.com
              phone: '1234567890'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/checkouts/{checkoutId}/consignments':
    post:
      description: |-
        Adds a new consignment to a checkout.


        There are two steps to create a new consignment with a shipping address, line items, and shipping option. 
        1. Add a new consignment to a checkout. Append the following query parameter to your `POST` request to also return `available_shipping_options` necessary for step two: `?include=consignments.available_shipping_options`. 
        2. [Update the consignment](https://developer.bigcommerce.com/api-reference/cart-checkout/server-server-checkout-api/checkout-consignments/checkoutsconsignmentsbycheckoutidandconsignmentidput) with one of the available shipping options returned from your `POST` request.

        Though the only required `shipping_address` properties to create a consignment are `email` and `country_code`, to successfully [create an order](https://developer.bigcommerce.com/api-reference/store-management/checkouts/checkout-orders/createanorder) the `shipping_address` requires the following properties:
        * `first_name`
        * `last_name`
        * `address1`
        * `city`
        * `country`
        * `email`
        * `country_code`

        Depending on the country, the following `shipping_address` properties can also be required:

        * `postal_code`
        * `state_or_province`
      summary: Add Consignment to Checkout
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CreateConsignmentRequest'
          x-examples:
            application/json:
              - shipping_address:
                  email: jane2@example.com
                  country_code: US
                  first_name: BigCommerce
                  last_name: Cart/Checkout
                  address1: 123 Main Street
                  city: Austin
                  state_or_province: Texas
                  state_or_province_code: TX
                  postal_code: '78751'
                  phone: '688546'
                  custom_fields:
                    - field_id: field_25
                      field_value: Great!
                line_items:
                  - item_id: 27556eb3-6537-4d08-b75e-1ac32d80934b
                    quantity: 1
              - shipping_address:
                  email: testing@example.com
                  country_code: US
                  first_name: Testing
                  last_name: BigCommerce
                  company: BigCommerce
                  address1: 111 Main Street
                  address2: '#1324'
                  city: Austin
                  state_or_province: Texas
                  state_or_province_code: TX
                  postal_code: '78751'
                  phone: '+5185158x1{1-5}'
                  custom_fields:
                    - field_id: field_25
                      field_value: You're Welcome
                line_items:
                  - item_id: 15429582-222e-499e-8d22-d2930a0cfc0e
                    quantity: 1
        - name: include
          in: query
          x-enum-elements:
            - name: Enum_consignments.availableShippingOptions
              description: ''
          type: string
          description: Include to get available shipping options
          enum:
            - consignments.available_shipping_options
        - $ref: '#/parameters/includeShippingOption'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/checkouts/{checkoutId}/consignments/{consignmentId}':
    put:
      description: |-
        Updates an existing consignment. Shipping address, line item IDs or the shipping option ID can be updated using this endpoint.

        There are two steps to add a new shipping address and shipping options with line items. 
        1. Add a new [consignment](/api-reference/store-management/checkouts/checkout-consignments/checkoutsconsignmentsbycheckoutidpost) to a checkout.
        2. Assign a shipping option to the new consignment by sending a `PUT` request to update the consignment's `shipping_option_id` with a returned value from `data.consignments[N].available_shipping_option[N].id` in step one.
      summary: Update Checkout Consignment
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdAndConsignmentIdPut
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: consignmentId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/UpdateConsignmentRequest'
          x-examples:
            application/json: |-
              {
                "shipping_address": {
                  "email": "jane2@example.com",
                  "country_code": "US",
                  "first_name": "Testing",
                  "last_name": "BigCommerce",
                  "company": "BigCommerce",
                  "address1": "1234 Main Street",
                  "address2": "1234",
                  "city": "Austin",
                  "state_or_province": "Texas",
                  "state_or_province_code": "TX",
                  "postal_code": "78751",
                  "phone": "+481526687548x4{1-5}",
                  "custom_fields": [
                    {
                      "field_id": "field_25",
                      "field_value": "You're Welcome"
                    },
                  ]
                },
                "line_items": [
                  {
                    "item_id": "15429582-222e-499e-8d22-d2930a0cfc0e",
                    "quantity": 1
                  },
                ],
                "shipping_option_id": "156fb123-68e1-40a2-8a48-98ceb04031c1"
              }
        - name: include
          in: query
          required: false
          x-enum-elements:
            - name: Enum_consignments.availableShippingOptions
              description: ''
          type: string
          description: Include to get available shipping options
          enum:
            - consignments.available_shipping_options
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
    delete:
      description: |-
        Removes an existing consignment from a checkout.

        Removing the last consigment will remove the Cart from the customer it is assigned to. Create a new redirect url for the customer to access it again.
      summary: Delete Checkout Consignment
      tags:
        - Checkout Consignments
      operationId: CheckoutsConsignmentsByCheckoutIdAndConsignmentIdDelete
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: consignmentId
          in: path
          type: string
          required: true
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
  '/checkouts/{checkoutId}/coupons':
    post:
      description: |-
        Adds a *Coupon Code* to *Checkout*.

        **Required Fields**
        * coupon_code
      summary: Add Coupon to Checkout
      tags:
        - Checkout Coupons
      operationId: CheckoutsCouponsByCheckoutIdPost
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CouponCodeRequest'
          x-examples:
            application/json:
              coupon_code: S2549JM0Y
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/checkouts/{checkoutId}/coupons/{couponCode}':
    delete:
      description: Deletes a *Coupon Code* from *Checkout*.
      summary: Delete Checkout Coupon
      tags:
        - Checkout Coupons
      operationId: CheckoutsCouponsByCheckoutIdAndCouponCodeDelete
      produces:
        - application/json
      parameters:
        - name: checkoutId
          in: path
          type: string
          required: true
          description: Id of the Checkout
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: couponCode
          in: path
          type: string
          required: true
          description: 'The actual couponCode, not the couponId.'
      responses:
        '200':
          $ref: '#/responses/CheckoutResponse'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/checkouts/{checkoutId}/orders':
    post:
      responses:
        '200':
          $ref: '#/responses/order_Resp'
      summary: Create an Order
      description: |-
        Creates an order.

        ## Usage notes
        * Orders created will be set to incomplete order status.
        * You can create as many orders from the same order(cart) as you want.
        * Order duplication creates the same order with a new order number with the incomplete status.
        * Once the order is paid, then the cart is deleted.
        * Cart deletion occurs if you are using BigCommerce to accept payments on orders.
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
          required: true
        - name: Content-Type
          in: header
          type: string
          default: application/json
          required: true
        - name: checkoutId
          in: path
          type: string
          required: true
          description: ID of the checkout (same as the cart ID).
      tags:
        - Checkout Orders
      operationId: createAnOrder
    parameters:
      - name: checkoutId
        in: path
        type: string
        required: true
definitions:
  Checkout:
    title: Checkout
    type: object
    properties:
      id:
        description: ''
        type: string
        format: uuid
      cart:
        title: Cart
        type: object
        properties:
          id:
            description: 'Cart ID, provided after creating a cart with a POST.'
            type: string
            format: uuid
          customer_id:
            description: ID of the customer to which the cart belongs.
            type: integer
            format: int32
          email:
            description: The cart's email. This is the same email that is used in the billing address
            type: string
          currency:
            title: Currency
            type: object
            properties:
              code:
                description: 'ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)'
                type: string
          base_amount:
            description: 'Sum of cart line-item amounts before cart-level discounts, coupons, or taxes.'
            type: number
            format: double
          channel_id:
            description: ID of channel
            type: number
          discount_amount:
            description: Discounted amount.
            type: number
            format: double
          cart_amount_inc_tax:
            description: Sum of cart line-item amounts minus cart-level discounts and coupons including tax
            type: number
            format: double
          cart_amount_ex_tax:
            description: Sum of cart line-item amounts minus cart-level discounts and coupons excluding tax
            type: number
            format: double
          coupons:
            description: ''
            type: array
            items:
              title: Applied Coupon
              type: object
              properties:
                code:
                  description: the coupon code
                  type: string
                id:
                  description: The coupon ID.
                  type: integer
                coupon_type:
                  description: Key name to identify the type of coupon.
                  type: string
                discounted_amount:
                  description: The discounted amount applied within a given context.
                  type: number
                  format: double
              required:
                - code
          discounts:
            description: ''
            type: array
            items:
              title: Applied Discount
              type: object
              properties:
                id:
                  description: ID of the applied discount.
                  type: string
                  format: double
                discounted_amount:
                  description: The discounted amount applied within a given context.
                  type: number
                  format: double
          line_items:
            title: Line Item
            type: object
            properties:
              physical_items:
                description: ''
                type: array
                items:
                  title: Item Physical
                  type: object
                  properties:
                    quantity:
                      description: ''
                      type: number
                      format: double
                    id:
                      description: The line-item ID.
                      type: string
                    variant_id:
                      description: ''
                      type: number
                      format: double
                    product_id:
                      description: ''
                      type: number
                      format: double
                    sku:
                      description: ''
                      type: string
                    name:
                      description: The item's product name.
                      type: string
                    url:
                      description: The product URL.
                      type: string
                    is_taxable:
                      description: ''
                      type: boolean
                    image_url:
                      description: ''
                      type: string
                    discounts:
                      description: ''
                      type: array
                      items:
                        title: Applied Discount
                        type: object
                        properties:
                          id:
                            description: ID of the applied discount.
                            type: string
                            format: double
                          discounted_amount:
                            description: The discounted amount applied within a given context.
                            type: number
                            format: double
                    coupons:
                      description: ''
                      type: number
                    discount_amount:
                      description: The total value of all discounts applied to this item.
                      type: number
                      format: double
                    coupon_amount:
                      description: The total value of all coupons applied to this item.
                      type: number
                      format: double
                    list_price:
                      description: 'Item''s list price, as quoted by the manufacturer/distributor.'
                      type: number
                      format: double
                    sale_price:
                      description: Item's price after all discounts are applied. (The final price before tax calculation.)
                      type: number
                      format: double
                    extended_list_price:
                      description: Item's list price multiplied by the quantity.
                      type: number
                      format: double
                    extended_sale_price:
                      description: Item's sale price multiplied by the quantity.
                      type: number
                      format: double
                    is_require_shipping:
                      description: ''
                      type: boolean
                    is_mutable:
                      description: ''
                      type: boolean
                    parent_id:
                      description: ''
                      type: number
                      x-nullable: true
                    gift_wrapping:
                      title: Gift Wrapping
                      type: object
                      x-nullable: true
                      properties:
                        name:
                          description: ''
                          type: string
                        message:
                          description: ''
                          type: string
                        amount:
                          description: ''
                          type: number
                          format: double
                        amount_as_integer:
                          description: ''
                          type: number
                          format: double
                  required:
                    - quantity
              digital_items:
                description: ''
                type: array
                items:
                  title: Item Digital
                  type: object
                  properties:
                    quantity:
                      description: ''
                      type: number
                      format: double
                    id:
                      description: The line-item ID.
                      type: string
                    variant_id:
                      description: ''
                      type: number
                      format: double
                    parent_id:
                      description: ''
                      type: number
                      x-nullable: true
                    product_id:
                      description: ''
                      type: number
                      format: double
                    sku:
                      description: ''
                      type: string
                    name:
                      description: The item's product name.
                      type: string
                    url:
                      description: The product URL.
                      type: string
                    is_mutable:
                      description: ''
                      type: boolean
                    is_require_shipping:
                      description: ''
                      type: boolean
                    is_taxable:
                      description: ''
                      type: boolean
                    image_url:
                      description: ''
                      type: string
                    discounts:
                      description: ''
                      type: array
                      items:
                        title: Applied Discount
                        type: object
                        properties:
                          id:
                            description: ID of the applied discount.
                            type: string
                            format: double
                          discounted_amount:
                            description: The discounted amount applied within a given context.
                            type: number
                            format: double
                    coupons:
                      description: ''
                      type: number
                    discount_amount:
                      description: The total value of all discounts applied to this item.
                      type: number
                      format: double
                    coupon_amount:
                      description: The total value of all coupons applied to this item.
                      type: number
                      format: double
                    list_price:
                      description: 'Item''s list price, as quoted by the manufacturer/distributor.'
                      type: number
                      format: double
                    sale_price:
                      description: Item's price after all discounts are applied. (The final price before tax calculation.)
                      type: number
                      format: double
                    extended_list_price:
                      description: Item's list price multiplied by the quantity.
                      type: number
                      format: double
                    extended_sale_price:
                      description: Item's sale price multiplied by the quantity.
                      type: number
                      format: double
                  required:
                    - quantity
              gift_certificates:
                description: ''
                type: array
                items:
                  title: Item Gift Certificate
                  type: object
                  properties:
                    theme:
                      description: 'Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`.'
                      type: string
                    amount:
                      description: 'Value must be between 1.00 and 1,000.00 in the store''s default currency.'
                      type: number
                      format: double
                    sender:
                      title: Contact Entity
                      type: object
                      properties:
                        name:
                          description: ''
                          type: string
                        email:
                          description: ''
                          type: string
                    recipient:
                      title: Contact Entity
                      type: object
                      properties:
                        name:
                          description: ''
                          type: string
                        email:
                          description: ''
                          type: string
                    id:
                      description: ''
                      type: string
                    name:
                      description: GiftCertificate-provided name that will appear in the control panel.
                      type: string
                    taxable:
                      description: ''
                      type: boolean
                    message:
                      description: Limited to 200 characters.
                      type: string
                  required:
                    - theme
                    - amount
                    - sender
                    - recipient
              custom_items:
                type: array
                items:
                  type: object
                  properties:
                    quantity:
                      type: number
                    id:
                      type: string
                    extended_list_price:
                      type: number
                    list_price:
                      type: number
                    sku:
                      type: string
                    name:
                      type: string
                    image_url:
                      type: string
                  required:
                    - quantity
            required:
              - physical_items
              - digital_items
              - gift_certificates
          created_time:
            description: Time when the cart was created.
            type: string
          updated_time:
            description: Time when the cart was last updated.
            type: string
      billing_address:
        title: Address Response
        allOf:
          - title: Address Properties
            properties:
              first_name:
                description: ''
                type: string
              last_name:
                description: ''
                type: string
              email:
                type: string
                description: ''
              company:
                description: ''
                type: string
              address1:
                description: ''
                type: string
              address2:
                description: ''
                type: string
              city:
                description: ''
                type: string
              state_or_province:
                description: Represents state or province.
                type: string
              state_or_province_code:
                description: ''
                type: string
              country_code:
                type: string
                description: ''
              postal_code:
                description: ''
                type: string
              phone:
                description: ''
                type: string
                pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
              custom_fields:
                description: ''
                type: array
                items:
                  title: Custom Field
                  type: object
                  properties:
                    field_id:
                      description: ''
                      type: string
                    field_value:
                      description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                      type: string
            required:
              - email
              - country_code
          - properties:
              id:
                description: ''
                type: string
        type: object
      consignments:
        description: ''
        type: array
        items:
          title: Consignment
          description: 'This allows us to have multiple shipping addresses. Where there is only one shipping address, this array will contain only one value, with all the items.'
          type: object
          properties:
            id:
              description: ''
              type: string
            shipping_address:
              title: Address Response
              allOf:
                - title: Address Properties
                  properties:
                    first_name:
                      description: ''
                      type: string
                    last_name:
                      description: ''
                      type: string
                    email:
                      type: string
                      description: ''
                    company:
                      description: ''
                      type: string
                    address1:
                      description: ''
                      type: string
                    address2:
                      description: ''
                      type: string
                    city:
                      description: ''
                      type: string
                    state_or_province:
                      description: Represents state or province.
                      type: string
                    state_or_province_code:
                      description: ''
                      type: string
                    country_code:
                      type: string
                      description: ''
                    postal_code:
                      description: ''
                      type: string
                    phone:
                      description: ''
                      type: string
                      pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
                    custom_fields:
                      description: ''
                      type: array
                      items:
                        title: Custom Field
                        type: object
                        properties:
                          field_id:
                            description: ''
                            type: string
                          field_value:
                            description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                            type: string
                  required:
                    - email
                    - country_code
                - properties:
                    id:
                      description: ''
                      type: string
              type: object
            available_shipping_options:
              description: This is available only when "include=available_shipping_options" is presented in the URL.
              type: array
              items:
                title: Selected Shipping Option
                type: object
                properties:
                  description:
                    description: ''
                    type: string
                  id:
                    description: ''
                    type: string
                  type:
                    description: 'Specified the type of shipping option. Flat rate, UPS, etc.,'
                    type: string
                  image_url:
                    description: ''
                    type: string
                  cost:
                    description: ''
                    type: number
                    format: double
                  transit_time:
                    description: An estimate of the arrival time.
                    type: string
                  additional_description:
                    type: string
                    description: 'ReadOnly, Field used for Shipping Provider API.'
            selected_shipping_option:
              title: Selected Shipping Option
              type: object
              properties:
                description:
                  description: ''
                  type: string
                id:
                  description: ''
                  type: string
                type:
                  description: 'Specified the type of shipping option. Flat rate, UPS, etc.,'
                  type: string
                image_url:
                  description: ''
                  type: string
                cost:
                  description: ''
                  type: number
                transit_time:
                  description: An estimate of the arrival time.
                  type: string
                additional_description:
                  type: string
                  description: 'ReadOnly, Field used for Shipping Provider API.'
            coupon_discounts:
              description: List of consignment discounts applied through coupons
              type: array
              items:
                title: Consignment Coupon Discount
                type: object
                properties:
                  code:
                    description: Coupon code that applied this discount
                    type: string
                  amount:
                    description: ''
                    type: number
                    format: double
            discounts:
              description: List of consignment discounts applied through cart level discounts
              type: array
              items:
                title: Consignment Discount
                type: object
                properties:
                  id:
                    description: Discount rule ID that applied this discount
                    type: integer
            shipping_cost_inc_tax:
              description: The shipping cost for this consignment including tax.
              type: number
              format: double
            shipping_cost_ex_tax:
              description: The shipping cost for this consignment excluding tax.
              type: number
              format: double
            handling_cost_inc_tax:
              description: The handling cost of shipping for this consignment including tax.
              type: number
              format: double
            handling_cost_ex_tax:
              description: The handling cost of shipping for this consignment excluding tax.
              type: number
              format: double
            line_item_ids:
              description: ''
              type: array
              items:
                type: string
      taxes:
        description: ''
        type: array
        items:
          title: Tax
          type: object
          properties:
            name:
              description: Name of the tax.
              type: string
            amount:
              description: ''
              type: number
              format: double
      coupons:
        description: Coupons applied at checkout level.
        type: array
        items:
          $ref: '#/definitions/AppliedCoupon'
      order_id:
        description: ''
        type: string
      shipping_cost_total_inc_tax:
        description: Shipping cost before any discounts are applied including tax.
        type: number
        format: double
      shipping_cost_total_ex_tax:
        description: Shipping cost before any discounts are applied excluding tax.
        type: number
        format: double
      handling_cost_total_inc_tax:
        description: Handling cost for all consignments including tax.
        type: number
        format: double
      handling_cost_total_ex_tax:
        description: Handling cost for all consignments excluding tax.
        type: number
        format: double
      tax_total:
        description: ''
        type: number
        format: double
      subtotal_inc_tax:
        description: Subtotal of the checkout before applying item level discounts including tax.
        type: number
        format: double
      subtotal_ex_tax:
        description: Subtotal of the checkout before applying item level discounts excluding tax.
        type: number
        format: double
      grand_total:
        description: 'The total payable amount, before applying any store credit or gift certificate.'
        type: number
        format: double
      created_time:
        description: Time when the cart was created.
        type: string
      updated_time:
        description: Time when the cart was last updated.
        type: string
      customer_message:
        description: Shopper's message provided as details for the order to be created from this checkout.
        type: string
  AppliedCoupon:
    title: Applied Coupon
    type: object
    properties:
      code:
        description: the coupon code
        type: string
      id:
        description: The coupon ID.
        type: number
      discounted_amount:
        description: The discounted amount applied within a given context.
        type: number
        format: double
      coupon_type:
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
        description: |-
          |Type `int`|Type Name|
          |-|-|
          |`0`|`per_item_discount`|
          |`1`|`percentage_discount`|
          |`2`|`per_total_discount`|
          |`3`|`shipping_discount`|
          |`4`|`free_shipping`|
          |`5`|`promotion`|
    required:
      - code
  AddressProperties:
    title: Address Properties
    type: object
    properties:
      first_name:
        description: ''
        type: string
      last_name:
        description: ''
        type: string
      email:
        type: string
        description: ''
      company:
        description: ''
        type: string
      address1:
        description: ''
        type: string
      address2:
        description: ''
        type: string
      city:
        description: ''
        type: string
      state_or_province:
        description: Represents state or province.
        type: string
      state_or_province_code:
        description: ''
        type: string
      country_code:
        type: string
        description: ''
      postal_code:
        description: ''
        type: string
      phone:
        description: ''
        type: string
        pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
      custom_fields:
        description: 'You can retreive custom fields from the [Get Form Fields](https://developer.bigcommerce.com/api-reference/storefront/form-fields/form-fields/getformfields) endpoint.'
        type: array
        items:
          title: Custom Field
          type: object
          properties:
            field_id:
              description: ''
              type: string
            field_value:
              description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
              type: string
    required:
      - email
      - country_code
  CreateConsignmentRequest:
    title: Create Consignment Request
    type: object
    properties:
      shipping_address:
        title: Address Properties
        type: object
        properties:
          first_name:
            description: ''
            type: string
          last_name:
            description: ''
            type: string
          email:
            type: string
            description: ''
          company:
            description: ''
            type: string
          address1:
            description: ''
            type: string
          address2:
            description: ''
            type: string
          city:
            description: ''
            type: string
          state_or_province:
            description: Represents state or province.
            type: string
          state_or_province_code:
            description: ''
            type: string
          country_code:
            type: string
            description: ''
          postal_code:
            description: ''
            type: string
          phone:
            description: ''
            type: string
            pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
          custom_fields:
            description: 'You can retreive custom fields from the [Get Form Fields](https://developer.bigcommerce.com/api-reference/storefront/form-fields/form-fields/getformfields) endpoint.'
            type: array
            items:
              title: Custom Field
              type: object
              properties:
                field_id:
                  description: ''
                  type: string
                field_value:
                  description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                  type: string
        required:
          - email
          - country_code
      line_items:
        description: ''
        type: array
        items:
          title: Consignment Line Item
          type: object
          properties:
            item_id:
              description: 'Corresponds to `line_items.physical_items[N].id` value from `GET`checkout response.'
              type: string
            quantity:
              description: ''
              type: integer
              format: int32
          required:
            - item_id
            - quantity
  UpdateConsignmentRequest:
    title: Update Consignment Request
    description: One or more of these three fields are mandatory. `shipping_address` and `line_items` can be updated in one request. `shipping_option_id` has to be updated in a separate request since changing the address or line items can invalidate the previously available shipping options.
    type: object
    properties:
      shipping_address:
        title: Address Properties
        type: object
        properties:
          first_name:
            description: ''
            type: string
          last_name:
            description: ''
            type: string
          email:
            type: string
            description: ''
          company:
            description: ''
            type: string
          address1:
            description: ''
            type: string
          address2:
            description: ''
            type: string
          city:
            description: ''
            type: string
          state_or_province:
            description: Represents state or province.
            type: string
          state_or_province_code:
            description: ''
            type: string
          country_code:
            type: string
            description: ''
          postal_code:
            description: ''
            type: string
          phone:
            description: ''
            type: string
            pattern: '^\+?[1-9]\d{1,14}(x\d{1-5})?$'
          custom_fields:
            description: ''
            type: array
            items:
              title: Custom Field
              type: object
              properties:
                field_id:
                  description: ''
                  type: string
                field_value:
                  description: 'This can also be an array for fields that need to support list of values (e.g., a set of check boxes.)'
                  type: string
        required:
          - email
          - country_code
      line_items:
        description: ''
        type: array
        items:
          title: Consignment Line Item
          type: object
          properties:
            item_id:
              description: 'Corresponds to `line_items.physical_items[N].id` value from `GET`checkout response.'
              type: string
            quantity:
              description: ''
              type: integer
              format: int32
          required:
            - item_id
            - quantity
      shipping_option_id:
        description: ''
        type: string
  CouponCodeRequest:
    title: Coupon Code Request
    type: object
    properties:
      coupon_code:
        description: ''
        type: string
  Order:
    type: object
    title: Order
    properties:
      id:
        type: integer
        example: 75
        description: The order Id.
parameters:
  checkoutId:
    name: checkoutId
    in: path
    type: string
    required: true
    description: Id of the Checkout
  addressId:
    name: addressId
    in: path
    type: integer
    required: true
  consignmentId:
    name: consignmentId
    in: path
    type: string
    required: true
  couponCode:
    name: couponCode
    in: path
    type: string
    required: true
    description: 'The actual couponCode, not the couponId.'
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
  includeShippingOption:
    name: include
    in: query
    type: string
    enum:
      - consignments.available_shipping_options
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: |-
      ### OAuth Scopes
      |  **UI Name** | **Permission** | **Parameter** |
      | --- | --- | --- |
      |  Checkouts | modify | `store_checkout` |
      |  Checkouts | read-only | `store_checkout_read_only` |

      ### Headers

      |Header|Parameter|Description|
      |-|-|-|
      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

      ### Example

      ```http
      GET /stores/{$$.env.store_hash}/v3/catalog/summary
      host: api.bigcommerce.com
      Content-Type: application/json
      X-Auth-Token: {access_token}
      ```

      * For more information on Authenticating BigCommerce APIs, see: [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).
tags:
  - name: Checkout
  - name: Checkout Billing Address
  - name: Checkout Consignments
  - name: Checkout Coupons
  - name: Checkout Orders
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
responses:
  CheckoutResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Checkout'
    examples:
      application/json:
        data:
          id: 41d4ef29-0532-4ded-a669-14e4048451ad
          cart:
            id: 41d4ef29-0532-4ded-a669-14e4048451ad
            customer_id: 9
            email: testing@example.com
            currency:
              code: USD
            base_amount: 520.54
            discount_amount: 0
            cart_amount_inc_tax: 600.6
            cart_amount_ex_tax: 515.54
            coupons:
              - id: 1
                code: S2549JM0Y
                coupon_type: per_total_discount
                discounted_amount: 5
            discounts:
              - id: 87c770bc-7a5e-42cf-aaf9-c8bceda81704
                discounted_amount: 0.17
              - id: 8166a146-3ecb-40aa-b40a-f39244e6c257
                discounted_amount: 0.46
              - id: 1359bfee-5b01-4f73-803b-6b07d75b36cd
                discounted_amount: 2.1
              - id: 20e79ae2-5c44-472c-9ac4-aaa645b955ff
                discounted_amount: 2.27
            line_items:
              physical_items:
                - id: 8166a146-3ecb-40aa-b40a-f39244e6c257
                  parent_id: 123
                  variant_id: 328
                  product_id: 158
                  sku: SKU-BDD6E975
                  name: Chambray Towel
                  url: 'http://store-url.mybigcommerce.com/all/chambray-towel/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn8.bigcommerce.com/s-{store_hash}/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.330.500.jpg?c=2'
                  discounts:
                    - id: total-coupon
                      discounted_amount: 0.46
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 47.49
                  sale_price: 47.49
                  extended_list_price: 47.49
                  extended_sale_price: 47.03
                  is_require_shipping: true
                - id: 1359bfee-5b01-4f73-803b-6b07d75b36cd
                  parent_id: 123
                  variant_id: 338
                  product_id: 167
                  sku: ''
                  name: Able Brewing System
                  url: 'http://store-url.mybigcommerce.com/all/able-brewing-system/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn8.bigcommerce.com/s-{store_hash}/products/167/images/398/ablebrewingsystem4_1024x1024__07155__93974.1534344516.330.500.jpg?c=2'
                  discounts:
                    - id: total-coupon
                      discounted_amount: 2.1
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 218.5
                  sale_price: 218.5
                  extended_list_price: 218.5
                  extended_sale_price: 216.4
                  is_require_shipping: true
                - id: 20e79ae2-5c44-472c-9ac4-aaa645b955ff
                  parent_id: 123
                  variant_id: 367
                  product_id: 184
                  sku: SMA-GRE
                  name: Canvas Laundry Cart
                  url: 'http://store-url.mybigcommerce.com/all/canvas-laundry-cart/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn8.bigcommerce.com/s-{store_hash}/products/184/images/445/naturalcanvascart2_1024x1024__92347__29648.1534344533.330.500.jpg?c=2'
                  discounts:
                    - id: total-coupon
                      discounted_amount: 2.27
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 236.55
                  sale_price: 236.55
                  extended_list_price: 236.55
                  extended_sale_price: 234.28
                  is_require_shipping: true
              digital_items:
                - id: 87c770bc-7a5e-42cf-aaf9-c8bceda81704
                  parent_id: 123
                  variant_id: 360
                  product_id: 189
                  sku: ''
                  name: Gather Journal Issue 7
                  url: 'http://store-url.mybigcommerce.com/all/gather-journal-issue-7/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn8.bigcommerce.com/s-{store_hash}/products/189/images/465/gather_1024x1024__17195__82620.1534344540.330.500.jpg?c=2'
                  discounts:
                    - id: total-coupon
                      discounted_amount: 0.17
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 18
                  sale_price: 18
                  extended_list_price: 18
                  extended_sale_price: 17.83
                  is_require_shipping: false
              gift_certificates: []
            created_time: '2018-08-15T15:53:10+00:00'
            updated_time: '2018-08-15T15:54:31+00:00'
          billing_address:
            id: 5b744c77bbe1f
            first_name: BigCommerce
            last_name: BigCommerce Cart/Checkout
            email: testing@example.com
            company: {}
            address1: 123 Main Street
            address2: {}
            city: Austin
            state_or_province: Texas
            state_or_province_code: TX
            country: United States
            country_code: US
            postal_code: '78726'
            phone: '5122134567'
          consignments:
            - id: 5b744c77bbf2b
              shipping_cost_inc_tax: 54.53
              shipping_cost_ex_tax: 46.81
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              coupon_discounts: []
              discounts: []
              line_item_ids:
                - 8166a146-3ecb-40aa-b40a-f39244e6c257
                - 1359bfee-5b01-4f73-803b-6b07d75b36cd
                - 20e79ae2-5c44-472c-9ac4-aaa645b955ff
              selectedShippingOption:
                id: 156fb123-68e1-40a2-8a48-98ceb04031c1
                type: shipping_upsready
                description: UPS® (UPS Next Day Air®)
                image_url: ''
                cost: 46.81
                transit_time: 1 business day
              shippingAddress:
                first_name: BigCommerce
                last_name: BigCommerce Cart/Checkout
                email: testing@example.com
                company: ''
                address1: 123 Main Street
                address2: ''
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                country: United States
                country_code: US
                postal_code: '78726'
                phone: '5122134567'
                customFields:
                  - field_id: field_25
                    field_value: 11305 4 Points Drive
              couponDiscounts: []
          taxes:
            - name: This is tax
              amount: 92.78
          coupons:
            - id: 1
              code: S2549JM0Y
              coupon_type: per_total_discount
              discounted_amount: 5
          order_id: {}
          shipping_cost_total_inc_tax: 54.53
          shipping_cost_total_ex_tax: 46.81
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 92.78
          subtotal_inc_tax: 606.42496049047
          subtotal_ex_tax: 520.54
          grand_total: 605.13
          created_time: '2018-08-15T15:53:10+00:00'
          updated_time: '2018-08-15T15:54:31+00:00'
          customer_message: ''
        meta: {}
      Available Shipping Options:
        data:
          id: 306d57d7-124e-4112-82cd-35e060c0d4d9
          cart:
            id: 306d57d7-124e-4112-82cd-35e060c0d4d9
            customer_id: 11
            channel_id: 1
            email: janedoe@example.com
            currency:
              code: USD
            base_amount: 31.95
            discount_amount: 0
            cart_amount_inc_tax: 33.23
            cart_amount_ex_tax: 31.95
            coupons: 0
            discounts:
              - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                discounted_amount: 0
            line_items:
              physical_items:
                - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                  parent_id: 123
                  variant_id: 359
                  product_id: 188
                  sku: DUST1
                  name: Hello
                  url: 'https://{store_hash}/all/dustpan-brush/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                  discounts: []
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 31.95
                  sale_price: 33.23
                  extended_list_price: 31.95
                  extended_sale_price: 33.23
                  is_require_shipping: true
                  gift_wrapping: {}
              digital_items: []
              gift_certificates: []
              custom_items: []
            created_time: '2019-08-05T15:38:14+00:00'
            updated_time: '2019-08-05T15:41:28+00:00'
          billing_address:
            id: 5d484d668e5aa
            first_name: null
            last_name: null
            email: janedoe@example.com
            company: BigCommerce
            address1: 123 Main Street
            address2: Apt 1
            city: Austin
            state_or_province: ''
            state_or_province_code: ''
            country: ''
            country_code: ''
            postal_code: null
            phone: null
            custom_fields: []
          consignments:
            - id: 5d484e28d20a8
              shipping_cost_inc_tax: 0
              shipping_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              coupon_discounts: []
              discounts: []
              line_item_ids:
                - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
              shipping_address:
                first_name: BigCommerce
                last_name: Cart/Checkout
                email: jane2@example.com
                company: ''
                address1: 123 Main Street
                address2: ''
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                country: United States
                country_code: US
                postal_code: '78751'
                phone: '688546'
                customFields:
                  - field_id: field_25
                    field_value: Great!
              available_shipping_options:
                - id: 006a58a98c9a844225552ee2a9c60ca8
                  type: shipping_byweight
                  description: Ship by Weight
                  image_url: ''
                  cost: 8
                  transit_time: ''
                  additional_description: ''
                - id: 722d78b5120de60a725e41be9bb8d999
                  type: shipping_flatrate
                  description: Flat Rate
                  image_url: ''
                  cost: 12
                  transit_time: ''
                  additional_description: ''
                - id: 71090fa93c8985348892543c3f4887b6
                  type: shipping_upsready
                  description: UPS® (UPS Next Day Air®)
                  image_url: ''
                  cost: 43.9
                  transit_time: 1 business day
                  additional_description: ''
          taxes:
            - name: Tax
              amount: 1.28
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 0
          shipping_cost_total_ex_tax: 0
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 1.28
          subtotal_inc_tax: 33.23
          subtotal_ex_tax: 31.95
          grand_total: 33.23
          created_time: '2019-08-05T15:38:14+00:00'
          updated_time: '2019-08-05T15:41:28+00:00'
          customer_message: ''
        meta: {}
      Selected Shipping Options:
        data:
          id: 306d57d7-124e-4112-82cd-35e060c0d4d9
          cart:
            id: 306d57d7-124e-4112-82cd-35e060c0d4d9
            customer_id: 11
            channel_id: 1
            email: janedoe@example.com
            currency:
              code: USD
            base_amount: 31.95
            discount_amount: 0
            cart_amount_inc_tax: 33.23
            cart_amount_ex_tax: 31.95
            coupons: []
            discounts:
              - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                discounted_amount: 0
            line_items:
              physical_items:
                - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                  parent_id: 123
                  variant_id: 359
                  product_id: 188
                  sku: DUST1
                  name: Hello
                  url: 'https://{$$.env.store_hash}/all/dustpan-brush/'
                  quantity: 1
                  is_taxable: true
                  image_url: 'https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2'
                  discounts: []
                  coupons: 0
                  discount_amount: 0
                  coupon_amount: 0
                  list_price: 31.95
                  sale_price: 33.23
                  extended_list_price: 31.95
                  extended_sale_price: 33.23
                  is_require_shipping: true
                  gift_wrapping: null
              digital_items: []
              gift_certificates: []
              custom_items: []
            created_time: '2019-08-05T15:38:14+00:00'
            updated_time: '2019-08-05T15:41:28+00:00'
          billing_address:
            id: 5d484d668e5aa
            first_name: null
            last_name: null
            email: janedoe@example.com
            company: BigCommerce
            address1: 123 Main Street
            address2: Apt 1
            city: Austin
            state_or_province: ''
            state_or_province_code: ''
            country: ''
            country_code: ''
            postal_code: null
            phone: null
            custom_fields: []
          consignments:
            - id: 5d484e28d20a8
              shipping_cost_inc_tax: 8.32
              shipping_cost_ex_tax: 8
              handling_cost_inc_tax: 0
              handling_cost_ex_tax: 0
              coupon_discounts: []
              discounts: []
              line_item_ids:
                - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
              selected_shipping_option:
                id: 006a58a98c9a844225552ee2a9c60ca8
                type: shipping_byweight
                description: Ship by Weight
                image_url: ''
                cost: 8
                transit_time: ''
                additional_description: ''
              shipping_address:
                first_name: BigCommerce
                last_name: Cart/Checkout
                email: jane2@example.com
                company: ''
                address1: 123 Main Street
                address2: ''
                city: Austin
                state_or_province: Texas
                state_or_province_code: TX
                country: United States
                country_code: US
                postal_code: '78751'
                phone: '688546'
                customFields:
                  - field_id: field_25
                    field_value: Great!
          taxes:
            - name: Tax
              amount: 1.6
          coupons: []
          order_id: null
          shipping_cost_total_inc_tax: 8.32
          shipping_cost_total_ex_tax: 8
          handling_cost_total_inc_tax: 0
          handling_cost_total_ex_tax: 0
          tax_total: 1.6
          subtotal_inc_tax: 33.23
          subtotal_ex_tax: 31.95
          grand_total: 41.55
          created_time: '2019-08-05T15:38:14+00:00'
          updated_time: '2019-08-05T15:41:28+00:00'
          customer_message: ''
        meta: {}
  order_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Order'
        meta:
          type: object
    examples:
      application/json:
        data:
          id: 75
        meta: {}
