swagger: '2.0'
info:
  version: ''
  title: Customers V3
  description: >-
    Create and manage customers.


    - [Authentication](#authentication)

    - [Available Endpoints](#available-endpoints)

    - [Resources](#resources)


    ## Authentication


    Requests can be authenticated by sending an `access_token` via
    `X-Auth-Token` HTTP header:


    ```http

    GET /stores/{$$.env.store_hash}/v3/catalog/summary

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Token: {access_token}

    ```


    |Header|Parameter|Description|

    |-|-|-|

    |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
    installing an app in a BigCommerce control panel.|


    ### OAuth Scopes


    | UI Name                                      | Permission |
    Parameter                                     |

    |----------------------------------------------|------------|-----------------------------------------------|

    | Customers                                    | modify     |
    `store_v2_customers`                          |

    | Customers                                    | read-only  |
    `store_v2_customers_read_only`                |


    For more information on Authenticating BigCommerce APIs, see:
    [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).


    ## Resources

    * [Customer and Subscribers
    Overview](/api-docs/customers/customers-subscribers-overview).
  contact: {}
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /customers:
    get:
      description: >-
        Returns a list of Customers. Optional filter parameters can be passed
        in.


        **Notes**


        Attribute names are not available on the customer object.
      summary: Get All Customers
      tags:
        - Customers
      operationId: CustomersGet
      deprecated: false
      parameters:
        - name: page
          in: query
          type: integer
          description: Page number. `page=1`
        - in: query
          type: number
          name: limit
          description: Items count per page. `limit=50`
        - name: 'id:in'
          in: query
          type: array
          description: |-
            Filter items by id.
            `id:in=4,5,6`
          items:
            type: integer
        - name: 'company:in'
          in: query
          type: array
          items:
            type: string
          description: 'Filter items by company. `company:in=bigcommerce,commongood`'
        - name: 'customer_group_id:in'
          in: query
          type: array
          description: 'Filter items by customer_group_id. `customer_group_id:in=5,6`'
          items:
            type: string
        - name: date_created
          in: query
          type: string
          description: 'Filter items by date_created. `date_created=2018-09-05T13:43:54`'
          format: date-time
        - name: 'date_created:max'
          in: query
          type: string
          description: 'Filter items by maximum date_created. `date_created:max=2018-09-10`'
        - name: 'date_created:min'
          in: query
          type: string
          description: 'Filter items by date_created. `date_created:min=2018-09-05`'
          format: date-time
        - name: date_modified
          in: query
          type: string
          description: 'Filter items by date_modified. `date_modified=2018-09-05T13:45:03`'
          format: date-time
        - name: 'date_modified:min'
          in: query
          type: string
          description: >-
            Filter items by mininum date_modified.
            `date_modified:min=2019-09-04T:00:00:00` or
            `date_modified:min=2019-09-04`
        - name: 'date_modified:max'
          in: query
          type: string
          format: date-time
          description: >-
            Filter items by maximum date_modified
            `date_modified:max=2018-09-05T13:45:03` or
            `date_modified:max=2019-09-04`
        - name: 'email:in'
          in: query
          type: string
          description: 'Filter items by email. `email:in=janedoe@email.com`'
        - name: 'name:in'
          in: query
          type: array
          description: Filter items by first_name and last_name. `name=james moriarty`
          items:
            type: string
        - name: 'name:like'
          in: query
          type: array
          description: |-
            Filter items by substring in first_name and last_name.
            `name:like=moriarty, sherlock`
            Concatenates the first_name and last_name fields.
          items:
            type: string
        - name: 'registration_ip_address:in'
          in: query
          type: array
          description: >-
            Filter items by registration_ip_address. If the customer was created
            using the API, then registration address is blank.

            `registration_ip_address:in=12.345.6.789`
          items:
            type: integer
        - name: include
          in: query
          type: string
          description: |-
            Indicates whether to include customer sub-resources:
             * `addresses` - customer addresses
             * `storecredit` - store credit
             * `attributes` - customer attributes and address attributes
             * `formfields` - customer and address form fields

             `include=addresses,storecredit,attributes,formfields`
          enum:
            - addresses
            - storecredit
            - attributes
            - formfields
        - in: query
          name: sort
          type: string
          description: |-
            Sort items by date_created or last_name:
            * `date_created:asc` - date created, ascending
            * `date_created:desc` - date created, descending
            * `last_name:asc` - last name, ascending
            * `last_name:desc` - last name, descending

            Example: `sort=last_name:asc`
          enum:
            - 'date_created:asc'
            - 'date_created:desc'
            - 'last_name:asc'
            - 'last_name:desc'
      responses:
        '200':
          $ref: '#/responses/CustomerCollectionResponse'
    post:
      description: >-
        Creates Customers. Multiple customers can be created in one call.


        **Required Fields**

        * last_name

        * first_name

        * email


        **Required Fields Customer Address**

        * first_name

        * city

        * country_code

        * state_or_province

        * last_name

        * address1

        * postal_code


        **Required Fields Attributes**

        * Attributes must be
        [created](https://developer.bigcommerce.com/api-reference/customer-subscribers/v3-customers-api/customer-attributes/customersattributespost)
        **BEFORE** creating a customer.

        * attribute_id

        * attribute_value -- This is input as a string, regardless of the
        [Type](/api-reference/customer-subscribers/v3-customers-api/models/type).
      summary: Create Customers
      tags:
        - Customers
      operationId: CustomersPost
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Customer Post
              type: object
              properties:
                email:
                  description: The email of the customer. Must be unique.
                  type: string
                  minLength: 3
                  maxLength: 255
                first_name:
                  description: The first name of the customer.
                  type: string
                  minLength: 1
                  maxLength: 100
                last_name:
                  description: The last name of the customer.
                  type: string
                  minLength: 1
                  maxLength: 100
                company:
                  description: The company of the customer.
                  type: string
                  minLength: 0
                  maxLength: 255
                phone:
                  description: The phone number of the customer.
                  type: string
                  minLength: 0
                  maxLength: 50
                notes:
                  description: The customer notes.
                  type: string
                tax_exempt_category:
                  description: The tax exempt category code for the customer.
                  type: string
                  minLength: 0
                  maxLength: 255
                customer_group_id:
                  description: Id of the group which this customer belongs to.
                  type: integer
                  format: int32
                addresses:
                  description: Array of customer addresses. Limited to 10
                  type: array
                  maxItems: 10
                  items:
                    title: Address For Customer
                    example:
                      address1: Addr 1
                      address2: ''
                      address_type: residential
                      city: San Francisco
                      company: History
                      country_code: US
                      first_name: Ronald
                      last_name: Swimmer
                      phone: '707070707'
                      postal_code: '33333'
                      state_or_province: California
                    type: object
                    properties:
                      first_name:
                        description: The first name of the customer address.
                        type: string
                        minLength: 1
                        maxLength: 255
                      last_name:
                        description: The last name of the customer address.
                        type: string
                        minLength: 1
                        maxLength: 255
                      company:
                        description: The company of the customer address.
                        type: string
                        minLength: 0
                        maxLength: 255
                      address1:
                        description: The address 1 line.
                        type: string
                      address2:
                        description: The address 2 line.
                        type: string
                      city:
                        description: The city of the customer address.
                        type: string
                        minLength: 0
                        maxLength: 100
                      state_or_province:
                        description: The state or province name
                        type: string
                        minLength: 0
                        maxLength: 100
                      postal_code:
                        description: The postal code of the customer address.
                        type: string
                        minLength: 0
                        maxLength: 30
                      country_code:
                        description: The country code of the customer address.
                        type: string
                        minLength: 2
                        maxLength: 2
                      phone:
                        description: The phone number of the customer address.
                        type: string
                        minLength: 0
                        maxLength: 50
                      address_type:
                        title: Address Type
                        description: The address type. Residential or Commercial
                        example: residential
                        type: string
                        enum:
                          - residential
                          - commercial
                    required:
                      - first_name
                      - last_name
                      - address1
                      - city
                      - state_or_province
                      - postal_code
                      - country_code
                attributes:
                  description: Array of customer attributes. Limited to 10
                  type: array
                  maxItems: 10
                  items:
                    title: Customer Attribute Value For Customer
                    example:
                      attribute_id: 55
                      value: string value
                    type: object
                    properties:
                      attribute_id:
                        description: Attribute ID.
                        type: integer
                        format: int32
                      attribute_value:
                        description: >-
                          Attribute value. This will always be a string,
                          regardless of the attributes type.
                        type: string
                        minLength: 0
                        maxLength: 255
                    required:
                      - attribute_id
                      - attribute_value
                authentication:
                  title: Customer Authentication
                  type: object
                  properties:
                    force_password_reset:
                      description: >-
                        If `true`, this customer will be forced to change
                        password on next login.
                      type: boolean
                    new_password:
                      description: New password for customer. Write only field
                      type: string
                accepts_product_review_abandoned_cart_emails:
                  type: boolean
                  description: >-
                    It determines if the customer is signed up to receive either
                    product review or abandoned cart emails or recieve both
                    emails.
                store_credit_amounts:
                  description: 'Store credit. '
                  type: array
                  format: double
                  items:
                    type: object
                    properties:
                      amount:
                        type: number
                        format: float
                        example: 43.15
              required:
                - email
                - first_name
                - last_name
          x-examples: {}
      responses:
        '200':
          $ref: '#/responses/CustomerCollectionResponse'
        '422':
          description: >-
            The *Customer* was not valid. This is the result of missing required
            fields or trying to edit a read only field. See the response for
            more details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
          examples:
            application/json:
              status: 422
              title: Create customers failed.
              type: 'https://developer.bigcommerce.com/api#api-status-codes'
              errors:
                .customer_create: Error creating customers
    put:
      description: >-
        Updates Customers. Subresource updates are not supported. Multiple
        customers can be updated in one call.


        **Required Fields**

        * id -- ID of the *Customer* This must be included in the request body


        **Read Only Fields**

        * id

        * registration_ip_address

        * date_created

        * date_modified



        **Notes**


        Attributes Values can not be updated using Update a Customer. Use the
        Update a [Customer Attribute
        Values](https://developer.bigcommerce.com/api-reference/customer-subscribers/v3-customers-api/customer-attribute-values/customersattributevaluesput)
        endpoint.
      summary: Update Customers
      tags:
        - Customers
      operationId: CustomersPut
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Customer Put
              type: object
              properties:
                email:
                  description: The email of the customer. Must be unique.
                  type: string
                  minLength: 3
                  maxLength: 255
                first_name:
                  description: The first name of the customer.
                  type: string
                  minLength: 1
                  maxLength: 100
                last_name:
                  description: The last name of the customer.
                  type: string
                  minLength: 1
                  maxLength: 100
                company:
                  description: The company of the customer.
                  type: string
                  minLength: 0
                  maxLength: 255
                phone:
                  description: The phone number of the customer.
                  type: string
                  minLength: 0
                  maxLength: 50
                registration_ip_address:
                  description: The IP address from which this customer was registered.
                  type: string
                  minLength: 0
                  maxLength: 30
                notes:
                  description: The customer notes.
                  type: string
                tax_exempt_category:
                  description: The tax exempt category code for the customer.
                  type: string
                  minLength: 0
                  maxLength: 255
                customer_group_id:
                  description: Id of the group which this customer belongs to.
                  type: integer
                  format: int32
                id:
                  description: The unique numeric ID of the customer.
                  type: integer
                  format: int32
                authentication:
                  title: Customer Authentication
                  type: object
                  properties:
                    force_password_reset:
                      description: >-
                        If `true`, this customer will be forced to change
                        password on next login.
                      type: boolean
                    new_password:
                      description: New password for customer. Write only field
                      type: string
                accepts_product_review_abandoned_cart_emails:
                  type: boolean
                  description: >-
                    It determines if the customer is signed up to receive either
                    product review or abandoned cart emails or recieve both
                    emails.
                store_credit_amounts:
                  description: 'Store credit. '
                  type: array
                  format: double
                  items:
                    type: object
                    properties:
                      amount:
                        type: number
                        format: float
                        example: 43.18
              required:
                - id
          x-examples:
            application/json:
              - id: 65206491
                email: etu
                first_name: Excepte
                last_name: incidi
                company: anim
                phone: 'quis '
                registration_ip_address: l
                notes: adipisicing incididunt quis dolor
                tax_exempt_category: 'Excepteur '
                customer_group_id: -76846758
                authentication:
                  force_password_reset: true
                  new_password: cupidatat dolore
      responses:
        '200':
          $ref: '#/responses/CustomerCollectionResponse'
        '422':
          description: >
            The `Customer` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
    delete:
      description: >-
        Deletes Customers.


        **Required Query**

        * id:in -- ID of the customer


        **Notes**


        A query is required to delete customers. If not provided, a 204 is
        returned, with no changes to the data.
      summary: Delete Customers
      tags:
        - Customers
      operationId: CustomersDelete
      deprecated: false
      parameters:
        - in: query
          name: 'id:in'
          type: array
          items:
            type: integer
          description: |-
            Filter items by id.
            `id:in=4,5,6`
          required: true
      responses:
        '204':
          description: ''
          headers: {}
  /customers/addresses:
    get:
      description: >-
        Returns a list of Customer Addresses. Optional filter parameters can be
        passed in.
      summary: Get All Customer Addresses
      operationId: CustomersAddressesGet
      deprecated: false
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - name: page
          in: query
          type: integer
          description: Page number. `page=1`
        - in: query
          type: number
          name: limit
          description: Items count per page. `limit=50`
        - name: 'company:in'
          in: query
          type: array
          items:
            type: string
          description: 'Filter items by company. `company:in=bigcommerce,commongood`'
        - name: name
          in: query
          type: array
          description: 'Filter items by first_name and last_name. `name=moriarty,holmes`'
          items:
            type: string
        - in: query
          type: array
          name: 'customer_id:in'
          description: 'The ID of the customer. `customer_id:in=23,24,55`'
          items:
            type: integer
        - name: include
          in: query
          type: string
          description: |-
            Indicates whether to include customer address sub-resources:
            * `formfields` - address form fields
            `include=formfields`
          enum:
            - formfields
        - name: 'id:in'
          in: query
          type: array
          description: |-
            Filter items by id.
            `id:in=4,5,6`
          items:
            type: integer
      responses:
        '200':
          $ref: '#/responses/AddressCollectionResponse'
      tags:
        - Customer Addresses
    post:
      description: >-
        Creates a Customer Address. Multiple customer addresses can be created
        in one call.


        **Required Fields**

        * first_name

        * city

        * customer_id

        * country_code

        * state_or_province

        * last_name

        * address1

        * postal_code
      summary: Create a Customer Address
      operationId: CustomersAddressesPost
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Address Post
              type: object
              properties:
                first_name:
                  description: The first name of the customer address.
                  type: string
                  minLength: 1
                  maxLength: 255
                last_name:
                  description: The last name of the customer address.
                  type: string
                  minLength: 1
                  maxLength: 255
                company:
                  description: The company of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 255
                address1:
                  description: The address 1 line.
                  type: string
                address2:
                  description: The address 2 line.
                  type: string
                city:
                  description: The city of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 100
                state_or_province:
                  description: The state or province name
                  type: string
                  minLength: 0
                  maxLength: 100
                postal_code:
                  description: The postal code of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 30
                country_code:
                  description: The country code of the customer address.
                  type: string
                  minLength: 2
                  maxLength: 2
                phone:
                  description: The phone number of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 50
                address_type:
                  title: Address Type
                  description: The address type. Residential or Commercial
                  example: residential
                  type: string
                  enum:
                    - residential
                    - commercial
                customer_id:
                  description: The customer ID.
                  type: integer
                  format: int32
              required:
                - first_name
                - last_name
                - address1
                - city
                - state_or_province
                - postal_code
                - country_code
                - customer_id
          x-examples:
            application/json:
              - first_name: John
                last_name: Doe
                address1: 111 E West Street
                address2: '654'
                city: Akron
                state_or_province: Ohio
                postal_code: '44325'
                country_code: US
                phone: '1234567890'
                address_type: residential
                customer_id: 11
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/AddressCollectionResponse'
        '422':
          description: >
            The `Address` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      tags:
        - Customer Addresses
    put:
      description: >-
        Updates a Customer Address. Multiple customer addresses can be updated
        in one call.


        **Required Fields**

        * id -- ID of the *Customer Address*

        * customer_id -- ID of the *Customer*.
      summary: Update a Customer Address
      operationId: CustomersAddressesPut
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Address Put
              type: object
              properties:
                first_name:
                  description: The first name of the customer address.
                  type: string
                  minLength: 1
                  maxLength: 255
                last_name:
                  description: The last name of the customer address.
                  type: string
                  minLength: 1
                  maxLength: 255
                company:
                  description: The company of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 255
                address1:
                  description: The address 1 line.
                  type: string
                address2:
                  description: The address 2 line.
                  type: string
                city:
                  description: The city of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 100
                state_or_province:
                  description: The state or province name
                  type: string
                  minLength: 0
                  maxLength: 100
                postal_code:
                  description: The postal code of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 30
                country_code:
                  description: The country code of the customer address.
                  type: string
                  minLength: 2
                  maxLength: 2
                phone:
                  description: The phone number of the customer address.
                  type: string
                  minLength: 0
                  maxLength: 50
                address_type:
                  title: Address Type
                  description: The address type. Residential or Commercial
                  example: residential
                  type: string
                  enum:
                    - residential
                    - commercial
                customer_id:
                  description: The customer ID.
                  type: integer
                  format: int32
                id:
                  description: The unique numeric ID of the address.
                  type: integer
                  format: int32
              required:
                - first_name
                - last_name
                - address1
                - city
                - state_or_province
                - postal_code
                - country_code
                - customer_id
                - id
          x-examples:
            application/json:
              - first_name: John
                last_name: Doe
                id: 38
                address1: 111 E West Street
                address2: '654'
                city: Akron
                state_or_province: Ohio
                postal_code: '44325'
                country_code: US
                phone: '1234567890'
                address_type: residential
                customer_id: 23
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/AddressCollectionResponse'
        '422':
          description: >
            The `Address` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      tags:
        - Customer Addresses
    delete:
      description: |-
        Deletes a Customer Address.

        **Required Query**
        * id:in -- ID of the *Customer Address*
      summary: Delete a Customer Address
      operationId: CustomersAddressesDelete
      deprecated: false
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - in: query
          name: 'id:in'
          type: array
          required: true
          description: |-
            Filter items by id.
            `id:in=4,5,6`
          items:
            type: integer
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Addresses
  /customers/attributes:
    get:
      description: >-
        Returns a list of Customer Attributes. Optional filter parameters can be
        passed in.
      summary: Get All Customer Attributes
      operationId: CustomersAttributesGet
      deprecated: false
      parameters:
        - name: page
          in: query
          type: integer
          description: Page number. `page=1`
        - in: query
          type: number
          name: limit
          description: Items count per page. `limit=50`
        - name: 'name:in'
          in: query
          required: false
          type: string
          description: Filter items by first_name and last_name.
        - name: 'name:like'
          in: query
          required: false
          type: string
          description: >-
            Filter items by substring in first_name and last_name (%substring% -
            use with % symbols).
        - name: type
          in: query
          required: false
          type: string
          description: The type of the customer attrribute.
        - name: date_created
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_created.
        - name: 'date_created:max'
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_created.
        - name: 'date_created:min'
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_created.
        - name: date_modified
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_modified.
        - name: 'date_modified:max'
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_modified.
        - name: 'date_modified:min'
          in: query
          required: false
          type: string
          format: date-time
          description: Filter items by date_modified.
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/CustomerAttributeCollectionResponse'
      tags:
        - Customer Attributes
    post:
      description: >-
        Creates a Customer Attribute. Multiple customer attributes can be
        created in one call.


        **Required Fields**

        * name

        * type


        **Notes**


        Once the data type is set, it can not be changed. The attribute will
        need to be deleted then created again with the new data type. This will
        also delete it from the customer.


        Customer attributes are created separately from the customer. After the
        name and type are created, then the attributes can be added to the
        customer.


        A store cannot have more than 50 customer attributes.
      summary: Create a Customer Attribute
      operationId: CustomersAttributesPost
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Customer Attribute Post
              example:
                name: attribute_string 01
                type: string
              type: object
              properties:
                name:
                  description: Attribute name.
                  type: string
                  minLength: 1
                  maxLength: 255
                type:
                  title: Type
                  description: 'Attribute type should match one of: string, number, date. '
                  example: string
                  type: string
                  enum:
                    - string
                    - number
                    - date
              required:
                - name
                - type
          x-examples:
            application/json:
              - name: Date Joined
                type: date
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/CustomerAttributeCollectionResponse'
        '422':
          description: >
            The `Attribute` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      tags:
        - Customer Attributes
    put:
      description: >-
        Updates a Customer Attribute. Multiple customer attributes can be
        updated in one call.


        **Required Fields**

        * id -- ID of the *Customer Attribute*


        Once the data type is set, it can not be changed. The attribute will
        need to be deleted then created again with the new data type. This will
        also delete it from the customer.
      summary: Update a Customer Attribute
      operationId: CustomersAttributesPut
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/attribute_Put'
          x-examples:
            application/json:
              - name: Date Joined
                id: 1
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/CustomerAttributeCollectionResponse'
        '422':
          description: >
            The `Attribute` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      tags:
        - Customer Attributes
    delete:
      description: |-
        Deletes Customer Attributes from the store.

        **Required Query**
        * id:in -- ID of the *Customer Attribute*
      summary: Delete Customer Attributes
      operationId: CustomersAttributesDelete
      deprecated: false
      parameters:
        - name: 'id:in'
          in: query
          required: true
          type: array
          items:
            type: integer
            format: int32
          description: Filter items by id.
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Attributes
  /customers/attribute-values:
    get:
      description: >-
        Returns a list of Customer Attribute Values. Optional filter parameters
        can be passed in.
      summary: Get All Customer Attribute Values
      operationId: CustomersAttributeValuesGet
      deprecated: false
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - name: page
          in: query
          type: integer
          description: Page number. `page=1`
        - in: query
          type: number
          name: limit
          description: Items count per page. `limit=50`
        - in: query
          type: array
          name: 'customer_id:in'
          description: 'The ID of the customer. `customer_id:in=23,24,55`'
          items:
            type: integer
        - name: 'attribute_id:in'
          in: query
          type: array
          description: >-
            The attribute id for which we should return values.
            `attribute_id:in=1,2`
          items:
            type: integer
        - name: name
          in: query
          type: string
          description: The attribute name for which we should return values. `name=age`
        - name: date_created
          in: query
          type: string
          description: 'Filter items by date_created. `date_created=2018-09-05T13:43:54`'
          format: date-time
        - name: 'date_created:max'
          in: query
          type: string
          description: 'Filter items by maximum date_created. `date_created:max=2018-09-10`'
        - name: 'date_created:min'
          in: query
          type: string
          description: 'Filter items by date_created. `date_created:min=2018-09-05`'
          format: date-time
        - name: date_modified
          in: query
          type: string
          description: 'Filter items by date_modified. `date_modified=2018-09-05T13:45:03`'
          format: date-time
        - name: 'date_modified:max'
          in: query
          type: string
          format: date-time
          description: >-
            Filter items by maximum date_modified
            `date_modified:max=2018-09-05T13:45:03` or
            `date_modified:max=2019-09-04`
        - name: 'date_modified:min'
          in: query
          type: string
          description: >-
            Filter items by mininum date_modified.
            `date_modified:min=2019-09-04T:00:00:00` or
            `date_modified:min=2019-09-04`
      responses:
        '200':
          $ref: '#/responses/CustomerAttributeValueCollectionResponse'
      tags:
        - Customer Attribute Values
    put:
      description: >-
        Upserts Customer Attribute Values. Updates the attribute values on the
        Customer. Multiple customer attribute values can be updated in one call.


        Upsert checks for an existing record. If there is none, it creates the
        record, if there is a matching record, it updates that record.


        Up to 10 per call are allowed.


        **Required Fields**

        * customer_id -- ID of the *Customer*

        * id -- ID of the *Customer Attribute*

        * value -- Value of the *Customer Attribute*
      summary: Upsert Customer Attribute Values
      operationId: CustomersAttributeValuesPut
      deprecated: false
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: array
            items:
              title: Customer Attribute Value Base
              type: object
              properties:
                attribute_id:
                  description: Attribute ID.
                  type: integer
                  format: int32
                value:
                  description: >-
                    Attribute value. This will always be a string, regardless of
                    the attributes type.
                  type: string
                  minLength: 0
                  maxLength: 255
                id:
                  description: Attribute value ID.
                  type: integer
                  format: int32
                customer_id:
                  description: Customer ID.
                  type: integer
                  format: int32
              required:
                - attribute_id
                - value
                - customer_id
          x-examples:
            application/json:
              - attribute_id: -52528392
                value: aliqua
                customer_id: 12990306
                id: 47143304
              - attribute_id: -8263909
                value: 'n'
                customer_id: 1122433
                id: -34305734
              - attribute_id: -62186196
                value: ''
                customer_id: 10906989
                id: 21175547
              - attribute_id: -68742149
                value: l
                customer_id: -74084818
                id: 99359610
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/CustomerAttributeValueCollectionResponse'
        '422':
          description: >
            The `CustomerAttributeValue` was not valid. This is the result of
            missing required fields, or of invalid data. See the response for
            more details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      tags:
        - Customer Attribute Values
    delete:
      description: >-
        Deletes Customer Attribute Values. Deletes the attribute value from the
        customer.


        **Required Query**

        * id:in - ID of the *Customer Attribute Value*
      summary: Delete Customer Attribute Values
      operationId: CustomersAttributeValuesDelete
      deprecated: false
      parameters:
        - name: 'id:in'
          in: query
          required: true
          type: array
          items:
            type: integer
            format: int32
          description: |-
            Filter items by id.
            `id:in=4,5,6`
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Attribute Values
  /customers/form-field-values:
    get:
      responses:
        '200':
          $ref: '#/responses/FormFieldValueCollectionResponse'
        '422':
          description: >-
            The form field value was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      summary: Get Customer Form Field Values
      description: >-
        Returns a list of Form Field Values for the Customer or Customer Address
        object.
      operationId: CustomerFormFieldsGet
      tags:
        - Customer Form Field Values
      parameters:
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - name: page
          in: query
          type: integer
          description: Page number. `page=1`
        - in: query
          type: number
          name: limit
          description: Items count per page. `limit=50`
        - in: query
          type: integer
          name: customer_id
          description: The ID of the *Customer*.
        - name: address_id
          in: query
          type: integer
          description: The ID of the *Customer Address*.
        - name: field_name
          in: query
          type: string
          description: The fields name.
        - name: field_type
          in: query
          type: string
          description: |-
            The field type.
             * `checkboxes` - checkboxes field
             * `date` - date field
             * `multiline` - multiline text field
             * `numbers` - numbers only field
             * `password` - password field
             * `radiobuttons` - radio buttons field
             * `text` - text field
             * `picklist` - pick list field
          enum:
            - checkboxes
            - date
            - multiline
            - numbers
            - password
            - radiobuttons
            - text
            - picklist
    put:
      responses:
        '200':
          $ref: '#/responses/FormFieldValueCollectionResponse'
        '422':
          description: >-
            The form field value was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            title: Error Response
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                format: int32
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
              errors:
                type: object
                additionalProperties:
                  type: string
      summary: Upsert Customer Form Field Values
      description: >-
        Upserts Customer Form Field Values. Updates the form field values on the
        Customer or Customer Address. Multiple form field values can be updated
        in one call.


        Upsert checks for an existing record, if there is none it creates the
        record, if there is a matching record it updates that record.


        **Required Fields**

        * name

        * value

        * customer_id


        OR


        * name

        * value

        * address_id
      operationId: CustomerFormFieldValuePUT
      tags:
        - Customer Form Field Values
      parameters:
        - in: body
          name: body
          schema:
            type: array
            title: Form Field Values Put Request
            items:
              oneOf:
                - allOf:
                    - type: object
                      title: Form Field Value Base
                      required:
                        - name
                        - value
                      properties:
                        name:
                          type: string
                          description: The form field name.
                          example: color
                        value:
                          oneOf:
                            - type: string
                              example: blue
                            - type: number
                              format: double
                              example: 12.345
                            - type: array
                              example:
                                - red
                                - green
                                - black
                              items:
                                type: string
                    - type: object
                      properties:
                        customer_id:
                          type: integer
                      required:
                        - customer_id
                  title: Customer Form Field Value
                - allOf:
                    - type: object
                      title: Form Field Value Base
                      required:
                        - name
                        - value
                      properties:
                        name:
                          type: string
                          description: The form field name.
                          example: color
                        value:
                          oneOf:
                            - type: string
                              example: blue
                            - type: number
                              format: double
                              example: 12.345
                            - type: array
                              example:
                                - red
                                - green
                                - black
                              items:
                                type: string
                    - type: object
                      properties:
                        address_id:
                          type: integer
                          description: The Customer Address ID.
                      required:
                        - address_id
                  title: Customer Address Form Field Value
              title: 'Form Field Value '
          x-examples:
            application/json:
              - customer_id: 1
                name: color
                value: blue
              - customer_id: 1
                name: weight
                value: 12.345
              - customer_id: 1
                name: colors
                value:
                  - red
                  - green
                  - black
              - address_id: 2
                name: color
                value: blue
              - address_id: 2
                name: weight
                value: 12.345
              - address_id: 2
                name: colors
                value:
                  - red
                  - green
                  - black
  '/customers/{customerId}/consent':
    get:
      description: Gets the customer consent.
      summary: Get Customer Consent
      tags:
        - Customer Consent
      operationId: CustomersConsentByCustomerId_GET
      deprecated: false
      parameters:
        - name: customerId
          in: path
          required: true
          type: string
          description: ''
      responses:
        '200':
          $ref: '#/responses/consent_Resp'
        '401':
          description: >-
            Unauthorized - the v3 Auth client ID or token in the request are not
            a valid combination for this store.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: >-
            Missing scope - the v3 Auth token is valid but does not have proper
            permissions to access this endpoint.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: Invalid JSON request body - missing or invalid data.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      description: Updates the customer consent.
      summary: Update Customer Consent
      tags:
        - Customer Consent
      operationId: CustomersConsentByCustomerId_PUT
      deprecated: false
      parameters:
        - name: Content-Type
          in: header
          required: false
          default: application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/DeclareCustomerConsentRequest'
          x-examples:
            application/json:
              allow:
                - essential
              deny: []
        - name: customerId
          in: path
          required: true
          type: string
          description: ''
      responses:
        '200':
          $ref: '#/responses/consent_Resp'
        '401':
          description: >-
            Unauthorized - the v3 Auth client ID or token in the request are not
            a valid combination for this store.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: >-
            Missing scope - the v3 Auth token is valid but does not have proper
            permissions to access this endpoint.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: Invalid JSON request body - missing or invalid data.
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  Pagination:
    title: Pagination
    description: 'Data about the response, including pagination and collection totals.'
    type: object
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
      links:
        title: Links
        description: >-
          Pagination links for the previous and next parts of the whole
          collection.
        type: object
        properties:
          previous:
            description: Link to the previous page returned in the response.
            type: string
          current:
            description: Link to the current page returned in the response.
            type: string
          next:
            description: Link to the next page returned in the response.
            type: string
  _metaCollection:
    title: _metaCollection
    description: 'Data about the response, including pagination and collection totals.'
    type: object
    properties:
      pagination:
        title: Pagination
        description: 'Data about the response, including pagination and collection totals.'
        type: object
        properties:
          total:
            description: Total number of items in the result set.
            type: integer
            format: int32
          count:
            description: Total number of items in the collection response.
            type: integer
            format: int32
          per_page:
            description: >-
              The amount of items returned in the collection per page,
              controlled by the limit parameter.
            type: integer
            format: int32
          current_page:
            description: The page you are currently on within the collection.
            type: integer
            format: int32
          total_pages:
            description: The total number of pages in the collection.
            type: integer
            format: int32
          links:
            title: Links
            description: >-
              Pagination links for the previous and next parts of the whole
              collection.
            type: object
            properties:
              previous:
                description: Link to the previous page returned in the response.
                type: string
              current:
                description: Link to the current page returned in the response.
                type: string
              next:
                description: Link to the next page returned in the response.
                type: string
  ErrorResponse:
    title: Error Response
    type: object
    properties:
      status:
        description: The HTTP status code.
        type: integer
        format: int32
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
      errors:
        type: object
        additionalProperties:
          type: string
  _error:
    title: _error
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: The HTTP status code.
        type: integer
        format: int32
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
  customer_Full:
    title: customer_Full
    type: object
    properties:
      email:
        description: The email of the customer. Must be unique.
        type: string
        minLength: 3
        maxLength: 255
      first_name:
        description: The first name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      last_name:
        description: The last name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      company:
        description: The company of the customer.
        type: string
        minLength: 0
        maxLength: 255
      phone:
        description: The phone number of the customer.
        type: string
        minLength: 0
        maxLength: 50
      registration_ip_address:
        description: The IP address from which this customer was registered.
        type: string
        minLength: 0
        maxLength: 30
      notes:
        description: The customer notes.
        type: string
      tax_exempt_category:
        description: The tax exempt category code for the customer.
        type: string
        minLength: 0
        maxLength: 255
      customer_group_id:
        description: Id of the group which this customer belongs to.
        type: integer
        format: int32
      id:
        description: The unique numeric ID of the customer.
        type: integer
        format: int32
      date_modified:
        description: The date on which the customer was modified.
        type: string
        format: date-time
      date_created:
        description: The date of which the customer was created.
        type: string
        format: date-time
      address_count:
        description: Total number of customer addresses
        type: integer
        format: int32
      attribute_count:
        description: Total number of customer attributes
        type: integer
        format: int32
      authentication:
        title: Customer Authentication Base
        example:
          force_password_reset: true
        type: object
        properties:
          force_password_reset:
            description: >-
              If `true`, this customer will be forced to change password on next
              login.
            type: boolean
      addresses:
        description: Array of customer addresses. Limited to 10
        type: array
        maxItems: 10
        items:
          title: Address
          type: object
          properties:
            first_name:
              description: The first name of the customer address.
              type: string
              minLength: 1
              maxLength: 255
            last_name:
              description: The last name of the customer address.
              type: string
              minLength: 1
              maxLength: 255
            company:
              description: The company of the customer address.
              type: string
              minLength: 0
              maxLength: 255
            address1:
              description: The address 1 line.
              type: string
            address2:
              description: The address 2 line.
              type: string
            city:
              description: The city of the customer address.
              type: string
              minLength: 0
              maxLength: 100
            state_or_province:
              description: The state or province name
              type: string
              minLength: 0
              maxLength: 100
            postal_code:
              description: The postal code of the customer address.
              type: string
              minLength: 0
              maxLength: 30
            country_code:
              description: The country code of the customer address.
              type: string
              minLength: 2
              maxLength: 2
            phone:
              description: The phone number of the customer address.
              type: string
              minLength: 0
              maxLength: 50
            address_type:
              title: Address Type
              description: The address type. Residential or Commercial
              example: residential
              type: string
              enum:
                - residential
                - commercial
            customer_id:
              description: The customer ID.
              type: integer
              format: int32
            id:
              description: The unique numeric ID of the address.
              type: integer
              format: int32
            country:
              description: The country name of the customer address.
              type: string
            form_fields:
              description: Array of form fields. Controlled by `formfields` parameter.
              type: array
              items:
                oneOf:
                  - allOf:
                      - title: Form Field Value Base
                        properties:
                          name:
                            type: string
                            description: The form field name.
                            example: color
                          value:
                            oneOf:
                              - type: string
                                example: blue
                              - type: number
                                format: double
                                example: 12.345
                              - type: array
                                example:
                                  - red
                                  - green
                                  - black
                                items:
                                  type: string
                        required:
                          - name
                          - value
                      - properties:
                          customer_id:
                            type: integer
                        required:
                          - customer_id
                    title: Customer Form Field Value
                  - allOf:
                      - title: Form Field Value Base
                        properties:
                          name:
                            type: string
                            description: The form field name.
                            example: color
                          value:
                            oneOf:
                              - type: string
                                example: blue
                              - type: number
                                format: double
                                example: 12.345
                              - type: array
                                example:
                                  - red
                                  - green
                                  - black
                                items:
                                  type: string
                        required:
                          - name
                          - value
                      - properties:
                          address_id:
                            type: integer
                            description: The Customer Address ID.
                        required:
                          - address_id
                    title: Customer Address Form Field Value
                title: 'Form Field Value '
                type: object
          required:
            - first_name
            - last_name
            - address1
            - city
            - state_or_province
            - postal_code
            - country_code
            - customer_id
            - id
      attributes:
        description: Array of customer attributes. Limited to 10
        type: array
        maxItems: 10
        items:
          title: Customer Attribute Value
          type: object
          properties:
            attribute_id:
              description: Attribute ID.
              type: integer
              format: int32
            value:
              description: >-
                Attribute value. This will always be a string, regardless of the
                attributes type.
              type: string
              minLength: 0
              maxLength: 255
            id:
              description: Attribute value ID.
              type: integer
              format: int32
            customer_id:
              description: Customer ID.
              type: integer
              format: int32
            date_modified:
              description: The date on which the customer attribute value was modified.
              type: string
              format: date-time
            date_created:
              description: The date of which the customer attribute value was created.
              type: string
              format: date-time
          required:
            - attribute_id
            - value
            - customer_id
      form_fields:
        description: Array of form fields. Controlled by `formfields` parameter.
        type: array
        items:
          oneOf:
            - allOf:
                - title: Form Field Value Base
                  properties:
                    name:
                      type: string
                      description: The form field name.
                      example: color
                    value:
                      oneOf:
                        - type: string
                          example: blue
                        - type: number
                          format: double
                          example: 12.345
                        - type: array
                          example:
                            - red
                            - green
                            - black
                          items:
                            type: string
                  required:
                    - name
                    - value
                - properties:
                    customer_id:
                      type: integer
                  required:
                    - customer_id
              title: Customer Form Field Value
            - allOf:
                - title: Form Field Value Base
                  properties:
                    name:
                      type: string
                      description: The form field name.
                      example: color
                    value:
                      oneOf:
                        - type: string
                          example: blue
                        - type: number
                          format: double
                          example: 12.345
                        - type: array
                          example:
                            - red
                            - green
                            - black
                          items:
                            type: string
                  required:
                    - name
                    - value
                - properties:
                    address_id:
                      type: integer
                      description: The Customer Address ID.
                  required:
                    - address_id
              title: Customer Address Form Field Value
          title: 'Form Field Value '
          type: object
      store_credit_amounts:
        description: 'Store credit. '
        type: array
        format: double
        items:
          type: object
          properties:
            amount:
              type: number
              format: float
              example: 43.18
      accepts_product_review_abandoned_cart_emails:
        type: boolean
        description: >-
          It determines if the customer is signed up to receive either product
          review or abandoned cart emails or recieve both emails.
      channel_ids:
        $ref: '#/definitions/customerChannelIds'
  customer_Post:
    title: customer_Post
    type: object
    properties:
      email:
        description: The email of the customer. Must be unique.
        type: string
        minLength: 3
        maxLength: 255
      first_name:
        description: The first name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      last_name:
        description: The last name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      company:
        description: The company of the customer.
        type: string
        minLength: 0
        maxLength: 255
      phone:
        description: The phone number of the customer.
        type: string
        minLength: 0
        maxLength: 50
      notes:
        description: The customer notes.
        type: string
      tax_exempt_category:
        description: The tax exempt category code for the customer.
        type: string
        minLength: 0
        maxLength: 255
      customer_group_id:
        description: Id of the group which this customer belongs to.
        type: integer
        format: int32
      addresses:
        description: Array of customer addresses. Limited to 10
        type: array
        maxItems: 10
        items:
          title: Address For Customer
          example:
            address1: Addr 1
            address2: ''
            address_type: residential
            city: San Francisco
            company: History
            country_code: US
            first_name: Ronald
            last_name: Swimmer
            phone: '707070707'
            postal_code: '33333'
            state_or_province: California
          type: object
          properties:
            first_name:
              description: The first name of the customer address.
              type: string
              minLength: 1
              maxLength: 255
            last_name:
              description: The last name of the customer address.
              type: string
              minLength: 1
              maxLength: 255
            company:
              description: The company of the customer address.
              type: string
              minLength: 0
              maxLength: 255
            address1:
              description: The address 1 line.
              type: string
            address2:
              description: The address 2 line.
              type: string
            city:
              description: The city of the customer address.
              type: string
              minLength: 0
              maxLength: 100
            state_or_province:
              description: The state or province name
              type: string
              minLength: 0
              maxLength: 100
            postal_code:
              description: The postal code of the customer address.
              type: string
              minLength: 0
              maxLength: 30
            country_code:
              description: The country code of the customer address.
              type: string
              minLength: 2
              maxLength: 2
            phone:
              description: The phone number of the customer address.
              type: string
              minLength: 0
              maxLength: 50
            address_type:
              title: Address Type
              description: The address type. Residential or Commercial
              example: residential
              type: string
              enum:
                - residential
                - commercial
          required:
            - first_name
            - last_name
            - address1
            - city
            - state_or_province
            - postal_code
            - country_code
      attributes:
        description: Array of customer attributes. Limited to 10
        type: array
        maxItems: 10
        items:
          $ref: '#/definitions/customerAttributes_Base'
      authentication:
        title: Customer Authentication
        type: object
        properties:
          force_password_reset:
            description: >-
              If `true`, this customer will be forced to change password on next
              login.
            type: boolean
          new_password:
            description: New password for customer. Write only field
            type: string
      accepts_product_review_abandoned_cart_emails:
        type: boolean
        description: >-
          It determines if the customer is signed up to receive either product
          review or abandoned cart emails or recieve both emails.
      store_credit_amounts:
        description: 'Store credit. '
        type: array
        format: double
        items:
          type: object
          properties:
            amount:
              type: number
              format: float
              example: 43.15
    required:
      - email
      - first_name
      - last_name
  customer_Put:
    title: customer_Put
    type: object
    properties:
      email:
        description: The email of the customer. Must be unique.
        type: string
        minLength: 3
        maxLength: 255
      first_name:
        description: The first name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      last_name:
        description: The last name of the customer.
        type: string
        minLength: 1
        maxLength: 100
      company:
        description: The company of the customer.
        type: string
        minLength: 0
        maxLength: 255
      phone:
        description: The phone number of the customer.
        type: string
        minLength: 0
        maxLength: 50
      registration_ip_address:
        description: The IP address from which this customer was registered.
        type: string
        minLength: 0
        maxLength: 30
      notes:
        description: The customer notes.
        type: string
      tax_exempt_category:
        description: The tax exempt category code for the customer.
        type: string
        minLength: 0
        maxLength: 255
      customer_group_id:
        description: Id of the group which this customer belongs to.
        type: integer
        format: int32
      id:
        description: The unique numeric ID of the customer.
        type: integer
        format: int32
      authentication:
        title: Customer Authentication
        type: object
        properties:
          force_password_reset:
            description: >-
              If `true`, this customer will be forced to change password on next
              login.
            type: boolean
          new_password:
            description: New password for customer. Write only field
            type: string
      accepts_product_review_abandoned_cart_emails:
        type: boolean
        description: >-
          It determines if the customer is signed up to receive either product
          review or abandoned cart emails or recieve both emails.
      store_credit_amounts:
        description: 'Store credit. '
        type: array
        format: double
        items:
          type: object
          properties:
            amount:
              type: number
              format: float
              example: 43.18
    required:
      - id
  attributeValue_Full:
    title: attributeValue_Full
    allOf:
      - $ref: '#/definitions/attribueValue_Base'
      - type: object
        properties:
          date_modified:
            description: The date on which the customer attribute value was modified.
            type: string
            format: date-time
          date_created:
            description: The date of which the customer attribute value was created.
            type: string
            format: date-time
  attribueValue_Base:
    title: attribueValue_Base
    type: object
    properties:
      id:
        description: Attribute value ID.
        type: integer
        format: int32
      attribute_id:
        description: Attribute ID.
        type: integer
        format: int32
      value:
        description: >-
          Attribute value. This will always be a string, regardless of the
          attributes type.
        type: string
        minLength: 0
        maxLength: 255
      customer_id:
        description: Customer ID.
        type: integer
        format: int32
    required:
      - attribute_id
      - value
      - customer_id
  customerAttributeValue_Full:
    title: customerAttributeValue_Full
    example:
      attribute_id: 55
      value: string value
    type: object
    properties:
      attribute_id:
        description: Attribute ID.
        type: integer
        format: int32
      attribute_value:
        description: >-
          Attribute value. This will always be a string, regardless of the
          attributes type.
        type: string
        minLength: 0
        maxLength: 255
    required:
      - attribute_id
      - attribute_value
  attribute_Full:
    title: attribute_Full
    type: object
    properties:
      name:
        description: Attribute name.
        type: string
        minLength: 1
        maxLength: 255
      type:
        title: Type
        description: 'Attribute type should match one of: string, number, date. When doing a'
        example: string
        type: string
        enum:
          - string
          - number
          - date
      id:
        description: Attribute ID.
        type: integer
        format: int32
      date_modified:
        description: The date on which the customer attribute was modified.
        type: string
        format: date-time
      date_created:
        description: The date of which the customer attribute was created.
        type: string
        format: date-time
    required:
      - name
      - type
      - id
  attribute_Put:
    title: attribute_Put
    type: object
    properties:
      name:
        description: Attribute name.
        type: string
        minLength: 1
        maxLength: 255
      id:
        description: Attribute ID.
        type: integer
        format: int32
    required:
      - name
      - id
    description: >-
      Once the data type is set, it can not be changed. The attribute will need
      to be deleted then created again with the new data type. This will also
      delete it from the customer.
  attribute_Post:
    title: attribute_Post
    example:
      name: attribute_string 01
      type: string
    type: object
    properties:
      name:
        description: Attribute name.
        type: string
        minLength: 1
        maxLength: 255
      type:
        title: Type
        description: 'Attribute type should match one of: string, number, date. When doing a'
        example: string
        type: string
        enum:
          - string
          - number
          - date
    required:
      - name
      - type
  address_Full:
    title: address_Full
    type: object
    properties:
      first_name:
        description: The first name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      last_name:
        description: The last name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      company:
        description: The company of the customer address.
        type: string
        minLength: 0
        maxLength: 255
      address1:
        description: The address 1 line.
        type: string
      address2:
        description: The address 2 line.
        type: string
      city:
        description: The city of the customer address.
        type: string
        minLength: 0
        maxLength: 100
      state_or_province:
        description: The state or province name
        type: string
        minLength: 0
        maxLength: 100
      postal_code:
        description: The postal code of the customer address.
        type: string
        minLength: 0
        maxLength: 30
      country_code:
        description: The country code of the customer address.
        type: string
        minLength: 2
        maxLength: 2
      phone:
        description: The phone number of the customer address.
        type: string
        minLength: 0
        maxLength: 50
      address_type:
        title: Address Type
        description: The address type. Residential or Commercial
        example: residential
        type: string
        enum:
          - residential
          - commercial
      customer_id:
        description: The customer ID.
        type: integer
        format: int32
      id:
        description: The unique numeric ID of the address.
        type: integer
        format: int32
      country:
        description: The country name of the customer address.
        type: string
      form_fields:
        description: Array of form fields. Controlled by `formfields` parameter.
        type: array
        items:
          oneOf:
            - allOf:
                - type: object
                  title: Form Field Value Base
                  required:
                    - name
                    - value
                  properties:
                    name:
                      type: string
                      description: The form field name.
                      example: color
                    value:
                      oneOf:
                        - type: string
                          example: blue
                        - type: number
                          format: double
                          example: 12.345
                        - type: array
                          example:
                            - red
                            - green
                            - black
                          items:
                            type: string
                - type: object
                  properties:
                    customer_id:
                      type: integer
                  required:
                    - customer_id
              title: Customer Form Field Value
            - allOf:
                - type: object
                  title: Form Field Value Base
                  required:
                    - name
                    - value
                  properties:
                    name:
                      type: string
                      description: The form field name.
                      example: color
                    value:
                      oneOf:
                        - type: string
                          example: blue
                        - type: number
                          format: double
                          example: 12.345
                        - type: array
                          example:
                            - red
                            - green
                            - black
                          items:
                            type: string
                - type: object
                  properties:
                    address_id:
                      type: integer
                      description: The Customer Address ID.
                  required:
                    - address_id
              title: Customer Address Form Field Value
          title: 'Form Field Value '
    required:
      - first_name
      - last_name
      - address1
      - city
      - state_or_province
      - postal_code
      - country_code
      - customer_id
      - id
  address_Put:
    title: address_Put
    type: object
    properties:
      first_name:
        description: The first name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      last_name:
        description: The last name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      company:
        description: The company of the customer address.
        type: string
        minLength: 0
        maxLength: 255
      address1:
        description: The address 1 line.
        type: string
      address2:
        description: The address 2 line.
        type: string
      city:
        description: The city of the customer address.
        type: string
        minLength: 0
        maxLength: 100
      state_or_province:
        description: The state or province name
        type: string
        minLength: 0
        maxLength: 100
      postal_code:
        description: The postal code of the customer address.
        type: string
        minLength: 0
        maxLength: 30
      country_code:
        description: The country code of the customer address.
        type: string
        minLength: 2
        maxLength: 2
      phone:
        description: The phone number of the customer address.
        type: string
        minLength: 0
        maxLength: 50
      address_type:
        title: Address Type
        description: The address type. Residential or Commercial
        example: residential
        type: string
        enum:
          - residential
          - commercial
      customer_id:
        description: The customer ID.
        type: integer
        format: int32
      id:
        description: The unique numeric ID of the address.
        type: integer
        format: int32
    required:
      - first_name
      - last_name
      - address1
      - city
      - state_or_province
      - postal_code
      - country_code
      - customer_id
      - id
  address_Post:
    title: address_Post
    type: object
    properties:
      first_name:
        description: The first name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      last_name:
        description: The last name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      company:
        description: The company of the customer address.
        type: string
        minLength: 0
        maxLength: 255
      address1:
        description: The address 1 line.
        type: string
      address2:
        description: The address 2 line.
        type: string
      city:
        description: The city of the customer address.
        type: string
        minLength: 0
        maxLength: 100
      state_or_province:
        description: The state or province name
        type: string
        minLength: 0
        maxLength: 100
      postal_code:
        description: The postal code of the customer address.
        type: string
        minLength: 0
        maxLength: 30
      country_code:
        description: The country code of the customer address.
        type: string
        minLength: 2
        maxLength: 2
      phone:
        description: The phone number of the customer address.
        type: string
        minLength: 0
        maxLength: 50
      address_type:
        title: Address Type
        description: The address type. Residential or Commercial
        example: residential
        type: string
        enum:
          - residential
          - commercial
      customer_id:
        description: The customer ID.
        type: integer
        format: int32
    required:
      - first_name
      - last_name
      - address1
      - city
      - state_or_province
      - postal_code
      - country_code
      - customer_id
  customerAddresses_Base:
    title: customerAddresses_Base
    example:
      address1: Addr 1
      address2: ''
      address_type: residential
      city: San Francisco
      company: History
      country_code: US
      first_name: Ronald
      last_name: Swimmer
      phone: '707070707'
      postal_code: '33333'
      state_or_province: California
    type: object
    properties:
      first_name:
        description: The first name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      last_name:
        description: The last name of the customer address.
        type: string
        minLength: 1
        maxLength: 255
      company:
        description: The company of the customer address.
        type: string
        minLength: 0
        maxLength: 255
      address1:
        description: The address 1 line.
        type: string
      address2:
        description: The address 2 line.
        type: string
      city:
        description: The city of the customer address.
        type: string
        minLength: 0
        maxLength: 100
      state_or_province:
        description: The state or province name
        type: string
        minLength: 0
        maxLength: 100
      postal_code:
        description: The postal code of the customer address.
        type: string
        minLength: 0
        maxLength: 30
      country_code:
        description: The country code of the customer address.
        type: string
        minLength: 2
        maxLength: 2
      phone:
        description: The phone number of the customer address.
        type: string
        minLength: 0
        maxLength: 50
      address_type:
        title: Address Type
        description: The address type. Residential or Commercial
        example: residential
        type: string
        enum:
          - residential
          - commercial
    required:
      - first_name
      - last_name
      - address1
      - city
      - state_or_province
      - postal_code
      - country_code
    description: The `address` object for the `customer` object's `addresses` array.
  customerAuthentication_PostPut:
    title: customerAuthentication_PostPut
    allOf:
      - properties:
          force_password_reset:
            description: >-
              If `true`, this customer will be forced to change password on next
              login.
            type: boolean
      - properties:
          new_password:
            description: New password for customer. Write only field
            type: string
    type: object
  customerAuthentication_Base:
    title: customerAuthentication_Base
    example:
      force_password_reset: true
    type: object
    properties:
      force_password_reset:
        description: >-
          If `true`, this customer will be forced to change password on next
          login.
        type: boolean
  addressType:
    title: addressType
    description: The address type. Residential or Commercial
    example: residential
    type: string
    enum:
      - residential
      - commercial
  Links:
    title: Links
    description: Pagination links for the previous and next parts of the whole collection.
    type: object
    properties:
      previous:
        description: Link to the previous page returned in the response.
        type: string
      current:
        description: Link to the current page returned in the response.
        type: string
      next:
        description: Link to the next page returned in the response.
        type: string
  Type:
    title: Type
    description: 'Attribute type should match one of: string, number, date. When doing a '
    example: string
    type: string
    enum:
      - string
      - number
      - date
  formFieldValue_Base:
    type: object
    title: formFieldValue_Base
    required:
      - name
      - value
    properties:
      name:
        type: string
        description: The form field name.
        example: color
      value:
        oneOf:
          - type: string
            example: blue
          - type: number
            format: double
            example: 12.345
          - type: array
            example:
              - red
              - green
              - black
            items:
              type: string
  CustomerFormFieldValue:
    allOf:
      - type: object
        title: Form Field Value Base
[...]
