openapi: '3.0.0'
info:
  version: ''
  title: Customers V3
  description: |-
    Create and manage customers.

    ## Resources
    * [Customer and Subscribers Overview](/api-docs/store-management/customers).
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Customers
    description: BigCommerce Customers API Definition.
  - name: Customer Addresses
  - name: Customer Attributes
  - name: Customer Attribute Values
  - name: Customer Form Field Values
  - name: Customer Consent
  - name: Customer Form Fields
  - name: Customer Stored Instruments
  - name: Customer Settings
  - name: Customer Settings Channel
  - name: Customer Validate Credentials
paths:
  '/customers':
    get:
      description: |-
        Returns a list of Customers. Optional filter parameters can be passed in.

        **Notes**

        Attribute names are not available on the customer object.
      summary: Get All Customers
      tags:
        - Customers
      operationId: CustomersGet
      deprecated: false
      parameters:
        - name: page
          in: query
          description: Page number. `page=1`
          schema:
            type: integer
        - in: query
          name: limit
          description: Items count per page. `limit=50`
          schema:
            type: number
        - name: 'id:in'
          in: query
          description: |-
            Filter items by ID.
            `id:in=4,5,6`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'company:in'
          in: query
          description: 'Filter items by company. `company:in=bigcommerce,commongood`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: 'customer_group_id:in'
          in: query
          description: 'Filter items by customer_group_id. `customer_group_id:in=5,6`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: date_created
          in: query
          description: 'Filter items by date_created. `date_created=2018-09-05T13:43:54`'
          schema:
            type: string
            format: date-time
        - name: 'date_created:max'
          in: query
          description: 'Filter items by maximum date_created. `date_created:max=2018-09-10`'
          schema:
            type: string
        - name: 'date_created:min'
          in: query
          description: 'Filter items by date_created. `date_created:min=2018-09-05`'
          schema:
            type: string
            format: date-time
        - name: date_modified
          in: query
          description: 'Filter items by date_modified. `date_modified=2018-09-05T13:45:03`'
          schema:
            type: string
            format: date-time
        - name: 'date_modified:min'
          in: query
          description: 'Filter items by minimum date_modified. `date_modified:min=2019-09-04T:00:00:00` or `date_modified:min=2019-09-04`'
          schema:
            type: string
        - name: 'date_modified:max'
          in: query
          description: 'Filter items by maximum date_modified. `date_modified:max=2018-09-05T13:45:03` or `date_modified:max=2019-09-04`'
          schema:
            type: string
            format: date-time
        - name: 'email:in'
          in: query
          description: 'Filter items by email. `email:in=janedoe@example.com`'
          schema:
            type: string
        - name: 'name:in'
          in: query
          description: Filter items by first_name and last_name. `name=james moriarty`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: 'name:like'
          in: query
          description: |-
            Filter items by substring in first_name and last_name.
            `name:like=moriarty, sherlock`
            Concatenates the first_name and last_name fields.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: 'registration_ip_address:in'
          in: query
          description: |-
            Filter items by registration_ip_address. If the customer was created using the API, then registration address is blank.
            `registration_ip_address:in=12.345.6.789`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: |-
            Indicates whether to include customer sub-resources:
             * `addresses` - customer addresses
             * `storecredit` - store credit
             * `attributes` - customer attributes and address attributes
             * `formfields` - customer and address form fields
             * `shopper_profile_id` - the ID of the shopper profile associated with the customer (Beta)
             * `segment_ids`- segments the customer belongs to (Beta)

             `include=addresses,storecredit,attributes,formfields,shopper_profile_id,segment_ids`
          schema:
            type: string
            enum:
              - addresses
              - storecredit
              - attributes
              - formfields
        - in: query
          name: sort
          description: 'Sort items by date_created, date_modified, or last_name:* `date_created:asc` - date created, ascending* `date_created:desc` - date created, descending* `last_name:asc` - last name, ascending* `last_name:desc` - last name, descending * `date_modified:asc` - date modified, ascending* `date_modified:desc`- date modified, descending  Example: `sort=last_name:asc`'
          schema:
            type: string
            enum:
              - 'date_created:asc'
              - 'date_created:desc'
              - 'last_name:asc'
              - 'last_name:desc'
              - 'date_modified:asc'
              - 'date_modified:desc'
      responses:
        '200':
          $ref: '#/components/responses/CustomerCollectionResponse'
    post:
      description: |-
        Creates Customers. Create up to 10 customers in one call.

        **Required Fields**
        * last_name
        * first_name
        * email

        **Required Fields Customer Address**
        * first_name
        * city
        * country_code
        * last_name
        * address1

        **Required Fields Attributes**
        * Attributes must be [created](/docs/rest-management/customers/customer-attributes#create-a-customer-attribute) **BEFORE** creating a customer.
        * attribute_id
        * attribute_value -- This is input as a string, regardless of the [Type](/docs/rest-management/customers/customer-attributes#create-a-customer-attribute).
        
        **Notes**

        A customer can be created with global access or channel-specific access.
        * **Global access:**
          * Make sure the channel has `allow_global_logins` enabled. This is on by default only for the default storefront. Find more info at [Customer Settings > Channel](/docs/rest-management/customers/customer-settings-channel).
          * Omit `channel_ids` field, or provide `channel_ids: null`.
        * **Channel-specific access:**
          * Provide a `channel_ids` array containing the channels accessible by the customer. This array cannot be empty.
      summary: Create Customers
      tags:
        - Customers
      operationId: CustomersPost
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/customer_Post'
            examples:
              example-1:
                value:
                  - email: string@example.com
                    first_name: string
                    last_name: string
                    company: string
                    phone: string
                    notes: string
                    tax_exempt_category: string
                    customer_group_id: 0
                    addresses:
                      - address1: Addr 1
                        address2: ''
                        address_type: residential
                        city: San Francisco
                        company: History
                        country_code: US
                        first_name: Ronald
                        last_name: Swimmer
                        phone: '707070707'
                        postal_code: '33333'
                        state_or_province: California
                        form_fields: 
                        - name: "test"
                          value: "test"
                    authentication:
                      force_password_reset: true
                      new_password: string123
                    accepts_product_review_abandoned_cart_emails: true
                    store_credit_amounts:
                      - amount: 43.15
                    origin_channel_id: 1
                    channel_ids:
                      - 1
                    form_fields: 
                      - name: "test"
                        value: "test"
        required: true
        x-examples: {}
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/CustomerCollectionResponse'
        '413':
          description: The request payload is too large. The maximum number of items allowed in the array is 10.
        '422':
          description: The *Customer* was not valid. This is the result of missing required fields or trying to edit a read only field. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    status: 422
                    title: Create customers failed.
                    type: /api-docs/getting-started/api-status-codes
                    errors:
                      .customer_create: Error creating customers
    put:
      description: |-
        Updates Customers. Subresource updates are not supported. Up to 10 customers can be updated in one call.

        **Required Fields**
        * id -- ID of the *Customer* This must be included in the request body

        **Read Only Fields**
        * id
        * registration_ip_address
        * date_created
        * date_modified


        **Notes**

        * Attributes Values can not be updated using Update a Customer. Use the [Update customer attribute values](/docs/rest-management/customers/customer-attribute-values#upsert-customer-attribute-values) endpoint.
        * channel_ids -- Updating the list of channels a customer can access may create some side effects in a multi-storefront situation. This list determines which customer account we will use to authenticate a shopper given a channel.
      summary: Update Customers
      tags:
        - Customers
      operationId: CustomersPut
      deprecated: false
      responses:
        '200':
          $ref: '#/components/responses/CustomerCollectionResponse'
        '413':
          description: The request payload is too large. The maximum number of items allowed in the array is 10.
        '422':
          description: |
            The `Customer` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/customer_Put'
            examples:
              example-1:
                value: 
                  - email: string
                    first_name: string
                    last_name: string
                    company: string
                    phone: string
                    registration_ip_address: string
                    notes: string
                    tax_exempt_category: string
                    customer_group_id: 0
                    id: 1
                    authentication:
                      force_password_reset: true
                      new_password: string123
                    accepts_product_review_abandoned_cart_emails: true
                    store_credit_amounts:
                      - amount: 43.15
                    origin_channel_id: 1
                    channel_ids:
                      - 1
                    form_fields: 
                      - name: "test"
                        value: "test"  
              example-2-form-fields:
                value:
                  - id: 1
                    form_fields: 
                      - name: "test"
                        value: "test"  
    delete:
      description: |-
        Deletes Customers.

        **Required Query**
        * id:in -- ID of the customer

        **Notes**

        A query is required to delete customers. If not provided, a 204 is returned, with no changes to the data.
      summary: Delete Customers
      tags:
        - Customers
      operationId: CustomersDelete
      deprecated: false
      parameters:
        - in: query
          name: 'id:in'
          description: |-
            Filter items by ID.
            `id:in=4,5,6`
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
      responses:
        '204':
          description: ''
          headers: {}
  '/customers/addresses':
    get:
      description: Returns a list of Customer Addresses. Optional filter parameters can be passed in.
      summary: Get All Customer Addresses
      operationId: CustomersAddressesGet
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: page
          in: query
          description: Page number. `page=1`
          schema:
            type: integer
        - in: query
          name: limit
          description: Items count per page. `limit=50`
          schema:
            type: number
        - name: 'company:in'
          in: query
          description: 'Filter items by company. `company:in=bigcommerce,commongood`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: 'name:in'
          in: query
          description: 'Filter items by first_name and last_name. `name:in=James+Moriarty`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'customer_id:in'
          description: 'Filter by the ID of the customer. Also accepts comma-separated IDs to filter for multiple customers. `customer_id:in=23,24,55`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: |-
            Indicates whether to include customer address sub-resources:
            * `formfields` - address form fields
            `include=formfields`
          schema:
            type: string
            enum:
              - formfields
        - name: 'id:in'
          in: query
          description: |-
            Filter items by ID.
            `id:in=4,5,6`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          $ref: '#/components/responses/AddressCollectionResponse'
      tags:
        - Customer Addresses
    post:
      description: |-
        Creates a Customer Address. Multiple customer addresses can be created in one call.

        **Required Fields**
        * **customer_id**
        * **first_name**
        * **last_name**
        * **city**
        * **country_code**
        * **address1**

        **Notes**
        * A unique customer address is a combination of the following core address fields:
          * **customer_id**
          * **first_name**
          * **last_name**
          * **company**
          * **phone**
          * **address_type**
          * **address1**
          * **address2**
          * **city**
          * **country_code**
          * **state_or_province**
          * **postal_code**
        * An attempt to create an address that already exists will result in no change to the address or custom form field values, an HTTP 200 return code, and the address will be absent from the response body.
      summary: Create a Customer Address
      operationId: CustomersAddressesPost
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/address_Post'
            examples: 
              example-1:
                value:
                  - first_name: John
                    last_name: Doe
                    address1: 111 E West Street
                    address2: '654'
                    city: Akron
                    state_or_province: Ohio
                    postal_code: '44325'
                    country_code: US
                    phone: '1234567890'
                    address_type: residential
                    customer_id: 11
                    form_fields: 
                      - name: "test"
                        value: "test"
        required: true
        x-examples:
          application/json:
            - first_name: John
              last_name: Doe
              address1: 111 E West Street
              address2: '654'
              city: Akron
              state_or_province: Ohio
              postal_code: '44325'
              country_code: US
              phone: '1234567890'
              address_type: residential
              customer_id: 11
              form_fields: 
                - name: "test"
                  value: "test"
      responses:
        '200':
          $ref: '#/components/responses/AddressCollectionResponsePostPut'
        '422':
          description: |
            The `Address` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Customer Addresses
    put:
      description: |-
        Updates a Customer Address. Multiple customer addresses can be updated in one call.

        **Required Fields**
        * **id** -- ID of the *Customer Address*

        **Limits**
        * Limit of **3** concurrent requests.

        **Notes**
        * A unique customer address is a combination of the following core address fields:
          * **first_name**
          * **last_name**
          * **company**
          * **phone**
          * **address_type**
          * **address1**
          * **address2**
          * **city**
          * **country_code**
          * **state_or_province**
          * **postal_code**
        * An attempt to update an address such that it becomes identical to another address that already exists will result in no change to the target address or custom form field values. The response will have an HTTP 200 return code, and the address will be absent from the response body.
      summary: Update a Customer Address
      operationId: CustomersAddressesPut
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/address_Put'
            examples:
              example-1:
                value:
                  - id: 11
                    first_name: John
                    last_name: Doe
                    address1: 111 E West Street
                    address2: '654'
                    city: Akron
                    state_or_province: Ohio
                    postal_code: '44325'
                    country_code: US
                    phone: '1234567890'
                    address_type: residential
                    form_fields: 
                      - name: "test"
                        value: "test"
              example-2-form-fields:
                value:
                  - id: 11
                    form_fields: 
                      - name: "test"
                        value: "test"
        required: true
        x-examples:
          application/json:
            - first_name: John
              last_name: Doe
              id: 38
              address1: 111 E West Street
              address2: '654'
              city: Akron
              state_or_province: Ohio
              postal_code: '44325'
              country_code: US
              phone: '1234567890'
              address_type: residential
      responses:
        '200':
          $ref: '#/components/responses/AddressCollectionResponsePostPut'
        '422':
          description: |
            The `Address` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Customer Addresses
    delete:
      description: |-
        Deletes a Customer Address.

        **Required Query**
        * id:in -- ID of the *Customer Address*
      summary: Delete a Customer Address
      operationId: CustomersAddressesDelete
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - in: query
          name: 'id:in'
          required: true
          description: |-
            Filter items by ID.
            `id:in=4,5,6`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Addresses
  '/customers/validate-credentials':
    post:
      tags:
        - Customer Validate Credentials
      description: Validate a customer credentials - This endpoint has special rate limiting protections to protect against abuse.
      summary: Validate a customer credentials
      operationId: CustomerValidateCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomerCredentialsObject'
            examples:
              data:
                value:
                  email: foo@bar.com
                  password: password
                  channel_id: 1
      responses:
        '200':
          description: Returns if the customer credentials provided are valid or not.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCustomerCredentialsResponseObject'
              examples:
                data:
                  value:
                    is_valid: true
                    customer_id: 1
        '422':
          description: This is the result of missing required fields. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Allowed number of requests exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    status: 429
                    title: Too many requests
                    type: /api-docs/getting-started/api-status-codes
                    errors: {}
  '/customers/settings':
    get:
      tags:
        - Customer Settings
      description: Returns the global-level customer settings.
      summary: Get Customer Settings
      operationId: CustomerSettingsGet
      responses:
        '200':
          description: Returns customer settings values for global level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSettingsObject'
              examples:
                data:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: 'https://bigcommmerce.com/policy'
                    customer_group_settings:
                      guest_customer_group_id: 1
                      default_customer_group_id: 1
    put:
      tags:
        - Customer Settings
      description: Updates the customer settings on the global level.
      summary: Update Customer Settings
      operationId: CustomerSettingsPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSettingsObject'
            examples:
              example-1:
                value:
                  privacy_settings:
                    ask_shopper_for_tracking_consent: true
                    policy_url: 'https://bigcommmerce.com/policy'
                  customer_group_settings:
                    guest_customer_group_id: 0
                    default_customer_group_id: 0
        required: true
      responses:
        '200':
          description: Customer settings are returned on a global level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSettingsObject'
              examples:
                data:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: 'https://bigcommerce.com/policy'
                      ask_shopper_for_tracking_consent_on_checkout: false
                    customer_group_settings:
                      guest_customer_group_id: 0
                      default_customer_group_id: 0
  '/customers/settings/channels/{channel_id}':
    get:
      tags:
        - Customer Settings Channel
      description: |-
        Returns the customer settings per channel.

        **Notes**

         * `null` indicates that there is no override per given channel and values are inherited from the global level.
      summary: Get Customer Settings per Channel
      operationId: CustomerSettingsChannelGet
      parameters:
        - in: path
          name: channel_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Customer settings for this channel are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChannelSettingsObject'
              examples:
                data:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: 'https://bigcommmerce.com/policy'
                    customer_group_settings:
                      guest_customer_group_id: 1
                      allow_global_logins: true
    put:
      tags:
        - Customer Settings Channel
      description: |-
        Update the customer settings per channel

        **Required Fields**

        * `channel_id`: Provide a `channel_id` array containing one or more channel IDs. Customers will have access to these channels and no others. This array cannot be empty.

        **Notes**

        * Setting `null` will delete override per given channel, and values will be inherited from the global level. Make sure the channel has `allow_global_logins` enabled.
      summary: Update Customer Settings per Channel
      operationId: CustomerSettingsChannelPut
      parameters:
        - in: path
          name: channel_id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelSettingsObject'
            examples:
              example-1:
                value:
                  privacy_settings:
                    ask_shopper_for_tracking_consent: true
                    policy_url: 'https://bigcommmerce.com/policy'
                  customer_group_settings:
                    guest_customer_group_id: 0
                    default_customer_group_id: 0
                  allow_global_logins: true
        required: true
      responses:
        '200':
          description: Customer settings are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSettingsObject'
              examples:
                example:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: 'https://bigcommmerce.com/policy'
                      ask_shopper_for_tracking_consent_on_checkout: null
                    customer_group_settings:
                      guest_customer_group_id: 0
                      default_customer_group_id: 0
                    allow_global_logins: true
    parameters:
      - schema:
          type: string
        name: channel_id
        in: path
        required: true
  '/customers/attributes':
    get:
      description: Returns a list of Customer Attributes. You can pass in optional filter parameters.
      summary: Get All Customer Attributes
      operationId: CustomersAttributesGet
      deprecated: false
      parameters:
        - name: page
          in: query
          description: Page number. `page=1`
          schema:
            type: integer
        - in: query
          name: limit
          description: Items count per page. `limit=50`
          schema:
            type: number
        - name: name
          in: query
          required: false
          description: Filter items by customer attribute name. `name=Date+Joined`
          schema:
            type: string
        - name: 'name:like'
          in: query
          required: false
          description: 'Filter items by substring in customer attribute name. `name:like=join`'
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: The type of the customer attribute.
          schema:
            type: string
        - name: date_created
          in: query
          required: false
          description: 'Filter items by `date_created`. `date_created=2021-01-07T20:28:16Z`'
          schema:
            type: string
            format: date-time
        - name: 'date_created:max'
          in: query
          required: false
          description: 'Filter items by maximum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: 'date_created:min'
          in: query
          required: false
          description: 'Filter items by minimum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: date_modified
          in: query
          required: false
          description: Filter items by `date_modified`.
          schema:
            type: string
            format: date-time
        - name: 'date_modified:max'
          in: query
          required: false
          description: 'Filter items by maximum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: 'date_modified:min'
          in: query
          required: false
          description: 'Filter items by minimum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
      tags:
        - Customer Attributes
    post:
      description: |-
        Creates a Customer Attribute. Multiple customer attributes can be created in one call.

        **Required Fields**
        * name
        * type

        **Limits**
        * Limit of 3 concurrent requests.

        **Notes**

        Once the data type is set, it cannot be changed. The attribute will need to be deleted then created again with the new data type. This will also delete it from the customer.

        Customer attributes are created separately from the customer. After the name and type are created, then the attributes can be added to the customer.

        A store cannot have more than 50 customer attributes.
      summary: Create a Customer Attribute
      operationId: CustomersAttributesPost
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attribute_Post'
        required: true
        x-examples:
          application/json:
            - name: Date Joined
              type: date
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
        '422':
          description: |
            The `Attribute` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Customer Attributes
    put:
      description: |-
        Updates a Customer Attribute. Multiple customer attributes can be updated in one call.

        **Required Fields**
        * id -- ID of the *Customer Attribute*

        Once the data type is set, it can not be changed. The attribute will need to be deleted then created again with the new data type. This will also delete it from the customer.

        **Limits**
        * Limit of 3 concurrent requests.
      summary: Update a Customer Attribute
      operationId: CustomersAttributesPut
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attribute_Put'
        required: true
        x-examples:
          application/json:
            - name: Date Joined
              id: 1
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
        '422':
          description: |
            The `Attribute` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Customer Attributes
    delete:
      description: |-
        Deletes Customer Attributes from the store.

        **Required Query**
        * id:in -- ID of the *Customer Attribute*
      summary: Delete Customer Attributes
      operationId: CustomersAttributesDelete
      deprecated: false
      parameters:
        - name: 'id:in'
          in: query
          required: true
          description: Filter items by ID.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Attributes
  '/customers/attribute-values':
    get:
      description: Returns a list of Customer Attribute Values. Optional filter parameters can be passed in.
      summary: Get All Customer Attribute Values
      operationId: CustomersAttributeValuesGet
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: page
          in: query
          description: Page number. `page=1`
          schema:
            type: integer
        - in: query
          name: limit
          description: Items count per page. `limit=50`
          schema:
            type: number
        - in: query
          name: 'customer_id:in'
          description: 'Filter items by the customer ID. `customer_id:in=23,24,55`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: 'attribute_id:in'
          in: query
          description: 'Filter items by the attribute ID. `attribute_id:in=1,2`'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          description: Filter items by the attribute name. `name=age`
          schema:
            type: string
        - name: date_created
          in: query
          description: 'Filter items by `date_created`. `date_created=2018-09-05T13:43:54`'
          schema:
            type: string
            format: date-time
        - name: 'date_created:max'
          in: query
          description: 'Filter items by maximum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
        - name: 'date_created:min'
          in: query
          description: 'Filter items by minimum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: date_modified
          in: query
          description: 'Filter items by `date_modified`. `date_modified=2018-09-05T13:45:03`'
          schema:
            type: string
            format: date-time
        - name: 'date_modified:max'
          in: query
          description: 'Filter items by maximum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
            format: date-time
        - name: 'date_modified:min'
          in: query
          description: 'Filter items by minimum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributeValueCollectionResponse'
      tags:
        - Customer Attribute Values
    put:
      description: |-
        Upserts Customer Attribute Values. Updates the attribute values on the Customer. Multiple customer attribute values can be updated in one call.

        Upsert checks for an existing record. If there is none, it creates the record, if there is a matching record, it updates that record.

        **Limits**
        * 10 per call limit.
      summary: Upsert Customer Attribute Values
      operationId: CustomersAttributeValuesPut
      deprecated: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attributeValue_Base'
            examples:
              Example:
                value:
                  - attribute_id: 1
                    value: 'No'
                    customer_id: 2
        required: true
        x-examples:
          application/json:
            - attribute_id: 52528392
              value: aliqua
              customer_id: 12990306
              id: 47143304
            - attribute_id: 8263909
              value: 'n'
              customer_id: 1122433
              id: 34305734
            - attribute_id: 62186196
              value: ''
              customer_id: 10906989
              id: 21175547
            - attribute_id: 68742149
              value: l
              customer_id: 74084818
              id: 99359610
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributeValueCollectionResponse'
        '422':
          description: |
            The `CustomerAttributeValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Customer Attribute Values
    delete:
      description: |-
        Deletes Customer Attribute Values. Deletes the attribute value from the customer.

        **Required Query**
        * id:in - ID of the *Customer Attribute Value*
      summary: Delete Customer Attribute Values
      operationId: CustomersAttributeValuesDelete
      deprecated: false
      parameters:
        - name: 'id:in'
          in: query
          required: true
          description: |-
            Filter items by ID.
            `id:in=4,5,6`
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
        - Customer Attribute Values
  '/customers/form-field-values':
    get:
      responses:
        '200':
          $ref: '#/components/responses/FormFieldValueCollectionResponse'
        '422':
          description: 'The form field value was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Customer Form Field Values
      description: |-
        Returns a list of form field values for the Customer or Customer Address object.

        To learn about adding and managing form fields, see [Adding and Editing Fields in the Account Signup Form](https://support.bigcommerce.com/s/article/Editing-Form-Fields).
      operationId: CustomerFormFieldsGet
      tags:
        - Customer Form Field Values
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: page
          in: query
          description: Page number. `page=1`
          schema:
            type: integer
        - in: query
          name: limit
          description: Items count per page. `limit=50`
          schema:
            type: number
        - in: query
          name: customer_id
          description: Filter by the customer ID.
          schema:
            type: integer
        - name: address_id
          in: query
          description: Filter by the ID of the customer address.
          schema:
            type: integer
        - name: field_name
          in: query
          description: Filter by the field name.
          schema:
            type: string
        - name: field_type
          in: query
          description: |-
            Filter by the field type.
             * `checkboxes` - checkboxes field
             * `date` - date field
             * `multiline` - multiline text field
             * `numbers` - numbers only field
             * `password` - password field
             * `radiobuttons` - radio buttons field
             * `text` - text field
             * `picklist` - pick list field
          schema:
            type: string
            enum:
              - checkboxes
              - date
              - multiline
              - numbers
              - password
              - radiobuttons
              - text
              - picklist
    put:
      responses:
        '200':
          $ref: '#/components/responses/FormFieldValuesResponse'
        '422':
          description: 'The form field value was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Upsert Customer Form Field Values
      description: |-
        Updates form field values on the Customer or Customer Address objects. Multiple form field values can be updated in one call.

        Upsert checks for an existing record, if there is none it creates the record, if there is a matching record it updates that record.

        To learn more about editing form fields, see [Adding and Editing Fields in the Account Signup Form](https://support.bigcommerce.com/s/article/Editing-Form-Fields).

        **Limits**
        * Limit of 10 concurrent requests.
      operationId: CustomerFormFieldValuePUT
      tags:
        - Customer Form Field Values
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/formFieldValue_Full'
            examples:
              Example:
                value:
                  - customer_id: 12
                    name: Sales Rep
                    value: Miss Moneypenny
                  - customer_id: 12
                    name: How did you hear about us?
                    value: Other
                  - customer_id: 12
                    name: What is your favorite pizza topping?
                    value: Mushrooms
  '/customers/{customerId}/consent':
    get:
      description: Gets the status of a customer's consent to allow data collection by cookies and scripts while shopping on a storefront.
      summary: Get Customer Consent
      tags:
        - Customer Consent
      operationId: CustomersConsentByCustomerId_GET
      deprecated: false
      responses:
        '200':
          $ref: '#/components/responses/consent_Resp'
        '401':
          description: Unauthorized - the v3 Auth client ID or token in the request are not a valid combination for this store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Missing scope - the v3 Auth token is valid but does not have proper permissions to access this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid JSON request body - missing or invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      description: Updates the status of a customer's consent to allow data collection by cookies and scripts while shopping on a storefront.
      summary: Update Customer Consent
      tags:
        - Customer Consent
      operationId: CustomersConsentByCustomerId_PUT
      deprecated: false
      parameters:
        - name: Content-Type
          in: header
          required: false
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeclareCustomerConsentRequest'
        x-examples:
          application/json:
            allow:
              - essential
            deny: []
      responses:
        '200':
          $ref: '#/components/responses/consent_Resp'
        '401':
          description: Unauthorized - the v3 Auth client ID or token in the request are not a valid combination for this store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Missing scope - the v3 Auth token is valid but does not have proper permissions to access this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid JSON request body - missing or invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    parameters:
      - $ref: '#/components/parameters/customerId'
  '/customers/{customerId}/stored-instruments':
    get:
      summary: Get Stored Instruments
      tags:
        - Customer Stored Instruments
      description: |-
        Lists all available stored instruments for a customer. This list will include all types of stored instruments namely card, account and bank_account instruments

      operationId: liststoredinstruments
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/CardInstrument'
                    - $ref: '#/components/schemas/PayPalAccountInstrument'
                    - $ref: '#/components/schemas/BankAccountInstrument'
                  discriminator:
                    propertyName: type
                    mapping:
                      stored_card: '#/components/schemas/CardInstrument'
                      stored_paypal_account: '#/components/schemas/PaypalAccountInstrument'
                      stored_bank_account: '#/components/schemas/BankAccountInstrument'
              examples:
                example-1:
                  value:
                    - type: stored_card
                      token: 84596bea275fa254da820056bdc3e495bdf01fd11c51b0336347d447ee16200c
                      is_default: true
                      brand: VISA
                      expiry_month: 1
                      expiry_year: 0
                      issuer_identification_number: '411111'
                      last_4: '1111'
                      billing_address:
                        first_name: Tester
                        last_name: Tester
                        email: example@email.com
                        company: Test Company
                        address1: 1 Sample Street
                        address2: Apt 1
                        city: Las Vegas
                        postal_code: '90854'
                        state_or_province: Nevada
                        state_or_province_code: NV
                        country_code: US
                        phone: 101-192-0293
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 401
                message: Unauthorized
        '403':
          description: Missing scope - the v3 Auth token is valid but does not have proper permissions to access this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 403
                message: Missing scope
    parameters:
      - schema:
          type: string
        name: customerId
        in: path
        required: true
components:
  parameters:
    customerId:
      name: customerId
      in: path
      required: true
      description: ''
      schema:
        type: string
  responses:
    CustomerCollectionResponse:
      description: Customer Collection Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/customer_Full'
              meta:
                $ref: '#/components/schemas/_metaCollection'
          examples:
            example-1:
              value:
                data:
                  - email: string@example.com
                    first_name: string
                    last_name: string
                    company: string
                    phone: string
                    notes: string
                    tax_exempt_category: string
                    customer_group_id: 0
                    addresses: 
                      - first_name: string
                        last_name: string
                        address1: Addr1
                        address2: ''
                        city: string
                        state_or_province: string
                        postal_code: string
                        country_code: st
                        phone: string
                        address_type: residential
                        customer_id: 0
                        id: 0
                        country: string 
                    store_credit_amounts:
                      - amount: 43.15
                    accepts_product_review_abandoned_cart_emails: true
                    channel_ids:
                      - 1
                    shopper_profile_id: "82511e54-4040-40fe-b742-2b25655f205b"
                    segment_ids: ["5bb733a9-5491-47b3-9451-9ae8d6a6bc6b"]
                meta:
                  pagination:
                    total: 0
                    count: 0
                    per_page: 0
                    current_page: 0
                    total_pages: 0
                    links:
                      previous: string
                      current: string
                      next: string
    AddressCollectionResponse:
      description: ''
      content:
        application/json:
          schema:
            title: AddressCollectionResponse
            description: Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: array
                items:
                  title: Address
                  type: object
                  properties:
                    address1:
                      description: The address 1 line.
                      type: string
                    address2:
                      description: The address 2 line.
                      type: string
                    address_type:
                      title: Address Type
                      description: The address type. Residential or Commercial.
                      example: residential
                      type: string
                      enum:
                        - residential
                        - commercial
                    city:
                      description: The city of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 100
                    company:
                      description: The company of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 255
                    country:
                      description: The country name of the customer address.
                      type: string
                    country_code:
                      description: The country code of the customer address.
                      type: string
                      minLength: 2
                      maxLength: 2
                    customer_id:
                      description: The customer ID.
                      type: integer
                      format: int32
                    first_name:
                      description: The first name of the customer address.
                      type: string
                      minLength: 1
                      maxLength: 255
                    id:
                      description: The unique numeric ID of the address.
                      type: integer
                      format: int32
                    last_name:
                      description: The last name of the customer address.
                      type: string
                      minLength: 1
                      maxLength: 255
                    phone:
                      description: The phone number of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 50
                    postal_code:
                      description: The postal code of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 30
                    state_or_province:
                      description: The state or province name
                      type: string
                      minLength: 0
                      maxLength: 100
                    form_fields:
                      description: Array of form fields. Controlled by `formfields` parameter.
                      type: array
                      items:
                        allOf:
                          - $ref: "#/components/schemas/formFieldValue_Address"
                        title: 'Customer Address Form Field Value'
                  required:
                    - address1
                    - city
                    - country_code
                    - customer_id
                    - first_name
                    - id
                    - last_name
                    - postal_code
                    - state_or_province
              meta:
                $ref: '#/components/schemas/_metaCollection'
          examples:
            response:
              value:
                data:
                  - address1: 123 Example Street
                    address2: Building 4
                    address_type: residential
                    city: Austin
                    company: BigCommerce
                    country: United States
                    country_code: US
                    customer_id: 1
                    first_name: John
                    id: 18
                    last_name: Doe
                    phone: '15551234567'
                    postal_code: '78759'
                    state_or_province: Texas
                meta:
                  pagination:
                    total: 1
                    count: 1
                    per_page: 50
                    current_page: 1
                    total_pages: 1
    AddressCollectionResponsePostPut:
      description: ''
      content:
        application/json:
          schema:
            anyOf:
              - title: AddressCollectionResponse
                description: Response payload for the BigCommerce API.
                example:
                  data:
                    - address1: 123 Example Street
                      address2: Building 4
                      address_type: residential
                      city: Austin
                      company: BigCommerce
                      country: United States
                      country_code: US
                      customer_id: 1
                      first_name: John
                      id: 18
                      last_name: Doe
                      phone: '15551234567'
                      postal_code: '78759'
                      state_or_province: Texas
                  meta: {}
                properties:
                  data:
                    type: array
                    items:
                      title: Address
                      type: object
                      properties:
                        address1:
                          description: The address 1 line.
                          type: string
                        address2:
                          description: The address 2 line.
                          type: string
                        address_type:
                          title: Address Type
                          description: The address type. Residential or Commercial.
                          example: residential
                          type: string
                          enum:
                            - residential
                            - commercial
                        city:
                          description: The city of the customer address.
                          type: string
                          minLength: 0
                          maxLength: 100
                        company:
                          description: The company of the customer address.
                          type: string
                          minLength: 0
                          maxLength: 255
                        country:
                          description: The country name of the customer address.
                          type: string
                        country_code:
                          description: The country code of the customer address.
                          type: string
                          minLength: 2
                          maxLength: 2
                        customer_id:
                          description: The customer ID.
                          type: integer
                          format: int32
                        first_name:
                          description: The first name of the customer address.
                          type: string
                          minLength: 1
                          maxLength: 255
                        id:
                          description: The unique numeric ID of the address.
                          type: integer
                          format: int32
                        last_name:
                          description: The last name of the customer address.
                          type: string
                          minLength: 1
                          maxLength: 255
                        phone:
                          description: The phone number of the customer address.
                          type: string
                          minLength: 0
                          maxLength: 50
                        postal_code:
                          description: The postal code of the customer address.
                          type: string
                          minLength: 0
                          maxLength: 30
                        state_or_province:
                          description: The state or province name
                          type: string
                          minLength: 0
                          maxLength: 100
                        form_fields:
                          description: Array of form fields. Controlled by `formfields` parameter.
                          type: array
                          items:
                            $ref: '#/components/schemas/formFieldValue_Full'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
              - title: DuplicateAddressCollectionResponse
                example: {}
            type: object
            properties:
              data:
                type: array
                items:
                  title: Address
                  type: object
                  properties:
                    address1:
                      description: The address 1 line.
                      type: string
                    address2:
                      description: The address 2 line.
                      type: string
                    address_type:
                      title: Address Type
                      description: The address type. Residential or Commercial
                      example: residential
                      type: string
                      enum:
                        - residential
                        - commercial
                    city:
                      description: The city of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 100
                    company:
                      description: The company of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 255
                    country:
                      description: The country name of the customer address.
                      type: string
                    country_code:
                      description: The country code of the customer address.
                      type: string
                      minLength: 2
                      maxLength: 2
                    customer_id:
                      description: The customer ID.
                      type: integer
                      format: int32
                    first_name:
                      description: The first name of the customer address.
                      type: string
                      minLength: 1
                      maxLength: 255
                    id:
                      description: The unique numeric ID of the address.
                      type: integer
                      format: int32
                    last_name:
                      description: The last name of the customer address.
                      type: string
                      minLength: 1
                      maxLength: 255
                    phone:
                      description: The phone number of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 50
                    postal_code:
                      description: The postal code of the customer address.
                      type: string
                      minLength: 0
                      maxLength: 30
                    state_or_province:
                      description: The state or province name.
                      type: string
                      minLength: 0
                      maxLength: 100
                    form_fields:
                      description: Array of form fields. Controlled by `formfields` parameter.
                      type: array
                      items:
                        allOf:
                          - $ref: "#/components/schemas/formFieldValue_Address"
                        title: 'Customer Address Form Field Value'
              meta:
                $ref: '#/components/schemas/MetaOpen'
          examples:
            application/json:
              value:
                address1: 123 Example Street
                address2: Building 4
                address_type: residential
                city: Austin
                company: BigCommerce
                country: United States
                country_code: US
                customer_id: 1
                first_name: John
                id: 18
                last_name: Doe
                phone: '15551234567'
                postal_code: '78759'
                state_or_province: Texas
                meta: {}
            duplicate:
              value: {}
    CustomerAttributeValueCollectionResponse:
      description: ''
      content:
        application/json:
          schema:
            title: CustomerAttributeValueCollectionResponse
            description: Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: array
                items:
                  title: Customer Attribute Value
                  type: object
                  properties:
                    attribute_id:
                      description: Attribute ID.
                      type: integer
                      format: int32
                    attribute_value:
                      description: |-
                        Attribute value. This will always be a string, regardless of the attributes type. 

                        Corresponds to `value` used in customer attribute values `PUT` requests.
                      type: string
                      minLength: 0
                      maxLength: 255
                    id:
                      description: Attribute value ID.
                      type: integer
                      format: int32
                    customer_id:
                      description: Customer ID.
                      type: integer
                      format: int32
                    date_modified:
                      description: The date on which the customer attribute value was modified.
                      type: string
                      format: date-time
                    date_created:
                      description: The date of which the customer attribute value was created.
                      type: string
                      format: date-time
                  required:
                    - attribute_id
                    - attribute_value
                    - customer_id
              meta:
                title: Collection Meta
                description: 'Data about the response, including pagination and collection totals.'
                type: object
                properties:
                  pagination:
                    title: Pagination
                    description: 'Data about the response, including pagination and collection totals.'
                    type: object
                    properties:
                      total:
                        description: Total number of items in the result set.
                        type: integer
                        format: int32
                      count:
                        description: Total number of items in the collection response.
                        type: integer
                        format: int32
                      per_page:
                        description: 'The amount of items returned in the collection per page, controlled by the limit parameter.'
                        type: integer
                        format: int32
                      current_page:
                        description: The page you are currently on within the collection.
                        type: integer
                        format: int32
                      total_pages:
                        description: The total number of pages in the collection.
                        type: integer
                        format: int32
                      links:
                        title: Links
                        description: Pagination links for the previous and next parts of the whole collection.
                        type: object
                        properties:
                          previous:
                            description: Link to the previous page returned in the response.
                            type: string
                          current:
                            description: Link to the current page returned in the response.
                            type: string
                          next:
                            description: Link to the next page returned in the response.
                            type: string
    CustomerAttributesResponse:
      description: ''
      content:
        application/json:
          schema:
            title: CustomerAttributesResponse
            description: Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: array
                items:
                  title: Customer Attribute
                  type: object
                  properties:
                    name:
                      description: Attribute name.
                      type: string
                      minLength: 1
                      maxLength: 255
                    type:
                      title: Type
                      description: 'Attribute type should match one of: string, number, date.'
                      example: string
                      type: string
                      enum:
                        - string
                        - number
                        - date
                    id:
                      description: Attribute ID.
                      type: integer
                      format: int32
                    date_modified:
                      description: The date on which the customer attribute was modified.
                      type: string
                      format: date-time
                    date_created:
                      description: The date of which the customer attribute was created.
                      type: string
                      format: date-time
                  required:
                    - name
                    - type
                    - id
              meta:
                $ref: '#/components/schemas/MetaOpen'
          examples:
            response:
              value:
                data:
                  - id: 1
                    name: Age
                    type: string
                    date_created: '2018-11-13T21:42:06Z'
                    date_modified: '2018-11-14T16:46:23Z'
                meta: {}
    FormFieldValueCollectionResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  oneOf:
                    - allOf:
                        - type: object
                          title: Form Field Value Base
                          required:
                            - name
                            - value
                          properties:
                            name:
                              type: string
                              description: The form field name.
                              example: color
                            value:
                              oneOf:
                                - type: string
                                  example: blue
                                - type: number
                                  format: double
                                  example: 12.345
                                - type: array
                                  example:
                                    - red
                                    - green
                                    - black
                                  items:
                                    type: string
                        - type: object
                          properties:
                            customer_id:
                              type: integer
                          required:
                            - customer_id
                      title: Customer Form Field Value
                    - allOf:
                        - type: object
                          title: Form Field Value Base
                          required:
                            - name
                            - value
                          properties:
                            name:
                              type: string
                              description: The form field name.
                              example: color
                            value:
                              oneOf:
                                - type: string
                                  example: blue
                                - type: number
                                  format: double
                                  example: 12.345
                                - type: array
                                  example:
                                    - red
                                    - green
                                    - black
                                  items:
                                    type: string
                        - type: object
                          properties:
                            address_id:
                              type: integer
                              description: The Customer Address ID.
                          required:
                            - address_id
                      title: Customer Address Form Field Value
                  title: 'Form Field Value '
              meta:
                title: Collection Meta
                description: 'Data about the response, including pagination and collection totals.'
                type: object
                properties:
                  pagination:
                    title: Pagination
                    description: 'Data about the response, including pagination and collection totals.'
                    type: object
                    properties:
                      total:
                        description: Total number of items in the result set.
                        type: integer
                        format: int32
                      count:
                        description: Total number of items in the collection response.
                        type: integer
                        format: int32
                      per_page:
                        description: 'The amount of items returned in the collection per page, controlled by the limit parameter.'
                        type: integer
                        format: int32
                      current_page:
                        description: The page you are currently on within the collection.
                        type: integer
                        format: int32
                      total_pages:
                        description: The total number of pages in the collection.
                        type: integer
                        format: int32
                      links:
                        title: Links
                        description: Pagination links for the previous and next parts of the whole collection.
                        type: object
                        properties:
                          previous:
                            description: Link to the previous page returned in the response.
                            type: string
                          current:
                            description: Link to the current page returned in the response.
                            type: string
                          next:
                            description: Link to the next page returned in the response.
                            type: string
          examples:
            Customer and Customer Address Form Fields example:
              value:
                data:
                  - customer_id: 11
                    name: Sales Rep
                    value: James Bond
                  - customer_id: 11
                    name: How did you hear about us?
                    value: Friend
                  - customer_id: 11
                    name: What is your favorite pizza topping?
                    value: Black olives
                  - customer_id: 12
                    name: Sales Rep
                    value: None
                  - customer_id: 12
                    name: How did you hear about us?
                    value: Friend
                  - customer_id: 12
                    name: What is your favorite pizza topping?
                    value: Mushrooms
                  - customer_id: 13
                    name: Sales Rep
                    value: Felix Leiter
                  - customer_id: 13
                    name: How did you hear about us?
                    value: Email
                  - customer_id: 13
                    name: What is your favorite pizza topping?
                    value: Green pepper
                  - customer_id: 13
                    name: Occupation
                    value: Housekeeper
                  - address_id: 12
                    name: Special Delivery Instructions
                    value: Leave the package at the front door
                  - customer_id: 14
                    name: Sales Rep
                    value: General Gogol
                  - customer_id: 14
                    name: How did you hear about us?
                    value: Friend
                  - customer_id: 14
                    name: What is your favorite pizza topping?
                    value: Extra cheese
                  - address_id: 13
                    name: Special Delivery Instructions
                    value: Put the package in the mailbox
                meta:
                  pagination:
                    count: 15
                    current_page: 1
                    per_page: 50
                    total: 15
                    total_pages: 1
            Customer Form Fields example:
              value:
                data:
                  - customer_id: 11
                    name: Sales Rep
                    value: James Bond
                  - customer_id: 11
                    name: How did you hear about us?
                    value: Friend
                  - customer_id: 11
                    name: What is your favorite pizza topping?
                    value: Black olives
                meta:
                  pagination:
                    count: 3
                    current_page: 1
                    per_page: 50
                    total: 3
                    total_pages: 1
            Customer Address Form Fields example:
              value:
                data:
                  - address_id: 12
                    name: Special Delivery Instructions
                    value: Leave the package at the front door
                meta:
                  pagination:
                    count: 1
                    current_page: 1
                    per_page: 50
                    total: 1
                    total_pages: 1
    FormFieldValuesResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  oneOf:
                    - allOf:
                        - type: object
                          title: Form Field Value Base
                          required:
                            - name
                            - value
                          properties:
                            name:
                              type: string
                              description: The form field name.
                              example: color
                            value:
                              oneOf:
                                - type: string
                                  example: blue
                                - type: number
                                  format: double
                                  example: 12.345
                                - type: array
                                  example:
                                    - red
                                    - green
                                    - black
                                  items:
                                    type: string
                        - type: object
                          properties:
                            customer_id:
                              type: integer
                          required:
                            - customer_id
                      title: Customer Form Field Value
                    - allOf:
                        - type: object
                          title: Form Field Value Base
                          required:
                            - name
                            - value
                          properties:
                            name:
                              type: string
                              description: The form field name.
                              example: color
                            value:
                              oneOf:
                                - type: string
                                  example: blue
                                - type: number
                                  format: double
                                  example: 12.345
                                - type: array
                                  example:
                                    - red
                                    - green
                                    - black
                                  items:
                                    type: string
                        - type: object
                          properties:
                            address_id:
                              type: integer
                              description: The Customer Address ID.
                          required:
                            - address_id
                      title: Customer Address Form Field Value
                  title: Form Field Value
              meta:
                $ref: '#/components/schemas/MetaOpen'
          examples:
            response:
              value:
                data:
                  - customer_id: 12
                    name: Sales Rep
                    value: Miss Moneypenny
                  - customer_id: 12
                    name: How did you hear about us?
                    value: Other
                  - customer_id: 12
                    name: What is your favorite pizza topping?
                    value: Mushrooms
                meta: {}
    consent_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/consent_Full'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        | Customers | modify | `store_v2_customers` |
        | Customers | read-only | `store_v2_customers_read_only` |
        | Stored Payment Instruments | modify | `store_stored_payment_instruments` |
        | Stored Payment Instruments | read-only | `store_stored_payment_instruments_read_only` |

        ### Authentication header
        
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts). |
        
        ### Further reading
        
        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/api-docs/getting-started/api-status-codes).
      type: apiKey
      in: header
  schemas:
    Pagination:
      title: Pagination
      description: 'Data about the response, including pagination and collection totals.'
      type: object
      properties:
        total:
          description: Total number of items in the result set.
          type: integer
          format: int32
        count:
          description: Total number of items in the collection response.
          type: integer
          format: int32
        per_page:
          description: 'The amount of items returned in the collection per page, controlled by the limit parameter.'
          type: integer
          format: int32
        current_page:
          description: The page you are currently on within the collection.
          type: integer
          format: int32
        total_pages:
          description: The total number of pages in the collection.
          type: integer
          format: int32
        links:
          $ref: '#/components/schemas/Links'
      x-internal: false
    _metaCollection:
      title: _metaCollection
      description: 'Data about the response, including pagination and collection totals.'
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
      x-internal: false
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        status:
          description: The HTTP status code.
          type: integer
          format: int32
        title:
          description: The error title describing the particular error.
          type: string
        type:
          description: A link to a list of BigCommerce API status codes.
          type: string
        instance:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
      x-internal: false
    customer_Full:
      title: customer_Full
      type: object
      properties:
        email:
          description: The email of the customer. Must be unique.
          type: string
          minLength: 3
          maxLength: 255
        first_name:
          description: The first name of the customer.
          type: string
          minLength: 1
          maxLength: 100
        last_name:
          description: The last name of the customer.
          type: string
          minLength: 1
          maxLength: 100
        company:
          description: The company of the customer.
          type: string
          minLength: 0
          maxLength: 255
        phone:
          description: The phone number of the customer.
          type: string
          minLength: 0
          maxLength: 50
        registration_ip_address:
          description: The IP address from which this customer was registered.
          type: string
          minLength: 0
          maxLength: 30
        notes:
          description: The customer notes.
          type: string
        tax_exempt_category:
          description: The tax exempt category code for the customer.
          type: string
          minLength: 0
          maxLength: 255
        customer_group_id:
          description: ID of the group which this customer belongs to.
          type: integer
          format: int32
        id:
          description: The unique numeric ID of the customer.
          type: integer
          format: int32
        date_modified:
          description: The date on which the customer was modified.
          type: string
          format: date-time
        date_created:
          description: The date of which the customer was created.
          type: string
          format: date-time
        address_count:
          description: Total number of customer addresses.
          type: integer
          format: int32
        attribute_count:
          description: Total number of customer attributes.
          type: integer
          format: int32
        authentication:
          title: Customer Authentication Base
          example:
            force_password_reset: true
          type: object
          properties:
            force_password_reset:
              description: 'If `true`, this customer will be forced to change password on next login.'
              type: boolean
        addresses:
          description: Array of customer addresses. Limited to 10.
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/address_Full'
        attributes:
          description: Array of customer attributes. Limited to 10.
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/attribute_Full'
        form_fields:
          description: Array of form fields. Controlled by `formfields` parameter.
          type: array
          items:
            $ref: '#/components/schemas/formFieldValue_Customer'
        store_credit_amounts:
          $ref: '#/components/schemas/CustomerStoredCreditAmounts'
        accepts_product_review_abandoned_cart_emails:
          type: boolean
          description: Determines if the customer is signed up to receive either product review or abandoned cart emails or receive both emails.
        origin_channel_id: 
          type: integer
          description: Channel ID of the customer that has created the form.
        channel_ids:
          $ref: '#/components/schemas/customerChannelIds'
      x-internal: false
    customer_Post:
      title: customer_Post
      type: object
      properties:
        email:
          description: The email of the customer. Must be unique.
          type: string
          minLength: 3
          maxLength: 255
        first_name:
          description: The first name of the customer.
          type: string
          minLength: 1
          maxLength: 100
        last_name:
          description: The last name of the customer.
          type: string
          minLength: 1
          maxLength: 100
        company:
          description: The company of the customer.
          type: string
          minLength: 0
          maxLength: 255
        phone:
          description: The phone number of the customer.
          type: string
          minLength: 0
          maxLength: 50
        notes:
          description: The customer notes.
          type: string
        tax_exempt_category:
          description: The tax exempt category code for the customer.
          type: string
          minLength: 0
          maxLength: 255
        customer_group_id:
          description: ID of the group which this customer belongs to.
          type: integer
          format: int32
        addresses:
          description: Array of customer addresses. Limited to 10.
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/customerAddresses_CustomerPost'
        attributes:
          description: Array of customer attributes. Limited to 10.
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/customerAttributes_Base'
        authentication:
          $ref: '#/components/schemas/customerAuthentication_PostPut'
        accepts_product_review_abandoned_cart_emails:
          type: boolean
          description: It determines if the customer is signed up to receive either product review or abandoned cart emails or receive both emails.
        store_credit_amounts:
          $ref: '#/components/schemas/CustomerStoredCreditAmounts'
        origin_channel_id: 
          type: integer
          description: Channel ID of the customer that has created the form.
        channel_ids:
          description: Array of channels the customer can access.
          type: array
          example: [1,2]
          items:
            type: integer
        form_fields:
          type: array
          description: |
            Array of form fields. Controlled by formfields parameter.
          items:
            $ref: "#/components/schemas/formFieldValue"    
[...]
