openapi: '3.0.0'
info:
  version: ''
  title: Orders V2
  description: |-
    Manage order coupons, messages, products, shipping addresses, statuses, taxes, shipments, and shipping address quotes.
    
    ## Order
    
    The Order object contains a record of the purchase agreement between a shopper and a merchant. To learn more about creating orders, see [Orders API Guide](/api-docs/orders/orders-api-overview).
    
    ### Currency Fields
    
    The **default** currency refers to the transactional currency which is the currency the shopper pays in.
    
    The **display** currency refers to the presentational currency used to present prices to the shopper on the storefront.
    
    * `currency_id` - the display currency ID. Depending on the currency selected, the value may be different from the transactional currency.
    * `currency_code` - the currency code of the display currency used to present prices to the shopper on the storefront. Depending on the currency selected, the value may be different from the transactional currency.
    * `currency_exchange_rate` - the exchange rate between the store’s default currency and the display currency. For orders created using the V2 endpoints, this value is always 1 (only in the storefront this value can be different to 1).
    * `default_currency_id` - the transactional currency ID.
    * `default_currency_code` - the currency code of the transactional currency the shopper pays in.
    
    The following additional fields are returned on orders when Multi-Currency is enabled on the store:
    
    * `store_default_currency_code` - the currency code of the store’s default currency.
    * `store_default_to_transactional_exchange_rate` - the exchange rate between the store’s default currency and the transactional currency used in the order.
    
    **Example:**
    
    ```json
    {
      ...
      "currency_id": 4,
      "currency_code": "EUR",
      "currency_exchange_rate": 1,
      "default_currency_id": 4,
      "default_currency_code": "EUR",
      "store_default_currency_code": "USD",
      "store_default_to_transactional_exchange_rate": "100.0000000000"
      ...
    }
    ```
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
security:
  - X-Auth-Token: []
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v2'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
tags:
  - name: Orders
  - name: Order Coupons
  - name: Order Products
  - name: Order Taxes
  - name: Order Status
  - name: Order Shipments
  - name: Order Shipping Addresses
  - name: Order Messages
  - name: Order Shipping Addresses Quotes
  - name: Order Consignments
paths:
  '/orders/{order_id}':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: Gets an *Order*. To learn more about creating or updating orders, see [Orders Overview](/api-docs/orders/orders-api-overview).
      summary: Get an Order
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/order_includes'
      responses:
        '200':
          $ref: '#/components/responses/order_Resp'
        '404':
          description: "The requested resource was not found."
          content:
            application/json:
              schema: {}
      operationId: getAnOrder
    put:
      description: |-
        Updates an *Order*. 
        
        To add a product to an existing order, don't include `id` in the body. Include `product_options` if adding a product with variants.
        
        To update a product in an order, include `id` in the body. The body should only contain the fields that need to be updated. Those fields that are omitted will not be changed.
        
        To remove a product from an order, set that product’s `quantity` to `0`.
        
        To learn more about creating or updating orders, see [Orders Overview](/api-docs/orders/orders-api-overview).
      summary: Update an Order
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_Put'
            examples:
              application/json:
                value:
                  status_id: 0
                  customer_id: 11
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    email: janedoe@example.com
                  shipping_addresses:
                    - first_name: Trish
                      last_name: Test
                      company: Acme Pty Ltd
                      street_1: 666 Sussex St
                      city: Austin
                      state: Texas
                      zip: '78751'
                      country: United States
                      country_iso2: US
                      email: elsie@example.com
                  products:
                    - name: BigCommerce Poster
                      quantity: 1
                      price_inc_tax: 10.98
                      price_ex_tax: 10
                    - name: BigCommerce Coffee Mug
                      quantity: 1
                      price_inc_tax: 50
                      price_ex_tax: 45
                    - product_id: 184
                      product_options:
                        - id: 200
                          value: '180'
                        - id: 230
                          value: '192'
                  customer_locale: en
              Adding an existing product to order:
                value:
                  products:
                    - product_id: 123
                      quantity: 5
                      product_options:
                        id: 56
                        value: 12
                      price_inc_tax: 12.45
                      price_ex_tax: 10.12
              Adding a new product to order:
                value:
                  products:
                    - name: BigCommerce Coffee Mug
                      quantity: 1
                      price_inc_tax: 12.45
                      price_ex_tax: 10.12
                      sku: MUG-GRY
              Removing a product from an order:
                value:
                  products:
                    - id: 117
                      product_id: 123
                      quantity: 1
                      product_options:
                        id: 56
                        value: 12
                      price_inc_tax: 12.45
                      price_ex_tax: 10.12
        required: true
      responses:
        '200':
          $ref: '#/components/responses/order_Resp'
      operationId: updateAnOrder
    delete:
      description: Archives an order. To remove a single product from an order, see `PUT /orders/{order_id}`.
      summary: Archive an Order
      tags:
        - Orders
      responses:
        '204':
          description: ''
      operationId: deleteAnOrder
  '/orders/count':
    parameters:
      - $ref: '#/components/parameters/Accept'
    get:
      description: Gets an array of orders in the store organized by order status.
      summary: Get a Count of Orders
      tags:
        - Orders
      responses:
        '200':
          $ref: '#/components/responses/ordersCount_Resp'
      operationId: getCountOrder
  '/orders':
    parameters:
      - $ref: '#/components/parameters/Accept'
    get:
      description: |-
        Gets a list of orders using the filter query.
        
        **Notes**
        
        * The default sort is by order id, from lowest to highest.
        * By default, requests sent without parameters will only return 50 orders. 

      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/min_id'
        - $ref: '#/components/parameters/max_id'
        - $ref: '#/components/parameters/min_total'
        - $ref: '#/components/parameters/max_total'
        - $ref: '#/components/parameters/customer_id'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/status_id'
        - $ref: '#/components/parameters/cart_id'
        - $ref: '#/components/parameters/payment_method'
        - $ref: '#/components/parameters/min_date_created'
        - $ref: '#/components/parameters/max_date_created'
        - $ref: '#/components/parameters/min_date_modified'
        - $ref: '#/components/parameters/max_date_modified'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/is_deleted'
        - $ref: '#/components/parameters/channel_id'
        - $ref: '#/components/parameters/order_includes'
      responses:
        '200':
          $ref: '#/components/responses/orderCollection_Resp'
      summary: Get All Orders
      operationId: getAllOrders
    post:
      description: |-
        Creates an *Order*. To learn more about creating or updating orders, see [Orders Overview](/api-docs/orders/orders-api-overview).

        Create an order with an existing catalog product or a custom product.

        **Required Fields**

        * `products` or `consignments`
        * `billing_address`

        When you create an order, the `consignment(s)` array allows you to create pickup consignments.
        - An order can have either a pickup or a shipping fulfillment method, but not both.
        - An order can have only one pickup consignment.

        Choose from one of the following:
        1. Create order with a shipping fulfillment method using `shipping_addresses` and `products`, i.e. legacy mode
        2. Create order with a pickup fulfillment method using `consignments`, i.e. Consignment mode

        You can fulfill an order with shipping or pickup, but not both.
        
        This means that if the `consignments` array is present in the request, then _none_ of the following may be present and vice-versa:
        - `shipping_addresses`
        - `products`
      summary: Create an Order
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/order_includes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_Post'
            examples:
              Product with Variants:
                value:
                  status_id: 0
                  customer_id: 1
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: 78751
                    country: United States
                    country_iso2: US
                    email: janedoe@example.com
                  products:
                    - product_id: 118
                      quantity: 1
                      variant_id: 93
              Custom Product:
                value:
                  status_id: 0
                  customer_id: 1
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    email: janedoe@email.com
                  products:
                    - name: BigCommerce Coffee Mug
                      quantity: 1
                      price_inc_tax: 50
                      price_ex_tax: 45
              Product with Options:
                value:
                  status_id: 0
                  customer_id: 11
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    email: janedoe@example.com
                  shipping_addresses:
                    - first_name: Trish
                      last_name: Test
                      company: Acme Pty Ltd
                      street_1: 666 Sussex St
                      city: Austin
                      state: Texas
                      zip: '78751'
                      country: United States
                      country_iso2: US
                      email: elsie@example.com
                  products:
                    - product_id: 184
                      quantity: 5
                      product_options:
                        - id: 200
                          value: '180'
                        - id: 230
                          value: '192'
              Product with a Drop Down and a Text Field Modifier:
                value:
                  status_id: 0
                  customer_id: 11
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    email: janedoe@example.com
                  shipping_addresses:
                    - first_name: Trish
                      last_name: Test
                      company: Acme Pty Ltd
                      street_1: 666 Sussex St
                      city: Austin
                      state: Texas
                      zip: '78751'
                      country: United States
                      country_iso2: US
                      email: elsie@example.com
                  products:
                    - product_id: 184
                      quantity: 5
                      product_options:
                        - id: 200
                          value: '180'
                        - id: 230
                          value: Custom Message
              Multiple Products:
                value:
                  status_id: 0
                  customer_id: 11
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    street_1: 123 Main Street
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    email: janedoe@example.com
                  shipping_addresses:
                    - first_name: Trish
                      last_name: Test
                      company: Acme Pty Ltd
                      street_1: 666 Sussex St
                      city: Austin
                      state: Texas
                      zip: '78751'
                      country: United States
                      country_iso2: US
                      email: elsie@example.com
                  products:
                    - name: BigCommerce Poster
                      quantity: 1
                      price_inc_tax: 10.98
                      price_ex_tax: 10
                    - name: BigCommerce Coffee Mug
                      quantity: 1
                      price_inc_tax: 50
                      price_ex_tax: 45
                    - product_id: 184
                      product_options:
                        - id: 200
                          value: '180'
                        - id: 230
                          value: '192'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/order_Resp'
      operationId: createAnOrder
    delete:
      description: Archives all orders.
      summary: Delete All Orders
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/limit'
      responses:
        '204':
          description: ''
      operationId: deleteAllOrders
  '/orders/{order_id}/coupons':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: |-
        Lists all order coupons. Optional parameters can be passed in.
        
        |Type `int`|Type Name|
        |-|-|
        |`0`|`per_item_discount`|
        |`1`|`percentage_discount`|
        |`2`|`per_total_discount`|
        |`3`|`shipping_discount`|
        |`4`|`free_shipping`|
        |`5`|`promotion`|
      summary: List Order Coupons
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/orderCouponsCollection_Resp'
      tags:
        - Order Coupons
      operationId: getAllOrderCoupons
  '/orders/{order_id}/products':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: Lists 50 order products on an order using `order_id`. By default, items sort from lowest to highest according to a newly created ID, separate from the `order_id` and the `product_id`.
      summary: List Order Products
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/orderProductsCollection_Resp'
      tags:
        - Order Products
      operationId: getAllOrderProducts
  '/orders/{order_id}/shipping_addresses':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: |-
        Get all shipping addresses on an order using the `order_id`.
        
        Returned in the response is shipping_quotes object. Please use the Get Shipping Quotes Endpoint. Using the response will return a 204 for the shipping quote.
      summary: Get Order Shipping Addresses
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/orderShippingAddressCollection_Resp'
      tags:
        - Order Shipping Addresses
      operationId: getAllShippingAddresses
  '/order_statuses':
    parameters:
      - $ref: '#/components/parameters/Accept'
    get:
      description: |-
        Returns a Collection of All Order Statuses.
        
        **Order Status Descriptions:**
        |Status ID | Name  | Description |
        |--|--|--|
        | 0 | Incomplete  | An incomplete order happens when a shopper reached the payment page, but did not complete the transaction. |
        | 1 | Pending |Customer started the checkout process, but did not complete it. |
        | 2 | Shipped | Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action. |
        | 3 | Partially Shipped | Only some items in the order have been shipped, due to some products being pre-order only or other reasons. |
        | 4 | Refunded | Seller has used the Refund action. |
        | 5 | Cancelled | Seller has cancelled an order, due to a stock inconsistency or other reasons. |
        | 6 |Declined | Seller has marked the order as declined for lack of manual payment, or other reasons. |
        | 7 | Awaiting Payment | Customer has completed checkout process, but payment has yet to be confirmed. |
        | 8 | Awaiting Pickup | Order has been pulled, and is awaiting customer pickup from a seller-specified location. |
        | 9 | Awaiting Shipment | Order has been pulled and packaged, and is awaiting collection from a shipping provider. |
        | 10 | Completed | Client has paid for their digital product and their file(s) are available for download. |
        | 11 | Awaiting Fulfillment | Customer has completed the checkout process and payment has been confirmed. |
        | 12 | Manual Verification Required | Order is on hold while some aspect needs to be manually confirmed. |
        | 13 | Disputed | Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order. |
        | 14 | Partially Refunded | Seller has partially refunded the order. |
      summary: Get All Order Statuses
      responses:
        '200':
          $ref: '#/components/responses/orderStatusCollection_Resp'
      tags:
        - Order Status
      operationId: getOrderStatus
  '/order_statuses/{status_id}':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/status_id_path'
    get:
      description: |-
        Returns a single order status.
        
        **Order Status Descriptions**
        |Status ID | Name  | Description |
        |:--|:--|:--|
        | 0 | Incomplete  | An incomplete order happens when a shopper reached the payment page, but did not complete the transaction. |
        | 1 | Pending |Customer started the checkout process, but did not complete it. |
        | 2 | Shipped | Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action. |
        | 3 | Partially Shipped | Only some items in the order have been shipped, due to some products being pre-order only or other reasons. |
        | 4 | Refunded | Seller has used the Refund action. |
        | 5 | Cancelled | Seller has cancelled an order, due to a stock inconsistency or other reasons. |
        | 6 |Declined | Seller has marked the order as declined for lack of manual payment, or other reasons. |
        | 7 | Awaiting Payment | Customer has completed checkout process, but payment has yet to be confirmed. |
        | 8 | Awaiting Pickup | Order has been pulled, and is awaiting customer pickup from a seller-specified location. |
        | 9 | Awaiting Shipment | Order has been pulled and packaged, and is awaiting collection from a shipping provider. |
        | 10 | Completed | Client has paid for their digital product and their file(s) are available for download. |
        | 11 | Awaiting Fulfillment | Customer has completed the checkout process and payment has been confirmed. |
        | 12 | Manual Verification Required | Order is on hold while some aspect needs to be manually confirmed. |
        | 13 | Disputed | Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order. |
        | 14 | Partially Refunded | Seller has partially refunded the order. |
      summary: Get a Single Order Status by ID
      responses:
        '200':
          $ref: '#/components/responses/orderStatus_Resp'
      tags:
        - Order Status
      operationId: getAOrderStatus
  '/orders/{order_id}/taxes':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: |-
        Gets all order taxes using `order_id`.
        Each tax applied to an order. This information can be useful for reporting purposes.
        Pass in the query parameter `?details=true` to return extra details about order taxes.
        `order_product_id` and `line_item_type` are also returned.
        
        All values are read-only.
      summary: Get All Order Taxes
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - in: query
          name: details
          description: To return detailed tax information, pass in the details query.
          schema:
            type: string
            default: 'true'
      responses:
        '200':
          $ref: '#/components/responses/orderTaxes_Resp'
      tags:
        - Order Taxes
      operationId: getOrderTaxes
  '/orders/{order_id}/shipments':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: Gets a list of all shipments on an order.
      summary: Get Order Shipments
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/orderShipmentCollection_Resp'
      tags:
        - Order Shipments
      operationId: getAllOrderShipments
    post:
      description: |
        Creates an *Order Shipment*. For more details, see [Shipping an Order](/api-docs/orders/orders-api-overview#creating-order-shipments).
        
        **Required Fields**
        *   order_address_id
        *   items
        
        **Usage notes**

        There are three methods for generating a tracking link for a shipment:

        1. Use `shipping_provider` and `tracking_number`: This generates an automatic tracking link that you can click from the BigCommerce control panel and customer-facing emails. The `generated_tracking_link` property in the API response represents this tracking link. The `tracking_link` property in the API response will remain empty.

        2. Use `tracking_carrier` and `tracking_number`: This also creates an automatic tracking link that you can click in both the BigCommerce control panel and customer-facing emails. Like the previous method, the `generated_tracking_link` property in the API response represents this tracking link. The `tracking_link` property in the API response will remain empty.

        3. Supply a custom `tracking_link`: By providing a value for the `tracking_link` property, you can use your own tracking link within the BigCommerce control panel and in customer-facing emails. The API response will return your supplied tracking link as part of the `tracking_link` property in the response. In situations when there isn't a `generated_tracking_link`, the property in the API response will remain empty. 
        
        Acceptable values for `shipping_provider` include an empty string (`""`), `auspost`, `carrier_{your_carrier_id}` (only used if the carrier is a [third-party Shipping Provider](/api-docs/providers/shipping)), `canadapost`, `endicia`, `usps`, `fedex`, `royalmail`, `ups`, `upsready`, `upsonline`, or `shipperhq`.
        
        Acceptable values for `tracking_carrier` include an empty string (`""`) or one of the valid [tracking-carrier values](https://github.com/bigcommerce/dev-docs/blob/master/assets/csv/tracking_carrier_values.csv).
      summary: Create Order Shipment
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderShipment_Post'
            examples: {}
        required: true
      responses:
        '201':
          $ref: '#/components/responses/orderShipment_Resp'
      tags:
        - Order Shipments
      operationId: createOrderShipments
    delete:
      description: Deletes all shipments associated with an order.
      summary: Delete Order Shipments
      responses:
        '204':
          description: ''
      tags:
        - Order Shipments
      operationId: deleteAllOrderShipments
  '/orders/{order_id}/shipments/count':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      description: Gets a count of the number of shipments that have been made for a single order.
      summary: Get Count of Order Shipments
      responses:
        '200':
          $ref: '#/components/responses/orderCount_Resp'
      tags:
        - Order Shipments
      operationId: getCountShipments
  '/orders/{order_id}/shipments/{shipment_id}':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
      - $ref: '#/components/parameters/shipment_id_path'
    get:
      tags:
        - Order Shipments
      responses:
        '200':
          $ref: '#/components/responses/orderShipment_Resp'
      operationId: getOrderShipment
      summary: Get a Shipment
      description: Gets an order shipment.
    put:
      description: Updates an existing shipment associated with an order.
      summary: Update a Shipment
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderShipment_Put'
            examples:
              application/json:
                value:
                  tracking_number: EJ958083578US
                  order_address_id: 1
                  shipping_provider: ''
                  items:
                    - order_product_id: 15
                      quantity: 2
        required: true
      responses:
        '200':
          $ref: '#/components/responses/orderShipment_Resp'
      tags:
        - Order Shipments
      operationId: updateOrderShipment
    delete:
      description: Deletes a shipment associated with an order.
      summary: Delete an Order Shipment
      responses:
        '204':
          description: ''
      tags:
        - Order Shipments
      operationId: deleteOrderShipment
  '/orders/{order_id}/messages':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
    get:
      responses:
        '200':
          $ref: '#/components/responses/orderMessagesCollection_Resp'
      summary: Get Order Messages
      description: Gets the messages associated with an order.
      tags:
        - Order Messages
      parameters:
        - $ref: '#/components/parameters/min_id'
        - $ref: '#/components/parameters/max_id'
        - $ref: '#/components/parameters/customer_id'
        - $ref: '#/components/parameters/min_date_created'
        - $ref: '#/components/parameters/max_date_created'
        - $ref: '#/components/parameters/is_flagged'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      operationId: getOrderMessages
  '/orders/{order_id}/products/{product_id}':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
      - $ref: '#/components/parameters/product_id_path'
    get:
      responses:
        '200':
          $ref: '#/components/responses/orderProductLineItem_Resp'
      summary: Get an Order Product
      description: Gets a product line item associated with the order.
      tags:
        - Order Products
      operationId: getAnOrderProduct
  '/orders/{order_id}/shipping_addresses/{id}':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
      - name: id
        in: path
        description: Shipping address ID.
        required: true
        schema:
          type: string
    get:
      responses:
        '200':
          $ref: '#/components/responses/orderShippingAddress_Resp'
      summary: Get a Shipping Address
      description: |-
        Gets a shipping address associated with an order.
        
        Returned in the response is shipping_quotes object. Please use the Get Shipping Quotes Endpoint. Using the response will return a 204 for the shipping quote.
      tags:
        - Order Shipping Addresses
      operationId: getAShippingAddress
    put:
      summary: Update a Shipping Address
      operationId: updateAShippingAddress
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderShippingAddress'
              examples:
                response:
                  value:
                    id: 1
                    order_id: 100
                    first_name: first
                    last_name: last
                    company: company
                    street_1: street 1
                    street_2: street 2
                    city: Sydney
                    zip: '2000'
                    country: Australia
                    country_iso2: AU
                    state: New South Wales
                    email: email@bigcommerce.com
                    phone: phone
                    items_total: 1
                    items_shipped: 0
                    shipping_method: Flat Rate
                    base_cost: '15.0000'
                    cost_ex_tax: '15.0000'
                    cost_inc_tax: '15.0000'
                    cost_tax: '0.0000'
                    cost_tax_class_id: 2
                    base_handling_cost: '0.0000'
                    handling_cost_ex_tax: '0.0000'
                    handling_cost_inc_tax: '0.0000'
                    handling_cost_tax: '0.0000'
                    handling_cost_tax_class_id: 2
                    shipping_zone_id: 1
                    shipping_zone_name: United States
                    shipping_quotes:
                      url: 'https://api-proxy.service.bcdev/stores/17hoqh4ddx/v2/orders/100/shipping_addresses/1/shipping_quotes'
                      resource: /orders/100/shipping_addresses/1/shipping_quotes
                    form_fields: []
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: integer
                    message:
                      type: string
              examples:
                response:
                  value:
                    - status: 404
                      message: The field 'item_total' cannot be written to. Please remove it from your request before trying again.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: integer
                    message:
                      type: string
              examples:
                response:
                  value:
                    - status: 404
                      message: The requested resource was not found.
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shippingAddress_Put'
            examples:
              application/json:
                value:
                  first_name: first
                  last_name: last
                  company: company
                  street_1: street 1
                  street_2: street 2
                  city: Sydney
                  zip: '2000'
                  country: Australia
                  country_iso2: AU
                  state: New South Wales
                  email: email2@bigcommerce.com
                  phone: '468444123'
      description: |-
        Update a shipping address associated with an order.
        
        **Note**: Updating a shipping address will NOT trigger the recalculation of shipping cost and tax
      tags:
        - Order Shipping Addresses
  '/orders/{order_id}/shipping_addresses/{shipping_address_id}/shipping_quotes':
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/order_id_path'
      - $ref: '#/components/parameters/shipping_address_id_path'
    get:
      responses:
        '200':
          $ref: '#/components/responses/shippingQuotes_Resp'
      summary: Get Order Shipping Quotes
      description: |-
        Gets all shipping quotes persisted on an order.
        
        This is a read-only endpoint and the output can vary based on the shipping quote. A shipping quote can only be generated using the storefront at this time. Orders that are created in the control panel or using the API return a 204 for this endpoint since a shipping quote is not generated during that process.
      tags:
        - Order Shipping Addresses Quotes
      operationId: getShippingQuotes
  '/orders/{order_id}/consignments':
    parameters:
      - schema:
          type: string
        name: order_id
        in: path
        required: true
      - name: include
        in: query
        description: |-
          * `consignments.line_items` - include the response returned from the request to the `/orders/{order_id}/products` endpoint in consignments.
        schema:
          type: string
          enum:
            - consignments.line_items
    get:
      summary: Get Consignments
      tags:
        - Order Consignments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderConsignment_Get'
              examples:
                Pickup Consignments:
                  value:
                    pickups:
                      - id: 99
                        pickup_method_id: 1
                        pickup_method_display_name: Pick Up
                        collection_instructions: Bring your ID
                        collection_time_description: 9am - 6pm
                        location:
                          id: 1
                          name: Location 1
                          code: LOCATION-1
                          address_line_1: 123 Main Street
                          address_line_2: Suite 101
                          city: Austin
                          state: Texas
                          postal_code: '78726'
                          country_alpha2: US
                          email: location1@example.com
                          phone: +1 111-111-1111
                        line_items:
                          - url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products/12'
                            resource: /orders/129/products/12
        '404':
          $ref: '#/components/responses/404_Resp'
      operationId: get-orders-orderId-consignments
      description: 'Get all consignments for an order. '
      parameters:
        - $ref: '#/components/parameters/order_id_path'
  '/orders/{order_id}/consignments/shipping/{shipping_consignment_id}/shipping_quotes':
    get:
      summary: Get Consignment Shipping Quotes
      tags:
        - Order Consignments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shippingQuotes_Base'
              examples:
                Fixed Shipping:
                  value:
                    id: '42'
                    uuid: 7c65e0a0-cf46-4438-934e-c7b4edb31e18
                    timestamp: 'Fri, 24 Jun 2022 01:45:27 +0000'
                    shipping_provider_id: bcstatic
                    shipping_provider_quote: []
                    provider_code: peritem
                    carrier_code: ''
                    rate_code: ''
                    rate_id: ''
                    method_id: 2
                Fedex:
                  value:
                    id: '43'
                    uuid: 551404b9-beeb-4e49-922b-3b8d85002863
                    timestamp: 'Fri, 24 Jun 2022 03:52:03 +0000'
                    shipping_provider_id: bcrealtime
                    shipping_provider_quote:
                      rate:
                        value: '107.32'
                        unit: USD
                      transitTime: '1'
                      name: Priority Overnight
                      signatureConfirmationFee: {}
                      carrierName: ''
                      carrierCode: {}
                      code: {}
                      deliveryMessage: ''
                      labelSizes: []
                      insuredMailFee: {}
                      dates: []
                      rateId: {}
                      description: ''
                      additionalInfo: {}
                    provider_code: fedex
                    carrier_code: ''
                    rate_code: ''
                    rate_id: ''
                    method_id: 5
        '404':
          $ref: '#/components/responses/404_Resp'
      operationId: get-orders-orderId-consignments-shipping-shippingId-shippingQuotes
      description: |-
        Get all shipping quotes persisted on an order for a shipping consignment.
        This is a read-only endpoint whose response depends on the shipping quote. You can only generate a shipping quote using the storefront at this time. Orders that are created in the control panel, or using the API, return a 204 status response since you can't generate a shipping quote during that process.
      parameters:
        - $ref: '#/components/parameters/order_id_path'
        - $ref: '#/components/parameters/shipping_consignment_id'
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: 'application/json'
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: 'application/json'
    min_id:
      name: min_id
      in: query
      description: The minimum order ID.
      schema:
        type: integer
    max_id:
      name: max_id
      in: query
      description: The maximum order ID.
      schema:
        type: integer
    min_total:
      name: min_total
      in: query
      description: The minimum order total in floating point format. eg. 12.50
      schema:
        type: number
        format: float
    max_total:
      name: max_total
      in: query
      description: The maximum order total in floating point format. eg. 12.50
      schema:
        type: number
    customer_id:
      name: customer_id
      in: query
      description: Customer ID.
      schema:
        type: integer
    email:
      name: email
      in: query
      description: The email of the customer.
      schema:
        type: string
    status_id:
      name: status_id
      in: query
      description: The status ID of the order. You can get the status id from the `/orders` endpoints.
      schema:
        type: integer
    status_id_path:
      name: status_id
      in: path
      description: The status ID of the order. You can get the status id from the `/orders` endpoints.
      required: true
      schema:
        type: integer
        format: int32
    cart_id:
      name: cart_id
      in: query
      description: The cart ID of the order.
      schema:
        type: string
    is_deleted:
      name: is_deleted
      in: query
      description: If the order was deleted or archived.
      schema:
        type: boolean
    payment_method:
      name: payment_method
      in: query
      description: The display name of the payment method used on the order.
      schema:
        type: string
        enum:
          - Manual
          - Cash on Delivery
          - Credit Card
          - Test Payment Gateway
          - Pay In Store
    min_date_created:
      name: min_date_created
      in: query
      description: |-
        Minimum date the order was created in RFC-2822 or ISO-8601.
        
        RFC-2822: `Thu, 20 Apr 2017 11:32:00 -0400`
        
        ISO-8601: `2017-04-20T11:32:00.000-04:00`
      schema:
        type: string
    max_date_created:
      name: max_date_created
      in: query
      description: |-
        Maximum date the order was created in RFC-2822 or ISO-8601.
        
        RFC-2822: `Thu, 20 Apr 2017 11:32:00 -0400`
        
        ISO-8601: `2017-04-20T11:32:00.000-04:00`
      schema:
        type: string
    min_date_modified:
      name: min_date_modified
      in: query
      description: |-
        Minimum date the order was modified in RFC-2822 or ISO-8601.
        
        RFC-2822: `Thu, 20 Apr 2017 11:32:00 -0400`
        
        ISO-8601: `2017-04-20T11:32:00.000-04:00`
      schema:
        type: string
    max_date_modified:
      name: max_date_modified
      in: query
      description: |-
        Maximum date the order was modified in RFC-2822 or ISO-8601.
        
        RFC-2822: `Thu, 20 Apr 2017 11:32:00 -0400`
        
        ISO-8601: `2017-04-20T11:32:00.000-04:00`
      schema:
        type: string
    page:
      name: page
      in: query
      description: The page to return in the response.
      schema:
        type: number
    limit:
      name: limit
      in: query
      description: Number of results to return.
      schema:
        type: number
    sort:
      in: query
      name: sort
      description: Field and direction to sort orders. To specify the direction, add `:asc` or `:desc` to the end of the query parameter. e.g., `sort=date_created:desc`.
      schema:
        type: string
        enum:
          - id
          - customer_id
          - date_created
          - date_modified
          - status_id
          - channel_id
          - external_id
    status:
      name: status
      in: query
      description: Status of the order message.
      schema:
        type: string
        enum:
          - read
          - unread
    is_flagged:
      name: is_flagged
      in: query
      description: 'If the message is [flagged](https://support.bigcommerce.com/s/article/Communicating-with-Customers#Messages).'
      schema:
        type: boolean
    order_id_path:
      name: order_id
      in: path
      description: ID of the order.
      required: true
      schema:
        type: integer
    product_id_path:
      name: product_id
      in: path
      required: true
      description: ID of the product.
      schema:
        type: integer
    shipping_address_id_path:
      name: shipping_address_id
      in: path
      required: true
      description: Shipping address ID.
      schema:
        type: integer
    shipment_id_path:
      name: shipment_id
      in: path
      required: true
      description: Shipment ID.
      schema:
        type: integer
    channel_id:
      name: channel_id
      in: query
      description: The Channel ID of the Order.
      schema:
        type: integer
    shipping_consignment_id:
      name: shipping_consignment_id
      in: path
      required: true
      description: Shipping consignment ID.
      schema:
        type: integer
    order_includes:
      name: include
      in: query
      description: |-
        * `consignments` - include the response returned from the request to the `/orders/{order_id}/consignments` endpoint.
        
        * `consignments.line_items` - include the response returned from the request to the `/orders/{order_id}/products` endpoint in consignments. This implies `include=consignments`.
      schema:
        type: string
        enum:
          - consignments
          - consignments.line_items
  responses:
    orderStatusCollection_Resp:
      description: Get All Order Status Collection Response.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/orderStatus_Base'
          examples:
            response:
              value:
                - id: 0
                  name: Incomplete
                  system_label: Incomplete
                  custom_label: Incomplete - Testing
                  system_description: An incomplete order happens when a shopper reached the payment page, but did not complete the transaction.
                  order: 0
                - id: 1
                  name: Pending
                  system_label: Pending
                  custom_label: Pending
                  system_description: Customer started the checkout process, but did not complete it.
                  order: 1
                - id: 2
                  name: Shipped
                  system_label: Shipped
                  custom_label: Shipped
                  system_description: Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action.
                  order: 8
                - id: 3
                  name: Partially Shipped
                  system_label: Partially Shipped
                  custom_label: Partially Shipped
                  system_description: Only some items in the order have been shipped, due to some products being pre-order only or other reasons.
                  order: 6
                - id: 4
                  name: Refunded
                  system_label: Refunded
                  custom_label: Refunded
                  system_description: Seller has used the Refund action.
                  order: 11
                - id: 5
                  name: Cancelled
                  system_label: Cancelled
                  custom_label: Cancelled
                  system_description: Seller has cancelled an order, due to a stock inconsistency or other reasons.
                  order: 9
                - id: 6
                  name: Declined
                  system_label: Declined
                  custom_label: Declined
                  system_description: Seller has marked the order as declined for lack of manual payment, or other reasons.
                  order: 10
                - id: 7
                  name: Awaiting Payment
                  system_label: Awaiting Payment
                  custom_label: Awaiting Payment
                  system_description: Customer has completed checkout process, but payment has yet to be confirmed.
                  order: 2
                - id: 8
                  name: Awaiting Pickup
                  system_label: Awaiting Pickup
                  custom_label: Awaiting Pickup
                  system_description: Order has been pulled, and is awaiting customer pickup from a seller-specified location.
                  order: 5
                - id: 9
                  name: Awaiting Shipment
                  system_label: Awaiting Shipment
                  custom_label: Awaiting Shipment
                  system_description: Order has been pulled and packaged, and is awaiting collection from a shipping provider.
                  order: 4
                - id: 10
                  name: Completed
                  system_label: Completed
                  custom_label: Completed - Testing
                  system_description: Client has paid for their digital product and their file(s) are available for download.
                  order: 7
                - id: 11
                  name: Awaiting Fulfillment
                  system_label: Awaiting Fulfillment
                  custom_label: Awaiting Fulfillment
                  system_description: Customer has completed the checkout process and payment has been confirmed.
                  order: 3
                - id: 12
                  name: Manual Verification Required
                  system_label: Manual Verification Required
                  custom_label: Manual Verification Required
                  system_description: Order is on hold while some aspect needs to be manually confirmed.
                  order: 13
                - id: 13
                  name: Disputed
                  system_label: Disputed
                  custom_label: Disputed
                  system_description: Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order.
                  order: 12
                - id: 14
                  name: Partially Refunded
                  system_label: Partially Refunded
                  custom_label: Partially Refunded
                  system_description: Seller has partially refunded the order.
                  order: 14
    orderStatus_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/orderStatus_Base'
          examples:
            response:
              value:
                id: 11
                name: Awaiting Fulfillment
                system_label: Awaiting Fulfillment
                custom_label: Awaiting Fulfillment
                system_description: Customer has completed the checkout process and payment has been confirmed.
                order: 3
    orderCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/order_Resp'
          examples:
            response:
              value:
                - id: 100
                  customer_id: 20
                  date_created: 'Wed, 10 Jan 2018 21:05:30 +0000'
                  date_modified: 'Wed, 05 Dec 2018 20:16:55 +0000'
                  date_shipped: ''
                  status_id: 11
                  status: Awaiting Fulfillment
                  subtotal_ex_tax: '336.3200'
                  subtotal_inc_tax: '361.9500'
                  subtotal_tax: '25.6300'
                  base_shipping_cost: '0.0000'
                  shipping_cost_ex_tax: '0.0000'
                  shipping_cost_inc_tax: '0.0000'
                  shipping_cost_tax: '0.0000'
                  shipping_cost_tax_class_id: 2
                  base_handling_cost: '0.0000'
                  handling_cost_ex_tax: '0.0000'
                  handling_cost_inc_tax: '0.0000'
                  handling_cost_tax: '0.0000'
                  handling_cost_tax_class_id: 2
                  base_wrapping_cost: '0.0000'
                  wrapping_cost_ex_tax: '0.0000'
                  wrapping_cost_inc_tax: '0.0000'
                  wrapping_cost_tax: '0.0000'
                  wrapping_cost_tax_class_id: 3
                  total_ex_tax: '361.9500'
                  total_inc_tax: '361.9500'
                  total_tax: '0.0000'
                  items_total: 17
                  items_shipped: 0
                  payment_method: Credit Card
                  payment_provider_id: ''
                  payment_status: authorized
                  refunded_amount: '0.0000'
                  order_is_digital: false
                  store_credit_amount: '0.0000'
                  gift_certificate_amount: '0.0000'
                  ip_address: 00.000.000.000
                  ip_address_v6: ''
                  geoip_country: United States
                  geoip_country_iso2: US
                  currency_id: 1
                  currency_code: USD
                  currency_exchange_rate: '1.0000000000'
                  default_currency_id: 1
                  default_currency_code: USD
                  staff_notes: ''
                  customer_message: ''
                  discount_amount: '0.0000'
                  coupon_discount: '0.0000'
                  shipping_address_count: 1
                  is_deleted: false
                  ebay_order_id: '0'
                  cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
                  billing_address:
                    first_name: Jane
                    last_name: Doe
                    company: ''
                    street_1: 455 Main Street
                    street_2: ''
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    phone: ''
                    email: janedoe@example.com
                    form_fields: []
                  is_email_opt_in: false
                  credit_card_type: null
                  order_source: manual
                  channel_id: 1
                  external_source: POS
                  products:
                    url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/products'
                    resource: /orders/100/products
                  shipping_addresses:
                    url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/shippingaddresses'
                    resource: /orders/100/shippingaddresses
                  coupons:
                    url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/coupons'
                    resource: /orders/100/coupons
                  external_id: null
                  external_merchant_id: {}
                  tax_provider_id: BasicTaxProvider
                  store_default_currency_code: ''
                  store_default_to_transactional_exchange_rate: '1.0000000000'
                  custom_status: Awaiting Fulfillment
                  customer_locale: en
                  external_order_id: external-order-id
    ordersCount_Resp:
      description: Order Counter response collection.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ordersCount_Full'
          examples:
            response:
              value:
                statuses:
                  - id: 0
                    name: Incomplete
                    system_label: Incomplete
                    custom_label: Incomplete - Testing
                    system_description: An incomplete order happens when a shopper reached the payment page, but did not complete the transaction.
                    count: 15
                    sort_order: 0
                  - id: 1
                    name: Pending
                    system_label: Pending
                    custom_label: Pending
                    system_description: Customer started the checkout process, but did not complete it.
                    count: 4
                    sort_order: 1
                  - id: 7
                    name: Awaiting Payment
                    system_label: Awaiting Payment
                    custom_label: Awaiting Payment
                    system_description: Customer has completed checkout process, but payment has yet to be confirmed.
                    count: 48
                    sort_order: 2
                  - id: 11
                    name: Awaiting Fulfillment
                    system_label: Awaiting Fulfillment
                    custom_label: Awaiting Fulfillment
                    system_description: Customer has completed the checkout process and payment has been confirmed.
                    count: 31
                    sort_order: 3
                  - id: 9
                    name: Awaiting Shipment
                    system_label: Awaiting Shipment
                    custom_label: Awaiting Shipment
                    system_description: Order has been pulled and packaged, and is awaiting collection from a shipping provider.
                    count: 1
                    sort_order: 4
                  - id: 8
                    name: Awaiting Pickup
                    system_label: Awaiting Pickup
                    custom_label: Awaiting Pickup
                    system_description: Order has been pulled, and is awaiting customer pickup from a seller-specified location.
                    count: 0
                    sort_order: 5
                  - id: 3
                    name: Partially Shipped
                    system_label: Partially Shipped
                    custom_label: Partially Shipped
                    system_description: Only some items in the order have been shipped, due to some products being pre-order only or other reasons.
                    count: 1
                    sort_order: 6
                  - id: 10
                    name: Completed
                    system_label: Completed
                    custom_label: Completed - Testing
                    system_description: Client has paid for their digital product and their file(s) are available for download.
                    count: 11
                    sort_order: 7
                  - id: 2
                    name: Shipped
                    system_label: Shipped
                    custom_label: Shipped
                    system_description: Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action.
                    count: 14
                    sort_order: 8
                  - id: 5
                    name: Cancelled
                    system_label: Cancelled
                    custom_label: Cancelled
                    system_description: Seller has cancelled an order, due to a stock inconsistency or other reasons.
                    count: 5
                    sort_order: 9
                  - id: 6
                    name: Declined
                    system_label: Declined
                    custom_label: Declined
                    system_description: Seller has marked the order as declined for lack of manual payment, or other reasons.
                    count: 0
                    sort_order: 10
                  - id: 4
                    name: Refunded
                    system_label: Refunded
                    custom_label: Refunded
                    system_description: Seller has used the Refund action.
                    count: 2
                    sort_order: 11
                  - id: 13
                    name: Disputed
                    system_label: Disputed
                    custom_label: Disputed
                    system_description: Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order.
                    count: 0
                    sort_order: 12
                  - id: 12
                    name: Manual Verification Required
                    system_label: Manual Verification Required
                    custom_label: Manual Verification Required
                    system_description: Order is on hold while some aspect needs to be manually confirmed.
                    count: 0
                    sort_order: 13
                  - id: 14
                    name: Partially Refunded
                    system_label: Partially Refunded
                    custom_label: Partially Refunded
                    system_description: Seller has partially refunded the order.
                    count: 1
                    sort_order: 14
                count: 133
    order_Resp:
      description: Order Response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/order_Resp'
          examples:
            response:
              value:
                id: 218
                customer_id: 11
                date_created: 'Tue, 05 Mar 2019 21:40:11 +0000'
                date_modified: 'Mon, 11 Mar 2019 15:17:25 +0000'
                date_shipped: ''
                status_id: 7
                status: Awaiting Payment
                subtotal_ex_tax: '62.6793'
                subtotal_inc_tax: '67.8400'
                subtotal_tax: '4.4000'
                base_shipping_cost: '12.0000'
                shipping_cost_ex_tax: '11.0900'
                shipping_cost_inc_tax: '12.0000'
                shipping_cost_tax: '0.9100'
                shipping_cost_tax_class_id: 0
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 0
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 0
                total_ex_tax: '64.5300'
                total_inc_tax: '69.8400'
                total_tax: '5.3100'
                items_total: 4
                items_shipped: 0
                payment_method: Cash
                payment_provider_id: ''
                payment_status: authorized
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: ''
                ip_address_v6: ''
                geoip_country: ''
                geoip_country_iso2: ''
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '5.0000'
                coupon_discount: '5.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: 7e48f7ef-2e88-4817-aea4-b0ed01490114
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 555 East Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: 78108
                  country: United States
                  country_iso2: US
                  phone: 1234567890
                  email: janedoe@example.com
                  form_fields:
                    - name: Delivery Instructions
                      value: Leave in backyard
                is_email_opt_in: false
                credit_card_type: null
                order_source: external
                channel_id: 1
                external_source: null
                products:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/218/products'
                  resource: /orders/218/products
                shipping_addresses:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/218/shippingaddresses'
                  resource: /orders/218/shippingaddresses
                coupons:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/218/coupons'
                  resource: /orders/218/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: BasicTaxProvider
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Awaiting Payment
                customer_locale: en
                external_order_id: external-order-id
            'Multiple Items':
              value:
                id: 247
                customer_id: 11
                date_created: 'Thu, 20 Jun 2019 16:07:08 +0000'
                date_modified: 'Thu, 20 Jun 2019 16:07:08 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: 924.47
                subtotal_inc_tax: 1000.74
                subtotal_tax: 76.27
                base_shipping_cost: 8
                shipping_cost_ex_tax: 7.39
                shipping_cost_inc_tax: 8
                shipping_cost_tax: 0.61
                shipping_cost_tax_class_id: 0
                base_handling_cost: 0
                handling_cost_ex_tax: 0
                handling_cost_inc_tax: 0
                handling_cost_tax: 0
                handling_cost_tax_class_id: 0
                base_wrapping_cost: 0
                wrapping_cost_ex_tax: 0
                wrapping_cost_inc_tax: 0
                wrapping_cost_tax: 0
                wrapping_cost_tax_class_id: 0
                total_ex_tax: 931.86
                total_inc_tax: 1008.74
                total_tax: 76.88
                items_total: 11
                items_shipped: 0
                payment_method: Test Payment Gateway
                payment_provider_id: ''
                payment_status: captured
                refunded_amount: 0
                order_is_digital: false
                store_credit_amount: 0
                gift_certificate_amount: 0
                ip_address: 70.112.53.67
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code": USD
                currency_exchange_rate: 1
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: BIN-45
                customer_message: Custom Journal Added
                discount_amount: 0
                coupon_discount": 0
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: 0
                cart_id: 8b84f622-faf1-4c10-887b-f5dff2f9eaf4
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 555 East Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78108'
                  country: United States
                  country_iso2: US
                  phone: '1234567890'
                  email: janedoe@email.com
                  form_fields:
                    name: Delivery Instructions
                    value: Leave in backyard
                is_email_opt_in: false
                credit_card_type: {}
                order_source: manual
                channel_id: 1
                external_source: {}
                products:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/products'
                  resource: /orders/247/products
                shipping_addresses:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/shippingaddresses'
                  resource: /orders/247/shippingaddresses
                coupons:
                  url: 'https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/coupons'
                  resource: /orders/247/coupons
                external_id: {}
                external_merchant_id: {}
                tax_provider_id: BasicTaxProvider
                store_default_currency_code: USD
                store_default_to_transactional_exchange_rate: 1
                custom_status: Awaiting Fulfillment
                customer_locale: en
                external_order_id: external-order-id
    orderCouponsCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/orderCoupons_Base'
          examples:
            response:
              value:
                - id: 3
                  coupon_id: 1
                  order_id: 120
                  code: S2549JM0Y
                  amount: 5
                  type: 2
                  discount: 5
    orderMessagesCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/orderMessages'
          examples:
            response:
              value:
                - id: 2
                  order_id: 181
                  staff_id: 1
                  customer_id: 11
                  type: admin
                  subject: 'Re: Order #181'
                  message: Thank you again!
                  status: unread
                  is_flagged: false
                  date_created: 'Wed, 26 Sep 2018 15:52:03 +0000'
                  customer: {}
    orderProductsCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/orderProducts'
          examples:
            response:
              value:
                - id: 65
                  order_id: 149
                  product_id: 77
                  order_address_id: 51
                  name: Fog Linen Chambray Towel - Beige Stripe
                  name_customer: Fog Linen Chambray Towel - Beige Stripe
                  name_merchant: Fog Linen Chambray Towel - Beige Stripe
                  sku: S-ORAN
                  upc: '1234567891112'
                  type: physical
                  base_price: '55.9900'
                  price_ex_tax: '55.9900'
                  price_inc_tax: '65.2300'
                  price_tax: '9.2400'
                  base_total: '55.9900'
                  total_ex_tax: '55.9900'
                  total_inc_tax: '65.2300'
                  total_tax: '9.2400'
                  weight: '1.0000'
                  quantity: 1
                  base_cost_price: '50.0000'
                  cost_price_inc_tax: '50.0000'
                  cost_price_ex_tax: '50.0000'
                  cost_price_tax: '0.0000'
                  is_refunded: false
                  quantity_refunded: 0
                  refund_amount: '0.0000'
                  return_id: 0
                  wrapping_name: ''
                  base_wrapping_cost: '0.0000'
                  wrapping_cost_ex_tax: '0.0000'
                  wrapping_cost_inc_tax: '0.0000'
                  wrapping_cost_tax: '0.0000'
                  wrapping_message: ''
                  quantity_shipped: 0
                  fixed_shipping_cost: '5.0000'
                  ebay_item_id: ''
                  ebay_transaction_id: ''
                  option_set_id: 19
                  parent_order_product_id: null
                  is_bundled_product: false
                  bin_picking_number: ''
                  external_id: null
                  fulfillment_source: ''
                  brand: BigCommerce
                  applied_discounts:
                    - id: manual-discount
                      amount: '1.5900'
                      name: Manual Discount
                      code: null
                      target: order
                  product_options:
                    - id: 45
                      option_id: 18
                      order_product_id: 65
                      product_option_id: 120
                      display_name: Size
                      display_name_customer: Size
                      display_name_merchant: Size
                      display_value: S
                      display_value_customer: S
                      display_value_merchant: S
                      value: '69'
                      type: Multiple choice
                      name: Apparel sizes
                      display_style: Rectangle
                    - id: 46
                      option_id: 3
                      order_product_id: 65
                      product_option_id: 121
                      display_name: Color
                      display_value: Orange
                      display_value_customer: S
                      display_value_merchant: S
                      value: '112'
                      type: Swatch
                      name: Colors
                      display_style: ''
                    - id: 47
                      option_id: 37
                      order_product_id: 65
                      product_option_id: 122
                      display_name: Add Letters
                      display_value: Text Field
                      value: Text Field
                      type: Text field
                      name: Add Letters
                      display_style: ''
                    - id: 48
                      option_id: 38
                      order_product_id: 65
                      product_option_id: 123
                      display_name: Is this a gift?
                      display_value: 'Yes'
                      value: '104'
                      type: Checkbox
                      name: Gift Wrapping $5
                      display_style: ''
                    - id: 49
                      option_id: 39
                      order_product_id: 65
                      product_option_id: 124
                      display_name: PickList
                      display_value: Able Brewing System
                      value: '106'
                      type: Product Pick List
                      name: PickList
                      display_style: Pick list
                  configurable_fields: []
                  gift_certificate_id: null
                  discounted_total_inc_tax: '63.6400'
                - id: 66
                  order_id: 149
                  product_id: 86
                  order_address_id: 51
                  name: Able Brewing System
                  sku: ABS
                  type: physical
                  base_price: '0.0000'
                  price_ex_tax: '0.0000'
                  price_inc_tax: '0.0000'
                  price_tax: '0.0000'
                  base_total: '0.0000'
                  total_ex_tax: '0.0000'
                  total_inc_tax: '0.0000'
                  total_tax: '0.0000'
                  weight: '0.0000'
                  quantity: 1
                  base_cost_price: '50.0000'
                  cost_price_inc_tax: '50.0000'
                  cost_price_ex_tax: '50.0000'
                  cost_price_tax: '0.0000'
                  is_refunded: false
                  quantity_refunded: 0
                  refund_amount: '0.0000'
                  return_id: 0
                  wrapping_name: ''
                  base_wrapping_cost: '0.0000'
                  wrapping_cost_ex_tax: '0.0000'
                  wrapping_cost_inc_tax: '0.0000'
                  wrapping_cost_tax: '0.0000'
                  wrapping_message: ''
                  quantity_shipped: 0
                  event_name: null
                  event_date: null
                  fixed_shipping_cost: '0.0000'
                  ebay_item_id: ''
                  ebay_transaction_id: ''
                  option_set_id: null
                  parent_order_product_id: 65
                  is_bundled_product: true
                  bin_picking_number: BIN
                  external_id: null
                  fulfillment_source: ''
                  brand: BigCommerce
                  applied_discounts: []
                  product_options: []
                  configurable_fields: []
                  gift_certificate_id: null
                  discounted_total_inc_tax: '0.0000'
    orderProductLineItem_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/orderProducts'
          examples:
            Product:
              value:
                id: 116
                order_id: 181
                product_id: 188
                order_address_id: 81
                name: Dustpan & Brush
                name_customer: Dustpan & Brush
                name_merchant: Dustpan & Brush
                sku: DUST1
                upc: '1234567891112'
                type: physical
                base_price: '31.9500'
                price_ex_tax: '31.9500'
                price_inc_tax: '37.2300'
                price_tax: '5.2800'
                base_total: '31.9500'
                total_ex_tax: '31.9500'
                total_inc_tax: '37.2300'
                total_tax: '5.2800'
                weight: '2.0000'
                quantity: 1
                base_cost_price: '50.0000'
                cost_price_inc_tax: '50.0000'
                cost_price_ex_tax: '50.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: null
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                brand: BigCommerce
                applied_discounts: []
                product_options: []
                discounted_total_inc_tax: '37.2300'
            Product with file upload:
              value:
              - id: 35
                order_id: 125
                product_id: 127
                variant_id: 99
                order_address_id: 18
                name: Journal
                name_customer: Journal
                name_merchant: Journal
                sku: Jour-BLK
                upc: ''
                type: physical
                base_price: '45.0000'
                price_ex_tax: '41.5700'
                price_inc_tax: '45.0000'
                price_tax: '3.4300'
                base_total: '45.0000'
                total_ex_tax: '41.5700'
                total_inc_tax: '45.0000'
                total_tax: '3.4300'
                weight: '0.0000'
                width: '0.0000'
                height: '0.0000'
                depth: '0.0000'
                quantity: 1
                base_cost_price: '50.0000'
                cost_price_inc_tax: '50.0000'
                cost_price_ex_tax: '50.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                brand: BigCommerce
                applied_discounts: []
                product_options:
                  - id: 18
                    option id: 38
                    order_product_id: 35
                    product_option_id: 121
                    display_name: Custom Logo Engraving
                    display_name_customer: Custom Logo Engraving
                    display_name_merchant: Custom Logo Engraving
                    display_value: BigCommerceLogo.jpeg
                    display_value_customer: BigCommerceLogo.jpeg
                    display_value_merchant: BigCommerceLogo.jpeg
                    value: "{\"originalName\":\"BigCommerceLogo.jpeg\",\"temporaryPath\":\"121_fbfb71dfc5a5d911f62d8e35dedd6e45.jpeg\",\"path\":\"f606efcae7e179970b19c3658142c5d0.jpeg\"}"
                    type: File upload field
                    name: Custom Logo Engraving
                    display_style: ""
                configurable_fields: []
                gift_certificate_id: null
            Custom Product:
              value:
                id: 238
                order_id: 247
                product_id: 0
                variant_id: 0
                order_address_id: 151
                name: Journal
                name_customer: Journal
                name_merchant: Journal
                sku: Jour-BLK
                upc: ''
                type: physical
                base_price: '45.0000'
                price_ex_tax: '41.5700'
                price_inc_tax: '45.0000'
                price_tax: '3.4300'
                base_total: '45.0000'
                total_ex_tax: '41.5700'
                total_inc_tax: '45.0000'
                total_tax: '3.4300'
                weight: '0.0000'
                width: '0.0000'
                height: '0.0000'
                depth: '0.0000'
                quantity: 1
                base_cost_price: '50.0000'
                cost_price_inc_tax: '50.0000'
                cost_price_ex_tax: '50.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                brand: BigCommerce
                applied_discounts: []
                product_options: []
                configurable_fields: []
                gift_certificate_id: null
            Product with Variants:
              value:
                id: 240
                order_id: 247
                product_id: 201
                variant_id: 477
                order_address_id: 151
                name: BigCommerce T-Shirt
                name_customer: BigCommerce T-Shirt
                name_merchant: BigCommerce T-Shirt
                sku: SKU-201-Red-Small T-Shirt-Able Brewing System
                upc: ''
                type: physical
                base_price: '235.0000'
                price_ex_tax: '217.0900'
                price_inc_tax: '235.0000'
                price_tax: '17.9100'
                base_total: '940.0000'
                total_ex_tax: '868.3600'
                total_inc_tax: '940.0000'
                total_tax: '71.6400'
                weight: '3.0000'
                width: '3.0000'
                height: '3.0000'
                depth: '3.0000'
                quantity: 4
                base_cost_price: '50.0000'
                cost_price_inc_tax: '50.0000'
                cost_price_ex_tax: '50.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: {}
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: 68
                parent_order_product_id: {}
                is_bundled_product: false
                bin_picking_number: ''
                external_id: {}
                fulfillment_source: ''
                brand: BigCommerce
                applied_discounts: []
            Product with custom message:
              value:
                - id: 143
                  option_id: 96
                  order_product_id: 240
                  product_option_id: 242
                  display_name: Color
                  display_name_customer: Color
                  display_name_merchant: Color
                  display_value: Red
                  display_value_customer: Red
                  display_value_merchant: Red
                  value: '211'
                  type: Swatch
                  name: Color1549572910-201
                  display_style: ''
                - id: 144
                  option_id: 114
                  order_product_id: 240
                  product_option_id: 263
                  display_name: PickList PriceList
                  display_name_customer: PickList PriceList
                  display_name_merchant: PickList PriceList
                  display_value: Able Brewing System
                  display_value_customer: Able Brewing System
                  display_value_merchant: Able Brewing System
                  value: '237'
                  type: Product Pick List
                  name: PickList-PriceList1549572910-201
                  display_style: Pick list with photos
                - id: 145
                  option_id: 97
                  order_product_id: 240
                  product_option_id: 243
                  display_name: T-Shirt Size
                  display_name_customer: T-Shirt Size
                  display_name_merchant: T-Shirt Size
                  display_value: Small T-Shirt
                  display_value_customer: Small T-Shirt
                  display_value_merchant: Small T-Shirt
                  value: '214'
                  type: Multiple choice
                  name: T-Shirt-Size1545071633-201
                  display_style: Rectangle
                - id: 146
                  option_id: 105
                  order_product_id: 240
                  product_option_id: 254
                  display_name: Custom Message
                  display_name_customer: Custom Message
                  display_name_merchant: Custom Message
                  display_value: BigCommerce
                  display_value_customer: BigCommerce
                  display_value_merchant: BigCommerce
                  value: BigCommerce
                  type: Text field
                  name: Custom-Message1549572912-201
                  display_style: ''
                  configurable_fields:
            product_options:
              value:
                - id: 143
                  option_id: 96
                  order_product_id: 240
                  product_option_id: 242
                  display_name: Color
                  display_name_customer: Color
                  display_name_merchant: Color
                  display_value: Red
                  display_value_customer: Red
                  display_value_merchant: Red
                  value: '211'
                  type: Swatch
                  name: Color1549572910-201
                  display_style: ''
                - id: 144
                  option_id: 114
                  order_product_id: 240
                  product_option_id: 263
                  display_name: PickList PriceList
                  display_name_customer: PickList PriceList
                  display_name_merchant: PickList PriceList
                  display_value: Able Brewing System
                  display_value_customer: Able Brewing System
                  display_value_merchant: Able Brewing System
                  value: '237'
                  type: Product Pick List
                  name: PickList-PriceList1549572910-201
                  display_style: Pick list with photos
                - id: 145
                  option_id: 97
                  order_product_id: 240
                  product_option_id: 243
                  display_name: T-Shirt Size
                  display_name_customer: T-Shirt Size
                  display_name_merchant: T-Shirt Size
                  display_value: Small T-Shirt
                  display_value_customer: Small T-Shirt
                  display_value_merchant: Small T-Shirt
                  value: '214'
                  type: Multiple choice
                  name: T-Shirt-Size1545071633-201
                  display_style: Rectangle
                - id: 146
                  option_id: 105
                  order_product_id: 240
                  product_option_id: 254
                  display_name: Custom Message
                  display_name_customer: Custom Message
                  display_name_merchant: Custom Message
                  display_value: BigCommerce
                  display_value_customer: BigCommerce
                  display_value_merchant: BigCommerce
                  value: BigCommerce
                  type: Text field
                  name: Custom-Message1549572912-201
                  display_style: ''
                  configurable_fields: []
    orderShipmentCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/orderShipment'
          examples:
            application/json:
              value:
                - id: 6
                  order_id: 225
                  customer_id: 11
                  order_address_id: 127
                  date_created: 'Mon, 11 Mar 2019 17:22:08 +0000'
                  tracking_number: EJ958083578US
                  merchant_shipping_cost: '0.0000'
                  shipping_method: None
                  comments: Ready to go...
                  shipping_provider: usps
                  tracking_carrier: ''
                  tracking_link: ''
                  billing_address:
                    first_name: Jane
                    last_name: Does
                    company: ''
                    street_1: 123 Main Street
                    street_2: ''
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    phone: ''
                    email: janedoe@example.com
                  shipping_address:
                    first_name: Trishy
                    last_name: Test
                    company: Acme Pty Ltd
                    street_1: 666 Sussex St
                    street_2: ''
                    city: Anywhere
                    state: Some State
                    zip: '12345'
                    country: United States
                    country_iso2: US
                    phone: ''
                    email: elsie@example.com
                  items:
                    - order_product_id: 188
                      product_id: 0
                      quantity: 1
                  generated_tracking_link: http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?strOrigTrackNum=EJ958083578US
                - id: 7
                  order_id: 225
                  customer_id: 11
                  order_address_id: 128
                  date_created: 'Mon, 11 Mar 2019 17:22:31 +0000'
                  tracking_number: EJ958083578UK
                  merchant_shipping_cost: '0.0000'
                  shipping_method: None
                  comments: Janes Order
                  shipping_provider: usps
                  tracking_carrier: ''
                  tracking_link: ''
                  billing_address:
                    first_name: Jane
                    last_name: Does
                    company: ''
                    street_1: 123 Main Street
                    street_2: ''
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    phone: ''
                    email: janedoe@example.com
                  shipping_address:
                    first_name: Jane
                    last_name: Doe
                    company: ''
                    street_1: 555 Main Street
                    street_2: ''
                    city: Austin
                    state: Texas
                    zip: '78751'
                    country: United States
                    country_iso2: US
                    phone: ''
                    email: janedoe@example.com
                  items:
                    - order_product_id: 189
                      product_id: 0
                      quantity: 1
                  generated_tracking_link: http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?strOrigTrackNum=EJ958083578US
    orderShipment_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/orderShipment'
          examples:
            application/json:
              value:
                id: 11
                order_id: 228
                customer_id: 11
                order_address_id: 131
                date_created: 'Wed, 13 Mar 2019 16:35:37 +0000'
                tracking_number: EJ958083578US
                merchant_shipping_cost: '0.0000'
                shipping_method: None
                comments: Ready to go...
                shipping_provider: usps
                tracking_carrier: ''
                tracking_link: ''
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 Main Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@example.com
                shipping_address:
                  first_name: Trishy
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  street_2: ''
                  city: Anywhere
                  state: Some State
                  zip: '12345'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: elsie@example.com
                items:
                  - order_product_id: 194
                    product_id: 0
                    quantity: 1
                  - order_product_id: 195
                    product_id: 0
                    quantity: 1
                generated_tracking_link: http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?strOrigTrackNum=EJ958083578US
    orderCount_Resp:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/orderCount'
          examples:
            response:
              value:
                count: 27
    orderShippingAddressCollection_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/orderShippingAddress'
          examples:
            response:
              value:
                - id: 132
                  order_id: 229
                  first_name: Trishy
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  street_2: ''
[...]
