swagger: '2.0'
basePath: '/stores/{store_hash}/v3'
info:
  title: Pricing
  description: |-
    Get product pricing.

    ## Authentication

    Authenticate requests by including an [OAuth](/api-docs/getting-started/authentication/rest-api-authentication) `access_token` in the request header.

    ```http
    GET /stores/{{STORE_HASH}}/v3/pricing/products
    host: api.bigcommerce.com
    Accept: application/json
    X-Auth-Token: {{ACCESS_TOKEN}}
    ```

    ### OAuth Scopes
    | UI Name  | Permission | Parameter                     |
    |----------|------------|-------------------------------|
    | Products | read-only  | `store_v2_products_read_only` |
  version: ''
paths:
  /pricing/products:
    post:
      summary: Get Prices (Batch)
      operationId: get-prices
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: integer
                description: The channel context that pricing should be evaluated within. The default BC storefront is channel 1
                example: 1
              currency_code:
                type: string
                description: The currency of prices to be returned for this request
                example: USD
              customer_group_id:
                type: integer
                description: 'The customer group relevant for any customer group pricing, tax values, etc.'
              items:
                type: array
                description: The items to fetch prices for
                items:
                  type: object
                  description: Details/configuration for the product to request a price for.
                  properties:
                    product_id:
                      type: integer
                      description: The (required) product ID of the item
                    variant_id:
                      type: number
                      description: The (optional) variant ID of the item
                    options:
                      type: array
                      description: The (optional) option configuration of the product. May be "partially" configured for estimates.
                      items:
                        type: object
                        properties:
                          option_id:
                            type: integer
                            description: The ID of the variant option or modifier option being configured for this product
                          value_id:
                            type: integer
                            description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
            required:
              - channel_id
              - currency_code
              - customer_group_id
              - items
          x-examples:
            example-1:
              channel_id: 1
              currency_code: USD
              customer_group_id: 0
              items:
                - product_id: 0
                  variant_id: 0
                  options:
                    - option_id: 0
                      value_id: 0
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: The product ID this price was generated for
                    variant_id:
                      type: integer
                      description: The (optional) variant ID this price was generated for
                    options:
                      type: array
                      description: The optional product option configuration this price was generated for
                      items:
                        type: object
                        properties:
                          option_id:
                            description: The ID of the variant option or modifier option configured for this price
                            type: integer
                          value_id:
                            description: The selected value ID for the configured option.
                            type: integer
                    retail_price:
                      description: The (optional) RRP/retail price configured for this product. Used for price comparison and storefront display purposes.
                      type: object
                      properties:
                        as_entered:
                          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                          type: number
                        entered_inclusive:
                          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                          type: boolean
                        tax_exclusive:
                          description: The estimated tax exclusive price for this product based on the provided customer group
                          type: number
                        tax_inclusive:
                          description: The estimated tax inclusive price for this product based on the provided customer group
                          type: number
                    sale_price:
                      type: object
                      description: The merchant-entered sale price for a product overwrites the default price. The sale_price is optional.
                      properties:
                        as_entered:
                          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                          type: number
                        entered_inclusive:
                          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                          type: boolean
                        tax_exclusive:
                          description: The estimated tax exclusive price for this product based on the provided customer group
                          type: number
                        tax_inclusive:
                          description: The estimated tax inclusive price for this product based on the provided customer group
                          type: number
                    minimum_advertised_price:
                      type: object
                      description: The minimum advertised price (MAP) allowed to be shown on a storefront. A value supplied by the merchant and used for display purposes.
                      properties:
                        as_entered:
                          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                          type: number
                        entered_inclusive:
                          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                          type: boolean
                        tax_exclusive:
                          description: The estimated tax exclusive price for this product based on the provided customer group
                          type: number
                        tax_inclusive:
                          description: The estimated tax inclusive price for this product based on the provided customer group
                          type: number
                    price:
                      type: object
                      description: The merchant-entered price for a product could be including or excluding tax. Price must be defined when creating a product and serves as the default price.
                      properties:
                        as_entered:
                          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                          type: number
                        entered_inclusive:
                          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                          type: boolean
                        tax_exclusive:
                          description: The estimated tax exclusive price for this product based on the provided customer group
                          type: number
                        tax_inclusive:
                          description: The estimated tax inclusive price for this product based on the provided customer group
                          type: number
                    calculated_price:
                      type: object
                      description: 'The shopper price for a product including modifier, option, and option set rules.  Calculated_price may include or exclude estimates for tax.'
                      properties:
                        as_entered:
                          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                          type: number
                        entered_inclusive:
                          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                          type: boolean
                        tax_exclusive:
                          description: The estimated tax exclusive price for this product based on the provided customer group
                          type: number
                        tax_inclusive:
                          description: The estimated tax inclusive price for this product based on the provided customer group
                          type: number
                    price_range:
                      type: object
                      description: The minimum and maximum price that will typically apply to this product. Only used for complex products (products with variants).
                      properties:
                        minimum:
                          type: object
                          description: The price for a product including estimates for tax
                          properties:
                            as_entered:
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                              type: number
                            entered_inclusive:
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                              type: boolean
                            tax_exclusive:
                              description: The estimated tax exclusive price for this product based on the provided customer group
                              type: number
                            tax_inclusive:
                              description: The estimated tax inclusive price for this product based on the provided customer group
                              type: number
                        maximum:
                          type: object
                          description: The price for a product including estimates for tax
                          properties:
                            as_entered:
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                              type: number
                            entered_inclusive:
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                              type: boolean
                            tax_exclusive:
                              description: The estimated tax exclusive price for this product based on the provided customer group
                              type: number
                            tax_inclusive:
                              description: The estimated tax inclusive price for this product based on the provided customer group
                              type: number
                    retail_price_range:
                      type: object
                      description: The product's variants that will typically apply to this product.
                      properties:
                        minimum:
                          type: object
                          description: The price for a product including estimates for tax
                          properties:
                            as_entered:
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                              type: number
                            entered_inclusive:
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                              type: boolean
                            tax_exclusive:
                              description: The estimated tax exclusive price for this product based on the provided customer group
                              type: number
                            tax_inclusive:
                              description: The estimated tax inclusive price for this product based on the provided customer group
                              type: number
                        maximum:
                          type: object
                          description: The price for a product including estimates for tax
                          properties:
                            as_entered:
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                              type: number
                            entered_inclusive:
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                              type: boolean
                            tax_exclusive:
                              description: The estimated tax exclusive price for this product based on the provided customer group
                              type: number
                            tax_inclusive:
                              description: The estimated tax inclusive price for this product based on the provided customer group
                              type: number
                    bulk_pricing:
                      type: array
                      items:
                        $ref: '#/definitions/BulkPricingTier'
              meta:
                type: object
          examples:
            application/json:
              data:
                - product_id: 1
                  variant_id: 1
                  options:
                    - option_id: 1
                      value_id: 1
                  retail_price:
                    as_entered: 1.5
                    entered_inclusive: true
                    tax_exclusive: 1.1
                    tax_inclusive: 1.5
                  sale_price:
                    as_entered: 1.5
                    entered_inclusive: true
                    tax_exclusive: 1.1
                    tax_inclusive: 1.5
                  minimum_advertised_price:
                    as_entered: 1.5
                    entered_inclusive: true
                    tax_exclusive: 1.1
                    tax_inclusive: 1.5
                  price:
                    as_entered: 1.5
                    entered_inclusive: true
                    tax_exclusive: 1.1
                    tax_inclusive: 1.5
                  calculated_price:
                    as_entered: 1.5
                    entered_inclusive: true
                    tax_exclusive: 1.1
                    tax_inclusive: 1.5
                  price_range:
                    minimum:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    maximum:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                  retail_price_range:
                    minimum:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    maximum:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                  bulk_pricing:
                    - minimum: 1
                      maximum: 1
                      discount_amount: 1
                      discount_type: PERCENT
              meta: {}
      tags:
        - Products
      description: |-
        Calculate batch pricing for products for a specific channel, currency, and customer group.

        **Limits**
        * Limit of 50 concurrent requests.
definitions:
  BulkPricingTier:
    type: object
    properties:
      minimum:
        type: integer
        description: The minumum quantity required to trigger this bulk pricing discount
      maximum:
        type: integer
        description: The maximum quantity (or 0 for unlimited) to trigger this bulk pricing discount
      discount_amount:
        type: number
      discount_type:
        enum:
          - price
          - percent
          - fixed
        type: string
    x-internal: true
  PricingResponse:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            product_id:
              type: integer
              description: The product ID this price was generated for
            variant_id:
              type: integer
              description: The (optional) variant ID this price was generated for
            options:
              type: array
              description: The optional product option configuration this price was generated for
              items:
                type: object
                properties:
                  option_id:
                    description: The ID of the variant option or modifier option configured for this price
                    type: integer
                  value_id:
                    description: The selected value ID for the configured option.
                    type: integer
            retail_price:
              description: The (optional) RRP/retail price configured for this product
              type: object
              properties:
                as_entered:
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  type: number
                entered_inclusive:
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  type: boolean
                tax_exclusive:
                  description: The estimated tax exclusive price for this product based on the provided customer group
                  type: number
                tax_inclusive:
                  description: The estimated tax inclusive price for this product based on the provided customer group
                  type: number
            sale_price:
              type: object
              description: The price for a product including estimates for tax
              properties:
                as_entered:
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  type: number
                entered_inclusive:
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  type: boolean
                tax_exclusive:
                  description: The estimated tax exclusive price for this product based on the provided customer group
                  type: number
                tax_inclusive:
                  description: The estimated tax inclusive price for this product based on the provided customer group
                  type: number
            minimum_advertised_price:
              type: object
              description: The price for a product including estimates for tax
              properties:
                as_entered:
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  type: number
                entered_inclusive:
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  type: boolean
                tax_exclusive:
                  description: The estimated tax exclusive price for this product based on the provided customer group
                  type: number
                tax_inclusive:
                  description: The estimated tax inclusive price for this product based on the provided customer group
                  type: number
            price:
              type: object
              description: The price for a product including estimates for tax
              properties:
                as_entered:
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  type: number
                entered_inclusive:
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  type: boolean
                tax_exclusive:
                  description: The estimated tax exclusive price for this product based on the provided customer group
                  type: number
                tax_inclusive:
                  description: The estimated tax inclusive price for this product based on the provided customer group
                  type: number
            calculated_price:
              type: object
              description: The price for a product including estimates for tax
              properties:
                as_entered:
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  type: number
                entered_inclusive:
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  type: boolean
                tax_exclusive:
                  description: The estimated tax exclusive price for this product based on the provided customer group
                  type: number
                tax_inclusive:
                  description: The estimated tax inclusive price for this product based on the provided customer group
                  type: number
            price_range:
              type: object
              description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
              properties:
                minimum:
                  type: object
                  description: The price for a product including estimates for tax
                  properties:
                    as_entered:
                      description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      type: number
                    entered_inclusive:
                      description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      type: boolean
                    tax_exclusive:
                      description: The estimated tax exclusive price for this product based on the provided customer group
                      type: number
                    tax_inclusive:
                      description: The estimated tax inclusive price for this product based on the provided customer group
                      type: number
                maximum:
                  type: object
                  description: The price for a product including estimates for tax
                  properties:
                    as_entered:
                      description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      type: number
                    entered_inclusive:
                      description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      type: boolean
                    tax_exclusive:
                      description: The estimated tax exclusive price for this product based on the provided customer group
                      type: number
                    tax_inclusive:
                      description: The estimated tax inclusive price for this product based on the provided customer group
                      type: number
            retail_price_range:
              type: object
              description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
              properties:
                minimum:
                  type: object
                  description: The price for a product including estimates for tax
                  properties:
                    as_entered:
                      description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      type: number
                    entered_inclusive:
                      description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      type: boolean
                    tax_exclusive:
                      description: The estimated tax exclusive price for this product based on the provided customer group
                      type: number
                    tax_inclusive:
                      description: The estimated tax inclusive price for this product based on the provided customer group
                      type: number
                maximum:
                  type: object
                  description: The price for a product including estimates for tax
                  properties:
                    as_entered:
                      description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      type: number
                    entered_inclusive:
                      description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      type: boolean
                    tax_exclusive:
                      description: The estimated tax exclusive price for this product based on the provided customer group
                      type: number
                    tax_inclusive:
                      description: The estimated tax inclusive price for this product based on the provided customer group
                      type: number
            bulk_pricing:
              type: array
              items:
                type: object
                properties:
                  minimum:
                    type: integer
                    description: The minumum quantity required to trigger this bulk pricing discount
                  maximum:
                    type: integer
                    description: The maximum quantity (or 0 for unlimited) to trigger this bulk pricing discount
                  discount_amount:
                    type: number
                  discount_type:
                    enum:
                      - price
                      - percent
                      - fixed
                    type: string
      meta:
        type: object
    x-internal: true
  PriceRange:
    type: object
    description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
    properties:
      minimum:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      maximum:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
    x-internal: true
  TaxPrice:
    type: object
    description: The price for a product including estimates for tax
    properties:
      as_entered:
        description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
        type: number
      entered_inclusive:
        description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
        type: boolean
      tax_exclusive:
        description: The estimated tax exclusive price for this product based on the provided customer group
        type: number
      tax_inclusive:
        description: The estimated tax inclusive price for this product based on the provided customer group
        type: number
    x-internal: true
  ItemPricing:
    type: object
    properties:
      product_id:
        type: integer
        description: The product ID this price was generated for
      variant_id:
        type: integer
        description: The (optional) variant ID this price was generated for
      options:
        type: array
        description: The optional product option configuration this price was generated for
        items:
          type: object
          properties:
            option_id:
              description: The ID of the variant option or modifier option configured for this price
              type: integer
            value_id:
              description: The selected value ID for the configured option.
              type: integer
      retail_price:
        description: The (optional) RRP/retail price configured for this product
        type: object
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      sale_price:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      minimum_advertised_price:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      price:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      calculated_price:
        type: object
        description: The price for a product including estimates for tax
        properties:
          as_entered:
            description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            type: number
          entered_inclusive:
            description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            type: boolean
          tax_exclusive:
            description: The estimated tax exclusive price for this product based on the provided customer group
            type: number
          tax_inclusive:
            description: The estimated tax inclusive price for this product based on the provided customer group
            type: number
      price_range:
        type: object
        description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
        properties:
          minimum:
            type: object
            description: The price for a product including estimates for tax
            properties:
              as_entered:
                description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                type: number
              entered_inclusive:
                description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                type: boolean
              tax_exclusive:
                description: The estimated tax exclusive price for this product based on the provided customer group
                type: number
              tax_inclusive:
                description: The estimated tax inclusive price for this product based on the provided customer group
                type: number
          maximum:
            type: object
            description: The price for a product including estimates for tax
            properties:
              as_entered:
                description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                type: number
              entered_inclusive:
                description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                type: boolean
              tax_exclusive:
                description: The estimated tax exclusive price for this product based on the provided customer group
                type: number
              tax_inclusive:
                description: The estimated tax inclusive price for this product based on the provided customer group
                type: number
      retail_price_range:
        type: object
        description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
        properties:
          minimum:
            type: object
            description: The price for a product including estimates for tax
            properties:
              as_entered:
                description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                type: number
              entered_inclusive:
                description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                type: boolean
              tax_exclusive:
                description: The estimated tax exclusive price for this product based on the provided customer group
                type: number
              tax_inclusive:
                description: The estimated tax inclusive price for this product based on the provided customer group
                type: number
          maximum:
            type: object
            description: The price for a product including estimates for tax
            properties:
              as_entered:
                description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                type: number
              entered_inclusive:
                description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                type: boolean
              tax_exclusive:
                description: The estimated tax exclusive price for this product based on the provided customer group
                type: number
              tax_inclusive:
                description: The estimated tax inclusive price for this product based on the provided customer group
                type: number
      bulk_pricing:
        type: array
        items:
          $ref: '#/definitions/BulkPricingTier'
    x-internal: true
  Item:
    type: object
    description: Details/configuration for the product to request a price for.
    properties:
      product_id:
        type: integer
        description: The (required) product ID of the item
      variant_id:
        type: number
        description: The (optional) variant ID of the item
      options:
        type: array
        description: The (optional) option configuration of the product. May be "partially" configured for estimates.
        items:
          type: object
          properties:
            option_id:
              type: integer
              description: The ID of the variant option or modifier option being configured for this product
            value_id:
              type: integer
              description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
    x-internal: true
  PricingRequest:
    type: object
    properties:
      channel_id:
        type: integer
        description: The channel context that pricing should be evaluated within. The default BC storefront is channel 1
        example: 1
      currency_code:
        type: string
        description: The currency of prices to be returned for this request
        example: USD
      customer_group_id:
        type: integer
        description: 'The customer group relevant for any customer group pricing, tax values, etc.'
      items:
        type: array
        description: The items to fetch prices for
        items:
          type: object
          description: Details/configuration for the product to request a price for.
          properties:
            product_id:
              type: integer
              description: The (required) product ID of the item
            variant_id:
              type: number
              description: The (optional) variant ID of the item
            options:
              type: array
              description: The (optional) option configuration of the product. May be "partially" configured for estimates.
              items:
                type: object
                properties:
                  option_id:
                    type: integer
                    description: The ID of the variant option or modifier option being configured for this product
                  value_id:
                    type: integer
                    description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
    x-internal: true
host: api.bigcommerce.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Token: []
tags:
  - name: Products
