openapi: 3.0.1
info:
  title: Pricing
  description: |-
    Get product pricing.

    ## Authentication

    Authenticate requests by including an [OAuth](/api-docs/getting-started/authentication/rest-api-authentication) `access_token` in the request header.

    ```http
    POST /stores/{{STORE_HASH}}/v3/pricing/products
    host: api.bigcommerce.com
    Accept: application/json
    X-Auth-Token: {{ACCESS_TOKEN}}
    ```

    ### OAuth Scopes
    | UI Name  | Permission | Parameter                     |
    |----------|------------|-------------------------------|
    | Products | read-only  | `store_v2_products_read_only` |
  version: ''
servers:
  - url: 'https://api.bigcommerce.com'
security:
  - X-Auth-Token: []
tags:
  - name: Products
paths:
  '/stores/{store_hash}/v3/pricing/products':
    post:
      tags:
        - Products
      summary: Get Prices (Batch)
      description: |-
        Calculate batch pricing for products for a specific channel, currency, and customer group.

        **Limits**
        * Limit of 50 concurrent requests.
      operationId: get-prices
      parameters:
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - channel_id
                - currency_code
                - customer_group_id
                - items
              type: object
              properties:
                channel_id:
                  type: integer
                  description: The channel context that pricing should be evaluated within. The default BC storefront is channel 1
                  example: 1
                currency_code:
                  type: string
                  description: The currency of prices to be returned for this request
                  example: USD
                customer_group_id:
                  type: integer
                  description: 'The customer group relevant for any customer group pricing, tax values, etc.'
                items:
                  type: array
                  description: The items to fetch prices for
                  items:
                    type: object
                    properties:
                      product_id:
                        type: integer
                        description: The (required) product ID of the item
                      variant_id:
                        type: number
                        description: The (optional) variant ID of the item
                      options:
                        type: array
                        description: The (optional) option configuration of the product. May be "partially" configured for estimates.
                        items:
                          type: object
                          properties:
                            option_id:
                              type: integer
                              description: The ID of the variant option or modifier option being configured for this product
                            value_id:
                              type: integer
                              description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
                    description: Details/configuration for the product to request a price for.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: integer
                          description: The product ID this price was generated for
                        variant_id:
                          type: integer
                          description: The (optional) variant ID this price was generated for
                        options:
                          type: array
                          description: The optional product option configuration this price was generated for
                          items:
                            type: object
                            properties:
                              option_id:
                                type: integer
                                description: The ID of the variant option or modifier option configured for this price
                              value_id:
                                type: integer
                                description: The selected value ID for the configured option.
                        retail_price:
                          type: object
                          properties:
                            as_entered:
                              type: number
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                            entered_inclusive:
                              type: boolean
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                            tax_exclusive:
                              type: number
                              description: The estimated tax exclusive price for this product based on the provided customer group
                            tax_inclusive:
                              type: number
                              description: The estimated tax inclusive price for this product based on the provided customer group
                          description: The (optional) RRP/retail price configured for this product. Used for price comparison and storefront display purposes.
                        sale_price:
                          type: object
                          properties:
                            as_entered:
                              type: number
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                            entered_inclusive:
                              type: boolean
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                            tax_exclusive:
                              type: number
                              description: The estimated tax exclusive price for this product based on the provided customer group
                            tax_inclusive:
                              type: number
                              description: The estimated tax inclusive price for this product based on the provided customer group
                          description: The merchant-entered sale price for a product overwrites the default price. The sale_price is optional.
                        minimum_advertised_price:
                          type: object
                          properties:
                            as_entered:
                              type: number
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                            entered_inclusive:
                              type: boolean
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                            tax_exclusive:
                              type: number
                              description: The estimated tax exclusive price for this product based on the provided customer group
                            tax_inclusive:
                              type: number
                              description: The estimated tax inclusive price for this product based on the provided customer group
                          description: The minimum advertised price (MAP) allowed to be shown on a storefront. A value supplied by the merchant and used for display purposes.
                        price:
                          type: object
                          properties:
                            as_entered:
                              type: number
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                            entered_inclusive:
                              type: boolean
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                            tax_exclusive:
                              type: number
                              description: The estimated tax exclusive price for this product based on the provided customer group
                            tax_inclusive:
                              type: number
                              description: The estimated tax inclusive price for this product based on the provided customer group
                          description: The merchant-entered price for a product could be including or excluding tax. Price must be defined when creating a product and serves as the default price.
                        calculated_price:
                          type: object
                          properties:
                            as_entered:
                              type: number
                              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                            entered_inclusive:
                              type: boolean
                              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                            tax_exclusive:
                              type: number
                              description: The estimated tax exclusive price for this product based on the provided customer group
                            tax_inclusive:
                              type: number
                              description: The estimated tax inclusive price for this product based on the provided customer group
                          description: 'The shopper price for a product including modifier, option, and option set rules.  Calculated_price may include or exclude estimates for tax.'
                        price_range:
                          type: object
                          properties:
                            minimum:
                              type: object
                              properties:
                                as_entered:
                                  type: number
                                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                                entered_inclusive:
                                  type: boolean
                                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                                tax_exclusive:
                                  type: number
                                  description: The estimated tax exclusive price for this product based on the provided customer group
                                tax_inclusive:
                                  type: number
                                  description: The estimated tax inclusive price for this product based on the provided customer group
                              description: The price for a product including estimates for tax
                            maximum:
                              type: object
                              properties:
                                as_entered:
                                  type: number
                                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                                entered_inclusive:
                                  type: boolean
                                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                                tax_exclusive:
                                  type: number
                                  description: The estimated tax exclusive price for this product based on the provided customer group
                                tax_inclusive:
                                  type: number
                                  description: The estimated tax inclusive price for this product based on the provided customer group
                              description: The price for a product including estimates for tax
                          description: The minimum and maximum price that will typically apply to this product. Only used for complex products (products with variants).
                        retail_price_range:
                          type: object
                          properties:
                            minimum:
                              type: object
                              properties:
                                as_entered:
                                  type: number
                                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                                entered_inclusive:
                                  type: boolean
                                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                                tax_exclusive:
                                  type: number
                                  description: The estimated tax exclusive price for this product based on the provided customer group
                                tax_inclusive:
                                  type: number
                                  description: The estimated tax inclusive price for this product based on the provided customer group
                              description: The price for a product including estimates for tax
                            maximum:
                              type: object
                              properties:
                                as_entered:
                                  type: number
                                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                                entered_inclusive:
                                  type: boolean
                                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                                tax_exclusive:
                                  type: number
                                  description: The estimated tax exclusive price for this product based on the provided customer group
                                tax_inclusive:
                                  type: number
                                  description: The estimated tax inclusive price for this product based on the provided customer group
                              description: The price for a product including estimates for tax
                          description: The product's variants that will typically apply to this product.
                        bulk_pricing:
                          type: array
                          items:
                            $ref: '#/components/schemas/BulkPricingTier'
                  meta:
                    type: object
                    properties: {}
              example:
                data:
                  - product_id: 1
                    variant_id: 1
                    options:
                      - option_id: 1
                        value_id: 1
                    retail_price:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    sale_price:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    minimum_advertised_price:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    price:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    calculated_price:
                      as_entered: 1.5
                      entered_inclusive: true
                      tax_exclusive: 1.1
                      tax_inclusive: 1.5
                    price_range:
                      minimum:
                        as_entered: 1.5
                        entered_inclusive: true
                        tax_exclusive: 1.1
                        tax_inclusive: 1.5
                      maximum:
                        as_entered: 1.5
                        entered_inclusive: true
                        tax_exclusive: 1.1
                        tax_inclusive: 1.5
                    retail_price_range:
                      minimum:
                        as_entered: 1.5
                        entered_inclusive: true
                        tax_exclusive: 1.1
                        tax_inclusive: 1.5
                      maximum:
                        as_entered: 1.5
                        entered_inclusive: true
                        tax_exclusive: 1.1
                        tax_inclusive: 1.5
                    bulk_pricing:
                      - minimum: 1
                        maximum: 1
                        discount_amount: 1
                        discount_type: percent
                meta: {}
components:
  schemas:
    BulkPricingTier:
      type: object
      properties:
        minimum:
          type: integer
          description: The minumum quantity required to trigger this bulk pricing discount
        maximum:
          type: integer
          description: The maximum quantity (or 0 for unlimited) to trigger this bulk pricing discount
        discount_amount:
          type: number
        discount_type:
          type: string
          enum:
            - price
            - percent
            - fixed
      x-internal: false
    PricingResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
                description: The product ID this price was generated for
              variant_id:
                type: integer
                description: The (optional) variant ID this price was generated for
              options:
                type: array
                description: The optional product option configuration this price was generated for
                items:
                  type: object
                  properties:
                    option_id:
                      type: integer
                      description: The ID of the variant option or modifier option configured for this price
                    value_id:
                      type: integer
                      description: The selected value ID for the configured option.
              retail_price:
                type: object
                properties:
                  as_entered:
                    type: number
                    description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  entered_inclusive:
                    type: boolean
                    description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  tax_exclusive:
                    type: number
                    description: The estimated tax exclusive price for this product based on the provided customer group
                  tax_inclusive:
                    type: number
                    description: The estimated tax inclusive price for this product based on the provided customer group
                description: The (optional) RRP/retail price configured for this product
              sale_price:
                type: object
                properties:
                  as_entered:
                    type: number
                    description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  entered_inclusive:
                    type: boolean
                    description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  tax_exclusive:
                    type: number
                    description: The estimated tax exclusive price for this product based on the provided customer group
                  tax_inclusive:
                    type: number
                    description: The estimated tax inclusive price for this product based on the provided customer group
                description: The price for a product including estimates for tax
              minimum_advertised_price:
                type: object
                properties:
                  as_entered:
                    type: number
                    description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  entered_inclusive:
                    type: boolean
                    description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  tax_exclusive:
                    type: number
                    description: The estimated tax exclusive price for this product based on the provided customer group
                  tax_inclusive:
                    type: number
                    description: The estimated tax inclusive price for this product based on the provided customer group
                description: The price for a product including estimates for tax
              price:
                type: object
                properties:
                  as_entered:
                    type: number
                    description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  entered_inclusive:
                    type: boolean
                    description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  tax_exclusive:
                    type: number
                    description: The estimated tax exclusive price for this product based on the provided customer group
                  tax_inclusive:
                    type: number
                    description: The estimated tax inclusive price for this product based on the provided customer group
                description: The price for a product including estimates for tax
              calculated_price:
                type: object
                properties:
                  as_entered:
                    type: number
                    description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                  entered_inclusive:
                    type: boolean
                    description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                  tax_exclusive:
                    type: number
                    description: The estimated tax exclusive price for this product based on the provided customer group
                  tax_inclusive:
                    type: number
                    description: The estimated tax inclusive price for this product based on the provided customer group
                description: The price for a product including estimates for tax
              price_range:
                type: object
                properties:
                  minimum:
                    type: object
                    properties:
                      as_entered:
                        type: number
                        description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      entered_inclusive:
                        type: boolean
                        description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      tax_exclusive:
                        type: number
                        description: The estimated tax exclusive price for this product based on the provided customer group
                      tax_inclusive:
                        type: number
                        description: The estimated tax inclusive price for this product based on the provided customer group
                    description: The price for a product including estimates for tax
                  maximum:
                    type: object
                    properties:
                      as_entered:
                        type: number
                        description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      entered_inclusive:
                        type: boolean
                        description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      tax_exclusive:
                        type: number
                        description: The estimated tax exclusive price for this product based on the provided customer group
                      tax_inclusive:
                        type: number
                        description: The estimated tax inclusive price for this product based on the provided customer group
                    description: The price for a product including estimates for tax
                description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
              retail_price_range:
                type: object
                properties:
                  minimum:
                    type: object
                    properties:
                      as_entered:
                        type: number
                        description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      entered_inclusive:
                        type: boolean
                        description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      tax_exclusive:
                        type: number
                        description: The estimated tax exclusive price for this product based on the provided customer group
                      tax_inclusive:
                        type: number
                        description: The estimated tax inclusive price for this product based on the provided customer group
                    description: The price for a product including estimates for tax
                  maximum:
                    type: object
                    properties:
                      as_entered:
                        type: number
                        description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                      entered_inclusive:
                        type: boolean
                        description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                      tax_exclusive:
                        type: number
                        description: The estimated tax exclusive price for this product based on the provided customer group
                      tax_inclusive:
                        type: number
                        description: The estimated tax inclusive price for this product based on the provided customer group
                    description: The price for a product including estimates for tax
                description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
              bulk_pricing:
                type: array
                items:
                  type: object
                  properties:
                    minimum:
                      type: integer
                      description: The minumum quantity required to trigger this bulk pricing discount
                    maximum:
                      type: integer
                      description: The maximum quantity (or 0 for unlimited) to trigger this bulk pricing discount
                    discount_amount:
                      type: number
                    discount_type:
                      type: string
                      enum:
                        - price
                        - percent
                        - fixed
        meta:
          type: object
          properties: {}
      x-internal: false
    PriceRange:
      type: object
      properties:
        minimum:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
        maximum:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
      description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
      x-internal: false
    TaxPrice:
      type: object
      properties:
        as_entered:
          type: number
          description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
        entered_inclusive:
          type: boolean
          description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
        tax_exclusive:
          type: number
          description: The estimated tax exclusive price for this product based on the provided customer group
        tax_inclusive:
          type: number
          description: The estimated tax inclusive price for this product based on the provided customer group
      description: The price for a product including estimates for tax
      x-internal: false
    ItemPricing:
      type: object
      properties:
        product_id:
          type: integer
          description: The product ID this price was generated for
        variant_id:
          type: integer
          description: The (optional) variant ID this price was generated for
        options:
          type: array
          description: The optional product option configuration this price was generated for
          items:
            type: object
            properties:
              option_id:
                type: integer
                description: The ID of the variant option or modifier option configured for this price
              value_id:
                type: integer
                description: The selected value ID for the configured option.
        retail_price:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The (optional) RRP/retail price configured for this product
        sale_price:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
        minimum_advertised_price:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
        price:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
        calculated_price:
          type: object
          properties:
            as_entered:
              type: number
              description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
            entered_inclusive:
              type: boolean
              description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
            tax_exclusive:
              type: number
              description: The estimated tax exclusive price for this product based on the provided customer group
            tax_inclusive:
              type: number
              description: The estimated tax inclusive price for this product based on the provided customer group
          description: The price for a product including estimates for tax
        price_range:
          type: object
          properties:
            minimum:
              type: object
              properties:
                as_entered:
                  type: number
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                entered_inclusive:
                  type: boolean
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                tax_exclusive:
                  type: number
                  description: The estimated tax exclusive price for this product based on the provided customer group
                tax_inclusive:
                  type: number
                  description: The estimated tax inclusive price for this product based on the provided customer group
              description: The price for a product including estimates for tax
            maximum:
              type: object
              properties:
                as_entered:
                  type: number
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                entered_inclusive:
                  type: boolean
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                tax_exclusive:
                  type: number
                  description: The estimated tax exclusive price for this product based on the provided customer group
                tax_inclusive:
                  type: number
                  description: The estimated tax inclusive price for this product based on the provided customer group
              description: The price for a product including estimates for tax
          description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
        retail_price_range:
          type: object
          properties:
            minimum:
              type: object
              properties:
                as_entered:
                  type: number
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                entered_inclusive:
                  type: boolean
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                tax_exclusive:
                  type: number
                  description: The estimated tax exclusive price for this product based on the provided customer group
                tax_inclusive:
                  type: number
                  description: The estimated tax inclusive price for this product based on the provided customer group
              description: The price for a product including estimates for tax
            maximum:
              type: object
              properties:
                as_entered:
                  type: number
                  description: The price provided by the merchant as entered in their catalog/price list (may be inc or ex)
                entered_inclusive:
                  type: boolean
                  description: 'Whether the `as_entered` price is inclusive or exclusive of tax, based on the stores tax jurisdiction'
                tax_exclusive:
                  type: number
                  description: The estimated tax exclusive price for this product based on the provided customer group
                tax_inclusive:
                  type: number
                  description: The estimated tax inclusive price for this product based on the provided customer group
              description: The price for a product including estimates for tax
          description: 'For estimated prices, the minimum/maximum price that will typically apply to this product'
        bulk_pricing:
          type: array
          items:
            $ref: '#/components/schemas/BulkPricingTier'
      x-internal: false
    Item:
      type: object
      properties:
        product_id:
          type: integer
          description: The (required) product ID of the item
        variant_id:
          type: number
          description: The (optional) variant ID of the item
        options:
          type: array
          description: The (optional) option configuration of the product. May be "partially" configured for estimates.
          items:
            type: object
            properties:
              option_id:
                type: integer
                description: The ID of the variant option or modifier option being configured for this product
              value_id:
                type: integer
                description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
      description: Details/configuration for the product to request a price for.
      x-internal: false
    PricingRequest:
      type: object
      properties:
        channel_id:
          type: integer
          description: The channel context that pricing should be evaluated within. The default BC storefront is channel 1
          example: 1
        currency_code:
          type: string
          description: The currency of prices to be returned for this request
          example: USD
        customer_group_id:
          type: integer
          description: 'The customer group relevant for any customer group pricing, tax values, etc.'
        items:
          type: array
          description: The items to fetch prices for
          items:
            type: object
            properties:
              product_id:
                type: integer
                description: The (required) product ID of the item
              variant_id:
                type: number
                description: The (optional) variant ID of the item
              options:
                type: array
                description: The (optional) option configuration of the product. May be "partially" configured for estimates.
                items:
                  type: object
                  properties:
                    option_id:
                      type: integer
                      description: The ID of the variant option or modifier option being configured for this product
                    value_id:
                      type: integer
                      description: 'The ID of the value matching the option being configured. Note: must be ID, not the value.'
            description: Details/configuration for the product to request a price for.
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      name: X-Auth-Token
      in: header
