openapi: '3.0.3'
info:
  version: ''
  title: Shipping V2
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
  description: |-
    Manage shipping zones, shipping methods, and shipping carrier connections.


    ### Shipping Zones

    The Shipping Zone object and endpoints manage shipping zones within countries.


    ### Shipping Methods

    The Shipping Methods object and endpoints manage shipping rules within Shipping Zones. These rules determine the shipping rates displayed at checkout, and related parts of the control panel, such as the shipping of manual orders.


    ### Shipping Carrier Connections

    Carrier connections refer to specific settings required to connect to a specific shipping carrier. Each carrier requires your app to supply a unique set of properties/fields to establish a connection with that carrier.
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v2'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Shipping Method
  - name: Shipping Carrier
  - name: Shipping Zones
  - name: Shipping Products Custom Information
paths:
  '/shipping/zones':
    parameters:
      - $ref: '#/components/parameters/Accept'
    get:
      description: Returns a list of all *Shipping Zones*.
      summary: Get All Shipping Zones
      tags:
        - Shipping Zones
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Shipping Zone
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Zone ID
                      example: 1
                    name:
                      type: string
                      description: Zone name. Required for PUT requests.
                      example: United States
                    type:
                      type: string
                      enum:
                        - zip
                        - country
                        - state
                        - global
                    locations:
                      description: Array of zone locations.
                      type: array
                      items:
                        title: Shipping Zone Locations
                        type: object
                        properties:
                          id:
                            description: Location’s ID.
                            example: 3
                            type: integer
                          zip:
                            description: Location’s ZIP/postal code.
                            example: '12345'
                            type: string
                          country_iso2:
                            description: 2-letter ISO Alpha-2 code for the country.
                            example: US
                            type: string
                          state_iso2:
                            description: ISO Alpha-2 code for the state.
                            example: TX
                            type: string
                    free_shipping:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        minimum_sub_total:
                          type: string
                          example: '0.0000'
                          description: '(Float, Float-As-String, Integer)'
                        exclude_fixed_shipping_products:
                          type: boolean
                    handling_fees:
                      title: Shipping Zone Handling Fees
                      type: object
                      oneOf:
                        - properties:
                            fixed_surcharge:
                              description: Flat-rate handling fee applied to shipping cost.
                              example: '0'
                              type: string
                            display_separately:
                              description: Indicates whether store displays handling fee separately at checkout.
                              example: true
                              type: boolean
                          title: fixed surcharge
                        - properties:
                            percentage_surcharge:
                              description: Percentage handling fee applied to shipping cost.
                              example: '5'
                              type: string
                            display_separately:
                              description: Indicates whether store displays handling fee separately at checkout.
                              example: true
                              type: boolean
                          title: percentage surcharge
                    enabled:
                      description: Whether this shipping zone is enabled.
                      example: true
                      type: boolean
              examples:
                'Example 1: Zones are Country Zones':
                  value:
                    - id: 1
                      name: United States
                      type: country
                      locations:
                        - id: 5
                          country_iso2: US
                      free_shipping:
                        enabled: false
                        minimum_sub_total: '0.0000'
                        exclude_fixed_shipping_products: false
                      enabled: true
                    - id: 2
                      name: Australia
                      type: country
                      locations:
                        - id: 6
                          country_iso2: AU
                      free_shipping:
                        enabled: false
                        minimum_sub_total: '0.0000'
                        exclude_fixed_shipping_products: false
                      enabled: true
                'Example 2: Zone is Selection of States in a Country':
                  value:
                    - id: 2
                      name: States in the U.S.
                      type: state
                      locations:
                        - id: 3
                          country_iso2: US
                          state_iso2: TX
                        - id: 4
                          country_iso2: US
                          state_iso2: TX
                      free_shipping:
                        enabled: false
                        minimum_sub_total: "0"
                        exclude_fixed_shipping_products: true
                      handling_fees:
                        display_separately: false
                        fixed_surcharge: 0
                      enabled: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAllShippingZones
    post:
      description: Creates a *Shipping Zone*.
      summary: Create a Shipping Zone
      tags:
        - Shipping Zones
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              title: Shipping Zone
              type: object
              properties:
                name:
                  type: string
                  description: Zone name. Required for PUT requests.
                  example: United States
                type:
                  type: string
                  enum:
                    - zip
                    - country
                    - state
                    - global
                locations:
                  description: Array of zone locations.
                  type: array
                  items:
                    title: Shipping Zone Locations
                    type: object
                    properties:
                      id:
                        description: Location’s ID.
                        example: 3
                        type: integer
                      zip:
                        description: Location’s ZIP/postal code.
                        example: '12345'
                        type: string
                      country_iso2:
                        description: 2-letter ISO Alpha-2 code for the country.
                        example: US
                        type: string
                      state_iso2:
                        description: ISO Alpha-2 code for the state.
                        example: TX
                        type: string
                free_shipping:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    minimum_sub_total:
                      type: string
                      example: '0.0000'
                      description: '(Float, Float-As-String, Integer)'
                    exclude_fixed_shipping_products:
                      type: boolean
                handling_fees:
                  title: Shipping Zone Handling Fees
                  type: object
                  oneOf:
                    - properties:
                        fixed_surcharge:
                          description: Flat-rate handling fee applied to shipping cost.
                          example: '0'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: fixed surcharge
                    - properties:
                        percentage_surcharge:
                          description: Percentage handling fee applied to shipping cost.
                          example: '5'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: percentage surcharge
                enabled:
                  description: Whether this shipping zone is enabled.
                  example: true
                  type: boolean
              required:
                - name
                - type
            examples:
              'Type: ZIP':
                value:
                  name: United States
                  type: zip
                  locations:
                    - zip: '11103'
                      country_iso2: US
              'Type: Country':
                value:
                  name: Mexico
                  type: country
                  locations:
                    - country_iso2: MX
              'Type: State':
                value:
                  name: South Carolina
                  type: state
                  locations:
                    - country_iso2: US
                      state_iso2: SC
              'Type: Global':
                value:
                  name: Global
                  type: global
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID.
                    example: 1
                  name:
                    type: string
                    description: Zone name.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
              examples: {}
      operationId: createAShippingZones
  '/shipping/zones/{id}':
    get:
      description: Returns a single *Shipping Zone*.
      summary: Get a Shipping Zones
      tags:
        - Shipping Zones
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID
                    example: 1
                  name:
                    type: string
                    description: Zone name.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location’s ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
      operationId: getAShippingZone
    put:
      description: |-
        Updates a *Shipping Zone*.

        **Required Fields**
        * name

        **Read Only Fields**
        * id
      summary: Update a Shipping Zone
      tags:
        - Shipping Zones
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              title: Shipping Zone
              type: object
              properties:
                id:
                  type: integer
                  description: Zone ID. Read-only.
                  example: 1
                  readOnly: true
                name:
                  type: string
                  description: Zone name. Required for PUT requests.
                  example: United States
                type:
                  type: string
                  enum:
                    - zip
                    - country
                    - state
                    - global
                locations:
                  description: Array of zone locations.
                  type: array
                  items:
                    title: Shipping Zone Locations
                    type: object
                    properties:
                      id:
                        description: Location’s ID.
                        example: 3
                        type: integer
                      zip:
                        description: Location’s ZIP/postal code.
                        example: '12345'
                        type: string
                      country_iso2:
                        description: 2-letter ISO Alpha-2 code for the country.
                        example: US
                        type: string
                      state_iso2:
                        description: ISO Alpha-2 code for the state.
                        example: TX
                        type: string
                free_shipping:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    minimum_sub_total:
                      type: string
                      example: '0.0000'
                      description: '(Float, Float-As-String, Integer)'
                    exclude_fixed_shipping_products:
                      type: boolean
                handling_fees:
                  title: Shipping Zone Handling Fees
                  type: object
                  oneOf:
                    - properties:
                        fixed_surcharge:
                          description: Flat-rate handling fee applied to shipping cost.
                          example: '0'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: fixed surcharge
                    - properties:
                        percentage_surcharge:
                          description: Percentage handling fee applied to shipping cost.
                          example: '5'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: percentage surcharge
                enabled:
                  description: Whether this shipping zone is enabled.
                  example: true
                  type: boolean
              required:
                - name
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID. Read-only.
                    example: 1
                    readOnly: true
                  name:
                    type: string
                    description: Zone name. Required for PUT requests.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location’s ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
                required:
                  - name
      operationId: updateAShippingZone
    delete:
      description: Deletes a *Shipping Zone*.
      summary: Delete a Shipping Zone
      tags:
        - Shipping Zones
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingZone
    parameters:
      - $ref: '#/components/parameters/Accept'
      - name: id
        in: path
        required: true
        description: ID of the shipping zone.
        schema:
          type: integer
          exclusiveMinimum: false
          exclusiveMaximum: false
  '/shipping/zones/{zone_id}/methods':
    get:
      description: 'Returns a list of *Shipping Methods* in a zone. Default sorting is by shipping method ID, from lowest to highest.'
      summary: Get All Shipping Methods in a Zone
      tags:
        - Shipping Method
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/shippingMethod_Full'
              examples:
                Example 1:
                  value:
                    - id: 1
                      name: Flat Rate
                      type: perorder
                      settings:
                        rate: 12
                      enabled: true
                      handling_fees:
                        fixed_surcharge: "0"
                      is_fallback: false
                    - id: 2
                      name: Pickup In Store
                      type: total
                      settings: {}
                      enabled: false
                      handling_fees:
                        fixed_surcharge: "0"
                      is_fallback: false
                    - id: 3
                      name: Ship by Weight
                      type: weight
                      settings:
                        default_cost: 0
                        default_cost_type: fixed_amount
                        range:
                          - lower_limit: 0
                            upper_limit: 20
                            shipping_cost: 8
                          - lower_limit: 20
                            upper_limit: 40
                            shipping_cost: 8
                          - lower_limit: 40
                            upper_limit: 60
                            shipping_cost: 8
                          - lower_limit: 60
                            upper_limit: 80
                            shipping_cost: 8
                      enabled: true
                      handling_fees:
                        fixed_surcharge: "0"
                      is_fallback: false
                    - id: 4
                      name: UPS®
                      type: upsready
                      settings:
                        carrier_options:
                          include_package_value: '1'
                          show_transit_time: '1'
                          destination_type: residential
                          packing_method: combined
                          packaging_type: 2c
                          delivery_services:
                            - Express
                            - Ground
                            - Next_Day_Air
                            - Saver
                            - Standard
                          packaging: []
                      enabled: true
                      handling_fees:
                        fixed_surcharge: "0"
                      is_fallback: false
                Example 2:
                  value:
                    - id: 23225205
                      name: tempo
                      type: royalmail
                      settings: {}
                      enabled: true
                      handling_fees:
                        fixed_surcharge: "0"
                      is_fallback: false
                    - id: 35889344
                      name: Lorem Excepteur esse
                      type: canadapost
                      settings: {}
                      enabled: true
                      handling_fees:
                        percentage_surcharge: "0"
                      is_fallback: false
      operationId: getShippingMethodsZone
    post:
      description: |-
        Creates a *Shipping Method* within a shipping zone. Real Time Carrier Connections are also supported by this endpoint. 
        
        ## Carrier Configurations – Current
        
        This section provides a sample request and a carrier-specific object/property model, for each supported carrier.
        
        ### USPS by Endicia
        
        Example request body:
        
        ```json
        {
            "name": "USPS by Endicia",
            "type": "endicia",
            "settings": {
                "carrier_options": {
                    "delivery_services" : ["PriorityExpress","Priority", "PriorityMailExpressInternational"],
                    "packaging_type" : "LargeFlatRateBox",
                    "show_transit_time" : true
                }
            },
            "enabled": true
        }
        ```
        
        #### USPS by Endicia Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | PriorityExpress, PriorityMailExpressInternational, FirstClassPackageInternationalService, Priority, PriorityMailInternational, First, ParcelSelect, MediaMail |
        | packaging_type | array | FlatRateLegalEnvelope, FlatRatePaddedEnvelope, Parcel, SmallFlatRateBox, MediumFlatRateBox, LargeFlatRateBox, FlatRateEnvelope, RegionalRateBoxA, RegionalRateBoxB |
        |show_transit_time | boolean | true, false |
        
        ### FedEx
        
        Example request body:
        
        ```json
        {
            "name": "FEDEX",
            "type": "fedex",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "PRIORITY_OVERNIGHT",
                        "FEDEX_2_DAY"
                    ],
                    "dropoff_type": "REGULAR_PICKUP",
                    "packaging_type": "FEDEX_ENVELOPE",
                    "packing_method": "SEPARATE",
                    "rate_type": "NONE",
                    "include_package_value": true,
                    "destination_type": "residential"
                }
            },
            "enabled": true
        }
        
        ```
        
        #### FedEx Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | PRIORITY_OVERNIGHT, STANDARD_OVERNIGHT, FIRST_OVERNIGHT, FEDEX_2_DAY, FEDEX_EXPRESS_SAVER, INTERNATIONAL_PRIORITY, INTERNATIONAL_ECONOMY, INTERNATIONAL_FIRST, FEDEX_1_DAY_FREIGHT, FEDEX_2_DAY_FREIGHT, FEDEX_3_DAY_FREIGHT, FEDEX_GROUND, GROUND_HOME_DELIVERY, INTERNATIONAL_PRIORITY_FREIGHT, INTERNATIONAL_ECONOMY_FREIGHT, EUROPE_FIRST_INTERNATIONAL_PRIORITY |
        | dropoff_type | string | REGULAR_PICKUP, REQUEST_COURIER, DROP_BOX, BUSINESS_SERVICE_CENTER, STATION |
        | packaging_type | string | FEDEX_ENVELOPE,  FEDEX_PAK, FEDEX_BOX, FEDEX_TUBE, FEDEX_10KG_BOX, FEDEX_25KG_BOX, YOUR_PACKAGING |
        | packing_method | string | SEPARATE, COMBINED |
        | rate_type | string | NONE, LIST |
        | include_package_value | boolean | true, false |
        | destination_type | string | residential, business |
        
        
        ### UPS Ready
        
        Example request body:
        
        ```json
        {
            "name": "UPS ready",
            "type": "upsready",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "2nd_Day_Air","Standard"
                    ],
                    "packaging_type": "21",
                    "packing_method": "separate",
                    "include_package_value": true,
                    "destination_type": "residential",
                    "show_transit_time" : true
                }
            },
            "enabled": true
        }
        
        ```
        
        #### UPS Ready Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | 2nd_Day_Air, 2nd_Day_Air_AM, 3_Day_Select, Expedited, Express, Express_Plus, Express_Saver, Express_Early_AM, Ground, Next_Day_Air, Next_Day_Air_Early_AM, Next_Day_Air_Saver, Saver, Standard, Today_Dedicated_Courier, Today_Express, Today_Express_Saver, Today_Intercity, Today_Standard, Worldwide_Expedited, Worldwide_Express, Worldwide_Express_Plus, Worldwide_Express_Saver, Worldwide_Saver |
        | destination_type | string | residential, business |
        | packing_method | string | separate, combined |
        | packaging_type | string (only codes allowed) | See the following table |
        | include_package_value | boolean | true, false |
        | show_transit_time | boolean | true, false |
        
        UPS `packaging_type` values include:

        | Code | Description |
        |:----:|:------------|
        | 21 | UPS® Express Box |
        | 24 | UPS® 25 KG Box |
        | 25 | UPS® 10 KG Box |
        | 30 | Pallet |
        | 01 | UPS® Letter |
        | 02 | Customer Supplied Package |
        | 03 | Tube |
        | 04 | PAK |
        | 2a | Small Express Box |
        | 2b | Medium Express Box |
        | 2c | Large Express Box |


        ### Canada Post
        
        Example request body:
        
        ```json
        {
            "name": "Canada Post",
            "type": "canadapost",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "DOM.RP","DOM.EP"
                    ]
                }
            },
            "enabled": true
        }
        
        ```
        
        #### Canada Post Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | DOM.RP, DOM.EP, DOM.XP, DOM.XP.CERT, DOM.PC DOM.LIB, USA.EP, USA.PW.ENV, USA.PW.PAK, USA.PW.PARCEL, USA.SP.AIR, USA.TP, USA.TP.LVM, USA.XP, INT.XP, INT.IP.AIR, INT.IP.SURF, INT.PW.ENV, INT.PW.PAK, INT.PW.PARCEL, INT.SP.AIR, INT.SP.SURF, INT.TP |
        
        ### Australia Post
        
        Example request body:

        ```json
        {
            "name": "Australia Post",
            "type": "auspost",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "AUS_PARCEL_REGULAR",
                "AUS_PARCEL_EXPRESS"
                    ]
                }
            },
            "enabled": true
        }
        
        ```
        
        #### Australia Post Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | AUS_LETTER_REGULAR_SMALL, AUS_LETTER_REGULAR_Large, AUS_LETTER_EXPRESS_SMALL, AUS_LETTER_EXPRESS_MEDIUM, AUS_LETTER_EXPRESS_LARGE, AUS_PARCEL_REGULAR, AUS_PARCEL_REGULAR_SATCHEL_500G, AUS_PARCEL_REGULAR_SATCHEL_3KG, AUS_PARCEL_REGULAR_SATCHEL_5KG, AUS_PARCEL_EXPRESS, AUS_PARCEL_EXPRESS_SATCHEL_500G, AUS_PARCEL_EXPRESS_SATCHEL_3KG, AUS_PARCEL_EXPRESS_SATCHEL_5KG, AUS_PARCEL_COURIER, AUS_PARCEL_COURIER_SATCHEL_MEDIUM, INT_PARCEL_COR_OWN_PACKAGING, INT_PARCEL_EXP_OWN_PACKAGING, INT_PARCEL_STD_OWN_PACKAGING, INT_PARCEL_AIR_OWN_PACKAGING, INT_PARCEL_SEA_OWN_PACKAGING |
        
        ### Royal Mail
        
        Example request body:
        
        ```json
        {
            "name": "Royal Mail",
            "type": "royalmail",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "StandardFirstClass",
                        "StandardSecondClass"
                    ]
                }
            },
            "enabled": true
        }
        ```
        
        #### Royal Mail Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | SpecialDelivery1pm, SpecialDelivery9am, SpecialDelivery1pmSaturday, SpecialDelivery9amSaturday, SignedForFirstClass, SignedForSecondClass, Express9, Express10, ExpressAM, Express24, Express48, StandardFirstClass, StandardSecondClass, InternationalStandard, InternationalTracked, InternationalEconomy |
        
        ### Zoom2U
        
        Example request body:
        
        ```json
        {
            "name": "Zoom2U",
            "type": "zoom2u",
            "settings": {
                "carrier_options": {
                    "delivery_services": [
                        "3_hour",
                "Same_day",
                "VIP"
                    ]
                }
            },
            "enabled": true
        }
        ```

        #### Zoom2U Object Properties
        
        | Property | Type | Values |
        |:---------|:-----|:-------|
        | delivery_services | array | 3_hour, Same_day, VIP|
        
        ### Settings Objects 
        
        A shipping methodʼs `type` and `settings` properties can match one of the following models:
        
        #### perorder Object – Properties 
        
        Object model for flat-rate shipping quotes per order.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | rate | number | Flat rate per order. |
        
        Example request body: 
        
        ```json
        {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
          }
        }
        ```
        
        #### peritem Object – Properties 
        
        Object model for flat-rate shipping quotes per item ordered.
        
        | Name | Type | Description |
        |:-----|:-----|:------------|
        | rate | number | Flat rate per item. |
        
        Ezample request body:
        
        ```json
        {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
          }
        }
        ```
        
        #### weight Object – Properties 
        
        Object model for shipping quotes by weight.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the storeʼs control panel. |
        
        Example request body:
        
        ```json
        {
          "name": "Rate per Weight",
          "type": "weight",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 20,
                "shipping_cost": 8
              },
              {
                "lower_limit": 20,
                "upper_limit": 40,
                "shipping_cost": 12
              }
            ]
          }
        }
        ```
        
        #### total Object – Properties 
        
        Object model for shipping quotes by orderʼs total value.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the storeʼs currency. |
        
        Example request body:
        
        This example sets free shipping above a certain order total:
        
        ```json
        {
          "name": "Per Total or Free",
          "type": "total",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 5,
                "shipping_cost": 5
              },
              {
                "lower_limit": 5,
                "upper_limit": 10,
                "shipping_cost": 8
              },
              {
                "lower_limit": 10,
                "upper_limit": 20,
                "shipping_cost": 10
              },
              {
                "lower_limit": 20,
                "upper_limit": 49.99,
                "shipping_cost": 15
              },
              {
                "lower_limit": 50,
                "upper_limit": 100000,
                "shipping_cost": 0
              }       
            ]
          }
        }
        ```
        
        #### Range Object – Properties 
        
        Object model to define ranges for shipping quotes. Units are defined in the parent object.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | lower_limit | number | Lower limit for order total. |
        | upper_limit | number | Upper limit for order total. |
        | shipping_cost | number | Shipping cost for orders whose total falls between the lower and upper limits. |
        
        
        Example request body: 
        
        ```json
        {
          "lower_limit": 0,
          "upper_limit": 20,
          "shipping_cost": 8
        }
        ```
      summary: Create a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shippingMethod_Base'
            example:
              name: Per Order
              type: perorder
              settings:
                rate: 8
              enabled: true
              handling_fees:
                fixed_surcharge: "3"
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shippingMethod_Full'
              examples:
                Example 1:
                  value:
                    id: 5
                    name: Per Order
                    type: perorder
                    settings:
                      rate: 8
                    enabled: true
                    handling_fees:
                      fixed_surcharge: "3"
                Example 2:
                  value:
                    id: 19609616
                    name: ad sed
                    type: auspost
                    settings: {}
                    enabled: false
                    handling_fees:
                      fixed_surcharge: "0"
                    is_fallback: false
      operationId: createAShippingMethod
    parameters:
      - $ref: '#/components/parameters/Accept'
      - name: zone_id
        in: path
        required: true
        description: ID of the shipping zone.
        schema:
          type: integer
          exclusiveMinimum: false
          exclusiveMaximum: false
  '/shipping/zones/{zone_id}/methods/{method_id}':
    get:
      description: |-
        Returns a single *Shipping Method* in a zone. Real Time Carrier Connections are also supported by this endpoint.

        ### Settings Objects

        A shipping methodʼs `type` and `settings` properties can match one of the following models:

        ### perorder Object – Properties

        Object model for flat-rate shipping quotes per order.

        | Name | Type | Description |
        | - | - | - |
        | rate | number | Flat rate per order. |

        #### JSON Example

        ```json
        {
            "name": "Flat Rate per Order",
            "type": "perorder",
            "settings": {
                "rate": 7
        },
        ```

        ### peritem Object – Properties

        Object model for flat-rate shipping quotes per item ordered.

        | Name | Type | Description |
        | - | - | - |
        | rate | number | Flat rate per item. |

        #### JSON Example

        ```json
        {
            "name": "Flat Rate per Item",
            "type": "peritem",
            "settings": {
                "rate": 8
        },
        ```

        ### weight Object – Properties

        Object model for shipping quotes by weight.

        | Name | Type | Description |
        | - | - | - |
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the storeʼs control panel. |


        #### JSON Example
        ```json
        {
            "name": "Rate per Weight",
            "type": "weight",
            "settings": {
                "default_cost": 12,
                "default_cost_type": "fixed_amount",
                "range": [
                    {
                        "lower_limit": 0,
                        "upper_limit": 20,
                        "shipping_cost": 8
                    },
                    {
                        "lower_limit": 20,
                        "upper_limit": 40,
                        "shipping_cost": 12
                    }
                ]
            }
        }
        ```

        ### total Object – Properties

        Object model for shipping quotes by orderʼs total value.

        | Name | Type | Description |
        | - | - | - |
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the storeʼs currency. |

        #### JSON Example

        This example sets free shipping above a certain order total:

        ```json
        {
            "name": "Per Total or Free",
            "type": "total",
            "settings": {
                "default_cost": 12,
                "default_cost_type": "fixed_amount",
                "range": [
                    {
                        "lower_limit": 0,
                        "upper_limit": 5,
                        "shipping_cost": 5
                    },
                    {
                        "lower_limit": 5,
                        "upper_limit": 10,
                        "shipping_cost": 8
                    },
                    {
                        "lower_limit": 10,
                        "upper_limit": 20,
                        "shipping_cost": 10
                    },
                    {
                        "lower_limit": 20,
                        "upper_limit": 49.99,
                        "shipping_cost": 15
                    },
                    {
                        "lower_limit": 50,
                        "upper_limit": 100000,
                        "shipping_cost": 0
                    }
                ]
            }
        }
        ```

        ### Range Object – Properties

        Object model to define ranges for shipping quotes. Units are defined in the parent object.

        | Name | Type | Description |
        | - | - | - |
        | lower_limit | number | Lower limit for order total. |
        | upper_limit | number | Upper limit for order total. |
        | shipping_cost | number | Shipping cost for orders whose total falls between the lower and upper limits. |

        #### JSON Example

        ```json
        {
            "lower_limit": 0,
            "upper_limit": 20,
            "shipping_cost": 8
        }
        ```
      summary: Get a Shipping Method
      tags:
        - Shipping Method
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Method
                type: object
                properties:
                  id:
                    description: Shipping method ID. Read-only.
                    example: 1
                    type: integer
                    readOnly: true
                  name:
                    description: Display name for shipping method.
                    example: Flat Rate
                    type: string
                  type:
                    $ref: '#/components/schemas/ShippingMethodType'
                  settings:
                    description: 'Depends on the shipping method type. See the [supported settings object](#supported-settings).'
                    type: object
                  enabled:
                    description: Whether or not this shipping zone method is enabled.
                    example: true
                    type: boolean
                  handling_fees:
                    oneOf:
                      - title: fixed surcharge
                        properties:
                          fixed_surcharge:
                            type: number
                            description: Flat-rate handling fee applied to shipping cost.
                            example: 0
                      - title: percentage surcharge
                        properties:
                          percentage_surcharge:
                            type: number
                            description: Percentage handling fee applied to shipping cost.
                            example: 0
                    type: object
                  is_fallback:
                    description: Whether or not this shipping zone is the fallback if all others are not valid for the order.
                    example: false
                    type: boolean
              examples:
                Example 1:
                  value:
                    id: 1
                    name: Flat Rate
                    type: perorder
                    settings:
                      rate: 12
                    enabled: true
                    handling_fees:
                      fixed_surcharge: "0"
                    is_fallback: false
                Example 2:
                  value:
                    id: 71711609
                    name: nisi
                    type: weight
                    settings: {}
                    enabled: false
                    handling_fees:
                      percentage_surcharge: "0"
                    is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAShippingMethod
    put:
      description: |-
        Updates a *Shipping Method* in a zone. Real Time Carrier Connections are also supported by this endpoint. 
        
        **Read Only Fields**
        * id
        
        ### Settings Objects 
        
        A shipping methodʼs `type` and `settings` properties can match one of the following models:
        
        #### perorder Object – Properties 
        
        Object model for flat-rate shipping quotes per order.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | rate | number | Flat rate per order. |
        
        Example response: 
        
        ```json
        {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
          }
        },
        ```
        
        #### peritem Object – Properties 
        
        Object model for flat-rate shipping quotes per item ordered.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | rate | number | Flat rate per item. |
        
        Example response: 
        
        ```json
        {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
          }
        },
        ```
        
        #### weight Object – Properties 
        
        Object model for shipping quotes by weight.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the storeʼs control panel. |
        
        
        Example response: 
        
        ```json
        {
          "name": "Rate per Weight",
          "type": "weight",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 20,
                "shipping_cost": 8
              },
              {
                "lower_limit": 20,
                "upper_limit": 40,
                "shipping_cost": 12
              }
            ]
          }
        }
        ```
        
        #### total Object – Properties 
        
        Object model for shipping quotes by orderʼs total value.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | default_cost | number &#124; null | Default shipping cost, applied either as a percentage of the orderʼs total value or as a fixed amount. If default cost is not required, you can supply a value of null. |
        | default_cost_type | string | How the default shipping cost is calculated; either `percentage_of_total` or `fixed_amount`. |
        | range | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the storeʼs currency. |
        
        Example response: 
        
        This example sets free shipping above a certain order total:
        
        ```json
        {
          "name": "Per Total or Free",
          "type": "total",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 5,
                "shipping_cost": 5
              },
              {
                "lower_limit": 5,
                "upper_limit": 10,
                "shipping_cost": 8
              },
              {
                "lower_limit": 10,
                "upper_limit": 20,
                "shipping_cost": 10
              },
              {
                "lower_limit": 20,
                "upper_limit": 49.99,
                "shipping_cost": 15
              },
              {
                "lower_limit": 50,
                "upper_limit": 100000,
                "shipping_cost": 0
              }       
            ]
          }
        }
        ```
        
        #### Range Object – Properties 
        
        Object model to define ranges for shipping quotes. Units are defined in the parent object.
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | lower_limit | number | Lower limit for order total. |
        | upper_limit | number | Upper limit for order total. |
        | shipping_cost | number | Shipping cost for orders whose total falls between the lower and upper limits. |
        
        Example response: 
        
        ```json
        {
          "lower_limit": 0,
          "upper_limit": 20,
          "shipping_cost": 8
        }
        ```

      summary: Update a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shippingMethod_Base'
            example:
              settings:
                rate: 11
              handling_fees:
                fixed_surcharge: "0"
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shippingMethod_Full'
              examples:
                Example 1:
                  value:
                    id: 5
                    name: Per Order
                    type: perorder
                    settings:
                      rate: 11
                    enabled: true
                    handling_fees:
                      fixed_surcharge: "0"
                Example 2:
                  value:
                    id: 8176684
                    name: in incididunt amet adipisicing
                    type: endicia
                    settings: {}
                    enabled: false
                    handling_fees:
                      fixed_surcharge: "0"
                    is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: updateAShippingMethod
    delete:
      description: Deletes an *Shipping Method*. Real Time Carrier Connections can also be deleted.
      summary: Delete a Shipping Method
      tags:
        - Shipping Method
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingMethod
    parameters:
      - $ref: '#/components/parameters/Accept'
      - name: zone_id
        in: path
        required: true
        description: ID of the shipping zone.
        schema:
          type: integer
          exclusiveMinimum: false
          exclusiveMaximum: false
      - name: method_id
        in: path
        required: true
        description: ID of the shipping method within the shipping zone.
        schema:
          type: integer
          exclusiveMinimum: false
          exclusiveMaximum: false
  '/shipping/carrier/connection':
    parameters:
      - $ref: '#/components/parameters/Accept'
    put:
      description: |-
        Updates a *Carrier Connection*.

        Updating the carrier connection is done using the same information as creating the connection. This endpoint can be used to update credentials.
      summary: Update a Carrier Connection
      tags:
        - Shipping Carrier
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/carrierConnection'
            example:
              carrier_id: endicia
              connection:
                account_id: yourEndiciaAccountId
                pass_phrase: yourEndiciaPassphrase
        description: The request body will vary by carrier. See [Create a Carrier Connection](/docs/rest-management/shipping-v2/shipping-carrier#create-a-carrier-connection).
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |-
            If a required field is not provided, the request will return a 400 response.

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          content:
            application/json:
              schema: {}
      operationId: updateACarrierConnection
    post:
      description: |-
        Creates a *Carrier Connection*. 
        
        Carrier connections refer to specific settings required to connect to a specific shipping carrier. Each carrier requires your app to supply a unique set of properties/fields to establish a connection with that carrier.
        
        *Notes:*
        
        - There is no `GET` with this resource. It has `PUT`, `POST` and `DELETE`.
            * `PUT` is used to update. The connection can be updated by API.
        
        - Connections created here do not enable the shipping method. To enable the carrier for a shipping zone, use the Shipping Methods API. 
        
        - The Carrier Connection resource returns a 204 for both successful and unsuccessful attempts to connect. If a field is missing, it will return a 400.
        
        ### Australia Post
        
        PUT or POST example request:
        
        ```json
        {
          "carrier_id" : "auspost",
          "connection" : {
            "auth_key" : "yourAusPostAuthKey",
            "test_mode" : false
          }
        }
        ```
        
        DELETE example request:
        
        ```json
        {
          "carrier_id" : "auspost"
        }
        ```
        
        #### Australia Post Connection Object – Properties
        
        Australia Post `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.
        
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | auth_key | string | Australia Post authorization key. |
        | test_mode | boolean | Whether or not to use Australia Post test-mode settings. Acceptable values are `true` or `false`. |
        
        
        ### Endicia
        USPS is connected through Endicia.
        
        PUT or POST example request:
        
        ```json
        {  "carrier_id" : "endicia",
          "connection": {
            "account_id" : "yourEndiciaAccountId",
            "pass_phrase" : "yourEndiciaPassphrase"
          }
        }
        ```
        
        DELETE example request:
        
        ```json
        {
          "carrier_id" : "endicia"
        }
        ```
        
        #### Endicia Connection Object – Properties
        
        Endicia `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.
        
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | account_id | string | Endicia account ID. |
        | passphrase | string | Endicia passphrase. |
        
        
        ### FedEx
        
        PUT or POST example request:
        
        ```json
        {
          "carrier_id" : "fedex",
          "connection" : {
            "key" : "yourFedexKey",
            "password" : "yourFedexPassword",
            "account_number" : "yourFedexAccountNumber",
            "meter_number" : "yourFedexMeterNumber"
          }
        }
        ```
        
        DELETE example request:
        
        ```json
        {
          "carrier_id" : "fedex"
        }
        ```
        
        #### FedEx Connection Object – Properties
        
        FedEx `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.
        
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | key | string | FedEx account ID. | 
        | password | string | FedEx passphrase. |
        | account_number | string | FedEx account number. |
        | meter_number | string | FedEx meter number. |
        
        ### Royal Mail
        
        PUT or POST example request:
        
        ```json
        {
            "carrier_id" : "royalmail",
            "connection" : {
        
            }
        }
        ```
        
        DELETE example request:
        
        ```json
        {
            "carrier_id" : "royalmail"
        }
        ```
        
        #### Royal Mail Connection Object - Properties
        
        Royal Mail has no connection object properties.
        
        ### Shipping Provider API
        
        Please note that this endpoint is not intended for adding connection settings. 
        
        Its purpose is solely to establish a connection between your BigCommerce store and the carrier. If the carrier has no connection settings configured, please leave the connection property empty. However, if the carrier already has connection settings configured, you can utilize this endpoint to establish the connection using the existing connection properties.
        
        PUT or POST example request when your carrier is not configured with any connection settings:
        
        ```json filename="No connection settings configured" showLineNumbers copy
        {
          "carrier_id" : "carrier_{your_carrier_id}",
          "connection" : {}
        }
        ```
        
        PUT or POST example request when your carrier is configured with connection settings:
        
        ```json filename="Connection settings configured" showLineNumbers copy
        {
          "carrier_id" : "carrier_{your_carrier_id}",
          "connection" : {
            "your_configured_key_1": "value_1",
            "your_configured_key_2": "value_2
          }
        }
        ```
        
        ### Zoom2U
        
        PUT or POST example request:
        
        ```json
        {
          "carrier_id" : "zoom2u",
          "connection" : {
            "auth_key" : "yourZoom2uAuthKey",
            "test_mode" : false
          }
        }
        ```
        
        DELETE example request:
        
        ```json
        {
          "carrier_id" : "zoom2u"
        }
        ```
        
        #### Zoom2U Connection Object – Properties
        
        Zoom2U `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.
        
        
        | Property | Type | Description |
        |:---------|:-----|:------------|
        | auth_key | string | Zoom2U authorization key. |
        | test_mode | boolean | Whether or not to use Zoom2U test-mode settings. Acceptable values are `true` or `false`. |
      summary: Create a Carrier Connection
      operationId: createACarrierConnection
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/carrierConnection'
            example:
              carrier_id: auspost
              connection:
                auth_key: yourAusPostAuthKey
                test_mode: false
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |
            Invalid requests will return a 400 response.

                [
                  {
                    "status": 400,
                    "message": "The field 'id' cannot be written to. Please remove it from your request before trying again."
                  }
                ]

            If a required field is not provided, the request will return a 400 response.

                [
                  {
                    "status": 400,
                    "message": "Required fields missing [key]"
                  }
                ]
          content:
            application/json:
              schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Shipping Carrier
    delete:
      description: |-
        Deletes a *Carrier Connection*.

        **Required Fields**
        * carrier_id
      summary: Delete a Carrier Connection
      tags:
        - Shipping Carrier
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                carrier_id:
                  type: string
                  example: fedex
            example:
              carrier_id: fedex
        required: true
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |-
            If a required field is not provided, the request will return a 400 response.

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          content:
            application/json:
              schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteCarrierConnection
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: 'application/json'
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: 'application/json'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Information & Settings | modify | `store_v2_information` |
        |  Information & Settings | read-only | `store_v2_information_read_only` |

        ### Authentication header
        
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts). |
        
        ### Further reading
        
        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/api-docs/getting-started/api-status-codes).
      type: apiKey
      in: header
  schemas:
    TrackingCarrier:
      title: Tracking Carrier
      example: auspost
      type: string
      enum:
        - auspost
        - canadapost
        - endicia
        - usps
        - fedex
        - royalmail
        - ups
        - upsready
        - shipperhq
      x-internal: false
    ShippingProvider:
      title: Shipping Provider
      type: string
      enum:
        - '``'
        - fedex
        - auspost
        - canadapost
        - endicia
        - usps
        - royalmail
        - ups
        - upsready
        - upsonline
        - shipperhq
      example: endicia
      x-internal: false
    ShippingZone:
      title: Shipping Zone
      type: object
      properties:
        id:
          type: integer
          description: Zone ID. Read-only.
          example: 1
          readOnly: true
        name:
          type: string
          description: Zone name. Required for PUT requests.
          example: United States
        type:
          type: string
          enum:
            - zip
            - country
            - state
            - global
        locations:
          description: Array of zone locations.
          type: array
          items:
            title: Shipping Zone Locations
            type: object
            properties:
              id:
                description: Location’s ID.
                example: 3
                type: integer
              zip:
                description: Location’s ZIP/postal code.
                example: '12345'
                type: string
              country_iso2:
                description: 2-letter ISO Alpha-2 code for the country.
                example: US
                type: string
              state_iso2:
                description: ISO Alpha-2 code for the state.
                example: TX
                type: string
        free_shipping:
          type: object
          properties:
            enabled:
              type: boolean
            minimum_sub_total:
              type: string
              example: '0.0000'
              description: '(Float, Float-As-String, Integer)'
            exclude_fixed_shipping_products:
              type: boolean
        handling_fees:
          title: Shipping Zone Handling Fees
          type: object
          oneOf:
            - properties:
                fixed_surcharge:
                  description: Flat-rate handling fee applied to shipping cost.
                  example: '0'
                  type: string
                display_separately:
                  description: Indicates whether store displays handling fee separately at checkout.
                  example: true
                  type: boolean
              title: fixed surcharge
            - properties:
                percentage_surcharge:
                  description: Percentage handling fee applied to shipping cost.
                  example: '5'
                  type: string
                display_separately:
                  description: Indicates whether store displays handling fee separately at checkout.
                  example: true
                  type: boolean
              title: percentage surcharge
        enabled:
          description: Whether this shipping zone is enabled.
          example: true
          type: boolean
      required:
        - name
      x-internal: false
    ShippingZoneLocations:
      title: Shipping Zone Locations
      type: object
      properties:
        id:
          description: Location’s ID.
          example: 3
          type: integer
        zip:
          description: Location’s ZIP/postal code.
          example: '12345'
          type: string
        country_iso2:
          description: 2-letter ISO Alpha-2 code for the country.
          example: US
          type: string
        state_iso2:
          description: ISO Alpha-2 code for the state.
          example: TX
          type: string
      x-internal: false
    HandlingFees:
      title: Shipping Zone Handling Fees
      type: object
      oneOf:
        - properties:
            fixed_surcharge:
              description: Flat-rate handling fee applied to shipping cost.
              example: '0'
              type: string
            display_separately:
              description: Indicates whether store displays handling fee separately at checkout.
              example: true
              type: boolean
          title: fixed surcharge
        - properties:
            percentage_surcharge:
              description: Percentage handling fee applied to shipping cost.
              example: '5'
              type: string
            display_separately:
              description: Indicates whether store displays handling fee separately at checkout.
              example: true
              type: boolean
          title: percentage surcharge
      x-internal: false
    shippingMethod_Full:
      title: shippingMethod_Full
      allOf:
        - type: object
          properties:
            id:
              description: Shipping method ID. Read-only.
              example: 1
              type: integer
              readOnly: true
        - $ref: '#/components/schemas/shippingMethod_Base'
      x-internal: false
    ShippingMethodType:
      title: Shipping Method Type
      example: perorder
      type: string
      enum:
        - perorder
        - peritem
        - weight
        - total
        - auspost
        - canadapost
        - endicia
        - usps
        - fedex
        - royalmail
        - upsready
        - freeshipping
      x-internal: false
    shippingMethod_Base:
      title: shippingMethod_Base
      type: object
      x-internal: false
      properties:
        name:
          description: Display name for shipping method.
          example: Flat Rate
          type: string
        type:
          $ref: '#/components/schemas/ShippingMethodType'
        settings:
          description: 'Depends on the shipping method type. See the [supported settings object](#supported-settings).'
          type: object
          properties:
            rate:
              type: number
              description: Flat rate per order.
              example: 7
        enabled:
          description: Whether or not this shipping zone method is enabled.
          example: true
          type: boolean
        handling_fees:
          oneOf:
            - title: fixed surcharge
              properties:
                fixed_surcharge:
                  type: number
                  description: Flat-rate handling fee applied to shipping cost.
                  example: 0
            - title: percentage surcharge
              properties:
                percentage_surcharge:
                  type: number
                  description: Percentage handling fee applied to shipping cost.
                  example: 0
          type: object
        is_fallback:
          description: Whether or not this shipping zone is the fallback if all others are not valid for the order.
          example: false
          type: boolean
    ShippingResponse:
      type: object
      properties: {}
      title: ShippingResponse
      x-internal: false
    carrierConnection:
      type: object
      title: Carrier Connection
      properties:
        carrier_id:
          type: string
        connection:
          type: object
          description: The `connection` object varies by carrier.
      x-internal: false
    metaCollection:
      title: metaCollection
      description: Meta data relating to pagination.
      type: object
      properties:
        pagination:
          type: object
          properties:
            total:
              type: integer
              description: Total number of items returned.
              example: 3
            count:
              type: integer
              description: Number of items returned on per page.
              example: 1
            per_page:
              type: integer
              description: Number of items to be displayed per page.
              example: 1
            current_page:
              type: integer
              description: Current page number.
              example: 2
            total_page:
              type: integer
              description: Total number of pages.
              example: 3
            links:
              type: object
              properties:
                previous:
                  type: string
                  description: Query string appended to the resource to return to the previous page.
                  example: '?limit=1&page=1'
                next:
                  type: string
                  description: Query string appended to the resource to proceed to the next page.
                  example: '?limit=1&page=3'
                current:
                  type: string
                  description: Query string appended to the resource to show the current page.
                  example: '?limit=1&page=2'
      x-internal: false

