openapi: '3.0.0'
info:
  version: ''
  title: Store Information
  description: Get Store Information endpoint, manage store profile settings.
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v2'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Store Information
  - name: Time Zone
paths:
  '/store':
    get:
      description: |-
        Returns metadata about the global settings for a store. Some of these values are independently configurable on a per-storefront or per-channel basis. For channel overrides, see [Store Settings](/docs/rest-management/settings).
      summary: Get Store Information
      operationId: getStoreInformation
      tags:
        - Store Information
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreInformation'
              examples:
                response:
                  value:
                    id: abc123
                    account_uuid: "8d4d492f-17a1-4d95-b396-e1c5720815a5"
                    domain: my-awesome.store
                    secure_url: 'https://my-awesome.store'
                    control_panel_base_url: 'https://store-{store_hash}.mybigcommerce.com'
                    status: live
                    name: BigCommerce
                    first_name: Jane
                    last_name: Doe
                    address: BigCommerce
                    country: United States
                    country_code: US
                    phone: ''
                    admin_email: jane.does@example.com
                    order_email: info@janedoes.mybigcommerce.com
                    favicon_url: 'https://cdn8.bigcommerce.com/r-8816ba2f48b0bcf4bec0c1a954c00e0fc36b/img/bc_favicon.ico'
                    timezone:
                      name: America/Chicago
                      raw_offset: -21600
                      dst_offset: -18000
                      dst_correction: true
                      date_format:
                        display: M jS Y
                        export: M jS Y
                        extended_display: 'M jS Y @ g:i A'
                    language: en
                    currency: USD
                    currency_symbol: '$'
                    decimal_separator: '.'
                    thousands_separator: ','
                    decimal_places: 2
                    currency_symbol_location: left
                    weight_units: Ounces
                    dimension_units: Inches
                    dimension_decimal_places: 2
                    dimension_decimal_token: '.'
                    dimension_thousands_token: ','
                    plan_name: Standard
                    plan_level: Standard
                    plan_is_trial: false
                    industry: Technology
                    logo:
                      url: 'https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png'
                    is_price_entered_with_tax: false
                    store_id: 4884484848484
                    default_channel_id: 1
                    default_site_id: 1000
                    active_comparison_modules: []
                    features:
                      stencil_enabled: true
                      sitewidehttps_enabled: true
                      facebook_catalog_id: ''
                      checkout_type: optimized
                      wishlists_enabled: true
                      graphql_storefront_api_enabled: true
                      shopper_consent_tracking_enabled: true
                      multi_storefront_enabled: true
                      storefront_limits: 
                        active: 3
                        total_including_inactive: 4
  '/time':
    get:
      description: Returns the system timestamp at the time of the request. The time resource is useful for validating API authentication details and testing client connections.
      summary: Get System Timestamp
      tags:
        - Time Zone
      operationId: getSystemTimestamp
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeStamp_Full'
              examples:
                response:
                  value:
                    time: 1529512970
components:
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Information & Settings | modify | `store_v2_information` |
        |  Information & Settings | read-only | `store_v2_information_read_only` |

        ### Authentication header
        
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |
        
        ### Further reading
        
        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).
      type: apiKey
      in: header
  schemas:
    StoreInformation:
      title: Store Information
      type: object
      x-tags:
        - Models
      properties:
        id:
          description: The store hash, a unique store identifier.
          example: store_hash
          type: string
        account_uuid:
          description: |-
            The UUID of the account to which the store belongs.
          type: string
          format: uuid
        domain:
          description: Primary domain name.
          example: 'your-store-url.com'
          type: string
        secure_url:
          description: Store’s current HTTPS URL.
          example: 'https://your-store-url.com'
          type: string
        control_panel_base_url:
          type: string
          example: 'https://store-abc123.mybigcommerce.com'
          description: The secure hostname of the control panel.
        status:
          description: The status of the store.
          type: string
          example: live
        name:
          description: Store’s name.
          example: BigCommerce
          type: string
        first_name:
          description: Primary contact’s first name (as defined during the store sign-up process).
          example: Jane
          type: string
        last_name:
          description: Primary contact’s last name (as defined during the store sign-up process).
          example: Doe
          type: string
        address:
          description: Display address.
          example: BigCommerce
          type: string
        country:
          description: Country where the store is located (as defined during the store sign-up process).
          example: United States
          type: string
        phone:
          description: Display phone number.
          type: string
        admin_email:
          description: Email address of the store administrator/owner.
          example: janedoes@example.com
          type: string
        order_email:
          description: Email address for orders and fulfillment.
          example: 'orders@example.com'
          type: string
        timezone:
          $ref: '#/components/schemas/Timezone'
        language:
          description: Default language code.
          example: en
          type: string
        currency:
          description: Default currency code.
          example: USD
          type: string
        currency_symbol:
          description: Default symbol for values in the currency.
          example: '$'
          type: string
        decimal_separator:
          description: Default decimal separator for values in the currency.
          example: '.'
          type: string
        thousands_separator:
          description: Default thousands separator for values in the currency.
          example: ','
          type: string
        decimal_places:
          description: Default decimal places for values in the currency.
          example: 2
          type: integer
        currency_symbol_location:
          description: Default position of the currency symbol (left or right).
          example: left
          type: string
        weight_units:
          description: Default weight units (metric or imperial).
          example: Ounces
          type: string
        dimension_units:
          description: Default dimension units (metric or imperial).
          example: Inches
          type: string
        dimension_decimal_places:
          description: The number of decimal places.
          example: 2
          type: integer
        dimension_decimal_token:
          description: The symbol that separates the whole numbers from the decimal points.
          example: .
          type: string
        dimension_thousands_token:
          description: The symbol used to denote thousands.
          type: string
        plan_name:
          description: Name of the BigCommerce plan to which this store is subscribed.
          example: Standard
          type: string
        plan_level:
          description: Level of the BigCommerce plan to which this store is subscribed.
          example: Standard
          type: string
        plan_is_trial:
          description: Whether the payment plan associated with the store is still in the trial phase.
          type: boolean
          example: false
        industry:
          description: 'Industry, or vertical category, in which the business operates. (As selected from drop-down list during the store sign-up process.)'
          example: Technology
          type: string
        logo:
          description: Either an object describing the logo image, or an empty array.
          anyOf:
            - type: object
              properties:
                url:
                  type: string
                  example: 'https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png'
            - type: array
              items: {}
        is_price_entered_with_tax:
          description: A Boolean value that indicates whether or not prices are entered with tax.
          example: false
          type: boolean
        store_id:
          description: The numeric ID of the store. This is a different unique ID than the store hash.
          type: integer
        default_channel_id:
          description: The ID of the default channel. The ID of the first hosted storefront created on the store is `1`.
          default: 1
          example: 1
          type: integer
        default_site_id:
          description: The BigCommerce ID of the website associated with the default storefront.
          type: integer
          example: 1000
        active_comparison_modules:
          description: ''
          type: array
          items: {}
        features:
          description: |-
            Describes some aspects of the storeʼs tech stack and configuration settings that affect the features available for the store to use.
          type: object
          properties:
            stencil_enabled:
              type: boolean
              example: true
              default: true
              description: Indicates whether a store is using a Stencil theme.
            sitewidehttps_enabled:
              type: boolean
              example: false
              description: Indicates whether there is site-wide https.
            facebook_catalog_id:
              type: string
              description: The ID of the Facebook by Meta catalog. If there is none, this endpoint returns an empty string.
            checkout_type:
              type: string
              example: optimized
              description: |-
                What type of checkout is enabled on the store. Possible values returned are optimized, single (one page), single_customizable (one page for developers), klarna.
              enum:
                - optimized
                - single
                - single_customizable
                - klarna
            wishlists_enabled:
              type: boolean
              example: false
            graphql_storefront_api_enabled:
              type: boolean
              default: true
              example: true
              description: |-
                Describes whether you can use the [GraphQL Storefront API](/graphql-storefront/reference) on this store.
            shopper_consent_tracking_enabled:
              type: boolean
              example: true
              description: |-
                Indicates whether the store is tracking the values of the cookie and privacy consent settings that the shopper consented to and configured.
            multi_storefront_enabled:
              type: boolean
              example: true
              default: false
              description: |-
                Indicates whether the storeʼs plan provides the possibility of using more than one storefront or sales channel. Internally, this value indicates whether the store has the MSF feature flag enabled. 
            storefront_limits:
              type: object
              properties:
                active:
                  type: integer
                  minimum: 1
                  default: 1
                  example: 3
                  description: |-
                    Describes the number of storefronts active on the store. If `multi_storefront_enabled` is `false`, this value is `1`.
                total_including_inactive:
                  type: integer
                  minimum: 1
                  default: 1
                  example: 15
                  description: |-
                    Describes the total number of storefronts associated with the store, including both active and inactive storefronts. The default varies based on store plan.
    Timezone:
      title: Time Zone
      type: object
      properties:
        name:
          description: 'A string identifying the time zone, in the format `Continent/City`.'
          example: America/Chicago
          type: string
        raw_offset:
          description: 'A negative or positive number, identifying the offset from UTC/GMT, in seconds, during winter/standard time.'
          example: -21600
          type: integer
        dst_offset:
          description: 'A negative or positive number, identifying the offset from UTC/GMT, in seconds, during summer/daylight saving time.'
          example: -18000
          type: integer
        dst_correction:
          description: A boolean indicating whether this time zone observes daylight saving time.
          example: true
          type: boolean
        date_format:
          $ref: '#/components/schemas/DateFormat'
      x-internal: false
    DateFormat:
      title: Date Format
      type: object
      properties:
        display:
          description: 'A string that defines dates’ display format, in the pattern `M jS Y`.'
          example: 'M jS Y'
          type: string
        export:
          description: 'A string that defines the CSV export format for orders, customers, and products, in the pattern `M jS Y`.'
          example: 'M jS Y'
          type: string
        extended_display:
          description: 'A string that defines dates’ extended-display format, in the pattern `M jS Y @ g:i A`.'
          example: 'M jS Y @ g:i A'
          type: string
      x-internal: false
    timeStamp_Full:
      type: object
      properties:
        time:
          type: integer
          format: int64
          minimum: 0
      description: Store Time in Unix format.
      title: timeStamp_Full
      x-internal: false
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body. The default is application/xml, but application/json is available when specified.'
      schema:
        type: string
        default: application/xml
