swagger: '2.0'
info:
  version: ''
  title: Store Information
  description: 'Get Store Information endpoint, manage store profile settings.'
host: api.bigcommerce.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/stores/{store_hash}/v2/store':
    get:
      description: Returns metadata about a store.
      summary: Get Store Information
      tags:
        - Store Information
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StoreInformation'
          examples:
            application/json:
              id: abc123
              domain: my-awesome.store
              secure_url: 'https://my-awesome.stor'
              control_panel_base_url: 'https://store-{store_hash}.mybigcommerce.com'
              status: live
              name: BigCommerce
              first_name: Jane
              last_name: Doe
              address: BigCommerce
              country: United States
              country_code: US
              phone: ''
              admin_email: jane.does@example.com
              order_email: info@janedoes.mybigcommerce.com
              favicon_url: 'https://cdn8.bigcommerce.com/r-8816ba2f48b0bcf4bec0c1a954c00e0fc36b/img/bc_favicon.ico'
              timezone:
                name: America/Chicago
                raw_offset: -21600
                dst_offset: -18000
                dst_correction: true
                date_format:
                  display: M jS Y
                  export: M jS Y
                  extended_display: 'M jS Y @ g:i A'
              language: en
              currency: USD
              currency_symbol: $
              decimal_separator: .
              thousands_separator: ','
              decimal_places: 2
              currency_symbol_location: left
              weight_units: Ounces
              dimension_units: Inches
              dimension_decimal_places: 2
              dimension_decimal_token: .
              dimension_thousands_token: ','
              plan_name: Standard
              plan_level: Standard
              industry: ''
              logo:
                url: 'https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png'
              is_price_entered_with_tax: false
              active_comparison_modules: []
              features:
                stencil_enabled: true
                sitewidehttps_enabled: false
                facebook_catalog_id: ''
                checkout_type: optimized
            Response Schema:
              id: nostrud pariatur incididunt
              domain: consequat ut amet
              secure_URL: consectetur ullamco ut Excepteur
              name: id qui cupidatat anim tempor
              first_name: ut dolore elit
              last_name: cupidatat minim
              address: tempor
              country: ex cupidatat
              phone: aliquip dolore pariatur
              admin_email: dolor commodo elit do
              order_email: ea qui
              timezone:
                name: culpa quis sint eiusmod ut
                raw_offset: -25825722
                dst_offset: -97926378
                dst_correction: false
                date_format:
                  display: cupidatat
                  export: est
                  extended_display: cillum qui esse aliquip culpa
              language: nulla commodo incididunt dolor ipsum
              currency: amet in
              currency_symbol: cupidatat deserunt est pariatur
              decimal_separator: in consectetur nisi officia
              thousands_separator: ea irure occaecat qui
              decimal_places: {}
              currency_symbol_location: est cupidatat
              weight_units: minim adipisicing do
              dimension_units: deserunt
              dimension_decimal_places: 50514826
              dimension_decimal_token: deserunt est aliqua Duis
              'dimension_thousands_token:': sint voluptate esse tempor
              plan_name: Ut
              plan_level: pariatur ullamco veniam ad
              industry: pariatur culpa est
              logo:
                url: aliquip in aliqua consectetur ullamco
              is_price_entered_with_tax: false
              features:
                stencil_enabled: true
                sitewidehttps_enabled: anim occaecat exercitation conse
                facebook_catalog_id: aliquip sed adipisicing quis
                checkout_type: qui mollit id aliqua ut
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      produces:
        - Time
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v2/time':
    get:
      description: Returns the system timestamp at the time of the request. The time resource is useful for validating API authentication details and testing client connections.
      summary: Get System Timestamp
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/timeStamp_Full'
          examples:
            application/json:
              time: 1529512970
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Time Zone
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
definitions:
  StoreInformation:
    title: Store Information
    type: object
    properties:
      id:
        description: Unique store identifier.
        example: store_hash
        type: string
      domain:
        description: Primary domain name.
        example: your-store-url.com
        type: string
      secure_URL:
        description: Store’s current HTTPS URL.
        example: 'https://your-store-url.com'
        type: string
      control_panel_base_url:
        type: string
        example: '"https://store-abc123.mybigcommerce.com"'
        description: The secure hostname of the control panel.
      name:
        description: Store's name.
        example: BigCommerce
        type: string
      first_name:
        description: Primary contact’s first name (as defined during the store sign-up process).
        example: Jane
        type: string
      last_name:
        description: Primary contact’s last name (as defined during the store sign-up process).
        example: Doe
        type: string
      address:
        description: Display address.
        example: BigCommerce
        type: string
      country:
        description: Country where the store is located (as defined during the store sign-up process).
        example: United States
        type: string
      phone:
        description: Display phone number.
        type: string
      admin_email:
        description: Email address of the store administrator/owner.
        example: janedoes@example.com
        type: string
      order_email:
        description: Email address for orders and fulfillment.
        example: orders@emai
        type: string
      timezone:
        $ref: '#/definitions/Timezone'
      language:
        description: Default language code.
        example: en
        type: string
      currency:
        description: Default currency code
        example: USD
        type: string
      currency_symbol:
        description: Default symbol for values in the currency.
        example: $
        type: string
      decimal_separator:
        description: Default decimal separator for values in the currency.
        example: .
        type: string
      thousands_separator:
        description: Default thousands separator for values in the currency.
        example: ','
        type: string
      decimal_places:
        description: Default decimal places for values in the currency.
        example: 2
        type: integer
      currency_symbol_location:
        description: Default position of the currency symbol (left or right).
        example: left
        type: string
      weight_units:
        description: Default weight units (metric or imperial).
        example: Ounces
        type: string
      dimension_units:
        description: Default dimension units (metric or imperial).
        example: Inches
        type: string
      dimension_decimal_places:
        description: The number of decimal places.
        example: 2
        type: integer
      dimension_decimal_token:
        description: The symbol that separates the whole numbers from the decimal points.
        example: .
        type: string
      'dimension_thousands_token:':
        description: The symbol used to denote thousands.
        type: string
      plan_name:
        description: Name of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      plan_level:
        description: Level of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      industry:
        description: 'Industry, or vertical category, in which the business operates. (As selected from drop-down list during the store sign-up process.)'
        example: Technology
        type: string
      logo:
        type: object
        properties:
          url:
            type: string
            example: 'https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png"'
      is_price_entered_with_tax:
        description: A Boolean value that indicates whether or not prices are entered with tax.
        example: false
        type: boolean
      active_comparison_modules:
        description: ''
        type: array
        items: {}
      features:
        description: |-
          + `stencil_enabled`: `true` (boolean)
              + `sitewidehttps_enabled`: `false` (boolean)
              + `facebook_catalog_id` (string)
        type: object
        properties:
          stencil_enabled:
            type: boolean
            example: true
            description: Indicates whether a store is using a Stencil theme.
          sitewidehttps_enabled:
            type: string
            example: false
            description: Indicates if there is sitewide https.
          facebook_catalog_id:
            type: string
            description: 'Id of the facebook catalog. If there is none, it returns an empty string. '
          checkout_type:
            type: string
            example: optimized
            description: 'What type of checkout is enabled on the store. Possible values returned are optimized, single (one page), single_customizable (one page for developers), klarna.'
    x-internal: true
  Timezone:
    title: Time Zone
    type: object
    properties:
      name:
        description: 'a string identifying the time zone, in the format: <Continent-name>/<City-name>.'
        example: America/Chicago
        type: string
      raw_offset:
        description: 'a negative or positive number, identifying the offset from UTC/GMT, in seconds, during winter/standard time.'
        example: -21600
        type: integer
      dst_offset:
        description: '"-/+" offset from UTC/GMT, in seconds, during summer/daylight saving time.'
        example: -18000
        type: integer
      dst_correction:
        description: a boolean indicating whether this time zone observes daylight saving time.
        example: true
        type: boolean
      date_format:
        $ref: '#/definitions/DateFormat'
    x-internal: true
  DateFormat:
    title: Date Format
    type: object
    properties:
      display:
        description: 'string that defines dates’ display format, in the pattern: M jS Y'
        example: M jS Y
        type: string
      export:
        description: 'string that defines the CSV export format for orders, customers, and products, in the pattern: M jS Y'
        example: M jS Y
        type: string
      extended_display:
        description: 'string that defines dates’ extended-display format, in the pattern: M jS Y @ g:i A.'
        example: 'M jS Y @ g:i A'
        type: string
    x-internal: true
  timeStamp_Full:
    type: object
    properties:
      time:
        type: integer
        format: int64
        minimum: 0
    description: Store Time in Unix format.
    title: timeStamp_Full
    x-internal: true
tags:
  - name: Store Information
  - name: Time Zone
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: |-
      ### OAuth Scopes
      |  **UI Name** | **Permission** | **Parameter** |
      | --- | --- | --- |
      |  Information & Settings | modify | `store_v2_information` |
      |  Information & Settings | read-only | `store_v2_information_read_only` |

      ### Headers

      |Header|Parameter|Description|
      |-|-|-|
      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

      ### Example

      ```http
      GET /stores/{$$.env.store_hash}/v3/catalog/summary
      host: api.bigcommerce.com
      Content-Type: application/json
      X-Auth-Token: {access_token}
      ```

      * For more information on Authenticating BigCommerce APIs, see: [Authentication](/api-docs/getting-started/authentication). 
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
