openapi: 3.0.0
info:
  title: Webhooks v3
  version: ''
  description: 'Get notified when specific events occur on a BigCommerce store. For more information, see [Webhooks Overview](/api-docs/store-management/webhooks/overview).'
paths:
  '/stores/{store_hash}/v3/hooks':
    post:
      responses:
        '200':
          $ref: '#/components/responses/webhook_Resp'
        '422':
          $ref: '#/components/responses/422_UnprocessableEntity'
      summary: Create a Webhook
      description: Creates a webhook. Only one webhook at a time can be created. Custom headers can be added. Destination URL must be served on port 443 (custom ports are not currently supported).
      operationId: createWebhooks
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook_Base'
            examples:
              Example:
                value:
                  headers: {}
                  scope: '{$$.env.scope}'
                  destination: '{$$.env.destination}'
                  is_active: true
        x-examples:
          application/json:
            scope: store/order/*
            destination: 'https://665b65a6.ngrok.io/webhooks'
            headers: {}
      tags:
        - Webhooks
    get:
      responses:
        '200':
          $ref: '#/components/responses/webhooks_Resp'
      summary: Get Webhooks
      description: |-
        Returns a list of all webhooks on a store associated to the `client_id` used to authenticate the request.

        *Note: BigCommerce determines the `client_id` from the `access_token`.*
      operationId: getAllWebhooks
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/FilterPageParam'
        - $ref: '#/components/parameters/FilterLimitParam'
        - $ref: '#/components/parameters/IsActive'
        - $ref: '#/components/parameters/FilterByScope'
        - $ref: '#/components/parameters/FilterByDestination'
    parameters:
      - schema:
          type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/hooks/{id}':
    get:
      responses:
        '200':
          $ref: '#/components/responses/webhook_Resp'
      description: Return a webhook by ID.
      operationId: getWebhook
      summary: Get a Webhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - schema:
          type: string
        name: store_hash
        in: path
        required: true
    put:
      responses:
        '200':
          $ref: '#/components/responses/webhook_Resp'
      summary: Update a Webhook
      description: Updates a webhook. Custom headers can be added.
      operationId: updateAWebhook
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook_Base'
        x-examples:
          application/json:
            scope: store/cart/lineItem/*
            destination: 'https://myapp.herokuapp.com/'
            is_active: true
            headers:
              User-Name: Hello
              Password: Goodbye
      tags:
        - Webhooks
    delete:
      responses:
        '200':
          $ref: '#/components/responses/webhook_Resp'
      summary: Delete a Webhook
      description: 'Deletes a webhook. Only one webhook at a time can be deleted. When a webhook is deleted, it is returned in the response as a 200 OK.'
      operationId: deleteAWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Content-Type'
tags:
  - name: Webhooks
  - name: Callbacks
security:
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: true
servers:
  - url: 'https://api.bigcommerce.com'
    variables:
      $$.env.store_hash:
        default: '{$$.env.store_hash}'
  - url: 'https://api.bigcommerce.com'
    variables:
      $$.env.store_hash:
        default: '{$$.env.store_hash}'
components:
  parameters:
    WebhookId:
      name: webhook_id
      in: path
      description: The ID of a Webhook.
      required: true
      schema:
        type: integer
    IsActive:
      name: is_active
      in: query
      description: |
        Enables user to filter for webhooks that are active or not.
      schema:
        type: boolean
    FilterByScope:
      name: scope
      in: query
      description: |
        Enables user to filter for webhooks by scope.
      schema:
        type: string
    FilterByDestination:
      name: destination
      in: query
      description: |
        Enables user to filter for webhooks by destination.
      schema:
        type: string
    FilterPageParam:
      name: page
      in: query
      description: |
        Page number.
      required: false
      schema:
        type: integer
    FilterLimitParam:
      name: limit
      in: query
      description: |
        Items count per page.
      required: false
      schema:
        type: integer
    FilterMaxCreatedAtParam:
      name: 'created_at:max'
      in: query
      description: |
        Maximum value for returned data.
      required: false
      schema:
        type: string
    FilterMinCreatedAtParam:
      name: 'created_at:min'
      in: query
      description: |
        Minimum value for returned data.
      required: false
      schema:
        type: string
    Accept:
      in: header
      name: Accept
      schema:
        type: string
        default: application/json
    Content-Type:
      name: Content-Type
      in: header
      schema:
        type: string
        default: application/json
  responses:
    webhooks_Resp:
      description: ''
      content:
        v3:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/webhook_Full'
              meta:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
          examples:
            v3:
              value:
                data:
                  - id: 18048287
                    client_id: m9r6keqmo7h7f23btnpwernbez1kglkl
                    store_hash: sftg45fsd
                    created_at: 1561488106
                    updated_at: 1561488106
                    scope: '`store/order/*`'
                    destination: 'https://665b65a6.ngrok.io/webhooks`'
                    is_active: true
                    headers:
                      custom: string
                meta:
                  pagination:
                    count: 5
                    current_page: 1
                    links:
                      current: '?limit=100&page=1'
                      next: '?limit=100&page=1'
                      previous: '?limit=100&page=1'
                    per_page: 100
                    total: 5
                    total_pages: 1
        v2:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/webhook_Full'
          examples:
            v2:
              value:
                - id: 18048287
                  client_id: m9r6keqmo7h7f23btnp3anbez1kglkl
                  store_hash: anbez1k
                  scope: store/order/*
                  destination: 'https://665b65a6.ngrok.io/webhooks'
                  headers: {}
                  is_active: true
                  created_at: 1561488106
                  updated_at: 1561488106
    502_GatewayError:
      description: 'If something happens during the request that causes it to fail, a 502 response will be returned. A new request should be made; however, it could fail.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 502
                title: A login URL could not be generated. Please try another request.
                type: /api-docs/getting-started/api-status-codes
    504_GatewayTimeout:
      description: 'If this occurs, you should retry the request. Typically retrying the request several times will result in a successful request; However, if you are unable to successfully make a request, please check the BigCommerce system status [here](https://status.bigcommerce.com/). A service is likely down and the request will need to be made again when it is back up (in several hours usually)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDetailed_Full'
          examples:
            response:
              value:
                status: 504
                title: Gateway Timeout
                type: /api-docs/getting-started/api-status-codes
                errors: {}
    403_Unauthorized:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 403
                title: Unauthorized Access. You do not have permission to make this request.
                type: /api-docs/getting-started/api-status-codes
    400_BadRequest:
      description: |-
        Malformed request syntax. Typically need to fix the JSON
        Body to resend successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 400
                title: Input is invalid.
                type: /api-docs/getting-started/api-status-codes
    404_NotFound:
      description: 'If the requested account resource is not found for the franchise, return a 404 Not Found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 404
                title: 'Account with {id} not found'
                type: /api-docs/getting-started/api-status-codes
    422_UnprocessableEntity:
      description: This occurs when missing or unacceptable data is passed for one or more fields. Please correct the values for the fields listed in the errors object.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
              title:
                type: string
              type:
                type: string
              errors:
                type: object
                properties:
                  name:
                    type: string
                  primary_contact.district:
                    type: string
          examples:
            response:
              value:
                status: 422
                title: JSON data is missing or invalid
                type: /api-docs/getting-started/api-status-codes
                errors:
                  destination: error.path.missing.
    503_ServiceUnavailable:
      description: 'If this occurs, you should retry the request. If you are unable to successfully make a request, please check the BigCommerce system status [here](https://status.bigcommerce.com/). A service is likely down and the request will need to be made again when it is back up (in several hours usually)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 503
                title: Service Unavailable
                type: /api-docs/getting-started/api-status-codes
    webhook_Resp:
      description: Example response
      content:
        v3:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/webhook_Full'
              meta:
                $ref: '#/components/schemas/Pagination'
          examples:
            v3:
              value:
                data:
                  id: 18048287
                  client_id: m9r6keqmo7h7f23btnpwernbez1kglkl
                  store_hash: sftg45fsd
                  created_at: 1561488106
                  updated_at: 1561488106
                  scope: '`store/order/*`'
                  destination: 'https://665b65a6.ngrok.io/webhooks`'
                  is_active: true
                  headers:
                    custom: string
                meta:
                  pagination:
                    count: 5
                    current_page: 1
                    links:
                      current: '?limit=100&page=1'
                      next: '?limit=100&page=1'
                      previous: '?limit=100&page=1'
                    per_page: 100
                    total: 5
                    total_pages: 1
        v2:
          schema:
            $ref: '#/components/schemas/webhook_Full'
          examples:
            v2:
              value:
                id: 18048287
                client_id: m9r6keqmo7h7f23btnpwernbez1kglkl
                store_hash: sftg45fsd
                created_at: 1561488106
                updated_at: 1561488106
                scope: '`store/order/*`'
                destination: 'https://665b65a6.ngrok.io/webhooks`'
                is_active: true
                headers:
                  custom: string
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      name: X-Auth-Token
      in: header
      description: |-
        ### OAuth Scopes
        |  **UI Name** | **Permission** | **Parameter** |
        | --- | --- | --- |
        |  - | - | - |

        **Note**: Creating and mangaing webhooks require the default scope used when an API User account is created.

        ### Headers

        |Header|Parameter|Description|
        |-|-|-|
        |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

        ### Example

        ```http
        GET /stores/{$$.env.store_hash}/v3/catalog/summary
        host: api.bigcommerce.com
        Content-Type: application/json
        X-Auth-Token: {access_token}
        ```

        * For more information on Authenticating BigCommerce APIs, see: [Authentication](/api-docs/getting-started/authentication).
  schemas:
    store_cart_wildcard:
      description: "Subscribes to the following events:\n- `store/cart/created`\n- `store/cart/updated`\n- `store/cart/deleted`\n- `store/cart/couponApplied`\n- `store/cart/abandoned`\n- `store/cart/converted`\n- `store/cart/lineItem`\n\t\t\t\nSee individual events for more information.\n"
      title: store/cart/*
      x-examples: {}
      x-internal: true
    store_cart_created:
      description: |-
        This webhook fires on new cart creation when any of the following occur:
        - a storefront shopper adding their first product to a cart during a new session
        - a successful `POST` request to `/carts` using either the [storefront](/api-reference/storefront/carts/cart/createacart) or [server-to-server](/api-reference/store-management/carts/cart/createacart) API 

        Cart creation also fires the `store/cart/updated` webhook.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      title: store/cart/created
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                  enum:
                    - cart
                    - cart_line_item
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_updated:
      title: store/cart/updated
      description: |-
        This webhook fires when the following occur:
        -  Modifying a cartʼs line items by adding a new item to a cart, updating an existing itemʼs quantity, or deleting an item.
        -  Entering or changing their email address during guest checkout. This includes logging into a customer account after creating a guest cart, which associates the accountʼs email address with the cart.

        The `store/cart/created` webhook firing also triggers this webhook because adding a product to an empty cart is considered an update. 

        Fields that trigger this webhook event:
        - Quantity
        - Item Price

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_deleted:
      title: store/cart/deleted
      description: |-
        This webhook fires whenever a cart is deleted. Cart deletion occurs either when all items have been removed from a cart which causes auto-deletion, or when an API consumer explicitly removes the cart through a `DELETE` request. Cart deletion ends the lifecycle of the cart. The `store/cart/updated` webhook also fires when the last item is removed.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
      x-tags:
        - deleted
      type: object
      x-internal: true
    store_cart_couponApplied:
      title: store/cart/couponApplied
      description: |-
        This webhook fires whenever a new coupon code is applied to a cart. The webhook request body includes the ID of the coupon code.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/couponApplied",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "couponId": 1
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                couponId:
                  type: integer
                  description: ID of the coupon
                  example: 1
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_abandoned:
      title: store/cart/abandoned
      description: |-
        This webhook fires after a cart is abandoned. A cart becomes abandoned when no changes occur for at least one hour after the last modified property. This webhook is available for all store plans, regardless of whether the Abandoned Cart Saver feature is enabled.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/abandoned",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "token": "1eed6d2d979776ff18e695ceeb10ea61"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                token:
                  type: string
                  example: 1eed6d2d979776ff18e695ceeb10ea61
                  description: Use this token to obtain cart data.
      type: object
      x-internal: true
    store_cart_converted:
      title: store/cart/converted
      description: |-
        This webhook fires when a cart is converted into an order, which is typically after the checkout payment step on the storefront. At this point, the cart is automatically deleted and no longer accessible. This webhook returns both the cart ID and order ID for correlation purposes.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/converted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "orderId": 252
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `cart`
                  default: cart
                id:
                  type: string
                  description: ID of the cart
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                orderId:
                  type: integer
                  description: ID of the order created
                  example: 252
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_lineItem_wildcard:
      title: store/cart/lineItem/*
      description: |-
        This webhook subscribes to all cart line item events. 

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "cartId": "b0386708-fef3-45de-9d8b-fbe3031450a4"
          }
        }
        ```

        ### Callback schema:
      x-examples:
        example-1:
          $ref: '#/components/examples/store-cart-created'
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                id:
                  type: string
                  description: ID of the cart
                cartId:
                  type: string
                  description: ID of the cart
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_lineItem_created:
      title: store/cart/lineItem/created
      description: |-
        This webhook fires when a new item is added to the cart.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/lineItem/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "cartId": "b0386708-fef3-45de-9d8b-fbe3031450a4"            
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the line item
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                cartId:
                  type: string
                  description: ID of the cart
                  example: b0386708-fef3-45de-9d8b-fbe3031450a4
      x-tags:
        - created
      type: object
      x-internal: true
    store_cart_lineItem_updated:
      title: store/cart/lineItem/updated
      description: |-
        This webhook fires when an item’s quantity has changed or the product options change.

        Fields that trigger event:
        - Quantity
        - Item Price

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/lineItem/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "cartId": "b0386708-fef3-45de-9d8b-fbe3031450a4"            
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the line item
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                cartId:
                  type: string
                  description: ID of the cart
                  example: b0386708-fef3-45de-9d8b-fbe3031450a4
      type: object
      x-tags:
        - updated
      x-internal: true
    store_cart_lineItem_deleted:
      title: store/cart/lineItem/deleted
      description: |-
        This webhook fires when an item is deleted from the cart.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/cart/lineItem/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "cart",
            "id": "09346904-4175-44fd-be53-f7e598531b6c",
            "cartId": "b0386708-fef3-45de-9d8b-fbe3031450a4"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  example: cart
                id:
                  type: string
                  description: ID of the line item
                  example: 09346904-4175-44fd-be53-f7e598531b6c
                cartId:
                  type: string
                  description: ID of the cart
                  example: b0386708-fef3-45de-9d8b-fbe3031450a4
      type: object
      x-tags:
        - deleted
      x-internal: true
    store_category_wildcard:
      title: store/category/*
      description: |
        Subscribe to all store/category events
      x-examples: {}
      allOf: []
      x-tags:
        - created
      x-internal: true
    store_category_created:
      title: store/category/created
      type: object
      description: |-
        This webhook fires when a category is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/category/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "category",
            "id": 42
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - $ref: '#/components/schemas/callback_category_data'
      x-tags:
        - created
      x-internal: true
    store_category_updated:
      title: store/category/updated
      description: |-
        This webhook fires when a category is updated. <br><br>Fields that trigger event:<ul><li>Url</li><li>Name</li><li>Redirect old URLs</li><li>Description</li><li>Parent Category</li><li>Template Layout File</li><li>Sort Order</li><li>Default Product Sort</li><li>Category Image</li><li>Page Title</li><li>Meta Keywords</li><li>Meta Description</li><li>Search Keywords</li><li>Google Product Category</li><li>Enable Google Shopping</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/category/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "category",
            "id": 42
          }
        }
        ```

        ### Callback schema:
      x-examples:
        example-1:
          $ref: '#/components/examples/store-cart-created'
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `category`
                  default: category
                id:
                  type: integer
                  description: ID of the category
                  example: 42
      x-tags:
        - updated
      type: object
      x-internal: true
    store_category_deleted:
      title: store/category/deleted
      description: |-
        This webhook fires when a category is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/category/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "category",
            "id": "42"
          }
        }
        ```

        ### Callback schema:
      x-examples:
        example-1:
          $ref: '#/components/examples/store-cart-created'
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `category`
                  default: category
                  example: category
                id:
                  type: integer
                  description: ID of the category
                  example: 42
      x-tags:
        - deleted
      type: object
      x-internal: true
    store_channel_wildcard:
      title: store/channel/*
      description: 'Subscribe to all `store/channel` events. '
      allOf: []
      x-tags:
        - created
      x-internal: true
    store_channel_created:
      title: store/channel/created
      description: |-
        This webhook fires when a channel is created via control panel or API.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/channel/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "channel",
            "id": 173331
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `channel`
                  default: channel
                  example: channel
                  readOnly: true
                id:
                  type: integer
                  description: ID of the channel
                  example: 173331
      x-tags:
        - created
      type: object
      x-internal: true
    store_channel_updated:
      title: store/channel/updated
      description: |-
        This webhook fires when a channel is updated via control panel or API. 

        Fields that trigger event:<ul><li>name</li><li>external_id</li><li>status</li><li>is_listable_from_ui</li><li>is_visible</li><li>is_enabled (to be deprecated)</li><li>config_meta</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/channel/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "channel",
            "id": 173331
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `channel`
                  default: channel
                  example: channel
                  readOnly: true
                id:
                  type: integer
                  description: ID of the channel
                  example: 173331
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_wildcard:
      title: store/customer/*
      description: |
        Subscribe to all `store/customer` events
      x-examples: {}
      allOf: []
      x-tags:
        - created
      x-internal: true
    store_customer_created:
      title: store/customer/created
      description: |-
        This webhook fires when a new customer is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 32
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  default: customer
                  example: customer
                  readOnly: true
                id:
                  type: integer
                  description: ID of the customer
                  example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_updated:
      title: store/customer/updated
      description: |-
        This webhook fires when a customer is updated. In addition, this webhook fires when you initially enter custom form field values within the account sign-up form. Please note that changing existing data in customer form fields and changing a customerʼs address will not trigger the webhook to fire.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 32
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  default: customer
                  example: customer
                  readOnly: true
                id:
                  type: integer
                  description: ID of the customer
                  example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_deleted:
      title: store/customer/deleted
      description: |-
        This webhook fires when a customer is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 32
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  default: customer
                  example: customer
                  readOnly: true
                id:
                  type: integer
                  description: ID of the customer
                  example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_address_created:
      title: store/customer/address/created
      description: |-
        This webhook fires when a customer address is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/address/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 60,
            "address": {
              "customer_id": 32
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  example: customer
                id:
                  type: integer
                  description: ID of the customer address
                  example: 60
                address:
                  type: object
                  properties:
                    customer_id:
                      type: integer
                      description: ID of the customer
                      example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_address_updated:
      title: store/customer/address/updated
      description: |-
        This webhook fires when a customer address is updated.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/address/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 60,
            "address": {
              "customer_id": 32
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  example: customer
                id:
                  type: integer
                  description: ID of the customer address
                  example: 60
                address:
                  type: object
                  properties:
                    customer_id:
                      type: integer
                      description: ID of the customer
                      example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_address_deleted:
      title: store/customer/address/deleted
      description: |-
        This webhook fires when a customer address is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/address/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 60,
            "address": {
              "customer_id": 32
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `customer`
                  example: customer
                id:
                  type: integer
                  description: ID of the customer address
                  example: 60
                address:
                  type: object
                  properties:
                    customer_id:
                      type: integer
                      description: ID of the customer
                      example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_customer_payment_instrument_default_updated:
      title: store/customer/payment/instrument/default/updated
      description: |-
        This webhook fires when a customer default payment instrument is updated.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/customer/payment/instrument/default/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "customer",
            "id": 32
          }
        }
        ```

        ### Callback schema:
      x-examples:
        example-1:
          $ref: '#/components/examples/store-cart-created'
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: can be `cart` or `cart_line_item`
                  default: '"customer"'
                  example: '"customer"'
                  readOnly: true
                id:
                  type: integer
                  description: ID of the customer
                  example: 32
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_wildcard:
      title: store/order/*
      description: Subscribe to all store/order events
      type: object
      x-internal: true
    store_order_created:
      title: store/order/created
      description: |-
        This webhook fires if an order is created using the control panel, an app or via the API.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "order",
            "id": 250
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `order`
                  default: order
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_updated:
      title: store/order/updated
      description: |-
        This webhook fires when an already created order is updated.  

        Fields that trigger event: <ul><li>Status</li><li>Coupon Code</li><li>Billing and Shipping Address</li><li>Product Type</li><li>Search Keywords</li><li>Related Products</li><li>Warranty Information</li><li>Page Title</li><li>Meta Description</li><li>Gift Wrapping options</li><li>Bin Picking Number (BPN)</li><li>Fixed Shipping Price</li><li>Free Shipping</li><li>Open Graph Sharing Type</li><li>Availability Text</li><li>Purchasability</li><li>Release Date</li><li>Remove pre-order status on this date</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "order",
            "id": 250
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `order`
                  default: order
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_archived:
      title: store/order/archived
      description: |-
        This webhook fires when an order is archived.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/archived",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "order",
            "id": 250
          }
        }
        ```
        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `order`
                  default: order
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_statusUpdated:
      title: store/order/statusUpdated
      description: |-
        This webhook only fires if the order status has changed, such as `Pending` to `Awaiting Payment`

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/statusUpdated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "order",
            "id": 250,
            "status": {
              "previous_status_id": 1,
              "new_status_id": 11
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `order`
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
                status:
                  type: object
                  properties:
                    previous_status_id:
                      type: integer
                      description: Previous status ID
                      example: 1
                    new_status_id:
                      type: integer
                      description: Updated status ID
                      example: 11
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_message_created:
      title: store/order/message/created
      description: |-
        This webhook fires when an order message is created by customer or in control panel.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/message/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
         "data": {
            "type": "order",
            "id": 250,
            "message": {
              "order_message_id": 3
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `order`
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
                message:
                  type: object
                  properties:
                    order_message_id:
                      type: integer
                      description: ID of the message on the order
                      example: 3
      x-tags:
        - created
      type: object
      x-internal: true
    store_order_refund_created:
      title: store/order/refund/created
      description: |-
        This webhook fires when a refund has been submitted against an order.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/order/refund/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "order",
            "id": 250,
            "refund": {
              "refund_id": 3
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `order`
                  example: order
                id:
                  type: integer
                  description: ID of the order
                  example: 250
                refund:
                  type: object
                  properties:
                    refund_id:
                      type: integer
                      description: ID of the refund submitted against the order
                      example: 3
      x-tags:
        - created
      type: object
      x-internal: true
    store_product_wildcard:
      title: store/product/*
      description: Subscribe to all `store/product` events
      type: object
      x-internal: true
    store_product_deleted:
      title: store/product/deleted
      description: |-
        This webhook fires when a product is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/product/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "product",
            "id": 205
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `product`
                  default: product
                  example: product
                id:
                  type: integer
                  description: ID of the product
                  example: 205
      x-tags:
        - created
      type: object
      x-internal: true
    store_product_created:
      title: store/product/created
      description: |-
        This webhook fires when a new product is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/product/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "product",
            "id": 205
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `product`
                  default: product
                  example: product
                id:
                  type: integer
                  description: ID of the product
                  example: 205
      x-tags:
        - created
      type: object
      x-internal: true
    store_product_updated:
      title: store/product/updated
      description: |-
        This webhook fires when product details are edited. 

        Fields that trigger event<ul><li>Product Type</li><li>Search Keywords</li><li>Related Products</li><li>Warranty Information</li><li>Page Title</li><li>Meta Description</li><li>Gift Wrapping options</li><li>Bin Picking Number (BPN)</li><li>Fixed Shipping Price</li><li>Free Shipping</li><li>Open Graph Sharing Type</li><li>Availability Text</li><li>Purchasability</li><li>Release Date</li><li>Remove pre-order status on this date</li><li>Preorder Message</li><li>Inventory Stock</li><li>Inventory Low Stock</li><li>Track inventory</li><li>Product UPC/EAN</li><li>SKU</li><li>Cost</li><li>Tax Class</li><li>Weight</li><li>Width</li><li>Height</li><li>Depth</li><li>Condition</li><li>Show condition on storefront</li><li>Brand</li><li>Default Price</li><li>Sale Price</li><li>MSRP</li><li>Product Name</li><li>Description</li><li>Visible on Storefront</li><li>Sort Order</li><li>Categories</li><li>Product URL</li><li>Set as a Featured Product on my Storefront</li></ul>

        Fields that do not trigger event<ul><li>Manufacturer Part Number (MPN)</li><li>Global Trade Number (GTN)</li><li>Tax Provider Tax Code</li><li>Product Image</li><li>Product Image Description</li><li>Product Files</li><li>Customs Information</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/product/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "product",
            "id": 205
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `product`
                  default: product
                  example: product
                id:
                  type: integer
                  description: ID of the product
                  example: 205
      x-tags:
        - created
      type: object
      x-internal: true
    store_product_inventory_updated:
      title: store/product/inventory/updated
      description: |-
        This webhook fires when product inventory is updated. <br><br>Fields that trigger event: <ul><li>Inventory Stock</li></ul>Fields that do not trigger event: <ul><li>Track Inventory</li><li>Inventory Low Stock</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/product/inventory/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "product",
            "id": 167,
            "inventory": {
              "product_id": 167,
              "method": "absolute",
              "value": 2
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `product`
                  example: product
                id:
                  type: integer
                  description: ID of the product
                  example: 167
                inventory:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 167
                    method:
                      type: string
                      description: |-
                        How the inventory was adjusted. Value will be one of the following:
                        - `absolute` - inventory updated using the API or the control panel
                        - `relative` - inventory updated by an order
                      enum:
                        - absolute
                        - relative
                    value:
                      type: integer
                      description: 'This value is the difference between an item’s inventory count before and after the inventory updates. This value is negative if an item’s inventory count decreases. For example, reducing inventory by three returns a value of `-3`. This value is positive if an item’s inventory count increases. For example, returning two items to the inventory returns a value of `2`.'
                      example: 2
      x-tags:
        - created
      type: object
      x-internal: true
    store_product_inventory_order_updated:
      title: store/product/inventory/order/updated
      description: |-
        This webhook fires if a product’s inventory increases or decreases. <br><br>Fields that trigger event: <ul><li>Quantity</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/product/inventory/order/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "product",
            "id": 167,
            "inventory": {
              "product_id": 167,
              "method": "absolute",
              "value": 2
            }
          }
        }
        ```

         ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `product`
                  example: product
                id:
                  type: integer
                  description: ID of the product
                  example: 167
                inventory:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 167
                    method:
                      type: string
                      description: |-
                        How the inventory was adjusted. Value will be one of the following:
                        - `absolute` - inventory updated using the API or the control panel
                        - `relative` - inventory updated by an order
                      enum:
                        - absolute
                        - relative
                    value:
                      type: integer
                      description: 'This value is the difference between an item’s inventory count before and after the inventory updates. This value is negative if an item’s inventory count decreases. For example, reducing inventory by three returns a value of `-3`. This value is positive if an item’s inventory count increases. For example, returning two items to the inventory returns a value of `2`.'
                      example: 2
      x-tags:
        - created
      type: object
      x-internal: true
    store_shipment_wildcard:
      title: store/shipment/*
      description: Subscribe to all store/shipment events
      type: object
      x-internal: true
    store_shipment_created:
      title: store/shipment/created
      description: |-
        This webhook fires when a shipment is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/shipment/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "shipment",
            "id": 12,
            "orderId": 251
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `shipment`
                  example: shipment
                id:
                  type: integer
                  description: ID of the shipment
                  example: 12
                orderId:
                  type: integer
                  description: ID of the order
                  example: 251
      x-tags:
        - created
      type: object
      x-internal: true
    store_shipment_updated:
      title: store/shipment/updated
      description: |-
        This webhook fires when a shipment is updated.

        Fields that trigger event:<ul><li>Shipping Tracking Number</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/shipment/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "shipment",
            "id": 12,
            "orderId": 251
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `shipment`
                  example: shipment
                id:
                  type: integer
                  description: ID of the shipment
                  example: 12
                orderId:
                  type: integer
                  description: ID of the order
                  example: 251
      x-tags:
        - created
      type: object
      x-internal: true
    store_shipment_deleted:
      title: store/shipment/deleted
      description: |-
        This webhook fires when a shipment is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/shipment/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "shipment",
            "id": 12,
            "orderId": 251
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `shipment`
                  example: shipment
                id:
                  type: integer
                  description: ID of the shipment
                  example: 12
                orderId:
                  type: integer
                  description: ID of the order
                  example: 251
      x-tags:
        - created
      type: object
      x-internal: true
    store_sku_wildcard:
      title: store/sku/*
      description: Subscribe to all `store/sku` events
      type: object
      x-internal: true
    store_sku_created:
      title: store/sku/created
      description: |-
        This webhook fires when a new SKU is created.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/sku/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "sku",
            "id": 461,
            "sku": {
              "product_id": 206,
              "variant_id": 509
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `"sku"`
                  example: sku
                id:
                  type: integer
                  description: ID of the SKU
                  example: 461
                sku:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 206
                    variant_id:
                      type: integer
                      description: ID of the variant
                      example: 509
      x-tags:
        - created
      type: object
      x-internal: true
    store_sku_updated:
      title: store/sku/updated
      description: |-
        This webhook fires when a SKU is updated.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/sku/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "sku",
            "id": 461,
            "sku": {
              "product_id": 206,
              "variant_id": 509
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `"sku"`
                  example: sku
                id:
                  type: integer
                  description: ID of the SKU
                  example: 461
                sku:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 206
                    variant_id:
                      type: integer
                      description: ID of the variant
                      example: 509
      x-tags:
        - created
      type: object
      x-internal: true
    store_sku_deleted:
      title: store/sku/deleted
      description: |-
        This webhook fires when a SKU is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/sku/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "sku",
            "id": 461,
            "sku": {
              "product_id": 206,
              "variant_id": 509
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `"sku"`
                  example: sku
                id:
                  type: integer
                  description: ID of the SKU
                  example: 461
                sku:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 206
                    variant_id:
                      type: integer
                      description: ID of the variant
                      example: 509
      x-tags:
        - created
      type: object
      x-internal: true
    store_sku_inventory_updated:
      title: store/sku/inventory/updated
      description: |-
        This webhook fires when a SKU is updated.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/sku/inventory/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "sku",
            "id": 461,
            "inventory": {
              "product_id": 167,
              "method": "absolute",
              "value": 2,
              "variant_id": 509
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `sku`
                  example: sku
                id:
                  type: integer
                  description: ID of the SKU
                  example: 461
                inventory:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 167
                    method:
                      type: string
                      description: |-
                        How the inventory was adjusted. Value will be one of the following:
                        - `absolute` - inventory updated by an order
                        - `relative` - inventory updated using the API or the control panel
                      enum:
                        - absolute
                        - relative
                    value:
                      type: integer
                      description: 'the number of items that the inventory changed by. This can be negative if the inventory is decreased `-3` or positive if an item is returned to the inventory from an order, `2`'
                      example: 2
                    variant_id:
                      type: integer
                      description: ID of the variant
                      example: 509
      x-tags:
        - created
      type: object
      x-internal: true
    store_sku_inventory_order_updated:
      title: store/sku/inventory/order/updated
      description: |-
        This webhook fires when the inventory is updated.<br><br>Fields that trigger event:<ul><li>Quantity</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/sku/inventory/order/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "sku",
            "id": 461,
            "inventory": {
              "product_id": 167,
              "method": "absolute",
              "value": 2,
              "variant_id": 509
            }
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `sku`
                  example: sku
                id:
                  type: integer
                  description: ID of the SKU
                  example: 461
                inventory:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      description: ID of the product
                      example: 167
                    method:
                      type: string
                      description: |-
                        How the inventory was adjusted. Value will be one of the following:
                        - `absolute` - inventory updated by an order
                        - `relative` - inventory updated using the API or the control panel
                      enum:
                        - absolute
                        - relative
                    value:
                      type: integer
                      description: 'the number of items that the inventory changed by. This can be negative if the inventory is decreased `-3` or positive if an item is returned to the inventory from an order, `2`'
                      example: 2
                    variant_id:
                      type: integer
                      description: ID of the variant
                      example: 509
      x-tags:
        - created
      type: object
      x-internal: true
    store_app_uninstalled:
      title: store/app/uninstalled
      description: |-
        This webhook fires when a client store is canceled and uninstalled from the platform.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/app/uninstalled",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "store"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: will always be `store`
                  example: store
      x-tags:
        - created
      type: object
      x-internal: true
    store_information_updated:
      title: store/information/updated
      description: |-
        This webhook fires when changes are made to store settings. 

        Fields that trigger event
        <ul><li>Store Name</li><li>Store Address</li><li>Store Country</li><li>Address Type</li><li>Email</li><li>Phone</li></ul>

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/information/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "store"
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: ''
                  example: store
      x-tags:
        - created
      type: object
      x-internal: true
    store_subscriber_wildcard:
      title: store/subscriber/*
      description: Subscribe to all `store/subscriber` events
      type: object
      x-internal: true
    store_subscriber_created:
      title: store/subscriber/created
      description: |-
        This webhook fires when a subscriber is created. 

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/subscriber/created",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "subscriber",
            "id": 5
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `subscriber`
                  example: subscriber
                id:
                  type: integer
                  description: ID of the subscriber
                  example: 5
      x-tags:
        - created
      type: object
      x-internal: true
    store_subscriber_updated:
      title: store/subscriber/updated
      description: |-
        The webhook fires when a subscriber is updated. 

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/subscriber/updated",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "subscriber",
            "id": 5
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `subscriber`
                  example: subscriber
                id:
                  type: integer
                  description: ID of the subscriber
                  example: 5
      x-tags:
        - created
      type: object
      x-internal: true
    store_subscriber_deleted:
      title: store/subscriber/deleted
      description: |-
        This webhook fires when a subscriber is deleted.

        ### Example callback:

        ```json
        {
          "created_at": 1561482670,
          "store_id": "1025646",
          "producer": "stores/{store_hash}",
          "scope": "store/subscriber/deleted",
          "hash": "352e4afc6dd3fc85ea26bfdf3f91852604d57528",
          "data": {
            "type": "subscriber",
            "id": 5
          }
        }
        ```

        ### Callback schema:
      x-examples: {}
      allOf:
        - $ref: '#/components/schemas/webhook_callback_base'
        - description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
          properties:
            data:
              type: object
              description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
              properties:
                type:
                  type: string
                  description: Will always be `subscriber`
                  example: subscriber
                id:
                  type: integer
                  description: ID of the subscriber
                  example: 5
      x-tags:
        - created
      type: object
      x-internal: true
    error_Full:
      type: object
      title: error_Full
      properties:
        status:
          description: |
            The HTTP status code.
          type: integer
        title:
          description: |
            The error title describing the particular error.
[...]
