swagger: '2.0'
info:
  version: ''
  title: Wishlist
  contact: {}
  description: |-
    Create and manage customer [wishlists](https://support.bigcommerce.com/s/article/Wishlists).

    ## Authentication

    [Authenticate](/api-docs/getting-started/authentication/rest-api-authentication) requests by including an OAuth `access_token` in the request header.

    ```http
    GET https://api.bigcommerce.com/stores/{{STORE_HASH}}/v3/{{ENDPOINT}}
    Content-Type: application/json
    X-Auth-Token: {{ACCESS_TOKEN}}
    ```

    ### OAuth scopes
    |  **UI Name** | **Permission** | **Parameter** |
    | --- | --- | --- |
    |  Customers | modify | `store_v2_customers` |
    |  Customers | read-only | `store_v2_customers_read_only` |

    For more information on OAuth scopes, see [Authenticating BigCommerce's REST APIs](/api-docs/getting-started/authentication/rest-api-authentication#oauth-scopes).

    ## Additional Information
    * [Wishlists](https://support.bigcommerce.com/s/article/Wishlists)
host: api.bigcommerce.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/stores/{store_hash}/v3/wishlists':
    post:
      description: |-
        Creates a wishlist and wishlist item. More than one item can be added in the POST.

        **Required Fields**
        * name
        * customer_id
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsPost
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/wishlist_Post'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - product_id: 77
                  variant_id: 1
                - product_id: 80
                  variant_id: 1
                - product_id: 81
                  variant_id: 1
                - product_id: 86
                  variant_id: 1
                - product_id: 88
                  variant_id: 1
              customer_id: 10
              is_public: true
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '201':
          $ref: '#/responses/Wishlist_Resp'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
    get:
      description: Returns a list of wishlists. Optional filter parameters can be passed in.
      summary: Get All Wishlists
      tags:
        - Wishlists
      operationId: WishlistsGet
      parameters:
        - name: customer_id
          in: query
          type: integer
          format: int32
          description: All wishlists relating to the customer.
        - in: query
          type: integer
          name: page
          format: int32
          description: The page number of results per page. 1 is the default and starts from record 0.
        - name: limit
          in: query
          type: integer
          format: int32
          description: The numbers of items to return per page. Default is 50 and maximum is 250.
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/wishlist_Resp_Collection'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
    parameters:
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/wishlists/{wishlist_id}/items/{item_id}':
    delete:
      description: Deletes a wishlist item.
      summary: Delete Wishlist Item
      operationId: WishlistsItemsByIdDelete
      parameters:
        - name: wishlist_id
          in: path
          type: integer
          required: true
          description: ID of the Wishlist
          format: int32
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - in: path
          name: item_id
          type: integer
          required: true
          format: int32
      responses:
        '200':
          $ref: '#/responses/Wishlist_Resp'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '404':
          description: Wishlist not found.
          schema: {}
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
      tags:
        - Wishlists Items
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
      - name: item_id
        in: path
        type: string
        required: true
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/wishlists/{wishlist_id}':
    get:
      description: Returns a single wishlist.
      summary: Get a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdGet
      parameters:
        - name: wishlist_id
          in: path
          type: integer
          required: true
          description: ID of the Wishlist
          format: int32
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/responses/Wishlist_Resp'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '404':
          description: Wishlist not found.
          schema: {}
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
    put:
      description: |-
        Updates a wishlist.

        Use this endpoint to update existing wishlist items, change the wishlist's name and whether the wishlist is available publicly. To add or delete a wishlist item, see [Wishlist Items](/api-reference/store-management/wishlists/wishlists-items).
      summary: Update a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdPut
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/wishlist_Put'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - id: 1
                  product_id: 2
                  variant_id: 3
              customer_id: 10
              is_public: false
        - name: wishlist_id
          in: path
          type: integer
          required: true
          description: ID of the Wishlist
          format: int32
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '201':
          $ref: '#/responses/Wishlist_Resp'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
    delete:
      description: Deletes a wishlist.
      summary: Delete a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdDelete
      parameters:
        - name: wishlist_id
          in: path
          type: integer
          required: true
          description: ID of the Wishlist
          format: int32
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      responses:
        '204':
          description: ''
          headers: {}
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '500':
          description: Internal server error.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
      - type: string
        name: store_hash
        in: path
        required: true
  '/stores/{store_hash}/v3/wishlists/{wishlist_id}/items':
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
      - type: string
        name: store_hash
        in: path
        required: true
    post:
      responses:
        '201':
          $ref: '#/responses/Wishlist_Resp'
        '401':
          description: Authentication information is missing or invalid.
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
                format: int32
              title:
                type: string
              type:
                type: string
        '404':
          description: Wishlist not found.
        '500':
          description: Internal server error.
      summary: Add Wishlist Item
      description: Adds a wishlist item. More than one item can be added at a time.
      operationId: WishlistsItemsByIdPost
      tags:
        - Wishlists Items
      parameters:
        - name: wishlist_id
          in: path
          type: integer
          required: true
          description: ID of the Wishlist
          format: int32
        - name: Accept
          in: header
          type: string
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
        - in: body
          name: body
          schema:
            $ref: '#/definitions/wishlistItem_Post'
          x-examples:
            application/json:
              items:
                - product_id: 10
                  variant_id: 10
definitions:
  wishlist_Post:
    title: wishlist_Post
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
        example: 12
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
        example: false
      name:
        description: The title of the wishlist.
        type: string
        example: School Shopping
      items:
        description: Array of wishlist items.
        type: array
        items:
          title: Add item to wishlist
          type: object
          properties:
            product_id:
              description: The ID of the product.
              type: integer
              format: int32
              example: 12
            variant_id:
              description: The variant ID of the product.
              type: integer
              format: int32
              example: 152
    required:
      - customer_id
    x-internal: true
  wishlist_Put:
    title: wishlist_Put
    type: object
    properties:
      customer_id:
        description: The customer ID. A read-only value.
        type: integer
        format: int32
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      name:
        description: The title of the wishlist.
        type: string
      items:
        description: Array of wishlist items.
        type: array
        items:
          title: Wishlist item
          type: object
          properties:
            id:
              type: integer
              example: 12
              format: int32
              description: The ID of the item.
            product_id:
              description: The ID of the product.
              type: integer
              format: int32
              example: 55
            variant_id:
              description: The variant ID of the product.
              type: integer
              format: int32
              example: 22
    required:
      - customer_id
      - items
    x-internal: true
  wishlist_Full:
    title: wishlist_Full
    type: object
    properties:
      id:
        description: 'Wishlist ID, provided after creating a wishlist with a POST.'
        type: integer
        format: int32
        example: 30
      customer_id:
        description: The ID the customer to which the wishlist belongs.
        type: integer
        format: int32
        example: 12
      name:
        description: The name of the wishlist.
        type: string
        example: Christmas List
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
        example: true
      token:
        description: The token of the wishlist. This is created internally within BigCommerce. The wishlist ID is to be used for external apps. Read-Only.
        type: string
        format: uuid
        example: 2d55481-13eb-4d1e-9d79-9062b518570d
      items:
        description: Array of wishlist items.
        type: array
        items:
          $ref: '#/definitions/wishlistItem_Full'
    x-internal: true
  wishlistItem_Full:
    title: wishlistItem_Full
    type: object
    properties:
      id:
        description: The ID of the item.
        type: integer
        format: int32
        example: 12
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 55
      variant_id:
        description: The variant ID of the product.
        type: integer
        format: int32
        example: 22
    x-internal: true
  wishlistItem_Post:
    title: wishlistItem_Post
    type: object
    properties:
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 12
      variant_id:
        description: The variant ID of the product.
        type: integer
        format: int32
        example: 152
    x-internal: true
  pagination:
    title: pagination
    description: 'Data about the response, including pagination and collection totals.'
    type: object
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: 'The amount of items returned in the collection per page, controlled by the limit parameter.'
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
    x-internal: true
  error:
    title: error
    type: object
    properties:
      status:
        type: integer
        format: int32
      title:
        type: string
      type:
        type: string
    x-internal: true
  metaCollection:
    type: object
    title: metaCollection
    properties:
      pagination:
        $ref: '#/definitions/pagination'
    x-internal: true
tags:
  - name: Wishlists
    description: ''
  - name: Wishlists Items
responses:
  Wishlist_Resp:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/wishlist_Full'
        meta:
          type: object
    examples:
      application/json:
        data:
          id: 30
          customer_id: 10
          name: Christmas List
          is_public: true
          token: d2d55481-13eb-4d1e-9d79-9062b518570d
          items:
            - id: 44
              product_id: 77
              variant_id: 1
            - id: 45
              product_id: 80
              variant_id: 1
            - id: 46
              product_id: 81
              variant_id: 1
            - id: 47
              product_id: 86
              variant_id: 1
            - id: 48
              product_id: 88
              variant_id: 1
        meta: {}
  wishlist_Resp_Collection:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/wishlist_Full'
        meta:
          $ref: '#/definitions/metaCollection'
    examples:
      application/json:
        data:
          - id: 1
            customer_id: 4
            name: My Wish List
            is_public: false
            token: 9399ed72f409d1a785b2fa5781563dc3
            items: []
          - id: 2
            customer_id: 11
            name: Christmas
            is_public: false
            token: 33743dfa06a5c45b2c418acc3d0b1acd
            items:
              - id: 1
                product_id: 167
              - id: 2
                product_id: 174
              - id: 3
                product_id: 184
          - id: 3
            customer_id: 20
            name: Birthday
            is_public: false
            token: 0eabf221247f6993e3b10415da9a90bc
            items:
              - id: 4
                product_id: 184
              - id: 5
                product_id: 183
          - id: 4
            customer_id: 20
            name: Christmas
            is_public: false
            token: 813f29b4908f1ea7d489c5dc01a5a8f2
            items:
              - id: 6
                product_id: 201
          - id: 5
            customer_id: 19
            name: Wish List
            is_public: false
            token: dc08569f628f2e40f1159a4127dc163d
            items:
              - id: 7
                product_id: 173
              - id: 8
                product_id: 176
        meta:
          pagination:
            total: 0
            count: 5
            per_page: 50
            current_page: 1
            total_pages: 0
  Unauthorized:
    description: Authentication information is missing or invalid.
    schema:
      title: Error
      type: object
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        type:
          type: string
parameters:
  FilterCustomerID:
    name: customer_id
    in: query
    type: integer
    format: int32
    description: All wishlists relating to the customer.
  FilterPage:
    in: query
    type: integer
    name: page
    format: int32
    description: The page number of results per page. 1 is the default and starts from record 0.
  FilterLimit:
    name: limit
    in: query
    type: integer
    format: int32
    description: The numbers of items to return per page. Default is 50 and maximum is 250.
  WishlistID:
    name: wishlist_id
    in: path
    type: integer
    required: true
    description: ID of the Wishlist
    format: int32
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: |-
      ### OAuth Scopes
      |  **UI Name** | **Permission** | **Parameter** |
      | --- | --- | --- |
      |  Customers | modify | `store_v2_customers` |
      |  Customers | read-only | `store_v2_customers_read_only` |

      ### Headers

      |Header|Parameter|Description|
      |-|-|-|
      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

      ### Example

      ```http
      GET /stores/{$$.env.store_hash}/v3/catalog/summary
      host: api.bigcommerce.com
      Content-Type: application/json
      X-Auth-Token: {access_token}
      ```

      * For more information on Authenticating BigCommerce APIs, see [Authentication](/api-docs/getting-started/authentication).
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
