openapi: 3.0.3
info:
  version: '3'
  title: Abandoned Cart Settings
  description: Manage settings related to abandoned carts.
  termsOfService: 'http://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_id:
        default: unknown
paths:
  /abandoned-carts/settings:
    get:
      summary: Get Global Abandoned Cart Settings
      description: Returns the global abandoned cart settings of a store.
      tags:
        - Abandoned Carts Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update Global Abandoned Cart Settings
      description: Updates the global abandoned cart settings of a store.
      tags:
        - Abandoned Carts Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalAbandonedCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/abandoned-carts/settings/channels/{channel_id}':
    get:
      summary: Get Channel Abandoned Cart Settings
      description: Returns the per-channel overrides for the abandoned cart settings of a store.
      tags:
        - Abandoned Carts Settings
      parameters:
        - name: channel_id
          description: The channel ID of the settings overrides
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update Channel Abandoned Cart Settings
      description: Updates the per-channel overrides for the abandoned cart settings of a store.
      tags:
        - Abandoned Carts Settings
      parameters:
        - name: channel_id
          description: The channel ID of the settings overrides
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelAbandonedCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessible entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    AbandonedCartSettings:
      description: Represents all settings related to the abandoned cart functionality of a store
      type: object
      properties:
        enabled:
          description: Indicates whether or not abandoned cart notification is on
          type: boolean
        email_customer_until_cart_is_recovered:
          description: Indicates whether or not a customer should continue to receive abandoned cart emails until their cart is recovered
          type: boolean
        marketing_emails_require_customer_consent:
          description: Indicates whether or not a customer should receive abandoned cart emails based on their consent. By default customers will not receive emails.
          type: boolean
        email_merchant_when_cart_is_converted:
          description: Indicates whether or not a merchant should receive a notification email when a cart is converted into an order
          type: boolean
        email_merchant_when_cart_is_abandoned:
          description: Indicates whether or not a merchant should receive a notification email when a cart is abandoned
          type: boolean
        merchant_email_address:
          description: The email address for receiving merchant notifications
          type: string
          format: email
        merchant_abandoned_cart_email_frequency_type:
          description: 'Indicates whether to send an email for every abandoned cart, or to send a digest email after X number of abandoned carts'
          type: string
          enum:
            - digest
            - individual
        merchant_abandoned_cart_digest_email_frequency:
          description: The number of abandoned carts to accumulate before a digest email is sent to a merchant
          type: integer
          minimum: 2
          maximum: 1000
      x-tags:
        - Models
    ChannelAbandonedCartSettings:
      description: Represents all settings overrides related to the abandoned cart functionality of a store for a channel
      type: object
      properties:
        enabled:
          description: 'Indicates whether or not abandoned cart notification is on. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        email_customer_until_cart_is_recovered:
          description: 'Indicates whether or not a customer should continue to receive abandoned cart emails until their cart is recovered. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        marketing_emails_require_customer_consent:
          description: 'Indicates whether or not a customer should receive abandoned cart emails based on their consent. If it is null, it means there is no override for the specified channel. By default customers will not receive emails.'
          type: boolean
          nullable: true
        email_merchant_when_cart_is_converted:
          description: 'Indicates whether or not a merchant should receive a notification email when a cart is converted into an order. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        email_merchant_when_cart_is_abandoned:
          description: 'Indicates whether or not a merchant should receive a notification email when a cart is abandoned. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        merchant_email_address:
          description: 'The email address for receiving merchant notifications. If it is null, it means there is no override for the specified channel.'
          type: string
          nullable: true
          format: email
        merchant_abandoned_cart_email_frequency_type:
          description: 'Indicates whether to send an email for every abandoned cart or to send a digest email after X number of abandoned carts. If it is null, it means there is no override for the specified channel.'
          type: string
          nullable: true
          enum:
            - digest
            - individual
        merchant_abandoned_cart_digest_email_frequency:
          description: 'The number of abandoned carts to accumulate before a digest email is sent to a merchant. If it is null, it means there is no override for the specified channel.'
          type: integer
          nullable: true
          minimum: 2
          maximum: 1000
      x-tags:
        - Models
    ChannelAbandonedCartSettingsRequest:
      allOf:
        - $ref: '#/components/schemas/ChannelAbandonedCartSettings'
        - description: The request object for updating the abandoned cart settings overrides of a store for a channel
      x-tags:
        - Models
    ChannelAbandonedCartSettingsResponse:
      description: The response object of abandoned cart settings overrides for a channel
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChannelAbandonedCartSettings'
        meta:
          type: object
      x-tags:
        - Models
    GlobalAbandonedCartSettingsRequest:
      allOf:
        - $ref: '#/components/schemas/AbandonedCartSettings'
        - description: The request object for updating the abandoned cart settings of a store at the global level
          required:
            - enabled
            - email_customer_until_cart_is_recovered
            - marketing_emails_require_customer_consent
            - email_merchant_when_cart_is_converted
            - email_merchant_when_cart_is_abandoned
            - merchant_email_address
            - merchant_abandoned_cart_email_frequency_type
            - merchant_abandoned_cart_digest_email_frequency
      x-tags:
        - Models
    GlobalAbandonedCartSettingsResponse:
      description: The response object of abandoned cart settings at the global level
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AbandonedCartSettings'
        meta:
          type: object
      x-tags:
        - Models
    ErrorResponse:
      description: The response object containing details of an error
      type: object
      properties:
        status:
          type: integer
        title:
          type: string
        type:
          type: string
        instance:
          type: string
        errors:
          type: object
      x-tags:
        - Models
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
