swagger: '2.0'
info:
  version: ''
  title: Currency API
  description: >-
    ### Currency

    The Currency object and endpoints manage alternate currency display options
    on the storefront.
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v2/'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /currencies:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Currency'
          examples:
            application/json:
              - id: 1
                is_default: true
                last_updated: 'Fri, 11 May 2018 16:58:57 +0000'
                country_iso2: US
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                name: US Dollars
                token: $
                auto_update: false
                token_location: left
                decimal_token: .
                thousands_token: ','
                decimal_places: 2
                enabled: true
              - id: 2
                is_default: false
                last_updated: 'Fri, 10 Aug 2018 14:47:03 +0000'
                country_iso2: EU
                currency_code: EUR
                currency_exchange_rate: '0.8729000000'
                name: Euro
                token: €
                auto_update: true
                token_location: left
                decimal_token: .
                thousands_token: ','
                decimal_places: 2
                enabled: true
              - id: 3
                is_default: false
                last_updated: 'Fri, 10 Aug 2018 14:47:03 +0000'
                country_iso2: AU
                currency_code: AUD
                currency_exchange_rate: '1.3678000000'
                name: Aus
                token: $
                auto_update: true
                token_location: left
                decimal_token: .
                thousands_token: ','
                decimal_places: 2
                enabled: false
      summary: Get All Store Currency
      description: Returns a list of all store *Currency*.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Currency
    delete:
      responses:
        '204':
          description: ''
          schema:
            type: object
            properties: {}
      summary: Delete All Store Currencies
      parameters:
        - in: header
          name: Content-Type
          type: string
          default: application/json
          required: true
        - in: header
          name: Accepts
          type: string
          default: application/json
          required: true
      tags:
        - Currency
      description: Deletes all non-default store currencies.
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Currency'
          examples:
            application/json:
              id: 3
              is_default: 'false'
              date_created: 'Thu, 11 Sep 2014 17:10:12 +0000'
              date_modified: 'Thu, 08 Jan 2015 15:12:48 +0000'
              country_iso2: AU
              currency_code: AUD
              currency_exchange_rate: '1.3885600000'
              auto_update: 'false'
              location: left
              token: $
              decimal_token: .
              thousands_token: ','
              decimal_places: 2
            Response Schema:
              country_iso2: ut
              currency_code: labore in culpa
              currency_exchange_rate: in proident tempor laborum cillum
              auto_update: false
              token_location: sit
              token: irure
              decimal_token: consequat
              thousands_token: nulla esse laborum mollit eiusmod
              decimal_places: 78912848
              name: irure ut ipsum
              id: -78012173
              is_default: true
              last_updated: '1949-11-24T17:38:14.674Z'
              enabled: false
      summary: Create a Currency
      description: >-
        Creates *Currency*.


        **Required Fields** 


        * country_iso2

        * currency_code

        * currency_exchange_rate

        * auto_update

        * token_location

        * token

        * decimal_token

        * thousands_token

        * decimal_places


        **Read-Only Fields**


        * id

        * is_default

        * date_created

        * date_modified



        The `is_default` property cannot be set programmatically. To change the
        store's default currency via the BigCommerce control panel, please see
        [Managing
        Currencies](https://support.bigcommerce.com/articles/Public/Managing-Currencies/?q=currency&l=en_US&fs=Search&pn=1#default).
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Currency'
          x-examples:
            application/json:
              country_iso2: AU
              currency_code: AUD
              currency_exchange_rate: '1.3885600000'
              auto_update: 'false'
              location: left
              token: $
              decimal_token: .
              thousands_token: ','
              decimal_places: 2
      tags:
        - Currency
  '/currencies/{id}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Currency'
          examples:
            application/json:
              id: 3
              is_default: 'false'
              date_created: 'Thu, 11 Sep 2014 17:10:12 +0000'
              date_modified: 'Thu, 08 Jan 2015 15:12:48 +0000'
              country_iso2: AU
              currency_code: AUD
              currency_exchange_rate: '1.3885600000'
              auto_update: 'false'
              location: left
              token: $
              decimal_token: .
              thousands_token: ','
              decimal_places: 2
            Response Schema:
              country_iso2: est laboris
              currency_code: magna ut
              currency_exchange_rate: esse aliquip ut ex occaecat
              auto_update: false
              token_location: culpa incididunt id Excepteur minim
              token: commodo adipisicing ut
              decimal_token: id Duis
              thousands_token: in ut
              decimal_places: 97021891
              name: qui
              id: -1769307
              is_default: true
              last_updated: '1985-10-10T01:43:33.605Z'
              enabled: false
      summary: Get a Currency
      description: Returns a single *Currency*.
      parameters:
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      tags:
        - Currency
      operationId: getACurrency
    parameters:
      - name: id
        in: path
        type: string
        required: true
        description: Currency Id
    put:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Currency'
          examples:
            application/json:
              id: 3
              is_default: 'false'
              date_created: 'Thu, 11 Sep 2014 17:10:12 +0000'
              date_modified: 'Thu, 08 Jan 2015 15:12:48 +0000'
              country_iso2: AU
              currency_code: AUD
              currency_exchange_rate: '1.3885600000'
              auto_update: 'false'
              location: left
              token: $
              decimal_token: .
              thousands_token: ','
              decimal_places: 2
            Response Schema:
              country_iso2: ullamco
              currency_code: Lorem
              currency_exchange_rate: ut
              auto_update: false
              token_location: ut eu consequat mollit
              token: qui Excepteur occaecat nulla
              decimal_token: in Excepteur mollit
              thousands_token: cillum id
              decimal_places: -70119370
              name: ullamco magna amet tempor pariatur
              id: 70177765
              is_default: true
              last_updated: '1947-12-04T17:27:38.508Z'
              enabled: true
      summary: Update a Currency
      description: |-
        Updates a *Currency*.

        **Read-Only Fields**

        * id
        * is_default
        * date_created
        * date_modified
        * location
        * currency_code
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Currency'
          x-examples:
            application/json:
              country_iso2: AU
              currency_code: AUD
              currency_exchange_rate: '1.3885600000'
              auto_update: 'false'
              location: left
              token: $
              decimal_token: .
              thousands_token: ','
              decimal_places: 2
      tags:
        - Currency
      operationId: updateACurrency
    delete:
      responses:
        '204':
          description: ''
          schema:
            type: object
            properties: {}
      summary: Delete a Currency
      description: Deletes a *Currency*.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Currency
      operationId: deleteACurrency
definitions:
  Currency:
    title: Currency
    example:
      id: 2
      is_default: false
      last_updated: 'Tue, 12 Jun 2018 14:41:56 +0000"'
      country_iso2: EU
      currency_code: EUR
      currency_exchange_rate: 0.849
      auto_update: true
      token_location: left
      token: €
      decimal_token: .
      thousands_token: ','
      decimal_places: 2
      name: Euro
      enabled: false
    type: object
    properties:
      id:
        description: Id of the currency. READ-ONLY
        example: 2
        type: integer
      is_default:
        description: >-
          Specifies whether this is the store’s default currency display format
          and may only be adjusted in the control panel. READ-ONLY
        example: false
        type: boolean
      last_updated:
        description: 'Date the currency was last updated, created or modified.'
        example: 'Tue, 12 Jun 2018 14:41:56 +0000"'
        type: string
        format: date-time
      country_iso2:
        type: string
        description: 2-letter ISO Alpha-2 code for this currency’s country.
        example: EU
      currency_code:
        type: string
        description: 3-letter ISO 4217 code for this currency.
        example: EUR
      currency_exchange_rate:
        type: string
        description: >-
          Amount of this currency that is equivalent to one U.S. dollar.(Float,
          Float as String, Integer)
        example: 0.849
      auto_update:
        type: boolean
        description: >-
          Specifies whether to use the Open Exchange Rates service to update the
          currency conversion. A value of false specifies a static conversion
          value.
        example: true
      token_location:
        type: string
        description: >-
          Specifies whether this currency’s symbol appears to the “left” or
          “right” of the numeric amount.
        example: left
      token:
        type: string
        description: Symbol for this currency.
        example: €
      decimal_token:
        type: string
        description: Symbol used as the decimal separator in this currency.
        example: .
      thousands_token:
        type: string
        description: Symbol used as the thousands separator in this currency.
        example: ','
      decimal_places:
        type: integer
        description: Number of decimal places to show for this currency.
        example: 2
      name:
        type: string
        description: Name of the currency.
        example: Euro
      enabled:
        description: If the currency is active on the store.
        example: false
        type: boolean
    required:
      - country_iso2
      - currency_code
      - currency_exchange_rate
      - auto_update
      - token_location
      - token
      - decimal_token
      - thousands_token
      - decimal_places
      - name
tags:
  - name: Currency
securityDefinitions:
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
parameters:
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
security:
  - X-Auth-Token: []
  - X-Auth-Client: []
