swagger: '2.0'
info:
  title: BigCommerce Widgets API
  version: ''
  description: >-
    Widgets API allows developers to programatically inject content into a
    BigCommerce theme. To learn how to use Widgets, see our [Widgets
    Overview](/api-docs/storefront/widgets/widgets-overview). 
  termsOfService: ''
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
tags:
  - name: Regions
  - name: Widget Template
    description: BigCommerce Widget Templates API Definition.
  - name: Widget
    description: BigCommerce Widgets API Definition.
  - name: Placement
    description: BigCommerce Placements API Definition.
  - name: Layout
    description: BigCommerce Layouts API Definition.
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /content/widget-templates:
    post:
      tags:
        - Widget Template
      summary: Create a Widget Template
      operationId: createWidgetTemplate
      parameters:
        - name: templateBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/WidgetTemplatePost'
          x-examples:
            application/json:
              name: Header Images
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetTemplateResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Creates a [*Widget
        Template*](/api-reference/storefront/widgets-api/models/widgettemplate).


        **Required Fields**

        * name

        * template
    get:
      tags:
        - Widget Template
      operationId: getWidgetTemplates
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterWidgetTemplateKindParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetTemplatesCollectionResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a list of [*Widget
        Templates*](/api-reference/storefront/widgets-api/models/widgettemplate).
        Optional parameters may be passed in.
      summary: Get All Widget Templates
  '/content/widget-templates/{uuid}':
    get:
      tags:
        - Widget Template
      summary: Get a Widget Template
      operationId: getWidgetTemplate
      parameters:
        - $ref: '#/parameters/TemplateUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetTemplateResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Return a single [*Widget
        Templates*](/api-reference/storefront/widgets-api/models/widgettemplate).
    put:
      tags:
        - Widget Template
      summary: Update a Widget Template
      operationId: updateWidgetTemplate
      parameters:
        - $ref: '#/parameters/TemplateUUID'
        - name: templateBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/WidgetTemplatePut'
          x-examples:
            application/json:
              name: Header Images
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetTemplateResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Updates a [*Widget
        Template*](/api-reference/storefront/widgets-api/models/widgettemplate).
    delete:
      tags:
        - Widget Template
      summary: Delete A Widget Template
      operationId: deleteWidgetTemplate
      parameters:
        - $ref: '#/parameters/TemplateUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Deletes a [*Widget
        Templates*](/api-reference/storefront/widgets-api/models/widgettemplate).
  /content/widgets:
    post:
      tags:
        - Widget
      summary: Create a Widget
      operationId: createWidget
      parameters:
        - name: widgetBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/WidgetPost'
          x-examples:
            application/json:
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{your-store-url}/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              widget_template_uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Creates a
        [*Widget*](/api-reference/storefront/widgets-api/models/widget).


        **Required Fields**

        * name

        * widget_template_uuid
    get:
      tags:
        - Widget
      summary: Get All Widgets
      operationId: getWidgets
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterWidgetTemplateKindParam'
        - $ref: '#/parameters/FilterWidgetTemplateUUIDParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetCollectionResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a list of
        [*Widgets*](/api-reference/storefront/widgets-api/models/widget).
        Optional parameters can be passed in. 
  '/content/widgets/{uuid}':
    get:
      tags:
        - Widget
      summary: Get a Widget
      operationId: getWidget
      parameters:
        - $ref: '#/parameters/WidgetUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a single
        [*Widgets*](/api-reference/storefront/widgets-api/models/widget).
    put:
      tags:
        - Widget
      summary: Update a Widget
      operationId: updateWidget
      parameters:
        - $ref: '#/parameters/WidgetUUID'
        - name: widgetBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/WidgetPut'
          x-examples:
            application/json:
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{your-store-url}/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://your-store-url/all/kinfolk-issue-16/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              widget_template_uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WidgetResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Updates a
        [*Widgets*](/api-reference/storefront/widgets-api/models/widget).
    delete:
      tags:
        - Widget
      summary: Delete a Widget
      operationId: deleteWidget
      parameters:
        - $ref: '#/parameters/WidgetUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Deletes a
        [*Widgets*](/api-reference/storefront/widgets-api/models/widget).
  /content/placements:
    post:
      tags:
        - Placement
      summary: Create a Placement
      operationId: createPlacement
      parameters:
        - name: placementBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/PlacementPost'
          x-examples:
            application/json:
              widget_uuid: a8940709-5655-4401-a341-62c44e3180b2
              entity_id: '21'
              template_file: pages/category
              status: active
              sort_order: 1
              region: home_header_image
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/PlacementResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Creates a
        [*Placement*](/api-reference/storefront/widgets-api/models/placement).


        **Required Fields**

        * widget_uuid

        * template_file
    get:
      tags:
        - Placement
      summary: Get All Placements
      operationId: getPlacements
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterWidgetTemplateKindParam'
        - $ref: '#/parameters/FilterTemplateFileParam'
        - $ref: '#/parameters/FilterWidgetUUIDParam'
        - $ref: '#/parameters/FilterWidgetTemplateUUIDParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/PlacementsCollectionResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a list of
        [*Placements*](/api-reference/storefront/widgets-api/models/placement).
        Optional parameters can be passed in.
  '/content/placements/{uuid}':
    get:
      tags:
        - Placement
      summary: Get a Placement
      operationId: getPlacement
      parameters:
        - $ref: '#/parameters/PlacementUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/PlacementResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a single
        [*Placement*](/api-reference/storefront/widgets-api/models/placement).
    put:
      tags:
        - Placement
      summary: Update a Placement
      operationId: updatePlacement
      parameters:
        - $ref: '#/parameters/PlacementUUID'
        - name: placementBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/PlacementPut'
          x-examples:
            application/json:
              sort_order: 1
              region: home_header_image
              template_file: pages/home
              status: active
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/PlacementResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Updates a
        [*Placement*](/api-reference/storefront/widgets-api/models/placement).
    delete:
      tags:
        - Placement
      summary: Delete a Placement
      operationId: deletePlacement
      parameters:
        - $ref: '#/parameters/PlacementUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Deletes a
        [*Placement*](/api-reference/storefront/widgets-api/models/placement).
  /content/layouts:
    post:
      tags:
        - Layout
      summary: Create a Layout
      operationId: createLayout
      parameters:
        - name: layoutBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/LayoutPost'
          x-examples:
            application/json:
              entity_id: '21'
              region: category_header_banner
              template_file: pages/category
              markup: >-
                <style>img:hover{opacity: 0.3;}</style><div><div
                style='padding:5px margin-bottom:40px;'><bc-placement
                id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/LayoutResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Creates a
        [*Layout*](/api-reference/storefront/widgets-api/models/layout).


        **Required Fields**

        * region

        * template_file

        * markup
    get:
      tags:
        - Layout
      summary: Get All Layouts
      operationId: getLayouts
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterTemplateFileParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/LayoutCollectionResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a list of
        [*Layouts*](/api-reference/storefront/widgets-api/models/layout).
        Optional paramters can be passed in.
  '/content/layouts/{uuid}':
    get:
      tags:
        - Layout
      summary: Get a Layout
      operationId: getLayout
      parameters:
        - $ref: '#/parameters/LayoutUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/LayoutResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Returns a single
        [*Layout*](/api-reference/storefront/widgets-api/models/layout).
    put:
      tags:
        - Layout
      summary: Update a Layout
      operationId: updateLayout
      parameters:
        - $ref: '#/parameters/LayoutUUID'
        - name: layoutBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/LayoutPut'
          x-examples:
            application/json:
              entity_id: '21'
              region: category_header_banner
              template_file: pages/category
              markup: >-
                <style>img:hover{opacity: 0.3;}</style><div><div
                style='padding:5px margin-bottom:40px;'><bc-placement
                id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/LayoutResponse'
        '404':
          description: The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >-
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Updates a
        [*Layout*](/api-reference/storefront/widgets-api/models/layout).
    delete:
      tags:
        - Layout
      summary: Delete a Layout
      operationId: deleteLayout
      parameters:
        - $ref: '#/parameters/LayoutUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      description: >-
        Deletes a
        [*Layout*](/api-reference/storefront/widgets-api/models/layout).
  /content/regions:
    get:
      responses:
        '200':
          $ref: '#/responses/ThemeRegionsResponse'
      summary: Get Theme Regions
      description: >-
        Returns a list of unique [*Theme
        Regions*](/api-reference/storefront/widgets-api/models/themeregion) in a
        template file.


        **Required Query**

        * templateFile
      operationId: getContentRegions
      tags:
        - Regions
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/RequiredTemplateFile'
parameters:
  TemplateUUID:
    name: uuid
    description: The identifier for a specific template.
    required: true
    in: path
    type: string
    format: uuid
  FilterWidgetTemplateUUIDParam:
    in: query
    name: widget_template_uuid
    description: The identifier for a specific widget template.
    type: string
    format: uuid
    required: false
  FilterWidgetTemplateKindParam:
    in: query
    name: widget_template_kind
    description: The kind of widget template.
    type: string
    required: false
  FilterTemplateFileParam:
    in: query
    name: template_file
    description: 'The template file, for example: `pages/home`.'
    type: string
    required: false
  RequiredTemplateFile:
    in: query
    name: templateFile
    description: 'The template file, for example: `templateFile=pages/home`.'
    type: string
    required: true
  LayoutUUID:
    name: uuid
    description: The identifier for a specific layout.
    required: true
    in: path
    type: string
    format: uuid
  PlacementUUID:
    name: uuid
    description: The identifier for a specific placement.
    required: true
    in: path
    type: string
    format: uuid
  WidgetUUID:
    name: uuid
    description: The identifier for a specific widget.
    required: true
    in: path
    type: string
    format: uuid
  FilterWidgetUUIDParam:
    name: widget_uuid
    description: The identifier for a specific widget.
    in: query
    type: string
    format: uuid
    required: false
  PageParam:
    name: page
    description: |
      Specifies the page number in a limited (paginated) list of products.
    required: false
    in: query
    type: integer
  LimitParam:
    name: limit
    description: >
      Controls the number of items per page in a limited (paginated) list of
      products.
    required: false
    in: query
    type: integer
  QueryWidgetsParam:
    type: string
    name: query
    in: query
    description: |
      The query string associated with a widget's name and description.
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
  Content-Type:
    in: header
    type: string
    default: application/json
    name: Content-Type
definitions:
  WidgetTemplatePut:
    properties:
      name:
        type: string
        description: User-friendly name.
      schema:
        type: object
        description: >-
          The schema for this template. Describes how to build dynamic forms for
          widget configurations.
        format: json
      template:
        type: string
        description: Handlebars HTML content. Also has access to Stencil Paper helpers.
        format: html
    title: Widget Template Put
  WidgetTemplatePost:
    required:
      - name
      - template
    properties:
      name:
        type: string
        description: User friendly name.
      schema:
        type: object
        description: >-
          The JSON schema of data for this template. Used to validate a
          configuration.
        format: json
      template:
        type: string
        description: Handlebars HTML content. Also has access to Stencil Paper helpers.
        format: html
    title: Widget Template Post
  WidgetTemplate:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: The primary identifier.
      name:
        type: string
        description: The user-friendly name.
      kind:
        type: string
        description: The kind of widget template.
      schema:
        type: object
        format: json
        description: >-
          The JSON schema of data for this template. Used to validate a
          configuration.
      template:
        type: string
        format: html
        description: The widget template HTML. Supports Handlebars and Paper helpers.
      date_created:
        type: string
        format: datetime
        description: The date on which this object was initially created.
      date_modified:
        type: string
        format: datetime
        description: The date on which this object was last updated.
    title: Widget Template
  Widget:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: The primary identifier.
      name:
        type: string
        description: The user-friendly name.
      description:
        type: string
        description: The user-friendly description.
      widget_configuration:
        type: object
        description: The JSON data that populates the template.
        format: json
      widget_template:
        $ref: '#/definitions/WidgetTemplate'
      date_created:
        type: string
        format: datetime
        description: The date on which this object was initially created.
      date_modified:
        type: string
        format: datetime
        description: The date on which this object was last updated.
  WidgetPost:
    required:
      - name
      - widget_template_uuid
    properties:
      name:
        type: string
        description: User friendly name.
      description:
        type: string
        description: The user-friendly description.
      widget_configuration:
        type: object
        description: The JSON data that populates the template.
        format: json
      widget_template_uuid:
        type: string
        description: The widget template UUID.
    title: Widget Post
  WidgetPut:
    properties:
      name:
        type: string
        description: User-friendly name.
      description:
        type: string
        description: The user-friendly description.
      widget_configuration:
        type: object
        description: The JSON data that populates the template.
        format: json
      widget_template_uuid:
        type: string
        description: The widget template UUID.
    title: Widget Put
  PlacementPost:
    type: object
    properties:
      widget_uuid:
        type: string
        description: A widget identifier.
      entity_id:
        type: string
        description: The specific instance of a page that you would like to target.
      sort_order:
        type: integer
        description: >-
          The sort order to control the position of a content widget in a
          region.
      region:
        type: string
        description: The name of the region in which to insert content widgets.
      template_file:
        type: string
        description: The template file that you would like to target.
      status:
        type: string
        description: Sets the placement as either inactive or active.
        default: inactive
        enum:
          - inactive
          - active
    required:
      - widget_uuid
      - template_file
    title: Placement Post
  PlacementPut:
    properties:
      entity_id:
        type: string
        description: >-
          Optional. The specific instance of a page that you would like to
          target.
      template_file:
        type: string
        description: The template file that you would like to target.
      region:
        type: string
        description: The name of the region in which to insert content widgets.
      sort_order:
        type: integer
        description: >-
          The sort order to control the position of a content widget in a
          region.
      widget_uuid:
        type: string
        description: A widget identifier.
      status:
        type: string
        description: Sets the placement as either inactive or active.
        enum:
          - inactive
          - active
    title: Placement Put
  Placement:
    properties:
      uuid:
        type: string
        format: uuid
        description: The primary identifier.
      entity_id:
        type: string
        description: The specific instance of a page
      status:
        type: string
        description: Determines whether this placement is `active` or `inactive`.
        enum:
          - inactive
          - active
      template_file:
        type: string
        description: The page template name.
      region:
        type: string
        description: The user-friendly name.
      sort_order:
        type: integer
        description: The sort order to control position of a content widget in a region.
      widget:
        $ref: '#/definitions/Widget'
      date_created:
        type: string
        format: datetime
        description: The date on which this object was initially created.
      date_modified:
        type: string
        format: datetime
        description: The date on which this object was last updated.
  Layout:
    properties:
      uuid:
        type: string
        format: uuid
        description: The primary identifier.
      entity_id:
        type: string
        description: The specific instance of a page
      template_file:
        type: string
        description: The page template name.
      region:
        type: string
        description: The name of the region defined in the stencil theme file.
      markup:
        type: string
        description: The HTML layout which defines complex poisitoning for placements.
      date_created:
        type: string
        format: datetime
        description: The date on which this object was initially created.
      date_modified:
        type: string
        format: datetime
        description: The date on which this object was last updated.
    title: Layout
  LayoutPost:
    required:
      - region
      - template_file
      - markup
    properties:
      entity_id:
        type: string
        description: The specific instance of a page that you would like to target.
      region:
        type: string
        description: The name of the region in which to insert content widgets.
      template_file:
        type: string
        description: The template file that you would like to target.
      markup:
        type: string
        description: The HTML layout which defines complex poisitoning for placements.
    title: Layout Post
  LayoutPut:
    properties:
      entity_id:
        type: string
        description: >-
          Optional. The specific instance of a page that you would like to
          target.
      template_file:
        type: string
        description: The template file that you would like to target.
      region:
        type: string
        description: The name of the region in which to insert content widgets.
      markup:
        type: string
        description: The HTML layout which defines complex poisitoning for placements.
    title: Layout Put
  CollectionMeta:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
    title: Collection Meta
  Pagination:
    type: object
    description: |
      Data about the response, including pagination and collection totals.
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
      count:
        type: integer
        description: |
          Total number of items in the collection response.
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
          next:
            type: string
            description: |
              Link to the next page returned in the response.
  ErrorResponse:
    allOf:
      - $ref: '#/definitions/BaseError'
      - type: object
        properties:
          errors:
            type: object
  BaseError:
    type: object
    description: |
      Error payload for the BigCommerce API.
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Base Error
  ThemeRegion:
    properties:
      name:
        type: string
        description: The region name.
    title: Theme Region
  Meta:
    type: object
    description: Empty meta object; may be used later.
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
responses:
  ThemeRegionsResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/ThemeRegion'
        meta:
          $ref: '#/definitions/Meta'
    examples:
      application/json:
        data:
          - name: header_bottom
          - name: category_header_banner
        meta: {}
  LayoutCollectionResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Layout'
        meta:
          $ref: '#/definitions/CollectionMeta'
    examples:
      application/json:
        data:
          - uuid: cacdadcf-07ec-43f3-aec4-f8e3382d7618
            template_file: pages/category
            entity_id: '21'
            region: category_header_banner
            markup: >-
              <style>img:hover{opacity: 0.3;}</style><div><div
              style='padding:5px;'><bc-placement
              id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
            date_created: '2019-02-25T18:38:08.455Z'
            date_modified: '2019-02-25T18:38:08.455Z'
        meta:
          pagination:
            total: 1
            count: 1
            per_page: 50
            current_page: 1
            total_pages: 1
  LayoutResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Layout'
    examples:
      application/json:
        data:
          uuid: cacdadcf-07ec-43f3-aec4-f8e3382d7618
          template_file: pages/category
          entity_id: '21'
          region: category_header_banner
          markup: >-
            <style>img:hover{opacity: 0.3;}</style><div><div
            style='padding:5px;'><bc-placement
            id='bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08'></bc-placement></div></div>
          date_created: '2019-02-25T18:38:08.455Z'
          date_modified: '2019-02-25T18:38:08.455Z'
        meta: {}
  PlacementsCollectionResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Placement'
        meta:
          $ref: '#/definitions/CollectionMeta'
    examples:
      application/json:
        data:
          - uuid: bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08
            template_file: pages/category
            region: ''
            sort_order: 0
            entity_id: '21'
            status: active
            widget:
              uuid: a8940709-5655-4401-a341-62c44e3180b2
              name: Header Images
              widget_configuration:
                images:
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                  - image_url: 'https://{{your-url}.com/'
                    image_source: >-
                      https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
                _:
                  id: a8940709-5655-4401-a341-62c44e3180b2
              widget_template:
                uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
                name: Header Images
                schema: []
                template: >-
                  {{#each images}}<a href='{{image_url}}'><img
                  src={{image_source}} style='width:33.3%'/></a>{{/each}}
                date_created: '2019-02-25T18:35:04.904Z'
                date_modified: '2019-02-25T18:35:04.904Z'
                kind: custom
              date_created: '2019-02-25T18:36:45.238Z'
              date_modified: '2019-02-25T18:36:45.238Z'
              description: ''
            date_created: '2019-02-25T18:37:10.658Z'
            date_modified: '2019-02-25T18:37:10.658Z'
        meta:
          pagination:
            total: 1
            count: 1
            per_page: 50
            current_page: 1
            total_pages: 1
  PlacementResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: object
          properties:
            uuid:
              type: string
              format: uuid
              description: The primary identifier.
            entity_id:
              type: string
              description: The specific instance of a page
            status:
              type: string
              description: Determines whether this placement is `active` or `inactive`.
              enum:
                - inactive
                - active
            template_file:
              type: string
              description: The page template name.
            region:
              type: string
              description: The user-friendly name.
            sort_order:
              type: integer
              description: >-
                The sort order to control position of a content widget in a
                region.
            widget:
              $ref: '#/definitions/Widget'
            date_created:
              type: string
              format: datetime
              description: The date on which this object was initially created.
            date_modified:
              type: string
              format: datetime
              description: The date on which this object was last updated.
        meta:
          type: object
    examples:
      application/json:
        data:
          uuid: bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08
          template_file: pages/category
          region: ''
          sort_order: 0
          entity_id: '21'
          status: active
          widget:
            uuid: a8940709-5655-4401-a341-62c44e3180b2
            name: Header Images
            widget_configuration:
              images:
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                - image_url: 'https://{{your-url}.com/'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              _:
                id: a8940709-5655-4401-a341-62c44e3180b2
            widget_template:
              uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
              name: Header Images
              schema: []
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
              date_created: '2019-02-25T18:35:04.904Z'
              date_modified: '2019-02-25T18:35:04.904Z'
              kind: custom
            date_created: '2019-02-25T18:36:45.238Z'
            date_modified: '2019-02-25T18:36:45.238Z'
            description: ''
          date_created: '2019-02-25T18:37:10.658Z'
          date_modified: '2019-02-25T18:37:10.658Z'
        meta: {}
  WidgetTemplatesCollectionResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/WidgetTemplate'
        meta:
          $ref: '#/definitions/CollectionMeta'
    examples:
      application/json:
        data:
          - uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
            name: Header Images
            schema: []
            template: >-
              {{#each images}}<a href='{{image_url}}'><img src={{image_source}}
              style='width:33.3%'/></a>{{/each}}
            date_created: '2019-02-25T18:35:04.904Z'
            date_modified: '2019-02-25T18:35:04.904Z'
            kind: custom
          - uuid: 2fbb8014-2a6e-4569-b484-65824959d035
            name: Simple List
            schema: []
            template: >-
              <ul>{{#each list_items}}<li
              style='color:{{color}};'>{{text}}</li>{{/each}}</ul>
            date_created: '2019-02-25T22:12:32.779Z'
            date_modified: '2019-02-25T22:12:32.779Z'
            kind: custom
          - uuid: bbdd79ad-760c-406c-8866-c0642ec6fb3f
            name: Simple HTML
            schema: []
            template: '{{{html}}}'
            date_created: '2019-02-26T16:35:33.257Z'
            date_modified: '2019-02-26T16:35:33.257Z'
            kind: custom
          - uuid: 28a6d62d-6435-4423-a611-35feaab1229a
            name: Simple Text with Styling
            schema: []
            template: >-
              <style>#bc-simple-text-{{_.id}} {color: {{color}};background:
              {{background_color}};font-size: {{font_size}};font-style:
              {{font_style}};font-weight: {{font_weight}};font-family:
              {{font_family}};text-align: {{text_align}};margin-top:
              {{margin_top}};margin-bottom: {{margin_bottom}};margin-left:
              {{margin_left}};margin-right: {{margin_right}};padding-top:
              {{padding_top}};padding-bottom: {{padding_bottom}};padding-left:
              {{padding_left}};padding-right: {{padding_right}};}</style><p
              id='bc-simple-text-{{_.id}}'>{{text}}</p>
            date_created: '2019-02-26T17:20:14.274Z'
            date_modified: '2019-02-26T17:20:14.274Z'
            kind: custom
          - uuid: f054d960-3b3f-4bed-b3b3-ccb024e2f807
            name: YouTube Embed
            schema: []
            template: >-
              <iframe    id='ytplayer-{{_.id}}'    type='text/html'   
              width='{{width}}'    height='{{height}}'   
              src='https://www.youtube.com/embed/{{video_id}}?autoplay={{autoplay}}&color={{color}}&controls={{controls}}&disablekb={{disablekb}}&fs={{fs}}&rel={{rel}}&showinfo={{showinfo}}'   
              frameborder='{{frameborder}}'>  </iframe>
            date_created: '2019-02-26T18:59:18.359Z'
            date_modified: '2019-02-26T18:59:18.359Z'
            kind: custom
          - uuid: be346d31-d869-4e96-9299-4c85bc1af55a
            name: Slider Template
            schema: []
            template: |-
              <ul class="slider">
              {{#each slides}}
              <ul class="slide"><img class="mySlides" src="{{image}}"/></ul>
              {{/each}}
              </ul>
              <script>
              var slideIndex = 0;
              carousel();
              function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none"; 
              }
              slideIndex++;
              if (slideIndex > x.length) {slideIndex = 1} 
              x[slideIndex-1].style.display = "block"; 
              setTimeout(carousel, 4000); // Change image every 4 seconds
              }
              </script>
            date_created: '2019-02-26T19:25:24.081Z'
            date_modified: '2019-02-26T19:25:24.081Z'
            kind: custom
          - uuid: 2ff24732-6848-47ba-9a7f-c8b1d444f270
            name: PayPal Credit Banner - Cart Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="CartPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:21.073Z'
            date_modified: '2017-10-27T17:20:20.386Z'
            kind: pp-cartpage-fullbanner
          - uuid: 3002bf5b-5eca-4ac2-8f1f-5240c2b74712
            name: PayPal Credit Banner - Home Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="HomePage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:32.067Z'
            date_modified: '2017-10-27T17:20:50.367Z'
            kind: pp-homepage-fullbanner
          - uuid: 7c541473-855d-4b62-a7bf-6ef3199f914c
            name: PayPal Credit Banner - Product Details Page (234x60)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  width: 100%;
                  max-width: 234px;
                  height: 60px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="234x60"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="ProductDetailsPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-04T22:49:41.274Z'
            date_modified: '2017-10-27T17:21:16.179Z'
            kind: pp-proddetailspage-quarterbanner
          - uuid: 2dfeb50e-5f8c-4df2-8525-a338091eed32
            name: Braintree PayPal Credit Banner - Cart Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="CartPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-27T17:21:27.316Z'
            date_modified: '2017-10-27T17:21:38.264Z'
            kind: bt-cartpage-fullbanner
          - uuid: a96caeab-1e47-4196-b707-7037950fb2a7
            name: Braintree PayPal Credit Banner - Home Page (728x90)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                  width: 100%;
                  max-width: 728px;
                  height: 90px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="728x90"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="HomePage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-27T17:21:48.607Z'
            date_modified: '2017-10-27T17:21:59.798Z'
            kind: bt-homepage-fullbanner
          - uuid: 5b91d91c-9d09-4fc2-81a5-733746306924
            name: Braintree PayPal Credit Banner - Product Details Page (234x60)
            schema: []
            template: |
              <style media="screen">
                #banner-region-{{ _.id }} {
                  display: block;
                  width: 100%;
                  max-width: 234px;
                  height: 60px;
                }
              </style>

              <div id="banner-region-{{ _.id }}">
                <script src="https://www.paypalobjects.com/upstream/partner.js"
                  data-pp_payer_id="{{ merchant_id }}"
                  data-pp_bn_code="BigCommerce_Cart_PPC"
                  data-pp_dimensions="234x60"
                  data-pp_format="HTML"
                  data-pp_presentation_types="HTML"
                  data-pp_page="ProductDetailsPage"
                  data-pp_country_code="{{ country_code }}"
                  data-pp_locale="{{ locale }}"
                  data-pp_partner_version="2">
                </script>
              </div>
            date_created: '2017-10-27T17:22:08.430Z'
            date_modified: '2017-10-27T17:22:18.701Z'
            kind: bt-proddetailspage-quarterbanner
        meta:
          pagination:
            total: 12
            count: 12
            per_page: 50
            current_page: 1
            total_pages: 1
  WidgetTemplateResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/WidgetTemplate'
        meta:
          type: object
    examples:
      application/json:
        data:
          uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
          name: Header Images
          schema: []
          template: >-
            {{#each images}}<a href='{{image_url}}'><img src={{image_source}}
            style='width:33.3%'/></a>{{/each}}
          date_created: '2019-02-25T18:35:04.904Z'
          date_modified: '2019-02-25T18:35:04.904Z'
          kind: custom
        meta: {}
  WidgetCollectionResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Widget'
        meta:
          $ref: '#/definitions/CollectionMeta'
    examples:
      application/json:
        data:
          - uuid: a8940709-5655-4401-a341-62c44e3180b2
            name: Header Images
            widget_configuration:
              images:
                - image_url: 'https://www.bigcommerce.com'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
                - image_url: 'hhttps://www.bigcommerce.com'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
                - image_url: 'https://www.bigcommerce.com'
                  image_source: >-
                    https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
              _:
                id: a8940709-5655-4401-a341-62c44e3180b2
            widget_template:
              uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
              name: Header Images
              schema: []
              template: >-
                {{#each images}}<a href='{{image_url}}'><img
                src={{image_source}} style='width:33.3%'/></a>{{/each}}
              date_created: '2019-02-25T18:35:04.904Z'
              date_modified: '2019-02-25T18:35:04.904Z'
              kind: custom
            date_created: '2019-02-25T18:36:45.238Z'
            date_modified: '2019-02-25T18:36:45.238Z'
            description: ''
        meta:
          pagination:
            total: 1
            count: 1
            per_page: 50
            current_page: 1
            total_pages: 1
  WidgetResponse:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Widget'
        meta:
          type: object
    examples:
      application/json:
        data:
          uuid: a8940709-5655-4401-a341-62c44e3180b2
          name: Header Images
          widget_configuration:
            images:
              - image_url: 'https://tatiana.fun/all/kinfolk-issue-16/'
                image_source: >-
                  https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on
              - image_url: 'https://tatiana.fun/all/kinfolk-issue-16/'
                image_source: >-
                  https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on
              - image_url: 'https://tatiana.fun/all/kinfolk-issue-16/'
                image_source: >-
                  https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on
            _:
              id: a8940709-5655-4401-a341-62c44e3180b2
          widget_template:
            uuid: 3a1b0044-c9b3-47d3-9929-01ab0c20243b
            name: Header Images
            schema: []
            template: >-
              {{#each images}}<a href='{{image_url}}'><img src={{image_source}}
              style='width:33.3%'/></a>{{/each}}
            date_created: '2019-02-25T18:35:04.904Z'
            date_modified: '2019-02-25T18:35:04.904Z'
            kind: custom
          date_created: '2019-02-25T18:36:45.238Z'
          date_modified: '2019-02-25T18:36:45.238Z'
          description: ''
        meta: {}
