swagger: '2.0'
info:
  version: ''
  title: Wishlist API
  contact: {}
  description: "## Wishlist API\n  \nThe Wishlist API allows a developer to create and manage customer [Wishlists](https://support.bigcommerce.com/s/article/Wishlists). A Wishlist allows you to see what your customers are interested in and saving on the store. With this information you’ll be able to create targeted campaigns to help merchants grow their business.\_ "
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /wishlists:
    post:
      description: >-
        Creates a
        [*Wishlist*](/api-reference/customer-subscribers/wishlist-api/models/wishlist)
        and [*Wishlist
        Item*](/api-reference/customer-subscribers/wishlist-api/models/wishlistitem).
        More than one item can be added in the POST.


        **Required Fields**

        * name

        * customer_id
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsPost
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistCreateRequestData'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - product_id: 77
                  variant_id: 1
                - product_id: 80
                  variant_id: 1
                - product_id: 81
                  variant_id: 1
                - product_id: 86
                  variant_id: 1
                - product_id: 88
                  variant_id: 1
              customer_id: 10
              is_public: true
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          $ref: '#/responses/Wishlist'
        '401':
          $ref: '#/responses/Unauthorized'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    get:
      description: >-
        Returns a list of
        [*Wishlists*](/api-reference/customer-subscribers/wishlist-api/models/wishlist).
        Optional filter parameters can be passed in.
      summary: Get All Wishlists
      tags:
        - Wishlists
      operationId: WishlistsGet
      parameters:
        - $ref: '#/parameters/FilterCustomerID'
        - $ref: '#/parameters/FilterPage'
        - $ref: '#/parameters/FilterLimit'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WishlistCollection'
        '401':
          $ref: '#/responses/Unauthorized'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
  '/wishlists/{wishlist_id}/items/{item_id}':
    delete:
      description: >-
        Deletes a [*Wishlist
        Item*](/api-reference/customer-subscribers/wishlist-api/models/wishlistitem).
      summary: Delete Wishlist Item
      operationId: WishlistsItemsByIdDelete
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
        - in: path
          name: item_id
          type: integer
          required: true
          format: int32
      responses:
        '200':
          $ref: '#/responses/Wishlist'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          description: Wishlist not found.
          schema: {}
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Wishlists
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
      - name: item_id
        in: path
        type: string
        required: true
  '/wishlists/{wishlist_id}':
    get:
      description: >-
        Returns a single
        [*Wishlist*](/api-reference/customer-subscribers/wishlist-api/models/wishlist).
      summary: Get a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdGet
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/Wishlist'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          description: Wishlist not found.
          schema: {}
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    put:
      description: >-
        Updates a
        [*Wishlist*](/api-reference/customer-subscribers/wishlist-api/models/wishlist).


        Use this endpoint to update an existing wishlist items, change the
        wishlist name, customer ID or if the wishlist is available publicly.


        **Required Fields**

        * customer_id
      summary: Update a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdPut
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistUpdateRequestData'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - id: 1
                  product_id: 2
                  variant_id: 3
              customer_id: 10
              is_public: false
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          $ref: '#/responses/Wishlist'
        '401':
          $ref: '#/responses/Unauthorized'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: >-
        Deletes a
        [*Wishlist*](/api-reference/customer-subscribers/wishlist-api/models/wishlist).
      summary: Delete a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdDelete
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
          headers: {}
        '401':
          $ref: '#/responses/Unauthorized'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
  '/wishlists/{wishlist_id}/items':
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
    post:
      responses:
        '201':
          $ref: '#/responses/Wishlist'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          description: Wishlist not found.
        '500':
          description: Internal server error.
      summary: Add Wishlist Item
      description: >-
        Adds a [*Wishlist
        Item*](/api-reference/customer-subscribers/wishlist-api/models/wishlistitem).
        More than one item can be added at a time.
      operationId: WishlistsItemsByIdPost
      tags:
        - Wishlists
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/WishlistAddItem'
          x-examples:
            application/json:
              items:
                - product_id: 10
                  variant_id: 10
definitions:
  WishlistCreateRequestData:
    title: Create a Wishlist
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
        example: 12
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
        example: false
      name:
        description: The title of the wishlist.
        type: string
        example: School Shopping
      items:
        description: Array of Wishlist items.
        type: array
        items:
          $ref: '#/definitions/WishlistAddItem'
    required:
      - customer_id
  WishlistUpdateRequestData:
    title: Update a Wishlist
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      name:
        description: The title of the wishlist.
        type: string
      items:
        description: Array of Wishlist items.
        type: array
        items:
          $ref: '#/definitions/WishlistItem'
    required:
      - customer_id
  Wishlist:
    title: Wishlist
    type: object
    properties:
      id:
        description: 'Wishlist ID, provided after creating a wishlist with a POST.'
        type: integer
        format: int32
        example: 30
      customer_id:
        description: The ID the customer to which the wishlist belongs.
        type: integer
        format: int32
        example: 12
      name:
        description: The Wishlist's name.
        type: string
        example: Christmas List
      is_public:
        description: Whether the Wishlist is available to the public.
        type: boolean
        example: true
      token:
        description: >-
          The token of the Wishlist. This is created internally within
          BigCommerce. The Wishlist ID is to be used for external apps.
          Read-Only
        type: string
        format: uuid
        example: 2d55481-13eb-4d1e-9d79-9062b518570d
      items:
        description: Array of Wishlist items
        type: array
        items:
          $ref: '#/definitions/WishlistItem'
  WishlistItem:
    title: Wishlist Item
    type: object
    properties:
      id:
        description: The ID of the item
        type: integer
        format: int32
        example: 12
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 55
      variant_id:
        description: The variant ID of the item.
        type: integer
        format: int32
        example: 22
  WishlistAddItem:
    title: Add Item to Wishlist
    type: object
    properties:
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 12
      variant_id:
        description: The variant ID of the product.
        type: integer
        format: int32
        example: 152
  Pagination:
    title: Pagination
    description: 'Data about the response, including pagination and collection totals.'
    type: object
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
  Error:
    title: Error
    type: object
    properties:
      status:
        type: integer
        format: int32
      title:
        type: string
      type:
        type: string
  Meta:
    type: object
    title: Meta
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
tags:
  - name: Wishlists
    description: ''
responses:
  Wishlist:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Wishlist'
        meta:
          type: object
    examples:
      application/json:
        data:
          id: 30
          customer_id: 10
          name: Christmas List
          is_public: true
          token: d2d55481-13eb-4d1e-9d79-9062b518570d
          items:
            - id: 44
              product_id: 77
              variant_id: 1
            - id: 45
              product_id: 80
              variant_id: 1
            - id: 46
              product_id: 81
              variant_id: 1
            - id: 47
              product_id: 86
              variant_id: 1
            - id: 48
              product_id: 88
              variant_id: 1
        meta: {}
  WishlistCollection:
    description: ''
    schema:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Wishlist'
        meta:
          $ref: '#/definitions/Meta'
    examples:
      application/json:
        data:
          - id: 1
            customer_id: 4
            name: My Wish List
            is_public: false
            token: 9399ed72f409d1a785b2fa5781563dc3
            items: []
          - id: 2
            customer_id: 11
            name: Christmas
            is_public: false
            token: 33743dfa06a5c45b2c418acc3d0b1acd
            items:
              - id: 1
                product_id: 167
              - id: 2
                product_id: 174
              - id: 3
                product_id: 184
          - id: 3
            customer_id: 20
            name: Birthday
            is_public: false
            token: 0eabf221247f6993e3b10415da9a90bc
            items:
              - id: 4
                product_id: 184
              - id: 5
                product_id: 183
          - id: 4
            customer_id: 20
            name: Christmas
            is_public: false
            token: 813f29b4908f1ea7d489c5dc01a5a8f2
            items:
              - id: 6
                product_id: 201
          - id: 5
            customer_id: 19
            name: Wish List
            is_public: false
            token: dc08569f628f2e40f1159a4127dc163d
            items:
              - id: 7
                product_id: 173
              - id: 8
                product_id: 176
        meta:
          pagination:
            total: 0
            count: 5
            per_page: 50
            current_page: 1
            total_pages: 0
  Meta:
    description: ''
    schema:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  description: Total number of items in the result set.
                  type: integer
                  format: int32
                count:
                  description: Total number of items in the collection response.
                  type: integer
                  format: int32
                per_page:
                  description: >-
                    The amount of items returned in the collection per page,
                    controlled by the limit parameter.
                  type: integer
                  format: int32
                current_page:
                  description: The page you are currently on within the collection.
                  type: integer
                  format: int32
                total_pages:
                  description: The total number of pages in the collection.
                  type: integer
                  format: int32
  Unauthorized:
    description: Authentication information is missing or invalid.
    schema:
      $ref: '#/definitions/Error'
parameters:
  FilterCustomerID:
    name: customer_id
    in: query
    type: integer
    format: int32
    description: All wishlists relating to the customer.
  FilterPage:
    in: query
    type: integer
    name: page
    format: int32
    description: >-
      The page number of results per page. 1 is the default and starts from
      record 0.
  FilterLimit:
    name: limit
    in: query
    type: integer
    format: int32
    description: The numbers of items to return per page. Default is 50 and maximum is 250.
  WishlistID:
    name: wishlist_id
    in: path
    type: integer
    required: true
    description: ID of the Wishlist
    format: int32
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
