swagger: '2.0'
info:
  title: Scripts API
  version: ''
  description: >-
    To learn more about Scripts, see
    [here](/api-docs/scripts/scripts-overview). 

    ### Scripts


    The BigCommerce Scripts API can be used to add a script to a store's page.
    Some use cases:

    * Insert tracking codes

    * Storefront single click applications

    * Live chat, support plugins

    * Theme extension or connector apps
  termsOfService: ''
  license:
    name: ''
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
tags:
  - name: Scripts
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /content/scripts:
    post:
      summary: Create a Script
      operationId: createScript
      parameters:
        - name: scriptBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScriptPost'
          x-examples:
            application/json:
              name: Bootstrap
              description: Build responsive websites
              html: >-
                <script
                src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>
              src: >-
                https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
              auto_uninstall: true
              load_method: default
              location: footer
              visibility: all_pages
              kind: src
            src script:
              name: Bootstrap
              description: Build responsive websites
              src: >-
                https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
              auto_uninstall: true
              load_method: default
              location: footer
              visibility: all_pages
              kind: src
            script tag:
              name: Bootstrap
              description: Build responsive websites
              html: >-
                <script
                src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>
              auto_uninstall: true
              load_method: default
              location: footer
              visibility: all_pages
              kind: script_tag
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          schema:
            $ref: '#/definitions/ScriptResponse'
          description: ''
          examples:
            application/json:
              data:
                uuid: 2bf40be2-e57a-4bc8-860a-5bf45edd3795
                name: jQuery
                description: 'The Write Less, Do More, JavaScript Library.'
                src: 'https://code.jquery.com/jquery-3.2.1.min.js'
                auto_uninstall: true
                load_method: default
                location: head
                visibility: storefront
                kind: src
                api_client_id: d1j42k5q76xsm15fa3g8sp2egytoixo
                date_created: '2017-12-05T23:37:45.506Z'
                date_modified: '2017-12-05T23:37:45.506Z'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      tags:
        - Scripts
      description: >-
        Creates a *Script*.


        **Required Fields**

        * name


        **Read Only Fields**

        * uuid


        **Notes**


        If kind is `src` –- Only the `src` property is needed, and you can
        optionally supply a `load_method`. The `html` field should not be
        specified.


        If kind is script_tag -- Only the `script_tag` is needed. The `src`
        field should not be specified.
    get:
      summary: Get All Scripts
      operationId: getScripts
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/ScriptsSortKeyParam'
        - $ref: '#/parameters/DirectionParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          schema:
            $ref: '#/definitions/ScriptsResponse'
          description: ''
          examples:
            application/json:
              data:
                - uuid: 311a146b-8322-4b6e-905f-6c9a6037514b
                  name: jQuery
                  description: 'The Write Less, Do More, JavaScript Library.'
                  html: ''
                  src: >-
                    https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js
                  auto_uninstall: true
                  load_method: default
                  location: head
                  visibility: storefront
                  kind: src
                  date_created: '2018-09-17T16:39:43.472Z'
                  date_modified: '2018-09-17T16:39:43.472Z'
                  api_client_id: 2d63fbe890f4ac83794d69f361e055
                - uuid: 61826311-5d54-4e81-a7d2-d44243f11e42
                  name: Bootstrap
                  description: Build responsive websites
                  html: ''
                  src: >-
                    https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
                  auto_uninstall: true
                  load_method: default
                  location: footer
                  visibility: all_pages
                  kind: src
                  date_created: '2018-09-17T16:45:31.047Z'
                  date_modified: '2018-09-17T16:45:31.047Z'
                  api_client_id: 2d63fbe890f4ac83794d69f361e055
              meta:
                pagination:
                  total: 2
                  count: 2
                  per_page: 50
                  current_page: 1
                  total_pages: 1
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      tags:
        - Scripts
      description: >-
        Returns a list of *Scripts*. Optional parameters can be passed in.


        This will only return scripts that have been created by the api key and
        password that created the script originally. 
  '/content/scripts/{uuid}':
    get:
      summary: Get a Script
      operationId: getScript
      parameters:
        - $ref: '#/parameters/ScriptUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          schema:
            $ref: '#/definitions/ScriptResponse'
          description: Success
          examples:
            application/json:
              data:
                uuid: 311a146b-8322-4b6e-905f-6c9a6037514b
                name: jQuery
                description: 'The Write Less, Do More, JavaScript Library.'
                html: ''
                src: >-
                  https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js
                auto_uninstall: true
                load_method: default
                location: head
                visibility: storefront
                kind: src
                date_created: '2018-09-17T16:39:43.472Z'
                date_modified: '2018-09-17T16:39:43.472Z'
                api_client_id: 2d63fbe890f4ac83794d69f361e055
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      tags:
        - Scripts
      description: Returns a single *Script*.
    put:
      summary: Update a Script
      operationId: updateScript
      parameters:
        - $ref: '#/parameters/ScriptUUID'
        - name: scriptBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScriptPut'
          x-examples:
            application/json:
              name: jQuery
              description: 'The Write Less, Do More, JavaScript Library.'
              html: >-
                <script
                src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>
              src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'
              auto_uninstall: true
              load_method: default
              location: head
              visibility: storefront
              kind: src
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          schema:
            $ref: '#/definitions/ScriptResponse'
          description: ''
          examples:
            application/json:
              data:
                uuid: 311a146b-8322-4b6e-905f-6c9a6037514b
                name: jQuery
                description: 'The Write Less, Do More, JavaScript Library.'
                html: ''
                src: >-
                  https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js
                auto_uninstall: true
                load_method: default
                location: head
                visibility: storefront
                kind: src
                date_created: '2018-09-17T16:39:43.472Z'
                date_modified: '2018-09-17T16:39:43.472Z'
                api_client_id: 2d63fbe890f4ac83794d69f361e055
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      tags:
        - Scripts
      description: Updates a *Script*.
    delete:
      summary: Delete a Script
      operationId: deleteScript
      parameters:
        - $ref: '#/parameters/ScriptUUID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
        '404':
          description: The resource was not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          schema:
            $ref: '#/definitions/ErrorResponse'
          description: >-
            This is the result of missing required fields, or of invalid data.
            See the response for more details.
      tags:
        - Scripts
      description: Deletes a *Script*.
parameters:
  FilterWidgetTemplateUUIDParam:
    in: query
    name: widget_template_uuid
    description: The identifier for a specific widget template.
    type: string
    format: uuid
    required: false
  FilterWidgetTemplateKindParam:
    in: query
    name: widget_template_kind
    description: The kind of widget template.
    type: string
    required: false
  PlacementUUID:
    name: uuid
    description: The identifier for a specific placement.
    required: true
    in: path
    type: string
    format: uuid
  WidgetUUID:
    name: uuid
    description: The identifier for a specific widget.
    required: true
    in: path
    type: string
    format: uuid
  ScriptUUID:
    name: uuid
    description: The identifier for a specific script.
    required: true
    in: path
    type: string
    format: uuid
  FilterWidgetUUIDParam:
    name: widget_uuid
    description: The identifier for a specific widget.
    in: query
    type: string
    format: uuid
    required: false
  FilterIncludeFieldsParam:
    name: include_fields
    description: >-
      Fields to include, in a comma-separated list. The ID and the specified
      fields will be returned.
    required: false
    in: query
    type: string
  FilterExcludeFieldsParam:
    name: exclude_fields
    description: >-
      Fields to exclude, in a comma-separated list. The specified fields will be
      excluded from a response. The ID cannot be excluded.
    required: false
    in: query
    type: string
  PageParam:
    name: page
    description: Specifies the page number in a limited (paginated) list of products.
    required: false
    in: query
    type: integer
  LimitParam:
    name: limit
    description: >-
      Controls the number of items per page in a limited (paginated) list of
      products.
    required: false
    in: query
    type: integer
  ScriptsSortKeyParam:
    name: sort
    description: |
      Scripts field name to sort by.
    required: false
    in: query
    type: string
    enum:
      - name
      - description
      - date_created
      - date_modified
  DirectionParam:
    name: direction
    description: |
      Sort direction. Acceptable values are: `asc`, `desc`.
    required: false
    in: query
    type: string
    enum:
      - asc
      - desc
  TemplateUUID:
    name: uuid
    description: The identifier for a specific template.
    required: true
    in: path
    type: string
    format: uuid
  RequiredTemplateFile:
    in: query
    name: templateFile
    description: 'The template file, for example: `pages/home`.'
    type: string
    required: true
  QueryWidgetsParam:
    type: string
    name: query
    in: query
    description: |
      The query string associated with a widget's name and description.
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
definitions:
  CollectionMeta:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
    title: Collection Meta
  Pagination:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: Pagination
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
        example: 36
      count:
        type: integer
        description: |
          Total number of items in the collection response.
        example: 36
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        example: 50
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
        example: 1
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
        example: 1
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
            example: '?page=1&limit=50'
          next:
            type: string
            description: |
              Link to the next page returned in the response.
  Meta:
    type: object
    description: Empty meta object; may be used later.
    title: Meta
  ErrorResponse:
    allOf:
      - $ref: '#/definitions/BaseError'
      - type: object
        properties:
          errors:
            $ref: '#/definitions/DetailedErrors'
    title: Error Response
  BaseError:
    type: object
    description: |
      Error payload for the BigCommerce API.
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Base Error
  DetailedErrors:
    type: object
    additionalProperties:
      type: string
    title: DetailedErrors
  NotFound:
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Not Found
  NoContent:
    description: No-content response for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          204 HTTP status code.
        type: integer
      title:
        description: The error title describing the situation.
        type: string
      type:
        type: string
      instance:
        type: string
    title: No Content
  Script:
    type: object
    example:
      uuid: 2bf40be2-e57a-4bc8-860a-5bf45edd3795
      name: jQuery
      description: 'The Write Less, Do More, JavaScript Library.'
      src: 'https://code.jquery.com/jquery-3.2.1.min.js'
      auto_uninstall: true
      load_method: defer
      location: head
      visibility: storefront
      kind: src
      api_client_id: d1j42k5q76xsm15fa3g8sp2egytoixo
      date_created: '2017-12-05T23:37:45.506Z'
      date_modified: '2017-12-05T23:37:45.506Z'
    title: Script
    properties:
      uuid:
        type: string
        format: uuid
        description: The primary identifier.
      name:
        type: string
        description: The user-friendly name.
      description:
        type: string
        description: The user-friendly description.
      html:
        type: string
        description: >-
          An html string containing exactly one `script` tag. Only present if
          `kind` is `script_tag`
      src:
        type: string
        description: >-
          The `src` attribute of the script to load. Only present if `kind` is
          `src`.
      auto_uninstall:
        type: boolean
        description: >-
          It will enable automatic cleanup of the script when the single click
          app is uninstalled or OAuth token is revoked.
      load_method:
        type: string
        description: >-
          The load method to use for the script. Values are `default`, `async`,
          or `defer`. It determines how the script should be loaded into the
          page.
        enum:
          - default
          - async
          - defer
      location:
        type: string
        description: Where on the page to place the script. Values are `head` or `footer`.
        enum:
          - head
          - footer
      visibility:
        type: string
        description: "Which set of pages the script should load on. \n\nPlease note that you need to have `Checkout content` scope to use `all_pages` and `checkout`.\n\n- The current visibility options are `storefront`, `checkout`, `all_pages` and `order_confirmation`.\n\n     `storefront`: All pages that are not `checkout` or `order_confirmation`.\n\t\t \nFor a list of all locations visit [Scripts Visibility](/api-docs/scripts/scripts-overview#scripts_scripts-visibility)."
        enum:
          - storefront
          - all_pages
          - checkout
          - order_confirmation
      kind:
        type: string
        description: >-
          What type of script this is.


          `src` - a `script` tag will be generated with its `src` attribute set
          to the value of `src`; For scripts that use the src url. By providing
          a path to the script, we can optimize and serve the script tag
          automatically for you.


          `script_tag` - The value of `html` will be injected directly onto the
          page.

          For scripts which include a raw HTML script_tag to be inserted into
          the page. The load_method must be default.
        enum:
          - src
          - script_tag
      api_client_id:
        type: string
        description: >-
          The client id of the API user that created this script, or blank if
          created by other means.
      date_created:
        type: string
        format: date-time
        description: The date on which this object was initially created.
      date_modified:
        type: string
        format: date-time
        description: The date on which this object was last updated.
  ScriptPost:
    required:
      - name
    properties:
      name:
        type: string
        description: The user-friendly name.
        minLength: 1
        maxLength: 255
      description:
        type: string
        description: The user-friendly description.
        maxLength: 255
      html:
        type: string
        description: >-
          An html string containing exactly one `script` tag. Required if `kind`
          is `script_tag`.
        maxLength: 65535
      src:
        type: string
        description: >-
          The `src` attribute of the script to load. Required if `kind` is
          `src`. Must be in `https` format.
        maxLength: 255
      auto_uninstall:
        type: boolean
        description: >-
          Whether to uninstall this script when the app associated with it is
          removed.
        default: true
      load_method:
        type: string
        description: >-
          The load method to use for the script. Acceptable values are
          `default`, `async`, or `defer`.
        default: defer
        enum:
          - default
          - async
          - defer
      location:
        type: string
        description: >-
          Where on the page to place the script. Acceptable values are `head` or
          `footer`.
        default: footer
        enum:
          - head
          - footer
      visibility:
        type: string
        description: >-
          Which set of pages the script should load on. The values allowed for
          this parameter are `storefront`, `all_pages`, `checkout` and
          `order_confirmation`. Please note that you need to have `Checkout
          content` scope to use `all_pages` and `checkout`.
        default: storefront
        enum:
          - storefront
          - all_pages
          - checkout
          - order_confirmation
      kind:
        type: string
        description: >-
          What type of script this is. Acceptable values are `src` - a `script`
          tag will be generated with its `src` attribute set to the value of
          `src`; `script_tag` - The value of `html` (which must contain a single
          `script` tag) will be injected directly onto the page.
        default: src
        enum:
          - src
          - html
    example:
      name: jQuery
      description: 'The Write Less, Do More, JavaScript Library.'
      src: 'https://code.jquery.com/jquery-3.2.1.min.js'
      auto_uninstall: true
      load_method: defer
      location: head
      visibility: storefront
      kind: src
    title: Script Post
  ScriptPut:
    properties:
      name:
        type: string
        description: The user-friendly name.
        minLength: 1
        maxLength: 255
      description:
        type: string
        description: The user-friendly description.
        maxLength: 255
      html:
        type: string
        description: >-
          An html string containing exactly one `script` tag. Required if `kind`
          is included and equal to `script_tag`.
        maxLength: 65535
      src:
        type: string
        description: >-
          The `src` attribute of the script to load. Required if `kind` is
          included and equal to `src`. Must be in `https` format.
        maxLength: 255
      auto_uninstall:
        type: boolean
        description: >-
          Whether to uninstall this script when the app associated with it is
          removed.
        default: true
      load_method:
        type: string
        description: >-
          The load method to use for the script. Acceptable values are
          `default`, `async`, or `defer`.
        default: defer
        enum:
          - default
          - async
          - defer
      location:
        type: string
        description: >-
          Where on the page to place the script. Acceptable values are `head` or
          `footer`.
        default: footer
        enum:
          - head
          - footer
      visibility:
        type: string
        description: >-
          Which set of pages the script should load on. The values allowed for
          this parameter are `storefront`, `all_pages`, `checkout` and
          `order_confirmation`. Please note that you need to have `Checkout
          content` scope to use `all_pages` and `checkout`.
        default: storefront
        enum:
          - storefront
          - all_pages
          - checkout
          - order_confirmation
      kind:
        type: string
        description: >-
          What type of script this is. Acceptable values are `src` - a `script`
          tag will be generated with its `src` attribute set to the value of
          `src`; `script_tag` - The value of `html` (which must contain a single
          `script` tag) will be injected directly onto the page.
        default: src
        enum:
          - src
          - html
    example:
      name: jQuery
      description: 'The Write Less, Do More, JavaScript Library.'
      src: 'https://code.jquery.com/jquery-3.2.1.min.js'
      auto_uninstall: true
      load_method: defer
      location: head
      visibility: storefront
      kind: src
    title: Script Put
  ScriptResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/Script'
    title: Script Response
  ScriptsResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Script'
      meta:
        $ref: '#/definitions/CollectionMeta'
    title: Scripts Response
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
