swagger: '2.0'
info:
  version: ''
  title: Shipping APIs
  description: >-
    ### Shipping Zones

    The Shipping Zone object and endpoints manage shipping zones within
    countries.


    ### Shipping Methods

    The Shipping Methods object and endpoints manage shipping rules within
    Shipping Zones. These rules determine the shipping rates displayed at
    checkout, and related parts of the control panel, such as the shipping of
    manual orders.


    ### Shipping Carrier Connections

    Carrier connections refer to specific settings required to connect to a
    specific shipping carrier. Each carrier requires your app to supply a unique
    set of properties/fields to establish a connection with that carrier.
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /shipping/zones:
    get:
      description: Returns a list of all *Shipping Zones*.
      summary: Get All Shipping Zones
      tags:
        - Shipping Zones
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ShippingZone'
          examples:
            application/json:
              - id: 1
                name: United States
                type: country
                locations:
                  - id: 5
                    country_iso2: US
                free_shipping:
                  enabled: false
                  minimum_sub_total: '0.0000'
                  exclude_fixed_shipping_products: false
                handling_fees:
                  display_separately: true
                  fixed_surcharge: '0.0000'
                enabled: true
              - id: 2
                name: Australia
                type: country
                locations:
                  - id: 6
                    country_iso2: AU
                free_shipping:
                  enabled: false
                  minimum_sub_total: '0.0000'
                  exclude_fixed_shipping_products: false
                handling_fees:
                  display_separately: true
                  fixed_surcharge: '0.0000'
                enabled: true
            Response Schema:
              - name: esse veniam deserunt nisi
                id: -6648057
                type: state
                locations:
                  - id: -27962554
                    zip: sed commodo
                    country_iso2: laborum Ut
                    state_iso2: sunt officia laboris tempor cupidatat
                  - id: -90778339
                    zip: amet anim deserunt cillum aute
                    country_iso2: cupidatat
                    state_iso2: dolor nisi
                  - id: -48379114
                    zip: dolore fugiat
                    country_iso2: sit in officia ea
                    state_iso2: qui ad
                free_shipping:
                  enabled: false
                  minimum_sub_total: exercitation pariatur Lorem enim
                  exclude_fixed_shipping_products: true
                handling_fees:
                  fixed_surcharge: in
                  percentage_surcharge: consequat
                  display_separately: false
                enabled: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAllShippingZones
    post:
      description: |-
        Creates a *Shipping Zone*.

        **Required Fields**
        * name
      summary: Create a Shipping Zone
      tags:
        - Shipping Zones
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ShippingZone'
          x-examples:
            application/json:
              name: UnitedStates-NM
              type: state
              locations:
                - country_iso2: US
                  state_iso2: NM
              handling_fees:
                fixed_surcharge: 12
                display_separately: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingZone'
          examples:
            application/json:
              id: 2
              name: UnitedStates-NM
              type: state
              locations:
                - id: 2
                  country_iso2: US
                  state_iso2: NM
              free_shipping:
                enabled: false
                minimum_subtotal: '0.0000'
                exclude_fixed_shipping_products: false
              handling_fees:
                fixed_surcharge: '12.0000'
                display_separately: true
              enabled: true
            Response Schema:
              name: dolore Excepteur Lorem ullamco dolore
              id: 8555397
              type: state
              locations:
                - id: -91548356
                  zip: 'do sint '
                  country_iso2: officia fugiat ad anim
                  state_iso2: ipsum ullamco Ut in
              free_shipping:
                enabled: true
                minimum_sub_total: magna commodo reprehenderit Excepteur
                exclude_fixed_shipping_products: false
              handling_fees:
                fixed_surcharge: cupidatat
                percentage_surcharge: ullamco nisi
                display_separately: false
              enabled: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: createAShippingZones
  '/shipping/zones/{id}':
    get:
      description: Returns a single *Shipping Zone*.
      summary: Get a Shipping Zones
      tags:
        - Shipping Zones
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingZone'
          examples:
            application/json:
              id: 1
              name: United States
              type: zip
              locations:
                - id: 3
                  zip: 12345
                  country_iso2: US
                  state_iso2: TX
              free_shipping:
                enabled: false
                minimum_subtotal: 0
                exclude_fixed_shipping_products: false
              handling_fees:
                fixed_surcharge: 0
                percentage_surcharge: ''
                display_separately: true
              enabled: true
            Response Schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAShippingZone
    put:
      description: |-
        Updates a *Shipping Zone*.

        **Required Fields**
        * name

        **Read Only Fields**
        * id
      summary: Update a Shipping Zone
      tags:
        - Shipping Zones
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ShippingZone'
          x-examples:
            application/json:
              name: UnitedStates-Samoa
              type: state
              locations:
                - id: 5
                  country_iso2: US
                  state_iso2: AS
              free_shipping:
                enabled: false
                minimum_subtotal: '0.0000'
                exclude_fixed_shipping_products: false
              handling_fees:
                fixed_surcharge: '6.0000'
                display_separately: true
              enabled: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingZone'
          examples:
            application/json:
              id: 1
              name: United States
              type: zip
              locations:
                - id: 3
                  zip: 12345
                  country_iso2: US
                  state_iso2: TX
              free_shipping:
                enabled: false
                minimum_subtotal: 0
                exclude_fixed_shipping_products: false
              handling_fees:
                fixed_surcharge: 0
                percentage_surcharge: ''
                display_separately: true
              enabled: true
            Request Schema:
              name: dolore Ut qui
              id: -44321070
              type: zip
              locations:
                - id: 65307977
                  zip: sint cillum
                  country_iso2: ullamco incididunt veniam voluptate
                  state_iso2: ad
                - id: -93132011
                  zip: cillum quis
                  country_iso2: ad qui sunt
                  state_iso2: magna u
                - id: -29601790
                  zip: ut
                  country_iso2: sunt
                  state_iso2: esse ex in ut
              free_shipping:
                enabled: false
                minimum_sub_total: cillum proident reprehenderit sed enim
                exclude_fixed_shipping_products: true
              handling_fees:
                fixed_surcharge: dolore fugiat
                percentage_surcharge: eu anim
                display_separately: true
              enabled: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: updateAShippingZone
    delete:
      description: Deletes a *Shipping Zone*.
      summary: Delete a Shipping Zone
      tags:
        - Shipping Zones
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingZone
  '/shipping/zones/{zone_id}/methods':
    get:
      description: >-
        Returns a list of *Shipping Methods* in a zone. Default sorting is by
        shipping-method id, from lowest to highest. 
      summary: Get All Shipping Methods in a Zone
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ShippingMethod'
          examples:
            application/json:
              - id: 1
                name: Flat Rate
                type: perorder
                settings:
                  rate: 12
                enabled: true
                handling_fees:
                  fixed_surcharge: 0
                is_fallback: false
              - id: 2
                name: Pickup In Store
                type: pickupinstore
                settings: []
                enabled: false
                handling_fees:
                  fixed_surcharge: 0
                is_fallback: false
              - id: 3
                name: Ship by Weight
                type: weight
                settings:
                  default_cost: 0
                  default_cost_type: fixed_amount
                  range:
                    - lower_limit: 0
                      upper_limit: 20
                      shipping_cost: 8
                    - lower_limit: 20
                      upper_limit: 40
                      shipping_cost: 8
                    - lower_limit: 40
                      upper_limit: 60
                      shipping_cost: 8
                    - lower_limit: 60
                      upper_limit: 80
                      shipping_cost: 8
                enabled: true
                handling_fees:
                  fixed_surcharge: 0
                is_fallback: false
              - id: 4
                name: UPS®
                type: upsready
                settings:
                  carrier_options:
                    include_package_value: '1'
                    show_transit_time: '1'
                    destination_type: residential
                    packing_method: combined
                    packaging_type: 2c
                    delivery_services:
                      - Express
                      - Ground
                      - Next_Day_Air
                      - Saver
                      - Standard
                    packaging: []
                enabled: true
                handling_fees:
                  fixed_surcharge: 0
                is_fallback: false
            Response Schema:
              - id: -23225205
                name: tempo
                type: royalmail
                settings: {}
                enabled: true
                handling_fees: fixed_surcharge
                is_fallback: false
              - id: -35889344
                name: Lorem Excepteur esse
                type: canadapost
                settings: {}
                enabled: true
                handling_fees: percentage_surcharge
                is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getShippingMethodsZone
    post:
      description: "Creates a *Shipping Method* within a shipping zone. Real Time Carrier Connections are also supported by this endpoint. \n\n## Carrier Configurations – Current\n\nThis section provides a sample request, and a carrier-specific object/property model, for each supported carrier.\n \n### USPS by Endicia\n\n#### Sample Request\n\n\n```\n{\n    \"name\": \"USPS by Endicia\",\n    \"type\": \"endicia\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\" : [\"PriorityExpress\",\"Priority\", \"PriorityMailExpressInternational\"],\n\t\t\t\"packaging_type\" : [\"LargeFlatRateBox\",\"FlatRateLegalEnvelope\"],\n            \"show_transit_time\" : true\n        }\n    },\n    \"enabled\": true\n}\n```\n\n### USPS by Endicia Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | PriorityExpress <br> PriorityMailExpressInternational <br> FirstClassPackageInternationalService <br> Priority <br> PriorityMailInternational <br> First <br> ParcelSelect <br> MediaMail |\n| packaging_type | array | FlatRateLegalEnvelope <br> FlatRatePaddedEnvelope <br> Parcel <br> SmallFlatRateBox <br> MediumFlatRateBox <br> LargeFlatRateBox <br> FlatRateEnvelope <br> RegionalRateBoxA <br> RegionalRateBoxB |\n|show_transit_time | boolean | true <br> false |\n\n\n### FedEx\n\n#### Sample Request\n\n```\n{\n    \"name\": \"FEDEX\",\n    \"type\": \"fedex\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"PRIORITY_OVERNIGHT\",\n\t\t\t\t\"FEDEX_2_DAY\"\n            ],\n            \"dropoff_type\": \"REGULAR_PICKUP\",\n            \"packaging_type\": \"FEDEX_ENVELOPE\",\n            \"packing_method\": \"SEPARATE\",\n            \"rate_type\": \"NONE\",\n            \"include_package_value\": true,\n            \"destination_type\": \"residential\"\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### FedEx Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | PRIORITY_OVERNIGHT <br> STANDARD_OVERNIGHT <br> FIRST_OVERNIGHT <br> FEDEX_2_DAY <br> FEDEX_EXPRESS_SAVER <br> INTERNATIONAL_PRIORITY <br> INTERNATIONAL_ECONOMY <br> INTERNATIONAL_FIRST <br> FEDEX_1_DAY_FREIGHT <br> FEDEX_2_DAY_FREIGHT <br> FEDEX_3_DAY_FREIGHT <br> FEDEX_GROUND <br> GROUND_HOME_DELIVERY <br> INTERNATIONAL_PRIORITY_FREIGHT <br> INTERNATIONAL_ECONOMY_FREIGHT <br> EUROPE_FIRST_INTERNATIONAL_PRIORITY |\n| dropoff_type | string | REGULAR_PICKUP <br> REQUEST_COURIER <br> DROP_BOX <br> BUSINESS_SERVICE_CENTER <br> STATION |\n| packaging_type | string | FEDEX_ENVELOPE  <br> FEDEX_PAK <br> FEDEX_BOX <br> FEDEX_TUBE <br> FEDEX_10KG_BOX <br> FEDEX_25KG_BOX <br> YOUR_PACKAGING |\n| packing_method | string | SEPARATE <br> COMBINED |\n| rate_type | string | NONE <br> LIST |\n| include_package_value | boolean | true <br> false |\n| destination_type | string | residential <br> business |\n\n### UPS Ready\n\n#### Sample Request\n\n```\n{\n    \"name\": \"UPS ready\",\n    \"type\": \"upsready\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"2nd_Day_Air\",\"Standard\"\n            ],\n            \"packaging_type\": \"21\",\n            \"packing_method\": \"separate\",\n            \"include_package_value\": true,\n            \"destination_type\": \"residential\",\n            \"show_transit_time\" : true\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### UPS Ready Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | 2nd_Day_Air <br> 2nd_Day_Air_AM <br> 3_Day_Select <br> Expedited  <br> Express <br> Express_Plus <br> Express_Saver <br> Express_Early_AM <br> Ground <br> Next_Day_Air  <br> Next_Day_Air_Early_AM <br> Next_Day_Air_Saver <br> Saver <br> Standard <br> Today_Dedicated_Courier <br> Today_Express <br> Today_Express_Saver <br> Today_Intercity <br> Today_Standard <br> Worldwide_Expedited <br> Worldwide_Express <br> Worldwide_Express_Plus <br> Worldwide_Express_Saver <br> Worldwide_Saver |\n| destination_type | string | residential <br> business |\n| packing_method | string | separate <br> combined |\n| packaging_type | string (only codes allowed) | 21: UPS® Express Box <br> 24: UPS® 25 KG Box <br> 25: UPS® 10 KG Box <br> 30: Pallet <br> 01: UPS® Letter <br> 02: Customer Supplied Package <br> 03: Tube <br> 04: PAK <br> 2a: Small Express Box <br> 2b: Medium Express Box <br> 2c: Large Express Box |\n| include_package_value | boolean | true <br> false |\n| show_transit_time | boolean | true <br> false |\n\n### Canada Post\n\n#### Sample Request\n\n```\n{\n    \"name\": \"Canada Post\",\n    \"type\": \"canadapost\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"DOM.RP\",\"DOM.EP\"\n            ]\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### Canada Post Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | DOM.RP <br> DOM.EP <br> DOM.XP <br> DOM.XP.CERT <br> DOM.PC DOM.LIB <br> USA.EP <br> USA.PW.ENV <br> USA.PW.PAK <br> USA.PW.PARCEL <br> USA.SP.AIR <br> USA.TP <br> USA.TP.LVM <br> USA.XP <br> INT.XP <br> INT.IP.AIR <br> INT.IP.SURF <br> INT.PW.ENV <br> INT.PW.PAK <br> INT.PW.PARCEL <br> INT.SP.AIR <br> INT.SP.SURF <br> INT.TP |\n\n### Australia Post\n\n```\n{\n    \"name\": \"Australia Post\",\n    \"type\": \"auspost\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"AUS_PARCEL_REGULAR\",\n\t\t\t\t\"AUS_PARCEL_EXPRESS\"\n            ]\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### Australia Post Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | AUS_LETTER_REGULAR_SMALL <br> AUS_LETTER_REGULAR_Large <br> AUS_LETTER_EXPRESS_SMALL <br> AUS_LETTER_EXPRESS_MEDIUM <br> AUS_LETTER_EXPRESS_LARGE <br> AUS_PARCEL_REGULAR <br> AUS_PARCEL_REGULAR_SATCHEL_500G <br> AUS_PARCEL_REGULAR_SATCHEL_3KG <br> AUS_PARCEL_REGULAR_SATCHEL_5KG <br> AUS_PARCEL_EXPRESS <br> AUS_PARCEL_EXPRESS_SATCHEL_500G <br> AUS_PARCEL_EXPRESS_SATCHEL_3KG <br> AUS_PARCEL_EXPRESS_SATCHEL_5KG <br> AUS_PARCEL_COURIER <br> AUS_PARCEL_COURIER_SATCHEL_MEDIUM <br> INT_PARCEL_COR_OWN_PACKAGING <br> INT_PARCEL_EXP_OWN_PACKAGING <br> INT_PARCEL_STD_OWN_PACKAGING <br> INT_PARCEL_AIR_OWN_PACKAGING <br> INT_PARCEL_SEA_OWN_PACKAGING |\n\n### Royal Mail\n\n#### Sample Request\n\n```\n{\n    \"name\": \"Royal Mail\",\n    \"type\": \"royalmail\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"StandardFirstClass\",\n\t\t\t\t\"StandardSecondClass\"\n            ]\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### Royal Mail Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | SpecialDelivery1pm <br> SpecialDelivery9am <br> SpecialDelivery1pmSaturday <br> SpecialDelivery9amSaturday <br> SignedForFirstClass <br> SignedForSecondClass <br> Express9 <br> Express10 <br> ExpressAM <br> Express24 <br> Express48 <br> StandardFirstClass <br> StandardSecondClass <br> InternationalStandard <br> InternationalTracked <br> InternationalEconomy |\n\n### Zoom2U\n\n#### Sample Request\n\n```\n{\n    \"name\": \"Zoom2U\",\n    \"type\": \"zoom2u\",\n    \"settings\": {\n        \"carrier_options\": {\n            \"delivery_services\": [\n                \"3_hour\",\n\t\t\t\t\"Same_day\",\n\t\t\t\t\"VIP\"\n            ]\n        }\n    },\n    \"enabled\": true\n}\n```\n\n#### Zoom2U Object Properties\n\n| Property | Type | Values |\n|---|---|---|\n| delivery_services | array | 3_hour <br> Same_day <br> VIP|"
      summary: Create a Shipping Method
      tags:
        - Shipping Method
      produces:
        - application/json
      parameters:
        - name: zone_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ShippingMethod'
          x-examples:
            application/json:
              name: Per Order
              type: perorder
              settings:
                rate: 8
              enabled: true
              handling_fees:
                fixed_surcharge: 3
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingMethod'
          examples:
            application/json:
              id: 5
              name: Per Order
              type: perorder
              settings:
                rate: 8
              enabled: true
              handling_fees:
                fixed_surcharge: 3
            Response Schema:
              id: -19609616
              name: ad sed
              type: auspost
              settings: {}
              enabled: false
              handling_fees: fixed_surcharge
              is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: createAShippingMethod
  '/shipping/zones/{zone_id}/methods/{method_id}':
    get:
      description: >-
        Returns a single *Shipping Method* in a zone. Real Time Carrier
        Connections are also supported by this endpoint.  
      summary: Get a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: method_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping method within the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingMethod'
          examples:
            application/json:
              id: 1
              name: Flat Rate
              type: perorder
              settings:
                rate: 12
              enabled: true
              handling_fees:
                fixed_surcharge: 0
              is_fallback: false
            Response Schema:
              id: -71711609
              name: nisi
              type: weight
              settings: {}
              enabled: false
              handling_fees: percentage_surcharge
              is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAShippingMethod
    put:
      description: >-
        Updates a *Shipping Method* in a zone. Real Time Carrier Connections are
        also supported by this endpoint. 


        **Read Only Fields**

        * id
      summary: Update a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: method_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping method within the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ShippingMethod'
          x-examples:
            application/json:
              settings:
                rate: 11
              handling_fees:
                fixed_surcharge: 0
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ShippingMethod'
          examples:
            application/json:
              id: 5
              name: Per Order
              type: perorder
              settings:
                rate: 11
              enabled: true
              handling_fees:
                fixed_surcharge: 0
            Response Schema:
              id: 8176684
              name: in incididunt amet adipisicing
              type: endicia
              settings: {}
              enabled: false
              handling_fees: fixed_surcharge
              is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: updateAShippingMethod
    delete:
      description: >-
        Deletes an *Shipping Method*. Real Time Carrier Connections can also be
        deleted.
      summary: Delete a Shipping Method
      tags:
        - Shipping Method
      produces:
        - application/json
      parameters:
        - name: zone_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping zone.
        - name: method_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the shipping method within the shipping zone.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingMethod
  /shipping/carrier/connection:
    put:
      description: >-
        Updates a *Carrier Connection*.


        Updating the carrier connection is done using the same information as
        creating the connection. This endpoint can be used to update
        credentials.
      summary: Update a Carrier Connection
      tags:
        - Shipping Carrier
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - in: body
          name: body
          schema: {}
          x-examples:
            application/json:
              carrier_id: endicia
              connection:
                account_id: yourEndiciaAccountId
                pass_phrase: yourEndiciaPassphrase
          description: >-
            The request body will vary by carrier. See [Create a Carrier
            Connection](/api-reference/store-management/shipping-api/shipping-carrier/postshippingcarrierconnection). 
      responses:
        '204':
          description: Returns if request was succesful
        '400':
          description: |-
            If a required field is not provided it will return a 400 response. 

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: updateACarrierConnection
    post:
      description: "Creates a *Carrier Connection*. \n\nCarrier connections refer to specific settings required to connect to a specific shipping carrier. Each carrier requires your app to supply a unique set of properties/fields to establish a connection with that carrier.\n\n*Notes:*\n\n- There is no `GET` with this resource. It has `PUT`, `POST` and `DELETE`.\n    * A PUT is used to update. The connection can be updated via API.\n    \n- Connections created here do not enable the shipping method. To enable the carrier for a shipping zone, use the Shipping Methods API. \n\n- The Carrier Connection resource returns a 204 for both succesful and unsuccesful attempts to connect. If a field is missing it will return a 400.\n\n### Australia Post\n\n#### Sample Request – PUT or POST\n\n```\n{\n\t\"carrier_id\" : \"auspost\",\n\t\"connection\" : {\n\t\t\"auth_key\" : \"yourAusPostAuthKey\",\n\t\t\"test_mode\" : false\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```\n{\n\t\"carrier_id\" : \"auspost\"\n}\n```\n\n#### Australia Post Connection Object – Properties\n\nAustralia Post `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description\n| --- | --- | --- |\n| auth_key | string | Australia Post authorization key. |\n| test_mode | boolean | Whether or not to use Australia Post test-mode settings. Acceptable values are `true` or `false`. |\n\n\n### Endicia\nUSPS is connected through Endicia.\n\n#### Sample Request – PUT or POST\n\n```\n{\t\"carrier_id\" : \"endicia\",\n\t\"connection\": {\n\t\t\"account_id\" : \"yourEndiciaAccountId\",\n\t\t\"pass_phrase\" : \"yourEndiciaPassphrase\"\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```\n{\n\t\"carrier_id\" : \"endicia\"\n}\n```\n\n#### Endicia Connection Object – Properties\n\nEndicia `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description |\n| --- | --- | --- |\n| account_id | string | Endicia account ID. |\n| passphrase | string | Endicia passphrase. |\n\n\n### FedEx\n\n#### Sample Request – PUT or POST\n\n```\n{\n\t\"carrier_id\" : \"fedex\",\n\t\"connection\" : {\n\t\t\"key\" : \"yourFedexKey\",\n\t\t\"password\" : \"yourFedexPassword\",\n\t\t\"account_number\" : \"yourFedexAccountNumber\",\n\t\t\"meter_number\" : \"yourFedexMeterNumber\"\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```\n{\n\t\"carrier_id\" : \"fedex\"\n}\n```\n\n#### FedEx Connection Object – Properties\n\nFedEx `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description | \n| --- | --- | --- |\n| key | string | FedEx account ID. | \n| password | string | FedEx passphrase. |\n| account_number | string | FedEx account number. |\n| meter_number | string | FedEx meter number. |\n\n### Royal Mail\n\nSample Request - PUT or POST\n```\n{\n    \"carrier_id\" : \"royalmail\",\n    \"connection\" : {\n        \n    }\n}\n```\n\nSample Request - DELETE\n```\n{\n    \"carrier_id\" : \"royalmail\"\n}\n```\n\nRoyal Mail Connection Object - Properties\nRoyal Mail has no connection object properties.\n\n\n### Zoom2U\n\n#### Sample Request – PUT or POST\n\n```\n{\n\t\"carrier_id\" : \"zoom2u\",\n\t\"connection\" : {\n\t\t\"auth_key\" : \"yourZoom2uAuthKey\",\n\t\t\"test_mode\" : false\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```\n{\n\t\"carrier_id\" : \"zoom2u\"\n}\n```\n\n#### Zoom2U Connection Object – Properties\n\nZoom2U `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description | \n| --- | --- | --- |\n| auth_key | string | Zoom2U authorization key. |\n| test_mode | boolean | Whether or not to use Zoom2U test-mode settings. Acceptable values are `true` or `false`. |"
      summary: Create a Carrier Connection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - in: body
          name: body
          schema:
            type: object
            properties: {}
          x-examples:
            application/json:
              carrier_id: auspost
              connection:
                auth_key: yourAusPostAuthKey
                test_mode: false
      responses:
        '204':
          description: Returns if request was succesful
        '400':
          description: >-
            If a required field is not provided, the request will return a 400
            response. 


            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Shipping Carrier
    delete:
      description: |-
        Deletes a *Carrier Connection*.

        **Required Fields**
        * carrier_id
      summary: Delete a Carrier Connection
      tags:
        - Shipping Carrier
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            type: object
            properties:
              carrier_id:
                type: string
                example: fedex
          x-examples:
            application/json:
              carrier_id: fedex
            new:
              carrier_id: fedex
      responses:
        '204':
          description: Returns if request was succesful
        '400':
          description: |-
            If a required field is not provided it will return a 400 response. 

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteCarrierConnection
definitions:
  TrackingCarrier:
    title: Tracking Carrier
    example: auspost
    x-enum-elements:
      - name: auspost
        description: ''
      - name: canadapost
        description: ''
      - name: endicia
        description: ''
      - name: usps
        description: ''
      - name: fedex
        description: ''
      - name: royalmail
        description: ''
      - name: ups
        description: ''
      - name: upsready
        description: ''
      - name: shipperhq
        description: ''
    type: string
    enum:
      - auspost
      - canadapost
      - endicia
      - usps
      - fedex
      - royalmail
      - ups
      - upsready
      - shipperhq
  ShippingProvider:
    title: Shipping Provider
    x-enum-elements:
      - name: Enum_0
        description: empty string
      - name: Enum_1
        description: ''
      - name: Enum_2
        description: ''
      - name: Enum_3
        description: ''
      - name: Enum_4
        description: ''
      - name: Enum_5
        description: ''
      - name: Enum_6
        description: ''
      - name: Enum_7
        description: ''
      - name: Enum_8
        description: ''
      - name: Enum_9
        description: ''
      - name: Enum_10
        description: ''
    type: string
    enum:
      - '``'
      - fedex
      - auspost
      - canadapost
      - endicia
      - usps
      - royalmail
      - ups
      - upsready
      - upsonline
      - shipperhq
    example: endicia
  ShippingZone:
    title: Shipping Zone
    example:
      id: 1
      name: United States
      type: zip
      locations:
        - id: 3
          zip: 12345
          country_iso2: US
          state_iso2: TX
      free_shipping:
        enabled: false
        minimum_subtotal: 0
        exclude_fixed_shipping_products: false
      handling_fees:
        fixed_surcharge: 0
        percentage_surcharge: ''
        display_separately: true
      enabled: true
    type: object
    properties:
      id:
        type: integer
        description: Zone Id. READ-ONLY
        example: 1
      name:
        type: string
        description: Zone name. Required for /PUT
        example: United States
      type:
        type: string
        enum:
          - zip
          - country
          - state
          - global
      locations:
        description: Array of zone locations.
        type: array
        items:
          $ref: '#/definitions/ShippingZoneLocations'
      free_shipping:
        type: object
        properties:
          enabled:
            type: boolean
          minimum_sub_total:
            type: string
            example: '0.0000'
            description: '(Float, Float-As-String, Integer)'
          exclude_fixed_shipping_products:
            type: boolean
      handling_fees:
        $ref: '#/definitions/HandlingFees'
      enabled:
        description: Whether this shipping zone is enabled.
        example: true
        type: boolean
    required:
      - name
  ShippingZoneLocations:
    title: Shipping Zone Locations
    type: object
    properties:
      id:
        description: Location’s ID.
        example: 3
        type: integer
      zip:
        description: Location’s ZIP/postal code.
        example: 12345
        type: string
      country_iso2:
        description: 2-letter ISO Alpha-2 code for the country.
        example: US
        type: string
      state_iso2:
        description: ISO Alpha-2 code for the state.
        example: TX
        type: string
  HandlingFees:
    title: Shipping Zone Handling Fees
    type: object
    properties:
      fixed_surcharge:
        description: ''
        example: 0
        type: string
      percentage_surcharge:
        description: ''
        type: string
      display_separately:
        description: ''
        example: true
        type: boolean
  ShippingMethod:
    title: Shipping Method
    type: object
    properties:
      id:
        description: Shipping-method ID. READ-ONLY
        example: 1
        type: integer
      name:
        description: Display name for shipping method.
        example: Flat Rate
        type: string
      type:
        $ref: '#/definitions/ShippingMethodType'
      settings:
        description: >-
          Depends on the shipping-method type. See the [supported settings
          object](#supported-settings).
        type: object
      enabled:
        description: Whether or not this shipping-zone method is enabled.
        example: true
        type: boolean
      handling_fees:
        type: object
        enum:
          - fixed_surcharge
          - percentage_surcharge
        example: percentage_surcharge
        description: >-
          `fixed_surcharge`: flat-rate handling fee applied to shipping cost.


          `percentage_surcharge`: percentage handling fee applied to shipping
          cost
      is_fallback:
        description: >-
          Whether or not this shipping zone is the fallback if all others are
          not valid for the order.
        example: false
        type: boolean
    description: >-
      ### Settings Objects 


      A shipping method's `type` and `settings` properties can match one of the
      following models:


      ### perorder Object – Properties 


      Object model for flat-rate shipping quotes per order.


      | Name | Type | Description |

      | --- | --- | --- |

      | rate | number | Flat rate per order. |


      #### JSON Example 


      ```
          {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
          },
      ```


      ### peritem Object – Properties 


      Object model for flat-rate shipping quotes per item ordered.


      | Name | Type | Description |

      | --- | --- | --- |

      | rate | number | Flat rate per item. |


      #### JSON Example 


      ```
          {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
          },
      ```


      ### weight Object – Properties 


      Object model for shipping quotes by weight.


      | Name | Type | Description |

      | --- | --- | --- |

      | default_cost | number | Default shipping cost, applied either as a
      percentage of the order's total value or as a fixed amount. |

      | default_cost_type | string | How the default shipping cost is
      calculated. One of: `percentage_of_total` or `fixed_amount`. |

      | range | number | Array of [range](#range) objects. The units for these
      ranges' `lower_limit` and `upper_limit` properties depend on the default
      units set in the store's control panel. |



      #### JSON Example 
         
      ```

      {

      "name": "Rate per Weight",

      "type": "weight",

      "settings": {
           "default_cost": 12,
           "default_cost_type": "fixed_amount",
           "range": [
             {
               "lower_limit": 0,
               "upper_limit": 20,
               "shipping_cost": 8
             },
             {
               "lower_limit": 20,
               "upper_limit": 40,
               "shipping_cost": 12
             }
           ]
         }
      }

      ```


      ### total Object – Properties 


      Object model for shipping quotes by order's total value.


      | Name | Type | Description |

      | --- | --- | --- |

      | default_cost | number | Default shipping cost, applied either as a
      percentage of the order's total value or as a fixed amount. |

      | default_cost_type | string | How the default shipping cost is
      calculated. One of: `percentage_of_total` or `fixed_amount`. |

      | include_order_total_taxes | boolean | Whether or not to include taxes on
      the order's total value in the shipping-cost calculation. |

      | range | number | Array of [range](#range) objects. The units for these
      ranges' `lower_limit` and `upper_limit` properties are values in the
      store's currency. |


      #### JSON Example 


      This example sets free shipping above a certain order total:


      ```

      {

      "name": "Per Total or Free",

      "type": "total",

      "settings": {
           "default_cost": 12,
           "default_cost_type": "fixed_amount",
           "include_order_total_taxes": 0,
           "range": [
             {
               "lower_limit": 0,
               "upper_limit": 5,
               "shipping_cost": 5
             },
             {
               "lower_limit": 5,
               "upper_limit": 10,
               "shipping_cost": 8
             },
             {
               "lower_limit": 10,
               "upper_limit": 20,
               "shipping_cost": 10
             },
             {
               "lower_limit": 20,
               "upper_limit": 49.99,
               "shipping_cost": 15
             },
             {
               "lower_limit": 50,
               "upper_limit": 100000,
               "shipping_cost": 0
             }       
           ]
         }
      }

      ```


      ### Range Object – Properties 


      Object model to define ranges for shipping quotes. Units are defined in
      the parent object.


      | Name | Type | Description |

      | --- | --- | --- |

      | lower_limit | number | Lower limit for order total. |

      | upper_limit | number | Upper limit for order total. |

      | shipping_cost | number | Shipping cost for orders whose total falls
      between the lower and upper limits. |


      #### JSON Example 


      ```
             {
               "lower_limit": 0,
               "upper_limit": 20,
               "shipping_cost": 8
             }
      ```
  ShippingMethodType:
    title: Shipping Method Type
    example: perorder
    x-enum-elements:
      - name: perorder
        description: ''
      - name: peritem
        description: ''
      - name: weight
        description: ''
      - name: total
        description: ''
      - name: auspost
        description: ''
      - name: canadapost
        description: ''
      - name: endicia
        description: ''
      - name: usps
        description: ''
      - name: fedex
        description: ''
      - name: royalmail
        description: ''
      - name: upsready
        description: ''
    type: string
    enum:
      - perorder
      - peritem
      - weight
      - total
      - auspost
      - canadapost
      - endicia
      - usps
      - fedex
      - royalmail
      - upsready
tags:
  - name: Shipping Method
  - name: Shipping Carrier
  - name: Shipping Zones
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
