swagger: '2.0'
info:
  version: ''
  title: Orders APIs
  description: >-
    Orders APIs integrate with point-of-sale, shipping, distribution, and
    inventory-management systems. 


    ### Order

    The Order object contains a record of the purchase agreement between a
    shopper and a merchant. To learn more about creating orders, see [Orders API
    Guide](/api-docs/orders/orders-api-overview). 


    ### Order Coupons

    Coupon code applied to an order.


    ### Order Messages

    Messages associated with an order.


    ### Order Products

    Product line items belonging to an order.


    ### Order Shipping Addresses

    Customer shipping address belonging to an order.


    ### Order Statuses

    Each order status represents a state in the order-fulfillment workflow.


    ### Order Taxes

    Each tax applied to an order. This information can be useful for reporting
    purposes. All values are read-only.


    ### Order Shipments

    Tracks a package consignment from an order that is shipped from the seller
    to the buyer.


    ### Order Shipping Addresses Quotes

    Read Only. Get's all shipping quotes from an order.
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/orders/{id}':
    get:
      description: >-
        Gets the collection of orders. (The default sort is by order id, from
        lowest to highest.)
      summary: Get an Order
      tags:
        - Orders
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: id
          in: path
          required: true
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Order id.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              - id: 100
                customer_id: 1
                date_created: 'Tue, 09 Apr 2019 15:43:41 +0000'
                date_modified: 'Tue, 09 Apr 2019 15:43:42 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: '100.0000'
                subtotal_inc_tax: '108.2500'
                subtotal_tax: '8.2500'
                base_shipping_cost: '20.0000'
                shipping_cost_ex_tax: '20.0000'
                shipping_cost_inc_tax: '20.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '120.0000'
                total_inc_tax: '128.2500'
                total_tax: '8.2500'
                items_total: 1
                items_shipped: 1
                payment_method: Test
                payment_provider_id: null
                payment_status: ''
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: c62a724b-d09a-42df-9631-82414e05d4f4
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 Main Street
                  street_2: ''
                  city: Austin
                  state: TX
                  zip: 12345
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@email.com
                  form_fields:
                    - name: ''
                      value: ''
                order_source: www
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                  resource: /orders/129/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                  resource: /orders/129/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                  resource: /orders/129/coupons
                external_id: null
                external_merchant_id: null
                custom_status: Awaiting Payment
        '404':
          description: '"The requested resource was not found."'
          schema: {}
      operationId: getAnOrder
    put:
      description: >-
        Updates an *Order*. To learn more about creating or updating orders, See
        [Orders Overview](/api-docs/orders/orders-api-overview).



        | **Read Only Fields** | | |

        | -- | -- | -- |

        | ID | date_modified | date_shipped |

        | order_source | cart_id | form_fields |

        | shipping_cost_tax | shipping_cost_tax_class_id | handling_cost_tax |

        | handling_cost_tax_class_id |wrapping_cost_tax
        |wrapping_cost_tax_class_id|

        | total_tax | payment_status | currency_id |

        | currency_code | currency_exchange_rate | currency_exchange_rate |

        | default_currency_id | default_currency_code | coupon_discount |

        | status | subtotal_tax | store_credit_amount | gift_certificate_amount
        |

        | shipping_address_count | coupons | base_cost_price |

        | cost_price_inc_tax | cost_price_ex_tax | cost_price_tax |
      summary: Update an Order
      tags:
        - Orders
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/createorder'
          x-examples:
            application/json:
              status_id: 0
              customer_id: 11
              billing_address:
                first_name: Jane
                last_name: Doe
                street_1: 123 Main Street
                city: Austin
                state: Texas
                zip: '78751'
                country: United States
                country_iso2: US
                email: janedoe@email.com
              shipping_addresses:
                - first_name: Trish
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  email: elsie@example.com
              products:
                - name: BigCommerce Poster
                  quantity: 1
                  price_inc_tax: 10.98
                  price_ex_tax: 10
                - name: BigCommerce Coffee Mug
                  quantity: 1
                  price_inc_tax: 50
                  price_ex_tax: 45
                - product_id: 184
                  product_options:
                    - id: 200
                      value: '180'
                    - id: 230
                      value: '192'
            Adding an Existing Product:
              product_id: 123
              quantity: 5
              product_options:
                id: 56
                value: 12
              price_inc_tax: 12.45
              price_ex_tax: 10.12
            Adding a New Products:
              name: BigCommerce Coffee Mug
              quantity: 1
              price_inc_tax: 12.45
              price_ex_tax: 10.12
              sku: MUG-GRY
        - name: id
          in: path
          required: true
          type: integer
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              id: 118
              customer_id: 6
              date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
              date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
              date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
              status_id: 11
              cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
              status: Awaiting Fulfillment
              subtotal_ex_tax: 225
              subtotal_inc_tax: 225
              subtotal_tax: 0
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              shipping_cost_tax: 0
              shipping_cost_tax_class_id: 2
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_tax: 0
              handling_cost_tax_class_id: 2
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              wrapping_cost_tax: 0
              wrapping_cost_tax_class_id: 3
              total_ex_tax: 225
              total_inc_tax: 225
              total_tax: 0
              items_total: 1
              items_shipped: 0
              payment_method: Cash on Delivery
              payment_provider_id: null
              refunded_amount: 0
              order_is_digital: false
              store_credit_amount: 0
              gift_certificate_amount: 0
              ip_address: 12.345.678.910
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: 1
              default_currency_id: 1
              default_currency_code: '``'
              staff_notes: Send Saturday
              customer_message: Thank you
              discount_amount: 0
              coupon_discount: 5
              shipping_address_count: 1
              is_deleted: false
              is_email_opt_in: false
              ebay_order_id: 0
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                state: TX
                zip: 12345
                country: United States
                country_iso2: US
                phone: ''
                email: janedoe@email.com
                form_fields:
                  - name: ''
                    value: ''
              order_source: www
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                resource: /orders/129/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                resource: /orders/129/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                resource: /orders/129/coupons
              external_id: null
              external_merchant_id: null
              custom_status: Awaiting Payment
      operationId: updateAnOrder
    delete:
      description: >-
        Archives an order.


        Any attempt to archive an order on a store with automatic tax enabled
        will fail, and will return `405 Method not allowed.`
      summary: Archive an Order
      tags:
        - Orders
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The order id
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAnOrder
    parameters:
      - name: id
        in: path
        type: string
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties: {}
  /orders/count:
    get:
      description: Gets an array of the orders in the store organized by order status.
      summary: Get a Count of Orders
      tags:
        - Orders
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrdersCountResponse'
          examples:
            application/json:
              statuses:
                - id: 0
                  name: Incomplete
                  system_label: Incomplete
                  custom_label: Incomplete - Testing
                  system_description: >-
                    An incomplete order happens when a shopper reached the
                    payment page, but did not complete the transaction.
                  count: 0
                  sort_order: 0
                - id: 1
                  name: Pending
                  system_label: Pending
                  custom_label: Pending
                  system_description: >-
                    Customer started the checkout process, but did not complete
                    it.
                  count: 1
                  sort_order: 1
                - id: 7
                  name: Awaiting Payment
                  system_label: Awaiting Payment
                  custom_label: Awaiting Payment
                  system_description: >-
                    Customer has completed checkout process, but payment has yet
                    to be confirmed.
                  count: 15
                  sort_order: 2
                - id: 11
                  name: Awaiting Fulfillment
                  system_label: Awaiting Fulfillment
                  custom_label: Awaiting Fulfillment
                  system_description: >-
                    Customer has completed the checkout process and payment has
                    been confirmed.
                  count: 6
                  sort_order: 3
                - id: 9
                  name: Awaiting Shipment
                  system_label: Awaiting Shipment
                  custom_label: Awaiting Shipment
                  system_description: >-
                    Order has been pulled and packaged, and is awaiting
                    collection from a shipping provider.
                  count: 0
                  sort_order: 4
                - id: 8
                  name: Awaiting Pickup
                  system_label: Awaiting Pickup
                  custom_label: Awaiting Pickup
                  system_description: >-
                    Order has been pulled, and is awaiting customer pickup from
                    a seller-specified location.
                  count: 0
                  sort_order: 5
                - id: 3
                  name: Partially Shipped
                  system_label: Partially Shipped
                  custom_label: Partially Shipped
                  system_description: >-
                    Only some items in the order have been shipped, due to some
                    products being pre-order only or other reasons.
                  count: 0
                  sort_order: 6
                - id: 10
                  name: Completed
                  system_label: Completed
                  custom_label: Completed - Testing
                  system_description: >-
                    Client has paid for their digital product and their file(s)
                    are available for download.
                  count: 6
                  sort_order: 7
                - id: 2
                  name: Shipped
                  system_label: Shipped
                  custom_label: Shipped
                  system_description: >-
                    Order has been shipped, but receipt has not been confirmed;
                    seller has used the Ship Items action.
                  count: 6
                  sort_order: 8
                - id: 5
                  name: Cancelled
                  system_label: Cancelled
                  custom_label: Cancelled
                  system_description: >-
                    Seller has cancelled an order, due to a stock inconsistency
                    or other reasons.
                  count: 5
                  sort_order: 9
                - id: 6
                  name: Declined
                  system_label: Declined
                  custom_label: Declined
                  system_description: >-
                    Seller has marked the order as declined for lack of manual
                    payment, or other reasons.
                  count: 0
                  sort_order: 10
                - id: 4
                  name: Refunded
                  system_label: Refunded
                  custom_label: Refunded
                  system_description: Seller has used the Refund action.
                  count: 0
                  sort_order: 11
                - id: 13
                  name: Disputed
                  system_label: Disputed
                  custom_label: Disputed
                  system_description: >-
                    Customer has initiated a dispute resolution process for the
                    PayPal transaction that paid for the order.
                  count: 0
                  sort_order: 12
                - id: 12
                  name: Manual Verification Required
                  system_label: Manual Verification Required
                  custom_label: Manual Verification Required
                  system_description: >-
                    Order on hold while some aspect needs to be manually
                    confirmed.
                  count: 0
                  sort_order: 13
                - id: 14
                  name: Partially Refunded
                  system_label: Partially Refunded
                  custom_label: Partially Refunded
                  system_description: Seller has partially refunded the order.
                  count: 0
                  sort_order: 14
              count: 39
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getCountOrder
  /orders:
    get:
      description: Gets a list of orders using the filter query
      tags:
        - Orders
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: min_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The minimum order id
        - name: max_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The maximum order id
        - name: min_total
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The minimum order total in float format. eg. 12.50
        - name: max_total
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The maximum order total in float format. eg. 12.50
        - name: customer_id
          in: query
          required: false
          type: integer
          description: The id of the customer
        - name: email
          in: query
          required: false
          type: string
          description: The email of the customer
        - name: status_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: >-
            The staus id of the order. You can get the status id from the
            `/orders` endpoints
        - name: cart_id
          in: query
          required: false
          type: string
          description: The cart id of the order
        - name: is_deleted
          in: query
          required: false
          type: boolean
          description: If the order was deleted or not
        - name: payment_method
          in: query
          required: false
          type: string
          description: The payment method used on the order
        - name: min_date_created
          in: query
          required: false
          type: string
          description: The minimum date the order was created in dateTime or date
          format: date-time
        - name: max_date_created
          in: query
          required: false
          type: string
          description: The maximum date the order was created in dateTime or date
          format: date-time
        - name: min_date_modified
          in: query
          required: false
          type: string
          description: The minimum date the order was changed in dateTime or date
          format: date-time
        - name: max_date_modified
          in: query
          required: false
          type: string
          description: The maximum date the order was changed in dateTime or date
          format: date
        - $ref: "#/parameters/page\t"
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Limit the number of hits returned
        - name: sort
          in: query
          required: false
          type: string
          description: 'Sort the results. eg. `date_created:desc`'
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
          examples:
            application/json:
              - id: 100
                customer_id: 20
                date_created: 'Wed, 10 Jan 2018 21:05:30 +0000'
                date_modified: 'Wed, 05 Dec 2018 20:16:55 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: '336.3200'
                subtotal_inc_tax: '361.9500'
                subtotal_tax: '25.6300'
                base_shipping_cost: '0.0000'
                shipping_cost_ex_tax: '0.0000'
                shipping_cost_inc_tax: '0.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '361.9500'
                total_inc_tax: '361.9500'
                total_tax: '0.0000'
                items_total: 17
                items_shipped: 0
                payment_method: Test Order
                payment_provider_id: null
                payment_status: ''
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 455 Main Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@email.com
                  form_fields: []
                is_email_opt_in: false
                credit_card_type: null
                order_source: manual
                channel_id: 1
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/products
                  resource: /orders/100/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/shippingaddresses
                  resource: /orders/100/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/100/coupons
                  resource: /orders/100/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: BasicTaxProvider
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Awaiting Fulfillment
              - id: 104
                customer_id: 2
                date_created: 'Wed, 10 Jan 2018 21:23:58 +0000'
                date_modified: 'Wed, 10 Jan 2018 21:24:05 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: '49.0000'
                subtotal_inc_tax: '49.0000'
                subtotal_tax: '0.0000'
                base_shipping_cost: '0.0000'
                shipping_cost_ex_tax: '0.0000'
                shipping_cost_inc_tax: '0.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '49.0000'
                total_inc_tax: '49.0000'
                total_tax: '0.0000'
                items_total: 1
                items_shipped: 0
                payment_method: Test Payment Gateway
                payment_provider_id: ''
                payment_status: captured
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: ffc0f428-4c54-45d1-9ac7-1cf42ee665e0
                billing_address:
                  first_name: test
                  last_name: test
                  company: ''
                  street_1: 1234 street drive
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78704'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: test1234@gmail.com
                  form_fields: []
                is_email_opt_in: false
                credit_card_type: null
                order_source: www
                channel_id: 1
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/104/products
                  resource: /orders/104/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/104/shippingaddresses
                  resource: /orders/104/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/104/coupons
                  resource: /orders/104/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: ''
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Awaiting Fulfillment
              - id: 105
                customer_id: 3
                date_created: 'Wed, 10 Jan 2018 21:23:59 +0000'
                date_modified: 'Wed, 10 Jan 2018 21:24:13 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: '225.0000'
                subtotal_inc_tax: '225.0000'
                subtotal_tax: '0.0000'
                base_shipping_cost: '0.0000'
                shipping_cost_ex_tax: '0.0000'
                shipping_cost_inc_tax: '0.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '225.0000'
                total_inc_tax: '225.0000'
                total_tax: '0.0000'
                items_total: 1
                items_shipped: 0
                payment_method: Test Payment Gateway
                payment_provider_id: ''
                payment_status: captured
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: f12c906a-5bb6-4baa-a2da-1a87e818744e
                billing_address:
                  first_name: test
                  last_name: test
                  company: ''
                  street_1: 1060 w addison
                  street_2: ''
                  city: chicago
                  state: Illinois
                  zip: '60613'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: test@test.com
                  form_fields: []
                is_email_opt_in: false
                credit_card_type: null
                order_source: www
                channel_id: 1
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/105/products
                  resource: /orders/105/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/105/shippingaddresses
                  resource: /orders/105/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/105/coupons
                  resource: /orders/105/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: ''
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Awaiting Fulfillment
              - id: 107
                customer_id: 1
                date_created: 'Thu, 11 Jan 2018 20:43:07 +0000'
                date_modified: 'Thu, 11 Jan 2018 20:43:33 +0000'
                date_shipped: ''
                status_id: 11
                status: Awaiting Fulfillment
                subtotal_ex_tax: '19.9900'
                subtotal_inc_tax: '19.9900'
                subtotal_tax: '0.0000'
                base_shipping_cost: '0.0000'
                shipping_cost_ex_tax: '0.0000'
                shipping_cost_inc_tax: '0.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '19.9900'
                total_inc_tax: '19.9900'
                total_tax: '0.0000'
                items_total: 1
                items_shipped: 0
                payment_method: Test Payment Gateway
                payment_provider_id: ''
                payment_status: captured
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: b32cba50-b5c8-4986-8523-3a65aade7108
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 MainStreet
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@email.com
                  form_fields: []
                is_email_opt_in: false
                credit_card_type: null
                order_source: www
                channel_id: 1
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/107/products
                  resource: /orders/107/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/107/shippingaddresses
                  resource: /orders/107/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/107/coupons
                  resource: /orders/107/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: ''
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Awaiting Fulfillment
              - id: 110
                customer_id: 4
                date_created: 'Thu, 11 Jan 2018 20:57:52 +0000'
                date_modified: 'Mon, 09 Apr 2018 15:44:39 +0000'
                date_shipped: 'Mon, 09 Apr 2018 15:44:39 +0000'
                status_id: 10
                status: Completed
                subtotal_ex_tax: '26.9900'
                subtotal_inc_tax: '26.9900'
                subtotal_tax: '0.0000'
                base_shipping_cost: '0.0000'
                shipping_cost_ex_tax: '0.0000'
                shipping_cost_inc_tax: '0.0000'
                shipping_cost_tax: '0.0000'
                shipping_cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_cost_tax_class_id: 3
                total_ex_tax: '26.9900'
                total_inc_tax: '26.9900'
                total_tax: '0.0000'
                items_total: 2
                items_shipped: 0
                payment_method: Cash on Delivery
                payment_provider_id: null
                payment_status: ''
                refunded_amount: '0.0000'
                order_is_digital: false
                store_credit_amount: '0.0000'
                gift_certificate_amount: '0.0000'
                ip_address: 00.000.000.000
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: '1.0000000000'
                default_currency_id: 1
                default_currency_code: USD
                staff_notes: ''
                customer_message: ''
                discount_amount: '0.0000'
                coupon_discount: '0.0000'
                shipping_address_count: 1
                is_deleted: false
                ebay_order_id: '0'
                cart_id: 60f95366-ef20-48d7-a3a3-417963b5ed69
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 E MainStreet
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@email.com
                  form_fields: []
                is_email_opt_in: false
                credit_card_type: null
                order_source: www
                channel_id: 1
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/110/products
                  resource: /orders/110/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/110/shippingaddresses
                  resource: /orders/110/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/110/coupons
                  resource: /orders/110/coupons
                external_id: null
                external_merchant_id: null
                tax_provider_id: ''
                store_default_currency_code: ''
                store_default_to_transactional_exchange_rate: '1.0000000000'
                custom_status: Completed - Testing
      summary: Get All Orders
      operationId: getAllOrders
    post:
      description: >-
        Creates an *Order*. To learn more about creating or updating orders, See
        [Orders Overview](/api-docs/orders/orders-api-overview).


        An order can be created with an existing catalog product or a custom
        product. 


        **Required Fields**


        *   products

        *   billing_address


        | **Read Only Fields** | | |

        | -- | -- | -- |

        | ID | date_modified | date_shipped |

        | order_source | cart_id | form_fields |

        | shipping_cost_tax | shipping_cost_tax_class_id | handling_cost_tax |

        | handling_cost_tax_class_id |wrapping_cost_tax
        |wrapping_cost_tax_class_id|

        | total_tax | payment_status | currency_id |

        | currency_code | currency_exchange_rate | currency_exchange_rate |

        | default_currency_id | default_currency_code | coupon_discount |

        | status | subtotal_tax | store_credit_amount | gift_certificate_amount
        |

        | shipping_address_count | coupons | base_cost_price |

        | cost_price_inc_tax | cost_price_ex_tax | cost_price_tax |
      summary: Create an Order
      tags:
        - Orders
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/createorder'
          x-examples:
            application/json:
              status_id: 0
              customer_id: 11
              billing_address:
                first_name: Jane
                last_name: Doe
                street_1: 123 Main Street
                city: Austin
                state: Texas
                zip: '78751'
                country: United States
                country_iso2: US
                email: janedoe@email.com
              shipping_addresses:
                - first_name: Trish
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  email: elsie@example.com
              products:
                - name: BigCommerce Poster
                  quantity: 1
                  price_inc_tax: 10.98
                  price_ex_tax: 10
                - name: BigCommerce Coffee Mug
                  quantity: 1
                  price_inc_tax: 50
                  price_ex_tax: 45
                - product_id: 184
                  product_options:
                    - id: 200
                      value: '180'
                    - id: 230
                      value: '192'
            Custom Product:
              status_id: 0
              customer_id: 11
              billing_address:
                first_name: Jane
                last_name: Doe
                street_1: 123 Main Street
                city: Austin
                state: Texas
                zip: '78751'
                country: United States
                country_iso2: US
                email: janedoe@email.com
              shipping_addresses:
                - first_name: Trish
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  email: elsie@example.com
              products:
                - name: BigCommerce Poster
                  quantity: 1
                  price_inc_tax: 10.98
                  price_ex_tax: 10
                - name: BigCommerce Coffee Mug
                  quantity: 1
                  price_inc_tax: 50
                  price_ex_tax: 45
            Product with Options:
              status_id: 0
              customer_id: 11
              billing_address:
                first_name: Jane
                last_name: Doe
                street_1: 123 Main Street
                city: Austin
                state: Texas
                zip: '78751'
                country: United States
                country_iso2: US
                email: janedoe@email.com
              shipping_addresses:
                - first_name: Trish
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  email: elsie@example.com
              products:
                - product_id: 184
                  product_options:
                    - id: 200
                      value: '180'
                    - id: 230
                      value: '192'
            Multiple Products:
              status_id: 0
              customer_id: 11
              billing_address:
                first_name: Jane
                last_name: Doe
                street_1: 123 Main Street
                city: Austin
                state: Texas
                zip: '78751'
                country: United States
                country_iso2: US
                email: janedoe@email.com
              shipping_addresses:
                - first_name: Trish
                  last_name: Test
                  company: Acme Pty Ltd
                  street_1: 666 Sussex St
                  city: Austin
                  state: Texas
                  zip: '78751'
                  country: United States
                  country_iso2: US
                  email: elsie@example.com
              products:
                - name: BigCommerce Poster
                  quantity: 1
                  price_inc_tax: 10.98
                  price_ex_tax: 10
                - name: BigCommerce Coffee Mug
                  quantity: 1
                  price_inc_tax: 50
                  price_ex_tax: 45
                - product_id: 184
                  product_options:
                    - id: 200
                      value: '180'
                    - id: 230
                      value: '192'
      responses:
        '200':
          description: >-
            Multiple Items -- An order that contains mulitple products. The
            store it set to display prices excluding taxes. The tax rate is
            8.95%.
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              id: 118
              customer_id: 6
              date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
              date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
              date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
              status_id: 11
              cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
              status: Awaiting Fulfillment
              subtotal_ex_tax: 225
              subtotal_inc_tax: 225
              subtotal_tax: 0
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              shipping_cost_tax: 0
              shipping_cost_tax_class_id: 2
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_tax: 0
              handling_cost_tax_class_id: 2
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              wrapping_cost_tax: 0
              wrapping_cost_tax_class_id: 3
              total_ex_tax: 225
              total_inc_tax: 225
              total_tax: 0
              items_total: 1
              items_shipped: 0
              payment_method: Cash on Delivery
              payment_provider_id: null
              refunded_amount: 0
              order_is_digital: false
              store_credit_amount: 0
              gift_certificate_amount: 0
              ip_address: 12.345.678.910
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: 1
              default_currency_id: 1
              default_currency_code: '``'
              staff_notes: Send Saturday
              customer_message: Thank you
              discount_amount: 0
              coupon_discount: 5
              shipping_address_count: 1
              is_deleted: false
              is_email_opt_in: false
              ebay_order_id: 0
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                state: TX
                zip: 12345
                country: United States
                country_iso2: US
                phone: ''
                email: janedoe@email.com
                form_fields:
                  - name: ''
                    value: ''
              order_source: www
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                resource: /orders/129/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                resource: /orders/129/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                resource: /orders/129/coupons
              external_id: null
              external_merchant_id: null
              custom_status: Awaiting Payment
            Multiple Items:
              id: 247
              customer_id: 11
              date_created: 'Thu, 20 Jun 2019 16:07:08 +0000'
              date_modified: 'Thu, 20 Jun 2019 16:07:08 +0000'
              date_shipped: ''
              status_id: 11
              status: Awaiting Fulfillment
              subtotal_ex_tax: '924.4700'
              subtotal_inc_tax: '1000.7400'
              subtotal_tax: '76.2700'
              base_shipping_cost: '8.0000'
              shipping_cost_ex_tax: '7.3900'
              shipping_cost_inc_tax: '8.0000'
              shipping_cost_tax: '0.6100'
              shipping_cost_tax_class_id: 0
              base_handling_cost: '0.0000'
              handling_cost_ex_tax: '0.0000'
              handling_cost_inc_tax: '0.0000'
              handling_cost_tax: '0.0000'
              handling_cost_tax_class_id: 0
              base_wrapping_cost: '0.0000'
              wrapping_cost_ex_tax: '0.0000'
              wrapping_cost_inc_tax: '0.0000'
              wrapping_cost_tax: '0.0000'
              wrapping_cost_tax_class_id: 0
              total_ex_tax: '931.8600'
              total_inc_tax: '1008.7400'
              total_tax: '76.8800'
              items_total: 11
              items_shipped: 0
              payment_method: Test Payment Gateway
              payment_provider_id: ''
              payment_status: captured
              refunded_amount: '0.0000'
              order_is_digital: false
              store_credit_amount: '0.0000'
              gift_certificate_amount: '0.0000'
              ip_address: 70.112.53.67
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: '1.0000000000'
              default_currency_id: 1
              default_currency_code: USD
              staff_notes: BIN-45
              customer_message: Custom Journal Added
              discount_amount: '0.0000'
              coupon_discount: '0.0000'
              shipping_address_count: 1
              is_deleted: false
              ebay_order_id: '0'
              cart_id: 8b84f622-faf1-4c10-887b-f5dff2f9eaf4
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 555 East Street
                street_2: ''
                city: Austin
                state: Texas
                zip: '78108'
                country: United States
                country_iso2: US
                phone: '1234567890'
                email: janedoe@email.com
                form_fields:
                  - name: Delivery Instructions
                    value: Leave in backyard
              is_email_opt_in: false
              credit_card_type: null
              order_source: manual
              channel_id: 1
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/products
                resource: /orders/247/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/shippingaddresses
                resource: /orders/247/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/247/coupons
                resource: /orders/247/coupons
              external_id: null
              external_merchant_id: null
              tax_provider_id: BasicTaxProvider
              store_default_currency_code: USD
              store_default_to_transactional_exchange_rate: '1.0000000000'
              custom_status: Awaiting Fulfillment
      operationId: createAnOrder
    delete:
      description: Archives all orders.
      summary: Delete All Orders
      tags:
        - Orders
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAllOrders
  '/orders/{order_id}/coupons':
    get:
      description: Lists all order coupons. Optional parameters can be passed in.
      summary: List Order Coupons
      produces:
        - application/json
      parameters:
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The order id
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages to return
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Limit the number of responses
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderCoupons'
          examples:
            application/json:
              - id: 3
                coupon_id: 1
                order_id: 120
                code: S2549JM0Y
                amount: 5
                type: 2
                discount: 5
            Response Schema:
              - id: 16524854
                coupon_id: -45375120
                order_id: 63105415
                code: elit aute con
                amount: exercitation minim occaecat labore sed
                type: '3'
                discount: 26943999.942130953
              - id: -19288276
                coupon_id: -90734671
                order_id: -53768252
                code: ex labore occaecat esse
                amount: nulla reprehenderit elit
                type: '1'
                discount: 68318902.99129134
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Coupons
      operationId: getAllOrderCoupons
    parameters:
      - name: order_id
        in: path
        type: string
        required: true
  '/orders/{order_id}/products':
    get:
      description: >-
        Lists all order products on an order using `order_id`. By default, items
        sort from lowest to highest according to a newly created ID, separate
        from the `order_id` and the `product_id`.
      summary: List Order Products
      produces:
        - application/json
      parameters:
        - name: order_id
          in: path
          required: true
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderProducts'
          examples:
            application/json:
              - id: 65
                order_id: 149
                product_id: 77
                order_address_id: 51
                name: Fog Linen Chambray Towel - Beige Stripe
                sku: S-ORAN
                upc: 01234567891112
                type: physical
                base_price: '55.9900'
                price_ex_tax: '55.9900'
                price_inc_tax: '65.2300'
                price_tax: '9.2400'
                base_total: '55.9900'
                total_ex_tax: '55.9900'
                total_inc_tax: '65.2300'
                total_tax: '9.2400'
                weight: '1.0000'
                quantity: 1
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '5.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: 19
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts:
                  - id: manual-discount
                    amount: '1.5900'
                    name: Manual Discount
                    code: null
                    target: order
                product_options:
                  - id: 45
                    option_id: 18
                    order_product_id: 65
                    product_option_id: 120
                    display_name: Size
                    display_value: S
                    value: '69'
                    type: Multiple choice
                    name: Apparel sizes
                    display_style: Rectangle
                  - id: 46
                    option_id: 3
                    order_product_id: 65
                    product_option_id: 121
                    display_name: Color
                    display_value: Orange
                    value: '112'
                    type: Swatch
                    name: Colors
                    display_style: ''
                  - id: 47
                    option_id: 37
                    order_product_id: 65
                    product_option_id: 122
                    display_name: Add Letters
                    display_value: Text Field
                    value: Text Field
                    type: Text field
                    name: Add Letters
                    display_style: ''
                  - id: 48
                    option_id: 38
                    order_product_id: 65
                    product_option_id: 123
                    display_name: Is this a gift?
                    display_value: 'Yes'
                    value: '104'
                    type: Checkbox
                    name: Gift Wrapping $5
                    display_style: ''
                  - id: 49
                    option_id: 39
                    order_product_id: 65
                    product_option_id: 124
                    display_name: PickList
                    display_value: Able Brewing System
                    value: '106'
                    type: Product Pick List
                    name: PickList
                    display_style: Pick list
                configurable_fields: []
              - id: 66
                order_id: 149
                product_id: 86
                order_address_id: 51
                name: Able Brewing System
                sku: ABS
                type: physical
                base_price: '0.0000'
                price_ex_tax: '0.0000'
                price_inc_tax: '0.0000'
                price_tax: '0.0000'
                base_total: '0.0000'
                total_ex_tax: '0.0000'
                total_inc_tax: '0.0000'
                total_tax: '0.0000'
                weight: '0.0000'
                quantity: 1
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: 65
                is_bundled_product: true
                bin_picking_number: BIN
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options: []
                configurable_fields: []
            Multiple Products:
              - id: 238
                order_id: 247
                product_id: 0
                variant_id: 0
                order_address_id: 151
                name: Journal
                sku: Jour-BLK
                upc: ''
                type: physical
                base_price: '45.0000'
                price_ex_tax: '41.5700'
                price_inc_tax: '45.0000'
                price_tax: '3.4300'
                base_total: '45.0000'
                total_ex_tax: '41.5700'
                total_inc_tax: '45.0000'
                total_tax: '3.4300'
                weight: '0.0000'
                width: '0.0000'
                height: '0.0000'
                depth: '0.0000'
                quantity: 1
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options: []
                configurable_fields: []
              - id: 239
                order_id: 247
                product_id: 174
                variant_id: 345
                order_address_id: 151
                name: 1L Le Parfait Jar
                sku: ''
                upc: ''
                type: physical
                base_price: '7.8700'
                price_ex_tax: '7.2700'
                price_inc_tax: '7.8700'
                price_tax: '0.6000'
                base_total: '15.7400'
                total_ex_tax: '14.5400'
                total_inc_tax: '15.7400'
                total_tax: '1.2000'
                weight: '1.0000'
                width: '0.0000'
                height: '0.0000'
                depth: '0.0000'
                quantity: 2
                base_cost_price: '3.0000'
                cost_price_inc_tax: '3.0000'
                cost_price_ex_tax: '3.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options: []
                configurable_fields: []
              - id: 240
                order_id: 247
                product_id: 201
                variant_id: 477
                order_address_id: 151
                name: BigCommerce T-Shirt
                sku: SKU-201-Red-Small T-Shirt-Able Brewing System
                upc: ''
                type: physical
                base_price: '235.0000'
                price_ex_tax: '217.0900'
                price_inc_tax: '235.0000'
                price_tax: '17.9100'
                base_total: '940.0000'
                total_ex_tax: '868.3600'
                total_inc_tax: '940.0000'
                total_tax: '71.6400'
                weight: '3.0000'
                width: '3.0000'
                height: '3.0000'
                depth: '3.0000'
                quantity: 4
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: 68
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options:
                  - id: 143
                    option_id: 96
                    order_product_id: 240
                    product_option_id: 242
                    display_name: Color
                    display_value: Red
                    value: '211'
                    type: Swatch
                    name: Color1549572910-201
                    display_style: ''
                  - id: 144
                    option_id: 114
                    order_product_id: 240
                    product_option_id: 263
                    display_name: PickList PriceList
                    display_value: Able Brewing System
                    value: '237'
                    type: Product Pick List
                    name: PickList-PriceList1549572910-201
                    display_style: Pick list with photos
                  - id: 145
                    option_id: 97
                    order_product_id: 240
                    product_option_id: 243
                    display_name: T-Shirt Size
                    display_value: Small T-Shirt
                    value: '214'
                    type: Multiple choice
                    name: T-Shirt-Size1545071633-201
                    display_style: Rectangle
                  - id: 146
                    option_id: 105
                    order_product_id: 240
                    product_option_id: 254
                    display_name: Custom Message
                    display_value: BigCommerce
                    value: BigCommerce
                    type: Text field
                    name: Custom-Message1549572912-201
                    display_style: ''
                configurable_fields: []
              - id: 241
                order_id: 247
                product_id: 167
                variant_id: 338
                order_address_id: 151
                name: Able Brewing System
                sku: ''
                upc: ''
                type: physical
                base_price: '0.0000'
                price_ex_tax: '0.0000'
                price_inc_tax: '0.0000'
                price_tax: '0.0000'
                base_total: '0.0000'
                total_ex_tax: '0.0000'
                total_inc_tax: '0.0000'
                total_tax: '0.0000'
                weight: '0.0000'
                width: '0.0000'
                height: '0.0000'
                depth: '0.0000'
                quantity: 4
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: 240
                is_bundled_product: true
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options: []
                configurable_fields: []
      tags:
        - Order Products
      operationId: getAllOrderProducts
    parameters:
      - name: order_id
        in: path
        type: string
        required: true
  '/orders/{order_id}/shipping_addresses':
    get:
      description: >-
        Get all shipping address on an order using the `order_id`.


        Returned in the response is shipping_quotes object. Please use the Get
        Shipping Quotes Endpoint. Using the response will return a 204 for the
        shipping quote. 
      summary: Get A List of Order Shipping Address
      produces:
        - application/json
      parameters:
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderShippingAddress'
          examples:
            application/json:
              - id: 42
                order_id: 140
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 MainStreet
                street_2: ''
                city: Austin
                zip: '78751'
                country: United States
                country_iso2: US
                state: Texas
                email: jane@email.com
                phone: '1234567890'
                items_total: 2
                items_shipped: 0
                shipping_method: Fixed Shipping
                base_cost: '5.0000'
                cost_ex_tax: '4.0000'
                cost_inc_tax: '4.3200'
                cost_tax: '0.3200'
                cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                shipping_zone_id: 1
                shipping_zone_name: United States
                shipping_quotes:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/140/shippingaddresses/42/shippingquotes
                  resource: /orders/140/shippingaddresses/42/shippingquotes
                form_fields:
                  - name: Wholesale ID
                    value: '12345566'
            Multiple Addresses:
              - id: 132
                order_id: 229
                first_name: Trishy
                last_name: Test
                company: Acme Pty Ltd
                street_1: 666 Sussex St
                street_2: ''
                city: San Antonio
                zip: '78251'
                country: United States
                country_iso2: US
                state: Texas
                email: janedoe@email.com
                phone: ''
                items_total: 2
                items_shipped: 2
                shipping_method: None
                base_cost: '12.9900'
                cost_ex_tax: '12.0000'
                cost_inc_tax: '12.9900'
                cost_tax: '0.9900'
                cost_tax_class_id: 0
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 0
                shipping_zone_id: 1
                shipping_zone_name: United States -1
                shipping_quotes:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/229/shippingaddresses/132/shippingquotes
                  resource: /orders/229/shippingaddresses/132/shippingquotes
                form_fields: []
              - id: 133
                order_id: 229
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 555 Main Street
                street_2: ''
                city: Austin
                zip: '78751'
                country: United States
                country_iso2: US
                state: Texas
                email: janedoe@email.com
                phone: ''
                items_total: 0
                items_shipped: 0
                shipping_method: None
                base_cost: '12.9900'
                cost_ex_tax: '12.0000'
                cost_inc_tax: '12.9900'
                cost_tax: '0.9900'
                cost_tax_class_id: 0
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 0
                shipping_zone_id: 1
                shipping_zone_name: United States -1
                shipping_quotes:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/229/shippingaddresses/133/shippingquotes
                  resource: /orders/229/shippingaddresses/133/shippingquotes
                form_fields: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Shipping Addresses
      operationId: getAllShippingAddresses
    parameters:
      - name: order_id
        in: path
        type: string
        required: true
  /order_statuses:
    get:
      description: Gets a list of order statues.
      summary: Get All Order Statuses
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrderStatuses'
          examples:
            application/json:
              - id: 0
                name: Incomplete
                system_label: Incomplete
                custom_label: Incomplete - Testing
                system_description: >-
                  An incomplete order happens when a shopper reached the payment
                  page, but did not complete the transaction.
                order: 0
              - id: 1
                name: Pending
                system_label: Pending
                custom_label: Pending
                system_description: >-
                  Customer started the checkout process, but did not complete
                  it.
                order: 1
              - id: 2
                name: Shipped
                system_label: Shipped
                custom_label: Shipped
                system_description: >-
                  Order has been shipped, but receipt has not been confirmed;
                  seller has used the Ship Items action.
                order: 8
              - id: 3
                name: Partially Shipped
                system_label: Partially Shipped
                custom_label: Partially Shipped
                system_description: >-
                  Only some items in the order have been shipped, due to some
                  products being pre-order only or other reasons.
                order: 6
              - id: 4
                name: Refunded
                system_label: Refunded
                custom_label: Refunded
                system_description: Seller has used the Refund action.
                order: 11
              - id: 5
                name: Cancelled
                system_label: Cancelled
                custom_label: Cancelled
                system_description: >-
                  Seller has cancelled an order, due to a stock inconsistency or
                  other reasons.
                order: 9
              - id: 6
                name: Declined
                system_label: Declined
                custom_label: Declined
                system_description: >-
                  Seller has marked the order as declined for lack of manual
                  payment, or other reasons.
                order: 10
              - id: 7
                name: Awaiting Payment
                system_label: Awaiting Payment
                custom_label: Awaiting Payment
                system_description: >-
                  Customer has completed checkout process, but payment has yet
                  to be confirmed.
                order: 2
              - id: 8
                name: Awaiting Pickup
                system_label: Awaiting Pickup
                custom_label: Awaiting Pickup
                system_description: >-
                  Order has been pulled, and is awaiting customer pickup from a
                  seller-specified location.
                order: 5
              - id: 9
                name: Awaiting Shipment
                system_label: Awaiting Shipment
                custom_label: Awaiting Shipment
                system_description: >-
                  Order has been pulled and packaged, and is awaiting collection
                  from a shipping provider.
                order: 4
              - id: 10
                name: Completed
                system_label: Completed
                custom_label: Completed - Testing
                system_description: >-
                  Client has paid for their digital product and their file(s)
                  are available for download.
                order: 7
              - id: 11
                name: Awaiting Fulfillment
                system_label: Awaiting Fulfillment
                custom_label: Awaiting Fulfillment
                system_description: >-
                  Customer has completed the checkout process and payment has
                  been confirmed.
                order: 3
              - id: 12
                name: Manual Verification Required
                system_label: Manual Verification Required
                custom_label: Manual Verification Required
                system_description: >-
                  Order on hold while some aspect needs to be manually
                  confirmed.
                order: 13
              - id: 13
                name: Disputed
                system_label: Disputed
                custom_label: Disputed
                system_description: >-
                  Customer has initiated a dispute resolution process for the
                  PayPal transaction that paid for the order.
                order: 12
              - id: 14
                name: Partially Refunded
                system_label: Partially Refunded
                custom_label: Partially Refunded
                system_description: Seller has partially refunded the order.
                order: 14
      tags:
        - Order Status
      operationId: getOrderStatus
  '/order_statuses/{id}':
    get:
      description: Gets a single order status.
      summary: Get a Single Order Status by Id
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order status
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '200':
          description: >-
            |Status ID | Name  | Description |

            |--|--|--|

            | 0 | Incomplete  | An incomplete order happens when a shopper
            reached the payment page, but did not complete the transaction. |

            | 1 | Pending |Customer started the checkout process, but did not
            complete it. |

            | 2 | Shipped | Order has been shipped, but receipt has not been
            confirmed; seller has used the Ship Items action. |

            | 3 | Partially Shipped | Only some items in the order have been
            shipped, due to some products being pre-order only or other reasons.
            |

            | 4 | Refunded | Seller has used the Refund action. |

            | 5 | Cancelled | Seller has cancelled an order, due to a stock
            inconsistency or other reasons. |

            | 6 |Declined | Seller has marked the order as declined for lack of
            manual payment, or other reasons. |

            | 7 | Awaiting Payment | Customer has completed checkout process,
            but payment has yet to be confirmed. |

            | 8 | Awaiting Pickup | Order has been pulled, and is awaiting
            customer pickup from a seller-specified location. |

            | 9 | Awaiting Shipment | Order has been pulled and packaged, and is
            awaiting collection from a shipping provider. |

            | 10 | Completed | Client has paid for their digital product and
            their file(s) are available for download. |

            | 11 | Awaiting Fulfillment | Customer has completed the checkout
            process and payment has been confirmed. |

            | 12 | Manual Verification Required | Order on hold while some
            aspect needs to be manually confirmed. |

            | 13 | Disputed | Customer has initiated a dispute resolution
            process for the PayPal transaction that paid for the order. |

            | 14 | Partially Refunded | Seller has partially refunded the order.
            |
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              system_label:
                type: string
              custom_label:
                type: string
              system_description:
                type: string
              order:
                type: integer
          examples:
            application/json:
              id: 1
              name: Pending
              system_label: Pending
              system_description: Pending
              custom_label: Pending
              order: 1
            Response Schema:
              id: 7801151
              name: adipisicing et veniam sunt
              system_label: ex ut consequat fugia
              custom_label: dolore aliquip anim
              system_description: occaecat minim ut dolor
              order: -94788622
      tags:
        - Order Status
      operationId: getAOrderStatus
    parameters:
      - name: id
        in: path
        type: string
        required: true
  '/orders/{order_id}/taxes':
    get:
      description: >-
        Gets all order taxes using `order_id`.

        Each tax applied to an order. This information can be useful for
        reporting purposes. 

        Pass in the query parameter `?details=true` to return extra details
        about order taxes.

        `order_product_id` and `line_item_type` are also returned


        All values are read-only.
      summary: Get All Order Taxes
      parameters:
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
        - in: query
          name: details
          type: string
          default: 'true'
          description: 'To return detailed tax information, pass in the details query.'
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderTaxes'
          examples:
            application/json:
              - id: 13
                order_id: 138
                order_address_id: 39
                tax_rate_id: 1
                tax_class_id: 0
                name: Tax
                class: Default Tax Class
                rate: '8.0000'
                priority: 0
                priority_amount: '17.6400'
                line_amount: '17.6400'
              - id: 14
                order_id: 138
                order_address_id: 40
                tax_rate_id: 1
                tax_class_id: 0
                name: Tax
                class: Default Tax Class
                rate: '8.0000'
                priority: 0
                priority_amount: '4.4000'
                line_amount: '4.4000'
            Response Schema:
              - id: -51756012
                order_id: 967395
                order_address_id: -10942137
                tax_rate_id: -5811917
                tax_class_id: 6212579
                name: nostrud
                class: in mollit
                rate: adipisicing eiusmod
                priority: 72557832
                priority_amount: proident in
                line_amount: exercitation
              - id: 24264635
                order_id: -86483162
                order_address_id: 28857232
                tax_rate_id: 78373158
                tax_class_id: 63046067
                name: reprehenderit aute ad dolore
                class: nostrud
                rate: pariatur dolore sint fugiat elit
                priority: -64986705
                priority_amount: esse sint consectetur in Excepteur
                line_amount: tempor
            details=true: |-
              [
                  {
                      "id": 173,
                      "order_id": 195,
                      "order_address_id": 95,
                      "tax_rate_id": 3,
                      "tax_class_id": 2,
                      "name": "All",
                      "class": "Shipping",
                      "rate": "8.2500",
                      "priority": 0,
                      "priority_amount": "0.6600",
                      "line_amount": "0.6600",
                      "order_product_id": null,
                      "line_item_type": "shipping"
                  },
                  {
                      "id": 174,
                      "order_id": 195,
                      "order_address_id": 95,
                      "tax_rate_id": 4,
                      "tax_class_id": 2,
                      "name": "All - Texas",
                      "class": "Shipping",
                      "rate": "8.2500",
                      "priority": 0,
                      "priority_amount": "0.6600",
                      "line_amount": "0.6600",
                      "order_product_id": null,
                      "line_item_type": "shipping"
                  },
                  {
                      "id": 175,
                      "order_id": 195,
                      "order_address_id": 95,
                      "tax_rate_id": 3,
                      "tax_class_id": 0,
                      "name": "All",
                      "class": "",
                      "rate": "8.2500",
                      "priority": 0,
                      "priority_amount": "0.6600",
                      "line_amount": "0.6600",
                      "order_product_id": 137,
                      "line_item_type": "product"
                  },
                  {
                      "id": 176,
                      "order_id": 195,
                      "order_address_id": 95,
                      "tax_rate_id": 4,
                      "tax_class_id": 0,
                      "name": "All - Texas",
                      "class": "",
                      "rate": "8.2500",
                      "priority": 0,
                      "priority_amount": "0.6600",
                      "line_amount": "0.6600",
                      "order_product_id": 137,
                      "line_item_type": "product"
                  }
              ]
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Taxes
      operationId: getOrderTaxes
    parameters:
      - name: order_id
        in: path
        type: string
        required: true
  '/orders/{order_id}/shipments':
    get:
      description: Gets a list of all shipments on an order
      summary: Get A List of Order Shipments
      parameters:
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
[...]
