swagger: '2.0'
info:
  version: ''
  title: Payments API
  contact: {}
  license:
    name: ''
    url: ''
  termsOfService: 'https://www.bigcommerce.com/terms/api-terms/'
  description: >-
    Use [Get Payment
    Methods](/api-reference/payments/payments-create-payment-token-api/payment-methods/paymentsmethodsget)
    to get the `token` for stored cards.


    Use [Create Access
    Token](/api-reference/payments/payments-create-payment-token-api/payment-access-token/paymentsaccesstokenspost),
    to generate the `token` for stored card, credit cards and orders. 


    See [Payments Overview](/api-docs/payments/payments-api-overview) to learn
    how to accepts payments.
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /payments/access_tokens:
    post:
      description: >-
        This endpoint provides the capability to create a payment access token.
        The payment access token is required when making request to Payment API
        for submitting payment for an order.


        After the token is created then use the token to [Process
        Payments](/api-reference/payments/payments-process-payments/payment/paymentspost).


        **Required Fields**

        * order_id
      summary: Create Payment Access Token
      tags:
        - Payment Access Token
      operationId: PaymentsAccessTokensPost
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/PaymentAccessTokenRequest'
          x-examples:
            application/json:
              order:
                id: 44796008
                is_recurring: true
            Example:
              order:
                id: 182
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          description: Payment access token has been successfully created
          schema:
            $ref: '#/definitions/PaymentsAccessTokensResponse'
          headers: {}
        '400':
          description: Request has been rejected
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Valid authentication required
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Request has been rejected due to resource not being found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: >-
            Request has been rejected due to conflict with the current state of
            the target resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: Request has been rejected due to missing or invalid data
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /payments/methods:
    get:
      description: |-
        Returns a list of accepted payment methods based on the `order_id`.

        **Required Fields**
        * order_id
      summary: Get Accepted Payment Methods
      tags:
        - Payment Methods
      operationId: PaymentsMethodsGet
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: order_id
          in: query
          required: false
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Identifier for the order
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: Request has been successfully processed
          schema:
            $ref: '#/definitions/PaymentsMethodsResponse'
          headers: {}
          examples:
            application/json:
              data:
                - id: stripe.card
                  name: Stripe
                  test_mode: true
                  type: card
                  supported_instruments:
                    - instrument_type: VISA
                      verification_value_required: true
                    - instrument_type: MASTERCARD
                      verification_value_required: true
                    - instrument_type: AMEX
                      verification_value_required: true
                    - instrument_type: DISCOVER
                      verification_value_required: true
                    - instrument_type: JCB
                      verification_value_required: true
                    - instrument_type: DINERS_CLUB
                      verification_value_required: true
                    - instrument_type: STORED_CARD
                      verification_value_required: true
                  stored_instruments:
                    - type: stored_card
                      brand: VISA
                      expiry_month: 9
                      expiry_year: 2020
                      issuer_identification_number: '424242'
                      last_4: '4242'
                      token: >-
                        050a1e5c982e5905288ec5ec33f292772762033a0704f46fccb16bf1940b51ef
                      is_default: true
              meta: {}
        '400':
          description: Request has been rejected
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Valid authentication required
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Request has been rejected due to resource not being found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: Request has been rejected due to missing or invalid data
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  Order:
    title: Order
    type: object
    properties:
      id:
        description: Identifier for the order
        type: integer
        minimum: 1
        format: int32
      is_recurring:
        description: >-
          Whether this is a recurring order. If the order is recurring this
          field should be set to true in order to let the payment gateway know. 
        example: false
        type: boolean
        default: false
    required:
      - id
  PaymentAccessTokenRequest:
    title: Payment Access Token Request
    type: object
    properties:
      order:
        $ref: '#/definitions/Order'
    required:
      - order
  PaymentAccessToken:
    title: Payment Access Token
    type: object
    properties:
      id:
        description: >-
          Payment access token. This token is required in subsequent payment
          request to Payment API endpoint.
        type: string
        minLength: 1
    required:
      - id
  StoredCardInstrument:
    title: Stored Card Instrument
    type: object
    properties:
      brand:
        description: Brand of this card such as VISA or Mastercard
        type: string
        minLength: 1
      expiry_month:
        description: Expiry month of this card
        type: integer
        minimum: 1
        maximum: 12
        format: int32
      expiry_year:
        description: Expiry year of this card
        type: integer
        format: int32
      issuer_identification_number:
        description: >-
          Issuer identification number of this card. This is extracted from the
          card when the order is payed for.
        type: string
        minLength: 6
        maxLength: 6
      last_4:
        description: Last four numbers of this card
        type: string
        minLength: 4
        maxLength: 4
      token:
        description: >-
          Identifier representing this stored card. This is used to identify
          cards within BigCommerce. It is the same as the `payment_access_token`
          that returns via the [Get Transactions
          endpoint](https://developer.bigcommerce.com/api-reference/orders/orders-transactions-api/orders/gettransactions).
        type: string
        minLength: 64
        maxLength: 64
      is_default:
        description: Whether this instrument is a default instrument
        example: false
        type: boolean
        default: false
      type:
        description: Type to classify this stored card
        example: stored_card
        type: string
        default: stored_card
    required:
      - brand
      - expiry_month
      - expiry_year
      - issuer_identification_number
      - last_4
      - token
      - is_default
      - type
  PaymentMethod:
    title: PaymentMethod
    type: object
    properties:
      id:
        description: Identifier for this payment method
        type: string
        minLength: 1
      name:
        description: Name of this payment method
        type: string
        minLength: 1
      stored_instruments:
        type: array
        items:
          $ref: '#/definitions/StoredCardInstrument'
      supported_instruments:
        type: array
        items:
          $ref: '#/definitions/SupportedCardInstrument'
      test_mode:
        description: Whether this payment method is on test mode
        example: false
        type: boolean
        default: 'false'
      type:
        description: Type to classify this payment method
        example: card
        type: string
        default: card
    required:
      - id
      - name
      - supported_instruments
      - test_mode
      - type
  SupportedCardInstrument:
    title: Supported Card Instrument
    type: object
    properties:
      instrument_type:
        $ref: '#/definitions/InstrumentType'
      verification_value_required:
        description: Whether verification value is required for payment
        type: boolean
    required:
      - instrument_type
  Error:
    title: Error
    type: object
    properties:
      status:
        description: HTTP status code
        type: integer
        format: int32
      title:
        description: Short summary describing the particular error
        type: string
      detail:
        description: Detailed summary describing the particular error
        type: string
      type:
        description: Reference that identifies the particular error
        type: string
      code:
        description: Code representing the particular error
        type: integer
        format: int32
    required:
      - status
      - title
      - type
  ErrorResponse:
    title: ErrorResponse
    type: object
    properties:
      status:
        description: HTTP status code
        type: integer
        format: int32
      title:
        description: Short summary describing the particular error
        type: string
      detail:
        description: Detailed summary describing the particular error
        type: string
      type:
        description: Reference that identifies the particular error
        type: string
      code:
        description: Code representing the particular error
        type: integer
        format: int32
      errors:
        type: object
        additionalProperties:
          type: string
    required:
      - status
      - title
      - type
  InstrumentType:
    title: InstrumentType
    description: Type of this instrument
    example: VISA
    type: string
    enum:
      - VISA
      - MASTERCARD
      - DISCOVER
      - AMEX
      - DINERS_CLUB
      - JCB
      - DANKORT
      - MAESTRO
      - STORED_CARD
  PaymentsAccessTokensResponse:
    title: Payments Access Tokens Response
    type: object
    properties:
      data:
        $ref: '#/definitions/PaymentAccessToken'
  PaymentsMethodsResponse:
    title: Payments Methods Response
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PaymentMethod'
tags:
  - name: Payment Access Token
    description: ''
  - name: Payment Methods
    description: ''
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    in: header
    name: X-Auth-Client
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
parameters:
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
  Content-Type:
    in: header
    type: string
    name: Content-Type
    default: application/json
