swagger: '2.0'
info:
  title: Price Lists API
  version: ''
  description: >-
    To learn more about Price Lists, see
    [here](/api-docs/price-lists/price-list-overview). 


    ### Price List

    A Price List allows you to populate different versions of catalog pricing
    and assign them to different Customer Groups. 
  termsOfService: ''
  license:
    name: ''
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
tags:
  - name: Price Lists
    description: BigCommerce Price Lists API Definition.
  - name: Price Lists Records
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /pricelists:
    get:
      description: Returns a list of *Price Lists*. Optional parameters can be passed in.
      operationId: getPriceListCollection
      parameters:
        - $ref: '#/parameters/FilterIdParam'
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterDateCreatedParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceListCollectionResponse'
          examples:
            application/json:
              data:
                - id: 1
                  name: Warehouse
                  date_created: '2018-02-26T17:33:11Z'
                  date_modified: '2018-05-08T14:05:27Z'
                  active: true
                - id: 2
                  name: B2B
                  date_created: '2018-02-26T17:37:01Z'
                  date_modified: '2018-02-26T17:37:01Z'
                  active: true
                - id: 3
                  name: Wholesale
                  date_created: '2018-04-05T16:05:12Z'
                  date_modified: '2018-04-05T16:05:12Z'
                  active: true
              meta:
                pagination:
                  total: 3
                  count: 3
                  per_page: 50
                  current_page: 1
                  total_pages: 1
      tags:
        - Price Lists
      summary: Get All Price Lists
    post:
      description: |-
        Creates a *Price List*.

        **Required Fields**
        * name
      operationId: createPriceList
      parameters:
        - name: PriceList
          in: body
          required: true
          schema:
            $ref: '#/definitions/PriceListPost'
          x-examples:
            application/json:
              name: Wholesale group
              active: false
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceListResponse'
          examples:
            application/json:
              data:
                id: 4
                name: Wholesale Group - Trade Show
                date_created: '2018-09-17T18:41:59Z'
                date_modified: '2018-09-17T18:41:59Z'
                active: false
              meta: {}
        '409':
          description: >
            `Price List` was in conflict with another Price List. This is the
            result of duplicate unique values, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Price List` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Price Lists
      summary: Create a Price List
    delete:
      description: >-
        Deletes a *Price List*. All associated price records are also removed.
        Optional parameters can be passed in.
      operationId: deletePriceListsByFilter
      parameters:
        - $ref: '#/parameters/FilterIdParam'
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
      tags:
        - Price Lists
      summary: Delete All Price Lists
  '/pricelists/{price_list_id}':
    parameters:
      - $ref: '#/parameters/PriceListIdParam'
    get:
      description: ' Returns a single *Price List*.'
      operationId: getPriceList
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceListResponse'
          examples:
            application/json:
              data:
                id: 2
                name: B2B
                date_created: '2018-02-26T17:37:01Z'
                date_modified: '2018-09-17T18:34:36Z'
                active: true
              meta: {}
      tags:
        - Price Lists
      summary: Get a Price List
    put:
      description: Updates a *Price List*.
      operationId: updatePriceList
      parameters:
        - name: PriceList
          in: body
          required: true
          schema:
            $ref: '#/definitions/PriceListPut'
          x-examples:
            application/json:
              name: adipisicing
              active: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceListResponse'
          examples:
            application/json:
              data:
                id: 2
                name: BigCommerce
                date_created: '2018-02-26T17:37:01Z'
                date_modified: '2018-09-17T18:45:17Z'
                active: false
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            `Price List` was in conflict with another Price List. This is the
            result of duplicate unique values, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Price List` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Price Lists
      summary: Update a Price List
    delete:
      description: Deletes a *Price List*. All associated price records are also removed.
      operationId: deletePriceList
      responses:
        '204':
          description: ''
      tags:
        - Price Lists
      summary: Delete a Price List
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
  '/pricelists/{price_list_id}/records':
    parameters:
      - $ref: '#/parameters/PriceListIdParam'
    get:
      description: Returns a list of *Price List Records* associated with a *Price List*.
      operationId: getPriceListRecordCollection
      parameters:
        - $ref: '#/parameters/FilterVariantIdParam'
        - $ref: '#/parameters/FilterProductIdParam'
        - $ref: '#/parameters/FilterCurrencyParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludePriceRecordParam'
        - $ref: '#/parameters/FilterPriceParam'
        - $ref: '#/parameters/FilterSalePriceParam'
        - $ref: '#/parameters/FilterRetailPriceParam'
        - $ref: '#/parameters/FilterMapPriceParam'
        - $ref: '#/parameters/FilterCalculatedPriceParam'
        - $ref: '#/parameters/FilterDateCreatedParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/FilterSkuParam'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceRecordCollectionResponse'
          examples:
            application/json:
              data:
                - price_list_id: 3
                  variant_id: 358
                  price: 25.48
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 25.48
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 187
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 359
                  price: 31.31
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 31.31
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 188
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 360
                  price: 18.57
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 18.57
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 189
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 361
                  price: 22.54
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 22.54
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 190
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 362
                  price: 27.39
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 27.39
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:51:26Z'
                  currency: usd
                  product_id: 191
                  bulk_pricing_tiers:
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 1
                    - quantity_min: 20
                      quantity_max: 29
                      type: percent
                      amount: 3
                    - quantity_min: 30
                      quantity_max: 2147483647
                      type: percent
                      amount: 5
                - price_list_id: 3
                  variant_id: 382
                  price: 9.8
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 9.8
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 192
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 383
                  price: 24.5
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 24.5
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 192
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 384
                  price: 24.5
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 24.5
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 192
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 385
                  price: 9.8
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 9.8
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 193
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 386
                  price: 10.78
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 10.78
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:33:14Z'
                  currency: usd
                  product_id: 194
                  bulk_pricing_tiers: []
                - price_list_id: 3
                  variant_id: 388
                  price: 10.78
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 10.78
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:35:42Z'
                  currency: usd
                  product_id: 195
                  bulk_pricing_tiers:
                    - quantity_min: 2
                      quantity_max: 9
                      type: percent
                      amount: 1
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 2
                    - quantity_min: 20
                      quantity_max: 2147483647
                      type: percent
                      amount: 3
                - price_list_id: 3
                  variant_id: 389
                  price: 18.62
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 18.62
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:35:42Z'
                  currency: usd
                  product_id: 195
                  bulk_pricing_tiers:
                    - quantity_min: 2
                      quantity_max: 9
                      type: percent
                      amount: 1
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 2
                    - quantity_min: 20
                      quantity_max: 2147483647
                      type: percent
                      amount: 3
                - price_list_id: 3
                  variant_id: 390
                  price: 10.78
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 10.78
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:35:42Z'
                  currency: usd
                  product_id: 195
                  bulk_pricing_tiers:
                    - quantity_min: 2
                      quantity_max: 9
                      type: percent
                      amount: 1
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 2
                    - quantity_min: 20
                      quantity_max: 2147483647
                      type: percent
                      amount: 3
                - price_list_id: 3
                  variant_id: 391
                  price: 10.78
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 10.78
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:35:42Z'
                  currency: usd
                  product_id: 195
                  bulk_pricing_tiers:
                    - quantity_min: 2
                      quantity_max: 9
                      type: percent
                      amount: 1
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 2
                    - quantity_min: 20
                      quantity_max: 2147483647
                      type: percent
                      amount: 3
              meta:
                pagination:
                  total: 14
                  count: 14
                  per_page: 50
                  current_page: 1
                  total_pages: 1
      summary: Get All Price List Records
      tags:
        - Price Lists Records
    put:
      description: >-
        Creates or updates *Price List Records*. 


        **Required Fields**

        * currency


        **Notes**


        * Bulk Updates is supported by this endpoint. 

        * Bulk requests are limited to 100 items per request.

        * Only one bulk upsert can done at a time. Running more than one in
        parallel on the **same store** will cause a 429 error and the request
        will fail. 
      operationId: setPriceListRecordCollection
      parameters:
        - name: X-Strict-Mode
          in: header
          type: integer
          required: false
          default: 0
          description: >
            Header that determines whether the Batch API operates in strict mode
            or not.  Strict mode will reject the entire request if any item in
            the batch has an error.
        - name: PriceRecordBatch
          in: body
          required: true
          schema:
            $ref: '#/definitions/PriceRecordCollectionPut'
          x-examples:
            application/json:
              - variant_id: 361
                sku: SKU-4484A834
                currency: usd
                price: 22.544
              - variant_id: 362
                price: 27.39
                currency: usd
                bulk_pricing_tiers:
                  - quantity_min: 10
                    quantity_max: 19
                    type: percent
                    amount: 1
                  - quantity_min: 20
                    quantity_max: 29
                    type: percent
                    amount: 3
                  - quantity_min: 30
                    quantity_max: 2147483647
                    type: percent
                    amount: 5
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: Success response for batch PUT of `Price Records`.
          schema:
            $ref: '#/definitions/SuccessBatchResponse'
        '422':
          description: >-
            Error response for batch PUT of `Price Records`.  May include errors
            during partial update in non-strict mode.
          schema:
            $ref: '#/definitions/PriceRecordBatchErrorResponse'
      summary: Upsert Price List Records
      tags:
        - Price Lists Records
    delete:
      description: >-
        Deletes a *Price List Record*. Deleting the records does not delete the
        Price List. Optional parameters can be passed in.
      operationId: deletePriceListRecordsByFilter
      parameters:
        - $ref: '#/parameters/FilterVariantIdParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
          schema:
            $ref: '#/definitions/NoContent'
      summary: Delete a Price List Record
      tags:
        - Price Lists Records
  '/pricelists/{price_list_id}/records/{variant_id}':
    parameters:
      - $ref: '#/parameters/PriceListIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      description: >-
        Returns *Price List Records* using the variant ID. Will also contain
        currency records.
      operationId: getPriceListRecordsByVariantId
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceRecordCollectionResponse'
          examples:
            application/json:
              data:
                - price_list_id: 3
                  variant_id: 388
                  price: 10.78
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 10.78
                  date_created: '2018-09-17T20:33:14Z'
                  date_modified: '2018-09-17T20:35:42Z'
                  currency: usd
                  product_id: 195
                  bulk_pricing_tiers:
                    - quantity_min: 2
                      quantity_max: 9
                      type: percent
                      amount: 1
                    - quantity_min: 10
                      quantity_max: 19
                      type: percent
                      amount: 2
                    - quantity_min: 20
                      quantity_max: 2147483647
                      type: percent
                      amount: 3
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
      summary: Get Price Records by Variant
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Price Lists Records
  '/pricelists/{price_list_id}/records/{variant_id}/{currency_code}':
    parameters:
      - $ref: '#/parameters/PriceListIdParam'
      - $ref: '#/parameters/VariantIdParam'
      - $ref: '#/parameters/PriceRecordCurrencyParam'
    get:
      description: >-
        Returns a *Price List Record* using the currency code. Optional
        parameters can be used.
      operationId: getPriceListRecord
      parameters:
        - $ref: '#/parameters/FilterIncludePriceRecordParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceRecordResponse'
          examples:
            application/json:
              data:
                - price_list_id: 4
                  variant_id: 356
                  price: 22.544
                  sale_price: null
                  retail_price: null
                  map_price: null
                  calculated_price: 22.544
                  date_created: '2018-09-18T13:18:15Z'
                  date_modified: '2018-09-18T13:18:15Z'
                  currency: eur
                  product_id: 185
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
      tags:
        - Price Lists
      summary: Get a Price Record by Currency Code
    put:
      description: Creates or updates a*Price List Record* using the currency code.
      operationId: setPriceListRecord
      parameters:
        - name: PriceRecord
          in: body
          required: true
          schema:
            $ref: '#/definitions/PriceRecordPut'
          x-examples:
            application/json:
              price: 12.99
              sale_price: 10.99
              retail_price: 15.99
              map_price: 17.99
              bulk_pricing_tiers:
                - quantity_min: 5
                  quantity_max: 10
                  type: percent
                  amount: 1
                - quantity_min: 11
                  quantity_max: 20
                  type: percent
                  amount: 2
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PriceRecordResponse'
          examples:
            application/json:
              data:
                price_list_id: 4
                variant_id: 356
                price: 12.99
                sale_price: 10.99
                retail_price: 15.99
                map_price: 17.99
                calculated_price: 10.99
                date_created: '2018-09-18T13:18:15Z'
                date_modified: '2018-09-18T13:30:48Z'
                currency: eur
                product_id: 185
                bulk_pricing_tiers:
                  - quantity_min: 5
                    quantity_max: 10
                    type: percent
                    amount: 1
                  - quantity_min: 11
                    quantity_max: 20
                    type: percent
                    amount: 2
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            `Price Record` was in conflict with another price record. This is
            the result of duplicate unique values.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Price Record` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Price Lists
      summary: Set Price List Record by Currency Code
    delete:
      description: 'Deletes a *Price List Record* using the currency code. '
      operationId: deletePriceListRecord
      responses:
        '204':
          description: ''
      summary: Delete a Price Record by Currency Code
      parameters:
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      tags:
        - Price Lists Records
parameters:
  FilterIdParam:
    name: id
    description: |
      Filter items by id.
    required: false
    in: query
    type: integer
  FilterSkuParam:
    name: sku
    description: |
      Filter items by sku.
    required: false
    in: query
    type: string
  FilterProductIdParam:
    type: string
    name: product_id
    in: query
    required: false
    description: |
      A comma-separated list of ids of `Product`s whose prices were requested.
  FilterNameParam:
    name: name
    description: |
      Filter items by name.
    required: false
    in: query
    type: string
  FilterPriceParam:
    name: price
    description: |
      Filter items by price.
    required: false
    in: query
    type: number
  FilterSalePriceParam:
    name: sale_price
    description: |
      Filter items by sale_price.
    required: false
    in: query
    type: number
  FilterRetailPriceParam:
    name: retail_price
    description: |
      Filter items by retail_price.
    required: false
    in: query
    type: number
  FilterMapPriceParam:
    name: map_price
    description: |
      Filter items by map_price.
    required: false
    in: query
    type: number
  FilterCalculatedPriceParam:
    name: calculated_price
    description: |
      Filter items by calculated_price.
    required: false
    in: query
    type: number
  VariantIdParam:
    name: variant_id
    in: path
    description: |
      ID of the variant on a product, or on an associated Price List Record.
    required: true
    type: integer
  FilterDateModifiedParam:
    name: date_modified
    description: >-
      Filter items by date_modified. For example
      `v3/catalog/products?date_last_imported:min=2018-06-15`
    required: false
    in: query
    type: string
    format: date-time
  FilterDateCreatedParam:
    name: date_created
    description: |
      Filter items by date_created.
    required: false
    in: query
    type: string
    format: date-time
  FilterIncludePriceRecordParam:
    name: include
    description: >
      Sub-resources to include on a price record, in a comma-separated list.
      Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other
      valies will be ignored.
    required: false
    in: query
    type: string
    enum:
      - bulk_pricing_tiers
      - sku
  FilterPriceListIdParam:
    name: price_list_id
    description: |
      The ID of the `Price List`.
    required: false
    in: query
    type: integer
  FilterCurrencyParam:
    name: currency
    description: |
      Filter items by currency.
    required: false
    in: query
    type: string
    format: ISO-4217
  PageParam:
    name: page
    description: Specifies the page number in a limited (paginated) list of products.
    required: false
    in: query
    type: integer
  LimitParam:
    name: limit
    description: >-
      Controls the number of items per page in a limited (paginated) list of
      products.
    required: false
    in: query
    type: integer
  PriceListIdParam:
    type: integer
    name: price_list_id
    in: path
    description: |
      The ID of the `Price List` requested.
    required: true
  PriceRecordCurrencyParam:
    name: currency_code
    type: string
    in: path
    description: |
      The currency code associated with the price record being acted upon.
    required: true
    format: ISO-4217
  FilterVariantIdParam:
    type: integer
    name: variant_id
    in: query
    required: false
    description: |
      The ID of the `Variant` whose prices were requested.
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
definitions:
  PriceListCollectionResponse:
    description: Get All PriceLists.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PriceList'
      meta:
        $ref: '#/definitions/CollectionMeta'
    title: PriceList Collection Response
  PriceListResponse:
    description: |-
      PriceList Reponse returns for:

      * Create a PriceList
      * Get a PriceList
      * Update a PriceList
    type: object
    properties:
      data:
        $ref: '#/definitions/PriceList'
      meta:
        $ref: '#/definitions/Meta'
    title: Price List Response
  PriceListBase:
    type: object
    description: Common Price List properties.
    title: PriceList Base
    properties:
      name:
        type: string
        description: |
          The unique name of the Price List. Required in /POST. 
        x-required:
          - post
        example: Wholesale
      active:
        type: boolean
        description: >
          Whether or not this `Price List` and its prices are active.  Defaults
          to `true`.
        example: true
    required:
      - name
  PriceList:
    allOf:
      - properties:
          id:
            type: integer
            description: >
              The unique numeric ID of the `Price List`; increments
              sequentially.
            example: 3
          date_created:
            type: string
            format: date-time
            description: |
              The date on which the `Price List` was created.
            example: '2018-04-05T16:05:12Z'
          date_modified:
            type: string
            format: date-time
            description: |
              The date on which the `Price List` was created.
            example: '2018-04-05T16:05:12Z'
      - $ref: '#/definitions/PriceListBase'
    title: Price List
    type: object
  PriceListPost:
    type: object
    allOf:
      - $ref: '#/definitions/PriceListBase'
    required:
      - name
    title: PriceList Post
    description: 'Creates a Price List. '
  PriceListPut:
    type: object
    allOf:
      - $ref: '#/definitions/PriceListBase'
    title: PriceList Put
    description: Update a PriceList
  PriceRecordCollectionResponse:
    description: |-
      PriceRecord Collection Response returns for:
      * Get All PriceList Records
      * Get PriceList Records by Variant Id
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PriceRecord'
      meta:
        $ref: '#/definitions/CollectionMeta'
    title: PriceRecord Collection Response
  PriceRecordResponse:
    description: Response payload for the BigCommerce API.
    type: object
    properties:
      data:
        $ref: '#/definitions/PriceRecord'
      meta:
        $ref: '#/definitions/Meta'
    title: Price Record Response
  PriceRecordBase:
    type: object
    description: Common Price Record properties.
    title: PriceRecord Base
    properties:
      price:
        type: number
        format: double
        description: >
          The list price for the variant mapped in a Price List. Overrides any
          existing or Catalog list price for the variant/product.
        x-required:
          - put
        example: 3.99
      sale_price:
        type: number
        format: double
        description: >
          The sale price for the variant mapped in a Price List. Overrides any
          existing or Catalog sale price for the variant/product. If empty, the
          sale price will be treated as not being set on this variant.
      retail_price:
        type: number
        format: double
        description: >
          The retail price for the variant mapped in a Price List. Overrides any
          existing or Catalog retail price for the variant/product.  If empty,
          the retail price will be treated as not being set on this variant.
      map_price:
        type: number
        format: double
        description: >
          The MAP (Manufacturer's Advertised Price) for the variant mapped in a
          Price List. Overrides any existing or Catalog MAP price for the
          variant/product. If empty, the MAP price will be treated as not being
          set on this variant.
      bulk_pricing_tiers:
        type: array
        items:
          $ref: '#/definitions/BulkPricingTier'
      sku:
        type: string
        description: >
          The SKU code associated with this `Price Record` if requested and it
          exists.
        example: SMB-123
  PriceRecord:
    description: The Price Record object.
    allOf:
      - properties:
          calculated_price:
            type: number
            format: double
            description: >
              The price of the variant as seen on the storefront if a price
              record is in effect. It will be equal to the `sale_price`, if set,
              and the `price` if there is not a `sale_price`.  Read only.
            example: 24.64
          date_created:
            type: string
            format: date-time
            description: |
              The date on which the Price entry was created.
            example: '2018-08-23T19:59:23Z'
          date_modified:
            type: string
            format: date-time
            description: |
              The date on which the Price entry was created.
            example: '2018-08-23T19:59:23Z'
          product_id:
            type: integer
            description: >
              The id of the `Product` this `Price Record`'s variant_id is
              associated with.  Read only.
            example: 158
      - $ref: '#/definitions/PriceRecordIdentifiers'
      - $ref: '#/definitions/PriceRecordBase'
    title: Price Record
    type: object
  BulkPricingTier:
    type: object
    title: Bulk Pricing Tier
    properties:
      quantity_min:
        type: integer
        description: >
          The minimum quantity of associated variant in the cart needed to
          qualify for this tiers pricing.
        example: 1
      quantity_max:
        type: integer
        description: >
          The maximum allowed quantity of associated variant in the cart to
          qualify for this tiers pricing.
        example: 10
      type:
        type: string
        enum:
          - fixed
          - price
          - percent
        description: >
          The type of adjustment that is made. Acceptable values: price – the
          adjustment amount per product; percent – the adjustment as a
          percentage of the original price; fixed – the adjusted absolute price
          of the product.
        example: price
      amount:
        type: number
        format: double
        description: >
          The price adjustment amount. This value along with the type will
          decide the price per variant for the pricing tier.
        example: 3
  PriceRecordPut:
    type: object
    allOf:
      - $ref: '#/definitions/PriceRecordBase'
    title: Price Record Put
  PriceRecordCollectionPut:
    type: array
    items:
      $ref: '#/definitions/PriceRecordBatchItem'
    title: Price Record Collection Put
  PriceRecordBatchItem:
    description: Price Record object used in batch create or update.
    allOf:
      - properties:
          variant_id:
            type: integer
            description: >
              The variant with which this price set is associated. Either
              variant_id or sku is required.
            example: 331
          sku:
            type: string
            description: >
              The sku for the variant with which this price set is associated. 
              Either sku or variant_id is required.
            example: SMB-123
          currency:
            type: string
            format: ISO-4217
            description: >
              The 3-letter currency code with which this price set is
              associated.
            example: usd
      - $ref: '#/definitions/PriceRecordBase'
    title: PriceRecord Batch Item
    type: object
  PriceRecordIdentifiers:
    description: Price Record object used in batch create or update.
    allOf:
      - properties:
          price_list_id:
            type: integer
            description: |
              The Price List with which this price set is associated.
            example: 2
          variant_id:
            type: integer
            description: >
              The variant with which this price set is associated. Either
              variant_id or sku is required.
            example: 325
          sku:
            type: string
            description: >
              The variant with which this price set is associated. Either sku or
              variant_id is required.
          currency:
            type: string
            format: ISO-4217
            description: >
              The 3-letter currency code with which this price set is
              associated.
            example: usd
    title: Price Record Identifiers
    type: object
  SuccessBatchResponse:
    type: object
    description: Empty object for Success case for Batch API.
    title: Success Batch Response
  PriceRecordBatchErrorResponse:
    description: Errors during batch usage for the BigCommerce API.
    type: object
    properties:
      batch_errors:
        type: array
        items:
          $ref: '#/definitions/PriceRecordBatchErrorSet'
    title: PriceRecord Batch Error Response
  NoContent:
    description: No-content response for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          204 HTTP status code.
        type: integer
      title:
        description: The error title describing the situation.
        type: string
      type:
        type: string
      instance:
        type: string
    title: No Content
  PriceRecordBatchErrorSet:
    description: >-
      Error during Price Record batch PUT.  Includes data sent in the request
      and errors.
    type: object
    properties:
      data:
        $ref: '#/definitions/PriceRecordIdentifiers'
      field_errors:
        $ref: '#/definitions/DetailedErrors'
    title: PriceRecord Batch Error Set
  CollectionMeta:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
    title: Collection Meta
  Pagination:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: Pagination
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
        example: 36
      count:
        type: integer
        description: |
          Total number of items in the collection response.
        example: 36
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        example: 50
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
        example: 1
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
        example: 1
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
            example: '?page=1&limit=50'
          next:
            type: string
            description: |
              Link to the next page returned in the response.
  Meta:
    type: object
    description: Empty meta object; may be used later.
    title: Meta
  ErrorResponse:
    allOf:
      - $ref: '#/definitions/BaseError'
      - type: object
        properties:
          errors:
            $ref: '#/definitions/DetailedErrors'
    title: Error Response
  BaseError:
    type: object
    description: |
      Error payload for the BigCommerce API.
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Base Error
  DetailedErrors:
    type: object
    additionalProperties:
      type: string
    title: Detailed Errors
  NotFound:
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Not Found
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
