{
  "swagger": "2.0",
  "info": {
    "title": "Price Lists API",
    "version": "",
    "description": "To learn more about Price Lists, see [here](/api-docs/price-lists/price-list-overview). \n\n### Price List\nA Price List allows you to populate different versions of catalog pricing and assign them to different Customer Groups. ",
    "termsOfService": "",
    "license": {
      "name": ""
    }
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "tags": [
    {
      "name": "Price Lists",
      "description": "BigCommerce Price Lists API Definition."
    },
    {
      "name": "Price Lists Records"
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/pricelists": {
      "get": {
        "description": "Returns a list of *Price Lists*. Optional parameters can be passed in.",
        "operationId": "getPriceListCollection",
        "parameters": [
          {
            "name": "id",
            "description": "Filter items by id.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "name",
            "description": "Filter items by name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "date_created",
            "description": "Filter items by date_created.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_modified",
            "description": "Filter items by date_modified. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "Get All PriceLists.",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The unique numeric ID of the `Price List`; increments sequentially.\n",
                            "example": 3
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the `Price List` was created.\n",
                            "example": "2018-04-05T16:05:12Z"
                          },
                          "date_modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the `Price List` was created.\n",
                            "example": "2018-04-05T16:05:12Z"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Common Price List properties.",
                        "title": "PriceList Base",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The unique name of the Price List. Required in /POST. \n",
                            "x-required": [
                              "post"
                            ],
                            "example": "Wholesale"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                            "example": true
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    ],
                    "title": "Price List",
                    "type": "object"
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "Data about the response, including pagination and collection totals.",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Data about the response, including pagination and collection totals.",
                      "title": "Pagination",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items in the result set.\n",
                          "example": 36
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of items in the collection response.\n",
                          "example": 36
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n",
                          "example": 50
                        },
                        "current_page": {
                          "type": "integer",
                          "description": "The page you are currently on within the collection.\n",
                          "example": 1
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "The total number of pages in the collection.\n",
                          "example": 1
                        },
                        "links": {
                          "type": "object",
                          "description": "Pagination links for the previous and next parts of the whole collection.\n",
                          "properties": {
                            "previous": {
                              "type": "string",
                              "description": "Link to the previous page returned in the response.\n"
                            },
                            "current": {
                              "type": "string",
                              "description": "Link to the current page returned in the response.\n",
                              "example": "?page=1&limit=50"
                            },
                            "next": {
                              "type": "string",
                              "description": "Link to the next page returned in the response.\n"
                            }
                          }
                        }
                      }
                    }
                  },
                  "title": "Collection Meta"
                }
              },
              "title": "PriceList Collection Response"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 1,
                    "name": "Warehouse",
                    "date_created": "2018-02-26T17:33:11Z",
                    "date_modified": "2018-05-08T14:05:27Z",
                    "active": true
                  },
                  {
                    "id": 2,
                    "name": "B2B",
                    "date_created": "2018-02-26T17:37:01Z",
                    "date_modified": "2018-02-26T17:37:01Z",
                    "active": true
                  },
                  {
                    "id": 3,
                    "name": "Wholesale",
                    "date_created": "2018-04-05T16:05:12Z",
                    "date_modified": "2018-04-05T16:05:12Z",
                    "active": true
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 3,
                    "count": 3,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Get All Price Lists"
      },
      "post": {
        "description": "Creates a *Price List*.\n\n**Required Fields**\n* name",
        "operationId": "createPriceList",
        "parameters": [
          {
            "name": "PriceList",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "description": "Common Price List properties.",
                  "title": "PriceList Base",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The unique name of the Price List. Required in /POST. \n",
                      "x-required": [
                        "post"
                      ],
                      "example": "Wholesale"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                      "example": true
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              ],
              "required": [
                "name"
              ],
              "title": "PriceList Post",
              "description": "Creates a Price List. "
            },
            "x-examples": {
              "application/json": {
                "name": "Wholesale group",
                "active": false
              }
            }
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "PriceList Reponse returns for:\n\n* Create a PriceList\n* Get a PriceList\n* Update a PriceList",
              "type": "object",
              "properties": {
                "data": {
                  "allOf": [
                    {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The unique numeric ID of the `Price List`; increments sequentially.\n",
                          "example": 3
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Common Price List properties.",
                      "title": "PriceList Base",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique name of the Price List. Required in /POST. \n",
                          "x-required": [
                            "post"
                          ],
                          "example": "Wholesale"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                          "example": true
                        }
                      },
                      "required": [
                        "name"
                      ]
                    }
                  ],
                  "title": "Price List",
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "description": "Empty meta object; may be used later.",
                  "title": "Meta"
                }
              },
              "title": "Price List Response"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 4,
                  "name": "Wholesale Group - Trade Show",
                  "date_created": "2018-09-17T18:41:59Z",
                  "date_modified": "2018-09-17T18:41:59Z",
                  "active": false
                },
                "meta": {}
              }
            }
          },
          "409": {
            "description": "`Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Detailed Errors"
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          },
          "422": {
            "description": "`Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Detailed Errors"
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Create a Price List"
      },
      "delete": {
        "description": "Deletes a *Price List*. All associated price records are also removed. Optional parameters can be passed in.",
        "operationId": "deletePriceListsByFilter",
        "parameters": [
          {
            "name": "id",
            "description": "Filter items by id.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "name",
            "description": "Filter items by name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Delete All Price Lists"
      }
    },
    "/pricelists/{price_list_id}": {
      "parameters": [
        {
          "type": "integer",
          "name": "price_list_id",
          "in": "path",
          "description": "The ID of the `Price List` requested.\n",
          "required": true
        }
      ],
      "get": {
        "description": " Returns a single *Price List*.",
        "operationId": "getPriceList",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "PriceList Reponse returns for:\n\n* Create a PriceList\n* Get a PriceList\n* Update a PriceList",
              "type": "object",
              "properties": {
                "data": {
                  "allOf": [
                    {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The unique numeric ID of the `Price List`; increments sequentially.\n",
                          "example": 3
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Common Price List properties.",
                      "title": "PriceList Base",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique name of the Price List. Required in /POST. \n",
                          "x-required": [
                            "post"
                          ],
                          "example": "Wholesale"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                          "example": true
                        }
                      },
                      "required": [
                        "name"
                      ]
                    }
                  ],
                  "title": "Price List",
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "description": "Empty meta object; may be used later.",
                  "title": "Meta"
                }
              },
              "title": "Price List Response"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 2,
                  "name": "B2B",
                  "date_created": "2018-02-26T17:37:01Z",
                  "date_modified": "2018-09-17T18:34:36Z",
                  "active": true
                },
                "meta": {}
              }
            }
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Get a Price List",
        "parameters": [
          {
            "$ref": "#/parameters/FilterVariantIdParam"
          }
        ]
      },
      "put": {
        "description": "Updates a *Price List*.",
        "operationId": "updatePriceList",
        "parameters": [
          {
            "name": "PriceList",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "description": "Common Price List properties.",
                  "title": "PriceList Base",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The unique name of the Price List. Required in /POST. \n",
                      "x-required": [
                        "post"
                      ],
                      "example": "Wholesale"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                      "example": true
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              ],
              "title": "PriceList Put",
              "description": "Update a PriceList"
            },
            "x-examples": {
              "application/json": {
                "name": "adipisicing",
                "active": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "PriceList Reponse returns for:\n\n* Create a PriceList\n* Get a PriceList\n* Update a PriceList",
              "type": "object",
              "properties": {
                "data": {
                  "allOf": [
                    {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The unique numeric ID of the `Price List`; increments sequentially.\n",
                          "example": 3
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the `Price List` was created.\n",
                          "example": "2018-04-05T16:05:12Z"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Common Price List properties.",
                      "title": "PriceList Base",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique name of the Price List. Required in /POST. \n",
                          "x-required": [
                            "post"
                          ],
                          "example": "Wholesale"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether or not this `Price List` and its prices are active.  Defaults to `true`.\n",
                          "example": true
                        }
                      },
                      "required": [
                        "name"
                      ]
                    }
                  ],
                  "title": "Price List",
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "description": "Empty meta object; may be used later.",
                  "title": "Meta"
                }
              },
              "title": "Price List Response"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 2,
                  "name": "BigCommerce",
                  "date_created": "2018-02-26T17:37:01Z",
                  "date_modified": "2018-09-17T18:45:17Z",
                  "active": false
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "description": "Error payload for the BigCommerce API.",
              "type": "object",
              "properties": {
                "status": {
                  "description": "404 HTTP status code.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "The error title describing the particular error.",
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "instance": {
                  "type": "string"
                }
              },
              "title": "Not Found"
            }
          },
          "409": {
            "description": "`Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Detailed Errors"
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          },
          "422": {
            "description": "`Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "title": "Detailed Errors"
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Update a Price List"
      },
      "delete": {
        "description": "Deletes a *Price List*. All associated price records are also removed.",
        "operationId": "deletePriceList",
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Delete a Price List",
        "parameters": [
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ]
      }
    },
    "/pricelists/{price_list_id}/records": {
      "parameters": [
        {
          "type": "integer",
          "name": "price_list_id",
          "in": "path",
          "description": "The ID of the `Price List` requested.\n",
          "required": true
        }
      ],
      "get": {
        "description": "Returns a list of *Price List Records* associated with a *Price List*.",
        "operationId": "getPriceListRecordCollection",
        "parameters": [
          {
            "$ref": "#/parameters/FilterVariantIdParam"
          },
          {
            "$ref": "#/parameters/FilterProductIdParam"
          },
          {
            "name": "currency",
            "description": "Filter items by currency.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "ISO-4217"
          },
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "include",
            "description": "Sub-resources to include on a price record, in a comma-separated list. Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other valies will be ignored.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "bulk_pricing_tiers",
              "sku"
            ]
          },
          {
            "name": "price",
            "description": "Filter items by price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "sale_price",
            "description": "Filter items by sale_price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "retail_price",
            "description": "Filter items by retail_price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "map_price",
            "description": "Filter items by map_price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "calculated_price",
            "description": "Filter items by calculated_price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "date_created",
            "description": "Filter items by date_created.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_modified",
            "description": "Filter items by date_modified. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "sku",
            "description": "Filter items by sku.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "PriceRecord Collection Response returns for:\n* Get All PriceList Records\n* Get PriceList Records by Variant Id",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "description": "The Price Record object.",
                    "allOf": [
                      {
                        "properties": {
                          "calculated_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The price of the variant as seen on the storefront if a price record is in effect. It will be equal to the `sale_price`, if set, and the `price` if there is not a `sale_price`.  Read only.\n",
                            "example": 24.64
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the Price entry was created.\n",
                            "example": "2018-08-23T19:59:23Z"
                          },
                          "date_modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the Price entry was created.\n",
                            "example": "2018-08-23T19:59:23Z"
                          },
                          "product_id": {
                            "type": "integer",
                            "description": "The id of the `Product` this `Price Record`'s variant_id is associated with.  Read only.\n",
                            "example": 158
                          }
                        }
                      },
                      {
                        "description": "Price Record object used in batch create or update.",
                        "allOf": [
                          {
                            "properties": {
                              "price_list_id": {
                                "type": "integer",
                                "description": "The Price List with which this price set is associated.\n",
                                "example": 2
                              },
                              "variant_id": {
                                "type": "integer",
                                "description": "The variant with which this price set is associated. Either variant_id or sku is required.\n",
                                "example": 325
                              },
                              "sku": {
                                "type": "string",
                                "description": "The variant with which this price set is associated. Either sku or variant_id is required.\n"
                              },
                              "currency": {
                                "type": "string",
                                "format": "ISO-4217",
                                "description": "The 3-letter currency code with which this price set is associated.\n",
                                "example": "usd"
                              }
                            }
                          }
                        ],
                        "title": "Price Record Identifiers",
                        "type": "object"
                      },
                      {
                        "type": "object",
                        "description": "Common Price Record properties.",
                        "title": "PriceRecord Base",
                        "properties": {
                          "price": {
                            "type": "number",
                            "format": "double",
                            "description": "The list price for the variant mapped in a Price List. Overrides any existing or Catalog list price for the variant/product.\n",
                            "x-required": [
                              "put"
                            ],
                            "example": 3.99
                          },
                          "sale_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The sale price for the variant mapped in a Price List. Overrides any existing or Catalog sale price for the variant/product. If empty, the sale price will be treated as not being set on this variant.\n"
                          },
                          "retail_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The retail price for the variant mapped in a Price List. Overrides any existing or Catalog retail price for the variant/product.  If empty, the retail price will be treated as not being set on this variant.\n"
                          },
                          "map_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The MAP (Manufacturer's Advertised Price) for the variant mapped in a Price List. Overrides any existing or Catalog MAP price for the variant/product. If empty, the MAP price will be treated as not being set on this variant.\n"
                          },
                          "bulk_pricing_tiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Bulk Pricing Tier",
                              "properties": {
                                "quantity_min": {
                                  "type": "integer",
                                  "description": "The minimum quantity of associated variant in the cart needed to qualify for this tiers pricing.\n",
                                  "example": 1
                                },
                                "quantity_max": {
                                  "type": "integer",
                                  "description": "The maximum allowed quantity of associated variant in the cart to qualify for this tiers pricing.\n",
                                  "example": 10
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "fixed",
                                    "price",
                                    "percent"
                                  ],
                                  "description": "The type of adjustment that is made. Acceptable values: price – the adjustment amount per product; percent – the adjustment as a percentage of the original price; fixed – the adjusted absolute price of the product.\n",
                                  "example": "price"
                                },
                                "amount": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The price adjustment amount. This value along with the type will decide the price per variant for the pricing tier.\n",
                                  "example": 3
                                }
                              }
                            }
                          },
                          "sku": {
                            "type": "string",
                            "description": "The SKU code associated with this `Price Record` if requested and it exists.\n",
                            "example": "SMB-123"
                          }
                        }
                      }
                    ],
                    "title": "Price Record",
                    "type": "object"
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "Data about the response, including pagination and collection totals.",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Data about the response, including pagination and collection totals.",
                      "title": "Pagination",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items in the result set.\n",
                          "example": 36
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of items in the collection response.\n",
                          "example": 36
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n",
                          "example": 50
                        },
                        "current_page": {
                          "type": "integer",
                          "description": "The page you are currently on within the collection.\n",
                          "example": 1
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "The total number of pages in the collection.\n",
                          "example": 1
                        },
                        "links": {
                          "type": "object",
                          "description": "Pagination links for the previous and next parts of the whole collection.\n",
                          "properties": {
                            "previous": {
                              "type": "string",
                              "description": "Link to the previous page returned in the response.\n"
                            },
                            "current": {
                              "type": "string",
                              "description": "Link to the current page returned in the response.\n",
                              "example": "?page=1&limit=50"
                            },
                            "next": {
                              "type": "string",
                              "description": "Link to the next page returned in the response.\n"
                            }
                          }
                        }
                      }
                    }
                  },
                  "title": "Collection Meta"
                }
              },
              "title": "PriceRecord Collection Response"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "price_list_id": 3,
                    "variant_id": 358,
                    "price": 25.48,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 25.48,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 187,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 359,
                    "price": 31.31,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 31.31,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 188,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 360,
                    "price": 18.57,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 18.57,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 189,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 361,
                    "price": 22.54,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 22.54,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 190,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 362,
                    "price": 27.39,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 27.39,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:51:26Z",
                    "currency": "usd",
                    "product_id": 191,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 29,
                        "type": "percent",
                        "amount": 3
                      },
                      {
                        "quantity_min": 30,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 5
                      }
                    ]
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 382,
                    "price": 9.8,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 9.8,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 192,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 383,
                    "price": 24.5,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 24.5,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 192,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 384,
                    "price": 24.5,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 24.5,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 192,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 385,
                    "price": 9.8,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 9.8,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 193,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 386,
                    "price": 10.78,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 10.78,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:33:14Z",
                    "currency": "usd",
                    "product_id": 194,
                    "bulk_pricing_tiers": []
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 388,
                    "price": 10.78,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 10.78,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:35:42Z",
                    "currency": "usd",
                    "product_id": 195,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 2,
                        "quantity_max": 9,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 2
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 3
                      }
                    ]
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 389,
                    "price": 18.62,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 18.62,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:35:42Z",
                    "currency": "usd",
                    "product_id": 195,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 2,
                        "quantity_max": 9,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 2
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 3
                      }
                    ]
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 390,
                    "price": 10.78,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 10.78,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:35:42Z",
                    "currency": "usd",
                    "product_id": 195,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 2,
                        "quantity_max": 9,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 2
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 3
                      }
                    ]
                  },
                  {
                    "price_list_id": 3,
                    "variant_id": 391,
                    "price": 10.78,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 10.78,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:35:42Z",
                    "currency": "usd",
                    "product_id": 195,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 2,
                        "quantity_max": 9,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 2
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 3
                      }
                    ]
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 14,
                    "count": 14,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          }
        },
        "summary": "Get All Price List Records",
        "tags": [
          "Price Lists Records"
        ]
      },
      "put": {
        "description": "Creates or updates *Price List Records*. \n\n**Required Fields**\n* currency\n\n**Notes**\n\n* Bulk Updates is supported by this endpoint. \n* Bulk requests are limited to 100 items per request.\n* Only one bulk upsert can done at a time. Running more than one in parallel on the **same store** will cause a 429 error and the request will fail. ",
        "operationId": "setPriceListRecordCollection",
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "type": "integer",
            "required": false,
            "default": 0,
            "description": "Header that determines whether the Batch API operates in strict mode or not.  Strict mode will reject the entire request if any item in the batch has an error.\n"
          },
          {
            "name": "PriceRecordBatch",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "description": "Price Record object used in batch create or update.",
                "allOf": [
                  {
                    "properties": {
                      "variant_id": {
                        "type": "integer",
                        "description": "The variant with which this price set is associated. Either variant_id or sku is required.\n",
                        "example": 331
                      },
                      "sku": {
                        "type": "string",
                        "description": "The sku for the variant with which this price set is associated.  Either sku or variant_id is required.\n",
                        "example": "SMB-123"
                      },
                      "currency": {
                        "type": "string",
                        "format": "ISO-4217",
                        "description": "The 3-letter currency code with which this price set is associated.\n",
                        "example": "usd"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Common Price Record properties.",
                    "title": "PriceRecord Base",
                    "properties": {
                      "price": {
                        "type": "number",
                        "format": "double",
                        "description": "The list price for the variant mapped in a Price List. Overrides any existing or Catalog list price for the variant/product.\n",
                        "x-required": [
                          "put"
                        ],
                        "example": 3.99
                      },
                      "sale_price": {
                        "type": "number",
                        "format": "double",
                        "description": "The sale price for the variant mapped in a Price List. Overrides any existing or Catalog sale price for the variant/product. If empty, the sale price will be treated as not being set on this variant.\n"
                      },
                      "retail_price": {
                        "type": "number",
                        "format": "double",
                        "description": "The retail price for the variant mapped in a Price List. Overrides any existing or Catalog retail price for the variant/product.  If empty, the retail price will be treated as not being set on this variant.\n"
                      },
                      "map_price": {
                        "type": "number",
                        "format": "double",
                        "description": "The MAP (Manufacturer's Advertised Price) for the variant mapped in a Price List. Overrides any existing or Catalog MAP price for the variant/product. If empty, the MAP price will be treated as not being set on this variant.\n"
                      },
                      "bulk_pricing_tiers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "title": "Bulk Pricing Tier",
                          "properties": {
                            "quantity_min": {
                              "type": "integer",
                              "description": "The minimum quantity of associated variant in the cart needed to qualify for this tiers pricing.\n",
                              "example": 1
                            },
                            "quantity_max": {
                              "type": "integer",
                              "description": "The maximum allowed quantity of associated variant in the cart to qualify for this tiers pricing.\n",
                              "example": 10
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "fixed",
                                "price",
                                "percent"
                              ],
                              "description": "The type of adjustment that is made. Acceptable values: price – the adjustment amount per product; percent – the adjustment as a percentage of the original price; fixed – the adjusted absolute price of the product.\n",
                              "example": "price"
                            },
                            "amount": {
                              "type": "number",
                              "format": "double",
                              "description": "The price adjustment amount. This value along with the type will decide the price per variant for the pricing tier.\n",
                              "example": 3
                            }
                          }
                        }
                      },
                      "sku": {
                        "type": "string",
                        "description": "The SKU code associated with this `Price Record` if requested and it exists.\n",
                        "example": "SMB-123"
                      }
                    }
                  }
                ],
                "title": "PriceRecord Batch Item",
                "type": "object"
              },
              "title": "Price Record Collection Put"
            },
            "x-examples": {
              "application/json": [
                {
                  "variant_id": 361,
                  "sku": "SKU-4484A834",
                  "currency": "usd",
                  "price": 22.544
                },
                {
                  "variant_id": 362,
                  "price": 27.39,
                  "currency": "usd",
                  "bulk_pricing_tiers": [
                    {
                      "quantity_min": 10,
                      "quantity_max": 19,
                      "type": "percent",
                      "amount": 1
                    },
                    {
                      "quantity_min": 20,
                      "quantity_max": 29,
                      "type": "percent",
                      "amount": 3
                    },
                    {
                      "quantity_min": 30,
                      "quantity_max": 2147483647,
                      "type": "percent",
                      "amount": 5
                    }
                  ]
                }
              ]
            }
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response for batch PUT of `Price Records`.",
            "schema": {
              "type": "object",
              "description": "Empty object for Success case for Batch API.",
              "title": "Success Batch Response"
            }
          },
          "422": {
            "description": "Error response for batch PUT of `Price Records`.  May include errors during partial update in non-strict mode.",
            "schema": {
              "description": "Errors during batch usage for the BigCommerce API.",
              "type": "object",
              "properties": {
                "batch_errors": {
                  "type": "array",
                  "items": {
                    "description": "Error during Price Record batch PUT.  Includes data sent in the request and errors.",
                    "type": "object",
                    "properties": {
                      "data": {
                        "description": "Price Record object used in batch create or update.",
                        "allOf": [
                          {
                            "properties": {
                              "price_list_id": {
                                "type": "integer",
                                "description": "The Price List with which this price set is associated.\n",
                                "example": 2
                              },
                              "variant_id": {
                                "type": "integer",
                                "description": "The variant with which this price set is associated. Either variant_id or sku is required.\n",
                                "example": 325
                              },
                              "sku": {
                                "type": "string",
                                "description": "The variant with which this price set is associated. Either sku or variant_id is required.\n"
                              },
                              "currency": {
                                "type": "string",
                                "format": "ISO-4217",
                                "description": "The 3-letter currency code with which this price set is associated.\n",
                                "example": "usd"
                              }
                            }
                          }
                        ],
                        "title": "Price Record Identifiers",
                        "type": "object"
                      },
                      "field_errors": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "title": "Detailed Errors"
                      }
                    },
                    "title": "PriceRecord Batch Error Set"
                  }
                }
              },
              "title": "PriceRecord Batch Error Response"
            }
          }
        },
        "summary": "Upsert Price List Records",
        "tags": [
          "Price Lists Records"
        ]
      },
      "delete": {
        "description": "Deletes a *Price List Record*. Deleting the records does not delete the Price List. Optional parameters can be passed in.",
        "operationId": "deletePriceListRecordsByFilter",
        "parameters": [
          {
            "$ref": "#/parameters/FilterVariantIdParam"
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "description": "No-content response for the BigCommerce API.",
              "type": "object",
              "properties": {
                "status": {
                  "description": "204 HTTP status code.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "The error title describing the situation.",
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "instance": {
                  "type": "string"
                }
              },
              "title": "No Content"
            }
          }
        },
        "summary": "Delete a Price List Record",
        "tags": [
          "Price Lists Records"
        ]
      }
    },
    "/pricelists/{price_list_id}/records/{variant_id}": {
      "parameters": [
        {
          "type": "integer",
          "name": "price_list_id",
          "in": "path",
          "description": "The ID of the `Price List` requested.\n",
          "required": true
        },
        {
          "name": "variant_id",
          "in": "path",
          "description": "ID of the variant on a product, or on an associated Price List Record.\n",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "description": "Returns *Price List Records* using the variant ID. Will also contain currency records.",
        "operationId": "getPriceListRecordsByVariantId",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "PriceRecord Collection Response returns for:\n* Get All PriceList Records\n* Get PriceList Records by Variant Id",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "description": "The Price Record object.",
                    "allOf": [
                      {
                        "properties": {
                          "calculated_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The price of the variant as seen on the storefront if a price record is in effect. It will be equal to the `sale_price`, if set, and the `price` if there is not a `sale_price`.  Read only.\n",
                            "example": 24.64
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the Price entry was created.\n",
                            "example": "2018-08-23T19:59:23Z"
                          },
                          "date_modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date on which the Price entry was created.\n",
                            "example": "2018-08-23T19:59:23Z"
                          },
                          "product_id": {
                            "type": "integer",
                            "description": "The id of the `Product` this `Price Record`'s variant_id is associated with.  Read only.\n",
                            "example": 158
                          }
                        }
                      },
                      {
                        "description": "Price Record object used in batch create or update.",
                        "allOf": [
                          {
                            "properties": {
                              "price_list_id": {
                                "type": "integer",
                                "description": "The Price List with which this price set is associated.\n",
                                "example": 2
                              },
                              "variant_id": {
                                "type": "integer",
                                "description": "The variant with which this price set is associated. Either variant_id or sku is required.\n",
                                "example": 325
                              },
                              "sku": {
                                "type": "string",
                                "description": "The variant with which this price set is associated. Either sku or variant_id is required.\n"
                              },
                              "currency": {
                                "type": "string",
                                "format": "ISO-4217",
                                "description": "The 3-letter currency code with which this price set is associated.\n",
                                "example": "usd"
                              }
                            }
                          }
                        ],
                        "title": "Price Record Identifiers",
                        "type": "object"
                      },
                      {
                        "type": "object",
                        "description": "Common Price Record properties.",
                        "title": "PriceRecord Base",
                        "properties": {
                          "price": {
                            "type": "number",
                            "format": "double",
                            "description": "The list price for the variant mapped in a Price List. Overrides any existing or Catalog list price for the variant/product.\n",
                            "x-required": [
                              "put"
                            ],
                            "example": 3.99
                          },
                          "sale_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The sale price for the variant mapped in a Price List. Overrides any existing or Catalog sale price for the variant/product. If empty, the sale price will be treated as not being set on this variant.\n"
                          },
                          "retail_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The retail price for the variant mapped in a Price List. Overrides any existing or Catalog retail price for the variant/product.  If empty, the retail price will be treated as not being set on this variant.\n"
                          },
                          "map_price": {
                            "type": "number",
                            "format": "double",
                            "description": "The MAP (Manufacturer's Advertised Price) for the variant mapped in a Price List. Overrides any existing or Catalog MAP price for the variant/product. If empty, the MAP price will be treated as not being set on this variant.\n"
                          },
                          "bulk_pricing_tiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Bulk Pricing Tier",
                              "properties": {
                                "quantity_min": {
                                  "type": "integer",
                                  "description": "The minimum quantity of associated variant in the cart needed to qualify for this tiers pricing.\n",
                                  "example": 1
                                },
                                "quantity_max": {
                                  "type": "integer",
                                  "description": "The maximum allowed quantity of associated variant in the cart to qualify for this tiers pricing.\n",
                                  "example": 10
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "fixed",
                                    "price",
                                    "percent"
                                  ],
                                  "description": "The type of adjustment that is made. Acceptable values: price – the adjustment amount per product; percent – the adjustment as a percentage of the original price; fixed – the adjusted absolute price of the product.\n",
                                  "example": "price"
                                },
                                "amount": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The price adjustment amount. This value along with the type will decide the price per variant for the pricing tier.\n",
                                  "example": 3
                                }
                              }
                            }
                          },
                          "sku": {
                            "type": "string",
                            "description": "The SKU code associated with this `Price Record` if requested and it exists.\n",
                            "example": "SMB-123"
                          }
                        }
                      }
                    ],
                    "title": "Price Record",
                    "type": "object"
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "Data about the response, including pagination and collection totals.",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Data about the response, including pagination and collection totals.",
                      "title": "Pagination",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items in the result set.\n",
                          "example": 36
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of items in the collection response.\n",
                          "example": 36
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n",
                          "example": 50
                        },
                        "current_page": {
                          "type": "integer",
                          "description": "The page you are currently on within the collection.\n",
                          "example": 1
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "The total number of pages in the collection.\n",
                          "example": 1
                        },
                        "links": {
                          "type": "object",
                          "description": "Pagination links for the previous and next parts of the whole collection.\n",
                          "properties": {
                            "previous": {
                              "type": "string",
                              "description": "Link to the previous page returned in the response.\n"
                            },
                            "current": {
                              "type": "string",
                              "description": "Link to the current page returned in the response.\n",
                              "example": "?page=1&limit=50"
                            },
                            "next": {
                              "type": "string",
                              "description": "Link to the next page returned in the response.\n"
                            }
                          }
                        }
                      }
                    }
                  },
                  "title": "Collection Meta"
                }
              },
              "title": "PriceRecord Collection Response"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "price_list_id": 3,
                    "variant_id": 388,
                    "price": 10.78,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 10.78,
                    "date_created": "2018-09-17T20:33:14Z",
                    "date_modified": "2018-09-17T20:35:42Z",
                    "currency": "usd",
                    "product_id": 195,
                    "bulk_pricing_tiers": [
                      {
                        "quantity_min": 2,
                        "quantity_max": 9,
                        "type": "percent",
                        "amount": 1
                      },
                      {
                        "quantity_min": 10,
                        "quantity_max": 19,
                        "type": "percent",
                        "amount": 2
                      },
                      {
                        "quantity_min": 20,
                        "quantity_max": 2147483647,
                        "type": "percent",
                        "amount": 3
                      }
                    ]
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          }
        },
        "summary": "Get Price Records by Variant",
        "parameters": [
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "tags": [
          "Price Lists Records"
        ]
      }
    },
    "/pricelists/{price_list_id}/records/{variant_id}/{currency_code}": {
      "parameters": [
        {
          "type": "integer",
          "name": "price_list_id",
          "in": "path",
          "description": "The ID of the `Price List` requested.\n",
          "required": true
        },
        {
          "name": "variant_id",
          "in": "path",
          "description": "ID of the variant on a product, or on an associated Price List Record.\n",
          "required": true,
          "type": "integer"
        },
        {
          "name": "currency_code",
          "type": "string",
          "in": "path",
          "description": "The currency code associated with the price record being acted upon.\n",
          "required": true,
          "format": "ISO-4217"
        }
      ],
      "get": {
        "description": "Returns a *Price List Record* using the currency code. Optional parameters can be used.",
        "operationId": "getPriceListRecord",
        "parameters": [
          {
            "name": "include",
            "description": "Sub-resources to include on a price record, in a comma-separated list. Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other valies will be ignored.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "bulk_pricing_tiers",
              "sku"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "description": "Response payload for the BigCommerce API.",
              "type": "object",
              "properties": {
                "data": {
                  "description": "The Price Record object.",
                  "allOf": [
                    {
                      "properties": {
                        "calculated_price": {
                          "type": "number",
                          "format": "double",
                          "description": "The price of the variant as seen on the storefront if a price record is in effect. It will be equal to the `sale_price`, if set, and the `price` if there is not a `sale_price`.  Read only.\n",
                          "example": 24.64
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the Price entry was created.\n",
                          "example": "2018-08-23T19:59:23Z"
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date on which the Price entry was created.\n",
                          "example": "2018-08-23T19:59:23Z"
                        },
                        "product_id": {
                          "type": "integer",
                          "description": "The id of the `Product` this `Price Record`'s variant_id is associated with.  Read only.\n",
                          "example": 158
                        }
                      }
                    },
                    {
                      "description": "Price Record object used in batch create or update.",
                      "allOf": [
                        {
                          "properties": {
                            "price_list_id": {
                              "type": "integer",
                              "description": "The Price List with which this price set is associated.\n",
                              "example": 2
                            },
                            "variant_id": {
                              "type": "integer",
                              "description": "The variant with which this price set is associated. Either variant_id or sku is required.\n",
                              "example": 325
                            },
                            "sku": {
                              "type": "string",
                              "description": "The variant with which this price set is associated. Either sku or variant_id is required.\n"
                            },
                            "currency": {
                              "type": "string",
                              "format": "ISO-4217",
                              "description": "The 3-letter currency code with which this price set is associated.\n",
                              "example": "usd"
                            }
                          }
                        }
                      ],
                      "title": "Price Record Identifiers",
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "description": "Common Price Record properties.",
                      "title": "PriceRecord Base",
                      "properties": {
                        "price": {
                          "type": "number",
                          "format": "double",
                          "description": "The list price for the variant mapped in a Price List. Overrides any existing or Catalog list price for the variant/product.\n",
                          "x-required": [
                            "put"
                          ],
                          "example": 3.99
                        },
                        "sale_price": {
                          "type": "number",
                          "format": "double",
                          "description": "The sale price for the variant mapped in a Price List. Overrides any existing or Catalog sale price for the variant/product. If empty, the sale price will be treated as not being set on this variant.\n"
                        },
                        "retail_price": {
                          "type": "number",
                          "format": "double",
                          "description": "The retail price for the variant mapped in a Price List. Overrides any existing or Catalog retail price for the variant/product.  If empty, the retail price will be treated as not being set on this variant.\n"
                        },
                        "map_price": {
                          "type": "number",
                          "format": "double",
                          "description": "The MAP (Manufacturer's Advertised Price) for the variant mapped in a Price List. Overrides any existing or Catalog MAP price for the variant/product. If empty, the MAP price will be treated as not being set on this variant.\n"
                        },
                        "bulk_pricing_tiers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Bulk Pricing Tier",
                            "properties": {
                              "quantity_min": {
                                "type": "integer",
                                "description": "The minimum quantity of associated variant in the cart needed to qualify for this tiers pricing.\n",
                                "example": 1
                              },
                              "quantity_max": {
                                "type": "integer",
                                "description": "The maximum allowed quantity of associated variant in the cart to qualify for this tiers pricing.\n",
                                "example": 10
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fixed",
                                  "price",
                                  "percent"
                                ],
                                "description": "The type of adjustment that is made. Acceptable values: price – the adjustment amount per product; percent – the adjustment as a percentage of the original price; fixed – the adjusted absolute price of the product.\n",
                                "example": "price"
                              },
                              "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "The price adjustment amount. This value along with the type will decide the price per variant for the pricing tier.\n",
                                "example": 3
                              }
                            }
                          }
                        },
                        "sku": {
                          "type": "string",
                          "description": "The SKU code associated with this `Price Record` if requested and it exists.\n",
                          "example": "SMB-123"
                        }
                      }
                    }
                  ],
                  "title": "Price Record",
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "description": "Empty meta object; may be used later.",
                  "title": "Meta"
                }
              },
              "title": "Price Record Response"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "price_list_id": 4,
                    "variant_id": 356,
                    "price": 22.544,
                    "sale_price": {},
                    "retail_price": {},
                    "map_price": {},
                    "calculated_price": 22.544,
                    "date_created": "2018-09-18T13:18:15Z",
                    "date_modified": "2018-09-18T13:18:15Z",
                    "currency": "eur",
                    "product_id": 185
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Price Lists"
        ],
        "summary": "Get a Price Record by Currency Code"
      },
      "put": {
        "description": "Creates or updates a*Price List Record* using the currency code.",
        "operationId": "setPriceListRecord",
        "parameters": [
          {
            "name": "PriceRecord",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "description": "Common Price Record properties.",
                  "title": "PriceRecord Base",
                  "properties": {
                    "price": {
                      "type": "number",
                      "format": "double",
                      "description": "The list price for the variant mapped in a Price List. Overrides any existing or Catalog list price for the variant/product.\n",
                      "x-required": [
                        "put"
                      ],
                      "example": 3.99
                    },
                    "sale_price": {
                      "type": "number",
                      "format": "double",
                      "description": "The sale price for the variant mapped in a Price List. Overrides any existing or Catalog sale price for the variant/product. If empty, the sale price will be treated as not being set on this variant.\n"
                    },
                    "retail_price": {
                      "type": "number",
                      "format": "double",
                      "description": "The retail price for the variant mapped in a Price List. Overrides any existing or Catalog retail price for the variant/product.  If empty, the retail price will be treated as not being set on this variant.\n"
                    },
                    "map_price": {
                      "type": "number",
                      "format": "double",
                      "description": "The MAP (Manufacturer's Advertised Price) for the variant mapped in a Price List. Overrides any existing or Catalog MAP price for the variant/product. If empty, the MAP price will be treated as not being set on this variant.\n"
                    },
                    "bulk_pricing_tiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Bulk Pricing Tier",
                        "properties": {
                          "quantity_min": {
                            "type": "integer",
                            "description": "The minimum quantity of associated variant in the cart needed to qualify for this tiers pricing.\n",
                            "example": 1
                          },
                          "quantity_max": {
                            "type": "integer",
                            "description": "The maximum allowed quantity of associated variant in the cart to qualify for this tiers pricing.\n",
                            "example": 10
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "fixed",
                              "price",
                              "percent"
                            ],
                            "description": "The type of adjustment that is made. Acceptable values: price – the adjustment amount per product; percent – the adjustment as a percentage of the original price; fixed – the adjusted absolute price of the product.\n",
                            "example": "price"
[...]
