{
  "swagger": "2.0",
  "info": {
    "title": "Server to Server Cart API",
    "version": "",
    "description": "### Cart\nAllows for a cart to be created using BigCommerce cart logic. The existing BigCommerce front end cart can be bypassed.\n\nNotes:\n- cartId is the same as the checkoutId.\n- Carts are valid for 30 days from the last modification. This can include creating the cart or editing the cart.\n- Redirect URLs can be generated only from carts created using the server-to-server cart API. To restore a cart that was created on the storefront–either by a shopper or the Storefront Cart API–first recreate the cart using the server-to-server Cart API."
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/carts": {
      "post": {
        "description": "Creates a *Cart*. \n\n**Required Fields**\n* line_items object\n* custom_items object -- If adding a item that does not already exist in the store\n* gift_certificates object -- Only if adding a gift certificate to for shopper purchase\n\n**Notes**\n\n*Cart* ID is generated in the response.\n\nTo create a redirect_url upon *Cart* creation use the query param: `include=redirect_urls`\n\nA cart can be created using an existing catalog item, or by adding a custom item using [Item Custom](/api-reference/cart-checkout/server-server-cart-api/models/itemcustom).\n\nCart ID is the same as the checkout ID.\n\nCarts are valid for 30 days from the last modification. This can include creating the cart or editing the cart.\n\nRedirect URLs can be generated only from carts created using the Server to Server Cart API. To restore a cart that was created on the storefront, either by a shopper or the Storefront Cart API, first recreate the cart using the Server to Server Cart API.",
        "parameters": [
          {
            "name": "cartData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "title": "Cart Create Request Data",
              "properties": {
                "customer_id": {
                  "type": "integer"
                },
                "line_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Line Item Request Data",
                    "properties": {
                      "quantity": {
                        "type": "number"
                      },
                      "product_id": {
                        "type": "number"
                      },
                      "variant_id": {
                        "type": "number",
                        "description": "Required if the product has variants"
                      },
                      "list_price": {
                        "type": "number",
                        "description": "Optional price override"
                      },
                      "option_selections": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "title": "Product Option Selection",
                          "properties": {
                            "option_id": {
                              "type": "number"
                            },
                            "option_value": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "quantity",
                      "product_id",
                      "variant_id"
                    ]
                  }
                },
                "gift_certificates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Line Item Gift Certificate Request Data",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Given name for gift certificate line item."
                      },
                      "theme": {
                        "type": "string",
                        "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
                      },
                      "amount": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 1000
                      },
                      "quantity": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "sender": {
                        "title": "Contact Entity",
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        }
                      },
                      "recipient": {
                        "title": "Contact Entity",
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "maximum": 200,
                        "description": "Message shown to recipient, as provided by sender."
                      }
                    },
                    "required": [
                      "name",
                      "theme",
                      "amount",
                      "quantity",
                      "sender",
                      "recipient"
                    ]
                  }
                },
                "channel_id": {
                  "type": "integer",
                  "description": "If no channel is specified, defaults to 1. "
                }
              }
            },
            "x-examples": {
              "Simple Product": {
                "line_items": [
                  {
                    "quantity": 5,
                    "product_id": 191
                  }
                ]
              },
              "Create a Cart with a Variant": "{\n    \"line_items\":[\n        {\n            \"quantity\": 2,\n            \"product_id\": 107,\n            \"variant_id\": 185\n        }\n    ]\n}",
              "With a Variant of Checkbox and Picklist": "{\n  \"line_items\": [\n    {\n      \"quantity\": 1,\n      \"product_id\": 77,\n      \"option_selections\": [\n        {\n          \"option_id\": 120,\n          \"option_value\": 69\n        },\n        {\n          \"option_id\": 121,\n          \"option_value\": 10\n        },\n\n        {\n          \"option_id\": 124,\n          \"option_value\": 106\n        },\n        {\n          \"option_id\": 122,\n          \"option_value\": \"Hello\"\n        },\n        {\n          \"option_id\": 123,\n          \"option_value\": 104\n        }\n\n      ]\n    }\n  ]\n} ",
              "Custom Item": {
                "custom_items": [
                  {
                    "sku": "abc-123",
                    "name": "Custom Product",
                    "quantity": 1,
                    "list_price": 10
                  }
                ]
              }
            },
            "description": "1. Creating a cart by adding a simple product (a product without option selections)\n2. Creating a cart with a variant. This works when a product can be specified purely by a variant, without any other required options.\n3. With a variant and a checkbox and picklist modifier added.\n4. Using a Custom Item"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "channel_id": 1,
                  "customer_id": 0,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 139.75,
                  "discount_amount": 0,
                  "cart_amount": 162.81,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true,
                        "options": [
                          {
                            "name": "Add a $5 Donation",
                            "nameId": 82,
                            "value": "No",
                            "valueId": 186
                          }
                        ]
                      }
                    ],
                    "digital_items": [],
                    "gift_certificates": []
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:27:39+00:00",
                  "redirect_urls": {
                    "cart_url": "https://store-id30h7ohwf.mybigcommerce.com/cart.php?action=load&id=bc218c65-7a32-4ab7-8082-68730c074d02&token=aa958e2b7922035bf3339215d95d145ebd9193deb36ae847caa780aa2e003e4b",
                    "checkout_url": "https://store-id30h7ohwf.mybigcommerce.com/cart.php?action=loadInCheckout&id=bc218c65-7a32-4ab7-8082-68730c074d02&token=aa958e2b7922035bf3339215d95d145ebd9193deb36ae847caa780aa2e003e4b"
                  }
                },
                "meta": {}
              }
            }
          }
        },
        "summary": "Create a Cart",
        "operationId": "createACart"
      }
    },
    "/carts/{cartId}/items": {
      "post": {
        "description": "Adds a line items to the *Cart*\n\n**Notes**\n\nTo add a custom item use [Item Custom](/api-reference/cart-checkout/server-server-cart-api/models/itemcustom). ",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID"
          },
          {
            "name": "ItemData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "line_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Line Item Request Data",
                    "properties": {
                      "quantity": {
                        "type": "number"
                      },
                      "product_id": {
                        "type": "number"
                      },
                      "variant_id": {
                        "type": "number",
                        "description": "Required if the product has variants"
                      },
                      "list_price": {
                        "type": "number",
                        "description": "Optional price override"
                      },
                      "option_selections": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "option_id": {
                              "type": "number"
                            },
                            "option_value": {
                              "type": "string"
                            }
                          },
                          "title": "Product Option Selection"
                        }
                      }
                    },
                    "required": [
                      "quantity",
                      "product_id",
                      "variant_id"
                    ]
                  }
                },
                "gift_certificates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "sender",
                      "recipient",
                      "amount",
                      "theme",
                      "name",
                      "quantity"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Given name for gift certificate line item."
                      },
                      "theme": {
                        "type": "string",
                        "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
                      },
                      "amount": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 1000
                      },
                      "quantity": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "sender": {
                        "title": "Contact Entity",
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        }
                      },
                      "recipient": {
                        "title": "Contact Entity",
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "maximum": 200,
                        "description": "Message shown to recipient, as provided by sender."
                      }
                    },
                    "title": "Line Item Gift Certificate Request Data"
                  }
                }
              },
              "title": "Cart Request Data"
            },
            "x-examples": {
              "application/json": {
                "line_items": [
                  {
                    "quantity": 2,
                    "product_id": 77,
                    "variant_id": 125,
                    "list_price": 12.5,
                    "option_selections": [
                      {
                        "option_id": 8,
                        "option_value": "Yes"
                      }
                    ]
                  }
                ],
                "gift_certificates": [
                  {
                    "name": "Happy Birthday",
                    "theme": "Birthday",
                    "amount": 50,
                    "quantity": 1,
                    "sender": {
                      "name": "Jane Does",
                      "email": "janedoe@email.com"
                    },
                    "recipient": {
                      "name": "Jane Does",
                      "email": "janedoe@email.com"
                    },
                    "message": "Happy Birthday Jane!"
                  }
                ]
              },
              "Custom Item": "{\n  \"custom_item\": [\n    {\n      \"sku\": \"abc-123\",\n      \"name\": \"Custom Product\",\n      \"quantity\": 1,\n      \"list_price\": 10\n    }\n  ]\n}"
            }
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "customer_id": 11,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 202.25,
                  "discount_amount": 0,
                  "cart_amount": 227.37,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true,
                        "options": [
                          {
                            "name": "Add a $5 Donation",
                            "nameId": 82,
                            "value": "No",
                            "valueId": 186
                          }
                        ]
                      }
                    ],
                    "digital_items": [
                      {
                        "id": "f115f593-03ab-4931-af41-a800ebf2a41e",
                        "parent_id": {},
                        "variant_id": 360,
                        "product_id": 189,
                        "name": "Gather Journal Issue 7 - Digital",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/gather-journal-issue-7/",
                        "quantity": 1,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/189/images/465/gather_1024x1024__17195__82620.1534344540.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 12.5,
                        "sale_price": 12.5,
                        "extended_list_price": 12.5,
                        "extended_sale_price": 12.5,
                        "is_require_shipping": false,
                        "options": []
                      }
                    ],
                    "gift_certificates": [
                      {
                        "id": "6e38bbc2-8873-472c-a452-8bd4aaea5d3a",
                        "name": "Happy Birthday",
                        "theme": "Birthday",
                        "amount": 50,
                        "quantity": 1,
                        "taxable": false,
                        "sender": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "recipient": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "message": "Happy Birthday Jane!"
                      }
                    ]
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:51:27+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "summary": "Add Cart Line Items",
        "operationId": "addCartLineItem"
      }
    },
    "/carts/{cartId}/redirect_urls": {
      "post": {
        "description": "Creates a *Cart* redirect URL. Create a URL to redirect a shopper to an already created cart using the `cartId`.\n\n**Notes**\n\nA *Carts* redirect URLs may only be used once. Once a redirect URL has been visited, it will be invalidated and cannot be used again. If your application requires URLs to be visited more than once, consider generating a fresh one each time you need to restore a cart, and redirecting to the URL from your own application.\n\nRedirect URLs can be generated only from carts created using the Server to Server Cart API. To restore a cart that was created on the storefront, either by a shopper or the Storefront Cart API, first recreate the cart using the Server to Server Cart API.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "cart_url": {
                  "type": "string",
                  "format": "url"
                },
                "checkout_url": {
                  "type": "string",
                  "format": "url"
                }
              }
            },
            "examples": {
              "application/json": {
                "cart_url": "https://store-id30h7ohwf.mybigcommerce.com/cart.php?action=load&id=bc218c65-7a32-4ab7-8082-68730c074d02&token=aa958e2b7922035bf3339215d95d145ebd9193deb36ae847caa780aa2e003e4b",
                "checkout_url": "https://store-id30h7ohwf.mybigcommerce.com/cart.php?action=loadInCheckout&id=bc218c65-7a32-4ab7-8082-68730c074d02&token=aa958e2b7922035bf3339215d95d145ebd9193deb36ae847caa780aa2e003e4b"
              }
            }
          }
        },
        "summary": "Create Cart Redirect URL",
        "operationId": "createCartRedirectURL"
      }
    },
    "/carts/{cartId}/items/{itemId}": {
      "put": {
        "description": "Updates a *Cart* line item. Updates an existing, single line item in the cart. \n\n**Notes**\nCurrently only updating the item price and quantity are supported.\n\nIf a variant needs to be changed or updated, the product will need to be removed and re-added to the cart with the correct variants using the Add Cart Line Items endpoint.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "number"
          },
          {
            "name": "lineItem",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "line_item": {
                  "type": "object",
                  "title": "Line Item Request Data",
                  "properties": {
                    "quantity": {
                      "type": "number"
                    },
                    "product_id": {
                      "type": "number"
                    },
                    "variant_id": {
                      "type": "number",
                      "description": "Required if the product has variants"
                    },
                    "list_price": {
                      "type": "number",
                      "description": "Optional price override"
                    },
                    "option_selections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "option_id": {
                            "type": "number"
                          },
                          "option_value": {
                            "type": "string"
                          }
                        },
                        "title": "Product Option Selection"
                      }
                    }
                  },
                  "required": [
                    "quantity",
                    "product_id",
                    "variant_id"
                  ]
                },
                "gift_certificate": {
                  "type": "object",
                  "required": [
                    "sender",
                    "recipient",
                    "amount",
                    "theme",
                    "name",
                    "quantity"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Given name for gift certificate line item."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
                    },
                    "amount": {
                      "type": "number",
                      "minimum": 1,
                      "maximum": 1000
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "sender": {
                      "title": "Contact Entity",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "recipient": {
                      "title": "Contact Entity",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "maximum": 200,
                      "description": "Message shown to recipient, as provided by sender."
                    }
                  },
                  "title": "Line Item Gift Certificate Request Data"
                }
              },
              "title": "Cart Update Request"
            },
            "x-examples": {
              "application/json": {
                "line_item": {
                  "quantity": 2,
                  "product_id": 152,
                  "list_price": 12.5
                }
              },
              "Custom Item": "{\n  \"line_item\": [\n    {\n      \"sku\": \"abc-123\",\n      \"name\": \"Custom Product\",\n      \"quantity\": 1,\n      \"list_price\": 10\n    }\n  ]\n}"
            }
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "customer_id": 11,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 189.75,
                  "discount_amount": 0,
                  "cart_amount": 212.81,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true,
                        "options": [
                          {
                            "name": "Add a $5 Donation",
                            "nameId": 82,
                            "value": "No",
                            "valueId": 186
                          }
                        ]
                      }
                    ],
                    "digital_items": [],
                    "gift_certificates": [
                      {
                        "id": "6e38bbc2-8873-472c-a452-8bd4aaea5d3a",
                        "name": "Happy Birthday",
                        "theme": "Birthday",
                        "amount": 50,
                        "quantity": 1,
                        "taxable": false,
                        "sender": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "recipient": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "message": "Happy Birthday Jane!"
                      }
                    ]
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:53:40+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "summary": "Update Cart Line Item",
        "operationId": "updateCartLineItem"
      },
      "delete": {
        "description": "Deletes a *Cart* line item. \n\n**Notes**\n\nRemoving the last `line_item` in the *Cart* deletes the *Cart*.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "number"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "customer_id": 11,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 189.75,
                  "discount_amount": 0,
                  "cart_amount": 212.81,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true,
                        "options": [
                          {
                            "name": "Add a $5 Donation",
                            "nameId": 82,
                            "value": "No",
                            "valueId": 186
                          }
                        ]
                      }
                    ],
                    "digital_items": [],
                    "gift_certificates": [
                      {
                        "id": "6e38bbc2-8873-472c-a452-8bd4aaea5d3a",
                        "name": "Happy Birthday",
                        "theme": "Birthday",
                        "amount": 50,
                        "quantity": 1,
                        "taxable": false,
                        "sender": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "recipient": {
                          "name": "Jane Does",
                          "email": "janedoe@email.com"
                        },
                        "message": "Happy Birthday Jane!"
                      }
                    ]
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:53:40+00:00"
                },
                "meta": {}
              }
            }
          },
          "204": {
            "description": "If the action's result is an empty cart, the cart gets automatically deleted."
          }
        },
        "summary": "Delete Cart Line Item",
        "operationId": "deleteCartLineItem"
      }
    },
    "/carts/{cartId}": {
      "get": {
        "description": "Returns a stores *Cart*.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID",
            "description": "The identifier of a specific cart."
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "customer_id": 0,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 139.75,
                  "discount_amount": 0,
                  "cart_amount": 162.81,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true
                      }
                    ],
                    "digital_items": [],
                    "gift_certificates": []
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:27:39+00:00"
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "Cart not found."
          }
        },
        "summary": "Get a Cart",
        "operationId": "getACart"
      },
      "put": {
        "description": "Updates a *Carts* `customer_id`.\n\n**Notes**\n\nChanging the *Cart* `customer_id` will remove any promotions or shipping on the *Cart*. These are tied to the customer depending on cart conditions and any customer groups. ",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "UUID"
          },
          {
            "name": "CartUpdateData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "customer_id": {
                  "type": "integer"
                }
              },
              "title": "Cart Update Request Data"
            },
            "x-examples": {
              "application/json": {
                "customer_id": 5
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "* `redirect_urls`: Create a direct link to a Cart. This can be used during the /POST request for Carts.\n* `line_items.physical_items.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.\n* `line_items.digital_items.options`: The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.",
            "enum": [
              "redirect_urls",
              "line_items.physical_items.options",
              "line_items.digital_items.options"
            ]
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "bc218c65-7a32-4ab7-8082-68730c074d02",
                  "customer_id": 5,
                  "email": "",
                  "currency": {
                    "code": "USD"
                  },
                  "tax_included": false,
                  "base_amount": 139.75,
                  "discount_amount": 0,
                  "cart_amount": 162.81,
                  "coupons": [],
                  "line_items": {
                    "physical_items": [
                      {
                        "id": "6e193ce6-f327-4dcc-b75e-72cf6738525e",
                        "parent_id": {},
                        "variant_id": 362,
                        "product_id": 191,
                        "sku": "",
                        "name": "Openhouse No. 3",
                        "url": "http://id30h7ohwf.mybigcommerce.com/all/openhouse-no-3/",
                        "quantity": 5,
                        "taxable": true,
                        "image_url": "https://cdn8.bigcommerce.com/s-id30h7ohwf/products/191/images/475/openhousevol3_1024x1024__59692__16355.1534344544.330.500.jpg?c=2",
                        "discounts": [],
                        "coupons": [],
                        "discount_amount": 0,
                        "coupon_amount": 0,
                        "list_price": 27.95,
                        "sale_price": 27.95,
                        "extended_list_price": 139.75,
                        "extended_sale_price": 139.75,
                        "is_require_shipping": true
                      }
                    ],
                    "digital_items": [],
                    "gift_certificates": []
                  },
                  "created_time": "2018-09-17T14:27:39+00:00",
                  "updated_time": "2018-09-17T14:27:39+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "summary": "Update Customer ID",
        "operationId": "updateACart"
      },
      "delete": {
        "description": "Deletes a *Cart*. Once a *Cart* has been deleted it can not be recovered.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "description": "This cart's unique ID.",
            "type": "string",
            "format": "UUID"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Accept",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "tags": [
          "Cart"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "summary": "Delete a Cart",
        "operationId": "deleteACart"
      }
    }
  },
  "definitions": {
    "CartUpdateRequest": {
      "type": "object",
      "properties": {
        "line_item": {
          "type": "object",
          "title": "Line Item Request Data",
          "properties": {
            "quantity": {
              "type": "number"
            },
            "product_id": {
              "type": "number"
            },
            "variant_id": {
              "type": "number",
              "description": "Required if the product has variants"
            },
            "list_price": {
              "type": "number"
            },
            "option_selections": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "option_id": {
                    "type": "number"
                  },
                  "option_value": {
                    "type": "string"
                  }
                },
                "title": "Product Option Selection"
              }
            }
          },
          "required": [
            "quantity",
            "product_id",
            "variant_id"
          ]
        },
        "gift_certificate": {
          "type": "object",
          "required": [
            "sender",
            "recipient",
            "amount",
            "theme",
            "name",
            "quantity"
          ],
          "properties": {
            "name": {
              "type": "string",
              "description": "Given name for gift certificate line item."
            },
            "theme": {
              "type": "string",
              "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
            },
            "amount": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "quantity": {
              "type": "integer",
              "minimum": 1
            },
            "sender": {
              "title": "Contact Entity",
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            },
            "recipient": {
              "title": "Contact Entity",
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            },
            "message": {
              "type": "string",
              "maximum": 200,
              "description": "Message shown to recipient, as provided by sender."
            }
          },
          "title": "Line Item Gift Certificate Request Data"
        }
      },
      "title": "Cart Update Request"
    },
    "CartCreateRequestData": {
      "type": "object",
      "title": "Cart Create Request Data",
      "properties": {
        "customer_id": {
          "type": "integer"
        },
        "line_items": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Line Item Request Data",
            "properties": {
              "quantity": {
                "type": "number"
              },
              "product_id": {
                "type": "number"
              },
              "variant_id": {
                "type": "number",
                "description": "Required if the product has variants"
              },
              "list_price": {
                "type": "number"
              },
              "option_selections": {
                "type": "array",
                "items": {
                  "type": "object",
                  "title": "Product Option Selection",
                  "properties": {
                    "option_id": {
                      "type": "number"
                    },
                    "option_value": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "required": [
              "quantity",
              "product_id",
              "variant_id"
            ]
          }
        },
        "gift_certificates": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Line Item Gift Certificate Request Data",
            "properties": {
              "name": {
                "type": "string",
                "description": "Given name for gift certificate line item."
              },
              "theme": {
                "type": "string",
                "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
              },
              "amount": {
                "type": "number",
                "minimum": 1,
                "maximum": 1000
              },
              "quantity": {
                "type": "integer",
                "minimum": 1
              },
              "sender": {
                "title": "Contact Entity",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "recipient": {
                "title": "Contact Entity",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "message": {
                "type": "string",
                "maximum": 200,
                "description": "Message shown to recipient, as provided by sender."
              }
            },
            "required": [
              "name",
              "theme",
              "amount",
              "quantity",
              "sender",
              "recipient"
            ]
          }
        },
        "channel_id": {
          "type": "integer",
          "description": "If no channel is specified, defaults to 1. "
        }
      }
    },
    "CartRequestData": {
      "type": "object",
      "title": "Cart Request Data",
      "properties": {
        "line_items": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Line Item Request Data",
            "properties": {
              "quantity": {
                "type": "number"
              },
              "product_id": {
                "type": "number"
              },
              "variant_id": {
                "type": "number",
                "description": "Required if the product has variants"
              },
              "list_price": {
                "type": "number"
              },
              "option_selections": {
                "type": "array",
                "items": {
                  "type": "object",
                  "title": "Product Option Selection",
                  "properties": {
                    "option_id": {
                      "type": "number"
                    },
                    "option_value": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "required": [
              "quantity",
              "product_id",
              "variant_id"
            ]
          }
        },
        "gift_certificates": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Line Item Gift Certificate Request Data",
            "properties": {
              "name": {
                "type": "string",
                "description": "Given name for gift certificate line item."
              },
              "theme": {
                "type": "string",
                "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
              },
              "amount": {
                "type": "number",
                "minimum": 1,
                "maximum": 1000
              },
              "quantity": {
                "type": "integer",
                "minimum": 1
              },
              "sender": {
                "title": "Contact Entity",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "recipient": {
                "title": "Contact Entity",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "message": {
                "type": "string",
                "maximum": 200,
                "description": "Message shown to recipient, as provided by sender."
              }
            },
            "required": [
              "name",
              "theme",
              "amount",
              "quantity",
              "sender",
              "recipient"
            ]
          }
        },
        "channel_id": {
          "type": "integer",
          "description": "If no channel is specified, defaults to 1. "
        }
      }
    },
    "CartUpdateRequestData": {
      "type": "object",
      "properties": {
        "customer_id": {
          "type": "integer"
        }
      },
      "title": "Cart Update Request Data"
    },
    "LineItemRequestData": {
      "type": "object",
      "title": "Line Item Request Data",
      "properties": {
        "quantity": {
          "type": "number"
        },
        "product_id": {
          "type": "number"
        },
        "variant_id": {
          "type": "number",
          "description": "Required if the product has variants"
        },
        "list_price": {
          "type": "number"
        },
        "option_selections": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "option_id": {
                "type": "number"
              },
              "option_value": {
                "type": "string"
              }
            },
            "title": "Product Option Selection"
          }
        }
      },
      "required": [
        "quantity",
        "product_id",
        "variant_id"
      ]
    },
    "ProductOptionSelection": {
      "type": "object",
      "properties": {
        "option_id": {
          "type": "number"
        },
        "option_value": {
          "type": "string"
        }
      },
      "title": "Product Option Selection"
    },
    "LineItemGiftCertificateRequestData": {
      "type": "object",
      "required": [
        "sender",
        "recipient",
        "amount",
        "theme",
        "name",
        "quantity"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Given name for gift certificate line item."
        },
        "theme": {
          "type": "string",
          "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
        },
        "amount": {
          "type": "number",
          "minimum": 1,
          "maximum": 1000
        },
        "quantity": {
          "type": "integer",
          "minimum": 1
        },
        "sender": {
          "title": "Contact Entity",
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "email": {
              "type": "string"
            }
          }
        },
        "recipient": {
          "title": "Contact Entity",
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "email": {
              "type": "string"
            }
          }
        },
        "message": {
          "type": "string",
          "maximum": 200,
          "description": "Message shown to recipient, as provided by sender."
        }
      },
      "title": "Line Item Gift Certificate Request Data"
    },
    "Cart": {
      "description": "A cart contains a collection of items, prices, discounts, etc.. It does not contain customer-related data.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Cart ID, provided after creating a cart with a POST.",
          "type": "string",
          "format": "UUID"
        },
        "parent_id": {
          "type": "string",
          "description": "Bundled items will have their parent's item Id."
        },
        "customer_id": {
          "description": "ID of the customer to which the cart belongs.",
          "type": "integer"
        },
        "email": {
          "description": "The cart's email. This is the same email that is used in the billing address",
          "type": "string"
        },
        "currency": {
          "type": "object",
          "description": "This will always be the same between cart and checkout.",
          "title": "Currency",
          "properties": {
            "code": {
              "type": "string",
              "format": "ISO-4217",
              "description": "ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)"
            }
          }
        },
        "tax_included": {
          "type": "boolean"
        },
        "base_amount": {
          "type": "number",
          "description": "Cost of cart's contents, before applying discounts."
        },
        "discount_amount": {
          "type": "number",
          "description": "Discounted amount."
        },
        "cart_amount": {
          "type": "number",
          "description": "Sum of line-items amounts, minus cart-level discounts and coupons. This amount includes taxes (where applicable)."
        },
        "coupons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppliedCoupon"
          }
        },
        "discounts": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Applied Discount",
            "description": "Example as part of a Cart response:\n\n```\n\"discounts\": [\n\t\t{\n\t\t\t\t\"id\": 2,\n\t\t\t\t\"discounted_amount\": 2\n\t\t},\n\t\t{\n\t\t\t\t\"id\": \"coupon\",\n\t\t\t\t\"discounted_amount\": 0.42\n\t\t}\n]\n```",
            "properties": {
              "id": {
                "type": [
                  "string",
                  "number"
                ],
                "description": "ID of the applied discount. Will return",
                "example": "coupon"
              },
              "discounted_amount": {
                "type": "number",
                "description": "The discounted amount."
              }
            }
          }
        },
        "line_items": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Line Item",
            "properties": {
              "physical_items": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "title": "Base Item",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The line-item ID.",
                          "example": "6e193ce6-f327-4dcc-b75e-72cf6738525e"
                        },
                        "variant_id": {
                          "type": "number",
                          "description": "The id of the variant. Required in the /PUT or /POST if the product has variants.",
                          "example": 358
                        },
                        "product_id": {
                          "type": "number",
                          "description": "The id of the product. Required in a /POST",
                          "example": 12
                        },
                        "sku": {
                          "type": "string",
                          "example": "SMGREEN",
                          "description": "SKU of the variant."
                        },
                        "name": {
                          "type": "string",
                          "description": "The item's product name.",
                          "example": "T-Shirt"
                        },
                        "url": {
                          "description": "The product URL.",
                          "type": "string",
                          "format": "uri",
                          "example": "http://your-store-url.mybigcommerce.com/your-product/"
                        },
                        "quantity": {
                          "type": "number",
                          "example": 5,
                          "description": "Quantity of this item in the cart."
                        },
                        "is_taxable": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the item is taxable."
                        },
                        "image_url": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://pathtoproductimage/ProductDefault.png",
                          "description": "Image of the product or variant."
                        },
                        "discounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Applied Discount",
                            "description": "Example as part of a Cart response:\n\n```\n\"discounts\": [\n\t\t{\n\t\t\t\t\"id\": 2,\n\t\t\t\t\"discounted_amount\": 2\n\t\t},\n\t\t{\n\t\t\t\t\"id\": \"coupon\",\n\t\t\t\t\"discounted_amount\": 0.42\n\t\t}\n]\n```",
                            "properties": {
                              "id": {
                                "type": [
                                  "string",
                                  "number"
                                ],
                                "description": "ID of the applied discount. Will return",
                                "example": "coupon"
                              },
                              "discounted_amount": {
                                "type": "number",
                                "description": "The discounted amount."
                              }
                            }
                          }
                        },
                        "coupons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Applied Coupon",
                            "properties": {
                              "coupons": {
                                "type": "object",
                                "description": "Required in a ",
                                "properties": {
                                  "coupon_code": {
                                    "type": "object",
                                    "example": "KV56053388J",
                                    "description": "The coupon code",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "example": 6,
                                        "description": "Coupon Id"
                                      },
                                      "code": {
                                        "type": "string",
                                        "example": "KV56053388J",
                                        "description": "The coupon code. Required in a /POST request."
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Percentage off",
                                        "description": "Name given to the coupon in the Control Panel"
                                      },
                                      "discountType": {
                                        "type": "integer",
                                        "description": "The discount type.\n\n- type 0: per_item_discount\n- type 1: percentage_discount\n- type 2: per_total_discount\n- type 3: shipping_discount\n- type 4: free_shipping",
                                        "enum": [
                                          0,
                                          1,
                                          2,
                                          3,
                                          4
                                        ]
                                      },
                                      "discountAmount": {
                                        "type": "integer",
                                        "description": "The amount of the discount based on the coupoon. For example 3 percent off will show a 3.",
                                        "example": 3
                                      },
                                      "expiresDate": {
                                        "type": "integer",
                                        "example": 0,
                                        "description": "Returns 0 if a expiration date is not set"
                                      },
                                      "totalDiscount": {
                                        "type": "number",
                                        "example": 4.19,
                                        "description": "Total discount amount off cart"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "coupon_code"
                                ]
                              }
                            }
                          }
                        },
                        "discount_amount": {
                          "type": "number",
                          "description": "The total value of all discounts applied to this item. This includes coupons and cart level discounts",
                          "example": 4
                        },
                        "coupon_amount": {
                          "type": "number",
                          "description": "The total value of all coupons applied to this item."
                        },
                        "list_price": {
                          "type": "number",
                          "description": "Item's list price, as quoted by the manufacturer/distributor."
                        },
                        "sale_price": {
                          "type": "number",
                          "description": "Item's price after all discounts are applied. (The final price before tax calculation.)"
                        },
                        "extended_list_price": {
                          "type": "number",
                          "description": "Item's list price multiplied by the quantity."
                        },
                        "extended_sale_price": {
                          "type": "number",
                          "description": "Item's sale price multiplied by the quantity."
                        },
                        "options": {
                          "description": "The list of selected options for this product.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Product Option",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The product option name. For example, Color or Size"
                              },
                              "name_id": {
                                "type": "number",
                                "description": "The product option identifier."
                              },
                              "value": {
                                "type": "string",
                                "description": "The product option value. For example, Red or Medium"
                              },
                              "value_id": {
                                "type": "number",
                                "description": "The product option value identifier."
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "variant_id",
                        "product_id",
                        "quantity"
                      ]
                    },
                    {
                      "properties": {
                        "is_require_shipping": {
                          "type": "boolean"
                        },
                        "gift_wrapping": {
                          "title": "Gift Wrapping",
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "title": "Item Physical",
                  "type": "object"
                }
              },
              "digital_items": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "title": "Base Item",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The line-item ID.",
                          "example": "6e193ce6-f327-4dcc-b75e-72cf6738525e"
                        },
                        "variant_id": {
                          "type": "number",
                          "description": "The id of the variant. Required in the /PUT or /POST if the product has variants.",
                          "example": 358
                        },
                        "product_id": {
                          "type": "number",
                          "description": "The id of the product. Required in a /POST",
                          "example": 12
                        },
                        "sku": {
                          "type": "string",
                          "example": "SMGREEN",
                          "description": "SKU of the variant."
                        },
                        "name": {
                          "type": "string",
                          "description": "The item's product name.",
                          "example": "T-Shirt"
                        },
                        "url": {
                          "description": "The product URL.",
                          "type": "string",
                          "format": "uri",
                          "example": "http://your-store-url.mybigcommerce.com/your-product/"
                        },
                        "quantity": {
                          "type": "number",
                          "example": 5,
                          "description": "Quantity of this item in the cart."
                        },
                        "is_taxable": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the item is taxable."
                        },
                        "image_url": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://pathtoproductimage/ProductDefault.png",
                          "description": "Image of the product or variant."
                        },
                        "discounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Applied Discount",
                            "description": "Example as part of a Cart response:\n\n```\n\"discounts\": [\n\t\t{\n\t\t\t\t\"id\": 2,\n\t\t\t\t\"discounted_amount\": 2\n\t\t},\n\t\t{\n\t\t\t\t\"id\": \"coupon\",\n\t\t\t\t\"discounted_amount\": 0.42\n\t\t}\n]\n```",
                            "properties": {
                              "id": {
                                "type": [
                                  "string",
                                  "number"
                                ],
                                "description": "ID of the applied discount. Will return",
                                "example": "coupon"
                              },
                              "discounted_amount": {
                                "type": "number",
                                "description": "The discounted amount."
                              }
                            }
                          }
                        },
                        "coupons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Applied Coupon",
                            "properties": {
                              "coupons": {
                                "type": "object",
                                "description": "Required in a ",
                                "properties": {
                                  "coupon_code": {
                                    "type": "object",
                                    "example": "KV56053388J",
                                    "description": "The coupon code",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "example": 6,
                                        "description": "Coupon Id"
                                      },
                                      "code": {
                                        "type": "string",
                                        "example": "KV56053388J",
                                        "description": "The coupon code. Required in a /POST request."
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Percentage off",
                                        "description": "Name given to the coupon in the Control Panel"
                                      },
                                      "discountType": {
                                        "type": "integer",
                                        "description": "The discount type.\n\n- type 0: per_item_discount\n- type 1: percentage_discount\n- type 2: per_total_discount\n- type 3: shipping_discount\n- type 4: free_shipping",
                                        "enum": [
                                          0,
                                          1,
                                          2,
                                          3,
                                          4
                                        ]
                                      },
                                      "discountAmount": {
                                        "type": "integer",
                                        "description": "The amount of the discount based on the coupoon. For example 3 percent off will show a 3.",
                                        "example": 3
                                      },
                                      "expiresDate": {
                                        "type": "integer",
                                        "example": 0,
                                        "description": "Returns 0 if a expiration date is not set"
                                      },
                                      "totalDiscount": {
                                        "type": "number",
                                        "example": 4.19,
                                        "description": "Total discount amount off cart"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "coupon_code"
                                ]
                              }
                            }
                          }
                        },
                        "discount_amount": {
                          "type": "number",
                          "description": "The total value of all discounts applied to this item. This includes coupons and cart level discounts",
                          "example": 4
                        },
                        "coupon_amount": {
                          "type": "number",
                          "description": "The total value of all coupons applied to this item."
                        },
                        "list_price": {
                          "type": "number",
                          "description": "Item's list price, as quoted by the manufacturer/distributor."
                        },
                        "sale_price": {
                          "type": "number",
                          "description": "Item's price after all discounts are applied. (The final price before tax calculation.)"
                        },
                        "extended_list_price": {
                          "type": "number",
                          "description": "Item's list price multiplied by the quantity."
                        },
                        "extended_sale_price": {
                          "type": "number",
                          "description": "Item's sale price multiplied by the quantity."
                        },
                        "options": {
                          "description": "The list of selected options for this product.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "title": "Product Option",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The product option name. For example, Color or Size"
                              },
                              "name_id": {
                                "type": "number",
                                "description": "The product option identifier."
                              },
                              "value": {
                                "type": "string",
                                "description": "The product option value. For example, Red or Medium"
                              },
                              "value_id": {
                                "type": "number",
                                "description": "The product option value identifier."
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "variant_id",
                        "product_id",
                        "quantity"
                      ]
                    },
                    {
                      "properties": {
                        "download_file_urls": {
                          "description": "URLs to download all product files.",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "url"
                          }
                        },
                        "download_page_url": {
                          "description": "The URL for the combined downloads page.",
                          "type": "string",
                          "format": "url"
                        },
                        "download_size": {
                          "description": "Combined download size, in human-readable style. E.g.: `30MB`.",
                          "type": "string"
                        }
                      }
                    }
                  ],
                  "title": "Item Digital",
                  "type": "object"
                }
              },
              "gift_certificates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "title": "Item Gift Certificate",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "GiftCertificate-provided name that will appear in the control panel."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`."
                    },
                    "amount": {
                      "type": "number",
                      "description": "Value must be between 1.00 and 1,000.00 in the store's default currency."
                    },
                    "is_taxable": {
                      "type": "boolean"
                    },
                    "sender": {
                      "title": "Contact Entity",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "recipient": {
                      "title": "Contact Entity",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Limited to 200 characters."
                    }
                  },
                  "required": [
                    "theme",
                    "amount",
                    "sender",
                    "recipient"
                  ]
                }
              },
              "virtual_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "title": "Item Custom",
                  "description": "Add a custom item to the shoppers cart.\n\n* Custom items are not added to the catalog.\n* The price should be set to match the store settings for taxes.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the custom item"
                    },
                    "sku": {
                      "type": "string",
                      "description": "Custom item sku"
                    },
                    "name": {
                      "type": "string",
                      "description": "Item name"
                    },
                    "quantity": {
                      "type": "string"
                    },
                    "list_price": {
                      "type": "string",
                      "description": "Price of the item. With or without tax depending on your stores set up."
                    }
                  }
                }
              }
            },
            "required": [
              "physical_items",
              "digital_items"
            ]
          }
        },
        "created_time": {
          "type": "string",
          "format": "ISO-8601",
          "description": "Time when the cart was created."
        },
        "updated_time": {
          "type": "string",
          "format": "ISO-8601",
          "description": "Time when the cart was last updated."
        },
        "channel_id": {
          "type": "integer",
          "description": "If no channel is specified, defaults to 1. "
        }
      }
    },
    "Currency": {
      "type": "object",
      "description": "This will always be the same between cart and checkout.",
      "properties": {
        "code": {
          "type": "string",
          "format": "ISO-4217",
          "description": "ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)"
        }
      },
      "title": "Currency"
    },
    "LineItem": {
      "type": "object",
      "title": "Line Item",
      "properties": {
        "physical_items": {
          "type": "array",
          "items": {
            "allOf": [
              {
                "type": "object",
                "title": "Base Item",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The line-item ID.",
                    "example": "6e193ce6-f327-4dcc-b75e-72cf6738525e"
                  },
                  "variant_id": {
                    "type": "number",
                    "description": "The id of the variant. Required in the /PUT or /POST if the product has variants.",
                    "example": 358
                  },
                  "product_id": {
                    "type": "number",
                    "description": "The id of the product. Required in a /POST",
                    "example": 12
                  },
                  "sku": {
                    "type": "string",
                    "example": "SMGREEN",
                    "description": "SKU of the variant."
                  },
                  "name": {
                    "type": "string",
                    "description": "The item's product name.",
                    "example": "T-Shirt"
                  },
                  "url": {
                    "description": "The product URL.",
                    "type": "string",
                    "format": "uri",
                    "example": "http://your-store-url.mybigcommerce.com/your-product/"
                  },
                  "quantity": {
                    "type": "number",
                    "example": 5,
                    "description": "Quantity of this item in the cart."
                  },
                  "is_taxable": {
                    "type": "boolean",
                    "example": false,
                    "description": "Whether the item is taxable."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://pathtoproductimage/ProductDefault.png",
                    "description": "Image of the product or variant."
                  },
                  "discounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "title": "Applied Discount",
                      "description": "Example as part of a Cart response:\n\n```\n\"discounts\": [\n\t\t{\n\t\t\t\t\"id\": 2,\n\t\t\t\t\"discounted_amount\": 2\n\t\t},\n\t\t{\n\t\t\t\t\"id\": \"coupon\",\n\t\t\t\t\"discounted_amount\": 0.42\n\t\t}\n]\n```",
                      "properties": {
                        "id": {
                          "type": [
                            "string",
                            "number"
                          ],
                          "description": "ID of the applied discount. Will return",
                          "example": "coupon"
                        },
                        "discounted_amount": {
                          "type": "number",
                          "description": "The discounted amount."
                        }
                      }
                    }
                  },
                  "coupons": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "title": "Applied Coupon",
                      "properties": {
                        "coupons": {
                          "type": "object",
                          "description": "Required in a ",
                          "properties": {
                            "coupon_code": {
                              "type": "object",
                              "example": "KV56053388J",
                              "description": "The coupon code",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 6,
                                  "description": "Coupon Id"
                                },
                                "code": {
                                  "type": "string",
                                  "example": "KV56053388J",
                                  "description": "The coupon code. Required in a /POST request."
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Percentage off",
                                  "description": "Name given to the coupon in the Control Panel"
                                },
                                "discountType": {
                                  "type": "integer",
                                  "description": "The discount type.\n\n- type 0: per_item_discount\n- type 1: percentage_discount\n- type 2: per_total_discount\n- type 3: shipping_discount\n- type 4: free_shipping",
                                  "enum": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    4
                                  ]
                                },
                                "discountAmount": {
                                  "type": "integer",
                                  "description": "The amount of the discount based on the coupoon. For example 3 percent off will show a 3.",
                                  "example": 3
                                },
                                "expiresDate": {
                                  "type": "integer",
                                  "example": 0,
                                  "description": "Returns 0 if a expiration date is not set"
                                },
                                "totalDiscount": {
                                  "type": "number",
                                  "example": 4.19,
                                  "description": "Total discount amount off cart"
                                }
                              }
[...]
