{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "Store Content APIs",
    "description": "Store Content APIs help merchants edit and publish blog posts and Web pages, improve SEO, and drive traffic to stores. They include Blog Posts, Blog Tags, Redirects, and Pages.\n\n### Blog Posts\nA content entry in the store’s blog.\n\n### Blog Tags\nIndex of tags used on the store’s blog.\n\n### Pages\nA static Web page on the storefront.\n\n### Redirects\nA 301 redirect, mapping from a given URL path to another URL. Redirects are used to create custom URL paths that map to resources on the storefront (such as products, categories, brands, etc.), or to manually defined static URLs."
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string"
                  },
                  "post_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": [
                {
                  "tag": "Blog",
                  "post_ids": [
                    1
                  ]
                },
                {
                  "tag": "cupcakes",
                  "post_ids": [
                    2
                  ]
                },
                {
                  "tag": "everything",
                  "post_ids": [
                    3
                  ]
                },
                {
                  "tag": "nice",
                  "post_ids": [
                    3
                  ]
                },
                {
                  "tag": "Seo",
                  "post_ids": [
                    1
                  ]
                },
                {
                  "tag": "spice",
                  "post_ids": [
                    3
                  ]
                },
                {
                  "tag": "sugar",
                  "post_ids": [
                    2,
                    3
                  ]
                },
                {
                  "tag": "sweet",
                  "post_ids": [
                    2,
                    3
                  ]
                }
              ]
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "default": "application/json"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "default": "application/json"
          }
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get All Blog Tags",
        "tags": [
          "Blog Posts"
        ],
        "description": "Returns a list of *Blog Tags*.",
        "operationId": "getAllBlogTags"
      }
    },
    "/blog/posts": {
      "get": {
        "description": "Returns a single *Blog Post*. Default sorting is by published_date, from most-recently published posts to earliest published posts.",
        "summary": "Get All Blog Posts",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "is_published",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter param."
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter param."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter param."
          },
          {
            "name": "published_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter param.",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMinimum": false,
            "description": "Filter param.",
            "maximum": 50
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter param.",
            "maximum": 250
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "title": "Blog Posts",
                "example": {
                  "id": 3,
                  "title": "Welcome to BigCommerce",
                  "url": "/blog/welcome-bigcommerce/",
                  "preview_url": "/blog/welcome-bigcommerce/",
                  "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                  "tags": [
                    "BigCommerce",
                    "welcome",
                    "ecommerce"
                  ],
                  "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "is_published": true,
                  "published_date": {
                    "date": "2018-05-18T08:26:42.000Z",
                    "timezone_type": 1,
                    "timezone": "+00:00"
                  },
                  "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                  "meta_description": "Welcome Post",
                  "meta_keywords": "BigCommerce, welcome, ecommerce",
                  "author": "BigCommerce",
                  "thumbnail_path": ""
                },
                "type": "object",
                "properties": {
                  "id": {
                    "description": "ID of this blog post. (READ-ONLY)",
                    "example": 3,
                    "type": "integer"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of this blog post.",
                    "example": "Welcome to BigCommerce"
                  },
                  "url": {
                    "description": "URL for the public blog post.",
                    "example": "/blog/welcome-bigcommerce/",
                    "type": "string"
                  },
                  "preview_url": {
                    "description": "URL to preview the blog post. (READ-ONLY)",
                    "example": "/blog/welcome-bigcommerce/",
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "description": "Text body of the blog post.",
                    "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                  },
                  "tags": {
                    "description": "Tags to characterize the blog post.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "summary": {
                    "description": "Summary of the blog post. (READ-ONLY)",
                    "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                    "type": "string"
                  },
                  "is_published": {
                    "description": "Whether the blog post is published.",
                    "example": true,
                    "type": "boolean"
                  },
                  "published_date": {
                    "type": "object",
                    "properties": {
                      "timezone_type": {
                        "type": "string",
                        "example": 1
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2018-05-18T08:26:42.000Z"
                      },
                      "timezone": {
                        "type": "string",
                        "format": "time",
                        "example": "+00:00"
                      }
                    }
                  },
                  "published_date_iso8601": {
                    "description": "Published date in ISO 8601 format.",
                    "example": "5/18/2018 1:26:42 PM",
                    "type": "string"
                  },
                  "meta_description": {
                    "description": "Description text for this blog post’s <meta> element.",
                    "example": "Welcome Post",
                    "type": "string"
                  },
                  "meta_keywords": {
                    "description": "Keywords for this blog post’s <meta> element.",
                    "example": "BigCommerce, welcome, ecommerce",
                    "type": "string"
                  },
                  "author": {
                    "description": "Name of the blog post’s author.",
                    "example": "BigCommerce",
                    "type": "string"
                  },
                  "thumbnail_path": {
                    "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "body"
                ]
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 3,
                  "title": "Hello Again",
                  "url": "/blog/hello-again/",
                  "preview_url": "/blog/hello-again/",
                  "body": "<p>Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert bear claw topping icing croissant. Pie bonbon chocolate bar chocolate bar tiramisu chocolate lemon drops candy.</p><p>Marshmallow cupcake sweet roll candy marshmallow caramels cotton candy pie icing. Powder jelly beans chupa chups lollipop liquorice marzipan dessert soufflé sesame snaps. Macaroon chupa chups gummies cheesecake ice cream caramels sesame snaps cotton candy gingerbread. Chocolate cake fruitcake tart bear claw lemon drops tart dragée tart apple pie. Halvah chupa chups soufflé jelly soufflé marshmallow. Croissant tart tart. Gingerbread apple pie biscuit.</p><p>Wafer lemon drops tart pastry brownie chocolate bar jelly. Dragée muffin cupcake liquorice caramels marzipan gingerbread marzipan. Apple pie pudding jelly sweet roll croissant bonbon wafer. Cookie chocolate bar sesame snaps bonbon macaroon candy canes donut sugar plum. Bear claw bonbon tootsie roll bonbon. Apple pie gummies donut sweet. Marzipan bear claw cotton candy topping dragée bonbon danish powder.</p>",
                  "tags": [
                    "sugar",
                    "sweet",
                    "spice",
                    "everything",
                    "nice"
                  ],
                  "summary": "Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert bear claw topping icing croissant. Pie bonbon chocolate bar [...]",
                  "is_published": true,
                  "published_date": {
                    "date": "2018-05-18 08:26:42.000000",
                    "timezone_type": 1,
                    "timezone": "+00:00"
                  },
                  "published_date_iso8601": "2018-05-18T13:26:42+0000",
                  "meta_description": "Cupcakes post 2",
                  "meta_keywords": "sugar,sweet,spice,everything,nice",
                  "author": "",
                  "thumbnail_path": ""
                },
                {
                  "id": 2,
                  "title": "Hello",
                  "url": "/blog/hello/",
                  "preview_url": "/blog/hello/",
                  "body": "<p>Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert bear claw topping icing croissant. Pie bonbon chocolate bar chocolate bar tiramisu chocolate lemon drops candy.</p><p>Marshmallow cupcake sweet roll candy marshmallow caramels cotton candy pie icing. Powder jelly beans chupa chups lollipop liquorice marzipan dessert soufflé sesame snaps. Macaroon chupa chups gummies cheesecake ice cream caramels sesame snaps cotton candy gingerbread. Chocolate cake fruitcake tart bear claw lemon drops tart dragée tart apple pie. Halvah chupa chups soufflé jelly soufflé marshmallow. Croissant tart tart. Gingerbread apple pie biscuit.</p><p>Wafer lemon drops tart pastry brownie chocolate bar jelly. Dragée muffin cupcake liquorice caramels marzipan gingerbread marzipan. Apple pie pudding jelly sweet roll croissant bonbon wafer. Cookie chocolate bar sesame snaps bonbon macaroon candy canes donut sugar plum. Bear claw bonbon tootsie roll bonbon. Apple pie gummies donut sweet. Marzipan bear claw cotton candy topping dragée bonbon danish powder.</p>",
                  "tags": [
                    "cupcakes",
                    "sugar",
                    "sweet"
                  ],
                  "summary": "Jelly beans muffin marzipan gingerbread donut dessert. Cheesecake cheesecake sugar plum cookie cake tart. Soufflé sesame snaps jelly beans brownie chocolate tart. Marshmallow jujubes candy pie. Gummies lemon drops tart soufflé pastry pie. Caramels wafer biscuit gummi bears. Liquorice toffee wafer bear claw marzipan jelly-o. Dessert bear claw topping icing croissant. Pie bonbon chocolate bar [...]",
                  "is_published": true,
                  "published_date": {
                    "date": "2018-05-18 08:26:00.000000",
                    "timezone_type": 1,
                    "timezone": "+00:00"
                  },
                  "published_date_iso8601": "2018-05-18T13:26:00+0000",
                  "meta_description": "cupcake blog post",
                  "meta_keywords": "cupcakes,sugar,sweet",
                  "author": "",
                  "thumbnail_path": ""
                },
                {
                  "id": 1,
                  "title": "Your first blog post!",
                  "url": "/your-first-blog-post/",
                  "preview_url": "/your-first-blog-post/",
                  "body": "<p> <strong>Welcome to your blog!</strong><br> A blog is a great place to share details on your products, business and whatever else you think your shoppers might like to hear from you. You can include photos in your blog posts and even videos. For ideas and inspiration on how to structure your blog, take a look at the Bigcommerce <a href='http://blog.bigcommerce.com/' target='_blank' rel='nofollow'>ecommerce blog</a>.</p><p><strong>How can I delete this post?</strong><br>To delete this post and add your own, login to your <a href='/admin' target='_blank'>admin area</a> and go to Storefront > Blog in the left hand menu.</p><p><strong>Powered by Bigcommerce</strong><br>Your website, online store and blog are powered by Bigcommerce <a href='http://www.bigcommerce.com/' target='_blank' rel='nofollow'>ecommerce software</a>. It includes everything you need to run a beautiful online store including <a href='http://www.bigcommerce.com/templates/' target='_blank' rel='nofollow'>ecommerce website templates</a>, <a href='http://www.bigcommerce.com/features/hosting/' target='_blank' rel='nofollow'>ecommerce hosting</a>, an <a href='http://www.bigcommerce.com/features/setup/' target='_blank' rel='nofollow'>online shopping cart</a> and more.</p>",
                  "tags": [
                    "Blog",
                    "SEO"
                  ],
                  "summary": " Welcome to your blog! A blog is a great place to share details on your products, business and whatever else you think your shoppers might like to hear from you. You can include photos in your blog posts and even videos. For ideas and inspiration on how to structure your blog, take a look [...]",
                  "is_published": true,
                  "published_date": {
                    "date": "2014-02-15 14:46:34.000000",
                    "timezone_type": 1,
                    "timezone": "+00:00"
                  },
                  "published_date_iso8601": "2014-02-15T19:46:34+0000",
                  "meta_description": "",
                  "meta_keywords": "Blog,SEO",
                  "author": "",
                  "thumbnail_path": ""
                }
              ],
              "Response Schema": [
                {
                  "title": "labore qui elit",
                  "body": "irure minim",
                  "id": 75891558,
                  "url": "qui eu Duis velit",
                  "preview_url": "aliquip",
                  "tags": [
                    "officia Excepteur ",
                    "aute consequat",
                    "in ",
                    "elit adipisicing ea ipsum"
                  ],
                  "summary": "dolore eu cupidatat irure",
                  "is_published": true,
                  "published_date": {
                    "timezone_type": "nulla",
                    "date": "1992-12-19T23:04:03.566Z",
                    "timezone": "11:24:18.073Z"
                  },
                  "published_date_iso8601": "culpa amet conse",
                  "meta_description": "incididunt ut",
                  "meta_keywords": "ut",
                  "author": "est ipsum nostrud enim in",
                  "thumbnail_path": "ad sint anim"
                },
                {
                  "title": "laboris aliquip dolor voluptate",
                  "body": "dolor in minim ad",
                  "id": -55705231,
                  "url": "non dolore ex fugiat",
                  "preview_url": "Lorem commodo",
                  "tags": [
                    "cupidatat",
                    "qui",
                    "quis elit officia ullamco dolore",
                    "non elit quis"
                  ],
                  "summary": "elit Ut nostrud",
                  "is_published": true,
                  "published_date": {
                    "timezone_type": "ullamco consequat",
                    "date": "1968-12-29T10:50:20.599Z",
                    "timezone": "17:15:53.817Z"
                  },
                  "published_date_iso8601": "aliqua",
                  "meta_description": "ut elit",
                  "meta_keywords": "ut cupidatat amet laborum",
                  "author": "tempor voluptate",
                  "thumbnail_path": "labore eu occaeca"
                },
                {
                  "title": "dolor nostrud nisi",
                  "body": "laborum dolor elit occaecat ipsum",
                  "id": 50277943,
                  "url": "culpa enim",
                  "preview_url": "pariatur irure magna",
                  "tags": [
                    "ipsum nostrud",
                    "pariatur cupidatat",
                    "laboris cillum",
                    "culpa aliquip",
                    "dolor magna tempor dolore"
                  ],
                  "summary": "in aute",
                  "is_published": true,
                  "published_date": {
                    "timezone_type": "non amet adipisicing consectetur",
                    "date": "2012-01-30T10:38:08.814Z",
                    "timezone": "05:41:54.779Z"
                  },
                  "published_date_iso8601": "reprehenderit enim ipsum",
                  "meta_description": "sed est Lorem in nisi",
                  "meta_keywords": "laboris aute",
                  "author": "cupidatat nostrud commodo",
                  "thumbnail_path": "occaecat Ut"
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Blog Posts"
        ],
        "operationId": "getAllBlogPosts"
      },
      "post": {
        "description": "Creates a *Blog Post*.\n\n**Required Fields**\n*   title\n*   body\n\n**Read Only Fields**\n*   id\n*   preview_url\n*   summary\n\n**Notes**\n\n* When including `published_date` in a request, supply it as a flat date string (not an object) in valid <a href=\"http://tools.ietf.org/html/rfc2822#section-3.3\" target=\"_blank\">RFC 2822</a>. The&#160;example request below includes a `published_date` in RFC 2822 format.\n\n* Blog posts default to draft status. To publish blog posts to the storefront, set their `is_published` property to `true`.\n* If a custom URL is not provided, the post’s URL will be generated based on the value of `title`.",
        "summary": "Create a Blog Post",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "Blog Posts",
              "example": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "type": "object",
              "properties": {
                "id": {
                  "description": "ID of this blog post. (READ-ONLY)",
                  "example": 3,
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "Title of this blog post.",
                  "example": "Welcome to BigCommerce"
                },
                "url": {
                  "description": "URL for the public blog post.",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "preview_url": {
                  "description": "URL to preview the blog post. (READ-ONLY)",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "Text body of the blog post.",
                  "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                },
                "tags": {
                  "description": "Tags to characterize the blog post.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "summary": {
                  "description": "Summary of the blog post. (READ-ONLY)",
                  "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "type": "string"
                },
                "is_published": {
                  "description": "Whether the blog post is published.",
                  "example": true,
                  "type": "boolean"
                },
                "published_date": {
                  "description": "Published date in RFC-2822 format.",
                  "example": "Fri, 6 Sep 2019 12:55:31 +0000",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description text for this blog post’s <meta> element.",
                  "example": "Welcome Post",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Keywords for this blog post’s <meta> element.",
                  "example": "BigCommerce, welcome, ecommerce",
                  "type": "string"
                },
                "author": {
                  "description": "Name of the blog post’s author.",
                  "example": "BigCommerce",
                  "type": "string"
                },
                "thumbnail_path": {
                  "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ]
            },
            "x-examples": {
              "application/json": {
                "title": "A Sample Blog Post",
                "body": "<p>This is a blog post.</p>",
                "author": "Author Name",
                "thumbnail_path": "http://cdn.example.com/sample-post.jpg",
                "is_published": true,
                "published_date": "Fri, 6 Sep 2019 12:55:31 +0000",
                "tags": [
                  "Blog",
                  "Example"
                ]
              } 
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Blog Posts",
              "example": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "type": "object",
              "properties": {
                "id": {
                  "description": "ID of this blog post. (READ-ONLY)",
                  "example": 3,
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "Title of this blog post.",
                  "example": "Welcome to BigCommerce"
                },
                "url": {
                  "description": "URL for the public blog post.",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "preview_url": {
                  "description": "URL to preview the blog post. (READ-ONLY)",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "Text body of the blog post.",
                  "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                },
                "tags": {
                  "description": "Tags to characterize the blog post.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "summary": {
                  "description": "Summary of the blog post. (READ-ONLY)",
                  "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "type": "string"
                },
                "is_published": {
                  "description": "Whether the blog post is published.",
                  "example": true,
                  "type": "boolean"
                },
                "published_date": {
                  "type": "object",
                  "properties": {
                    "timezone_type": {
                      "type": "string",
                      "example": 1
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2018-05-18T08:26:42.000Z"
                    },
                    "timezone": {
                      "type": "string",
                      "format": "time",
                      "example": "+00:00"
                    }
                  }
                },
                "published_date_iso8601": {
                  "description": "Published date in ISO 8601 format.",
                  "example": "5/18/2018 1:26:42 PM",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description text for this blog post’s <meta> element.",
                  "example": "Welcome Post",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Keywords for this blog post’s <meta> element.",
                  "example": "BigCommerce, welcome, ecommerce",
                  "type": "string"
                },
                "author": {
                  "description": "Name of the blog post’s author.",
                  "example": "BigCommerce",
                  "type": "string"
                },
                "thumbnail_path": {
                  "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ]
            },
            "examples": {
              "application/json": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "Response Schema": {
                "title": "aliquip",
                "body": "eu et",
                "id": 15566436,
                "url": "dolore cupidatat fugiat dolor",
                "preview_url": "ci",
                "tags": [
                  "nostrud quis enim ex",
                  "aliqua officia est"
                ],
                "summary": "ex",
                "is_published": false,
                "published_date": {
                  "timezone_type": "eiusmod",
                  "date": "1965-11-25T07:33:13.828Z",
                  "timezone": "14:03:27.969Z"
                },
                "published_date_iso8601": "qui irure sint laboris officia",
                "meta_description": "officia",
                "meta_keywords": "v",
                "author": "laboris elit",
                "thumbnail_path": "enim sit ut cillum"
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Blog Posts"
        ],
        "operationId": "createABlogPosts"
      },
      "delete": {
        "description": "By default, it deletes all *Blog Posts*.",
        "summary": "Delete All Blog Posts",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter param.",
            "maximum": 250
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter param.",
            "maximum": 50
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Blog Posts"
        ],
        "operationId": "deleteAllBlogPosts"
      }
    },
    "/blog/posts/{id}": {
      "get": {
        "description": "Returns a single *Blog Post*.",
        "summary": "Get a Blog Post",
        "tags": [
          "Blog Posts"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the blog post."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Blog Posts",
              "example": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "type": "object",
              "properties": {
                "id": {
                  "description": "ID of this blog post. (READ-ONLY)",
                  "example": 3,
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "Title of this blog post.",
                  "example": "Welcome to BigCommerce"
                },
                "url": {
                  "description": "URL for the public blog post.",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "preview_url": {
                  "description": "URL to preview the blog post. (READ-ONLY)",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "Text body of the blog post.",
                  "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                },
                "tags": {
                  "description": "Tags to characterize the blog post.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "summary": {
                  "description": "Summary of the blog post. (READ-ONLY)",
                  "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "type": "string"
                },
                "is_published": {
                  "description": "Whether the blog post is published.",
                  "example": true,
                  "type": "boolean"
                },
                "published_date": {
                  "type": "object",
                  "properties": {
                    "timezone_type": {
                      "type": "string",
                      "example": 1
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2018-05-18T08:26:42.000Z"
                    },
                    "timezone": {
                      "type": "string",
                      "format": "time",
                      "example": "+00:00"
                    }
                  }
                },
                "published_date_iso8601": {
                  "description": "Published date in ISO 8601 format.",
                  "example": "5/18/2018 1:26:42 PM",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description text for this blog post’s <meta> element.",
                  "example": "Welcome Post",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Keywords for this blog post’s <meta> element.",
                  "example": "BigCommerce, welcome, ecommerce",
                  "type": "string"
                },
                "author": {
                  "description": "Name of the blog post’s author.",
                  "example": "BigCommerce",
                  "type": "string"
                },
                "thumbnail_path": {
                  "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ]
            },
            "examples": {
              "application/json": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "Response Schema": {
                "title": "Ex",
                "body": "dolor id",
                "id": 87938515,
                "url": "consectetur",
                "preview_url": "deserunt laboris",
                "tags": [
                  "Excepteur reprehenderit nisi",
                  "enim velit"
                ],
                "summary": "ipsum Excepteur",
                "is_published": true,
                "published_date": {
                  "timezone_type": "incididunt est amet sint",
                  "date": "1990-10-15T07:55:58.009Z",
                  "timezone": "19:50:44.496Z"
                },
                "published_date_iso8601": "sit sunt officia tempor",
                "meta_description": "sint est",
                "meta_keywords": "amet sint dolor si",
                "author": "in laboris fugiat ut",
                "thumbnail_path": "voluptate ut dolore"
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "operationId": "getABlogPost"
      },
      "put": {
        "description": "Updates a *Blog Post*.\n\n**Read Only Fields**\n*   id\n*   preview_url\n\n**Notes** \n\n* When including `published_date` in a request, supply it as a flat date string (not an object) in valid <a href=\"http://tools.ietf.org/html/rfc2822#section-3.3\" target=\"_blank\">RFC 2822</a>. The&#160;example request below includes a `published_date` in RFC 2822 format.\n",
        "summary": "Update a Blog Post",
        "tags": [
          "Blog Posts"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Id of the blog post."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "Blog Posts",
              "example": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "description": "Published date in RFC-2822 format.",
                  "example": "Fri, 6 Sep 2019 12:55:31 +0000",
                  "type": "string"
                }
              },
              "properties": {
                "id": {
                  "description": "ID of this blog post. (READ-ONLY)",
                  "example": 3,
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "Title of this blog post.",
                  "example": "Welcome to BigCommerce"
                },
                "url": {
                  "description": "URL for the public blog post.",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "preview_url": {
                  "description": "URL to preview the blog post. (READ-ONLY)",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "Text body of the blog post.",
                  "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                },
                "tags": {
                  "description": "Tags to characterize the blog post.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "summary": {
                  "description": "Summary of the blog post. (READ-ONLY)",
                  "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "type": "string"
                },
                "is_published": {
                  "description": "Whether the blog post is published.",
                  "example": true,
                  "type": "boolean"
                },
                "published_date": {
                  "type": "string",
                  "example": "Fri, 6 Sep 2019 12:55:31 +0000",
                  "description": "Published date in RFC-2822 format."
                },
                "meta_description": {
                  "description": "Description text for this blog post’s <meta> element.",
                  "example": "Welcome Post",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Keywords for this blog post’s <meta> element.",
                  "example": "BigCommerce, welcome, ecommerce",
                  "type": "string"
                },
                "author": {
                  "description": "Name of the blog post’s author.",
                  "example": "BigCommerce",
                  "type": "string"
                },
                "thumbnail_path": {
                  "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ]
            },
            "x-examples": {
              "application/json": {
                "title": "New: A Sample Blog Post",
                "url": "/blog/sample-post",
                "published_date": "Wed, 01 Jan 2017 15:33:33 +0400"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Blog Posts",
              "example": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              },
              "type": "object",
              "properties": {
                "id": {
                  "description": "ID of this blog post. (READ-ONLY)",
                  "example": 3,
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "Title of this blog post.",
                  "example": "Welcome to BigCommerce"
                },
                "url": {
                  "description": "URL for the public blog post.",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "preview_url": {
                  "description": "URL to preview the blog post. (READ-ONLY)",
                  "example": "/blog/welcome-bigcommerce/",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "Text body of the blog post.",
                  "example": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>"
                },
                "tags": {
                  "description": "Tags to characterize the blog post.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "summary": {
                  "description": "Summary of the blog post. (READ-ONLY)",
                  "example": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                  "type": "string"
                },
                "is_published": {
                  "description": "Whether the blog post is published.",
                  "example": true,
                  "type": "boolean"
                },
                "published_date": {
                  "type": "object",
                  "properties": {
                    "timezone_type": {
                      "type": "string",
                      "example": 1
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2018-05-18T08:26:42.000Z"
                    },
                    "timezone": {
                      "type": "string",
                      "format": "time",
                      "example": "+00:00"
                    }
                  }
                },
                "published_date_iso8601": {
                  "description": "Published date in ISO 8601 format.",
                  "example": "5/18/2018 1:26:42 PM",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description text for this blog post’s <meta> element.",
                  "example": "Welcome Post",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Keywords for this blog post’s <meta> element.",
                  "example": "BigCommerce, welcome, ecommerce",
                  "type": "string"
                },
                "author": {
                  "description": "Name of the blog post’s author.",
                  "example": "BigCommerce",
                  "type": "string"
                },
                "thumbnail_path": {
                  "description": "Local path to a thumbnail image within the product_images folder to accompany the blog post.",
                  "type": "string"
                }
              },
              "required": [
                "title",
                "body"
              ]
            },
            "examples": {
              "application/json": {
                "id": 3,
                "title": "Welcome to BigCommerce",
                "url": "/blog/welcome-bigcommerce/",
                "preview_url": "/blog/welcome-bigcommerce/",
                "body": "<p>Customize your site, manage shipping and payments, and list your products on Amazon, eBay, and Facebook with the #1 ecommerce platform. </p>",
                "tags": [
                  "BigCommerce",
                  "welcome",
                  "ecommerce"
                ],
                "summary": "<p>We power ecommerce websites for successful retailers all over the world</p>",
                "is_published": true,
                "published_date": {
                  "date": "2018-05-18T08:26:42.000Z",
                  "timezone_type": 1,
                  "timezone": "+00:00"
                },
                "published_date_iso8601": "2018-05-18T13:26:42.000Z",
                "meta_description": "Welcome Post",
                "meta_keywords": "BigCommerce, welcome, ecommerce",
                "author": "BigCommerce",
                "thumbnail_path": ""
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "operationId": "updateABlogPost"
      },
      "delete": {
        "description": "Deletes a *Blog Post*.",
        "summary": "Delete a Blog Post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the blog post."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Blog Posts"
        ],
        "operationId": "deleteABlogPost"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "type": "string",
          "required": true
        }
      ]
    },
    "/blog/posts/count": {
      "get": {
        "description": "Returns a count of all *Blog Posts*.",
        "summary": "Get A Count of All Blog Posts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Count Response",
              "example": {
                "count": 27
              },
              "type": "object",
              "properties": {
                "count": {
                  "description": "",
                  "example": 27,
                  "type": "number"
                }
              }
            },
            "examples": {
              "application/json": {
                "count": 27
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Blog Posts"
        ],
        "operationId": "getACountOfAllBlogPosts"
      }
    },
    "/pages": {
      "get": {
        "description": "Returns a list of *Pages*. Default sorting is by auto-generated ID from oldests to newest.",
        "summary": "Get All Pages",
        "tags": [
          "Pages"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter param."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter param."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "title": "Page",
                "example": {
                  "id": 6,
                  "parent_id": 5,
                  "type": "page",
                  "contact_fields": "fullname,companyname,phone,orderno,rma",
                  "email": "janedoes@email.com",
                  "name": "Contact Form",
                  "url": "/contact-us/",
                  "meta_description": "",
                  "body": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>",
                  "mobile_body": 0,
                  "has_mobile_version": false,
                  "is_visible": true,
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "sort_order": 3,
                  "meta_title": "",
                  "search_keywords": "",
                  "meta_keywords": ""
                },
                "type": "object",
                "properties": {
                  "parent_id": {
                    "description": "ID of any parent Web page.",
                    "example": 5,
                    "type": "integer"
                  },
                  "type": {
                    "type": "string",
                    "description": "`page`: free-text page  \n`link`: link to another web address  \n`rss_feed`: syndicated content from an RSS feed  \n`contact_form`: When the store's contact form is used.\n\n\t",
                    "enum": [
                      "page",
                      "rss_feed",
                      "contact_form",
                      "raw",
                      "link"
                    ]
                  },
                  "contact_fields": {
                    "description": "Where the page’s type is a contact form: object whose members are the fields enabled (in the control panel) for storefront display. Possible members are:`fullname`: full name of the customer submitting the form; `phone`: customer’s phone number, as submitted on the form; `companyname`: customer’s submitted company name; `orderno`: customer’s submitted order number; `rma`: customer’s submitted RMA (Return Merchandise Authorization) number.",
                    "example": "fullname,companyname,phone,orderno,rma",
                    "type": "string"
                  },
                  "email": {
                    "description": "Where the page’s type is a contact form: email address that receives messages sent via the form.",
                    "example": "janedoes@email.com",
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "description": "Page name, as displayed on the storefront.",
                    "example": "Contact Form"
                  },
                  "url": {
                    "description": "Relative URL on the storefront for this page.",
                    "example": "/contact-us/",
                    "type": "string"
                  },
                  "meta_description": {
                    "description": "Description contained within this page’s <meta> element.",
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "description": "HTML or variable that populates this page’s <body> element, in default/desktop view. Required in POST if page type is `raw`.",
                    "example": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>"
                  },
                  "mobile_body": {
                    "description": "HTML to use for this page's body when viewed in the mobile template (deprecated).",
                    "example": 0,
                    "type": "string"
                  },
                  "has_mobile_version": {
                    "description": "If true, this page has a mobile version.",
                    "example": false,
                    "type": "boolean"
                  },
                  "is_visible": {
                    "description": "If true, this page appears in the storefront’s navigation menu.",
                    "example": true,
                    "type": "boolean"
                  },
                  "is_homepage": {
                    "description": "If true, this page is the storefront’s home page.",
                    "example": false,
                    "type": "boolean"
                  },
                  "meta_title": {
                    "description": "Text specified for this page’s <title> element. (If empty, the value of the name property is used.)",
                    "type": "string"
                  },
                  "layout_file": {
                    "description": "Layout template for this page. This field is writable only for stores with a Blueprint theme applied.",
                    "example": "page.html",
                    "type": "string"
                  },
                  "sort_order": {
                    "description": "Order in which this page should display on the storefront. (Lower integers specify earlier display.)",
                    "example": 3,
                    "type": "integer"
                  },
                  "search_keywords": {
                    "description": "Comma-separated list of keywords that shoppers can use to locate this page when searching the store.",
                    "type": "string"
                  },
                  "meta_keywords": {
                    "description": "Comma-separated list of SEO-relevant keywords to include in the page’s <meta> element.",
                    "type": "string"
                  },
                  "feed": {
                    "type": "string",
                    "description": "If page type is `rss_feed` the n this field is visisble. Required in POST required for `rss page` type."
                  },
                  "link": {
                    "type": "string",
                    "description": "If page type is `link` this field is returned. Required in  POST to create a `link` page."
                  },
                  "id": {
                    "type": "integer",
                    "example": 44,
                    "description": "ID of the page."
                  },
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "application/json",
                      "text/javascript",
                      "text/html"
                    ],
                    "description": "The default value is `text/html`. If the `page_type` is `raw` then the content type can be changed to either JavaScript or JSON.\n\nUpdating this field allows you to place a JavaScript or a JSON file in the root directory.\n\nThis file is publicly available at the specified URL.\n\nIf the page was created using the Control Panel, the content-type is `text/html`.\n\nAvailable for POST or PUT.\n\nExample of use:\n\n```json\n{ \"id\": 21, \"name\": \"service worker\", \"body\": \"importScripts(\\\"https://mycdn.com/sw.js\\\");\", \"is_visible\": false, \"parent_id\": 0, \"sort_order\": 0, \"type\": \"raw\", \"is_homepage\": false, \"is_customers_only\": false, \"search_keywords\": \"\", \"has_mobile_version\": true, \"mobile_body\": \"\", \"content_type\": \"text/javascript\", \"url\": \"/sw.js\" }\n```",
                    "example": "text/html"
                  }
                },
                "required": [
                  "type",
                  "name",
                  "body",
                  "feed",
                  "link"
                ]
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 1,
                  "name": "RSS Syndication",
                  "meta_title": "",
                  "body": "%%Syndicate%%",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 5,
                  "meta_keywords": "0",
                  "type": "page",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "",
                  "is_customers_only": false,
                  "search_keywords": "0",
                  "has_mobile_version": false,
                  "mobile_body": "0",
                  "url": "/rss-syndication/"
                },
                {
                  "id": 2,
                  "name": "Shipping & Returns",
                  "meta_title": "",
                  "body": "<em>To edit this page simply login to the control panel, click the <strong style=\"font-weight: 400\">Website Content</strong> tab and choose the </em> <strong style=\"font-weight: 400\"><em>View Web Pages option. Click Edit next to the Shipping & Returns page and you can change this text. A sample returns policy is shown below which you can edit as needed.</em><em style=\"font-style: normal\"><br/><br/></em></strong><em style=\"font-style: normal\"><strong>Returns Policy</strong></em><strong style=\"font-weight: 400\"></em></em><em style=\"font-style: normal\"><br/><br/></em>You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).<br/><br/>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).<br/><br/>If you need to return an item, please <a href=\"/contact-us/\">Contact Us</a> with your order number and details about the product you would like to return. We will respond quickly with instructions for how to return items from your order.<br/><br/></strong><strong>Shipping</em></em></em></strong><strong style=\"font-weight: 400\"><em style=\"font-style: normal\"><br/><br/></em>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations.<br/><br/>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.<br/><br/>Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail page. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full pound.<br/>",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 2,
                  "meta_keywords": "",
                  "type": "page",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "is_customers_only": false,
                  "search_keywords": "",
                  "has_mobile_version": false,
                  "mobile_body": "",
                  "url": "/shipping-returns/"
                },
                {
                  "id": 3,
                  "name": "Blog",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 4,
                  "type": "blog_index",
                  "is_homepage": false,
                  "is_customers_only": false
                },
                {
                  "id": 4,
                  "name": "Contact Us",
                  "meta_title": "",
                  "email": "",
                  "body": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 3,
                  "meta_keywords": "",
                  "type": "contact_form",
                  "contact_fields": "fullname,companyname,phone,orderno,rma",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "is_customers_only": false,
                  "search_keywords": "",
                  "has_mobile_version": false,
                  "mobile_body": "0",
                  "url": "/contact-us/"
                },
                {
                  "id": 5,
                  "name": "Test Page",
                  "meta_title": "",
                  "body": "<p>Redirect webpage</p>\r\n<p>&nbsp;</p>\r\n<p><img class=\"__mce_add_custom__\" title=\"screen-shot-2018-06-11-at-8.38.00-am.png\" src=\"%%GLOBAL_ShopPathSSL%%/product_images/uploaded_images/screen-shot-2018-06-11-at-8.38.00-am.png\" alt=\"screen-shot-2018-06-11-at-8.38.00-am.png\" width=\"1026\" height=\"586\" /></p>",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 0,
                  "meta_keywords": "",
                  "type": "page",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "is_customers_only": false,
                  "search_keywords": "",
                  "has_mobile_version": true,
                  "mobile_body": "",
                  "url": "/test-page/"
                },
                {
                  "id": 6,
                  "name": "Child Pages",
                  "meta_title": "",
                  "body": "",
                  "is_visible": true,
                  "parent_id": 5,
                  "sort_order": 0,
                  "meta_keywords": "",
                  "type": "page",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "is_customers_only": false,
                  "search_keywords": "",
                  "has_mobile_version": true,
                  "mobile_body": "",
                  "url": "/child-pages/"
                },
                {
                  "id": 7,
                  "name": "Footer only page",
                  "meta_title": "",
                  "body": "<p>Testing</p>",
                  "is_visible": true,
                  "parent_id": 0,
                  "sort_order": 0,
                  "meta_keywords": "",
                  "type": "page",
                  "meta_description": "",
                  "is_homepage": false,
                  "layout_file": "page.html",
                  "is_customers_only": false,
                  "search_keywords": "",
                  "has_mobile_version": true,
                  "mobile_body": "",
                  "url": "/footer-only-page/"
                }
              ],
              "Response Schema": [
                {
                  "type": "page",
                  "name": "consequat labore cillum minim",
                  "body": "occaecat reprehenderit",
                  "feed": "consectetur et",
                  "link": "nulla veniam aliq",
                  "id": {},
                  "parent_id": -3084899,
                  "contact_fields": "do dolor",
                  "email": "adipisicing minim esse",
                  "url": "in ut",
                  "meta_description": "est Duis",
                  "mobile_body": "incididunt nulla dolore ut in",
                  "has_mobile_version": true,
                  "is_visible": true,
                  "is_homepage": true,
                  "meta_title": "voluptate sint ullamco ut occaecat",
                  "layout_file": "reprehenderit eiusmod ut adipisicing",
                  "sort_order": 96609556,
                  "search_keywords": "dolor enim exercitation",
                  "meta_keywords": "sun"
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "operationId": "getAllPages"
      },
      "post": {
        "description": "Creates a *Page*. The payload limit is 1MB. \n\n**Required Fields**\n*   type\n*   name\n*   link (for a page of `type: link`)\n*   feed (for a page of `type: rss_feed`)\n*   body (for a page of `type: raw`)\n\n**Read Only Fields**\n*   id",
        "summary": "Create a Page",
        "tags": [
          "Pages"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "Page",
              "example": {
                "id": 6,
                "parent_id": 5,
                "type": "page",
                "contact_fields": "fullname,companyname,phone,orderno,rma",
                "email": "janedoes@email.com",
                "name": "Contact Form",
                "url": "/contact-us/",
                "meta_description": "",
                "body": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>",
                "mobile_body": 0,
                "has_mobile_version": false,
                "is_visible": true,
                "is_homepage": false,
                "layout_file": "page.html",
                "sort_order": 3,
                "meta_title": "",
                "search_keywords": "",
                "meta_keywords": ""
              },
              "type": "object",
              "properties": {
                "parent_id": {
                  "description": "ID of any parent Web page.",
                  "example": 5,
                  "type": "integer"
                },
                "type": {
                  "type": "string",
                  "description": "`page`: free-text page  \n`link`: link to another web address  \n`rss_feed`: syndicated content from an RSS feed  \n`contact_form`: When the store's contact form is used.\n\n\t",
                  "enum": [
                    "page",
                    "rss_feed",
                    "contact_form",
                    "raw",
                    "link"
                  ]
                },
                "contact_fields": {
                  "description": "Where the page’s type is a contact form: object whose members are the fields enabled (in the control panel) for storefront display. Possible members are:`fullname`: full name of the customer submitting the form; `phone`: customer’s phone number, as submitted on the form; `companyname`: customer’s submitted company name; `orderno`: customer’s submitted order number; `rma`: customer’s submitted RMA (Return Merchandise Authorization) number.",
                  "example": "fullname,companyname,phone,orderno,rma",
                  "type": "string"
                },
                "email": {
                  "description": "Where the page’s type is a contact form: email address that receives messages sent via the form.",
                  "example": "janedoes@email.com",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Page name, as displayed on the storefront.",
                  "example": "Contact Form"
                },
                "url": {
                  "description": "Relative URL on the storefront for this page.",
                  "example": "/contact-us/",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description contained within this page’s <meta> element.",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "HTML or variable that populates this page’s <body> element, in default/desktop view. Required in POST if page type is `raw`.",
                  "example": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>"
                },
                "mobile_body": {
                  "description": "HTML to use for this page's body when viewed in the mobile template (deprecated).",
                  "example": 0,
                  "type": "string"
                },
                "has_mobile_version": {
                  "description": "If true, this page has a mobile version.",
                  "example": false,
                  "type": "boolean"
                },
                "is_visible": {
                  "description": "If true, this page appears in the storefront’s navigation menu.",
                  "example": true,
                  "type": "boolean"
                },
                "is_homepage": {
                  "description": "If true, this page is the storefront’s home page.",
                  "example": false,
                  "type": "boolean"
                },
                "meta_title": {
                  "description": "Text specified for this page’s <title> element. (If empty, the value of the name property is used.)",
                  "type": "string"
                },
                "layout_file": {
                  "description": "Layout template for this page. This field is writable only for stores with a Blueprint theme applied.",
                  "example": "page.html",
                  "type": "string"
                },
                "sort_order": {
                  "description": "Order in which this page should display on the storefront. (Lower integers specify earlier display.)",
                  "example": 3,
                  "type": "integer"
                },
                "search_keywords": {
                  "description": "Comma-separated list of keywords that shoppers can use to locate this page when searching the store.",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Comma-separated list of SEO-relevant keywords to include in the page’s <meta> element.",
                  "type": "string"
                },
                "feed": {
                  "type": "string",
                  "description": "If page type is `rss_feed` the n this field is visisble. Required in POST required for `rss page` type."
                },
                "link": {
                  "type": "string",
                  "description": "If page type is `link` this field is returned. Required in  POST to create a `link` page."
                },
                "id": {
                  "type": "integer",
                  "example": 44,
                  "description": "ID of the page."
                },
                "content_type": {
                  "type": "string",
                  "enum": [
                    "application/json",
                    "text/javascript",
                    "text/html"
                  ],
                  "description": "The default value is `text/html`. If the `page_type` is `raw` then the content type can be changed to either JavaScript or JSON.\n\nUpdating this field allows you to place a JavaScript or a JSON file in the root directory.\n\nThis file is publicly available at the specified URL.\n\nIf the page was created using the Control Panel, the content-type is `text/html`.\n\nAvailable for POST or PUT.\n\nExample of use:\n\n```json\n{ \"id\": 21, \"name\": \"service worker\", \"body\": \"importScripts(\\\"https://mycdn.com/sw.js\\\");\", \"is_visible\": false, \"parent_id\": 0, \"sort_order\": 0, \"type\": \"raw\", \"is_homepage\": false, \"is_customers_only\": false, \"search_keywords\": \"\", \"has_mobile_version\": true, \"mobile_body\": \"\", \"content_type\": \"text/javascript\", \"url\": \"/sw.js\" }\n```",
                  "example": "text/html"
                }
              },
              "required": [
                "type",
                "name",
                "body",
                "feed",
                "link"
              ]
            },
            "x-examples": {
              "application/json": {
                "id": 12,
                "name": "404 Page for Cats",
                "body": "<head><title>Hairball! Not Found</title></head><body>Sorry! You can not haz cheeseburger.</body>",
                "is_visible": true,
                "parent_id": 0,
                "sort_order": 12,
                "type": "raw",
                "is_homepage": false,
                "is_customers_only": false,
                "search_keywords": "dead, missing, broken",
                "has_mobile_version": false,
                "mobile_body": "",
                "url": "/404-meow/"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Page",
              "example": {
                "id": 6,
                "parent_id": 5,
                "type": "page",
                "contact_fields": "fullname,companyname,phone,orderno,rma",
                "email": "janedoes@email.com",
                "name": "Contact Form",
                "url": "/contact-us/",
                "meta_description": "",
                "body": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>",
                "mobile_body": 0,
                "has_mobile_version": false,
                "is_visible": true,
                "is_homepage": false,
                "layout_file": "page.html",
                "sort_order": 3,
                "meta_title": "",
                "search_keywords": "",
                "meta_keywords": ""
              },
              "type": "object",
              "properties": {
                "parent_id": {
                  "description": "ID of any parent Web page.",
                  "example": 5,
                  "type": "integer"
                },
                "type": {
                  "type": "string",
                  "description": "`page`: free-text page  \n`link`: link to another web address  \n`rss_feed`: syndicated content from an RSS feed  \n`contact_form`: When the store's contact form is used.\n\n\t",
                  "enum": [
                    "page",
                    "rss_feed",
                    "contact_form",
                    "raw",
                    "link"
                  ]
                },
                "contact_fields": {
                  "description": "Where the page’s type is a contact form: object whose members are the fields enabled (in the control panel) for storefront display. Possible members are:`fullname`: full name of the customer submitting the form; `phone`: customer’s phone number, as submitted on the form; `companyname`: customer’s submitted company name; `orderno`: customer’s submitted order number; `rma`: customer’s submitted RMA (Return Merchandise Authorization) number.",
                  "example": "fullname,companyname,phone,orderno,rma",
                  "type": "string"
                },
                "email": {
                  "description": "Where the page’s type is a contact form: email address that receives messages sent via the form.",
                  "example": "janedoes@email.com",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Page name, as displayed on the storefront.",
                  "example": "Contact Form"
                },
                "url": {
                  "description": "Relative URL on the storefront for this page.",
                  "example": "/contact-us/",
                  "type": "string"
                },
                "meta_description": {
                  "description": "Description contained within this page’s <meta> element.",
                  "type": "string"
                },
                "body": {
                  "type": "string",
                  "description": "HTML or variable that populates this page’s <body> element, in default/desktop view. Required in POST if page type is `raw`.",
                  "example": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>"
                },
                "mobile_body": {
                  "description": "HTML to use for this page's body when viewed in the mobile template (deprecated).",
                  "example": 0,
                  "type": "string"
                },
                "has_mobile_version": {
                  "description": "If true, this page has a mobile version.",
                  "example": false,
                  "type": "boolean"
                },
                "is_visible": {
                  "description": "If true, this page appears in the storefront’s navigation menu.",
                  "example": true,
                  "type": "boolean"
                },
                "is_homepage": {
                  "description": "If true, this page is the storefront’s home page.",
                  "example": false,
                  "type": "boolean"
                },
                "meta_title": {
                  "description": "Text specified for this page’s <title> element. (If empty, the value of the name property is used.)",
                  "type": "string"
                },
                "layout_file": {
                  "description": "Layout template for this page. This field is writable only for stores with a Blueprint theme applied.",
                  "example": "page.html",
                  "type": "string"
                },
                "sort_order": {
                  "description": "Order in which this page should display on the storefront. (Lower integers specify earlier display.)",
                  "example": 3,
                  "type": "integer"
                },
                "search_keywords": {
                  "description": "Comma-separated list of keywords that shoppers can use to locate this page when searching the store.",
                  "type": "string"
                },
                "meta_keywords": {
                  "description": "Comma-separated list of SEO-relevant keywords to include in the page’s <meta> element.",
                  "type": "string"
                },
                "feed": {
                  "type": "string",
                  "description": "If page type is `rss_feed` the n this field is visisble. Required in POST required for `rss page` type."
                },
                "link": {
                  "type": "string",
                  "description": "If page type is `link` this field is returned. Required in  POST to create a `link` page."
                },
                "id": {
                  "type": "integer",
                  "example": 44,
                  "description": "ID of the page."
                },
                "content_type": {
                  "type": "string",
                  "enum": [
                    "application/json",
                    "text/javascript",
                    "text/html"
                  ],
                  "description": "The default value is `text/html`. If the `page_type` is `raw` then the content type can be changed to either JavaScript or JSON.\n\nUpdating this field allows you to place a JavaScript or a JSON file in the root directory.\n\nThis file is publicly available at the specified URL.\n\nIf the page was created using the Control Panel, the content-type is `text/html`.\n\nAvailable for POST or PUT.\n\nExample of use:\n\n```json\n{ \"id\": 21, \"name\": \"service worker\", \"body\": \"importScripts(\\\"https://mycdn.com/sw.js\\\");\", \"is_visible\": false, \"parent_id\": 0, \"sort_order\": 0, \"type\": \"raw\", \"is_homepage\": false, \"is_customers_only\": false, \"search_keywords\": \"\", \"has_mobile_version\": true, \"mobile_body\": \"\", \"content_type\": \"text/javascript\", \"url\": \"/sw.js\" }\n```",
                  "example": "text/html"
                }
              },
              "required": [
                "type",
                "name",
                "body",
                "feed",
                "link"
              ]
            },
            "examples": {
              "application/json": {
                "id": 6,
                "parent_id": 5,
                "type": "page",
                "contact_fields": "fullname,companyname,phone,orderno,rma",
                "email": "janedoes@email.com",
                "name": "Contact Form",
                "url": "/contact-us/",
                "meta_description": "",
                "body": "<p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>",
                "mobile_body": 0,
                "has_mobile_version": false,
                "is_visible": true,
                "is_homepage": false,
                "layout_file": "page.html",
                "sort_order": 3,
                "meta_title": "",
                "search_keywords": "",
                "meta_keywords": ""
              },
              "Response Schema": {
                "type": "raw",
                "name": "Duis dolor",
                "body": "anim Lorem enim exercitation",
                "feed": "voluptate",
                "link": "eiusmod",
                "id": {},
                "parent_id": 44535181,
                "contact_fields": "voluptate minim eu",
                "email": "tempor labore e",
                "url": "deserunt mollit exercitation",
                "meta_description": "aute in ullamco consequat",
                "mobile_body": "id dolore commodo",
                "has_mobile_version": true,
                "is_visible": true,
                "is_homepage": false,
                "meta_title": "aliquip",
                "layout_file": "in aliquip consectetur",
                "sort_order": -55425677,
                "search_keywords": "aliqua commodo veniam in",
                "meta_keywords": "ex magna reprehenderit"
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "operationId": "createAPage"
      }
    },
    "/pages/{id}": {
      "get": {
        "description": "Returns a *Page*.",
        "summary": "Get A Page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the page."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "title": "Page",
              "example": {
                "id": 6,
                "parent_id": 5,
                "type": "page",
                "contact_fields": "fullname,companyname,phone,orderno,rma",
                "email": "janedoes@email.com",
[...]
