{
  "swagger": "2.0",
  "info": {
    "title": "BigCommerce Widgets API",
    "version": "",
    "description": "Widgets API allows developers to programatically inject content into a BigCommerce theme. To learn how to use Widgets, see our [Widgets Overview](/api-docs/storefront/widgets/widgets-overview). ",
    "termsOfService": ""
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "tags": [
    {
      "name": "Regions"
    },
    {
      "name": "Widget Template",
      "description": "BigCommerce Widget Templates API Definition."
    },
    {
      "name": "Widget",
      "description": "BigCommerce Widgets API Definition."
    },
    {
      "name": "Placement",
      "description": "BigCommerce Placements API Definition."
    },
    {
      "name": "Layout",
      "description": "BigCommerce Layouts API Definition."
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/content/widget-templates": {
      "post": {
        "tags": [
          "Widget Template"
        ],
        "summary": "Create a Widget Template",
        "operationId": "createWidgetTemplate",
        "parameters": [
          {
            "name": "templateBody",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name",
                "template"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "User friendly name."
                },
                "schema": {
                  "type": "object",
                  "description": "The JSON schema of data for this template. Used to validate a configuration.",
                  "format": "json"
                },
                "template": {
                  "type": "string",
                  "description": "Handlebars HTML content. Also has access to Stencil Paper helpers.",
                  "format": "html"
                }
              },
              "title": "Widget Template Post"
            },
            "x-examples": {
              "application/json": {
                "name": "Header Images",
                "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The kind of widget template."
                    },
                    "schema": {
                      "type": "object",
                      "format": "json",
                      "description": "The JSON schema of data for this template. Used to validate a configuration."
                    },
                    "template": {
                      "type": "string",
                      "format": "html",
                      "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  },
                  "title": "Widget Template"
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                  "name": "Header Images",
                  "schema": [],
                  "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                  "date_created": "2019-02-25T18:35:04.904Z",
                  "date_modified": "2019-02-25T18:35:04.904Z",
                  "kind": "custom"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Creates a [*Widget Template*](/api-reference/storefront/widgets-api/models/widgettemplate).\n\n**Required Fields**\n* name\n* template"
      },
      "get": {
        "tags": [
          "Widget Template"
        ],
        "operationId": "getWidgetTemplates",
        "parameters": [
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "widget_template_kind",
            "description": "The kind of widget template.",
            "type": "string",
            "required": false
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The primary identifier."
                      },
                      "name": {
                        "type": "string",
                        "description": "The user-friendly name."
                      },
                      "kind": {
                        "type": "string",
                        "description": "The kind of widget template."
                      },
                      "schema": {
                        "type": "object",
                        "format": "json",
                        "description": "The JSON schema of data for this template. Used to validate a configuration."
                      },
                      "template": {
                        "type": "string",
                        "format": "html",
                        "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                      },
                      "date_created": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The date on which this object was initially created."
                      },
                      "date_modified": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The date on which this object was last updated."
                      }
                    },
                    "title": "Widget Template"
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "Data about the response, including pagination and collection totals.",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Data about the response, including pagination and collection totals.\n",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items in the result set.\n"
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of items in the collection response.\n"
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n"
                        },
                        "current_page": {
                          "type": "integer",
                          "description": "The page you are currently on within the collection.\n"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "The total number of pages in the collection.\n"
                        },
                        "links": {
                          "type": "object",
                          "description": "Pagination links for the previous and next parts of the whole collection.\n",
                          "properties": {
                            "previous": {
                              "type": "string",
                              "description": "Link to the previous page returned in the response.\n"
                            },
                            "current": {
                              "type": "string",
                              "description": "Link to the current page returned in the response.\n"
                            },
                            "next": {
                              "type": "string",
                              "description": "Link to the next page returned in the response.\n"
                            }
                          }
                        }
                      }
                    }
                  },
                  "title": "Collection Meta"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                    "name": "Header Images",
                    "schema": [],
                    "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                    "date_created": "2019-02-25T18:35:04.904Z",
                    "date_modified": "2019-02-25T18:35:04.904Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "2fbb8014-2a6e-4569-b484-65824959d035",
                    "name": "Simple List",
                    "schema": [],
                    "template": "<ul>{{#each list_items}}<li style='color:{{color}};'>{{text}}</li>{{/each}}</ul>",
                    "date_created": "2019-02-25T22:12:32.779Z",
                    "date_modified": "2019-02-25T22:12:32.779Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "bbdd79ad-760c-406c-8866-c0642ec6fb3f",
                    "name": "Simple HTML",
                    "schema": [],
                    "template": "{{{html}}}",
                    "date_created": "2019-02-26T16:35:33.257Z",
                    "date_modified": "2019-02-26T16:35:33.257Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "28a6d62d-6435-4423-a611-35feaab1229a",
                    "name": "Simple Text with Styling",
                    "schema": [],
                    "template": "<style>#bc-simple-text-{{_.id}} {color: {{color}};background: {{background_color}};font-size: {{font_size}};font-style: {{font_style}};font-weight: {{font_weight}};font-family: {{font_family}};text-align: {{text_align}};margin-top: {{margin_top}};margin-bottom: {{margin_bottom}};margin-left: {{margin_left}};margin-right: {{margin_right}};padding-top: {{padding_top}};padding-bottom: {{padding_bottom}};padding-left: {{padding_left}};padding-right: {{padding_right}};}</style><p id='bc-simple-text-{{_.id}}'>{{text}}</p>",
                    "date_created": "2019-02-26T17:20:14.274Z",
                    "date_modified": "2019-02-26T17:20:14.274Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "f054d960-3b3f-4bed-b3b3-ccb024e2f807",
                    "name": "YouTube Embed",
                    "schema": [],
                    "template": "<iframe    id='ytplayer-{{_.id}}'    type='text/html'    width='{{width}}'    height='{{height}}'    src='https://www.youtube.com/embed/{{video_id}}?autoplay={{autoplay}}&color={{color}}&controls={{controls}}&disablekb={{disablekb}}&fs={{fs}}&rel={{rel}}&showinfo={{showinfo}}'    frameborder='{{frameborder}}'>  </iframe>",
                    "date_created": "2019-02-26T18:59:18.359Z",
                    "date_modified": "2019-02-26T18:59:18.359Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "be346d31-d869-4e96-9299-4c85bc1af55a",
                    "name": "Slider Template",
                    "schema": [],
                    "template": "<ul class=\"slider\">\n{{#each slides}}\n<ul class=\"slide\"><img class=\"mySlides\" src=\"{{image}}\"/></ul>\n{{/each}}\n</ul>\n<script>\nvar slideIndex = 0;\ncarousel();\nfunction carousel() {\nvar i;\nvar x = document.getElementsByClassName(\"mySlides\");\nfor (i = 0; i < x.length; i++) {\nx[i].style.display = \"none\"; \n}\nslideIndex++;\nif (slideIndex > x.length) {slideIndex = 1} \nx[slideIndex-1].style.display = \"block\"; \nsetTimeout(carousel, 4000); // Change image every 4 seconds\n}\n</script>",
                    "date_created": "2019-02-26T19:25:24.081Z",
                    "date_modified": "2019-02-26T19:25:24.081Z",
                    "kind": "custom"
                  },
                  {
                    "uuid": "2ff24732-6848-47ba-9a7f-c8b1d444f270",
                    "name": "PayPal Credit Banner - Cart Page (728x90)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    margin-right: auto;\n    margin-left: auto;\n    width: 100%;\n    max-width: 728px;\n    height: 90px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"728x90\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"CartPage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-04T22:49:21.073Z",
                    "date_modified": "2017-10-27T17:20:20.386Z",
                    "kind": "pp-cartpage-fullbanner"
                  },
                  {
                    "uuid": "3002bf5b-5eca-4ac2-8f1f-5240c2b74712",
                    "name": "PayPal Credit Banner - Home Page (728x90)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    margin-right: auto;\n    margin-left: auto;\n    width: 100%;\n    max-width: 728px;\n    height: 90px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"728x90\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"HomePage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-04T22:49:32.067Z",
                    "date_modified": "2017-10-27T17:20:50.367Z",
                    "kind": "pp-homepage-fullbanner"
                  },
                  {
                    "uuid": "7c541473-855d-4b62-a7bf-6ef3199f914c",
                    "name": "PayPal Credit Banner - Product Details Page (234x60)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    width: 100%;\n    max-width: 234px;\n    height: 60px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"234x60\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"ProductDetailsPage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-04T22:49:41.274Z",
                    "date_modified": "2017-10-27T17:21:16.179Z",
                    "kind": "pp-proddetailspage-quarterbanner"
                  },
                  {
                    "uuid": "2dfeb50e-5f8c-4df2-8525-a338091eed32",
                    "name": "Braintree PayPal Credit Banner - Cart Page (728x90)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    margin-right: auto;\n    margin-left: auto;\n    width: 100%;\n    max-width: 728px;\n    height: 90px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"728x90\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"CartPage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-27T17:21:27.316Z",
                    "date_modified": "2017-10-27T17:21:38.264Z",
                    "kind": "bt-cartpage-fullbanner"
                  },
                  {
                    "uuid": "a96caeab-1e47-4196-b707-7037950fb2a7",
                    "name": "Braintree PayPal Credit Banner - Home Page (728x90)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    margin-right: auto;\n    margin-left: auto;\n    width: 100%;\n    max-width: 728px;\n    height: 90px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"728x90\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"HomePage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-27T17:21:48.607Z",
                    "date_modified": "2017-10-27T17:21:59.798Z",
                    "kind": "bt-homepage-fullbanner"
                  },
                  {
                    "uuid": "5b91d91c-9d09-4fc2-81a5-733746306924",
                    "name": "Braintree PayPal Credit Banner - Product Details Page (234x60)",
                    "schema": [],
                    "template": "<style media=\"screen\">\n  #banner-region-{{ _.id }} {\n    display: block;\n    width: 100%;\n    max-width: 234px;\n    height: 60px;\n  }\n</style>\n\n<div id=\"banner-region-{{ _.id }}\">\n  <script src=\"https://www.paypalobjects.com/upstream/partner.js\"\n    data-pp_payer_id=\"{{ merchant_id }}\"\n    data-pp_bn_code=\"BigCommerce_Cart_PPC\"\n    data-pp_dimensions=\"234x60\"\n    data-pp_format=\"HTML\"\n    data-pp_presentation_types=\"HTML\"\n    data-pp_page=\"ProductDetailsPage\"\n    data-pp_country_code=\"{{ country_code }}\"\n    data-pp_locale=\"{{ locale }}\"\n    data-pp_partner_version=\"2\">\n  </script>\n</div>\n",
                    "date_created": "2017-10-27T17:22:08.430Z",
                    "date_modified": "2017-10-27T17:22:18.701Z",
                    "kind": "bt-proddetailspage-quarterbanner"
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 12,
                    "count": 12,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Returns a list of [*Widget Templates*](/api-reference/storefront/widgets-api/models/widgettemplate). Optional parameters may be passed in.",
        "summary": "Get All Widget Templates"
      }
    },
    "/content/widget-templates/{uuid}": {
      "get": {
        "tags": [
          "Widget Template"
        ],
        "summary": "Get a Widget Template",
        "operationId": "getWidgetTemplate",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific template.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The kind of widget template."
                    },
                    "schema": {
                      "type": "object",
                      "format": "json",
                      "description": "The JSON schema of data for this template. Used to validate a configuration."
                    },
                    "template": {
                      "type": "string",
                      "format": "html",
                      "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  },
                  "title": "Widget Template"
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                  "name": "Header Images",
                  "schema": [],
                  "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                  "date_created": "2019-02-25T18:35:04.904Z",
                  "date_modified": "2019-02-25T18:35:04.904Z",
                  "kind": "custom"
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Return a single [*Widget Templates*](/api-reference/storefront/widgets-api/models/widgettemplate)."
      },
      "put": {
        "tags": [
          "Widget Template"
        ],
        "summary": "Update a Widget Template",
        "operationId": "updateWidgetTemplate",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific template.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "templateBody",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "User-friendly name."
                },
                "schema": {
                  "type": "object",
                  "description": "The schema for this template. Describes how to build dynamic forms for widget configurations.",
                  "format": "json"
                },
                "template": {
                  "type": "string",
                  "description": "Handlebars HTML content. Also has access to Stencil Paper helpers.",
                  "format": "html"
                }
              },
              "title": "Widget Template Put"
            },
            "x-examples": {
              "application/json": {
                "name": "Header Images",
                "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The kind of widget template."
                    },
                    "schema": {
                      "type": "object",
                      "format": "json",
                      "description": "The JSON schema of data for this template. Used to validate a configuration."
                    },
                    "template": {
                      "type": "string",
                      "format": "html",
                      "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  },
                  "title": "Widget Template"
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                  "name": "Header Images",
                  "schema": [],
                  "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                  "date_created": "2019-02-25T18:35:04.904Z",
                  "date_modified": "2019-02-25T18:35:04.904Z",
                  "kind": "custom"
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Updates a [*Widget Template*](/api-reference/storefront/widgets-api/models/widgettemplate)."
      },
      "delete": {
        "tags": [
          "Widget Template"
        ],
        "summary": "Delete A Widget Template",
        "operationId": "deleteWidgetTemplate",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific template.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "204": {
            "description": "An empty response."
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Deletes a [*Widget Templates*](/api-reference/storefront/widgets-api/models/widgettemplate)."
      }
    },
    "/content/widgets": {
      "post": {
        "tags": [
          "Widget"
        ],
        "summary": "Create a Widget",
        "operationId": "createWidget",
        "parameters": [
          {
            "name": "widgetBody",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name",
                "widget_template_uuid"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "User friendly name."
                },
                "description": {
                  "type": "string",
                  "description": "The user-friendly description."
                },
                "widget_configuration": {
                  "type": "object",
                  "description": "The JSON data that populates the template.",
                  "format": "json"
                },
                "widget_template_uuid": {
                  "type": "string",
                  "description": "The widget template UUID."
                }
              },
              "title": "Widget Post"
            },
            "x-examples": {
              "application/json": {
                "name": "Header Images",
                "widget_configuration": {
                  "images": [
                    {
                      "image_url": "https://{your-store-url}/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                    },
                    {
                      "image_url": "https://your-store-url/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                    },
                    {
                      "image_url": "https://your-store-url/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                    }
                  ]
                },
                "widget_template_uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The user-friendly description."
                    },
                    "widget_configuration": {
                      "type": "object",
                      "description": "The JSON data that populates the template.",
                      "format": "json"
                    },
                    "widget_template": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The primary identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "The user-friendly name."
                        },
                        "kind": {
                          "type": "string",
                          "description": "The kind of widget template."
                        },
                        "schema": {
                          "type": "object",
                          "format": "json",
                          "description": "The JSON schema of data for this template. Used to validate a configuration."
                        },
                        "template": {
                          "type": "string",
                          "format": "html",
                          "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                        },
                        "date_created": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was initially created."
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was last updated."
                        }
                      },
                      "title": "Widget Template"
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                  "name": "Header Images",
                  "widget_configuration": {
                    "images": [
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                      }
                    ],
                    "_": {
                      "id": "a8940709-5655-4401-a341-62c44e3180b2"
                    }
                  },
                  "widget_template": {
                    "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                    "name": "Header Images",
                    "schema": [],
                    "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                    "date_created": "2019-02-25T18:35:04.904Z",
                    "date_modified": "2019-02-25T18:35:04.904Z",
                    "kind": "custom"
                  },
                  "date_created": "2019-02-25T18:36:45.238Z",
                  "date_modified": "2019-02-25T18:36:45.238Z",
                  "description": ""
                },
                "meta": {}
              }
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Creates a [*Widget*](/api-reference/storefront/widgets-api/models/widget).\n\n**Required Fields**\n* name\n* widget_template_uuid"
      },
      "get": {
        "tags": [
          "Widget"
        ],
        "summary": "Get All Widgets",
        "operationId": "getWidgets",
        "parameters": [
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "widget_template_kind",
            "description": "The kind of widget template.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "widget_template_uuid",
            "description": "The identifier for a specific widget template.",
            "type": "string",
            "format": "uuid",
            "required": false
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The primary identifier."
                      },
                      "name": {
                        "type": "string",
                        "description": "The user-friendly name."
                      },
                      "description": {
                        "type": "string",
                        "description": "The user-friendly description."
                      },
                      "widget_configuration": {
                        "type": "object",
                        "description": "The JSON data that populates the template.",
                        "format": "json"
                      },
                      "widget_template": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The primary identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "The user-friendly name."
                          },
                          "kind": {
                            "type": "string",
                            "description": "The kind of widget template."
                          },
                          "schema": {
                            "type": "object",
                            "format": "json",
                            "description": "The JSON schema of data for this template. Used to validate a configuration."
                          },
                          "template": {
                            "type": "string",
                            "format": "html",
                            "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                          },
                          "date_created": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The date on which this object was initially created."
                          },
                          "date_modified": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The date on which this object was last updated."
                          }
                        },
                        "title": "Widget Template"
                      },
                      "date_created": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The date on which this object was initially created."
                      },
                      "date_modified": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The date on which this object was last updated."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "Data about the response, including pagination and collection totals.",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Data about the response, including pagination and collection totals.\n",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items in the result set.\n"
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of items in the collection response.\n"
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n"
                        },
                        "current_page": {
                          "type": "integer",
                          "description": "The page you are currently on within the collection.\n"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "The total number of pages in the collection.\n"
                        },
                        "links": {
                          "type": "object",
                          "description": "Pagination links for the previous and next parts of the whole collection.\n",
                          "properties": {
                            "previous": {
                              "type": "string",
                              "description": "Link to the previous page returned in the response.\n"
                            },
                            "current": {
                              "type": "string",
                              "description": "Link to the current page returned in the response.\n"
                            },
                            "next": {
                              "type": "string",
                              "description": "Link to the next page returned in the response.\n"
                            }
                          }
                        }
                      }
                    }
                  },
                  "title": "Collection Meta"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                    "name": "Header Images",
                    "widget_configuration": {
                      "images": [
                        {
                          "image_url": "https://www.bigcommerce.com",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                        },
                        {
                          "image_url": "hhttps://www.bigcommerce.com",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                        },
                        {
                          "image_url": "https://www.bigcommerce.com",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                        }
                      ],
                      "_": {
                        "id": "a8940709-5655-4401-a341-62c44e3180b2"
                      }
                    },
                    "widget_template": {
                      "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                      "name": "Header Images",
                      "schema": [],
                      "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                      "date_created": "2019-02-25T18:35:04.904Z",
                      "date_modified": "2019-02-25T18:35:04.904Z",
                      "kind": "custom"
                    },
                    "date_created": "2019-02-25T18:36:45.238Z",
                    "date_modified": "2019-02-25T18:36:45.238Z",
                    "description": ""
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Returns a list of [*Widgets*](/api-reference/storefront/widgets-api/models/widget). Optional parameters can be passed in. "
      }
    },
    "/content/widgets/{uuid}": {
      "get": {
        "tags": [
          "Widget"
        ],
        "summary": "Get a Widget",
        "operationId": "getWidget",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific widget.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The user-friendly description."
                    },
                    "widget_configuration": {
                      "type": "object",
                      "description": "The JSON data that populates the template.",
                      "format": "json"
                    },
                    "widget_template": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The primary identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "The user-friendly name."
                        },
                        "kind": {
                          "type": "string",
                          "description": "The kind of widget template."
                        },
                        "schema": {
                          "type": "object",
                          "format": "json",
                          "description": "The JSON schema of data for this template. Used to validate a configuration."
                        },
                        "template": {
                          "type": "string",
                          "format": "html",
                          "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                        },
                        "date_created": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was initially created."
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was last updated."
                        }
                      },
                      "title": "Widget Template"
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                  "name": "Header Images",
                  "widget_configuration": {
                    "images": [
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                      }
                    ],
                    "_": {
                      "id": "a8940709-5655-4401-a341-62c44e3180b2"
                    }
                  },
                  "widget_template": {
                    "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                    "name": "Header Images",
                    "schema": [],
                    "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                    "date_created": "2019-02-25T18:35:04.904Z",
                    "date_modified": "2019-02-25T18:35:04.904Z",
                    "kind": "custom"
                  },
                  "date_created": "2019-02-25T18:36:45.238Z",
                  "date_modified": "2019-02-25T18:36:45.238Z",
                  "description": ""
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Returns a single [*Widgets*](/api-reference/storefront/widgets-api/models/widget)."
      },
      "put": {
        "tags": [
          "Widget"
        ],
        "summary": "Update a Widget",
        "operationId": "updateWidget",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific widget.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "widgetBody",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "User-friendly name."
                },
                "description": {
                  "type": "string",
                  "description": "The user-friendly description."
                },
                "widget_configuration": {
                  "type": "object",
                  "description": "The JSON data that populates the template.",
                  "format": "json"
                },
                "widget_template_uuid": {
                  "type": "string",
                  "description": "The widget template UUID."
                }
              },
              "title": "Widget Put"
            },
            "x-examples": {
              "application/json": {
                "name": "Header Images",
                "widget_configuration": {
                  "images": [
                    {
                      "image_url": "https://{your-store-url}/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                    },
                    {
                      "image_url": "https://your-store-url/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                    },
                    {
                      "image_url": "https://your-store-url/all/kinfolk-issue-16/",
                      "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                    }
                  ]
                },
                "widget_template_uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The user-friendly description."
                    },
                    "widget_configuration": {
                      "type": "object",
                      "description": "The JSON data that populates the template.",
                      "format": "json"
                    },
                    "widget_template": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The primary identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "The user-friendly name."
                        },
                        "kind": {
                          "type": "string",
                          "description": "The kind of widget template."
                        },
                        "schema": {
                          "type": "object",
                          "format": "json",
                          "description": "The JSON schema of data for this template. Used to validate a configuration."
                        },
                        "template": {
                          "type": "string",
                          "format": "html",
                          "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                        },
                        "date_created": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was initially created."
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was last updated."
                        }
                      },
                      "title": "Widget Template"
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                  "name": "Header Images",
                  "widget_configuration": {
                    "images": [
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                      },
                      {
                        "image_url": "https://tatiana.fun/all/kinfolk-issue-16/",
                        "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                      }
                    ],
                    "_": {
                      "id": "a8940709-5655-4401-a341-62c44e3180b2"
                    }
                  },
                  "widget_template": {
                    "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                    "name": "Header Images",
                    "schema": [],
                    "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                    "date_created": "2019-02-25T18:35:04.904Z",
                    "date_modified": "2019-02-25T18:35:04.904Z",
                    "kind": "custom"
                  },
                  "date_created": "2019-02-25T18:36:45.238Z",
                  "date_modified": "2019-02-25T18:36:45.238Z",
                  "description": ""
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Updates a [*Widgets*](/api-reference/storefront/widgets-api/models/widget)."
      },
      "delete": {
        "tags": [
          "Widget"
        ],
        "summary": "Delete a Widget",
        "operationId": "deleteWidget",
        "parameters": [
          {
            "name": "uuid",
            "description": "The identifier for a specific widget.",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "204": {
            "description": "An empty response."
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Deletes a [*Widgets*](/api-reference/storefront/widgets-api/models/widget)."
      }
    },
    "/content/placements": {
      "post": {
        "tags": [
          "Placement"
        ],
        "summary": "Create a Placement",
        "operationId": "createPlacement",
        "parameters": [
          {
            "name": "placementBody",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "widget_uuid": {
                  "type": "string",
                  "description": "A widget identifier."
                },
                "entity_id": {
                  "type": "string",
                  "description": "The specific instance of a page that you would like to target."
                },
                "sort_order": {
                  "type": "integer",
                  "description": "The sort order to control the position of a content widget in a region."
                },
                "region": {
                  "type": "string",
                  "description": "The name of the region in which to insert content widgets."
                },
                "template_file": {
                  "type": "string",
                  "description": "The template file that you would like to target."
                },
                "status": {
                  "type": "string",
                  "description": "Sets the placement as either inactive or active.",
                  "default": "inactive",
                  "enum": [
                    "inactive",
                    "active"
                  ]
                }
              },
              "required": [
                "widget_uuid",
                "template_file"
              ],
              "title": "Placement Post"
            },
            "x-examples": {
              "application/json": {
                "widget_uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                "entity_id": "21",
                "template_file": "pages/category",
                "status": "active",
                "sort_order": 1,
                "region": "home_header_image"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The primary identifier."
                    },
                    "entity_id": {
                      "type": "string",
                      "description": "The specific instance of a page"
                    },
                    "status": {
                      "type": "string",
                      "description": "Determines whether this placement is `active` or `inactive`.",
                      "enum": [
                        "inactive",
                        "active"
                      ]
                    },
                    "template_file": {
                      "type": "string",
                      "description": "The page template name."
                    },
                    "region": {
                      "type": "string",
                      "description": "The user-friendly name."
                    },
                    "sort_order": {
                      "type": "integer",
                      "description": "The sort order to control position of a content widget in a region."
                    },
                    "widget": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The primary identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "The user-friendly name."
                        },
                        "description": {
                          "type": "string",
                          "description": "The user-friendly description."
                        },
                        "widget_configuration": {
                          "type": "object",
                          "description": "The JSON data that populates the template.",
                          "format": "json"
                        },
                        "widget_template": {
                          "type": "object",
                          "properties": {
                            "uuid": {
                              "type": "string",
                              "format": "uuid",
                              "description": "The primary identifier."
                            },
                            "name": {
                              "type": "string",
                              "description": "The user-friendly name."
                            },
                            "kind": {
                              "type": "string",
                              "description": "The kind of widget template."
                            },
                            "schema": {
                              "type": "object",
                              "format": "json",
                              "description": "The JSON schema of data for this template. Used to validate a configuration."
                            },
                            "template": {
                              "type": "string",
                              "format": "html",
                              "description": "The widget template HTML. Supports Handlebars and Paper helpers."
                            },
                            "date_created": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The date on which this object was initially created."
                            },
                            "date_modified": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The date on which this object was last updated."
                            }
                          },
                          "title": "Widget Template"
                        },
                        "date_created": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was initially created."
                        },
                        "date_modified": {
                          "type": "string",
                          "format": "datetime",
                          "description": "The date on which this object was last updated."
                        }
                      }
                    },
                    "date_created": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was initially created."
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date on which this object was last updated."
                    }
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "uuid": "bb34b23b-0d4b-4b9b-9e24-c8b0dcfd5e08",
                  "template_file": "pages/category",
                  "region": "",
                  "sort_order": 0,
                  "entity_id": "21",
                  "status": "active",
                  "widget": {
                    "uuid": "a8940709-5655-4401-a341-62c44e3180b2",
                    "name": "Header Images",
                    "widget_configuration": {
                      "images": [
                        {
                          "image_url": "https://{{your-url}.com/",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/91/309/thekinfolktablecover_1024x1024__80715.1456436719.jpg?c=2&imbypass=on"
                        },
                        {
                          "image_url": "https://{{your-url}.com/",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/1280x1280/products/109/361/kinfolkessentialissue_1024x1024__22507.1456436715.jpg?c=2&imbypass=on"
                        },
                        {
                          "image_url": "https://{{your-url}.com/",
                          "image_source": "https://cdn11.bigcommerce.com/s-n0i50vy/images/stencil/500x659/products/85/282/livingwithplants_grande__26452.1456436666.jpg?c=2&imbypass=on"
                        }
                      ],
                      "_": {
                        "id": "a8940709-5655-4401-a341-62c44e3180b2"
                      }
                    },
                    "widget_template": {
                      "uuid": "3a1b0044-c9b3-47d3-9929-01ab0c20243b",
                      "name": "Header Images",
                      "schema": [],
                      "template": "{{#each images}}<a href='{{image_url}}'><img src={{image_source}} style='width:33.3%'/></a>{{/each}}",
                      "date_created": "2019-02-25T18:35:04.904Z",
                      "date_modified": "2019-02-25T18:35:04.904Z",
                      "kind": "custom"
                    },
                    "date_created": "2019-02-25T18:36:45.238Z",
                    "date_modified": "2019-02-25T18:36:45.238Z",
                    "description": ""
                  },
                  "date_created": "2019-02-25T18:37:10.658Z",
                  "date_modified": "2019-02-25T18:37:10.658Z"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "This is the result of missing required fields, or of invalid data. See the response for more details.\n"
          }
        },
        "description": "Creates a [*Placement*](/api-reference/storefront/widgets-api/models/placement).\n\n**Required Fields**\n* widget_uuid\n* template_file"
      },
      "get": {
        "tags": [
          "Placement"
        ],
        "summary": "Get All Placements",
        "operationId": "getPlacements",
        "parameters": [
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "widget_template_kind",
            "description": "The kind of widget template.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "template_file",
            "description": "The template file, for example: `pages/home`.",
            "type": "string",
            "required": false
          },
          {
            "name": "widget_uuid",
            "description": "The identifier for a specific widget.",
            "in": "query",
            "type": "string",
            "format": "uuid",
            "required": false
          },
          {
            "in": "query",
            "name": "widget_template_uuid",
            "description": "The identifier for a specific widget template.",
            "type": "string",
            "format": "uuid",
            "required": false
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "type": "string",
            "default": "application/json",
            "name": "Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
[...]
