{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "V3 Customers API",
    "description": "## V3 Customers API\n\nThis API includes:\n* Customers\n* Customer Addreses\n* Customer Attributes\n* Customer Form Field Values\n\nFor [Customer Groups](/api-reference/customer-subscribers/customers-api/customer-groups) use the V2 Customers API.\n\n\nTo learn the difference between V2 and V3 Customers API, see our [Customer and Subscribers Overview](/api-docs/customers/customers-subscribers-overview).",
    "contact": {}
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/customers": {
      "get": {
        "description": "Returns a list of [*Customers*](/api-reference/customer-subscribers/v3-customers-api/models/customer). Optional filter parameters can be passed in. \n\n**Notes**\n\nAttribute names are not available on the customer object. ",
        "summary": "Get All Customers",
        "tags": [
          "Customers"
        ],
        "operationId": "CustomersGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number. `page=1`"
          },
          {
            "in": "query",
            "type": "number",
            "name": "limit",
            "description": "Items count per page. `limit=50`"
          },
          {
            "name": "id:in",
            "in": "query",
            "type": "array",
            "description": "Filter items by id.\n`id:in=4,5,6`",
            "items": {
              "type": "integer"
            }
          },
          {
            "name": "company:in",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter items by company. `company:in=bigcommerce,commongood`"
          },
          {
            "name": "customer_group_id:in",
            "in": "query",
            "type": "array",
            "description": "Filter items by customer_group_id. `customer_group_id:in=5,6`",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "date_created",
            "in": "query",
            "type": "string",
            "description": "Filter items by date_created. `date_created=2018-09-05T13:43:54`",
            "format": "date-time"
          },
          {
            "name": "date_created:max",
            "in": "query",
            "type": "string",
            "description": "Filter items by maximum date_created. `date_created:max=2018-09-10`"
          },
          {
            "name": "date_created:min",
            "in": "query",
            "type": "string",
            "description": "Filter items by date_created. `date_created:min=2018-09-05`",
            "format": "date-time"
          },
          {
            "name": "date_modified",
            "in": "query",
            "type": "string",
            "description": "Filter items by date_modified. `date_modified=2018-09-05T13:45:03`",
            "format": "date-time"
          },
          {
            "name": "date_modified:min",
            "in": "query",
            "type": "string",
            "description": "Filter items by mininum date_modified. `date_modified:min=2019-09-04T:00:00:00` or `date_modified:min=2019-09-04`"
          },
          {
            "name": "date_modified:max",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Filter items by maximum date_modified `date_modified:max=2018-09-05T13:45:03` or `date_modified:max=2019-09-04`"
          },
          {
            "name": "email:in",
            "in": "query",
            "type": "string",
            "description": "Filter items by email. `email:in=janedoe@email.com`"
          },
          {
            "name": "name",
            "in": "query",
            "type": "array",
            "description": "Filter items by first_name and last_name. `name=moriarty,holmes`",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "name:like",
            "in": "query",
            "type": "array",
            "description": "Filter items by substring in first_name and last_name (%substring% - use with % symbols).\n`name:like=moriarty&name:like=doe`",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "registration_ip_address:in",
            "in": "query",
            "type": "array",
            "description": "Filter items by registration_ip_address. If the customer was created using the API, then registration address is blank.\n`registration_ip_address:in=12.345.6.789`",
            "items": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "description": "Indicates whether to include customer sub-resources:\n * `addresses` - customer addresses\n * `storecredit` - store credit\n * `attributes` - customer attributes and address attributes\n * `formfields` - customer and address form fields\n\n `include=addresses,storecredit,attributes,formfields`",
            "enum": [
              "addresses",
              "storecredit",
              "attributes",
              "formfields"
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "title": "CustomerCollectionResponse",
              "description": "Response payload for the BigCommerce API.",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "title": "Customer",
                    "type": "object",
                    "properties": {
                      "email": {
                        "description": "The email of the customer. Must be unique.",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 255
                      },
                      "first_name": {
                        "description": "The first name of the customer.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "last_name": {
                        "description": "The last name of the customer.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "company": {
                        "description": "The company of the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 255
                      },
                      "phone": {
                        "description": "The phone number of the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 50
                      },
                      "registration_ip_address": {
                        "description": "The IP address from which this customer was registered.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 30
                      },
                      "notes": {
                        "description": "The customer notes.",
                        "type": "string"
                      },
                      "tax_exempt_category": {
                        "description": "The tax exempt category code for the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 255
                      },
                      "customer_group_id": {
                        "description": "Id of the group which this customer belongs to.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "id": {
                        "description": "The unique numeric ID of the customer.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "date_modified": {
                        "description": "The date on which the customer was modified.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "date_created": {
                        "description": "The date of which the customer was created.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "address_count": {
                        "description": "Total number of customer addresses",
                        "type": "integer",
                        "format": "int32"
                      },
                      "attribute_count": {
                        "description": "Total number of customer attributes",
                        "type": "integer",
                        "format": "int32"
                      },
                      "authentication": {
                        "title": "Customer Authentication Base",
                        "example": {
                          "force_password_reset": true
                        },
                        "type": "object",
                        "properties": {
                          "force_password_reset": {
                            "description": "If `true`, this customer will be forced to change password on next login.",
                            "type": "boolean"
                          }
                        }
                      },
                      "addresses": {
                        "description": "Array of customer addresses. Limited to 10",
                        "type": "array",
                        "maxItems": 10,
                        "items": {
                          "title": "Address",
                          "type": "object",
                          "properties": {
                            "first_name": {
                              "description": "The first name of the customer address.",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "last_name": {
                              "description": "The last name of the customer address.",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "company": {
                              "description": "The company of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 255
                            },
                            "address1": {
                              "description": "The address 1 line.",
                              "type": "string"
                            },
                            "address2": {
                              "description": "The address 2 line.",
                              "type": "string"
                            },
                            "city": {
                              "description": "The city of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 100
                            },
                            "state_or_province": {
                              "description": "The state or province name",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 100
                            },
                            "postal_code": {
                              "description": "The postal code of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 30
                            },
                            "country_code": {
                              "description": "The country code of the customer address.",
                              "type": "string",
                              "minLength": 2,
                              "maxLength": 2
                            },
                            "phone": {
                              "description": "The phone number of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 50
                            },
                            "address_type": {
                              "title": "Address Type",
                              "description": "The address type. Residential or Commercial",
                              "example": "residential",
                              "type": "string",
                              "enum": [
                                "residential",
                                "commercial"
                              ]
                            },
                            "customer_id": {
                              "description": "The customer ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "description": "The unique numeric ID of the address.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "country": {
                              "description": "The country name of the customer address.",
                              "type": "string"
                            },
                            "form_fields": {
                              "description": "Array of form fields. Controlled by `formfields` parameter.",
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "title": "Form Field Value Base",
                                        "required": [
                                          "name",
                                          "value"
                                        ],
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "The form field name.",
                                            "example": "color"
                                          },
                                          "value": {
                                            "oneOf": [
                                              {
                                                "type": "string",
                                                "example": "blue"
                                              },
                                              {
                                                "type": "number",
                                                "format": "double",
                                                "example": 12.345
                                              },
                                              {
                                                "type": "array",
                                                "example": [
                                                  "red",
                                                  "green",
                                                  "black"
                                                ],
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "customer_id": {
                                            "type": "integer"
                                          }
                                        },
                                        "required": [
                                          "customer_id"
                                        ]
                                      }
                                    ],
                                    "title": "Customer Form Field Value"
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "title": "Form Field Value Base",
                                        "required": [
                                          "name",
                                          "value"
                                        ],
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "The form field name.",
                                            "example": "color"
                                          },
                                          "value": {
                                            "oneOf": [
                                              {
                                                "type": "string",
                                                "example": "blue"
                                              },
                                              {
                                                "type": "number",
                                                "format": "double",
                                                "example": 12.345
                                              },
                                              {
                                                "type": "array",
                                                "example": [
                                                  "red",
                                                  "green",
                                                  "black"
                                                ],
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "address_id": {
                                            "type": "integer",
                                            "description": "The Customer Address ID."
                                          }
                                        },
                                        "required": [
                                          "address_id"
                                        ]
                                      }
                                    ],
                                    "title": "Customer Address Form Field Value"
                                  }
                                ],
                                "title": "Form Field Value "
                              }
                            }
                          },
                          "required": [
                            "first_name",
                            "last_name",
                            "address1",
                            "city",
                            "state_or_province",
                            "postal_code",
                            "country_code",
                            "customer_id",
                            "id"
                          ]
                        }
                      },
                      "attributes": {
                        "description": "Array of customer attributes. Limited to 10",
                        "type": "array",
                        "maxItems": 10,
                        "items": {
                          "title": "Customer Attribute Value",
                          "type": "object",
                          "properties": {
                            "attribute_id": {
                              "description": "Attribute ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "value": {
                              "description": "Attribute value. This will always be a string, regardless of the attributes type.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 255
                            },
                            "id": {
                              "description": "Attribute value ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "customer_id": {
                              "description": "Customer ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "date_modified": {
                              "description": "The date on which the customer attribute value was modified.",
                              "type": "string",
                              "format": "date-time"
                            },
                            "date_created": {
                              "description": "The date of which the customer attribute value was created.",
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "attribute_id",
                            "value",
                            "customer_id"
                          ]
                        }
                      },
                      "form_fields": {
                        "description": "Array of form fields. Controlled by `formfields` parameter.",
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "allOf": [
                                {
                                  "type": "object",
                                  "title": "Form Field Value Base",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The form field name.",
                                      "example": "color"
                                    },
                                    "value": {
                                      "oneOf": [
                                        {
                                          "type": "string",
                                          "example": "blue"
                                        },
                                        {
                                          "type": "number",
                                          "format": "double",
                                          "example": 12.345
                                        },
                                        {
                                          "type": "array",
                                          "example": [
                                            "red",
                                            "green",
                                            "black"
                                          ],
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "customer_id": {
                                      "type": "integer"
                                    }
                                  },
                                  "required": [
                                    "customer_id"
                                  ]
                                }
                              ],
                              "title": "Customer Form Field Value"
                            },
                            {
                              "allOf": [
                                {
                                  "type": "object",
                                  "title": "Form Field Value Base",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The form field name.",
                                      "example": "color"
                                    },
                                    "value": {
                                      "oneOf": [
                                        {
                                          "type": "string",
                                          "example": "blue"
                                        },
                                        {
                                          "type": "number",
                                          "format": "double",
                                          "example": 12.345
                                        },
                                        {
                                          "type": "array",
                                          "example": [
                                            "red",
                                            "green",
                                            "black"
                                          ],
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "address_id": {
                                      "type": "integer",
                                      "description": "The Customer Address ID."
                                    }
                                  },
                                  "required": [
                                    "address_id"
                                  ]
                                }
                              ],
                              "title": "Customer Address Form Field Value"
                            }
                          ],
                          "title": "Form Field Value "
                        }
                      },
                      "store_credit_amounts": {
                        "description": "Store credit. ",
                        "type": "array",
                        "format": "double",
                        "items": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "format": "float",
                              "example": 43.18
                            }
                          }
                        }
                      },
                      "accepts_product_review_abandoned_cart_emails": {
                        "type": "boolean",
                        "description": "It determines if the customer is signed up to receive either product review or abandoned cart emails or recieve both emails."
                      }
                    }
                  }
                },
                "meta": {
                  "title": "Collection Meta",
                  "description": "Data about the response, including pagination and collection totals.",
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "title": "Pagination",
                      "description": "Data about the response, including pagination and collection totals.",
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "Total number of items in the result set.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "count": {
                          "description": "Total number of items in the collection response.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "per_page": {
                          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "current_page": {
                          "description": "The page you are currently on within the collection.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "total_pages": {
                          "description": "The total number of pages in the collection.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "links": {
                          "title": "Links",
                          "description": "Pagination links for the previous and next parts of the whole collection.",
                          "type": "object",
                          "properties": {
                            "previous": {
                              "description": "Link to the previous page returned in the response.",
                              "type": "string"
                            },
                            "current": {
                              "description": "Link to the current page returned in the response.",
                              "type": "string"
                            },
                            "next": {
                              "description": "Link to the next page returned in the response.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 11,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 0,
                    "email": "janedoe@email.com",
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "notes": "",
                    "phone": "1234567890",
                    "registration_ip_address": "",
                    "tax_exempt_category": "",
                    "date_created": "2018-09-05T13:43:54Z",
                    "date_modified": "2019-02-19T17:26:17Z"
                  },
                  {
                    "id": 12,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 0,
                    "email": "johndoe@email.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "notes": "",
                    "phone": "1234567890",
                    "registration_ip_address": "",
                    "tax_exempt_category": "",
                    "date_created": "2018-09-05T13:46:16Z",
                    "date_modified": "2018-09-05T13:56:52Z"
                  },
                  {
                    "id": 14,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 0,
                    "email": "nathanielhornblower@testing.com",
                    "first_name": "Nathaniel",
                    "last_name": "Hornblower",
                    "notes": "",
                    "phone": "123456788900",
                    "registration_ip_address": "64.183.182.114",
                    "tax_exempt_category": "",
                    "date_created": "2018-11-13T17:55:36Z",
                    "date_modified": "2018-11-13T17:55:36Z"
                  },
                  {
                    "id": 15,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 0,
                    "email": "patriciamoriarty@test.com",
                    "first_name": "Patricia",
                    "last_name": "Moriarty",
                    "notes": "",
                    "phone": "5122134567",
                    "registration_ip_address": "64.183.182.114",
                    "tax_exempt_category": "",
                    "date_created": "2018-11-13T17:57:33Z",
                    "date_modified": "2018-11-13T17:57:33Z"
                  },
                  {
                    "id": 18,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 5,
                    "email": "dwaynecole@testing.com",
                    "first_name": "Dwayne",
                    "last_name": "Cole",
                    "notes": "",
                    "phone": "1234567890",
                    "registration_ip_address": "",
                    "tax_exempt_category": "",
                    "date_created": "2018-11-13T18:38:31Z",
                    "date_modified": "2019-01-29T20:41:52Z"
                  },
                  {
                    "id": 19,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 7,
                    "email": "cadenwhitfield@testing.com",
                    "first_name": "Caden",
                    "last_name": "Whitfield",
                    "notes": "",
                    "phone": "1234567890",
                    "registration_ip_address": "",
                    "tax_exempt_category": "",
                    "date_created": "2018-11-13T20:41:18Z",
                    "date_modified": "2019-02-12T17:47:47Z"
                  },
                  {
                    "id": 20,
                    "authentication": {
                      "force_password_reset": false
                    },
                    "company": "",
                    "customer_group_id": 5,
                    "email": "golightly5@testing.com",
                    "first_name": "Alice",
                    "last_name": "Golightly",
                    "notes": "",
                    "phone": "1234567840",
                    "registration_ip_address": "",
                    "tax_exempt_category": "",
                    "date_created": "2018-11-13T20:42:16Z",
                    "date_modified": "2019-01-29T20:41:47Z"
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 7,
                    "count": 7,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1
                  }
                }
              },
              "with include": "{\n  \"data\": [\n    {\n      \"id\": 11,\n      \"address_count\": 5,\n      \"addresses\": [\n        {\n          \"id\": 16,\n          \"address1\": \"555 East Street\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Austin\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 11,\n          \"first_name\": \"Jane\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"78751\",\n          \"state_or_province\": \"Texas\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"Leave in backyard\"\n            }\n          ]\n        },\n        {\n          \"id\": 23,\n          \"address1\": \"111 E West Street\",\n          \"address2\": \"654\",\n          \"address_type\": \"commercial\",\n          \"city\": \"Akron\",\n          \"company\": \"BigCommerce\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 11,\n          \"first_name\": \"Jane\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"44325\",\n          \"state_or_province\": \"Ohio\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        },\n        {\n          \"id\": 30,\n          \"address1\": \"122 First Street\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Austin\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 11,\n          \"first_name\": \"Jon\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"6789012345\",\n          \"postal_code\": \"78726\",\n          \"state_or_province\": \"Texas\",\n          \"form_fields\": []\n        },\n        {\n          \"id\": 31,\n          \"address1\": \"11305 4 Points Drive\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Austin\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 11,\n          \"first_name\": \"Testing\",\n          \"last_name\": \"Bigcommerce\",\n          \"phone\": \"5122134567\",\n          \"postal_code\": \"78726\",\n          \"state_or_province\": \"Texas\",\n          \"form_fields\": []\n        },\n        {\n          \"id\": 40,\n          \"address1\": \"111 E West Street\",\n          \"address2\": \"654\",\n          \"address_type\": \"residential\",\n          \"city\": \"Akron\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 11,\n          \"first_name\": \"John\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"44325\",\n          \"state_or_province\": \"Ohio\",\n          \"form_fields\": []\n        }\n      ],\n      \"attributes\": [\n        {\n          \"id\": 1,\n          \"customer_id\": 11,\n          \"attribute_id\": 1,\n          \"attribute_value\": \"52\",\n          \"date_created\": \"2018-11-14T18:58:08Z\",\n          \"date_modified\": \"2019-02-19T19:26:21Z\"\n        }\n      ],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 0,\n      \"email\": \"janedoe@email.com\",\n      \"first_name\": \"Jane\",\n      \"last_name\": \"Doe\",\n      \"notes\": \"\",\n      \"phone\": \"1234567890\",\n      \"registration_ip_address\": \"\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-09-05T13:43:54Z\",\n      \"date_modified\": \"2019-02-19T17:26:17Z\",\n      \"attribute_count\": 1,\n      \"form_fields\": [\n        {\n          \"name\": \"AccountSignUpField\",\n          \"value\": \"345678ABC\"\n        }\n      ],\n      \"store_credit\": 0\n    },\n    {\n      \"id\": 14,\n      \"address_count\": 1,\n      \"addresses\": [\n        {\n          \"id\": 24,\n          \"address1\": \"St Katharine's & Wapping\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"London\",\n          \"company\": \"\",\n          \"country\": \"United Kingdom\",\n          \"country_code\": \"GB\",\n          \"customer_id\": 14,\n          \"first_name\": \"Nathaniel\",\n          \"last_name\": \"Hornblower\",\n          \"phone\": \"5122134567\",\n          \"postal_code\": \"EC3N 4AB\",\n          \"state_or_province\": \"UK\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 0,\n      \"email\": \"nathanielhornblower@testing.com\",\n      \"first_name\": \"Nathaniel\",\n      \"last_name\": \"Hornblower\",\n      \"notes\": \"\",\n      \"phone\": \"123456788900\",\n      \"registration_ip_address\": \"64.183.182.114\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-11-13T17:55:36Z\",\n      \"date_modified\": \"2018-11-13T17:55:36Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [\n        {\n          \"name\": \"AccountSignUpField\",\n          \"value\": \"\"\n        }\n      ],\n      \"store_credit\": 0\n    },\n    {\n      \"id\": 15,\n      \"address_count\": 3,\n      \"addresses\": [\n        {\n          \"id\": 25,\n          \"address1\": \"221B Baker Street\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"London\",\n          \"company\": \"\",\n          \"country\": \"United Kingdom\",\n          \"country_code\": \"GB\",\n          \"customer_id\": 15,\n          \"first_name\": \"Patricia\",\n          \"last_name\": \"Moriarty\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"NW1 5LR\",\n          \"state_or_province\": \"UK\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        },\n        {\n          \"id\": 33,\n          \"address1\": \"161 Sajik-ro\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Seoul\",\n          \"company\": \"\",\n          \"country\": \"Korea, Republic of\",\n          \"country_code\": \"KR\",\n          \"customer_id\": 15,\n          \"first_name\": \"Patricia\",\n          \"last_name\": \"Moriarty\",\n          \"phone\": \"5121234567\",\n          \"postal_code\": \"Jongno-gu\",\n          \"state_or_province\": \"Sejongno\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        },\n        {\n          \"id\": 34,\n          \"address1\": \"161 Sajik-ro\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Seoul\",\n          \"company\": \"\",\n          \"country\": \"Korea, Republic of\",\n          \"country_code\": \"KR\",\n          \"customer_id\": 15,\n          \"first_name\": \"Patricia\",\n          \"last_name\": \"Moriarty\",\n          \"phone\": \"5121234567\",\n          \"postal_code\": \"Jongno-gu\",\n          \"state_or_province\": \"Sejongno\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 0,\n      \"email\": \"patriciamoriarty@test.com\",\n      \"first_name\": \"Patricia\",\n      \"last_name\": \"Moriarty\",\n      \"notes\": \"\",\n      \"phone\": \"5122134567\",\n      \"registration_ip_address\": \"64.183.182.114\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-11-13T17:57:33Z\",\n      \"date_modified\": \"2018-11-13T17:57:33Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [\n        {\n          \"name\": \"AccountSignUpField\",\n          \"value\": \"\"\n        }\n      ],\n      \"store_credit\": 0\n    },\n    {\n      \"id\": 18,\n      \"address_count\": 1,\n      \"addresses\": [\n        {\n          \"id\": 27,\n          \"address1\": \"Mauna Kea Access Rd\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Hilo\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 18,\n          \"first_name\": \"Dwayne\",\n          \"last_name\": \"Cole\",\n          \"phone\": \"8081234567\",\n          \"postal_code\": \"96720\",\n          \"state_or_province\": \"Hawaii\",\n          \"form_fields\": []\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 5,\n      \"email\": \"dwaynecole@testing.com\",\n      \"first_name\": \"Dwayne\",\n      \"last_name\": \"Cole\",\n      \"notes\": \"\",\n      \"phone\": \"1234567890\",\n      \"registration_ip_address\": \"\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-11-13T18:38:31Z\",\n      \"date_modified\": \"2019-01-29T20:41:52Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [],\n      \"store_credit\": 0\n    },\n    {\n      \"id\": 19,\n      \"address_count\": 1,\n      \"addresses\": [\n        {\n          \"id\": 28,\n          \"address1\": \"Rue de Rivoli\",\n          \"address2\": \"\",\n          \"address_type\": \"commercial\",\n          \"city\": \"Paris\",\n          \"company\": \"\",\n          \"country\": \"France\",\n          \"country_code\": \"FR\",\n          \"customer_id\": 19,\n          \"first_name\": \"Caden\",\n          \"last_name\": \"Whitfield\",\n          \"phone\": \"+33(0)140205050\",\n          \"postal_code\": \"75001\",\n          \"state_or_province\": \"France\",\n          \"form_fields\": []\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 7,\n      \"email\": \"cadenwhitfield@testing.com\",\n      \"first_name\": \"Caden\",\n      \"last_name\": \"Whitfield\",\n      \"notes\": \"\",\n      \"phone\": \"1234567890\",\n      \"registration_ip_address\": \"\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-11-13T20:41:18Z\",\n      \"date_modified\": \"2019-02-12T17:47:47Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [],\n      \"store_credit\": 0\n    },\n    {\n      \"id\": 20,\n      \"address_count\": 2,\n      \"addresses\": [\n        {\n          \"id\": 29,\n          \"address1\": \"5555 Hermann Park Dr\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Houston\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 20,\n          \"first_name\": \"Alice\",\n          \"last_name\": \"Golightly\",\n          \"phone\": \"8901234564\",\n          \"postal_code\": \"77030\",\n          \"state_or_province\": \"Texas\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"\"\n            }\n          ]\n        },\n        {\n          \"id\": 32,\n          \"address1\": \"11305 4 Points Drive\",\n          \"address2\": \"\",\n          \"address_type\": \"residential\",\n          \"city\": \"Austin\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 20,\n          \"first_name\": \"Testing\",\n          \"last_name\": \"Bigcommerce\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"78726\",\n          \"state_or_province\": \"Texas\",\n          \"form_fields\": [\n            {\n              \"name\": \"Delivery Instructions\",\n              \"value\": \"11305 4 Points Drive\"\n            }\n          ]\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": false\n      },\n      \"company\": \"\",\n      \"customer_group_id\": 5,\n      \"email\": \"golightly5@testing.com\",\n      \"first_name\": \"Alice\",\n      \"last_name\": \"Golightly\",\n      \"notes\": \"\",\n      \"phone\": \"1234567840\",\n      \"registration_ip_address\": \"\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2018-11-13T20:42:16Z\",\n      \"date_modified\": \"2019-01-29T20:41:47Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [],\n      \"store_credit\": 10\n    },\n    {\n      \"id\": 23,\n      \"address_count\": 2,\n      \"addresses\": [\n        {\n          \"id\": 38,\n          \"address1\": \"Bennelong Point \",\n          \"address2\": \"\",\n          \"address_type\": \"commercial\",\n          \"city\": \"Sydney\",\n          \"company\": \"\",\n          \"country\": \"Australia\",\n          \"country_code\": \"AU\",\n          \"customer_id\": 23,\n          \"first_name\": \"John\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"2000\",\n          \"state_or_province\": \"New South Wales\",\n          \"form_fields\": []\n        },\n        {\n          \"id\": 39,\n          \"address1\": \"111 E West Street\",\n          \"address2\": \"654\",\n          \"address_type\": \"residential\",\n          \"city\": \"Akron\",\n          \"company\": \"\",\n          \"country\": \"United States\",\n          \"country_code\": \"US\",\n          \"customer_id\": 23,\n          \"first_name\": \"John\",\n          \"last_name\": \"Doe\",\n          \"phone\": \"1234567890\",\n          \"postal_code\": \"44325\",\n          \"state_or_province\": \"Ohio\",\n          \"form_fields\": []\n        }\n      ],\n      \"attributes\": [],\n      \"authentication\": {\n        \"force_password_reset\": true\n      },\n      \"company\": \"BigCommerce\",\n      \"customer_group_id\": 5,\n      \"email\": \"johndoe@email.com\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"notes\": \"Warehouse\",\n      \"phone\": \"1234567890\",\n      \"registration_ip_address\": \"123.4.56.789\",\n      \"tax_exempt_category\": \"\",\n      \"date_created\": \"2019-02-19T18:34:16Z\",\n      \"date_modified\": \"2019-02-19T18:34:16Z\",\n      \"attribute_count\": 0,\n      \"form_fields\": [],\n      \"store_credit\": 0\n    }\n  ],\n  \"meta\": {\n    \"pagination\": {\n      \"total\": 7,\n      \"count\": 7,\n      \"per_page\": 50,\n      \"current_page\": 1,\n      \"total_pages\": 1\n    }\n  }\n}"
            },
            "description": "Customer Collection Response"
          }
        }
      },
      "post": {
        "description": "Creates a [*Customers*](/api-reference/customer-subscribers/v3-customers-api/models/customer). Multiple customers can be created in one call.\n\n**Required Fields**\n* last_name\n* first_name\n* email\n\n**Required Fields Customer Address**\n* first_name\n* city\n* country_code\n* state_or_province\n* last_name\n* address1\n* postal_code\n\n**Required Fields Attributes**\n* Attributes must be [created](https://developer.bigcommerce.com/api-reference/customer-subscribers/v3-customers-api/customer-attributes/customersattributespost) **BEFORE** creating a customer.\n* attribute_id\n* attribute_value -- This is input as a string, regardless of the [Type](/api-reference/customer-subscribers/v3-customers-api/models/type).",
        "summary": "Create a Customer",
        "tags": [
          "Customers"
        ],
        "operationId": "CustomersPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "title": "Customer Post",
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The email of the customer. Must be unique.",
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 255
                  },
                  "first_name": {
                    "description": "The first name of the customer.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "last_name": {
                    "description": "The last name of the customer.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "company": {
                    "description": "The company of the customer.",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 255
                  },
                  "phone": {
                    "description": "The phone number of the customer.",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 50
                  },
                  "notes": {
                    "description": "The customer notes.",
                    "type": "string"
                  },
                  "tax_exempt_category": {
                    "description": "The tax exempt category code for the customer.",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 255
                  },
                  "customer_group_id": {
                    "description": "Id of the group which this customer belongs to.",
                    "type": "integer",
                    "format": "int32"
                  },
                  "addresses": {
                    "description": "Array of customer addresses. Limited to 10",
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "title": "Address For Customer",
                      "example": {
                        "address1": "Addr 1",
                        "address2": "",
                        "address_type": "residential",
                        "city": "San Francisco",
                        "company": "History",
                        "country_code": "US",
                        "first_name": "Ronald",
                        "last_name": "Swimmer",
                        "phone": "707070707",
                        "postal_code": "33333",
                        "state_or_province": "California"
                      },
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "description": "The first name of the customer address.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "last_name": {
                          "description": "The last name of the customer address.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "company": {
                          "description": "The company of the customer address.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 255
                        },
                        "address1": {
                          "description": "The address 1 line.",
                          "type": "string"
                        },
                        "address2": {
                          "description": "The address 2 line.",
                          "type": "string"
                        },
                        "city": {
                          "description": "The city of the customer address.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 100
                        },
                        "state_or_province": {
                          "description": "The state or province name",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 100
                        },
                        "postal_code": {
                          "description": "The postal code of the customer address.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 30
                        },
                        "country_code": {
                          "description": "The country code of the customer address.",
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        "phone": {
                          "description": "The phone number of the customer address.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 50
                        },
                        "address_type": {
                          "title": "Address Type",
                          "description": "The address type. Residential or Commercial",
                          "example": "residential",
                          "type": "string",
                          "enum": [
                            "residential",
                            "commercial"
                          ]
                        }
                      },
                      "required": [
                        "first_name",
                        "last_name",
                        "address1",
                        "city",
                        "state_or_province",
                        "postal_code",
                        "country_code"
                      ]
                    }
                  },
                  "attributes": {
                    "description": "Array of customer attributes. Limited to 10",
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "title": "Customer Attribute Value For Customer",
                      "example": {
                        "attribute_id": 55,
                        "value": "string value"
                      },
                      "type": "object",
                      "properties": {
                        "attribute_id": {
                          "description": "Attribute ID.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "attribute_value": {
                          "description": "Attribute value. This will always be a string, regardless of the attributes type.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "attribute_id",
                        "attribute_value"
                      ]
                    }
                  },
                  "authentication": {
                    "title": "Customer Authentication",
                    "type": "object",
                    "properties": {
                      "force_password_reset": {
                        "description": "If `true`, this customer will be forced to change password on next login.",
                        "type": "boolean"
                      },
                      "new_password": {
                        "description": "New password for customer. Write only field",
                        "type": "string"
                      }
                    }
                  },
                  "accepts_product_review_abandoned_cart_emails": {
                    "type": "boolean",
                    "description": "It determines if the customer is signed up to receive either product review or abandoned cart emails or recieve both emails."
                  },
                  "store_credit_amounts": {
                    "description": "Store credit. ",
                    "type": "array",
                    "format": "double",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "example": 43.15
                        }
                      }
                    }
                  }
                },
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ]
              }
            },
            "x-examples": {
              "application/json": [
                {
                  "email": "johndoe@email.com",
                  "first_name": "John",
                  "last_name": "Doe",
                  "company": "BigCommerce",
                  "phone": "1234567890",
                  "notes": "Warehouse",
                  "customer_group_id": 5,
                  "addresses": [
                    {
                      "first_name": "John",
                      "last_name": "Doe",
                      "address1": "Bennelong Point ",
                      "city": "Sydney",
                      "state_or_province": "New South Wales",
                      "postal_code": "2000",
                      "country_code": "AU",
                      "phone": "1234567890",
                      "address_type": "commercial"
                    },
                    {
                      "first_name": "John",
                      "last_name": "Doe",
                      "address1": "111 E West Street",
                      "address2": "654",
                      "city": "Akron",
                      "state_or_province": "Ohio",
                      "postal_code": "44325",
                      "country_code": "US",
                      "phone": "1234567890",
                      "address_type": "residential"
                    }
                  ],
                  "attributes": [
                    {
                      "attribute_id": 1,
                      "attribute_value": "45"
                    },
                    {
                      "attribute_id": 2,
                      "attribute_value": 12
                    }
                  ],
                  "authentication": {
                    "force_password_reset": true,
                    "new_password": "tempPassword1"
                  }
                }
              ]
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Response",
            "schema": {
              "title": "CustomersResponse",
              "description": "Response payload for the BigCommerce API.",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "title": "Customer",
                    "type": "object",
                    "properties": {
                      "email": {
                        "description": "The email of the customer. Must be unique.",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 255
                      },
                      "first_name": {
                        "description": "The first name of the customer.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "last_name": {
                        "description": "The last name of the customer.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "company": {
                        "description": "The company of the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 255
                      },
                      "phone": {
                        "description": "The phone number of the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 50
                      },
                      "registration_ip_address": {
                        "description": "The IP address from which this customer was registered.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 30
                      },
                      "notes": {
                        "description": "The customer notes.",
                        "type": "string"
                      },
                      "tax_exempt_category": {
                        "description": "The tax exempt category code for the customer.",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 255
                      },
                      "customer_group_id": {
                        "description": "Id of the group which this customer belongs to.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "id": {
                        "description": "The unique numeric ID of the customer.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "date_modified": {
                        "description": "The date on which the customer was modified.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "date_created": {
                        "description": "The date of which the customer was created.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "address_count": {
                        "description": "Total number of customer addresses",
                        "type": "integer",
                        "format": "int32"
                      },
                      "attribute_count": {
                        "description": "Total number of customer attributes",
                        "type": "integer",
                        "format": "int32"
                      },
                      "authentication": {
                        "title": "Customer Authentication Base",
                        "example": {
                          "force_password_reset": true
                        },
                        "type": "object",
                        "properties": {
                          "force_password_reset": {
                            "description": "If `true`, this customer will be forced to change password on next login.",
                            "type": "boolean"
                          }
                        }
                      },
                      "addresses": {
                        "description": "Array of customer addresses. Limited to 10",
                        "type": "array",
                        "maxItems": 10,
                        "items": {
                          "title": "Address",
                          "type": "object",
                          "properties": {
                            "first_name": {
                              "description": "The first name of the customer address.",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "last_name": {
                              "description": "The last name of the customer address.",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "company": {
                              "description": "The company of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 255
                            },
                            "address1": {
                              "description": "The address 1 line.",
                              "type": "string"
                            },
                            "address2": {
                              "description": "The address 2 line.",
                              "type": "string"
                            },
                            "city": {
                              "description": "The city of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 100
                            },
                            "state_or_province": {
                              "description": "The state or province name",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 100
                            },
                            "postal_code": {
                              "description": "The postal code of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 30
                            },
                            "country_code": {
                              "description": "The country code of the customer address.",
                              "type": "string",
                              "minLength": 2,
                              "maxLength": 2
                            },
                            "phone": {
                              "description": "The phone number of the customer address.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 50
                            },
                            "address_type": {
                              "title": "Address Type",
                              "description": "The address type. Residential or Commercial",
                              "example": "residential",
                              "type": "string",
                              "enum": [
                                "residential",
                                "commercial"
                              ]
                            },
                            "customer_id": {
                              "description": "The customer ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "description": "The unique numeric ID of the address.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "country": {
                              "description": "The country name of the customer address.",
                              "type": "string"
                            },
                            "form_fields": {
                              "description": "Array of form fields. Controlled by `formfields` parameter.",
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "title": "Form Field Value Base",
                                        "required": [
                                          "name",
                                          "value"
                                        ],
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "The form field name.",
                                            "example": "color"
                                          },
                                          "value": {
                                            "oneOf": [
                                              {
                                                "type": "string",
                                                "example": "blue"
                                              },
                                              {
                                                "type": "number",
                                                "format": "double",
                                                "example": 12.345
                                              },
                                              {
                                                "type": "array",
                                                "example": [
                                                  "red",
                                                  "green",
                                                  "black"
                                                ],
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "customer_id": {
                                            "type": "integer"
                                          }
                                        },
                                        "required": [
                                          "customer_id"
                                        ]
                                      }
                                    ],
                                    "title": "Customer Form Field Value"
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "title": "Form Field Value Base",
                                        "required": [
                                          "name",
                                          "value"
                                        ],
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "description": "The form field name.",
                                            "example": "color"
                                          },
                                          "value": {
                                            "oneOf": [
                                              {
                                                "type": "string",
                                                "example": "blue"
                                              },
                                              {
                                                "type": "number",
                                                "format": "double",
                                                "example": 12.345
                                              },
                                              {
                                                "type": "array",
                                                "example": [
                                                  "red",
                                                  "green",
                                                  "black"
                                                ],
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "address_id": {
                                            "type": "integer",
                                            "description": "The Customer Address ID."
                                          }
                                        },
                                        "required": [
                                          "address_id"
                                        ]
                                      }
                                    ],
                                    "title": "Customer Address Form Field Value"
                                  }
                                ],
                                "title": "Form Field Value "
                              }
                            }
                          },
                          "required": [
                            "first_name",
                            "last_name",
                            "address1",
                            "city",
                            "state_or_province",
                            "postal_code",
                            "country_code",
                            "customer_id",
                            "id"
                          ]
                        }
                      },
                      "attributes": {
                        "description": "Array of customer attributes. Limited to 10",
                        "type": "array",
                        "maxItems": 10,
                        "items": {
                          "title": "Customer Attribute Value",
                          "type": "object",
                          "properties": {
                            "attribute_id": {
                              "description": "Attribute ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "value": {
                              "description": "Attribute value. This will always be a string, regardless of the attributes type.",
                              "type": "string",
                              "minLength": 0,
                              "maxLength": 255
                            },
                            "id": {
                              "description": "Attribute value ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "customer_id": {
                              "description": "Customer ID.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "date_modified": {
                              "description": "The date on which the customer attribute value was modified.",
                              "type": "string",
                              "format": "date-time"
                            },
                            "date_created": {
                              "description": "The date of which the customer attribute value was created.",
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "attribute_id",
                            "value",
                            "customer_id"
                          ]
                        }
                      },
                      "form_fields": {
                        "description": "Array of form fields. Controlled by `formfields` parameter.",
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "allOf": [
                                {
                                  "type": "object",
                                  "title": "Form Field Value Base",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The form field name.",
                                      "example": "color"
                                    },
                                    "value": {
                                      "oneOf": [
                                        {
                                          "type": "string",
                                          "example": "blue"
                                        },
                                        {
                                          "type": "number",
                                          "format": "double",
                                          "example": 12.345
                                        },
                                        {
                                          "type": "array",
                                          "example": [
                                            "red",
                                            "green",
                                            "black"
                                          ],
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "customer_id": {
                                      "type": "integer"
                                    }
                                  },
                                  "required": [
                                    "customer_id"
                                  ]
                                }
                              ],
                              "title": "Customer Form Field Value"
                            },
                            {
                              "allOf": [
                                {
                                  "type": "object",
                                  "title": "Form Field Value Base",
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The form field name.",
                                      "example": "color"
                                    },
                                    "value": {
                                      "oneOf": [
                                        {
                                          "type": "string",
                                          "example": "blue"
                                        },
                                        {
                                          "type": "number",
                                          "format": "double",
                                          "example": 12.345
                                        },
                                        {
                                          "type": "array",
                                          "example": [
                                            "red",
                                            "green",
                                            "black"
                                          ],
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "address_id": {
                                      "type": "integer",
                                      "description": "The Customer Address ID."
                                    }
                                  },
                                  "required": [
                                    "address_id"
                                  ]
                                }
                              ],
                              "title": "Customer Address Form Field Value"
                            }
                          ],
                          "title": "Form Field Value "
                        }
                      },
                      "store_credit_amounts": {
                        "description": "Store credit. ",
                        "type": "array",
                        "format": "double",
                        "items": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "format": "float",
                              "example": 43.18
                            }
                          }
                        }
                      },
                      "accepts_product_review_abandoned_cart_emails": {
                        "type": "boolean",
                        "description": "It determines if the customer is signed up to receive either product review or abandoned cart emails or recieve both emails."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 23,
                    "address_count": 2,
                    "addresses": [
                      {
                        "id": 38,
                        "address1": "Bennelong Point ",
                        "address2": "",
                        "address_type": "commercial",
                        "city": "Sydney",
                        "company": "",
                        "country": "Australia",
                        "country_code": "AU",
                        "customer_id": 23,
                        "first_name": "John",
                        "last_name": "Doe",
                        "phone": "1234567890",
                        "postal_code": "2000",
                        "state_or_province": "New South Wales"
                      },
                      {
                        "id": 39,
                        "address1": "111 E West Street",
                        "address2": "654",
                        "address_type": "residential",
                        "city": "Akron",
                        "company": "",
                        "country": "United States",
                        "country_code": "US",
                        "customer_id": 23,
                        "first_name": "John",
                        "last_name": "Doe",
                        "phone": "1234567890",
                        "postal_code": "44325",
                        "state_or_province": "Ohio"
                      }
                    ],
                    "authentication": {
                      "force_password_reset": true
                    },
                    "company": "BigCommerce",
                    "customer_group_id": 5,
                    "email": "johndoe@email.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "notes": "Warehouse",
                    "phone": "1234567890",
                    "registration_ip_address": "123.4.56.789",
                    "tax_exempt_category": "",
                    "date_created": "2019-02-19T18:34:16Z",
                    "date_modified": "2019-02-19T18:34:16Z"
                  }
                ],
                "meta": {}
              },
              "with include": "{\n    \"data\": [\n        {\n            \"id\": 11,\n            \"address_count\": 8,\n            \"addresses\": [\n                {\n                    \"id\": 16,\n                    \"address1\": \"555 East Street\",\n                    \"address2\": \"\",\n                    \"address_type\": \"residential\",\n                    \"city\": \"Austin\",\n                    \"company\": \"\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Jane\",\n                    \"last_name\": \"Doe\",\n                    \"phone\": \"1234567890\",\n                    \"postal_code\": \"78108\",\n                    \"state_or_province\": \"Texas\",\n                    \"form_fields\": [\n                        {\n                            \"name\": \"Delivery Instructions\",\n                            \"value\": \"Leave in backyard\"\n                        }\n                    ]\n                },\n                {\n                    \"id\": 23,\n                    \"address1\": \"111 E West Street\",\n                    \"address2\": \"654\",\n                    \"address_type\": \"commercial\",\n                    \"city\": \"Akron\",\n                    \"company\": \"BigCommerce\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Jane\",\n                    \"last_name\": \"Doe\",\n                    \"phone\": \"1234567890\",\n                    \"postal_code\": \"44325\",\n                    \"state_or_province\": \"Ohio\",\n                    \"form_fields\": [\n                        {\n                            \"name\": \"Delivery Instructions\",\n                            \"value\": \"\"\n                        }\n                    ]\n                },\n                {\n                    \"id\": 30,\n                    \"address1\": \"122 First Street\",\n                    \"address2\": \"\",\n                    \"address_type\": \"residential\",\n                    \"city\": \"Austin\",\n                    \"company\": \"\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Jon\",\n                    \"last_name\": \"Doe\",\n                    \"phone\": \"6789012345\",\n                    \"postal_code\": \"78726\",\n                    \"state_or_province\": \"Texas\",\n                    \"form_fields\": []\n                },\n                {\n                    \"id\": 46,\n                    \"address1\": \"666 Sussex St\",\n                    \"address2\": \"\",\n                    \"address_type\": \"residential\",\n                    \"city\": \"Anywhere\",\n                    \"company\": \"Acme Pty Ltd\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Trishy\",\n                    \"last_name\": \"Test\",\n                    \"phone\": \"\",\n                    \"postal_code\": \"12345\",\n                    \"state_or_province\": \"Some State\",\n                    \"form_fields\": []\n                },\n                {\n                    \"id\": 55,\n                    \"address1\": \"123 Main Street\",\n                    \"address2\": \"\",\n                    \"address_type\": \"commercial\",\n                    \"city\": \"Austin\",\n                    \"company\": \"BigCommerce\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Jane\",\n                    \"last_name\": \"Doe\",\n                    \"phone\": \"123-345-7890\",\n                    \"postal_code\": \"78726\",\n                    \"state_or_province\": \"Texas\",\n                    \"form_fields\": []\n                },\n                {\n                    \"id\": 56,\n                    \"address1\": \"2234 Main Street\",\n                    \"address2\": \"\",\n                    \"address_type\": \"residential\",\n                    \"city\": \"Austin\",\n                    \"company\": \"BigCommerce\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_id\": 11,\n                    \"first_name\": \"Jane\",\n                    \"last_name\": \"Doe\",\n                    \"phone\": \"123-345-7890\",\n                    \"postal_code\": \"78726\",\n                    \"state_or_province\": \"Texas\",\n                    \"form_fields\": []\n                },\n                {\n                    \"id\": 59,\n                    \"address1\": \"122 First Street\",\n                    \"address2\": \"\",\n                    \"address_type\": \"residential\",\n                    \"city\": \"Austin\",\n                    \"company\": \"\",\n                    \"country\": \"United States\",\n                    \"country_code\": \"US\",\n                    \"customer_
[...]
