{
  "swagger": "2.0",
  "info": {
    "title": "Catalog APIs",
    "version": "",
    "description": "### Catalog\n\nThe Catalog API manages products, brands and categories for a store. To learn more about the Catalog resources see [Catalog Products](https://developer.bigcommerce.com/api-docs/catalog/products-overview) and [Categories](https://developer.bigcommerce.com/api-docs/catalog/products-overview#products-overview_categories).",
    "termsOfService": "",
    "license": {
      "name": ""
    }
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "tags": [
    {
      "name": "Catalog"
    },
    {
      "name": "Products"
    },
    {
      "name": "Product Metafields"
    },
    {
      "name": "Product Bulk Pricing Rules"
    },
    {
      "name": "Product Custom Fields"
    },
    {
      "name": "Product Images"
    },
    {
      "name": "Product Variant Options"
    },
    {
      "name": "Product Variant Option Values"
    },
    {
      "name": "Product Variants"
    },
    {
      "name": "Product Variants Metafields"
    },
    {
      "name": "Product Modifiers"
    },
    {
      "name": "Product Modifier Values"
    },
    {
      "name": "Product Modifier Images"
    },
    {
      "name": "Product Complex Rules"
    },
    {
      "name": "Product Reviews"
    },
    {
      "name": "Product Videos"
    },
    {
      "name": "Brands"
    },
    {
      "name": "Brand Metafields"
    },
    {
      "name": "Brand Images"
    },
    {
      "name": "Category"
    },
    {
      "name": "Category Metafields"
    },
    {
      "name": "Category Images"
    },
    {
      "name": "Variants"
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/catalog/products": {
      "get": {
        "description": "Returns a list of **Products**. Optional filter parameters can be passed in.",
        "operationId": "getProducts",
        "parameters": [
          {
            "name": "id",
            "description": "Filter items by id.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "name",
            "description": "Filter items by name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "sku",
            "description": "Filter items by sku.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "upc",
            "description": "Filter items by upc.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "price",
            "description": "Filter items by price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "weight",
            "description": "Filter items by weight.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "condition",
            "description": "Filter items by condition.\n",
            "required": false,
            "in": "query",
            "type": "integer",
            "enum": [
              "new",
              "used",
              "refurbished"
            ]
          },
          {
            "name": "brand_id",
            "description": "Filter items by brand_id.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "date_modified",
            "description": "Filter items by date_modified. For example `v3/catalog/products?date_modified:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_last_imported",
            "description": "Filter items by date_last_imported. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "is_visible",
            "description": "Filter items by if visible on the storefront. ",
            "required": false,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "is_featured",
            "description": "Filter items by is_featured.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "is_free_shipping",
            "description": "Filter items by is_free_shipping.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "inventory_level",
            "description": "Filter items by inventory_level.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "inventory_low",
            "description": "Filter items by inventory_low. Values: 1, 0.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "out_of_stock",
            "description": "Filter items by out_of_stock. To enable the filter, pass `out_of_stock`=`1`.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "total_sold",
            "description": "Filter items by total_sold.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "type",
            "description": "Filter items by type: `physical` or `digital`.",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "digital",
              "physical"
            ]
          },
          {
            "name": "categories",
            "description": "Filter items by categories.\n If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "keyword",
            "description": "Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "keyword_context",
            "description": "Set context for a product search.",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "shopper",
              "merchant"
            ]
          },
          {
            "name": "status",
            "description": "Filter items by status.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "include",
            "description": "Sub-resources to include on a product, in a comma-separated list. If `options` or `modifiers` is used, results are limited to 10 per page.",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "variants",
              "images",
              "custom_fields",
              "bulk_pricing_rules",
              "primary_image",
              "modifiers",
              "options",
              "videos"
            ]
          },
          {
            "name": "include_fields",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned.",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "exclude_fields",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "availability",
            "description": "Filter items by availability. Values are: available, disabled, preorder.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "available",
              "disabled",
              "preorder"
            ]
          },
          {
            "name": "price_list_id",
            "description": "This filter returns the product pricing with the *Price List* pricing instead. To use: \n`?price_list_id=1`.\nIf there are variants use:\n`?price_list_id=1&include=variants`",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "page",
            "description": "Specifies the page number in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Controls the number of items per page in a limited (paginated) list of products.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "direction",
            "description": "Sort direction. Acceptable values are: `asc`, `desc`.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "sort",
            "description": "Field name to sort by.\n",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "id",
              "name",
              "sku",
              "price",
              "date_modified",
              "date_last_imported",
              "inventory_level",
              "is_visible",
              "total_sold"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Product"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/CollectionMeta"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 174,
                    "name": "1L Le Parfait Jar",
                    "type": "physical",
                    "sku": "",
                    "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 7.95,
                    "cost_price": 0,
                    "retail_price": 10,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 7.95,
                    "categories": [
                      23,
                      21
                    ],
                    "brand_id": 36,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 7,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "jar, glass",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:46+00:00",
                    "date_modified": "2018-09-05T20:42:07+00:00",
                    "view_count": 10,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/1l-le-parfait-jar/",
                      "is_customized": true
                    },
                    "base_variant_id": 345,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 345,
                        "product_id": 174,
                        "sku": "",
                        "sku_id": {},
                        "price": 7.95,
                        "calculated_price": 7.95,
                        "sale_price": 0,
                        "retail_price": 10,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/174/images/425/leparfaitmedium3_1024x1024_1024x1024__37756__81924.1534344526.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 167,
                    "name": "Able Brewing System",
                    "type": "physical",
                    "sku": "",
                    "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 225,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 225,
                    "categories": [
                      23,
                      21
                    ],
                    "brand_id": 43,
                    "option_set_id": 52,
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 2,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:36+00:00",
                    "date_modified": "2018-08-20T15:11:17+00:00",
                    "view_count": 21,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/able-brewing-system/",
                      "is_customized": true
                    },
                    "base_variant_id": 338,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 338,
                        "product_id": 167,
                        "sku": "",
                        "sku_id": {},
                        "price": 225,
                        "calculated_price": 225,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/167/images/398/ablebrewingsystem4_1024x1024__07155__93974.1534344516.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 181,
                    "name": "All Purpose Cleaner",
                    "type": "physical",
                    "sku": "",
                    "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 15,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 15,
                    "categories": [
                      21,
                      22
                    ],
                    "brand_id": 37,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 0,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:51+00:00",
                    "date_modified": "2018-08-15T15:01:15+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/all-purpose-cleaner/",
                      "is_customized": true
                    },
                    "base_variant_id": 352,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 352,
                        "product_id": 181,
                        "sku": "",
                        "sku_id": {},
                        "price": 15,
                        "calculated_price": 15,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/181/images/442/CommonGoodAllPurposeCleaner_d37aa1e8_e16f_4309_bddd_8fae0d94efc7_1024x1024__40180__66527.1534344531.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 193,
                    "name": "BigCommerce Coffee Mug",
                    "type": "physical",
                    "sku": "",
                    "description": "",
                    "weight": 4,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 10,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 10,
                    "categories": [
                      21
                    ],
                    "brand_id": 38,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 0,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-09-05T20:19:06+00:00",
                    "date_modified": "2018-09-05T20:19:06+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/bigcommerce-coffee-mug/",
                      "is_customized": false
                    },
                    "base_variant_id": 385,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 385,
                        "product_id": 193,
                        "sku": "",
                        "sku_id": {},
                        "price": 10,
                        "calculated_price": 10,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 4,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 4,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 194,
                    "name": "BigCommerce Coffee Mug_2",
                    "type": "physical",
                    "sku": "",
                    "description": "",
                    "weight": 3,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 11,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 11,
                    "categories": [
                      21
                    ],
                    "brand_id": 38,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 0,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-09-05T20:20:47+00:00",
                    "date_modified": "2018-09-05T20:20:47+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/bigcommerce-coffee-mug_2/",
                      "is_customized": false
                    },
                    "base_variant_id": 386,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 386,
                        "product_id": 194,
                        "sku": "",
                        "sku_id": {},
                        "price": 11,
                        "calculated_price": 11,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 3,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 3,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 195,
                    "name": "BigCommerce Coffee Mug_3",
                    "type": "physical",
                    "sku": "",
                    "description": "",
                    "weight": 3,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 11,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 11,
                    "categories": [
                      21
                    ],
                    "brand_id": 38,
                    "option_set_id": 50,
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 0,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-09-05T20:22:19+00:00",
                    "date_modified": "2018-09-07T20:01:26+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/bigcommerce-coffee-mug_3/",
                      "is_customized": false
                    },
                    "base_variant_id": {},
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 388,
                        "product_id": 195,
                        "sku": "SKU-4484A834",
                        "sku_id": 351,
                        "price": {},
                        "calculated_price": 11,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 3,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 174,
                            "label": "Beige",
                            "option_id": 221,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 389,
                        "product_id": 195,
                        "sku": "SKU-9E932372",
                        "sku_id": 352,
                        "price": {},
                        "calculated_price": 11,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 3,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 175,
                            "label": "Grey",
                            "option_id": 221,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 390,
                        "product_id": 195,
                        "sku": "SKU-29CE333F",
                        "sku_id": 353,
                        "price": {},
                        "calculated_price": 11,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 3,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 176,
                            "label": "Black",
                            "option_id": 221,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 391,
                        "product_id": 195,
                        "sku": "SKU-02FBF02A",
                        "sku_id": 354,
                        "price": {},
                        "calculated_price": 11,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 3,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 189,
                            "label": "Black-Walnut",
                            "option_id": 221,
                            "option_display_name": "Color"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "id": 184,
                    "name": "Canvas Laundry Cart",
                    "type": "physical",
                    "sku": "",
                    "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                    "weight": 15,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 249,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 249,
                    "categories": [
                      23,
                      22
                    ],
                    "brand_id": 36,
                    "option_set_id": 51,
                    "option_set_display": "right",
                    "inventory_level": 1497,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "variant",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 6,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:53+00:00",
                    "date_modified": "2018-08-28T19:02:11+00:00",
                    "view_count": 22,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/canvas-laundry-cart/",
                      "is_customized": true
                    },
                    "base_variant_id": {},
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 364,
                        "product_id": 184,
                        "sku": "SMA-RED",
                        "sku_id": 330,
                        "price": 15.99,
                        "calculated_price": 15.99,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": 15,
                        "calculated_weight": 15,
                        "width": 4,
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 497,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 177,
                            "label": "Small",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 180,
                            "label": "Red",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 365,
                        "product_id": 184,
                        "sku": "MED-RED",
                        "sku_id": 331,
                        "price": 555,
                        "calculated_price": 555,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 500,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 178,
                            "label": "Medium",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 180,
                            "label": "Red",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 366,
                        "product_id": 184,
                        "sku": "LAR-RED",
                        "sku_id": 332,
                        "price": {},
                        "calculated_price": 253.99,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 500,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 179,
                            "label": "Large",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 180,
                            "label": "Red",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 367,
                        "product_id": 184,
                        "sku": "SMA-GRE",
                        "sku_id": 333,
                        "price": {},
                        "calculated_price": 249,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 177,
                            "label": "Small",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 181,
                            "label": "Green",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 368,
                        "product_id": 184,
                        "sku": "MED-GRE",
                        "sku_id": 334,
                        "price": {},
                        "calculated_price": 249,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 178,
                            "label": "Medium",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 181,
                            "label": "Green",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 369,
                        "product_id": 184,
                        "sku": "LAR-GRE",
                        "sku_id": 335,
                        "price": {},
                        "calculated_price": 253.99,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 179,
                            "label": "Large",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 181,
                            "label": "Green",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 370,
                        "product_id": 184,
                        "sku": "SMA-BLU",
                        "sku_id": 336,
                        "price": {},
                        "calculated_price": 249,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 177,
                            "label": "Small",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 182,
                            "label": "Blue",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 371,
                        "product_id": 184,
                        "sku": "MED-BLU",
                        "sku_id": 337,
                        "price": {},
                        "calculated_price": 249,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 178,
                            "label": "Medium",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 182,
                            "label": "Blue",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      },
                      {
                        "id": 372,
                        "product_id": 184,
                        "sku": "LAR-BLU",
                        "sku_id": 338,
                        "price": {},
                        "calculated_price": 253.99,
                        "sale_price": {},
                        "retail_price": {},
                        "map_price": {},
                        "weight": {},
                        "calculated_weight": 15,
                        "width": {},
                        "height": {},
                        "depth": {},
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": {},
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": [
                          {
                            "id": 179,
                            "label": "Large",
                            "option_id": 199,
                            "option_display_name": "Size"
                          },
                          {
                            "id": 182,
                            "label": "Blue",
                            "option_id": 200,
                            "option_display_name": "Color"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "id": 173,
                    "name": "Ceramic Measuring Spoon Set",
                    "type": "physical",
                    "sku": "",
                    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</p>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 18,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 18,
                    "categories": [
                      23,
                      21
                    ],
                    "brand_id": 36,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:45+00:00",
                    "date_modified": "2018-08-20T15:14:23+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/ceramic-measuring-spoon-set/",
                      "is_customized": true
                    },
                    "base_variant_id": 344,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 344,
                        "product_id": 173,
                        "sku": "",
                        "sku_id": {},
                        "price": 18,
                        "calculated_price": 18,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/173/images/424/measuringspoons1_1024x1024__22102__55079.1534344525.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 170,
                    "name": "Ceramic Measuring Spoons",
                    "type": "physical",
                    "sku": "",
                    "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 25,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 25,
                    "categories": [
                      23,
                      21
                    ],
                    "brand_id": 36,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 0,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:42+00:00",
                    "date_modified": "2018-08-15T15:01:15+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/ceramic-measuring-spoons/",
                      "is_customized": true
                    },
                    "base_variant_id": 341,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 341,
                        "product_id": 170,
                        "sku": "",
                        "sku_id": {},
                        "price": 25,
                        "calculated_price": 25,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/170/images/411/measuringsquares2_1024x1024__07108__95421.1534344522.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  },
                  {
                    "id": 176,
                    "name": "Ceramic Sugar & Creamer Set",
                    "type": "physical",
                    "sku": "",
                    "description": "<div data-position=\"description\"> <div class=\"description\"> <div class=\"rte-content\"> <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p> </div> </div> </div>",
                    "weight": 1,
                    "width": 0,
                    "depth": 0,
                    "height": 0,
                    "price": 59,
                    "cost_price": 0,
                    "retail_price": 0,
                    "sale_price": 0,
                    "map_price": 0,
                    "tax_class_id": 0,
                    "product_tax_code": "",
                    "calculated_price": 59,
                    "categories": [
                      23,
                      21
                    ],
                    "brand_id": 36,
                    "option_set_id": {},
                    "option_set_display": "right",
                    "inventory_level": 0,
                    "inventory_warning_level": 0,
                    "inventory_tracking": "none",
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1,
                    "fixed_cost_shipping_price": 0,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": false,
                    "related_products": [
                      -1
                    ],
                    "warranty": "",
                    "bin_picking_number": "",
                    "layout_file": "product.html",
                    "upc": "",
                    "mpn": "",
                    "gtin": "",
                    "search_keywords": "",
                    "availability": "available",
                    "availability_description": "",
                    "gift_wrapping_options_type": "any",
                    "gift_wrapping_options_list": [],
                    "sort_order": 0,
                    "condition": "New",
                    "is_condition_shown": false,
                    "order_quantity_minimum": 0,
                    "order_quantity_maximum": 0,
                    "page_title": "",
                    "meta_keywords": [],
                    "meta_description": "",
                    "date_created": "2018-08-15T14:48:48+00:00",
                    "date_modified": "2018-08-31T15:19:27+00:00",
                    "view_count": 0,
                    "preorder_release_date": {},
                    "preorder_message": "",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "price_hidden_label": "",
                    "custom_url": {
                      "url": "/all/ceramic-sugar-creamer-set/",
                      "is_customized": true
                    },
                    "base_variant_id": 347,
                    "open_graph_type": "product",
                    "open_graph_title": "",
                    "open_graph_description": "",
                    "open_graph_use_meta_description": true,
                    "open_graph_use_product_name": true,
                    "open_graph_use_image": true,
                    "variants": [
                      {
                        "id": 347,
                        "product_id": 176,
                        "sku": "",
                        "sku_id": {},
                        "price": 59,
                        "calculated_price": 59,
                        "sale_price": 0,
                        "retail_price": 0,
                        "map_price": 0,
                        "weight": 1,
                        "width": 0,
                        "height": 0,
                        "depth": 0,
                        "is_free_shipping": false,
                        "fixed_cost_shipping_price": 0,
                        "calculated_weight": 1,
                        "purchasing_disabled": false,
                        "purchasing_disabled_message": "",
                        "image_url": "https://cdn8.bigcommerce.com/s-jrah6gmn/products/176/images/432/milkandcreamer1_1024x1024__69117__81345.1534344528.560.850.jpg?c=2",
                        "cost_price": 0,
                        "upc": "",
                        "mpn": "",
                        "gtin": "",
                        "inventory_level": 0,
                        "inventory_warning_level": 0,
                        "bin_picking_number": "",
                        "option_values": []
                      }
                    ]
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 39,
                    "count": 10,
                    "per_page": 10,
                    "current_page": 1,
                    "total_pages": 4,
                    "links": {
                      "next": "?sort=name&include=variants&limit=10&page=2",
                      "current": "?sort=name&include=variants&limit=10&page=1"
                    },
                    "too_many": false
                  }
                }
              }
            }
          }
        },
        "summary": "Get All Products",
        "tags": [
          "Products",
          "Catalog"
        ]
      },
      "post": {
        "description": "Creates a *Product*. Only one product can be created at a time.\n\n**Required Fields:**\n- `name`\n- `type`\n- `weight`\n- `categories`\n- `price`\n\n**Read-Only Fields**\n- `id`\n- `date_created`\n- `date_modified`\n- `calculated_price`\n- `base_variant_id`\n\n**Usage Notes**\n* `POST` requests to `/products` accepts a single `video` object; to send an array of video objects, see: `/products/{product_id}/videos`",
        "operationId": "createProduct",
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductPost"
            },
            "x-examples": {
              "Simple Product": "{\n  \"name\": \"BigCommerce Coffee Mug\",\n  \"price\": \"10.00\",\n  \"categories\": [\n    23,\n    21\n  ],\n  \"weight\": 4,\n  \"type\": \"physical\"\n}",
              "Creating a Product with Variants": "{\n    \"name\": \"BigCommerce Coffee Mug\",\n    \"price\": \"10.00\",\n    \"categories\":[\n            23,21\n        ],\n        \n    \"weight\": 4,\n    \"type\": \"physical\",\n    \"variants\":[\n        {\n            \"sku\": \"SKU-BLU\",\n            \"option_values\":[\n                    {\n                        \"option_display_name\": \"Mug Color\",\n                        \"label\": \"Blue\"\n                    }\n                ]\n        },\n        {\n            \"sku\": \"SKU-GRAY\",\n            \"option_values\":[\n                    {\n                        \"option_display_name\": \"Mug Color\",\n                        \"label\": \"Gray\"\n                    }\n                ]\n        }\n    ]\n}",
              "Create Product with Image": "{\n  \"name\": \"Create product with imageT\",\n  \"price\": \"10.00\",\n  \"categories\": [\n    23\n  ],\n  \"weight\": 4,\n  \"type\": \"physical\",\n  \"images\":[\n  \t{\n\t\"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg\"\n  \t}\n  \t]\n}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json",
            "required": true
          },
          {
            "$ref": "#/parameters/FilterIncludeFieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "title": "Product Response",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProductPost"
                },
                "meta": {
                  "type": "object",
                  "description": "Empty meta object; may be used later.",
                  "title": "Meta"
                }
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 174,
                  "name": "1L Le Parfait Jar",
                  "type": "physical",
                  "sku": "",
                  "description": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>",
                  "weight": 1,
                  "width": 0,
                  "depth": 0,
                  "height": 0,
                  "price": 7.95,
                  "cost_price": 0,
                  "retail_price": 10,
                  "sale_price": 0,
                  "map_price": 0,
                  "tax_class_id": 0,
                  "product_tax_code": "",
                  "calculated_price": 7.95,
                  "categories": [
                    23,
                    21
                  ],
                  "brand_id": 36,
                  "option_set_id": {},
                  "option_set_display": "right",
                  "inventory_level": 0,
                  "inventory_warning_level": 0,
                  "inventory_tracking": "none",
                  "reviews_rating_sum": 0,
                  "reviews_count": 0,
                  "total_sold": 7,
                  "fixed_cost_shipping_price": 0,
                  "is_free_shipping": false,
                  "is_visible": true,
                  "is_featured": false,
                  "related_products": [
                    -1
                  ],
                  "warranty": "",
                  "bin_picking_number": "",
                  "layout_file": "product.html",
                  "upc": "",
                  "mpn": "",
                  "gtin": "",
                  "search_keywords": "jar, glass",
                  "availability": "available",
                  "availability_description": "",
                  "gift_wrapping_options_type": "any",
                  "gift_wrapping_options_list": [],
                  "sort_order": 0,
                  "condition": "New",
                  "is_condition_shown": false,
                  "order_quantity_minimum": 0,
                  "order_quantity_maximum": 0,
                  "page_title": "",
                  "meta_keywords": [],
                  "meta_description": "",
                  "date_created": "2018-08-15T14:48:46+00:00",
                  "date_modified": "2018-09-05T20:42:07+00:00",
                  "view_count": 10,
                  "preorder_release_date": {},
                  "preorder_message": "",
                  "is_preorder_only": false,
                  "is_price_hidden": false,
                  "price_hidden_label": "",
                  "custom_url": {
                    "url": "/all/1l-le-parfait-jar/",
                    "is_customized": true
                  },
                  "base_variant_id": 345,
                  "open_graph_type": "product",
                  "open_graph_title": "",
                  "open_graph_description": "",
                  "open_graph_use_meta_description": true,
                  "open_graph_use_product_name": true,
                  "open_graph_use_image": true
                },
                "meta": {}
              }
            }
          },
          "409": {
            "description": "`Product` was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "title": "Detailed Errors",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          },
          "422": {
            "description": "`Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "Error payload for the BigCommerce API.\n",
                  "properties": {
                    "status": {
                      "description": "The HTTP status code.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "The error title describing the particular error.\n",
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    }
                  },
                  "title": "Base Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "title": "Detailed Errors",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ],
              "title": "Error Response"
            }
          }
        },
        "summary": "Create a Product",
        "tags": [
          "Products",
          "Catalog"
        ]
      },
      "delete": {
        "description": "By default, it deletes all *Product* objects. A filter should be added to avoid deleting all *Product* objects in a store.\n\n**Example**:\nTo delete products with the id's of 1,2 and 3, use `DELETE /v3/catalog/products?id:in=1,2,3`.",
        "operationId": "deleteProducts",
        "parameters": [
          {
            "name": "name",
            "description": "Filter items by name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "sku",
            "description": "Filter items by sku.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "price",
            "description": "Filter items by price.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "weight",
            "description": "Filter items by weight.\n",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "condition",
            "description": "Filter items by condition.\n",
            "required": false,
            "in": "query",
            "type": "integer",
            "enum": [
              "new",
              "used",
              "refurbished"
            ]
          },
          {
            "name": "brand_id",
            "description": "Filter items by brand_id.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "date_modified",
            "description": "Filter items by date_modified. For example `v3/catalog/products?date_modified:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_last_imported",
            "description": "Filter items by date_last_imported. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "is_visible",
            "description": "Filter items by if visible on the storefront. ",
            "required": false,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "is_featured",
            "description": "Filter items by is_featured.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "inventory_level",
            "description": "Filter items by inventory_level.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "total_sold",
            "description": "Filter items by total_sold.\n",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "type",
            "description": "Filter items by type: `physical` or `digital`.",
            "required": false,
            "in": "query",
            "type": "string",
            "enum": [
              "digital",
              "physical"
            ]
          },
          {
            "name": "categories",
            "description": "Filter items by categories.\n If a product is in more than one category, using this query will not return the product. Instead use `categories:in=12`.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "keyword",
            "description": "Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "in": "header",
            "type": "string",
            "name": "Accept",
            "default": "application/json",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "summary": "Delete Products",
        "tags": [
          "Products",
          "Catalog"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Common Product properties.",
                    "title": "Product",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The product name.\n",
                        "x-required": [
                          "post"
                        ],
                        "minLength": 1,
                        "maxLength": 255,
                        "example": "Smith Journal 13"
                      },
                      "type": {
                        "type": "string",
                        "description": "The product type. One of: `physical` - a physical stock unit, `digital` - a digital download.\n",
                        "x-required": [
                          "post"
                        ],
                        "enum": [
                          "physical",
                          "digital"
                        ],
                        "example": "physical"
                      },
                      "sku": {
                        "type": "string",
                        "description": "User defined product code/stock keeping unit (SKU).\n",
                        "minLength": 0,
                        "maxLength": 255,
                        "example": "SM-13"
                      },
                      "description": {
                        "type": "string",
                        "description": "The product description, which can include HTML formatting.\n",
                        "example": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis eget.</span></p>"
                      },
                      "weight": {
                        "type": "number",
                        "description": "Weight of the product, which can be used when calculating shipping costs. This is based on the unit set on the store\n",
                        "format": "float",
                        "minimum": 0,
                        "maximum": 9999999999
                      },
                      "width": {
                        "type": "number",
                        "description": "Width of the product, which can be used when calculating shipping costs.\n",
                        "format": "float",
                        "minimum": 0,
                        "maximum": 9999999999
                      },
                      "depth": {
                        "type": "number",
                        "description": "Depth of the product, which can be used when calculating shipping costs.\n",
                        "format": "float",
                        "minimum": 0,
                        "maximum": 9999999999
                      },
                      "height": {
                        "type": "number",
                        "description": "Height of the product, which can be used when calculating shipping costs.\n",
                        "format": "float",
                        "minimum": 0,
                        "maximum": 9999999999
                      },
                      "price": {
                        "type": "number",
                        "description": "The price of the product. The price should include or exclude tax, based on the store settings.\n",
                        "format": "float",
                        "minimum": 0
                      },
                      "cost_price": {
                        "type": "number",
                        "description": "The cost price of the product. Stored for reference only; it is not used or displayed anywhere on the store.\n",
                        "format": "float",
                        "minimum": 0
                      },
                      "retail_price": {
                        "type": "number",
                        "description": "The retail cost of the product. If entered, the retail cost price will be shown on the product page.\n",
                        "format": "float",
                        "minimum": 0
                      },
                      "sale_price": {
                        "type": "number",
                        "description": "If entered, the sale price will be used instead of value in the price field when calculating the product's cost.\n",
                        "format": "float",
                        "minimum": 0
                      },
                      "tax_class_id": {
                        "type": "integer",
[...]
