name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Trigger Vercel Deploy Hook
      run: |
        curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK_URL }}
